In [1]:
import tabula
import numpy as np
import pandas as pd
import os
import re
import math

In [2]:
relative_path_pdf = "../HTML/Output_html_Chapter12/kaggle/working/out/pages/"
relative_dictionary_path = "../Data/Chapter12_Data.csv"
relative_result_path = "../HTML/Output_html_Chapter12/Chapter12_Data.csv"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = os.path.join(os.getcwd(), relative_path_pdf)
absolute_dictionary_path = os.path.join(os.getcwd(), relative_dictionary_path)
absolute_result_path = os.path.join(os.getcwd(), relative_result_path)

In [3]:
os.listdir(absolute_path_pdf)

['page_9.pdf',
 'page_1.pdf',
 'page_2.pdf',
 'page_3.pdf',
 'page_10.pdf',
 'page_7.pdf',
 'page_11.pdf',
 'page_14.pdf',
 'page_5.pdf',
 'page_13.pdf',
 'page_12.pdf',
 'page_6.pdf',
 'page_19.pdf',
 'page_15.pdf',
 'page_4.pdf',
 'page_17.pdf',
 'page_20.pdf',
 'page_16.pdf',
 'page_8.pdf',
 'page_18.pdf']

In [4]:
output_list = []

In [5]:
# Get a list of PDF files sorted by filename
pdf_files = sorted([file for file in os.listdir(absolute_path_pdf) if file.endswith(".pdf")], key=lambda x: [int(s) if s.isdigit() else s.lower() for s in re.split('(\d+)', x)])

# Iterate through all PDF files
for file in pdf_files:
    file_path = os.path.join(absolute_path_pdf, file)
    dfs = tabula.read_pdf(file_path, pages='all', stream=True)
    if dfs:
        output_list.append(dfs[0])  # Assuming you want to append the first DataFrame from each PDF

In [6]:
len(output_list)

20

In [7]:
output_list[0]

,Unnamed: 0,Unnamed: 1,12. ಸಾಜ ಕಾಣ / Social Welfare,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,12.1,ಪರಷ ಾ ಾ,ಲಯಗಳ : 31-3-2020,ರದಂೆ (ಸಂೆಗಳ ),NaN
1,NaN,Scheduled Castes Students Hostels as on 31-3-2...,NaN,NaN,NaN,NaN
2,NaN,NaN,ಸಾ  ಪವ / Government Pre-Matric,NaN,NaN,NaN
3,ಕ.,NaN,NaN,NaN,NaN,NaN
4,NaN,ೆಗಳ ಾಲಕರ ಾ ಲಯಗಳ,NaN,ಾಲಯರ ಾ ಲಯಗಳ,ಒಟು ಾ ಲಯಗಳ,NaN
5,ಸಂ,NaN,Boys Hostels,Girls Hostels,Total Hostels,NaN
6,NaN,NaN,ಸಂೆ ಾಗಳ,ಸಂೆ ಾಗಳ,ಸಂೆ ಾಗಳ,NaN
7,NaN,NaN,Nos Students,Nos Students,Nos Students,NaN
8,1,2,1224 1225,1226 1227,1228,1229.0
9,1,ೆಳಾ,51 3510,15 1217,66,4727.0
10,2,ಾಗಲೋೆ,31 2433,9 803,40,3236.0
11,3,ಜಯಪರ,47 4590,10 1261,57,5851.0
12,4,ಕಲು,62 4405,10 760,72,5165.0
13,5,ೕದ,34 2289,9 740,43,3029.0
14,6,ಾಯಚೂರು,35 3858,11 1206,46,5064.0
15,7,ೊಪಳ,26 2913,7 1147,33,4060.0
16,8,ಗದ,21 1312,5 468,26,1780.0
17,9,ಾರಾಡ,9 600,5 350,14,950.0
18,10,ಉತರ ಕನಡ,17 784,9 457,26,1241.0
19,11,ಾೇ,29 1996,8 836,37,2832.0
20,12,ಬಾ,46 5321,15 2400,61,7721.0
21,13,ತದುಗ,37 2759,15 1356,52,4115.0
22,14,ಾವಣೆೆ,29 1848,9 818,38,2666.0
23,15,ವಗ,35 2389,14 1040,49,3429.0
24,16,ಉಡು,9 330,6 218,15,548.0
25,17,ಕಮಗಳರು,26 1458,12 856,38,2314.0
26,18,ತುಮಕೂರು,49 2942,13 799,62,3741.0
27,19,ೋಾರ,39 2355,14 926,53,3281.0
28,20,ೆ೦ಗಳರು(ನ),20 848,8 309,28,1157.0
29,21,ೆ೦ಗಳರು(ಾ),18 1378,5 349,23,1727.0
30,22,ಮಂಡ,33 2302,13 1180,46,3482.0
31,23,ಾಸನ,42 2387,17 1273,59,3660.0
32,24,ದಣ ಕನಡ,11 507,8 440,19,947.0
33,25,ೊಡಗು,10 327,7 261,17,588.0
34,26,ೖಸೂರು,36 1941,11 659,47,2600.0
35,27,ಾಮಾಜನಗರ,29 1491,11 549,40,2040.0
36,28,ಕಬಾಪರ,39 3535,10 889,49,4424.0
37,29,ಾಮನಗರ,28 1143,9 313,37,1456.0
38,30,ಾದ,32 2040,6 335,38,2375.0
39,NaN,ಾಜ,930 65991,301 24215,1231,90206.0

In [8]:
#adding header
#new_row = [1, 2,  np.nan,967,968,969,970,971,972,973,974,975,976]
#index = 0
#output_list[3].loc[index + 1:] = output_list[3].loc[index:].shift(1)
#output_list[3].loc[index] = new_row
#output_list[3]

def add_header(df_list,idx_list, new_list):
    index = 0
    for i in range(len(idx_list)):
        df_list[idx_list[i]].loc[index + 1:] = df_list[idx_list[i]].loc[index:].shift(1)
        df_list[idx_list[i]].loc[index] = new_list[i]
    return df_list

In [9]:
def find_last_index(df_col):
    pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
    for idx in range(len(df_col)):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
                    if numbers_1 and numbers_1[0] == 30:
                        return idx+1
   
    return (len(df_col) - 1)

In [10]:
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        df_col = df_col.astype(str)

        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        flag = 0
        for idx in range(len(df_col) - 1):
            #print(idx, df_col.iloc[idx])
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = re.findall(pattern, df_col.iloc[idx+1])
                    numbers_2 = [int(num) if '.' not in num else float(num) for num in numbers_2]
                    #print(numbers_2)
            if numbers_1 and numbers_2 and numbers_1[0] == 1 and numbers_2[0] == 1:
                start_index = idx
                end_index = find_last_index(df_col)
                index_list.append([start_index, end_index])
                flag=1
                i += 1
                break

        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index

In [11]:
index_list, drop_list = find_header(output_list)

In [12]:
drop_list

[]

In [13]:
index_list

[[8, 39],
 [7, 38],
 [7, 38],
 [7, 38],
 [7, 38],
 [6, 37],
 [7, 38],
 [9, 40],
 [6, 37],
 [8, 39],
 [7, 38],
 [7, 38],
 [9, 40],
 [7, 38],
 [6, 37],
 [7, 38],
 [6, 37],
 [6, 37],
 [6, 37],
 [5, 36]]

In [14]:
len(index_list)

20

In [15]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        return new_df_list
    return df_list

In [16]:
def get_final_index(df_list, index_ll, drop_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list = find_header(df)
        drop_index = drop_list
    return df, index_ll, drop_index

In [17]:
new_output_list, new_index_list, new_drop_list = get_final_index(output_list, index_list, drop_list)

In [18]:
new_index_list

[[8, 39],
 [7, 38],
 [7, 38],
 [7, 38],
 [7, 38],
 [6, 37],
 [7, 38],
 [9, 40],
 [6, 37],
 [8, 39],
 [7, 38],
 [7, 38],
 [9, 40],
 [7, 38],
 [6, 37],
 [7, 38],
 [6, 37],
 [6, 37],
 [6, 37],
 [5, 36]]

In [19]:
new_output_list[1]

   Unnamed: 0 12.1 ಪರಷ ಾ ಾ ಲಯಗಳ : 31-3-2020 ರದಂೆ (ಸಂೆಗಳ )
0         NaN  Scheduled Castes Students Hostels  as on 31-3-...
1         NaN           ಸಾ  ನಂತರ / Government Post-Matric
2         NaN  ಾಲಕರ ಾ ಲಯಗಳ ಾಲಯರ ಾ ಲಯಗಳ ಒಟು ...
3         Sl.                                          Districts
4          No           Boys Hostels Girls Hostels Total Hostels
5         NaN    ಸಂೆ ಾಗಳ ಸಂೆ ಾಗಳ ಸಂೆ ಾಗಳ
6         NaN             Nos Students Nos Students Nos Students
7           1                    2 1230 1231 1232 1233 1234 1235
8           1                     Belagavi 19 1747 9 675 28 2422
9           2                      Bagalkot 9 1343 6 618 15 1961
10          3                    Vijayapura 9 2634 6 885 15 3519
11          4                   Kalburgi 20 3201 12 1448 32 4649
12          5                        Bidar 11 1223 7 594 18 1817
13          6                    Raichur 16 2780 11 1544 27 4324
14          7                        Koppal 8 1351 6 847 14 2198
15          8                        Gadag 10 1253 5 811 15 2064
16          9                      Dharwad 11 1343 5 550 16 1893
17         10                   Uttara Kannada 4 235 2 185 6 420
18         11                       Haveri 13 1287 8 701 21 1988
19         12                    Ballari 28 4960 13 2033 41 6993
20         13                Chitradurga 21 2998 14 2406 35 5404
21         14                 Davanagere 16 2065 10 1558 26 3623
22         15                 Shivamogga 13 1848 13 1695 26 3543
23         16                            Udupi 3 204 4 210 7 414
24         17              Chikkamagaluru 13 1065 7 1033 20 2098
25         18                   Tumakuru 21 3085 15 1887 36 4972
26         19                       Kolara 17 1298 7 404 24 1702
27         20               Bengaluru(U) 16 2430 11 1239 27 3669
28         21                     Bengaluru(R) 5 543 4 367 9 910
29         22                       Mandya 11 990 10 945 21 1935
30         23                     Hassan 14 1898 15 2292 29 4190
31         24                Dakshina Kannada 5 434 5 477 10 911
32         25                            Kodagu 2 61 2 126 4 187
33         26                     Mysuru 15 1518 15 2291 30 3809
34         27               Chamarajanagara 10 407 10 434 20 841
35         28             Chikkaballapura 14 2569 9 1133 23 3702
36         29                      Ramanagara 7 318 6 215 13 533
37         30                       Yadgir 10 1050 4 150 14 1200
38        NaN          State Total 371 48138 251 29753 622 77891

In [20]:
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(ind_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(ind_list[idx][0], ind_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [21]:
corrected_list = remove_header(new_output_list, new_index_list)

In [22]:
corrected_list[0]

,Unnamed: 0,Unnamed: 1,12. ಸಾಜ ಕಾಣ / Social Welfare,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,2,1224 1225,1226 1227,1228,1229.0
1,1,ೆಳಾ,51 3510,15 1217,66,4727.0
2,2,ಾಗಲೋೆ,31 2433,9 803,40,3236.0
3,3,ಜಯಪರ,47 4590,10 1261,57,5851.0
4,4,ಕಲು,62 4405,10 760,72,5165.0
5,5,ೕದ,34 2289,9 740,43,3029.0
6,6,ಾಯಚೂರು,35 3858,11 1206,46,5064.0
7,7,ೊಪಳ,26 2913,7 1147,33,4060.0
8,8,ಗದ,21 1312,5 468,26,1780.0
9,9,ಾರಾಡ,9 600,5 350,14,950.0
10,10,ಉತರ ಕನಡ,17 784,9 457,26,1241.0
11,11,ಾೇ,29 1996,8 836,37,2832.0
12,12,ಬಾ,46 5321,15 2400,61,7721.0
13,13,ತದುಗ,37 2759,15 1356,52,4115.0
14,14,ಾವಣೆೆ,29 1848,9 818,38,2666.0
15,15,ವಗ,35 2389,14 1040,49,3429.0
16,16,ಉಡು,9 330,6 218,15,548.0
17,17,ಕಮಗಳರು,26 1458,12 856,38,2314.0
18,18,ತುಮಕೂರು,49 2942,13 799,62,3741.0
19,19,ೋಾರ,39 2355,14 926,53,3281.0
20,20,ೆ೦ಗಳರು(ನ),20 848,8 309,28,1157.0
21,21,ೆ೦ಗಳರು(ಾ),18 1378,5 349,23,1727.0
22,22,ಮಂಡ,33 2302,13 1180,46,3482.0
23,23,ಾಸನ,42 2387,17 1273,59,3660.0
24,24,ದಣ ಕನಡ,11 507,8 440,19,947.0
25,25,ೊಡಗು,10 327,7 261,17,588.0
26,26,ೖಸೂರು,36 1941,11 659,47,2600.0
27,27,ಾಮಾಜನಗರ,29 1491,11 549,40,2040.0
28,28,ಕಬಾಪರ,39 3535,10 889,49,4424.0
29,29,ಾಮನಗರ,28 1143,9 313,37,1456.0
30,30,ಾದ,32 2040,6 335,38,2375.0

In [23]:
len(corrected_list)

20

In [24]:
def check_nan(df_col):
    nan_columns = df_col[df_col.isna()].index.tolist()
    if len(nan_columns) == len(df_col):
        return []
    return nan_columns

In [25]:
def set_header_row(df_list_all):
    df_list = df_list_all
    new_df_list = []
    for df in df_list:
        header_row = df.iloc[0].tolist()
        for idx in range(len(header_row)):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx+1
                while j<len(header_row) and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j+=1
                if j<len(header_row) and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[0]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[1:])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        new_df_list.append(df)
    return new_df_list

In [26]:
corrected_header = set_header_row(corrected_list)

In [27]:
len(corrected_header)

20

In [28]:
corrected_header[0]

,Unnamed: 0,Unnamed: 1,12. ಸಾಜ ಕಾಣ / Social Welfare,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,2,1224 1225,1226 1227,1228,1229.0
1,1,ೆಳಾ,51 3510,15 1217,66,4727.0
2,2,ಾಗಲೋೆ,31 2433,9 803,40,3236.0
3,3,ಜಯಪರ,47 4590,10 1261,57,5851.0
4,4,ಕಲು,62 4405,10 760,72,5165.0
5,5,ೕದ,34 2289,9 740,43,3029.0
6,6,ಾಯಚೂರು,35 3858,11 1206,46,5064.0
7,7,ೊಪಳ,26 2913,7 1147,33,4060.0
8,8,ಗದ,21 1312,5 468,26,1780.0
9,9,ಾರಾಡ,9 600,5 350,14,950.0
10,10,ಉತರ ಕನಡ,17 784,9 457,26,1241.0
11,11,ಾೇ,29 1996,8 836,37,2832.0
12,12,ಬಾ,46 5321,15 2400,61,7721.0
13,13,ತದುಗ,37 2759,15 1356,52,4115.0
14,14,ಾವಣೆೆ,29 1848,9 818,38,2666.0
15,15,ವಗ,35 2389,14 1040,49,3429.0
16,16,ಉಡು,9 330,6 218,15,548.0
17,17,ಕಮಗಳರು,26 1458,12 856,38,2314.0
18,18,ತುಮಕೂರು,49 2942,13 799,62,3741.0
19,19,ೋಾರ,39 2355,14 926,53,3281.0
20,20,ೆ೦ಗಳರು(ನ),20 848,8 309,28,1157.0
21,21,ೆ೦ಗಳರು(ಾ),18 1378,5 349,23,1727.0
22,22,ಮಂಡ,33 2302,13 1180,46,3482.0
23,23,ಾಸನ,42 2387,17 1273,59,3660.0
24,24,ದಣ ಕನಡ,11 507,8 440,19,947.0
25,25,ೊಡಗು,10 327,7 261,17,588.0
26,26,ೖಸೂರು,36 1941,11 659,47,2600.0
27,27,ಾಮಾಜನಗರ,29 1491,11 549,40,2040.0
28,28,ಕಬಾಪರ,39 3535,10 889,49,4424.0
29,29,ಾಮನಗರ,28 1143,9 313,37,1456.0
30,30,ಾದ,32 2040,6 335,38,2375.0

In [29]:
def set_index_col(df_list):
    new_df_list = []
    for df in df_list:
        nan_col = check_nan(df.iloc[:,0])
        if len(df.index) > 31 and len(nan_col)>1:
            for idx in range(len(nan_col)-1):
                if nan_col[idx]+2 == nan_col[idx+1] and nan_col[idx]+1 not in nan_col:
                    for i in range(df.shape[1]):
                        p = nan_col[idx]
                        q = nan_col[idx]+1
                        r = nan_col[idx+1]
                        if i>0 and not (isinstance(df.iloc[p,i], float) and math.isnan(df.iloc[p,i])) and  not (isinstance(df.iloc[r,i], float) and math.isnan(df.iloc[r,i])):
                            if (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i]])
                            elif not (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i], df.iloc[q,i]])
                    idx+=1
            df = df.drop(nan_col)
        df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [30]:
corrected_index = set_index_col(corrected_header)

In [31]:
len(corrected_index)

20

In [32]:
corrected_index[0]

,Unnamed: 0,Unnamed: 1,12. ಸಾಜ ಕಾಣ / Social Welfare,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,2,1224 1225,1226 1227,1228,1229.0
1,1,ೆಳಾ,51 3510,15 1217,66,4727.0
2,2,ಾಗಲೋೆ,31 2433,9 803,40,3236.0
3,3,ಜಯಪರ,47 4590,10 1261,57,5851.0
4,4,ಕಲು,62 4405,10 760,72,5165.0
5,5,ೕದ,34 2289,9 740,43,3029.0
6,6,ಾಯಚೂರು,35 3858,11 1206,46,5064.0
7,7,ೊಪಳ,26 2913,7 1147,33,4060.0
8,8,ಗದ,21 1312,5 468,26,1780.0
9,9,ಾರಾಡ,9 600,5 350,14,950.0
10,10,ಉತರ ಕನಡ,17 784,9 457,26,1241.0
11,11,ಾೇ,29 1996,8 836,37,2832.0
12,12,ಬಾ,46 5321,15 2400,61,7721.0
13,13,ತದುಗ,37 2759,15 1356,52,4115.0
14,14,ಾವಣೆೆ,29 1848,9 818,38,2666.0
15,15,ವಗ,35 2389,14 1040,49,3429.0
16,16,ಉಡು,9 330,6 218,15,548.0
17,17,ಕಮಗಳರು,26 1458,12 856,38,2314.0
18,18,ತುಮಕೂರು,49 2942,13 799,62,3741.0
19,19,ೋಾರ,39 2355,14 926,53,3281.0
20,20,ೆ೦ಗಳರು(ನ),20 848,8 309,28,1157.0
21,21,ೆ೦ಗಳರು(ಾ),18 1378,5 349,23,1727.0
22,22,ಮಂಡ,33 2302,13 1180,46,3482.0
23,23,ಾಸನ,42 2387,17 1273,59,3660.0
24,24,ದಣ ಕನಡ,11 507,8 440,19,947.0
25,25,ೊಡಗು,10 327,7 261,17,588.0
26,26,ೖಸೂರು,36 1941,11 659,47,2600.0
27,27,ಾಮಾಜನಗರ,29 1491,11 549,40,2040.0
28,28,ಕಬಾಪರ,39 3535,10 889,49,4424.0
29,29,ಾಮನಗರ,28 1143,9 313,37,1456.0
30,30,ಾದ,32 2040,6 335,38,2375.0

In [33]:
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = re.findall(pattern, df_col.iloc[0])
                numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                #numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)

                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)
        elif df_col.dtype == float:
            df.iloc[:,0] = df.iloc[:,0].astype(int).astype(str)
            new_df.append(df)
    return new_df

In [34]:
new_list = first_column_split(corrected_index)

In [35]:
len(new_list)

20

In [36]:
new_list[0]

,Unnamed: 0,Unnamed: 1,12. ಸಾಜ ಕಾಣ / Social Welfare,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,2,1224 1225,1226 1227,1228,1229.0
1,1,ೆಳಾ,51 3510,15 1217,66,4727.0
2,2,ಾಗಲೋೆ,31 2433,9 803,40,3236.0
3,3,ಜಯಪರ,47 4590,10 1261,57,5851.0
4,4,ಕಲು,62 4405,10 760,72,5165.0
5,5,ೕದ,34 2289,9 740,43,3029.0
6,6,ಾಯಚೂರು,35 3858,11 1206,46,5064.0
7,7,ೊಪಳ,26 2913,7 1147,33,4060.0
8,8,ಗದ,21 1312,5 468,26,1780.0
9,9,ಾರಾಡ,9 600,5 350,14,950.0
10,10,ಉತರ ಕನಡ,17 784,9 457,26,1241.0
11,11,ಾೇ,29 1996,8 836,37,2832.0
12,12,ಬಾ,46 5321,15 2400,61,7721.0
13,13,ತದುಗ,37 2759,15 1356,52,4115.0
14,14,ಾವಣೆೆ,29 1848,9 818,38,2666.0
15,15,ವಗ,35 2389,14 1040,49,3429.0
16,16,ಉಡು,9 330,6 218,15,548.0
17,17,ಕಮಗಳರು,26 1458,12 856,38,2314.0
18,18,ತುಮಕೂರು,49 2942,13 799,62,3741.0
19,19,ೋಾರ,39 2355,14 926,53,3281.0
20,20,ೆ೦ಗಳರು(ನ),20 848,8 309,28,1157.0
21,21,ೆ೦ಗಳರು(ಾ),18 1378,5 349,23,1727.0
22,22,ಮಂಡ,33 2302,13 1180,46,3482.0
23,23,ಾಸನ,42 2387,17 1273,59,3660.0
24,24,ದಣ ಕನಡ,11 507,8 440,19,947.0
25,25,ೊಡಗು,10 327,7 261,17,588.0
26,26,ೖಸೂರು,36 1941,11 659,47,2600.0
27,27,ಾಮಾಜನಗರ,29 1491,11 549,40,2040.0
28,28,ಕಬಾಪರ,39 3535,10 889,49,4424.0
29,29,ಾಮನಗರ,28 1143,9 313,37,1456.0
30,30,ಾದ,32 2040,6 335,38,2375.0

In [37]:
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [38]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [39]:
#replaced_list = replace_with_nan(new_list)
replaced_list = new_list

In [40]:
replaced_list[0]

,Unnamed: 0,Unnamed: 1,12. ಸಾಜ ಕಾಣ / Social Welfare,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,2,1224 1225,1226 1227,1228,1229.0
1,1,ೆಳಾ,51 3510,15 1217,66,4727.0
2,2,ಾಗಲೋೆ,31 2433,9 803,40,3236.0
3,3,ಜಯಪರ,47 4590,10 1261,57,5851.0
4,4,ಕಲು,62 4405,10 760,72,5165.0
5,5,ೕದ,34 2289,9 740,43,3029.0
6,6,ಾಯಚೂರು,35 3858,11 1206,46,5064.0
7,7,ೊಪಳ,26 2913,7 1147,33,4060.0
8,8,ಗದ,21 1312,5 468,26,1780.0
9,9,ಾರಾಡ,9 600,5 350,14,950.0
10,10,ಉತರ ಕನಡ,17 784,9 457,26,1241.0
11,11,ಾೇ,29 1996,8 836,37,2832.0
12,12,ಬಾ,46 5321,15 2400,61,7721.0
13,13,ತದುಗ,37 2759,15 1356,52,4115.0
14,14,ಾವಣೆೆ,29 1848,9 818,38,2666.0
15,15,ವಗ,35 2389,14 1040,49,3429.0
16,16,ಉಡು,9 330,6 218,15,548.0
17,17,ಕಮಗಳರು,26 1458,12 856,38,2314.0
18,18,ತುಮಕೂರು,49 2942,13 799,62,3741.0
19,19,ೋಾರ,39 2355,14 926,53,3281.0
20,20,ೆ೦ಗಳರು(ನ),20 848,8 309,28,1157.0
21,21,ೆ೦ಗಳರು(ಾ),18 1378,5 349,23,1727.0
22,22,ಮಂಡ,33 2302,13 1180,46,3482.0
23,23,ಾಸನ,42 2387,17 1273,59,3660.0
24,24,ದಣ ಕನಡ,11 507,8 440,19,947.0
25,25,ೊಡಗು,10 327,7 261,17,588.0
26,26,ೖಸೂರು,36 1941,11 659,47,2600.0
27,27,ಾಮಾಜನಗರ,29 1491,11 549,40,2040.0
28,28,ಕಬಾಪರ,39 3535,10 889,49,4424.0
29,29,ಾಮನಗರ,28 1143,9 313,37,1456.0
30,30,ಾದ,32 2040,6 335,38,2375.0

In [41]:
len(replaced_list)

20

In [42]:
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        #pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        for colName, colData in df.items():
            
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = re.findall(pattern, colData.values[0])
                    numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        colData = colData.str.replace(r'\s+', ' ', regex=True)
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)
            elif pd.isna(colData.values[0]):
                print("remove NaN")
            elif isinstance(colData.values[0],(int, np.integer)) or isinstance(colData.values[0],(float, np.floating)):
                colData.values[0] = str(int(colData.values[0]))
                new_df = pd.concat([new_df, colData], axis=1)
        new_df_list.append(new_df)
    return new_df_list

In [43]:
separated_list = all_column_split(replaced_list)

remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN

In [44]:
len(separated_list)

20

In [45]:
separated_list[3]

,Unnamed: 0,Unnamed: 1,Unnamed: 3,12. ಸಾಜ ಕಾಣ /,Social Welfare,0,1,Unnamed: 5
0,1,2,1242,1243,1244,1245,1246,1247
1,1,Belagavi,NaN,0 0,0,0,None,0 0
2,2,Bagalkot,NaN,0 0,0,0,None,0 0
3,3,Vijayapura,NaN,5 225,0,0,None,5 225
4,4,Kalburgi,NaN,3 150,0,0,None,3 150
5,5,Bidar,NaN,0 0,0,0,None,0 0
6,6,Raichur,NaN,1 25,0,0,None,1 25
7,7,Koppal,NaN,0 0,0,0,None,0 0
8,8,Gadag,NaN,4 206,0,0,None,4 206
9,9,Dharwad,NaN,1 42,0,0,None,1 42
10,10,Uttara Kannada,NaN,0 0,0,0,None,0 0
11,11,Haveri,NaN,1 175,0,0,None,1 175
12,12,Ballari,NaN,0 0,0,0,None,0 0
13,13,Chitradurga,NaN,0 0,0,0,None,0 0
14,14,Davanagere,NaN,7 835,1,50,None,8 885
15,15,Shivamogga,NaN,0 0,0,0,None,0 0
16,16,Udupi,NaN,0 0,0,0,None,0 0
17,17,Chikkamagaluru,NaN,0 0,0,0,None,0 0
18,18,Tumakuru,NaN,2 250,0,0,None,2 250
19,19,Kolara,NaN,0 0,0,0,None,0 0
20,20,Bengaluru(U),NaN,0 0,0,0,None,0 0
21,21,Bengaluru(R),NaN,0 0,0,0,None,0 0
22,22,Mandya,NaN,1 60,0,0,None,1 60
23,23,Hassan,NaN,14 1898,15,2292,None,29 4190
24,24,Dakshina Kannada,NaN,0 0,0,0,None,0 0
25,25,Kodagu,NaN,0 0,0,0,None,0 0
26,26,Mysuru,NaN,0 0,0,0,None,0 0
27,27,Chamarajanagara,NaN,3 579,0,0,None,3 579
28,28,Chikkaballapura,NaN,0 0,0,0,None,0 0
29,29,Ramanagara,NaN,0 0,0,0,None,0 0
30,30,Yadgir,NaN,4 350,0,0,None,4 350

In [46]:
def check_single_column(df_list):
    new_df_list = []
    for df in df_list:
        df.fillna(value="", inplace=True)
        num_col = len(df.columns)
        for idx in range(num_col-1, 1, -1):
            cardinality = len(str(df.iloc[0,idx]).split())
            #print("idx", idx, df.iloc[0,idx], cardinality)
            for i in range(len(df.iloc[:,idx])):
                if i>0:
                    cell_car = len(str(df.iloc[i,idx]).split())
                    #print("i", i, df.iloc[i,idx], cell_car)
                    if cell_car > cardinality:
                       
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("more", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col1:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col2:
                                df.iloc[i, idx-1] = ' '.join(words_col2) + ' ' + words_col1[0]
                            else:
                                df.iloc[i, idx-1] = words_col1[0]

                            # Update the first column with the remaining words
                            df.iloc[i, idx] = ' '.join(words_col1[1:])
                        
                    if cell_car < cardinality:
                        
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("less", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col2:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col1:
                                df.iloc[i, idx] = words_col2[-1] + ' ' + ' '.join(words_col1)
                            else:
                                df.iloc[i, idx] = words_col2[-1]

                            # Update the first column with the remaining words
                            df.iloc[i, idx-1] = ' '.join(words_col2[:-1])
                        if df.iloc[i, idx-1]==' ':
                            df.iloc[i, idx-1] = ''
                        
        new_df_list.append(df)
    return new_df_list

In [47]:
updated_list = check_single_column(separated_list)

In [48]:
len(updated_list)

20

In [49]:
updated_list[0]

   Unnamed: 0     Unnamed: 1     0     1     0     1 Unnamed: 3  Unnamed: 4
0           1              2  1224  1225  1226  1227       1228      1229.0
1           1         ೆಳಾ    51  3510    15  1217         66      4727.0
2           2       ಾಗಲೋೆ    31  2433     9   803         40      3236.0
3           3         ಜಯಪರ    47  4590    10  1261         57      5851.0
4           4         ಕಲು    62  4405    10   760         72      5165.0
5           5           ೕದ    34  2289     9   740         43      3029.0
6           6        ಾಯಚೂರು    35  3858    11  1206         46      5064.0
7           7          ೊಪಳ    26  2913     7  1147         33      4060.0
8           8            ಗದ    21  1312     5   468         26      1780.0
9           9         ಾರಾಡ     9   600     5   350         14       950.0
10         10       ಉತರ ಕನಡ    17   784     9   457         26      1241.0
11         11          ಾೇ    29  1996     8   836         37      2832.0
12         12          ಬಾ    46  5321    15  2400         61      7721.0
13         13        ತದುಗ    37  2759    15  1356         52      4115.0
14         14       ಾವಣೆೆ    29  1848     9   818         38      2666.0
15         15           ವಗ    35  2389    14  1040         49      3429.0
16         16           ಉಡು     9   330     6   218         15       548.0
17         17      ಕಮಗಳರು    26  1458    12   856         38      2314.0
18         18        ತುಮಕೂರು    49  2942    13   799         62      3741.0
19         19          ೋಾರ    39  2355    14   926         53      3281.0
20         20    ೆ೦ಗಳರು(ನ)    20   848     8   309         28      1157.0
21         21  ೆ೦ಗಳರು(ಾ)    18  1378     5   349         23      1727.0
22         22           ಮಂಡ    33  2302    13  1180         46      3482.0
23         23           ಾಸನ    42  2387    17  1273         59      3660.0
24         24       ದಣ ಕನಡ    11   507     8   440         19       947.0
25         25          ೊಡಗು    10   327     7   261         17       588.0
26         26         ೖಸೂರು    36  1941    11   659         47      2600.0
27         27      ಾಮಾಜನಗರ    29  1491    11   549         40      2040.0
28         28     ಕಬಾಪರ    39  3535    10   889         49      4424.0
29         29         ಾಮನಗರ    28  1143     9   313         37      1456.0
30         30          ಾದ    32  2040     6   335         38      2375.0

In [50]:
len(updated_list)

20

In [51]:
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [52]:
final_list = reset_header(updated_list)

In [53]:
final_list[0]

0    1              2 1224  1225 1226  1227 1228  1229.0
0    1         ೆಳಾ   51  3510   15  1217   66  4727.0
1    2       ಾಗಲೋೆ   31  2433    9   803   40  3236.0
2    3         ಜಯಪರ   47  4590   10  1261   57  5851.0
3    4         ಕಲು   62  4405   10   760   72  5165.0
4    5           ೕದ   34  2289    9   740   43  3029.0
5    6        ಾಯಚೂರು   35  3858   11  1206   46  5064.0
6    7          ೊಪಳ   26  2913    7  1147   33  4060.0
7    8            ಗದ   21  1312    5   468   26  1780.0
8    9         ಾರಾಡ    9   600    5   350   14   950.0
9   10       ಉತರ ಕನಡ   17   784    9   457   26  1241.0
10  11          ಾೇ   29  1996    8   836   37  2832.0
11  12          ಬಾ   46  5321   15  2400   61  7721.0
12  13        ತದುಗ   37  2759   15  1356   52  4115.0
13  14       ಾವಣೆೆ   29  1848    9   818   38  2666.0
14  15           ವಗ   35  2389   14  1040   49  3429.0
15  16           ಉಡು    9   330    6   218   15   548.0
16  17      ಕಮಗಳರು   26  1458   12   856   38  2314.0
17  18        ತುಮಕೂರು   49  2942   13   799   62  3741.0
18  19          ೋಾರ   39  2355   14   926   53  3281.0
19  20    ೆ೦ಗಳರು(ನ)   20   848    8   309   28  1157.0
20  21  ೆ೦ಗಳರು(ಾ)   18  1378    5   349   23  1727.0
21  22           ಮಂಡ   33  2302   13  1180   46  3482.0
22  23           ಾಸನ   42  2387   17  1273   59  3660.0
23  24       ದಣ ಕನಡ   11   507    8   440   19   947.0
24  25          ೊಡಗು   10   327    7   261   17   588.0
25  26         ೖಸೂರು   36  1941   11   659   47  2600.0
26  27      ಾಮಾಜನಗರ   29  1491   11   549   40  2040.0
27  28     ಕಬಾಪರ   39  3535   10   889   49  4424.0
28  29         ಾಮನಗರ   28  1143    9   313   37  1456.0
29  30          ಾದ   32  2040    6   335   38  2375.0

In [54]:
def get_empty_col(df_list):
    index_list=[]
    for i in range(len(df_list)):
        empty_columns = df_list[i].columns[df_list[i].isna().all()].tolist()
        if len(empty_columns) > 0:
            index_list.append([i,empty_columns])
    return index_list

In [55]:
empty_col = get_empty_col(final_list)
empty_col

[]

In [56]:
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [57]:
final_df = concat_dataframe(final_list)

In [58]:
final_df

,1,2,1224,1225,1226,1227,1228,1229.0,1230,1231,...,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340
0,1,ೆಳಾ,51,3510,15,1217,66,4727.0,19,1747,...,6104,95705,100817,196522,26629,27911,54540,33598,32283,65881
1,2,ಾಗಲೋೆ,31,2433,9,803,40,3236.0,9,1343,...,2522,44648,44961,89609,47824,31882,79706,15129,13587,28716
2,3,ಜಯಪರ,47,4590,10,1261,57,5851.0,9,2634,...,673,26555,29270,55825,9024,9803,18827,20632,23693,44325
3,4,ಕಲು,62,4405,10,760,72,5165.0,20,3201,...,251,24488,22883,47371,6979,6639,13618,29505,23805,53310
4,5,ೕದ,34,2289,9,740,43,3029.0,11,1223,...,5512,10944,12533,23477,3638,4188,7826,2094,2115,4209
5,6,ಾಯಚೂರು,35,3858,11,1206,46,5064.0,16,2780,...,6899,25809,27452,53261,6027,6808,12835,12184,13953,26137
6,7,ೊಪಳ,26,2913,7,1147,33,4060.0,8,1351,...,2951,29214,30415,59629,6753,6939,13692,12210,9664,21874
7,8,ಗದ,21,1312,5,468,26,1780.0,10,1253,...,1076,24021,18291,42312,9411,6718,16129,4225,3932,8157
8,9,ಾರಾಡ,9,600,5,350,14,950.0,11,1343,...,4734,21221,20567,41788,10250,9594,19844,11752,7401,19153
9,10,ಉತರ ಕನಡ,17,784,9,457,26,1241.0,4,235,...,372,32047,31249,63296,8001,8100,16101,6970,6405,13375
10,11,ಾೇ,29,1996,8,836,37,2832.0,13,1287,...,2659,23366,22932,46298,9226,8721,17947,16617,19164,35781
11,12,ಬಾ,46,5321,15,2400,61,7721.0,28,4960,...,7758,28418,30012,58430,13390,8734,22124,15063,12353,27416
12,13,ತದುಗ,37,2759,15,1356,52,4115.0,21,2998,...,6319,20313,21514,41827,6129,6171,12300,13039,2392,15431
13,14,ಾವಣೆೆ,29,1848,9,818,38,2666.0,16,2065,...,3909,16835,18127,34962,5075,5631,10706,25341,24510,49851
14,15,ವಗ,35,2389,14,1040,49,3429.0,13,1848,...,1246,26193,26177,52370,7470,7856,15326,12514,13900,26414
15,16,ಉಡು,9,330,6,218,15,548.0,3,204,...,1465,18474,19109,37583,7374,9441,16815,3629,4407,8036
16,17,ಕಮಗಳರು,26,1458,12,856,38,2314.0,13,1065,...,449,13110,13286,26396,4872,3839,8711,1711,2003,3714
17,18,ತುಮಕೂರು,49,2942,13,799,62,3741.0,21,3085,...,3973,37334,38354,75688,10898,11113,22011,11678,12655,24333
18,19,ೋಾರ,39,2355,14,926,53,3281.0,17,1298,...,1088,10762,11766,22528,3361,4147,7508,10960,12548,23508
19,20,ೆ೦ಗಳರು(ನ),20,848,8,309,28,1157.0,16,2430,...,312,14061,14517,28578,8609,7761,16370,30712,25396,56108
20,21,ೆ೦ಗಳರು(ಾ),18,1378,5,349,23,1727.0,5,543,...,925,10068,10880,20948,3064,3404,6468,1921,2350,4271
21,22,ಮಂಡ,33,2302,13,1180,46,3482.0,11,990,...,176,30045,29098,59143,9486,10106,19592,5255,5615,10870
22,23,ಾಸನ,42,2387,17,1273,59,3660.0,14,1898,...,473,24199,25849,50048,7105,8300,15405,0,0,0
23,24,ದಣ ಕನಡ,11,507,8,440,19,947.0,5,434,...,865,23286,22937,46223,5969,5941,11910,27102,32267,59369
24,25,ೊಡಗು,10,327,7,261,17,588.0,2,61,...,1006,4415,4552,8967,2283,2462,4745,1410,1486,2896
25,26,ೖಸೂರು,36,1941,11,659,47,2600.0,15,1518,...,5158,32839,35542,68381,14832,15366,30198,19568,14311,33879
26,27,ಾಮಾಜನಗರ,29,1491,11,549,40,2040.0,10,407,...,2691,16103,16083,32186,4301,4501,8802,5604,5102,10706
27,28,ಕಬಾಪರ,39,3535,10,889,49,4424.0,14,2569,...,2806,10047,10869,20916,2847,3405,6252,0,20,20
28,29,ಾಮನಗರ,28,1143,9,313,37,1456.0,7,318,...,393,13771,15667,29438,4187,4641,8828,5775,6727,12502
29,30,ಾದ,32,2040,6,335,38,2375.0,10,1050,...,3882,13354,13942,27296,1489,1417,2906,6456,6661,13117

In [59]:
final_df.columns = final_df.columns.astype(int)

In [60]:
final_df[2]

0            ೆಳಾ
1          ಾಗಲೋೆ
2            ಜಯಪರ
3            ಕಲು
4              ೕದ
5           ಾಯಚೂರು
6             ೊಪಳ
7               ಗದ
8            ಾರಾಡ
9          ಉತರ ಕನಡ
10            ಾೇ
11            ಬಾ
12          ತದುಗ
13         ಾವಣೆೆ
14             ವಗ
15             ಉಡು
16        ಕಮಗಳರು
17          ತುಮಕೂರು
18            ೋಾರ
19      ೆ೦ಗಳರು(ನ)
20    ೆ೦ಗಳರು(ಾ)
21             ಮಂಡ
22             ಾಸನ
23         ದಣ ಕನಡ
24            ೊಡಗು
25           ೖಸೂರು
26        ಾಮಾಜನಗರ
27       ಕಬಾಪರ
28           ಾಮನಗರ
29            ಾದ
Name: 2, dtype: object

In [61]:
final_df = final_df.reindex(sorted(final_df.columns, key=int), axis=1)

In [62]:
final_df

,1,2,1224,1225,1226,1227,1228,1229,1230,1231,...,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340
0,1,ೆಳಾ,51,3510,15,1217,66,4727.0,19,1747,...,6104,95705,100817,196522,26629,27911,54540,33598,32283,65881
1,2,ಾಗಲೋೆ,31,2433,9,803,40,3236.0,9,1343,...,2522,44648,44961,89609,47824,31882,79706,15129,13587,28716
2,3,ಜಯಪರ,47,4590,10,1261,57,5851.0,9,2634,...,673,26555,29270,55825,9024,9803,18827,20632,23693,44325
3,4,ಕಲು,62,4405,10,760,72,5165.0,20,3201,...,251,24488,22883,47371,6979,6639,13618,29505,23805,53310
4,5,ೕದ,34,2289,9,740,43,3029.0,11,1223,...,5512,10944,12533,23477,3638,4188,7826,2094,2115,4209
5,6,ಾಯಚೂರು,35,3858,11,1206,46,5064.0,16,2780,...,6899,25809,27452,53261,6027,6808,12835,12184,13953,26137
6,7,ೊಪಳ,26,2913,7,1147,33,4060.0,8,1351,...,2951,29214,30415,59629,6753,6939,13692,12210,9664,21874
7,8,ಗದ,21,1312,5,468,26,1780.0,10,1253,...,1076,24021,18291,42312,9411,6718,16129,4225,3932,8157
8,9,ಾರಾಡ,9,600,5,350,14,950.0,11,1343,...,4734,21221,20567,41788,10250,9594,19844,11752,7401,19153
9,10,ಉತರ ಕನಡ,17,784,9,457,26,1241.0,4,235,...,372,32047,31249,63296,8001,8100,16101,6970,6405,13375
10,11,ಾೇ,29,1996,8,836,37,2832.0,13,1287,...,2659,23366,22932,46298,9226,8721,17947,16617,19164,35781
11,12,ಬಾ,46,5321,15,2400,61,7721.0,28,4960,...,7758,28418,30012,58430,13390,8734,22124,15063,12353,27416
12,13,ತದುಗ,37,2759,15,1356,52,4115.0,21,2998,...,6319,20313,21514,41827,6129,6171,12300,13039,2392,15431
13,14,ಾವಣೆೆ,29,1848,9,818,38,2666.0,16,2065,...,3909,16835,18127,34962,5075,5631,10706,25341,24510,49851
14,15,ವಗ,35,2389,14,1040,49,3429.0,13,1848,...,1246,26193,26177,52370,7470,7856,15326,12514,13900,26414
15,16,ಉಡು,9,330,6,218,15,548.0,3,204,...,1465,18474,19109,37583,7374,9441,16815,3629,4407,8036
16,17,ಕಮಗಳರು,26,1458,12,856,38,2314.0,13,1065,...,449,13110,13286,26396,4872,3839,8711,1711,2003,3714
17,18,ತುಮಕೂರು,49,2942,13,799,62,3741.0,21,3085,...,3973,37334,38354,75688,10898,11113,22011,11678,12655,24333
18,19,ೋಾರ,39,2355,14,926,53,3281.0,17,1298,...,1088,10762,11766,22528,3361,4147,7508,10960,12548,23508
19,20,ೆ೦ಗಳರು(ನ),20,848,8,309,28,1157.0,16,2430,...,312,14061,14517,28578,8609,7761,16370,30712,25396,56108
20,21,ೆ೦ಗಳರು(ಾ),18,1378,5,349,23,1727.0,5,543,...,925,10068,10880,20948,3064,3404,6468,1921,2350,4271
21,22,ಮಂಡ,33,2302,13,1180,46,3482.0,11,990,...,176,30045,29098,59143,9486,10106,19592,5255,5615,10870
22,23,ಾಸನ,42,2387,17,1273,59,3660.0,14,1898,...,473,24199,25849,50048,7105,8300,15405,0,0,0
23,24,ದಣ ಕನಡ,11,507,8,440,19,947.0,5,434,...,865,23286,22937,46223,5969,5941,11910,27102,32267,59369
24,25,ೊಡಗು,10,327,7,261,17,588.0,2,61,...,1006,4415,4552,8967,2283,2462,4745,1410,1486,2896
25,26,ೖಸೂರು,36,1941,11,659,47,2600.0,15,1518,...,5158,32839,35542,68381,14832,15366,30198,19568,14311,33879
26,27,ಾಮಾಜನಗರ,29,1491,11,549,40,2040.0,10,407,...,2691,16103,16083,32186,4301,4501,8802,5604,5102,10706
27,28,ಕಬಾಪರ,39,3535,10,889,49,4424.0,14,2569,...,2806,10047,10869,20916,2847,3405,6252,0,20,20
28,29,ಾಮನಗರ,28,1143,9,313,37,1456.0,7,318,...,393,13771,15667,29438,4187,4641,8828,5775,6727,12502
29,30,ಾದ,32,2040,6,335,38,2375.0,10,1050,...,3882,13354,13942,27296,1489,1417,2906,6456,6661,13117

In [63]:
final_df = final_df.drop(final_df.index[30:])

In [64]:
final_df

,1,2,1224,1225,1226,1227,1228,1229,1230,1231,...,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340
0,1,ೆಳಾ,51,3510,15,1217,66,4727.0,19,1747,...,6104,95705,100817,196522,26629,27911,54540,33598,32283,65881
1,2,ಾಗಲೋೆ,31,2433,9,803,40,3236.0,9,1343,...,2522,44648,44961,89609,47824,31882,79706,15129,13587,28716
2,3,ಜಯಪರ,47,4590,10,1261,57,5851.0,9,2634,...,673,26555,29270,55825,9024,9803,18827,20632,23693,44325
3,4,ಕಲು,62,4405,10,760,72,5165.0,20,3201,...,251,24488,22883,47371,6979,6639,13618,29505,23805,53310
4,5,ೕದ,34,2289,9,740,43,3029.0,11,1223,...,5512,10944,12533,23477,3638,4188,7826,2094,2115,4209
5,6,ಾಯಚೂರು,35,3858,11,1206,46,5064.0,16,2780,...,6899,25809,27452,53261,6027,6808,12835,12184,13953,26137
6,7,ೊಪಳ,26,2913,7,1147,33,4060.0,8,1351,...,2951,29214,30415,59629,6753,6939,13692,12210,9664,21874
7,8,ಗದ,21,1312,5,468,26,1780.0,10,1253,...,1076,24021,18291,42312,9411,6718,16129,4225,3932,8157
8,9,ಾರಾಡ,9,600,5,350,14,950.0,11,1343,...,4734,21221,20567,41788,10250,9594,19844,11752,7401,19153
9,10,ಉತರ ಕನಡ,17,784,9,457,26,1241.0,4,235,...,372,32047,31249,63296,8001,8100,16101,6970,6405,13375
10,11,ಾೇ,29,1996,8,836,37,2832.0,13,1287,...,2659,23366,22932,46298,9226,8721,17947,16617,19164,35781
11,12,ಬಾ,46,5321,15,2400,61,7721.0,28,4960,...,7758,28418,30012,58430,13390,8734,22124,15063,12353,27416
12,13,ತದುಗ,37,2759,15,1356,52,4115.0,21,2998,...,6319,20313,21514,41827,6129,6171,12300,13039,2392,15431
13,14,ಾವಣೆೆ,29,1848,9,818,38,2666.0,16,2065,...,3909,16835,18127,34962,5075,5631,10706,25341,24510,49851
14,15,ವಗ,35,2389,14,1040,49,3429.0,13,1848,...,1246,26193,26177,52370,7470,7856,15326,12514,13900,26414
15,16,ಉಡು,9,330,6,218,15,548.0,3,204,...,1465,18474,19109,37583,7374,9441,16815,3629,4407,8036
16,17,ಕಮಗಳರು,26,1458,12,856,38,2314.0,13,1065,...,449,13110,13286,26396,4872,3839,8711,1711,2003,3714
17,18,ತುಮಕೂರು,49,2942,13,799,62,3741.0,21,3085,...,3973,37334,38354,75688,10898,11113,22011,11678,12655,24333
18,19,ೋಾರ,39,2355,14,926,53,3281.0,17,1298,...,1088,10762,11766,22528,3361,4147,7508,10960,12548,23508
19,20,ೆ೦ಗಳರು(ನ),20,848,8,309,28,1157.0,16,2430,...,312,14061,14517,28578,8609,7761,16370,30712,25396,56108
20,21,ೆ೦ಗಳರು(ಾ),18,1378,5,349,23,1727.0,5,543,...,925,10068,10880,20948,3064,3404,6468,1921,2350,4271
21,22,ಮಂಡ,33,2302,13,1180,46,3482.0,11,990,...,176,30045,29098,59143,9486,10106,19592,5255,5615,10870
22,23,ಾಸನ,42,2387,17,1273,59,3660.0,14,1898,...,473,24199,25849,50048,7105,8300,15405,0,0,0
23,24,ದಣ ಕನಡ,11,507,8,440,19,947.0,5,434,...,865,23286,22937,46223,5969,5941,11910,27102,32267,59369
24,25,ೊಡಗು,10,327,7,261,17,588.0,2,61,...,1006,4415,4552,8967,2283,2462,4745,1410,1486,2896
25,26,ೖಸೂರು,36,1941,11,659,47,2600.0,15,1518,...,5158,32839,35542,68381,14832,15366,30198,19568,14311,33879
26,27,ಾಮಾಜನಗರ,29,1491,11,549,40,2040.0,10,407,...,2691,16103,16083,32186,4301,4501,8802,5604,5102,10706
27,28,ಕಬಾಪರ,39,3535,10,889,49,4424.0,14,2569,...,2806,10047,10869,20916,2847,3405,6252,0,20,20
28,29,ಾಮನಗರ,28,1143,9,313,37,1456.0,7,318,...,393,13771,15667,29438,4187,4641,8828,5775,6727,12502
29,30,ಾದ,32,2040,6,335,38,2375.0,10,1050,...,3882,13354,13942,27296,1489,1417,2906,6456,6661,13117

In [65]:
new_order = [18, 20, 19, 27, 26, 29, 30, 22, 21, 24, 23, 25, 4, 5, 8, 12, 10, 9, 6, 1, 2, 15, 13, 11, 14, 16, 17, 7, 3, 28]
final_df[1] = new_order
final_df

,1,2,1224,1225,1226,1227,1228,1229,1230,1231,...,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340
0,18,ೆಳಾ,51,3510,15,1217,66,4727.0,19,1747,...,6104,95705,100817,196522,26629,27911,54540,33598,32283,65881
1,20,ಾಗಲೋೆ,31,2433,9,803,40,3236.0,9,1343,...,2522,44648,44961,89609,47824,31882,79706,15129,13587,28716
2,19,ಜಯಪರ,47,4590,10,1261,57,5851.0,9,2634,...,673,26555,29270,55825,9024,9803,18827,20632,23693,44325
3,27,ಕಲು,62,4405,10,760,72,5165.0,20,3201,...,251,24488,22883,47371,6979,6639,13618,29505,23805,53310
4,26,ೕದ,34,2289,9,740,43,3029.0,11,1223,...,5512,10944,12533,23477,3638,4188,7826,2094,2115,4209
5,29,ಾಯಚೂರು,35,3858,11,1206,46,5064.0,16,2780,...,6899,25809,27452,53261,6027,6808,12835,12184,13953,26137
6,30,ೊಪಳ,26,2913,7,1147,33,4060.0,8,1351,...,2951,29214,30415,59629,6753,6939,13692,12210,9664,21874
7,22,ಗದ,21,1312,5,468,26,1780.0,10,1253,...,1076,24021,18291,42312,9411,6718,16129,4225,3932,8157
8,21,ಾರಾಡ,9,600,5,350,14,950.0,11,1343,...,4734,21221,20567,41788,10250,9594,19844,11752,7401,19153
9,24,ಉತರ ಕನಡ,17,784,9,457,26,1241.0,4,235,...,372,32047,31249,63296,8001,8100,16101,6970,6405,13375
10,23,ಾೇ,29,1996,8,836,37,2832.0,13,1287,...,2659,23366,22932,46298,9226,8721,17947,16617,19164,35781
11,25,ಬಾ,46,5321,15,2400,61,7721.0,28,4960,...,7758,28418,30012,58430,13390,8734,22124,15063,12353,27416
12,4,ತದುಗ,37,2759,15,1356,52,4115.0,21,2998,...,6319,20313,21514,41827,6129,6171,12300,13039,2392,15431
13,5,ಾವಣೆೆ,29,1848,9,818,38,2666.0,16,2065,...,3909,16835,18127,34962,5075,5631,10706,25341,24510,49851
14,8,ವಗ,35,2389,14,1040,49,3429.0,13,1848,...,1246,26193,26177,52370,7470,7856,15326,12514,13900,26414
15,12,ಉಡು,9,330,6,218,15,548.0,3,204,...,1465,18474,19109,37583,7374,9441,16815,3629,4407,8036
16,10,ಕಮಗಳರು,26,1458,12,856,38,2314.0,13,1065,...,449,13110,13286,26396,4872,3839,8711,1711,2003,3714
17,9,ತುಮಕೂರು,49,2942,13,799,62,3741.0,21,3085,...,3973,37334,38354,75688,10898,11113,22011,11678,12655,24333
18,6,ೋಾರ,39,2355,14,926,53,3281.0,17,1298,...,1088,10762,11766,22528,3361,4147,7508,10960,12548,23508
19,1,ೆ೦ಗಳರು(ನ),20,848,8,309,28,1157.0,16,2430,...,312,14061,14517,28578,8609,7761,16370,30712,25396,56108
20,2,ೆ೦ಗಳರು(ಾ),18,1378,5,349,23,1727.0,5,543,...,925,10068,10880,20948,3064,3404,6468,1921,2350,4271
21,15,ಮಂಡ,33,2302,13,1180,46,3482.0,11,990,...,176,30045,29098,59143,9486,10106,19592,5255,5615,10870
22,13,ಾಸನ,42,2387,17,1273,59,3660.0,14,1898,...,473,24199,25849,50048,7105,8300,15405,0,0,0
23,11,ದಣ ಕನಡ,11,507,8,440,19,947.0,5,434,...,865,23286,22937,46223,5969,5941,11910,27102,32267,59369
24,14,ೊಡಗು,10,327,7,261,17,588.0,2,61,...,1006,4415,4552,8967,2283,2462,4745,1410,1486,2896
25,16,ೖಸೂರು,36,1941,11,659,47,2600.0,15,1518,...,5158,32839,35542,68381,14832,15366,30198,19568,14311,33879
26,17,ಾಮಾಜನಗರ,29,1491,11,549,40,2040.0,10,407,...,2691,16103,16083,32186,4301,4501,8802,5604,5102,10706
27,7,ಕಬಾಪರ,39,3535,10,889,49,4424.0,14,2569,...,2806,10047,10869,20916,2847,3405,6252,0,20,20
28,3,ಾಮನಗರ,28,1143,9,313,37,1456.0,7,318,...,393,13771,15667,29438,4187,4641,8828,5775,6727,12502
29,28,ಾದ,32,2040,6,335,38,2375.0,10,1050,...,3882,13354,13942,27296,1489,1417,2906,6456,6661,13117

In [66]:
final_data = final_df.sort_values(1)
final_data.reset_index(drop=True, inplace=True)
final_data

,1,2,1224,1225,1226,1227,1228,1229,1230,1231,...,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340
0,1,ೆ೦ಗಳರು(ನ),20,848,8,309,28,1157.0,16,2430,...,312,14061,14517,28578,8609,7761,16370,30712,25396,56108
1,2,ೆ೦ಗಳರು(ಾ),18,1378,5,349,23,1727.0,5,543,...,925,10068,10880,20948,3064,3404,6468,1921,2350,4271
2,3,ಾಮನಗರ,28,1143,9,313,37,1456.0,7,318,...,393,13771,15667,29438,4187,4641,8828,5775,6727,12502
3,4,ತದುಗ,37,2759,15,1356,52,4115.0,21,2998,...,6319,20313,21514,41827,6129,6171,12300,13039,2392,15431
4,5,ಾವಣೆೆ,29,1848,9,818,38,2666.0,16,2065,...,3909,16835,18127,34962,5075,5631,10706,25341,24510,49851
5,6,ೋಾರ,39,2355,14,926,53,3281.0,17,1298,...,1088,10762,11766,22528,3361,4147,7508,10960,12548,23508
6,7,ಕಬಾಪರ,39,3535,10,889,49,4424.0,14,2569,...,2806,10047,10869,20916,2847,3405,6252,0,20,20
7,8,ವಗ,35,2389,14,1040,49,3429.0,13,1848,...,1246,26193,26177,52370,7470,7856,15326,12514,13900,26414
8,9,ತುಮಕೂರು,49,2942,13,799,62,3741.0,21,3085,...,3973,37334,38354,75688,10898,11113,22011,11678,12655,24333
9,10,ಕಮಗಳರು,26,1458,12,856,38,2314.0,13,1065,...,449,13110,13286,26396,4872,3839,8711,1711,2003,3714
10,11,ದಣ ಕನಡ,11,507,8,440,19,947.0,5,434,...,865,23286,22937,46223,5969,5941,11910,27102,32267,59369
11,12,ಉಡು,9,330,6,218,15,548.0,3,204,...,1465,18474,19109,37583,7374,9441,16815,3629,4407,8036
12,13,ಾಸನ,42,2387,17,1273,59,3660.0,14,1898,...,473,24199,25849,50048,7105,8300,15405,0,0,0
13,14,ೊಡಗು,10,327,7,261,17,588.0,2,61,...,1006,4415,4552,8967,2283,2462,4745,1410,1486,2896
14,15,ಮಂಡ,33,2302,13,1180,46,3482.0,11,990,...,176,30045,29098,59143,9486,10106,19592,5255,5615,10870
15,16,ೖಸೂರು,36,1941,11,659,47,2600.0,15,1518,...,5158,32839,35542,68381,14832,15366,30198,19568,14311,33879
16,17,ಾಮಾಜನಗರ,29,1491,11,549,40,2040.0,10,407,...,2691,16103,16083,32186,4301,4501,8802,5604,5102,10706
17,18,ೆಳಾ,51,3510,15,1217,66,4727.0,19,1747,...,6104,95705,100817,196522,26629,27911,54540,33598,32283,65881
18,19,ಜಯಪರ,47,4590,10,1261,57,5851.0,9,2634,...,673,26555,29270,55825,9024,9803,18827,20632,23693,44325
19,20,ಾಗಲೋೆ,31,2433,9,803,40,3236.0,9,1343,...,2522,44648,44961,89609,47824,31882,79706,15129,13587,28716
20,21,ಾರಾಡ,9,600,5,350,14,950.0,11,1343,...,4734,21221,20567,41788,10250,9594,19844,11752,7401,19153
21,22,ಗದ,21,1312,5,468,26,1780.0,10,1253,...,1076,24021,18291,42312,9411,6718,16129,4225,3932,8157
22,23,ಾೇ,29,1996,8,836,37,2832.0,13,1287,...,2659,23366,22932,46298,9226,8721,17947,16617,19164,35781
23,24,ಉತರ ಕನಡ,17,784,9,457,26,1241.0,4,235,...,372,32047,31249,63296,8001,8100,16101,6970,6405,13375
24,25,ಬಾ,46,5321,15,2400,61,7721.0,28,4960,...,7758,28418,30012,58430,13390,8734,22124,15063,12353,27416
25,26,ೕದ,34,2289,9,740,43,3029.0,11,1223,...,5512,10944,12533,23477,3638,4188,7826,2094,2115,4209
26,27,ಕಲು,62,4405,10,760,72,5165.0,20,3201,...,251,24488,22883,47371,6979,6639,13618,29505,23805,53310
27,28,ಾದ,32,2040,6,335,38,2375.0,10,1050,...,3882,13354,13942,27296,1489,1417,2906,6456,6661,13117
28,29,ಾಯಚೂರು,35,3858,11,1206,46,5064.0,16,2780,...,6899,25809,27452,53261,6027,6808,12835,12184,13953,26137
29,30,ೊಪಳ,26,2913,7,1147,33,4060.0,8,1351,...,2951,29214,30415,59629,6753,6939,13692,12210,9664,21874

In [67]:
name_list = ['Bengaluru(U)','Bengaluru(R)', 'Ramanagara', 'Chitradurga', 'Davanagere', 'Kolara', 'Chikkaballapura', 'Shivamogga',
'Tumakuru', 'Chikkamagaluru', 'Dakshina Kannada', 'Udupi', 'Hassan', 'Kodagu', 'Mandya', 'Mysuru', 'Chamarajanagara',
 'Belagavi', 'Vijayapura', 'Bagalkot', 'Dharwad', 'Gadag', 'Haveri', 'Uttara Kannada', 'Ballari', 'Bidar', 'Kalburgi',
 'Yadgir', 'Raichur', 'Koppal']

In [68]:
final_data[2] = name_list
final_data

,1,2,1224,1225,1226,1227,1228,1229,1230,1231,...,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340
0,1,Bengaluru(U),20,848,8,309,28,1157.0,16,2430,...,312,14061,14517,28578,8609,7761,16370,30712,25396,56108
1,2,Bengaluru(R),18,1378,5,349,23,1727.0,5,543,...,925,10068,10880,20948,3064,3404,6468,1921,2350,4271
2,3,Ramanagara,28,1143,9,313,37,1456.0,7,318,...,393,13771,15667,29438,4187,4641,8828,5775,6727,12502
3,4,Chitradurga,37,2759,15,1356,52,4115.0,21,2998,...,6319,20313,21514,41827,6129,6171,12300,13039,2392,15431
4,5,Davanagere,29,1848,9,818,38,2666.0,16,2065,...,3909,16835,18127,34962,5075,5631,10706,25341,24510,49851
5,6,Kolara,39,2355,14,926,53,3281.0,17,1298,...,1088,10762,11766,22528,3361,4147,7508,10960,12548,23508
6,7,Chikkaballapura,39,3535,10,889,49,4424.0,14,2569,...,2806,10047,10869,20916,2847,3405,6252,0,20,20
7,8,Shivamogga,35,2389,14,1040,49,3429.0,13,1848,...,1246,26193,26177,52370,7470,7856,15326,12514,13900,26414
8,9,Tumakuru,49,2942,13,799,62,3741.0,21,3085,...,3973,37334,38354,75688,10898,11113,22011,11678,12655,24333
9,10,Chikkamagaluru,26,1458,12,856,38,2314.0,13,1065,...,449,13110,13286,26396,4872,3839,8711,1711,2003,3714
10,11,Dakshina Kannada,11,507,8,440,19,947.0,5,434,...,865,23286,22937,46223,5969,5941,11910,27102,32267,59369
11,12,Udupi,9,330,6,218,15,548.0,3,204,...,1465,18474,19109,37583,7374,9441,16815,3629,4407,8036
12,13,Hassan,42,2387,17,1273,59,3660.0,14,1898,...,473,24199,25849,50048,7105,8300,15405,0,0,0
13,14,Kodagu,10,327,7,261,17,588.0,2,61,...,1006,4415,4552,8967,2283,2462,4745,1410,1486,2896
14,15,Mandya,33,2302,13,1180,46,3482.0,11,990,...,176,30045,29098,59143,9486,10106,19592,5255,5615,10870
15,16,Mysuru,36,1941,11,659,47,2600.0,15,1518,...,5158,32839,35542,68381,14832,15366,30198,19568,14311,33879
16,17,Chamarajanagara,29,1491,11,549,40,2040.0,10,407,...,2691,16103,16083,32186,4301,4501,8802,5604,5102,10706
17,18,Belagavi,51,3510,15,1217,66,4727.0,19,1747,...,6104,95705,100817,196522,26629,27911,54540,33598,32283,65881
18,19,Vijayapura,47,4590,10,1261,57,5851.0,9,2634,...,673,26555,29270,55825,9024,9803,18827,20632,23693,44325
19,20,Bagalkot,31,2433,9,803,40,3236.0,9,1343,...,2522,44648,44961,89609,47824,31882,79706,15129,13587,28716
20,21,Dharwad,9,600,5,350,14,950.0,11,1343,...,4734,21221,20567,41788,10250,9594,19844,11752,7401,19153
21,22,Gadag,21,1312,5,468,26,1780.0,10,1253,...,1076,24021,18291,42312,9411,6718,16129,4225,3932,8157
22,23,Haveri,29,1996,8,836,37,2832.0,13,1287,...,2659,23366,22932,46298,9226,8721,17947,16617,19164,35781
23,24,Uttara Kannada,17,784,9,457,26,1241.0,4,235,...,372,32047,31249,63296,8001,8100,16101,6970,6405,13375
24,25,Ballari,46,5321,15,2400,61,7721.0,28,4960,...,7758,28418,30012,58430,13390,8734,22124,15063,12353,27416
25,26,Bidar,34,2289,9,740,43,3029.0,11,1223,...,5512,10944,12533,23477,3638,4188,7826,2094,2115,4209
26,27,Kalburgi,62,4405,10,760,72,5165.0,20,3201,...,251,24488,22883,47371,6979,6639,13618,29505,23805,53310
27,28,Yadgir,32,2040,6,335,38,2375.0,10,1050,...,3882,13354,13942,27296,1489,1417,2906,6456,6661,13117
28,29,Raichur,35,3858,11,1206,46,5064.0,16,2780,...,6899,25809,27452,53261,6027,6808,12835,12184,13953,26137
29,30,Koppal,26,2913,7,1147,33,4060.0,8,1351,...,2951,29214,30415,59629,6753,6939,13692,12210,9664,21874

In [69]:
final_data.to_csv(absolute_result_path, sep=';', index=False)
final_data.to_csv(absolute_dictionary_path, sep=';', index=False)

In [70]:
start = final_data.columns[2]
end = final_data.columns[-1]
for i in range(start,end):
    if i not in final_df.columns.tolist():
        print(i)