In [77]:
import tabula
import numpy as np
import pandas as pd
import os
import re
import math

In [78]:
relative_path_pdf = "../HTML/Output_html_Chapter16/kaggle/working/out/pages/"
relative_dictionary_path = "../Data/Chapter16_Data.csv"
relative_result_path = "../HTML/Output_html_Chapter16/Chapter16_Data.csv"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = os.path.join(os.getcwd(), relative_path_pdf)
absolute_dictionary_path = os.path.join(os.getcwd(), relative_dictionary_path)
absolute_result_path = os.path.join(os.getcwd(), relative_result_path)

In [79]:
os.listdir(absolute_path_pdf)

['page_1.pdf',
 'page_2.pdf',
 'page_3.pdf',
 'page_7.pdf',
 'page_5.pdf',
 'page_6.pdf',
 'page_4.pdf']

In [80]:
output_list = []

In [81]:
# Get a list of PDF files sorted by filename
pdf_files = sorted([file for file in os.listdir(absolute_path_pdf) if file.endswith(".pdf")], key=lambda x: [int(s) if s.isdigit() else s.lower() for s in re.split('(\d+)', x)])

# Iterate through all PDF files
for file in pdf_files:
    file_path = os.path.join(absolute_path_pdf, file)
    dfs = tabula.read_pdf(file_path, pages='all', stream=True)
    if dfs:
        output_list.append(dfs[0])  # Assuming you want to append the first DataFrame from each PDF

In [82]:
len(output_list)

7

In [83]:
output_list[4]

,Unnamed: 0,Unnamed: 1,16.3 ವಲಯಾರು ದುಚಯ ಬಳೆ : 2019 - 20
0,NaN,NaN,Sectorwise Electricity Consumption : 2019 - 20
1,NaN,NaN,ದುಚ ಬಳೆ (ಯ ಯೂ ಗಳ)
2,ಕ,NaN,NaN
3,NaN,ೆಗಳ,Consumption (In Million Units)
4,ಸಂ,NaN,NaN
5,NaN,NaN,ಗೃಹಬಳೆ / Domestic ೈಾೆ / Industrial ಾಜ ...
6,NaN,NaN,HT LT HT LT HT LT
7,1,2,1501 1502 1503 1504 1505 1506
8,1,ೆಳಾ,0.43 442.94 518.68 125.75 31.43 128.34
9,2,ಾಗಲೋೆ,0.00 189.39 67.28 116.01 6.40 49.69
10,3,ಜಯಪರ,235.61 235.61 122.55 36.19 71.25 60.43
11,4,ಕಲು,1.00 185.29 109.51 40.84 3.94 40.91
12,5,ೕದ,3.09 192.70 114.90 20.79 5.47 48.24
13,6,ಾಯಚೂರು,0.95 212.62 234.26 35.99 9.33 43.19
14,7,ೊಪಳ,2.67 124.40 333.62 23.29 4.64 34.80
15,8,ಗದ,3.80 116.60 21.40 16.60 2.90 28.50
16,9,ಾರಾಡ,0.33 331.07 22.31 50.74 6.48 99.26
17,10,ಉತರ ಕನಡ,0.17 262.97 104.30 20.22 9.82 63.74
18,11,ಾೇ,0.00 146.93 48.34 19.43 3.57 36.68
19,12,ಬಾ,0.95 368.65 239.00 35.43 21.62 86.80
20,13,ತದುಗ,15.55 145.60 143.79 140.38 3.81 224.43
21,14,ಾವಣೆೆ,197.80 7.11 12.57 6.31 4.85 130.95
22,15,ವಗ,0.26 268.21 131.05 35.58 17.41 70.09
23,16,ಉಡು,4.43 370.96 134.52 36.06 46.09 93.56
24,17,ಕಮಗಳರು,1.23 146.62 40.22 13.98 4.78 41.60
25,18,ತುಮಕೂರು,0.78 313.04 286.35 52.19 15.45 89.23
26,19,ೋಾರ,0.12 177.59 278.86 30.34 25.14 43.92
27,20,ೆ೦ಗಳರು(ನ),72.76 6067.00 2395.09 874.89 2203.92 1831.08
28,21,ೆ೦ಗಳರು(ಾ),1.62 231.26 562.52 74.67 92.40 77.59
29,22,ಮಂಡ,0.02 205.95 71.23 35.96 6.28 56.36
30,23,ಾಸನ,189.92 197.63 145.36 32.38 11.15 58.93
31,24,ದಣ ಕನಡ,15.81 747.24 378.36 50.81 137.26 188.58
32,25,ೊಡಗು,0.00 92.11 12.60 5.23 13.68 27.49
33,26,ೖಸೂರು,4.13 558.48 415.19 68.73 99.79 154.69
34,27,ಾಮಾಜನಗರ,0.00 103.75 20.22 5.91 4.05 26.23
35,28,ಕಬಾಪರ,0.00 61.55 12.29 16.25 0.69 16.17
36,29,ಾಮನಗರ,0.00 136.04 548.01 39.33 28.22 42.15
37,30,ಾದ,0.80 76.08 21.57 13.52 2.55 24.35
38,NaN,ಾಜ,754.23 12715.39 7545.95 2073.80 2894.37 3917.98

In [84]:
#adding header
#new_row = [1, 2,  np.nan,967,968,969,970,971,972,973,974,975,976]
#index = 0
#output_list[3].loc[index + 1:] = output_list[3].loc[index:].shift(1)
#output_list[3].loc[index] = new_row
#output_list[3]

def add_header(df_list,idx_list, new_list):
    index = 0
    for i in range(len(idx_list)):
        df_list[idx_list[i]].loc[index + 1:] = df_list[idx_list[i]].loc[index:].shift(1)
        df_list[idx_list[i]].loc[index] = new_list[i]
    return df_list

In [85]:
def find_last_index(df_col):
    pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
    for idx in range(len(df_col)):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
                    if numbers_1 and numbers_1[0] == 30:
                        return idx+1
   
    return (len(df_col) - 1)

In [86]:
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    miss_list = []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        df_col = df_col.astype(str)

        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        flag = 0
        for idx in range(len(df_col) - 1):
            #print(idx, df_col.iloc[idx])
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = re.findall(pattern, df_col.iloc[idx+1])
                    numbers_2 = [int(num) if '.' not in num else float(num) for num in numbers_2]
                    #print(numbers_2)
            if numbers_1 and numbers_2 and numbers_1[0] == 1 and numbers_2[0] == 1:
                start_index = idx
                end_index = find_last_index(df_col)
                index_list.append([start_index, end_index])
                if(end_index - start_index) != 31:
                    miss_list.append(i)
                flag=1
                i += 1
                break

        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index, miss_list

In [11]:
index_list, drop_list, fault_list = find_header(output_list)

In [12]:
fault_list

[]

In [13]:
drop_list

[]

In [14]:
index_list

[[9, 40], [7, 38], [9, 40], [8, 39], [7, 38], [8, 39], [12, 43]]

In [15]:
len(index_list)

7

In [16]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        return new_df_list
    return df_list

In [17]:
def get_final_index(df_list, index_ll, drop_index, miss_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list, miss_list = find_header(df)
        drop_index = drop_list
        miss_index = miss_list
    return df, index_ll, drop_index, miss_index

In [18]:
new_output_list, new_index_list, new_drop_list, new_fault_list = get_final_index(output_list, index_list, drop_list, fault_list)

In [19]:
new_fault_list, new_drop_list

([], [])

In [20]:
new_index_list

[[9, 40], [7, 38], [9, 40], [8, 39], [7, 38], [8, 39], [12, 43]]

In [21]:
new_output_list[4]

,Unnamed: 0,Unnamed: 1,16.3 ವಲಯಾರು ದುಚಯ ಬಳೆ : 2019 - 20
0,NaN,NaN,Sectorwise Electricity Consumption : 2019 - 20
1,NaN,NaN,ದುಚ ಬಳೆ (ಯ ಯೂ ಗಳ)
2,ಕ,NaN,NaN
3,NaN,ೆಗಳ,Consumption (In Million Units)
4,ಸಂ,NaN,NaN
5,NaN,NaN,ಗೃಹಬಳೆ / Domestic ೈಾೆ / Industrial ಾಜ ...
6,NaN,NaN,HT LT HT LT HT LT
7,1,2,1501 1502 1503 1504 1505 1506
8,1,ೆಳಾ,0.43 442.94 518.68 125.75 31.43 128.34
9,2,ಾಗಲೋೆ,0.00 189.39 67.28 116.01 6.40 49.69
10,3,ಜಯಪರ,235.61 235.61 122.55 36.19 71.25 60.43
11,4,ಕಲು,1.00 185.29 109.51 40.84 3.94 40.91
12,5,ೕದ,3.09 192.70 114.90 20.79 5.47 48.24
13,6,ಾಯಚೂರು,0.95 212.62 234.26 35.99 9.33 43.19
14,7,ೊಪಳ,2.67 124.40 333.62 23.29 4.64 34.80
15,8,ಗದ,3.80 116.60 21.40 16.60 2.90 28.50
16,9,ಾರಾಡ,0.33 331.07 22.31 50.74 6.48 99.26
17,10,ಉತರ ಕನಡ,0.17 262.97 104.30 20.22 9.82 63.74
18,11,ಾೇ,0.00 146.93 48.34 19.43 3.57 36.68
19,12,ಬಾ,0.95 368.65 239.00 35.43 21.62 86.80
20,13,ತದುಗ,15.55 145.60 143.79 140.38 3.81 224.43
21,14,ಾವಣೆೆ,197.80 7.11 12.57 6.31 4.85 130.95
22,15,ವಗ,0.26 268.21 131.05 35.58 17.41 70.09
23,16,ಉಡು,4.43 370.96 134.52 36.06 46.09 93.56
24,17,ಕಮಗಳರು,1.23 146.62 40.22 13.98 4.78 41.60
25,18,ತುಮಕೂರು,0.78 313.04 286.35 52.19 15.45 89.23
26,19,ೋಾರ,0.12 177.59 278.86 30.34 25.14 43.92
27,20,ೆ೦ಗಳರು(ನ),72.76 6067.00 2395.09 874.89 2203.92 1831.08
28,21,ೆ೦ಗಳರು(ಾ),1.62 231.26 562.52 74.67 92.40 77.59
29,22,ಮಂಡ,0.02 205.95 71.23 35.96 6.28 56.36
30,23,ಾಸನ,189.92 197.63 145.36 32.38 11.15 58.93
31,24,ದಣ ಕನಡ,15.81 747.24 378.36 50.81 137.26 188.58
32,25,ೊಡಗು,0.00 92.11 12.60 5.23 13.68 27.49
33,26,ೖಸೂರು,4.13 558.48 415.19 68.73 99.79 154.69
34,27,ಾಮಾಜನಗರ,0.00 103.75 20.22 5.91 4.05 26.23
35,28,ಕಬಾಪರ,0.00 61.55 12.29 16.25 0.69 16.17
36,29,ಾಮನಗರ,0.00 136.04 548.01 39.33 28.22 42.15
37,30,ಾದ,0.80 76.08 21.57 13.52 2.55 24.35
38,NaN,ಾಜ,754.23 12715.39 7545.95 2073.80 2894.37 3917.98

In [22]:
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(ind_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(ind_list[idx][0], ind_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [23]:
corrected_list = remove_header(new_output_list, new_index_list)

In [24]:
corrected_list[4]

   Unnamed: 0     Unnamed: 1         16.3 ವಲಯಾರು ದುಚಯ ಬಳೆ : 2019 - 20
0           1              2                 1501 1502 1503 1504 1505 1506
1           1         ೆಳಾ        0.43 442.94 518.68 125.75 31.43 128.34
2           2       ಾಗಲೋೆ           0.00 189.39 67.28 116.01 6.40 49.69
3           3         ಜಯಪರ        235.61 235.61 122.55 36.19 71.25 60.43
4           4         ಕಲು           1.00 185.29 109.51 40.84 3.94 40.91
5           5           ೕದ           3.09 192.70 114.90 20.79 5.47 48.24
6           6        ಾಯಚೂರು           0.95 212.62 234.26 35.99 9.33 43.19
7           7          ೊಪಳ           2.67 124.40 333.62 23.29 4.64 34.80
8           8            ಗದ            3.80 116.60 21.40 16.60 2.90 28.50
9           9         ಾರಾಡ            0.33 331.07 22.31 50.74 6.48 99.26
10         10       ಉತರ ಕನಡ           0.17 262.97 104.30 20.22 9.82 63.74
11         11          ಾೇ            0.00 146.93 48.34 19.43 3.57 36.68
12         12          ಬಾ          0.95 368.65 239.00 35.43 21.62 86.80
13         13        ತದುಗ        15.55 145.60 143.79 140.38 3.81 224.43
14         14       ಾವಣೆೆ            197.80 7.11 12.57 6.31 4.85 130.95
15         15           ವಗ          0.26 268.21 131.05 35.58 17.41 70.09
16         16           ಉಡು          4.43 370.96 134.52 36.06 46.09 93.56
17         17      ಕಮಗಳರು            1.23 146.62 40.22 13.98 4.78 41.60
18         18        ತುಮಕೂರು          0.78 313.04 286.35 52.19 15.45 89.23
19         19          ೋಾರ          0.12 177.59 278.86 30.34 25.14 43.92
20         20    ೆ೦ಗಳರು(ನ)  72.76 6067.00 2395.09 874.89 2203.92 1831.08
21         21  ೆ೦ಗಳರು(ಾ)          1.62 231.26 562.52 74.67 92.40 77.59
22         22           ಮಂಡ            0.02 205.95 71.23 35.96 6.28 56.36
23         23           ಾಸನ        189.92 197.63 145.36 32.38 11.15 58.93
24         24       ದಣ ಕನಡ       15.81 747.24 378.36 50.81 137.26 188.58
25         25          ೊಡಗು             0.00 92.11 12.60 5.23 13.68 27.49
26         26         ೖಸೂರು         4.13 558.48 415.19 68.73 99.79 154.69
27         27      ಾಮಾಜನಗರ             0.00 103.75 20.22 5.91 4.05 26.23
28         28     ಕಬಾಪರ             0.00 61.55 12.29 16.25 0.69 16.17
29         29         ಾಮನಗರ          0.00 136.04 548.01 39.33 28.22 42.15
30         30          ಾದ             0.80 76.08 21.57 13.52 2.55 24.35

In [25]:
len(corrected_list)

7

In [26]:
def check_nan(df_col):
    nan_columns = df_col[df_col.isna()].index.tolist()
    if len(nan_columns) == len(df_col):
        return []
    return nan_columns

In [27]:
def set_header_row(df_list_all):
    df_list = df_list_all
    new_df_list = []
    for df in df_list:
        header_row = df.iloc[0].tolist()
        for idx in range(len(header_row)):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx+1
                while j<len(header_row) and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j+=1
                if j<len(header_row) and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[0]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[1:])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        new_df_list.append(df)
    return new_df_list

In [28]:
corrected_header = set_header_row(corrected_list)

In [29]:
len(corrected_header)

7

In [30]:
corrected_header[4]

   Unnamed: 0     Unnamed: 1         16.3 ವಲಯಾರು ದುಚಯ ಬಳೆ : 2019 - 20
0           1              2                 1501 1502 1503 1504 1505 1506
1           1         ೆಳಾ        0.43 442.94 518.68 125.75 31.43 128.34
2           2       ಾಗಲೋೆ           0.00 189.39 67.28 116.01 6.40 49.69
3           3         ಜಯಪರ        235.61 235.61 122.55 36.19 71.25 60.43
4           4         ಕಲು           1.00 185.29 109.51 40.84 3.94 40.91
5           5           ೕದ           3.09 192.70 114.90 20.79 5.47 48.24
6           6        ಾಯಚೂರು           0.95 212.62 234.26 35.99 9.33 43.19
7           7          ೊಪಳ           2.67 124.40 333.62 23.29 4.64 34.80
8           8            ಗದ            3.80 116.60 21.40 16.60 2.90 28.50
9           9         ಾರಾಡ            0.33 331.07 22.31 50.74 6.48 99.26
10         10       ಉತರ ಕನಡ           0.17 262.97 104.30 20.22 9.82 63.74
11         11          ಾೇ            0.00 146.93 48.34 19.43 3.57 36.68
12         12          ಬಾ          0.95 368.65 239.00 35.43 21.62 86.80
13         13        ತದುಗ        15.55 145.60 143.79 140.38 3.81 224.43
14         14       ಾವಣೆೆ            197.80 7.11 12.57 6.31 4.85 130.95
15         15           ವಗ          0.26 268.21 131.05 35.58 17.41 70.09
16         16           ಉಡು          4.43 370.96 134.52 36.06 46.09 93.56
17         17      ಕಮಗಳರು            1.23 146.62 40.22 13.98 4.78 41.60
18         18        ತುಮಕೂರು          0.78 313.04 286.35 52.19 15.45 89.23
19         19          ೋಾರ          0.12 177.59 278.86 30.34 25.14 43.92
20         20    ೆ೦ಗಳರು(ನ)  72.76 6067.00 2395.09 874.89 2203.92 1831.08
21         21  ೆ೦ಗಳರು(ಾ)          1.62 231.26 562.52 74.67 92.40 77.59
22         22           ಮಂಡ            0.02 205.95 71.23 35.96 6.28 56.36
23         23           ಾಸನ        189.92 197.63 145.36 32.38 11.15 58.93
24         24       ದಣ ಕನಡ       15.81 747.24 378.36 50.81 137.26 188.58
25         25          ೊಡಗು             0.00 92.11 12.60 5.23 13.68 27.49
26         26         ೖಸೂರು         4.13 558.48 415.19 68.73 99.79 154.69
27         27      ಾಮಾಜನಗರ             0.00 103.75 20.22 5.91 4.05 26.23
28         28     ಕಬಾಪರ             0.00 61.55 12.29 16.25 0.69 16.17
29         29         ಾಮನಗರ          0.00 136.04 548.01 39.33 28.22 42.15
30         30          ಾದ             0.80 76.08 21.57 13.52 2.55 24.35

In [31]:
def update_header(df_list,idx_list, new_list):
    index = 0
    for i in range(len(idx_list)):
        df_list[idx_list[i]].loc[index] = new_list[i]
    return df_list

In [32]:
i_list = [4]
new_value_list = [['1','2 1431 1432 1433 1434 1435 1436', '1437','1438']]

In [33]:
#corrected_header = update_header(corrected_header,i_list, new_value_list)

In [34]:
len(corrected_header)

7

In [35]:
corrected_header[4]

   Unnamed: 0     Unnamed: 1         16.3 ವಲಯಾರು ದುಚಯ ಬಳೆ : 2019 - 20
0           1              2                 1501 1502 1503 1504 1505 1506
1           1         ೆಳಾ        0.43 442.94 518.68 125.75 31.43 128.34
2           2       ಾಗಲೋೆ           0.00 189.39 67.28 116.01 6.40 49.69
3           3         ಜಯಪರ        235.61 235.61 122.55 36.19 71.25 60.43
4           4         ಕಲು           1.00 185.29 109.51 40.84 3.94 40.91
5           5           ೕದ           3.09 192.70 114.90 20.79 5.47 48.24
6           6        ಾಯಚೂರು           0.95 212.62 234.26 35.99 9.33 43.19
7           7          ೊಪಳ           2.67 124.40 333.62 23.29 4.64 34.80
8           8            ಗದ            3.80 116.60 21.40 16.60 2.90 28.50
9           9         ಾರಾಡ            0.33 331.07 22.31 50.74 6.48 99.26
10         10       ಉತರ ಕನಡ           0.17 262.97 104.30 20.22 9.82 63.74
11         11          ಾೇ            0.00 146.93 48.34 19.43 3.57 36.68
12         12          ಬಾ          0.95 368.65 239.00 35.43 21.62 86.80
13         13        ತದುಗ        15.55 145.60 143.79 140.38 3.81 224.43
14         14       ಾವಣೆೆ            197.80 7.11 12.57 6.31 4.85 130.95
15         15           ವಗ          0.26 268.21 131.05 35.58 17.41 70.09
16         16           ಉಡು          4.43 370.96 134.52 36.06 46.09 93.56
17         17      ಕಮಗಳರು            1.23 146.62 40.22 13.98 4.78 41.60
18         18        ತುಮಕೂರು          0.78 313.04 286.35 52.19 15.45 89.23
19         19          ೋಾರ          0.12 177.59 278.86 30.34 25.14 43.92
20         20    ೆ೦ಗಳರು(ನ)  72.76 6067.00 2395.09 874.89 2203.92 1831.08
21         21  ೆ೦ಗಳರು(ಾ)          1.62 231.26 562.52 74.67 92.40 77.59
22         22           ಮಂಡ            0.02 205.95 71.23 35.96 6.28 56.36
23         23           ಾಸನ        189.92 197.63 145.36 32.38 11.15 58.93
24         24       ದಣ ಕನಡ       15.81 747.24 378.36 50.81 137.26 188.58
25         25          ೊಡಗು             0.00 92.11 12.60 5.23 13.68 27.49
26         26         ೖಸೂರು         4.13 558.48 415.19 68.73 99.79 154.69
27         27      ಾಮಾಜನಗರ             0.00 103.75 20.22 5.91 4.05 26.23
28         28     ಕಬಾಪರ             0.00 61.55 12.29 16.25 0.69 16.17
29         29         ಾಮನಗರ          0.00 136.04 548.01 39.33 28.22 42.15
30         30          ಾದ             0.80 76.08 21.57 13.52 2.55 24.35

In [36]:
def set_index_col(df_list):
    new_df_list = []
    for df in df_list:
        nan_col = check_nan(df.iloc[:,0])
        if len(df.index) > 31 and len(nan_col)>1:
            for idx in range(len(nan_col)-1):
                if nan_col[idx]+2 == nan_col[idx+1] and nan_col[idx]+1 not in nan_col:
                    for i in range(df.shape[1]):
                        p = nan_col[idx]
                        q = nan_col[idx]+1
                        r = nan_col[idx+1]
                        if i>0 and not (isinstance(df.iloc[p,i], float) and math.isnan(df.iloc[p,i])) and  not (isinstance(df.iloc[r,i], float) and math.isnan(df.iloc[r,i])):
                            if (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i]])
                            elif not (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i], df.iloc[q,i]])
                    idx+=1
            df = df.drop(nan_col)
        df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [37]:
corrected_index = set_index_col(corrected_header)

In [38]:
len(corrected_index)

7

In [39]:
corrected_index[3]

,Unnamed: 0,Unnamed: 1,16.2 31-03-2020ರ ಅಂತೆ ವಲಯಾರು ದುಚಯ ಬಳೆಾರರ ಸಂೆ,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,2,1495 1496 1497 1498,1499,NaN,1500
1,1,Belagavi,14401 208 10648 1170,1620474,NaN,1621644
2,2,Bagalkot,5774 102 6918 461,547345,NaN,547806
3,3,Vijayapura,3523 8 5729 277,736956,NaN,737233
4,4,Kalburgi,3064 40 3882 321,519247,NaN,519568
5,5,Bidar,5792 41 58212 266,493521,NaN,493787
6,6,Raichur,5133 98 10938 402,483091,NaN,483493
7,7,Koppal,3229 58 45969 518,398902,NaN,399420
8,8,Gadag,4578 17 10276 226,380661,NaN,380887
9,9,Dharwad,5461 69 15502 752,626760,NaN,627512
10,10,Uttara Kannada,3859 61 24197 280,557309,NaN,557589
11,11,Haveri,7535 22 90161 290,580069,NaN,580359
12,12,Ballari,6695 121 19943 953,804209,NaN,805162
13,13,Chitradurga,6492 34 3219 187,542572,NaN,542759
14,14,Davanagere,16476 22 13052 569,498177,NaN,498746
15,15,Shivamogga,5006 7 4971 402,674353,NaN,674755
16,16,Udupi,1911 67 4344 625,479487,NaN,480112
17,17,Chikkamagaluru,4238 38 2486 158,451481,NaN,451639
18,18,Tumakuru,14626 90 36934 870,1314493,NaN,1315363
19,19,Kolara,7603 17 4022 782,587614,NaN,588396
20,20,Bengaluru(U),25344 1828 592901 13413,7035495,NaN,7048908
21,21,Bengaluru(R),5472 95 33777 1317,657449,NaN,658766
22,22,Mandya,5200 47 2871 340,643968,NaN,644308
23,23,Hassan,7087 92 7012 408,740728,NaN,741136
24,24,Dakshina Kannada,4850 155 6052 1077,835197,NaN,836274
25,25,Kodagu,1568 31 6603 164,219434,NaN,219598
26,26,Mysuru,8841 163 8550 1265,1155105,NaN,1156370
27,27,Chamarajanagara,5038 14 6723 154,377722,NaN,377876
28,28,Chikkaballapura,6952 38 15241 271,558542,NaN,558813
29,29,Ramanagara,5459 261 32895 784,414766,NaN,415550
30,30,Yadgir,1830 0 69304 110,289527,NaN,289637

In [40]:
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = re.findall(pattern, df_col.iloc[0])
                numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                #numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)

                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)
        elif df_col.dtype == float:
            df.iloc[:,0] = df.iloc[:,0].astype(int).astype(str)
            new_df.append(df)
    return new_df

In [41]:
new_list = first_column_split(corrected_index)

In [42]:
len(new_list)

7

In [43]:
new_list[3]

,Unnamed: 0,Unnamed: 1,16.2 31-03-2020ರ ಅಂತೆ ವಲಯಾರು ದುಚಯ ಬಳೆಾರರ ಸಂೆ,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,2,1495 1496 1497 1498,1499,NaN,1500
1,1,Belagavi,14401 208 10648 1170,1620474,NaN,1621644
2,2,Bagalkot,5774 102 6918 461,547345,NaN,547806
3,3,Vijayapura,3523 8 5729 277,736956,NaN,737233
4,4,Kalburgi,3064 40 3882 321,519247,NaN,519568
5,5,Bidar,5792 41 58212 266,493521,NaN,493787
6,6,Raichur,5133 98 10938 402,483091,NaN,483493
7,7,Koppal,3229 58 45969 518,398902,NaN,399420
8,8,Gadag,4578 17 10276 226,380661,NaN,380887
9,9,Dharwad,5461 69 15502 752,626760,NaN,627512
10,10,Uttara Kannada,3859 61 24197 280,557309,NaN,557589
11,11,Haveri,7535 22 90161 290,580069,NaN,580359
12,12,Ballari,6695 121 19943 953,804209,NaN,805162
13,13,Chitradurga,6492 34 3219 187,542572,NaN,542759
14,14,Davanagere,16476 22 13052 569,498177,NaN,498746
15,15,Shivamogga,5006 7 4971 402,674353,NaN,674755
16,16,Udupi,1911 67 4344 625,479487,NaN,480112
17,17,Chikkamagaluru,4238 38 2486 158,451481,NaN,451639
18,18,Tumakuru,14626 90 36934 870,1314493,NaN,1315363
19,19,Kolara,7603 17 4022 782,587614,NaN,588396
20,20,Bengaluru(U),25344 1828 592901 13413,7035495,NaN,7048908
21,21,Bengaluru(R),5472 95 33777 1317,657449,NaN,658766
22,22,Mandya,5200 47 2871 340,643968,NaN,644308
23,23,Hassan,7087 92 7012 408,740728,NaN,741136
24,24,Dakshina Kannada,4850 155 6052 1077,835197,NaN,836274
25,25,Kodagu,1568 31 6603 164,219434,NaN,219598
26,26,Mysuru,8841 163 8550 1265,1155105,NaN,1156370
27,27,Chamarajanagara,5038 14 6723 154,377722,NaN,377876
28,28,Chikkaballapura,6952 38 15241 271,558542,NaN,558813
29,29,Ramanagara,5459 261 32895 784,414766,NaN,415550
30,30,Yadgir,1830 0 69304 110,289527,NaN,289637

In [44]:
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [45]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [46]:
#replaced_list = replace_with_nan(new_list)
replaced_list = new_list

In [47]:
replaced_list[3]

,Unnamed: 0,Unnamed: 1,16.2 31-03-2020ರ ಅಂತೆ ವಲಯಾರು ದುಚಯ ಬಳೆಾರರ ಸಂೆ,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,2,1495 1496 1497 1498,1499,NaN,1500
1,1,Belagavi,14401 208 10648 1170,1620474,NaN,1621644
2,2,Bagalkot,5774 102 6918 461,547345,NaN,547806
3,3,Vijayapura,3523 8 5729 277,736956,NaN,737233
4,4,Kalburgi,3064 40 3882 321,519247,NaN,519568
5,5,Bidar,5792 41 58212 266,493521,NaN,493787
6,6,Raichur,5133 98 10938 402,483091,NaN,483493
7,7,Koppal,3229 58 45969 518,398902,NaN,399420
8,8,Gadag,4578 17 10276 226,380661,NaN,380887
9,9,Dharwad,5461 69 15502 752,626760,NaN,627512
10,10,Uttara Kannada,3859 61 24197 280,557309,NaN,557589
11,11,Haveri,7535 22 90161 290,580069,NaN,580359
12,12,Ballari,6695 121 19943 953,804209,NaN,805162
13,13,Chitradurga,6492 34 3219 187,542572,NaN,542759
14,14,Davanagere,16476 22 13052 569,498177,NaN,498746
15,15,Shivamogga,5006 7 4971 402,674353,NaN,674755
16,16,Udupi,1911 67 4344 625,479487,NaN,480112
17,17,Chikkamagaluru,4238 38 2486 158,451481,NaN,451639
18,18,Tumakuru,14626 90 36934 870,1314493,NaN,1315363
19,19,Kolara,7603 17 4022 782,587614,NaN,588396
20,20,Bengaluru(U),25344 1828 592901 13413,7035495,NaN,7048908
21,21,Bengaluru(R),5472 95 33777 1317,657449,NaN,658766
22,22,Mandya,5200 47 2871 340,643968,NaN,644308
23,23,Hassan,7087 92 7012 408,740728,NaN,741136
24,24,Dakshina Kannada,4850 155 6052 1077,835197,NaN,836274
25,25,Kodagu,1568 31 6603 164,219434,NaN,219598
26,26,Mysuru,8841 163 8550 1265,1155105,NaN,1156370
27,27,Chamarajanagara,5038 14 6723 154,377722,NaN,377876
28,28,Chikkaballapura,6952 38 15241 271,558542,NaN,558813
29,29,Ramanagara,5459 261 32895 784,414766,NaN,415550
30,30,Yadgir,1830 0 69304 110,289527,NaN,289637

In [48]:
len(replaced_list)

7

In [49]:
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        for colName, colData in df.items():
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = [int(x) for x in re.findall(pattern, colData.values[0])]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        colData = colData.str.replace(r'\s+', ' ', regex=True)
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)

        new_df_list.append(new_df)
    return new_df_list

In [50]:
separated_list = all_column_split(replaced_list)

In [51]:
len(separated_list)

7

In [52]:
separated_list[2]

   Unnamed: 0        Unnamed: 1       0     1       2 Unnamed: 2 Unnamed: 3
0           1                 2    1490  1491    1492       1493       1494
1           1          Belagavi  107768    92  371169       6753        154
2           2          Bagalkot   51909     6  148766       3018         34
3           3        Vijayapura   51146    10  201435       3152         42
4           4          Kalburgi   35352     5   77008       1853         20
5           5             Bidar   44397     0   81525       1859         19
6           6           Raichur   40061     0   55779       4380         83
7           7            Koppal   31391    15   63129       2111         50
8           8             Gadag   26835    29   39931       1816         23
9           9           Dharwad   61359     8   34760       3188         14
10         10    Uttara Kannada   44281     0   76072       3710         32
11         11            Haveri   36765     6  100235       3045         52
12         12           Ballari   65894     0  111606       4476         34
13         13       Chitradurga   32602     0  125720       4186          0
14         14        Davanagere   43713    33   77834       5064         29
15         15        Shivamogga   56328    22   93039       6477         36
16         16             Udupi   46211     0   75031       5586         12
17         17    Chikkamagaluru   34127     8   66309       3472         10
18         18          Tumakuru   84537     6  265729       8604         51
19         19            Kolara   51726     9  101584       4252         16
20         20      Bengaluru(U)  778272    10   39122      28737         84
21         21      Bengaluru(R)   52695     2   65853       4952          2
22         22            Mandya   43831    42  105103       3844         37
23         23            Hassan   51544     0  116980       5066         28
24         24  Dakshina Kannada   83751     0  114981       9133         54
25         25            Kodagu   21050     0   12859       1347          8
26         26            Mysuru   99775     0  109310      11487         81
27         27   Chamarajanagara   23520     4   61156       2269         16
28         28   Chikkaballapura   40582     1  100308       3617          9
29         29        Ramanagara   23176     0   76131       4586         13
30         30            Yadgir   22647    14   34479       1031         12

In [53]:
def check_single_column(df_list):
    new_df_list = []
    for df in df_list:
        df.fillna(value="", inplace=True)
        num_col = len(df.columns)
        for idx in range(num_col-1, 1, -1):
            cardinality = len(str(df.iloc[0,idx]).split())
            #print("idx", idx, df.iloc[0,idx], cardinality)
            for i in range(len(df.iloc[:,idx])):
                if i>0:
                    cell_car = len(str(df.iloc[i,idx]).split())
                    #print("i", i, df.iloc[i,idx], cell_car)
                    if cell_car > cardinality:
                       
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("more", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col1:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col2:
                                df.iloc[i, idx-1] = ' '.join(words_col2) + ' ' + words_col1[0]
                            else:
                                df.iloc[i, idx-1] = words_col1[0]

                            # Update the first column with the remaining words
                            df.iloc[i, idx] = ' '.join(words_col1[1:])
                        
                    if cell_car < cardinality:
                        
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("less", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col2:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col1:
                                df.iloc[i, idx] = words_col2[-1] + ' ' + ' '.join(words_col1)
                            else:
                                df.iloc[i, idx] = words_col2[-1]

                            # Update the first column with the remaining words
                            df.iloc[i, idx-1] = ' '.join(words_col2[:-1])
                        if df.iloc[i, idx-1]==' ':
                            df.iloc[i, idx-1] = ''
                        
        new_df_list.append(df)
    return new_df_list

In [54]:
updated_list = check_single_column(separated_list)

In [55]:
len(updated_list)

7

In [56]:
updated_list[4]

,Unnamed: 0,Unnamed: 1,0,1,2,3,4,5
0,1,2,1501,1502,1503,1504,1505,1506
1,1,ೆಳಾ,0.43,442.94,518.68,125.75,31.43,128.34
2,2,ಾಗಲೋೆ,0.00,189.39,67.28,116.01,6.40,49.69
3,3,ಜಯಪರ,235.61,235.61,122.55,36.19,71.25,60.43
4,4,ಕಲು,1.00,185.29,109.51,40.84,3.94,40.91
5,5,ೕದ,3.09,192.70,114.90,20.79,5.47,48.24
6,6,ಾಯಚೂರು,0.95,212.62,234.26,35.99,9.33,43.19
7,7,ೊಪಳ,2.67,124.40,333.62,23.29,4.64,34.80
8,8,ಗದ,3.80,116.60,21.40,16.60,2.90,28.50
9,9,ಾರಾಡ,0.33,331.07,22.31,50.74,6.48,99.26
10,10,ಉತರ ಕನಡ,0.17,262.97,104.30,20.22,9.82,63.74
11,11,ಾೇ,0.00,146.93,48.34,19.43,3.57,36.68
12,12,ಬಾ,0.95,368.65,239.00,35.43,21.62,86.80
13,13,ತದುಗ,15.55,145.60,143.79,140.38,3.81,224.43
14,14,ಾವಣೆೆ,197.80,7.11,12.57,6.31,4.85,130.95
15,15,ವಗ,0.26,268.21,131.05,35.58,17.41,70.09
16,16,ಉಡು,4.43,370.96,134.52,36.06,46.09,93.56
17,17,ಕಮಗಳರು,1.23,146.62,40.22,13.98,4.78,41.60
18,18,ತುಮಕೂರು,0.78,313.04,286.35,52.19,15.45,89.23
19,19,ೋಾರ,0.12,177.59,278.86,30.34,25.14,43.92
20,20,ೆ೦ಗಳರು(ನ),72.76,6067.00,2395.09,874.89,2203.92,1831.08
21,21,ೆ೦ಗಳರು(ಾ),1.62,231.26,562.52,74.67,92.40,77.59
22,22,ಮಂಡ,0.02,205.95,71.23,35.96,6.28,56.36
23,23,ಾಸನ,189.92,197.63,145.36,32.38,11.15,58.93
24,24,ದಣ ಕನಡ,15.81,747.24,378.36,50.81,137.26,188.58
25,25,ೊಡಗು,0.00,92.11,12.60,5.23,13.68,27.49
26,26,ೖಸೂರು,4.13,558.48,415.19,68.73,99.79,154.69
27,27,ಾಮಾಜನಗರ,0.00,103.75,20.22,5.91,4.05,26.23
28,28,ಕಬಾಪರ,0.00,61.55,12.29,16.25,0.69,16.17
29,29,ಾಮನಗರ,0.00,136.04,548.01,39.33,28.22,42.15
30,30,ಾದ,0.80,76.08,21.57,13.52,2.55,24.35

In [57]:
len(updated_list)

7

In [58]:
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [59]:
final_list = reset_header(updated_list)

In [60]:
final_list[0]

0    1              2    1478  1479  1480    1481 1482 1483  1484
0    1         ೆಳಾ  226181  1289   634  379295    0    0   854
1    2       ಾಗಲೋೆ   84675   619   423  148772    0    0   602
2    3         ಜಯಪರ  107491   692   394  201445    0    0  1566
3    4         ಕಲು  152607  1092   262   91959    0    0   278
4    5           ೕದ   90608   607   105   81785    0    0     0
5    6        ಾಯಚೂರು   90024   884    93   56473    0    0   277
6    7          ೊಪಳ   80351   629   159   63260    0    0   218
7    8            ಗದ   83596   341   214   39070    0    1    56
8    9         ಾರಾಡ   68634   379    34   34760    0    0  1806
9   10       ಉತರ ಕನಡ   50070  1289  7389   76068    0    2  1639
10  11          ಾೇ  128641   698     7  100235    0    0     0
11  12          ಬಾ  145904   993   298   98442    0    0   541
12  13        ತದುಗ  124196  1065   566  129948    0    0     0
13  14       ಾವಣೆೆ  126377   968   782  130605    0    0     0
14  15           ವಗ   93375  1531  2223   95737    0    0  1898
15  16           ಉಡು    8785   253  3927   74906    0    0   127
16  17      ಕಮಗಳರು   57255  1130  3793   66309    0    1  2637
17  18        ತುಮಕೂರು  165281  2715  3514  265729    0    0     0
18  19          ೋಾರ   92800  1731   142  101584    0    0     0
19  20    ೆ೦ಗಳರು(ನ)   24346   562   120  103254    0    0     0
20  21  ೆ೦ಗಳರು(ಾ)   55254  1507    29   65853    0    0     0
21  22           ಮಂಡ  112252  1370   786  106218    0    0   194
22  23           ಾಸನ  110702  2576  1509  110944    0    0   682
23  24       ದಣ ಕನಡ   25365   331  4284  114981    0    0  1737
24  25          ೊಡಗು   15634   296   351   12859    0    4   101
25  26         ೖಸೂರು  171453  1336  1687  109952    0   10   667
26  27      ಾಮಾಜನಗರ   82165   509   412   61156    0    6   224
27  28     ಕಬಾಪರ  118511  1513   245  100348    0    0     0
28  29         ಾಮನಗರ   61609  1164   833   76131    0    0     0
29  30          ಾದ   68366   519   126   34479    0    0   819

In [61]:
def get_empty_col(df_list):
    index_list=[]
    for i in range(len(df_list)):
        empty_columns = df_list[i].columns[df_list[i].isna().all()].tolist()
        if len(empty_columns) > 0:
            index_list.append([i,empty_columns])
    return index_list

In [62]:
empty_col = get_empty_col(final_list)
empty_col

[]

In [63]:
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [64]:
final_df = concat_dataframe(final_list)

In [65]:
final_df

,1,2,1478,1479,1480,1481,1482,1483,1484,1485,...,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520
0,1,ೆಳಾ,226181,1289,634,379295,0,0,854,5,...,73.58,74.17,7.30,745.56,2581.30,3326.86,53.02,46388.78,184049.14,230437.92
1,2,ಾಗಲೋೆ,84675,619,423,148772,0,0,602,0,...,52.81,19.44,36.03,144.26,1957.56,2101.82,73.15,8028.82,92219.32,100248.14
2,3,ಜಯಪರ,107491,692,394,201445,0,0,1566,0,...,43.28,6.66,6.00,1982.03,1790.08,3772.11,76.12,20556.36,126156.94,146713.30
3,4,ಕಲು,152607,1092,262,91959,0,0,278,2,...,49.05,22.79,20.26,154.32,799.16,953.48,45.75,7076.75,28331.27,35408.02
4,5,ೕದ,90608,607,105,81785,0,0,0,1,...,72.24,5.40,29.37,140.50,780.59,921.09,39.65,9902.65,54616.84,64519.49
5,6,ಾಯಚೂರು,90024,884,93,56473,0,0,277,0,...,58.09,10.43,107.80,276.58,1001.46,1278.04,42.00,111780.55,11201.19,122981.74
6,7,ೊಪಳ,80351,629,159,63260,0,0,218,20,...,27.39,16.60,20.56,366.01,823.25,1189.26,48.32,38528.89,50955.57,89484.46
7,8,ಗದ,83596,341,214,39070,0,1,56,24,...,25.30,6.50,1.70,102.30,343.40,445.70,38.77,6644.10,24442.40,31086.50
8,9,ಾರಾಡ,68634,379,34,34760,0,0,1806,5,...,3.24,2.27,333.42,33.15,971.69,1004.84,12.96,51858.08,26635.71,78493.79
9,10,ಉತರ ಕನಡ,50070,1289,7389,76068,0,2,1639,2,...,15.22,5.01,9.69,134.29,558.13,692.42,24.11,15421.11,40567.06,55988.17
10,11,ಾೇ,128641,698,7,100235,0,0,0,0,...,67.11,6.48,66.94,80.12,875.24,955.36,54.62,32078.19,26290.52,58368.71
11,12,ಬಾ,145904,993,298,98442,0,0,541,16,...,116.69,35.44,139.89,319.26,1564.75,1884.01,37.96,36879.46,98422.22,135301.68
12,13,ತದುಗ,124196,1065,566,129948,0,0,0,12,...,65.66,2.76,91.57,634.54,2035.16,2669.70,62.17,4264.17,49732.41,53996.58
13,14,ಾವಣೆೆ,126377,968,782,130605,0,0,0,27,...,78.44,11.23,11.66,345.31,511.47,856.78,25.41,21235.05,49548.44,70783.49
14,15,ವಗ,93375,1531,2223,95737,0,0,1898,61,...,36.71,54.18,3.02,233.28,1238.81,1472.09,54.65,22473.60,79296.33,101769.93
15,16,ಉಡು,8785,253,3927,74906,0,0,127,7,...,13.78,25.87,8.31,218.65,653.39,872.04,14.16,21877.89,47589.31,69467.20
16,17,ಕಮಗಳರು,57255,1130,3793,66309,0,1,2637,4,...,22.86,35.96,1.44,126.94,692.99,819.93,59.83,8181.10,45733.57,53914.67
17,18,ತುಮಕೂರು,165281,2715,3514,265729,0,0,0,8,...,205.57,10.30,4.08,329.91,2859.02,3188.93,67.41,30142.33,132304.97,162447.30
18,19,ೋಾರ,92800,1731,142,101584,0,0,0,1,...,302.33,1.92,471.22,801.01,2054.71,2855.72,51.62,17915.57,43283.40,61198.97
19,20,ೆ೦ಗಳರು(ನ),24346,562,120,103254,0,0,0,378,...,207.70,355.92,181.53,5417.92,9806.42,15224.34,2.24,584766.98,793325.47,1378092.45
20,21,ೆ೦ಗಳರು(ಾ),55254,1507,29,65853,0,0,0,10,...,139.61,17.39,8.67,674.66,1126.92,1801.58,31.72,63592.94,64644.29,128237.23
21,22,ಮಂಡ,112252,1370,786,106218,0,0,194,1,...,63.88,8.55,2.84,440.01,1425.65,1865.66,56.37,29454.83,88292.53,117747.36
22,23,ಾಸನ,110702,2576,1509,110944,0,0,682,0,...,42.50,53.54,4.25,399.97,1052.14,1452.11,48.06,117264.81,67495.04,184759.85
23,24,ದಣ ಕನಡ,25365,331,4284,114981,0,0,1737,42,...,58.65,96.64,11.23,674.84,1447.99,2122.83,17.09,63929.76,106775.81,170705.57
24,25,ೊಡಗು,15634,296,351,12859,0,4,101,0,...,13.91,3.29,1.81,33.33,182.50,215.83,18.03,3482.93,11164.41,14647.34
25,26,ೖಸೂರು,171453,1336,1687,109952,0,10,667,19,...,108.83,69.57,15.11,671.60,1638.38,2309.98,28.42,63736.73,117050.46,180787.19
26,27,ಾಮಾಜನಗರ,82165,509,412,61156,0,6,224,0,...,32.99,1.31,1.69,53.61,687.95,741.56,70.97,24106.21,21081.76,45187.97
27,28,ಕಬಾಪರ,118511,1513,245,100348,0,0,0,0,...,105.37,1.31,9.55,14.72,618.83,633.55,62.98,1421.52,25639.07,27060.59
28,29,ಾಮನಗರ,61609,1164,833,76131,0,0,0,0,...,99.71,34.74,11.50,911.24,931.34,1842.58,31.48,51366.02,50312.56,101678.58
29,30,ಾದ,68366,519,126,34479,0,0,819,14,...,14.23,0.00,33.71,62.76,515.15,577.91,63.29,3949.55,33119.08,37068.63

In [66]:
final_df.columns = final_df.columns.astype(int)

In [67]:
final_df[2]

0            ೆಳಾ
1          ಾಗಲೋೆ
2            ಜಯಪರ
3            ಕಲು
4              ೕದ
5           ಾಯಚೂರು
6             ೊಪಳ
7               ಗದ
8            ಾರಾಡ
9          ಉತರ ಕನಡ
10            ಾೇ
11            ಬಾ
12          ತದುಗ
13         ಾವಣೆೆ
14             ವಗ
15             ಉಡು
16        ಕಮಗಳರು
17          ತುಮಕೂರು
18            ೋಾರ
19      ೆ೦ಗಳರು(ನ)
20    ೆ೦ಗಳರು(ಾ)
21             ಮಂಡ
22             ಾಸನ
23         ದಣ ಕನಡ
24            ೊಡಗು
25           ೖಸೂರು
26        ಾಮಾಜನಗರ
27       ಕಬಾಪರ
28           ಾಮನಗರ
29            ಾದ
Name: 2, dtype: object

In [68]:
final_df = final_df.reindex(sorted(final_df.columns, key=int), axis=1)

In [69]:
final_df

,1,2,1478,1479,1480,1481,1482,1483,1484,1485,...,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520
0,1,ೆಳಾ,226181,1289,634,379295,0,0,854,5,...,73.58,74.17,7.30,745.56,2581.30,3326.86,53.02,46388.78,184049.14,230437.92
1,2,ಾಗಲೋೆ,84675,619,423,148772,0,0,602,0,...,52.81,19.44,36.03,144.26,1957.56,2101.82,73.15,8028.82,92219.32,100248.14
2,3,ಜಯಪರ,107491,692,394,201445,0,0,1566,0,...,43.28,6.66,6.00,1982.03,1790.08,3772.11,76.12,20556.36,126156.94,146713.30
3,4,ಕಲು,152607,1092,262,91959,0,0,278,2,...,49.05,22.79,20.26,154.32,799.16,953.48,45.75,7076.75,28331.27,35408.02
4,5,ೕದ,90608,607,105,81785,0,0,0,1,...,72.24,5.40,29.37,140.50,780.59,921.09,39.65,9902.65,54616.84,64519.49
5,6,ಾಯಚೂರು,90024,884,93,56473,0,0,277,0,...,58.09,10.43,107.80,276.58,1001.46,1278.04,42.00,111780.55,11201.19,122981.74
6,7,ೊಪಳ,80351,629,159,63260,0,0,218,20,...,27.39,16.60,20.56,366.01,823.25,1189.26,48.32,38528.89,50955.57,89484.46
7,8,ಗದ,83596,341,214,39070,0,1,56,24,...,25.30,6.50,1.70,102.30,343.40,445.70,38.77,6644.10,24442.40,31086.50
8,9,ಾರಾಡ,68634,379,34,34760,0,0,1806,5,...,3.24,2.27,333.42,33.15,971.69,1004.84,12.96,51858.08,26635.71,78493.79
9,10,ಉತರ ಕನಡ,50070,1289,7389,76068,0,2,1639,2,...,15.22,5.01,9.69,134.29,558.13,692.42,24.11,15421.11,40567.06,55988.17
10,11,ಾೇ,128641,698,7,100235,0,0,0,0,...,67.11,6.48,66.94,80.12,875.24,955.36,54.62,32078.19,26290.52,58368.71
11,12,ಬಾ,145904,993,298,98442,0,0,541,16,...,116.69,35.44,139.89,319.26,1564.75,1884.01,37.96,36879.46,98422.22,135301.68
12,13,ತದುಗ,124196,1065,566,129948,0,0,0,12,...,65.66,2.76,91.57,634.54,2035.16,2669.70,62.17,4264.17,49732.41,53996.58
13,14,ಾವಣೆೆ,126377,968,782,130605,0,0,0,27,...,78.44,11.23,11.66,345.31,511.47,856.78,25.41,21235.05,49548.44,70783.49
14,15,ವಗ,93375,1531,2223,95737,0,0,1898,61,...,36.71,54.18,3.02,233.28,1238.81,1472.09,54.65,22473.60,79296.33,101769.93
15,16,ಉಡು,8785,253,3927,74906,0,0,127,7,...,13.78,25.87,8.31,218.65,653.39,872.04,14.16,21877.89,47589.31,69467.20
16,17,ಕಮಗಳರು,57255,1130,3793,66309,0,1,2637,4,...,22.86,35.96,1.44,126.94,692.99,819.93,59.83,8181.10,45733.57,53914.67
17,18,ತುಮಕೂರು,165281,2715,3514,265729,0,0,0,8,...,205.57,10.30,4.08,329.91,2859.02,3188.93,67.41,30142.33,132304.97,162447.30
18,19,ೋಾರ,92800,1731,142,101584,0,0,0,1,...,302.33,1.92,471.22,801.01,2054.71,2855.72,51.62,17915.57,43283.40,61198.97
19,20,ೆ೦ಗಳರು(ನ),24346,562,120,103254,0,0,0,378,...,207.70,355.92,181.53,5417.92,9806.42,15224.34,2.24,584766.98,793325.47,1378092.45
20,21,ೆ೦ಗಳರು(ಾ),55254,1507,29,65853,0,0,0,10,...,139.61,17.39,8.67,674.66,1126.92,1801.58,31.72,63592.94,64644.29,128237.23
21,22,ಮಂಡ,112252,1370,786,106218,0,0,194,1,...,63.88,8.55,2.84,440.01,1425.65,1865.66,56.37,29454.83,88292.53,117747.36
22,23,ಾಸನ,110702,2576,1509,110944,0,0,682,0,...,42.50,53.54,4.25,399.97,1052.14,1452.11,48.06,117264.81,67495.04,184759.85
23,24,ದಣ ಕನಡ,25365,331,4284,114981,0,0,1737,42,...,58.65,96.64,11.23,674.84,1447.99,2122.83,17.09,63929.76,106775.81,170705.57
24,25,ೊಡಗು,15634,296,351,12859,0,4,101,0,...,13.91,3.29,1.81,33.33,182.50,215.83,18.03,3482.93,11164.41,14647.34
25,26,ೖಸೂರು,171453,1336,1687,109952,0,10,667,19,...,108.83,69.57,15.11,671.60,1638.38,2309.98,28.42,63736.73,117050.46,180787.19
26,27,ಾಮಾಜನಗರ,82165,509,412,61156,0,6,224,0,...,32.99,1.31,1.69,53.61,687.95,741.56,70.97,24106.21,21081.76,45187.97
27,28,ಕಬಾಪರ,118511,1513,245,100348,0,0,0,0,...,105.37,1.31,9.55,14.72,618.83,633.55,62.98,1421.52,25639.07,27060.59
28,29,ಾಮನಗರ,61609,1164,833,76131,0,0,0,0,...,99.71,34.74,11.50,911.24,931.34,1842.58,31.48,51366.02,50312.56,101678.58
29,30,ಾದ,68366,519,126,34479,0,0,819,14,...,14.23,0.00,33.71,62.76,515.15,577.91,63.29,3949.55,33119.08,37068.63

In [70]:
final_df = final_df.drop(final_df.index[30:])

In [71]:
final_df

,1,2,1478,1479,1480,1481,1482,1483,1484,1485,...,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520
0,1,ೆಳಾ,226181,1289,634,379295,0,0,854,5,...,73.58,74.17,7.30,745.56,2581.30,3326.86,53.02,46388.78,184049.14,230437.92
1,2,ಾಗಲೋೆ,84675,619,423,148772,0,0,602,0,...,52.81,19.44,36.03,144.26,1957.56,2101.82,73.15,8028.82,92219.32,100248.14
2,3,ಜಯಪರ,107491,692,394,201445,0,0,1566,0,...,43.28,6.66,6.00,1982.03,1790.08,3772.11,76.12,20556.36,126156.94,146713.30
3,4,ಕಲು,152607,1092,262,91959,0,0,278,2,...,49.05,22.79,20.26,154.32,799.16,953.48,45.75,7076.75,28331.27,35408.02
4,5,ೕದ,90608,607,105,81785,0,0,0,1,...,72.24,5.40,29.37,140.50,780.59,921.09,39.65,9902.65,54616.84,64519.49
5,6,ಾಯಚೂರು,90024,884,93,56473,0,0,277,0,...,58.09,10.43,107.80,276.58,1001.46,1278.04,42.00,111780.55,11201.19,122981.74
6,7,ೊಪಳ,80351,629,159,63260,0,0,218,20,...,27.39,16.60,20.56,366.01,823.25,1189.26,48.32,38528.89,50955.57,89484.46
7,8,ಗದ,83596,341,214,39070,0,1,56,24,...,25.30,6.50,1.70,102.30,343.40,445.70,38.77,6644.10,24442.40,31086.50
8,9,ಾರಾಡ,68634,379,34,34760,0,0,1806,5,...,3.24,2.27,333.42,33.15,971.69,1004.84,12.96,51858.08,26635.71,78493.79
9,10,ಉತರ ಕನಡ,50070,1289,7389,76068,0,2,1639,2,...,15.22,5.01,9.69,134.29,558.13,692.42,24.11,15421.11,40567.06,55988.17
10,11,ಾೇ,128641,698,7,100235,0,0,0,0,...,67.11,6.48,66.94,80.12,875.24,955.36,54.62,32078.19,26290.52,58368.71
11,12,ಬಾ,145904,993,298,98442,0,0,541,16,...,116.69,35.44,139.89,319.26,1564.75,1884.01,37.96,36879.46,98422.22,135301.68
12,13,ತದುಗ,124196,1065,566,129948,0,0,0,12,...,65.66,2.76,91.57,634.54,2035.16,2669.70,62.17,4264.17,49732.41,53996.58
13,14,ಾವಣೆೆ,126377,968,782,130605,0,0,0,27,...,78.44,11.23,11.66,345.31,511.47,856.78,25.41,21235.05,49548.44,70783.49
14,15,ವಗ,93375,1531,2223,95737,0,0,1898,61,...,36.71,54.18,3.02,233.28,1238.81,1472.09,54.65,22473.60,79296.33,101769.93
15,16,ಉಡು,8785,253,3927,74906,0,0,127,7,...,13.78,25.87,8.31,218.65,653.39,872.04,14.16,21877.89,47589.31,69467.20
16,17,ಕಮಗಳರು,57255,1130,3793,66309,0,1,2637,4,...,22.86,35.96,1.44,126.94,692.99,819.93,59.83,8181.10,45733.57,53914.67
17,18,ತುಮಕೂರು,165281,2715,3514,265729,0,0,0,8,...,205.57,10.30,4.08,329.91,2859.02,3188.93,67.41,30142.33,132304.97,162447.30
18,19,ೋಾರ,92800,1731,142,101584,0,0,0,1,...,302.33,1.92,471.22,801.01,2054.71,2855.72,51.62,17915.57,43283.40,61198.97
19,20,ೆ೦ಗಳರು(ನ),24346,562,120,103254,0,0,0,378,...,207.70,355.92,181.53,5417.92,9806.42,15224.34,2.24,584766.98,793325.47,1378092.45
20,21,ೆ೦ಗಳರು(ಾ),55254,1507,29,65853,0,0,0,10,...,139.61,17.39,8.67,674.66,1126.92,1801.58,31.72,63592.94,64644.29,128237.23
21,22,ಮಂಡ,112252,1370,786,106218,0,0,194,1,...,63.88,8.55,2.84,440.01,1425.65,1865.66,56.37,29454.83,88292.53,117747.36
22,23,ಾಸನ,110702,2576,1509,110944,0,0,682,0,...,42.50,53.54,4.25,399.97,1052.14,1452.11,48.06,117264.81,67495.04,184759.85
23,24,ದಣ ಕನಡ,25365,331,4284,114981,0,0,1737,42,...,58.65,96.64,11.23,674.84,1447.99,2122.83,17.09,63929.76,106775.81,170705.57
24,25,ೊಡಗು,15634,296,351,12859,0,4,101,0,...,13.91,3.29,1.81,33.33,182.50,215.83,18.03,3482.93,11164.41,14647.34
25,26,ೖಸೂರು,171453,1336,1687,109952,0,10,667,19,...,108.83,69.57,15.11,671.60,1638.38,2309.98,28.42,63736.73,117050.46,180787.19
26,27,ಾಮಾಜನಗರ,82165,509,412,61156,0,6,224,0,...,32.99,1.31,1.69,53.61,687.95,741.56,70.97,24106.21,21081.76,45187.97
27,28,ಕಬಾಪರ,118511,1513,245,100348,0,0,0,0,...,105.37,1.31,9.55,14.72,618.83,633.55,62.98,1421.52,25639.07,27060.59
28,29,ಾಮನಗರ,61609,1164,833,76131,0,0,0,0,...,99.71,34.74,11.50,911.24,931.34,1842.58,31.48,51366.02,50312.56,101678.58
29,30,ಾದ,68366,519,126,34479,0,0,819,14,...,14.23,0.00,33.71,62.76,515.15,577.91,63.29,3949.55,33119.08,37068.63

In [72]:
new_order = [18, 20, 19, 27, 26, 29, 30, 22, 21, 24, 23, 25, 4, 5, 8, 12, 10, 9, 6, 1, 2, 15, 13, 11, 14, 16, 17, 7, 3, 28]
final_df[1] = new_order
final_df

,1,2,1478,1479,1480,1481,1482,1483,1484,1485,...,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520
0,18,ೆಳಾ,226181,1289,634,379295,0,0,854,5,...,73.58,74.17,7.30,745.56,2581.30,3326.86,53.02,46388.78,184049.14,230437.92
1,20,ಾಗಲೋೆ,84675,619,423,148772,0,0,602,0,...,52.81,19.44,36.03,144.26,1957.56,2101.82,73.15,8028.82,92219.32,100248.14
2,19,ಜಯಪರ,107491,692,394,201445,0,0,1566,0,...,43.28,6.66,6.00,1982.03,1790.08,3772.11,76.12,20556.36,126156.94,146713.30
3,27,ಕಲು,152607,1092,262,91959,0,0,278,2,...,49.05,22.79,20.26,154.32,799.16,953.48,45.75,7076.75,28331.27,35408.02
4,26,ೕದ,90608,607,105,81785,0,0,0,1,...,72.24,5.40,29.37,140.50,780.59,921.09,39.65,9902.65,54616.84,64519.49
5,29,ಾಯಚೂರು,90024,884,93,56473,0,0,277,0,...,58.09,10.43,107.80,276.58,1001.46,1278.04,42.00,111780.55,11201.19,122981.74
6,30,ೊಪಳ,80351,629,159,63260,0,0,218,20,...,27.39,16.60,20.56,366.01,823.25,1189.26,48.32,38528.89,50955.57,89484.46
7,22,ಗದ,83596,341,214,39070,0,1,56,24,...,25.30,6.50,1.70,102.30,343.40,445.70,38.77,6644.10,24442.40,31086.50
8,21,ಾರಾಡ,68634,379,34,34760,0,0,1806,5,...,3.24,2.27,333.42,33.15,971.69,1004.84,12.96,51858.08,26635.71,78493.79
9,24,ಉತರ ಕನಡ,50070,1289,7389,76068,0,2,1639,2,...,15.22,5.01,9.69,134.29,558.13,692.42,24.11,15421.11,40567.06,55988.17
10,23,ಾೇ,128641,698,7,100235,0,0,0,0,...,67.11,6.48,66.94,80.12,875.24,955.36,54.62,32078.19,26290.52,58368.71
11,25,ಬಾ,145904,993,298,98442,0,0,541,16,...,116.69,35.44,139.89,319.26,1564.75,1884.01,37.96,36879.46,98422.22,135301.68
12,4,ತದುಗ,124196,1065,566,129948,0,0,0,12,...,65.66,2.76,91.57,634.54,2035.16,2669.70,62.17,4264.17,49732.41,53996.58
13,5,ಾವಣೆೆ,126377,968,782,130605,0,0,0,27,...,78.44,11.23,11.66,345.31,511.47,856.78,25.41,21235.05,49548.44,70783.49
14,8,ವಗ,93375,1531,2223,95737,0,0,1898,61,...,36.71,54.18,3.02,233.28,1238.81,1472.09,54.65,22473.60,79296.33,101769.93
15,12,ಉಡು,8785,253,3927,74906,0,0,127,7,...,13.78,25.87,8.31,218.65,653.39,872.04,14.16,21877.89,47589.31,69467.20
16,10,ಕಮಗಳರು,57255,1130,3793,66309,0,1,2637,4,...,22.86,35.96,1.44,126.94,692.99,819.93,59.83,8181.10,45733.57,53914.67
17,9,ತುಮಕೂರು,165281,2715,3514,265729,0,0,0,8,...,205.57,10.30,4.08,329.91,2859.02,3188.93,67.41,30142.33,132304.97,162447.30
18,6,ೋಾರ,92800,1731,142,101584,0,0,0,1,...,302.33,1.92,471.22,801.01,2054.71,2855.72,51.62,17915.57,43283.40,61198.97
19,1,ೆ೦ಗಳರು(ನ),24346,562,120,103254,0,0,0,378,...,207.70,355.92,181.53,5417.92,9806.42,15224.34,2.24,584766.98,793325.47,1378092.45
20,2,ೆ೦ಗಳರು(ಾ),55254,1507,29,65853,0,0,0,10,...,139.61,17.39,8.67,674.66,1126.92,1801.58,31.72,63592.94,64644.29,128237.23
21,15,ಮಂಡ,112252,1370,786,106218,0,0,194,1,...,63.88,8.55,2.84,440.01,1425.65,1865.66,56.37,29454.83,88292.53,117747.36
22,13,ಾಸನ,110702,2576,1509,110944,0,0,682,0,...,42.50,53.54,4.25,399.97,1052.14,1452.11,48.06,117264.81,67495.04,184759.85
23,11,ದಣ ಕನಡ,25365,331,4284,114981,0,0,1737,42,...,58.65,96.64,11.23,674.84,1447.99,2122.83,17.09,63929.76,106775.81,170705.57
24,14,ೊಡಗು,15634,296,351,12859,0,4,101,0,...,13.91,3.29,1.81,33.33,182.50,215.83,18.03,3482.93,11164.41,14647.34
25,16,ೖಸೂರು,171453,1336,1687,109952,0,10,667,19,...,108.83,69.57,15.11,671.60,1638.38,2309.98,28.42,63736.73,117050.46,180787.19
26,17,ಾಮಾಜನಗರ,82165,509,412,61156,0,6,224,0,...,32.99,1.31,1.69,53.61,687.95,741.56,70.97,24106.21,21081.76,45187.97
27,7,ಕಬಾಪರ,118511,1513,245,100348,0,0,0,0,...,105.37,1.31,9.55,14.72,618.83,633.55,62.98,1421.52,25639.07,27060.59
28,3,ಾಮನಗರ,61609,1164,833,76131,0,0,0,0,...,99.71,34.74,11.50,911.24,931.34,1842.58,31.48,51366.02,50312.56,101678.58
29,28,ಾದ,68366,519,126,34479,0,0,819,14,...,14.23,0.00,33.71,62.76,515.15,577.91,63.29,3949.55,33119.08,37068.63

In [73]:
final_data = final_df.sort_values(1)
final_data.reset_index(drop=True, inplace=True)
final_data

,1,2,1478,1479,1480,1481,1482,1483,1484,1485,...,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520
0,1,ೆ೦ಗಳರು(ನ),24346,562,120,103254,0,0,0,378,...,207.70,355.92,181.53,5417.92,9806.42,15224.34,2.24,584766.98,793325.47,1378092.45
1,2,ೆ೦ಗಳರು(ಾ),55254,1507,29,65853,0,0,0,10,...,139.61,17.39,8.67,674.66,1126.92,1801.58,31.72,63592.94,64644.29,128237.23
2,3,ಾಮನಗರ,61609,1164,833,76131,0,0,0,0,...,99.71,34.74,11.50,911.24,931.34,1842.58,31.48,51366.02,50312.56,101678.58
3,4,ತದುಗ,124196,1065,566,129948,0,0,0,12,...,65.66,2.76,91.57,634.54,2035.16,2669.70,62.17,4264.17,49732.41,53996.58
4,5,ಾವಣೆೆ,126377,968,782,130605,0,0,0,27,...,78.44,11.23,11.66,345.31,511.47,856.78,25.41,21235.05,49548.44,70783.49
5,6,ೋಾರ,92800,1731,142,101584,0,0,0,1,...,302.33,1.92,471.22,801.01,2054.71,2855.72,51.62,17915.57,43283.40,61198.97
6,7,ಕಬಾಪರ,118511,1513,245,100348,0,0,0,0,...,105.37,1.31,9.55,14.72,618.83,633.55,62.98,1421.52,25639.07,27060.59
7,8,ವಗ,93375,1531,2223,95737,0,0,1898,61,...,36.71,54.18,3.02,233.28,1238.81,1472.09,54.65,22473.60,79296.33,101769.93
8,9,ತುಮಕೂರು,165281,2715,3514,265729,0,0,0,8,...,205.57,10.30,4.08,329.91,2859.02,3188.93,67.41,30142.33,132304.97,162447.30
9,10,ಕಮಗಳರು,57255,1130,3793,66309,0,1,2637,4,...,22.86,35.96,1.44,126.94,692.99,819.93,59.83,8181.10,45733.57,53914.67
10,11,ದಣ ಕನಡ,25365,331,4284,114981,0,0,1737,42,...,58.65,96.64,11.23,674.84,1447.99,2122.83,17.09,63929.76,106775.81,170705.57
11,12,ಉಡು,8785,253,3927,74906,0,0,127,7,...,13.78,25.87,8.31,218.65,653.39,872.04,14.16,21877.89,47589.31,69467.20
12,13,ಾಸನ,110702,2576,1509,110944,0,0,682,0,...,42.50,53.54,4.25,399.97,1052.14,1452.11,48.06,117264.81,67495.04,184759.85
13,14,ೊಡಗು,15634,296,351,12859,0,4,101,0,...,13.91,3.29,1.81,33.33,182.50,215.83,18.03,3482.93,11164.41,14647.34
14,15,ಮಂಡ,112252,1370,786,106218,0,0,194,1,...,63.88,8.55,2.84,440.01,1425.65,1865.66,56.37,29454.83,88292.53,117747.36
15,16,ೖಸೂರು,171453,1336,1687,109952,0,10,667,19,...,108.83,69.57,15.11,671.60,1638.38,2309.98,28.42,63736.73,117050.46,180787.19
16,17,ಾಮಾಜನಗರ,82165,509,412,61156,0,6,224,0,...,32.99,1.31,1.69,53.61,687.95,741.56,70.97,24106.21,21081.76,45187.97
17,18,ೆಳಾ,226181,1289,634,379295,0,0,854,5,...,73.58,74.17,7.30,745.56,2581.30,3326.86,53.02,46388.78,184049.14,230437.92
18,19,ಜಯಪರ,107491,692,394,201445,0,0,1566,0,...,43.28,6.66,6.00,1982.03,1790.08,3772.11,76.12,20556.36,126156.94,146713.30
19,20,ಾಗಲೋೆ,84675,619,423,148772,0,0,602,0,...,52.81,19.44,36.03,144.26,1957.56,2101.82,73.15,8028.82,92219.32,100248.14
20,21,ಾರಾಡ,68634,379,34,34760,0,0,1806,5,...,3.24,2.27,333.42,33.15,971.69,1004.84,12.96,51858.08,26635.71,78493.79
21,22,ಗದ,83596,341,214,39070,0,1,56,24,...,25.30,6.50,1.70,102.30,343.40,445.70,38.77,6644.10,24442.40,31086.50
22,23,ಾೇ,128641,698,7,100235,0,0,0,0,...,67.11,6.48,66.94,80.12,875.24,955.36,54.62,32078.19,26290.52,58368.71
23,24,ಉತರ ಕನಡ,50070,1289,7389,76068,0,2,1639,2,...,15.22,5.01,9.69,134.29,558.13,692.42,24.11,15421.11,40567.06,55988.17
24,25,ಬಾ,145904,993,298,98442,0,0,541,16,...,116.69,35.44,139.89,319.26,1564.75,1884.01,37.96,36879.46,98422.22,135301.68
25,26,ೕದ,90608,607,105,81785,0,0,0,1,...,72.24,5.40,29.37,140.50,780.59,921.09,39.65,9902.65,54616.84,64519.49
26,27,ಕಲು,152607,1092,262,91959,0,0,278,2,...,49.05,22.79,20.26,154.32,799.16,953.48,45.75,7076.75,28331.27,35408.02
27,28,ಾದ,68366,519,126,34479,0,0,819,14,...,14.23,0.00,33.71,62.76,515.15,577.91,63.29,3949.55,33119.08,37068.63
28,29,ಾಯಚೂರು,90024,884,93,56473,0,0,277,0,...,58.09,10.43,107.80,276.58,1001.46,1278.04,42.00,111780.55,11201.19,122981.74
29,30,ೊಪಳ,80351,629,159,63260,0,0,218,20,...,27.39,16.60,20.56,366.01,823.25,1189.26,48.32,38528.89,50955.57,89484.46

In [74]:
name_list = ['Bengaluru(U)','Bengaluru(R)', 'Ramanagara', 'Chitradurga', 'Davanagere', 'Kolara', 'Chikkaballapura', 'Shivamogga',
'Tumakuru', 'Chikkamagaluru', 'Dakshina Kannada', 'Udupi', 'Hassan', 'Kodagu', 'Mandya', 'Mysuru', 'Chamarajanagara',
 'Belagavi', 'Vijayapura', 'Bagalkot', 'Dharwad', 'Gadag', 'Haveri', 'Uttara Kannada', 'Ballari', 'Bidar', 'Kalburgi',
 'Yadgir', 'Raichur', 'Koppal']

In [75]:
final_data[2] = name_list
final_data

,1,2,1478,1479,1480,1481,1482,1483,1484,1485,...,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520
0,1,Bengaluru(U),24346,562,120,103254,0,0,0,378,...,207.70,355.92,181.53,5417.92,9806.42,15224.34,2.24,584766.98,793325.47,1378092.45
1,2,Bengaluru(R),55254,1507,29,65853,0,0,0,10,...,139.61,17.39,8.67,674.66,1126.92,1801.58,31.72,63592.94,64644.29,128237.23
2,3,Ramanagara,61609,1164,833,76131,0,0,0,0,...,99.71,34.74,11.50,911.24,931.34,1842.58,31.48,51366.02,50312.56,101678.58
3,4,Chitradurga,124196,1065,566,129948,0,0,0,12,...,65.66,2.76,91.57,634.54,2035.16,2669.70,62.17,4264.17,49732.41,53996.58
4,5,Davanagere,126377,968,782,130605,0,0,0,27,...,78.44,11.23,11.66,345.31,511.47,856.78,25.41,21235.05,49548.44,70783.49
5,6,Kolara,92800,1731,142,101584,0,0,0,1,...,302.33,1.92,471.22,801.01,2054.71,2855.72,51.62,17915.57,43283.40,61198.97
6,7,Chikkaballapura,118511,1513,245,100348,0,0,0,0,...,105.37,1.31,9.55,14.72,618.83,633.55,62.98,1421.52,25639.07,27060.59
7,8,Shivamogga,93375,1531,2223,95737,0,0,1898,61,...,36.71,54.18,3.02,233.28,1238.81,1472.09,54.65,22473.60,79296.33,101769.93
8,9,Tumakuru,165281,2715,3514,265729,0,0,0,8,...,205.57,10.30,4.08,329.91,2859.02,3188.93,67.41,30142.33,132304.97,162447.30
9,10,Chikkamagaluru,57255,1130,3793,66309,0,1,2637,4,...,22.86,35.96,1.44,126.94,692.99,819.93,59.83,8181.10,45733.57,53914.67
10,11,Dakshina Kannada,25365,331,4284,114981,0,0,1737,42,...,58.65,96.64,11.23,674.84,1447.99,2122.83,17.09,63929.76,106775.81,170705.57
11,12,Udupi,8785,253,3927,74906,0,0,127,7,...,13.78,25.87,8.31,218.65,653.39,872.04,14.16,21877.89,47589.31,69467.20
12,13,Hassan,110702,2576,1509,110944,0,0,682,0,...,42.50,53.54,4.25,399.97,1052.14,1452.11,48.06,117264.81,67495.04,184759.85
13,14,Kodagu,15634,296,351,12859,0,4,101,0,...,13.91,3.29,1.81,33.33,182.50,215.83,18.03,3482.93,11164.41,14647.34
14,15,Mandya,112252,1370,786,106218,0,0,194,1,...,63.88,8.55,2.84,440.01,1425.65,1865.66,56.37,29454.83,88292.53,117747.36
15,16,Mysuru,171453,1336,1687,109952,0,10,667,19,...,108.83,69.57,15.11,671.60,1638.38,2309.98,28.42,63736.73,117050.46,180787.19
16,17,Chamarajanagara,82165,509,412,61156,0,6,224,0,...,32.99,1.31,1.69,53.61,687.95,741.56,70.97,24106.21,21081.76,45187.97
17,18,Belagavi,226181,1289,634,379295,0,0,854,5,...,73.58,74.17,7.30,745.56,2581.30,3326.86,53.02,46388.78,184049.14,230437.92
18,19,Vijayapura,107491,692,394,201445,0,0,1566,0,...,43.28,6.66,6.00,1982.03,1790.08,3772.11,76.12,20556.36,126156.94,146713.30
19,20,Bagalkot,84675,619,423,148772,0,0,602,0,...,52.81,19.44,36.03,144.26,1957.56,2101.82,73.15,8028.82,92219.32,100248.14
20,21,Dharwad,68634,379,34,34760,0,0,1806,5,...,3.24,2.27,333.42,33.15,971.69,1004.84,12.96,51858.08,26635.71,78493.79
21,22,Gadag,83596,341,214,39070,0,1,56,24,...,25.30,6.50,1.70,102.30,343.40,445.70,38.77,6644.10,24442.40,31086.50
22,23,Haveri,128641,698,7,100235,0,0,0,0,...,67.11,6.48,66.94,80.12,875.24,955.36,54.62,32078.19,26290.52,58368.71
23,24,Uttara Kannada,50070,1289,7389,76068,0,2,1639,2,...,15.22,5.01,9.69,134.29,558.13,692.42,24.11,15421.11,40567.06,55988.17
24,25,Ballari,145904,993,298,98442,0,0,541,16,...,116.69,35.44,139.89,319.26,1564.75,1884.01,37.96,36879.46,98422.22,135301.68
25,26,Bidar,90608,607,105,81785,0,0,0,1,...,72.24,5.40,29.37,140.50,780.59,921.09,39.65,9902.65,54616.84,64519.49
26,27,Kalburgi,152607,1092,262,91959,0,0,278,2,...,49.05,22.79,20.26,154.32,799.16,953.48,45.75,7076.75,28331.27,35408.02
27,28,Yadgir,68366,519,126,34479,0,0,819,14,...,14.23,0.00,33.71,62.76,515.15,577.91,63.29,3949.55,33119.08,37068.63
28,29,Raichur,90024,884,93,56473,0,0,277,0,...,58.09,10.43,107.80,276.58,1001.46,1278.04,42.00,111780.55,11201.19,122981.74
29,30,Koppal,80351,629,159,63260,0,0,218,20,...,27.39,16.60,20.56,366.01,823.25,1189.26,48.32,38528.89,50955.57,89484.46

In [76]:
final_data.to_csv(absolute_result_path, sep=';', index=False)
final_data.to_csv(absolute_dictionary_path, sep=';', index=False)