In [1]:
import tabula
import numpy as np
import pandas as pd
import os
import re
import math

In [2]:
relative_path_pdf = "../HTML/Output_html_Chapter2/kaggle/working/out/pages/"
relative_dictionary_path = "../Data/Chapter2_Data.csv"
relative_result_path = "../HTML/Output_html_Chapter2/Chapter2_Data.csv"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = os.path.join(os.getcwd(), relative_path_pdf)
absolute_dictionary_path = os.path.join(os.getcwd(), relative_dictionary_path)
absolute_result_path = os.path.join(os.getcwd(), relative_result_path)

In [3]:
os.listdir(absolute_path_pdf)

['page_22.pdf',
 'page_9.pdf',
 'page_26.pdf',
 'page_21.pdf',
 'page_1.pdf',
 'page_24.pdf',
 'page_2.pdf',
 'page_3.pdf',
 'page_10.pdf',
 'page_7.pdf',
 'page_11.pdf',
 'page_31.pdf',
 'page_14.pdf',
 'page_5.pdf',
 'page_13.pdf',
 'page_12.pdf',
 'page_6.pdf',
 'page_19.pdf',
 'page_15.pdf',
 'page_23.pdf',
 'page_29.pdf',
 'page_4.pdf',
 'page_30.pdf',
 'page_28.pdf',
 'page_17.pdf',
 'page_20.pdf',
 'page_16.pdf',
 'page_8.pdf',
 'page_27.pdf',
 'page_25.pdf',
 'page_18.pdf']

In [4]:
output_list = []

In [5]:
# Get a list of PDF files sorted by filename
pdf_files = sorted([file for file in os.listdir(absolute_path_pdf) if file.endswith(".pdf")], key=lambda x: [int(s) if s.isdigit() else s.lower() for s in re.split('(\d+)', x)])

# Iterate through all PDF files
for file in pdf_files:
    file_path = os.path.join(absolute_path_pdf, file)
    dfs = tabula.read_pdf(file_path, pages='all', stream=True)
    if dfs:
        output_list.append(dfs[0])  # Assuming you want to append the first DataFrame from each PDF

In [6]:
len(output_list)

31

In [7]:
output_list[12]

,Unnamed: 0,2.10 ವೕಾನ ಗುಂಪಾರು ಜನಸಂೆ (ಾೕಣ ಮತು ನಗರ)-2011ರ ಜನಗಣ ಪಾರ,Unnamed: 1
0,NaN,Age Groupwise Population (Rural and Urban) as...,NaN
1,ವಯನ ಗುಂಪ,ಒಟು ಾೕಣ ನಗರ ಒಟು ಜನಸಂೆೆ 2021ೆ ೕಸಾದ,2021ೆ ೕಸಾದ ಒಟು
2,Age Group,ೇಕಾಾರು % ಜನಸಂೆ /Projected,ಜನಸಂೆೆ ೇಕಡಾರು / %
3,NaN,Total Rural Urban,NaN
4,NaN,to total population-2021,Population to 2021
5,NaN,Population,Projected population
6,156,157 158 159 160 161,162
7,0-4,5046719 3179495 1867224 8.26 5888130,8.18
8,5-9,5241509 3309619 1931890 8.58 6101489,8.48
9,10-14,5736646 3662475 2074171 9.39 6649360,9.24
10,15-19,5827277 3658264 2169013 9.54 6853227,9.52
11,20-24,6052558 3549425 2503133 9.91 7143613,9.93
12,25-29,5771606 3283508 2488098 9.45 6932776,9.63
13,30-34,4698380 2657749 2040631 7.69 5686264,7.90
14,35-39,4695451 2770958 1924493 7.69 5482112,7.62
15,40-44,3826712 2320355 1506357 6.26 4496270,6.25
16,45-49,3519782 2165676 1354106 5.76 4136924,5.75
17,50-54,2699270 1665456 1033814 4.42 3177704,4.42
18,55-59,2142504 1323457 819047 3.51 2620725,3.64
19,60-64,2060052 1352255 707797 3.37 2405841,3.34
20,65-69,1520119 1039482 480637 2.49 1761458,2.45
21,70-74,1061125 736309 324816 1.74 1221938,1.70
22,75-79,524426 350060 174366 0.86 608287,0.85
23,80-84,362024 249880 112144 0.59 515306,0.72
24,85-89,133738 83752 49986 0.22 103413,0.14
25,90-94,74534 49698 24836 0.12 56620,0.08
26,95-99,32257 21558 10699 0.05 33478,0.05
27,100+,22757 14075 8682 0.04 20155,0.03
28,ವಯಸನು,NaN,NaN
29,ಸೂಸದ/,45851 25829 20022 0.08 62306,0.09
30,AgeNotStated,NaN,NaN
31,ಎಾ ವೕಾನ/All,NaN,NaN
32,NaN,61095297 37469335 23625962 100.00 71957396,100.00
33,Ages,NaN,NaN

In [8]:
output_list.pop(12)

,Unnamed: 0,2.10 ವೕಾನ ಗುಂಪಾರು ಜನಸಂೆ (ಾೕಣ ಮತು ನಗರ)-2011ರ ಜನಗಣ ಪಾರ,Unnamed: 1
0,NaN,Age Groupwise Population (Rural and Urban) as...,NaN
1,ವಯನ ಗುಂಪ,ಒಟು ಾೕಣ ನಗರ ಒಟು ಜನಸಂೆೆ 2021ೆ ೕಸಾದ,2021ೆ ೕಸಾದ ಒಟು
2,Age Group,ೇಕಾಾರು % ಜನಸಂೆ /Projected,ಜನಸಂೆೆ ೇಕಡಾರು / %
3,NaN,Total Rural Urban,NaN
4,NaN,to total population-2021,Population to 2021
5,NaN,Population,Projected population
6,156,157 158 159 160 161,162
7,0-4,5046719 3179495 1867224 8.26 5888130,8.18
8,5-9,5241509 3309619 1931890 8.58 6101489,8.48
9,10-14,5736646 3662475 2074171 9.39 6649360,9.24
10,15-19,5827277 3658264 2169013 9.54 6853227,9.52
11,20-24,6052558 3549425 2503133 9.91 7143613,9.93
12,25-29,5771606 3283508 2488098 9.45 6932776,9.63
13,30-34,4698380 2657749 2040631 7.69 5686264,7.90
14,35-39,4695451 2770958 1924493 7.69 5482112,7.62
15,40-44,3826712 2320355 1506357 6.26 4496270,6.25
16,45-49,3519782 2165676 1354106 5.76 4136924,5.75
17,50-54,2699270 1665456 1033814 4.42 3177704,4.42
18,55-59,2142504 1323457 819047 3.51 2620725,3.64
19,60-64,2060052 1352255 707797 3.37 2405841,3.34
20,65-69,1520119 1039482 480637 2.49 1761458,2.45
21,70-74,1061125 736309 324816 1.74 1221938,1.70
22,75-79,524426 350060 174366 0.86 608287,0.85
23,80-84,362024 249880 112144 0.59 515306,0.72
24,85-89,133738 83752 49986 0.22 103413,0.14
25,90-94,74534 49698 24836 0.12 56620,0.08
26,95-99,32257 21558 10699 0.05 33478,0.05
27,100+,22757 14075 8682 0.04 20155,0.03
28,ವಯಸನು,NaN,NaN
29,ಸೂಸದ/,45851 25829 20022 0.08 62306,0.09
30,AgeNotStated,NaN,NaN
31,ಎಾ ವೕಾನ/All,NaN,NaN
32,NaN,61095297 37469335 23625962 100.00 71957396,100.00
33,Ages,NaN,NaN

In [9]:
def add_header(df_list,idx_list, new_list):
    index = 0
    for i in range(len(idx_list)):
        df_list[idx_list[i]].loc[index + 1:] = df_list[idx_list[i]].loc[index:].shift(1)
        df_list[idx_list[i]].loc[index] = new_list[i]
    return df_list

In [10]:
new_row = [[1, 2, np.nan, 381,382,383,384,385,386]]
id_row = [6]
#output_list = add_header(output_list, id_row, new_row)

In [11]:
output_list[0]

   Unnamed: 0         2. ೕಣ ಮತು ಜನಸಂೆ / Area and Population
0         NaN  2.1 ೕಣ, ಜನಾಂದೆ ಮತು ಕುಟುಂಬಗಳ - 2011 ರ ಜನ...
1          ಕ        ೌೋಕ ಜನ 2020ೆಕುಟುಂಬಗಳ / Householdsಒಟು
2          ಸಂ   ೆಗಳ ೕಣ ( ಚ . )  ಾಂದೆ ಮೆಗೆಾನೕಸಾದ
3         SI.              ೇಕಾಾರು Geograpical  Rank ಕುಟುಂಬಗಳ
4          No                          Area Population Projected
5         NaN  (Sq.Kms)   Density ಾೕಣ ನಗರ ಒಟು % Share to ...
6         NaN                                          Districts
7         NaN                  Rual   Urban   Total Totalin 2020
8         NaN                                         Households
9           1                          2 70 71 72 73 74 75 76 77
10          1  ೆಳಾ 13433 356 719233 264621 983854 7.37 2 1...
11          2  ಾಗಲೋೆ 6552 288 242690 118459 361149 2.70 14...
12          3  ಜಯಪರ 10498 207 309751 99055 408806 3.06 10 4...
13          4  ಕಲು 10954 234 307351 164250 471601 3.53 6 5...
14          5   ೕದ 5448 313 239979 79958 319937 2.40 20 359199
15          6  ಾಯಚೂರು 8442 228 267585 96268 363853 2.72 13 4...
16          7  ೊಪಳ 5570 250 208844 55751 264595 1.98 23 303082
17          8    ಗದ 4657 229 139782 79314 219096 1.64 28 237936
18          9  ಾರಾಡ 4260 434 160674 222026 382700 2.87 12 4...
19         10  ಉತರ ಕನಡ 10277 140 228887 95643 324530 2.43 19...
20         11  ಾೇ 4823 331 254180 76234 330414 2.47 18 363070
21         12  ಬಾ 9896 278 330971 216708 547679 4.10 5 662188
22         13  ತದುಗ 8436 197 283669 73334 357003 2.67 15 3...
23         14  ಾವಣೆೆ 4489 366 225874 125741 351615 2.63 16...
24         15  ವಗ 8478 207 259456 147360 406816 3.05 11 431308
25         16   ಉಡು 3582 329 177529 75549 253078 1.89 25 282733
26         17  ಕಮಗಳರು 7202 158 215621 60464 276085 2.07 22...
27         18  ತುಮಕೂರು 10597 253 497521 142560 640081 4.79 4 ...
28         19  ೋಾರ 3979 386 227058 106290 333348 2.50 17 36...
29         20  ೆ೦ಗಳರು(ನ) 2196 4381 213207 2180638 2393845 1...
30         21  ೆ೦ಗಳರು(ಾ) 2298 431 164814 64465 229279 1.7...
31         22    ಮಂಡ 4962 364 355271 73354 428625 3.21 9 438450
32         23    ಾಸನ 6814 261 341634 91819 433453 3.25 8 448906
33         24  ದಣ ಕನಡ 4861 430 223155 216578 439733 3.29 7 ...
34         25  ೊಡಗು 4102 135 121989 20727 142716 1.07 30 144041
35         26  ೖಸೂರು 6307 476 406952 294016 700968 5.25 3 79...
36         27  ಾಮಾಜನಗರ 5648 181 204137 40737 244874 1.83 26...
37         28  ಕಬಾಪರ 4244 296 220987 63711 284698 2.13 2...
38         29  ಾಮನಗರ 3516 308 199673 60860 260533 1.95 24 27...
39         30  ಾದ 5270 223 162187 39876 202063 1.51 29 248012
40         31  ಾಜ 191791 319 7910661 5446366 13357027 100.0...

In [12]:
def find_last_index(df_col):
    pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
    for idx in range(len(df_col)):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
                    if numbers_1 and numbers_1[0] == 30:
                        return idx+1
   
    return (len(df_col) - 1)

In [13]:
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    miss_list = []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        df_col = df_col.astype(str)

        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        flag = 0
        for idx in range(len(df_col) - 1):
            #print(idx, df_col.iloc[idx])
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = re.findall(pattern, df_col.iloc[idx+1])
                    numbers_2 = [int(num) if '.' not in num else float(num) for num in numbers_2]
                    #print(numbers_2)
            if numbers_1 and numbers_2 and numbers_1[0] == 1 and numbers_2[0] == 1:
                start_index = idx
                end_index = find_last_index(df_col)
                index_list.append([start_index, end_index])
                if(end_index - start_index) != 31:
                    miss_list.append(i)
                flag=1
                i += 1
                break

        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index, miss_list

In [14]:
index_list, drop_list, fault_list = find_header(output_list)

In [15]:
fault_list

[]

In [16]:
drop_list

[]

In [17]:
index_list

[[9, 40],
 [7, 38],
 [10, 41],
 [13, 44],
 [3, 34],
 [6, 37],
 [7, 38],
 [8, 39],
 [12, 43],
 [6, 37],
 [7, 38],
 [7, 38],
 [7, 38],
 [7, 38],
 [8, 39],
 [3, 34],
 [4, 35],
 [9, 40],
 [10, 41],
 [8, 39],
 [8, 39],
 [6, 37],
 [7, 38],
 [7, 38],
 [7, 38],
 [8, 39],
 [8, 39],
 [7, 38],
 [8, 39],
 [6, 37]]

In [18]:
len(index_list)

30

In [19]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        return new_df_list
    return df_list

In [20]:
def get_final_index(df_list, index_ll, drop_index, miss_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list, miss_list = find_header(df)
        drop_index = drop_list
        miss_index = miss_list
    return df, index_ll, drop_index, miss_index

In [21]:
new_output_list, new_index_list, new_drop_list, new_fault_list = get_final_index(output_list, index_list, drop_list, fault_list)

In [22]:
new_fault_list, new_drop_list

([], [])

In [23]:
new_index_list

[[9, 40],
 [7, 38],
 [10, 41],
 [13, 44],
 [3, 34],
 [6, 37],
 [7, 38],
 [8, 39],
 [12, 43],
 [6, 37],
 [7, 38],
 [7, 38],
 [7, 38],
 [7, 38],
 [8, 39],
 [3, 34],
 [4, 35],
 [9, 40],
 [10, 41],
 [8, 39],
 [8, 39],
 [6, 37],
 [7, 38],
 [7, 38],
 [7, 38],
 [8, 39],
 [8, 39],
 [7, 38],
 [8, 39],
 [6, 37]]

In [24]:
new_output_list[0]

   Unnamed: 0         2. ೕಣ ಮತು ಜನಸಂೆ / Area and Population
0         NaN  2.1 ೕಣ, ಜನಾಂದೆ ಮತು ಕುಟುಂಬಗಳ - 2011 ರ ಜನ...
1          ಕ        ೌೋಕ ಜನ 2020ೆಕುಟುಂಬಗಳ / Householdsಒಟು
2          ಸಂ   ೆಗಳ ೕಣ ( ಚ . )  ಾಂದೆ ಮೆಗೆಾನೕಸಾದ
3         SI.              ೇಕಾಾರು Geograpical  Rank ಕುಟುಂಬಗಳ
4          No                          Area Population Projected
5         NaN  (Sq.Kms)   Density ಾೕಣ ನಗರ ಒಟು % Share to ...
6         NaN                                          Districts
7         NaN                  Rual   Urban   Total Totalin 2020
8         NaN                                         Households
9           1                          2 70 71 72 73 74 75 76 77
10          1  ೆಳಾ 13433 356 719233 264621 983854 7.37 2 1...
11          2  ಾಗಲೋೆ 6552 288 242690 118459 361149 2.70 14...
12          3  ಜಯಪರ 10498 207 309751 99055 408806 3.06 10 4...
13          4  ಕಲು 10954 234 307351 164250 471601 3.53 6 5...
14          5   ೕದ 5448 313 239979 79958 319937 2.40 20 359199
15          6  ಾಯಚೂರು 8442 228 267585 96268 363853 2.72 13 4...
16          7  ೊಪಳ 5570 250 208844 55751 264595 1.98 23 303082
17          8    ಗದ 4657 229 139782 79314 219096 1.64 28 237936
18          9  ಾರಾಡ 4260 434 160674 222026 382700 2.87 12 4...
19         10  ಉತರ ಕನಡ 10277 140 228887 95643 324530 2.43 19...
20         11  ಾೇ 4823 331 254180 76234 330414 2.47 18 363070
21         12  ಬಾ 9896 278 330971 216708 547679 4.10 5 662188
22         13  ತದುಗ 8436 197 283669 73334 357003 2.67 15 3...
23         14  ಾವಣೆೆ 4489 366 225874 125741 351615 2.63 16...
24         15  ವಗ 8478 207 259456 147360 406816 3.05 11 431308
25         16   ಉಡು 3582 329 177529 75549 253078 1.89 25 282733
26         17  ಕಮಗಳರು 7202 158 215621 60464 276085 2.07 22...
27         18  ತುಮಕೂರು 10597 253 497521 142560 640081 4.79 4 ...
28         19  ೋಾರ 3979 386 227058 106290 333348 2.50 17 36...
29         20  ೆ೦ಗಳರು(ನ) 2196 4381 213207 2180638 2393845 1...
30         21  ೆ೦ಗಳರು(ಾ) 2298 431 164814 64465 229279 1.7...
31         22    ಮಂಡ 4962 364 355271 73354 428625 3.21 9 438450
32         23    ಾಸನ 6814 261 341634 91819 433453 3.25 8 448906
33         24  ದಣ ಕನಡ 4861 430 223155 216578 439733 3.29 7 ...
34         25  ೊಡಗು 4102 135 121989 20727 142716 1.07 30 144041
35         26  ೖಸೂರು 6307 476 406952 294016 700968 5.25 3 79...
36         27  ಾಮಾಜನಗರ 5648 181 204137 40737 244874 1.83 26...
37         28  ಕಬಾಪರ 4244 296 220987 63711 284698 2.13 2...
38         29  ಾಮನಗರ 3516 308 199673 60860 260533 1.95 24 27...
39         30  ಾದ 5270 223 162187 39876 202063 1.51 29 248012
40         31  ಾಜ 191791 319 7910661 5446366 13357027 100.0...

In [25]:
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(ind_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(ind_list[idx][0], ind_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [26]:
corrected_list = remove_header(new_output_list, new_index_list)

In [27]:
corrected_list[0]

   Unnamed: 0         2. ೕಣ ಮತು ಜನಸಂೆ / Area and Population
0           1                          2 70 71 72 73 74 75 76 77
1           1  ೆಳಾ 13433 356 719233 264621 983854 7.37 2 1...
2           2  ಾಗಲೋೆ 6552 288 242690 118459 361149 2.70 14...
3           3  ಜಯಪರ 10498 207 309751 99055 408806 3.06 10 4...
4           4  ಕಲು 10954 234 307351 164250 471601 3.53 6 5...
5           5   ೕದ 5448 313 239979 79958 319937 2.40 20 359199
6           6  ಾಯಚೂರು 8442 228 267585 96268 363853 2.72 13 4...
7           7  ೊಪಳ 5570 250 208844 55751 264595 1.98 23 303082
8           8    ಗದ 4657 229 139782 79314 219096 1.64 28 237936
9           9  ಾರಾಡ 4260 434 160674 222026 382700 2.87 12 4...
10         10  ಉತರ ಕನಡ 10277 140 228887 95643 324530 2.43 19...
11         11  ಾೇ 4823 331 254180 76234 330414 2.47 18 363070
12         12  ಬಾ 9896 278 330971 216708 547679 4.10 5 662188
13         13  ತದುಗ 8436 197 283669 73334 357003 2.67 15 3...
14         14  ಾವಣೆೆ 4489 366 225874 125741 351615 2.63 16...
15         15  ವಗ 8478 207 259456 147360 406816 3.05 11 431308
16         16   ಉಡು 3582 329 177529 75549 253078 1.89 25 282733
17         17  ಕಮಗಳರು 7202 158 215621 60464 276085 2.07 22...
18         18  ತುಮಕೂರು 10597 253 497521 142560 640081 4.79 4 ...
19         19  ೋಾರ 3979 386 227058 106290 333348 2.50 17 36...
20         20  ೆ೦ಗಳರು(ನ) 2196 4381 213207 2180638 2393845 1...
21         21  ೆ೦ಗಳರು(ಾ) 2298 431 164814 64465 229279 1.7...
22         22    ಮಂಡ 4962 364 355271 73354 428625 3.21 9 438450
23         23    ಾಸನ 6814 261 341634 91819 433453 3.25 8 448906
24         24  ದಣ ಕನಡ 4861 430 223155 216578 439733 3.29 7 ...
25         25  ೊಡಗು 4102 135 121989 20727 142716 1.07 30 144041
26         26  ೖಸೂರು 6307 476 406952 294016 700968 5.25 3 79...
27         27  ಾಮಾಜನಗರ 5648 181 204137 40737 244874 1.83 26...
28         28  ಕಬಾಪರ 4244 296 220987 63711 284698 2.13 2...
29         29  ಾಮನಗರ 3516 308 199673 60860 260533 1.95 24 27...
30         30  ಾದ 5270 223 162187 39876 202063 1.51 29 248012

In [28]:
len(corrected_list)

30

In [29]:
def check_nan(df_col):
    nan_columns = df_col[df_col.isna()].index.tolist()
    if len(nan_columns) == len(df_col):
        return []
    return nan_columns

In [30]:
def set_header_row(df_list_all):
    df_list = df_list_all
    new_df_list = []
    for df in df_list:
        header_row = df.iloc[0].tolist()
        for idx in range(len(header_row)):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx+1
                while j<len(header_row) and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j+=1
                if j<len(header_row) and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[0]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[1:])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        for idx in range(len(header_row)-1, 0, -1):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx-1
                while j>0 and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j-=1
                if j>0 and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[-1]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[:-1])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        new_df_list.append(df)
    return new_df_list

In [31]:
corrected_header = set_header_row(corrected_list)

/tmp/ipykernel_12004/642676802.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '78' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[0] = header_row

In [32]:
len(corrected_header)

30

In [33]:
corrected_header[0]

   Unnamed: 0         2. ೕಣ ಮತು ಜನಸಂೆ / Area and Population
0           1                          2 70 71 72 73 74 75 76 77
1           1  ೆಳಾ 13433 356 719233 264621 983854 7.37 2 1...
2           2  ಾಗಲೋೆ 6552 288 242690 118459 361149 2.70 14...
3           3  ಜಯಪರ 10498 207 309751 99055 408806 3.06 10 4...
4           4  ಕಲು 10954 234 307351 164250 471601 3.53 6 5...
5           5   ೕದ 5448 313 239979 79958 319937 2.40 20 359199
6           6  ಾಯಚೂರು 8442 228 267585 96268 363853 2.72 13 4...
7           7  ೊಪಳ 5570 250 208844 55751 264595 1.98 23 303082
8           8    ಗದ 4657 229 139782 79314 219096 1.64 28 237936
9           9  ಾರಾಡ 4260 434 160674 222026 382700 2.87 12 4...
10         10  ಉತರ ಕನಡ 10277 140 228887 95643 324530 2.43 19...
11         11  ಾೇ 4823 331 254180 76234 330414 2.47 18 363070
12         12  ಬಾ 9896 278 330971 216708 547679 4.10 5 662188
13         13  ತದುಗ 8436 197 283669 73334 357003 2.67 15 3...
14         14  ಾವಣೆೆ 4489 366 225874 125741 351615 2.63 16...
15         15  ವಗ 8478 207 259456 147360 406816 3.05 11 431308
16         16   ಉಡು 3582 329 177529 75549 253078 1.89 25 282733
17         17  ಕಮಗಳರು 7202 158 215621 60464 276085 2.07 22...
18         18  ತುಮಕೂರು 10597 253 497521 142560 640081 4.79 4 ...
19         19  ೋಾರ 3979 386 227058 106290 333348 2.50 17 36...
20         20  ೆ೦ಗಳರು(ನ) 2196 4381 213207 2180638 2393845 1...
21         21  ೆ೦ಗಳರು(ಾ) 2298 431 164814 64465 229279 1.7...
22         22    ಮಂಡ 4962 364 355271 73354 428625 3.21 9 438450
23         23    ಾಸನ 6814 261 341634 91819 433453 3.25 8 448906
24         24  ದಣ ಕನಡ 4861 430 223155 216578 439733 3.29 7 ...
25         25  ೊಡಗು 4102 135 121989 20727 142716 1.07 30 144041
26         26  ೖಸೂರು 6307 476 406952 294016 700968 5.25 3 79...
27         27  ಾಮಾಜನಗರ 5648 181 204137 40737 244874 1.83 26...
28         28  ಕಬಾಪರ 4244 296 220987 63711 284698 2.13 2...
29         29  ಾಮನಗರ 3516 308 199673 60860 260533 1.95 24 27...
30         30  ಾದ 5270 223 162187 39876 202063 1.51 29 248012

In [34]:
def set_index_col(df_list):
    new_df_list = []
    for df in df_list:
        nan_col = check_nan(df.iloc[:,0])
        if len(df.index) > 31 and len(nan_col)>1:
            for idx in range(len(nan_col)-1):
                if nan_col[idx]+2 == nan_col[idx+1] and nan_col[idx]+1 not in nan_col:
                    for i in range(df.shape[1]):
                        p = nan_col[idx]
                        q = nan_col[idx]+1
                        r = nan_col[idx+1]
                        if i>0 and not (isinstance(df.iloc[p,i], float) and math.isnan(df.iloc[p,i])) and  not (isinstance(df.iloc[r,i], float) and math.isnan(df.iloc[r,i])):
                            if (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i]])
                            elif not (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i], df.iloc[q,i]])
                    idx+=1
            df = df.drop(nan_col)
        df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [35]:
corrected_index = set_index_col(corrected_header)

In [36]:
len(corrected_index)

30

In [37]:
corrected_index[0]

   Unnamed: 0         2. ೕಣ ಮತು ಜನಸಂೆ / Area and Population
0           1                          2 70 71 72 73 74 75 76 77
1           1  ೆಳಾ 13433 356 719233 264621 983854 7.37 2 1...
2           2  ಾಗಲೋೆ 6552 288 242690 118459 361149 2.70 14...
3           3  ಜಯಪರ 10498 207 309751 99055 408806 3.06 10 4...
4           4  ಕಲು 10954 234 307351 164250 471601 3.53 6 5...
5           5   ೕದ 5448 313 239979 79958 319937 2.40 20 359199
6           6  ಾಯಚೂರು 8442 228 267585 96268 363853 2.72 13 4...
7           7  ೊಪಳ 5570 250 208844 55751 264595 1.98 23 303082
8           8    ಗದ 4657 229 139782 79314 219096 1.64 28 237936
9           9  ಾರಾಡ 4260 434 160674 222026 382700 2.87 12 4...
10         10  ಉತರ ಕನಡ 10277 140 228887 95643 324530 2.43 19...
11         11  ಾೇ 4823 331 254180 76234 330414 2.47 18 363070
12         12  ಬಾ 9896 278 330971 216708 547679 4.10 5 662188
13         13  ತದುಗ 8436 197 283669 73334 357003 2.67 15 3...
14         14  ಾವಣೆೆ 4489 366 225874 125741 351615 2.63 16...
15         15  ವಗ 8478 207 259456 147360 406816 3.05 11 431308
16         16   ಉಡು 3582 329 177529 75549 253078 1.89 25 282733
17         17  ಕಮಗಳರು 7202 158 215621 60464 276085 2.07 22...
18         18  ತುಮಕೂರು 10597 253 497521 142560 640081 4.79 4 ...
19         19  ೋಾರ 3979 386 227058 106290 333348 2.50 17 36...
20         20  ೆ೦ಗಳರು(ನ) 2196 4381 213207 2180638 2393845 1...
21         21  ೆ೦ಗಳರು(ಾ) 2298 431 164814 64465 229279 1.7...
22         22    ಮಂಡ 4962 364 355271 73354 428625 3.21 9 438450
23         23    ಾಸನ 6814 261 341634 91819 433453 3.25 8 448906
24         24  ದಣ ಕನಡ 4861 430 223155 216578 439733 3.29 7 ...
25         25  ೊಡಗು 4102 135 121989 20727 142716 1.07 30 144041
26         26  ೖಸೂರು 6307 476 406952 294016 700968 5.25 3 79...
27         27  ಾಮಾಜನಗರ 5648 181 204137 40737 244874 1.83 26...
28         28  ಕಬಾಪರ 4244 296 220987 63711 284698 2.13 2...
29         29  ಾಮನಗರ 3516 308 199673 60860 260533 1.95 24 27...
30         30  ಾದ 5270 223 162187 39876 202063 1.51 29 248012

In [38]:
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = re.findall(pattern, df_col.iloc[0])
                numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                #numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)

                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)
        elif df_col.dtype == int or df_col.dtype == float:
            df.iloc[:,0] = df.iloc[:,0].astype(int).astype(str)
            new_df.append(df)
    return new_df

In [39]:
new_list = first_column_split(corrected_index)

In [40]:
len(new_list)

30

In [41]:
new_list[0]

   Unnamed: 0         2. ೕಣ ಮತು ಜನಸಂೆ / Area and Population
0           1                          2 70 71 72 73 74 75 76 77
1           1  ೆಳಾ 13433 356 719233 264621 983854 7.37 2 1...
2           2  ಾಗಲೋೆ 6552 288 242690 118459 361149 2.70 14...
3           3  ಜಯಪರ 10498 207 309751 99055 408806 3.06 10 4...
4           4  ಕಲು 10954 234 307351 164250 471601 3.53 6 5...
5           5   ೕದ 5448 313 239979 79958 319937 2.40 20 359199
6           6  ಾಯಚೂರು 8442 228 267585 96268 363853 2.72 13 4...
7           7  ೊಪಳ 5570 250 208844 55751 264595 1.98 23 303082
8           8    ಗದ 4657 229 139782 79314 219096 1.64 28 237936
9           9  ಾರಾಡ 4260 434 160674 222026 382700 2.87 12 4...
10         10  ಉತರ ಕನಡ 10277 140 228887 95643 324530 2.43 19...
11         11  ಾೇ 4823 331 254180 76234 330414 2.47 18 363070
12         12  ಬಾ 9896 278 330971 216708 547679 4.10 5 662188
13         13  ತದುಗ 8436 197 283669 73334 357003 2.67 15 3...
14         14  ಾವಣೆೆ 4489 366 225874 125741 351615 2.63 16...
15         15  ವಗ 8478 207 259456 147360 406816 3.05 11 431308
16         16   ಉಡು 3582 329 177529 75549 253078 1.89 25 282733
17         17  ಕಮಗಳರು 7202 158 215621 60464 276085 2.07 22...
18         18  ತುಮಕೂರು 10597 253 497521 142560 640081 4.79 4 ...
19         19  ೋಾರ 3979 386 227058 106290 333348 2.50 17 36...
20         20  ೆ೦ಗಳರು(ನ) 2196 4381 213207 2180638 2393845 1...
21         21  ೆ೦ಗಳರು(ಾ) 2298 431 164814 64465 229279 1.7...
22         22    ಮಂಡ 4962 364 355271 73354 428625 3.21 9 438450
23         23    ಾಸನ 6814 261 341634 91819 433453 3.25 8 448906
24         24  ದಣ ಕನಡ 4861 430 223155 216578 439733 3.29 7 ...
25         25  ೊಡಗು 4102 135 121989 20727 142716 1.07 30 144041
26         26  ೖಸೂರು 6307 476 406952 294016 700968 5.25 3 79...
27         27  ಾಮಾಜನಗರ 5648 181 204137 40737 244874 1.83 26...
28         28  ಕಬಾಪರ 4244 296 220987 63711 284698 2.13 2...
29         29  ಾಮನಗರ 3516 308 199673 60860 260533 1.95 24 27...
30         30  ಾದ 5270 223 162187 39876 202063 1.51 29 248012

In [42]:
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [43]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [44]:
#replaced_list = replace_with_nan(new_list)
replaced_list = new_list

In [45]:
replaced_list[0]

   Unnamed: 0         2. ೕಣ ಮತು ಜನಸಂೆ / Area and Population
0           1                          2 70 71 72 73 74 75 76 77
1           1  ೆಳಾ 13433 356 719233 264621 983854 7.37 2 1...
2           2  ಾಗಲೋೆ 6552 288 242690 118459 361149 2.70 14...
3           3  ಜಯಪರ 10498 207 309751 99055 408806 3.06 10 4...
4           4  ಕಲು 10954 234 307351 164250 471601 3.53 6 5...
5           5   ೕದ 5448 313 239979 79958 319937 2.40 20 359199
6           6  ಾಯಚೂರು 8442 228 267585 96268 363853 2.72 13 4...
7           7  ೊಪಳ 5570 250 208844 55751 264595 1.98 23 303082
8           8    ಗದ 4657 229 139782 79314 219096 1.64 28 237936
9           9  ಾರಾಡ 4260 434 160674 222026 382700 2.87 12 4...
10         10  ಉತರ ಕನಡ 10277 140 228887 95643 324530 2.43 19...
11         11  ಾೇ 4823 331 254180 76234 330414 2.47 18 363070
12         12  ಬಾ 9896 278 330971 216708 547679 4.10 5 662188
13         13  ತದುಗ 8436 197 283669 73334 357003 2.67 15 3...
14         14  ಾವಣೆೆ 4489 366 225874 125741 351615 2.63 16...
15         15  ವಗ 8478 207 259456 147360 406816 3.05 11 431308
16         16   ಉಡು 3582 329 177529 75549 253078 1.89 25 282733
17         17  ಕಮಗಳರು 7202 158 215621 60464 276085 2.07 22...
18         18  ತುಮಕೂರು 10597 253 497521 142560 640081 4.79 4 ...
19         19  ೋಾರ 3979 386 227058 106290 333348 2.50 17 36...
20         20  ೆ೦ಗಳರು(ನ) 2196 4381 213207 2180638 2393845 1...
21         21  ೆ೦ಗಳರು(ಾ) 2298 431 164814 64465 229279 1.7...
22         22    ಮಂಡ 4962 364 355271 73354 428625 3.21 9 438450
23         23    ಾಸನ 6814 261 341634 91819 433453 3.25 8 448906
24         24  ದಣ ಕನಡ 4861 430 223155 216578 439733 3.29 7 ...
25         25  ೊಡಗು 4102 135 121989 20727 142716 1.07 30 144041
26         26  ೖಸೂರು 6307 476 406952 294016 700968 5.25 3 79...
27         27  ಾಮಾಜನಗರ 5648 181 204137 40737 244874 1.83 26...
28         28  ಕಬಾಪರ 4244 296 220987 63711 284698 2.13 2...
29         29  ಾಮನಗರ 3516 308 199673 60860 260533 1.95 24 27...
30         30  ಾದ 5270 223 162187 39876 202063 1.51 29 248012

In [46]:
len(replaced_list)

30

In [47]:
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        #pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        for colName, colData in df.items():
            #print(colName)
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = re.findall(pattern, colData.values[0])
                    numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        colData = colData.str.replace(r'\s+', ' ', regex=True)
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)
            elif pd.isna(colData.values[0]):
                print("remove NaN")
            elif isinstance(colData.values[0],(int, np.integer)) or isinstance(colData.values[0],(float, np.floating)):
                colData.values[0] = str(int(colData.values[0]))
                new_df = pd.concat([new_df, colData], axis=1)
        new_df_list.append(new_df)
    return new_df_list

In [48]:
separated_list = all_column_split(replaced_list)

remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN

In [49]:
len(separated_list)

30

In [50]:
separated_list[0]

,Unnamed: 0,0,1,2,3,4,5,6,7,8
0,1,2,70,71,72,73,74,75,76,77
1,1,ೆಳಾ,13433,356,719233,264621,983854,7.37,2,1104621
2,2,ಾಗಲೋೆ,6552,288,242690,118459,361149,2.70,14,409055
3,3,ಜಯಪರ,10498,207,309751,99055,408806,3.06,10,484399
4,4,ಕಲು,10954,234,307351,164250,471601,3.53,6,543960
5,5,ೕದ,5448,313,239979,79958,319937,2.40,20,359199
6,6,ಾಯಚೂರು,8442,228,267585,96268,363853,2.72,13,439268
7,7,ೊಪಳ,5570,250,208844,55751,264595,1.98,23,303082
8,8,ಗದ,4657,229,139782,79314,219096,1.64,28,237936
9,9,ಾರಾಡ,4260,434,160674,222026,382700,2.87,12,435608
10,10,ಉತರ ಕನಡ,10277,140,228887,95643,324530,2.43,19,342420
11,11,ಾೇ,4823,331,254180,76234,330414,2.47,18,363070
12,12,ಬಾ,9896,278,330971,216708,547679,4.10,5,662188
13,13,ತದುಗ,8436,197,283669,73334,357003,2.67,15,387454
14,14,ಾವಣೆೆ,4489,366,225874,125741,351615,2.63,16,372043
15,15,ವಗ,8478,207,259456,147360,406816,3.05,11,431308
16,16,ಉಡು,3582,329,177529,75549,253078,1.89,25,282733
17,17,ಕಮಗಳರು,7202,158,215621,60464,276085,2.07,22,275960
18,18,ತುಮಕೂರು,10597,253,497521,142560,640081,4.79,4,663092
19,19,ೋಾರ,3979,386,227058,106290,333348,2.50,17,366066
20,20,ೆ೦ಗಳರು(ನ),2196,4381,213207,2180638,2393845,17.92,1,3411896
21,21,ೆ೦ಗಳರು(ಾ),2298,431,164814,64465,229279,1.72,27,266308
22,22,ಮಂಡ,4962,364,355271,73354,428625,3.21,9,438450
23,23,ಾಸನ,6814,261,341634,91819,433453,3.25,8,448906
24,24,ದಣ ಕನಡ,4861,430,223155,216578,439733,3.29,7,483661
25,25,ೊಡಗು,4102,135,121989,20727,142716,1.07,30,144041
26,26,ೖಸೂರು,6307,476,406952,294016,700968,5.25,3,792117
27,27,ಾಮಾಜನಗರ,5648,181,204137,40737,244874,1.83,26,257964
28,28,ಕಬಾಪರ,4244,296,220987,63711,284698,2.13,21,309857
29,29,ಾಮನಗರ,3516,308,199673,60860,260533,1.95,24,273513
30,30,ಾದ,5270,223,162187,39876,202063,1.51,29,248012

In [51]:
def check_single_column(df_list):
    new_df_list = []
    for df in df_list:
        df.fillna(value="", inplace=True)
        num_col = len(df.columns)
        for idx in range(num_col-1, 1, -1):
            cardinality = len(str(df.iloc[0,idx]).split())
            #print("idx", idx, df.iloc[0,idx], cardinality)
            for i in range(len(df.iloc[:,idx])):
                if i>0:
                    cell_car = len(str(df.iloc[i,idx]).split())
                    #print("i", i, df.iloc[i,idx], cell_car)
                    if cell_car > cardinality:
                       
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("more", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col1:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col2:
                                df.iloc[i, idx-1] = ' '.join(words_col2) + ' ' + words_col1[0]
                            else:
                                df.iloc[i, idx-1] = words_col1[0]

                            # Update the first column with the remaining words
                            df.iloc[i, idx] = ' '.join(words_col1[1:])
                        
                    if cell_car < cardinality:
                        
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("less", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col2:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col1:
                                df.iloc[i, idx] = words_col2[-1] + ' ' + ' '.join(words_col1)
                            else:
                                df.iloc[i, idx] = words_col2[-1]

                            # Update the first column with the remaining words
                            df.iloc[i, idx-1] = ' '.join(words_col2[:-1])
                        if df.iloc[i, idx-1]==' ':
                            df.iloc[i, idx-1] = ''
                        
        new_df_list.append(df)
    return new_df_list

In [52]:
updated_list = check_single_column(separated_list)

In [53]:
len(updated_list)

30

In [54]:
updated_list[0]

,Unnamed: 0,0,1,2,3,4,5,6,7,8
0,1,2,70,71,72,73,74,75,76,77
1,1,ೆಳಾ,13433,356,719233,264621,983854,7.37,2,1104621
2,2,ಾಗಲೋೆ,6552,288,242690,118459,361149,2.70,14,409055
3,3,ಜಯಪರ,10498,207,309751,99055,408806,3.06,10,484399
4,4,ಕಲು,10954,234,307351,164250,471601,3.53,6,543960
5,5,ೕದ,5448,313,239979,79958,319937,2.40,20,359199
6,6,ಾಯಚೂರು,8442,228,267585,96268,363853,2.72,13,439268
7,7,ೊಪಳ,5570,250,208844,55751,264595,1.98,23,303082
8,8,ಗದ,4657,229,139782,79314,219096,1.64,28,237936
9,9,ಾರಾಡ,4260,434,160674,222026,382700,2.87,12,435608
10,10,ಉತರ ಕನಡ,10277,140,228887,95643,324530,2.43,19,342420
11,11,ಾೇ,4823,331,254180,76234,330414,2.47,18,363070
12,12,ಬಾ,9896,278,330971,216708,547679,4.10,5,662188
13,13,ತದುಗ,8436,197,283669,73334,357003,2.67,15,387454
14,14,ಾವಣೆೆ,4489,366,225874,125741,351615,2.63,16,372043
15,15,ವಗ,8478,207,259456,147360,406816,3.05,11,431308
16,16,ಉಡು,3582,329,177529,75549,253078,1.89,25,282733
17,17,ಕಮಗಳರು,7202,158,215621,60464,276085,2.07,22,275960
18,18,ತುಮಕೂರು,10597,253,497521,142560,640081,4.79,4,663092
19,19,ೋಾರ,3979,386,227058,106290,333348,2.50,17,366066
20,20,ೆ೦ಗಳರು(ನ),2196,4381,213207,2180638,2393845,17.92,1,3411896
21,21,ೆ೦ಗಳರು(ಾ),2298,431,164814,64465,229279,1.72,27,266308
22,22,ಮಂಡ,4962,364,355271,73354,428625,3.21,9,438450
23,23,ಾಸನ,6814,261,341634,91819,433453,3.25,8,448906
24,24,ದಣ ಕನಡ,4861,430,223155,216578,439733,3.29,7,483661
25,25,ೊಡಗು,4102,135,121989,20727,142716,1.07,30,144041
26,26,ೖಸೂರು,6307,476,406952,294016,700968,5.25,3,792117
27,27,ಾಮಾಜನಗರ,5648,181,204137,40737,244874,1.83,26,257964
28,28,ಕಬಾಪರ,4244,296,220987,63711,284698,2.13,21,309857
29,29,ಾಮನಗರ,3516,308,199673,60860,260533,1.95,24,273513
30,30,ಾದ,5270,223,162187,39876,202063,1.51,29,248012

In [55]:
len(updated_list)

30

In [56]:
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [57]:
final_list = reset_header(updated_list)

In [58]:
final_list[0]

,1,2,70,71,72,73,74,75,76,77
0,1,ೆಳಾ,13433,356,719233,264621,983854,7.37,2,1104621
1,2,ಾಗಲೋೆ,6552,288,242690,118459,361149,2.70,14,409055
2,3,ಜಯಪರ,10498,207,309751,99055,408806,3.06,10,484399
3,4,ಕಲು,10954,234,307351,164250,471601,3.53,6,543960
4,5,ೕದ,5448,313,239979,79958,319937,2.40,20,359199
5,6,ಾಯಚೂರು,8442,228,267585,96268,363853,2.72,13,439268
6,7,ೊಪಳ,5570,250,208844,55751,264595,1.98,23,303082
7,8,ಗದ,4657,229,139782,79314,219096,1.64,28,237936
8,9,ಾರಾಡ,4260,434,160674,222026,382700,2.87,12,435608
9,10,ಉತರ ಕನಡ,10277,140,228887,95643,324530,2.43,19,342420
10,11,ಾೇ,4823,331,254180,76234,330414,2.47,18,363070
11,12,ಬಾ,9896,278,330971,216708,547679,4.10,5,662188
12,13,ತದುಗ,8436,197,283669,73334,357003,2.67,15,387454
13,14,ಾವಣೆೆ,4489,366,225874,125741,351615,2.63,16,372043
14,15,ವಗ,8478,207,259456,147360,406816,3.05,11,431308
15,16,ಉಡು,3582,329,177529,75549,253078,1.89,25,282733
16,17,ಕಮಗಳರು,7202,158,215621,60464,276085,2.07,22,275960
17,18,ತುಮಕೂರು,10597,253,497521,142560,640081,4.79,4,663092
18,19,ೋಾರ,3979,386,227058,106290,333348,2.50,17,366066
19,20,ೆ೦ಗಳರು(ನ),2196,4381,213207,2180638,2393845,17.92,1,3411896
20,21,ೆ೦ಗಳರು(ಾ),2298,431,164814,64465,229279,1.72,27,266308
21,22,ಮಂಡ,4962,364,355271,73354,428625,3.21,9,438450
22,23,ಾಸನ,6814,261,341634,91819,433453,3.25,8,448906
23,24,ದಣ ಕನಡ,4861,430,223155,216578,439733,3.29,7,483661
24,25,ೊಡಗು,4102,135,121989,20727,142716,1.07,30,144041
25,26,ೖಸೂರು,6307,476,406952,294016,700968,5.25,3,792117
26,27,ಾಮಾಜನಗರ,5648,181,204137,40737,244874,1.83,26,257964
27,28,ಕಬಾಪರ,4244,296,220987,63711,284698,2.13,21,309857
28,29,ಾಮನಗರ,3516,308,199673,60860,260533,1.95,24,273513
29,30,ಾದ,5270,223,162187,39876,202063,1.51,29,248012

In [59]:
def get_empty_col(df_list):
    index_list=[]
    for i in range(len(df_list)):
        empty_columns = df_list[i].columns[df_list[i].isna().all()].tolist()
        if len(empty_columns) > 0:
            index_list.append([i,empty_columns])
    return index_list

In [60]:
empty_col = get_empty_col(final_list)
empty_col

[]

In [61]:
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [62]:
final_df = concat_dataframe(final_list)

In [63]:
final_df

,1,2,70,71,72,73,74,75,76,77,...,308,309,310,311,312,313,314,315,316,317
0,1,ೆಳಾ,13433,356,719233,264621,983854,7.37,2,1104621,...,267093,90971,358064,310164,75943,386107,577257,166914,744171,35.34
1,2,ಾಗಲೋೆ,6552,288,242690,118459,361149,2.70,14,409055,...,93605,36083,129688,140159,48792,188951,233764,84875,318639,38.95
2,3,ಜಯಪರ,10498,207,309751,99055,408806,3.06,10,484399,...,102227,44195,146422,128920,38563,167483,231147,82758,313905,33.84
3,4,ಕಲು,10954,234,307351,164250,471601,3.53,6,543960,...,127720,56382,184102,201597,66956,268553,329317,123338,452655,41.60
4,5,ೕದ,5448,313,239979,79958,319937,2.40,20,359199,...,120599,39463,160062,95821,25325,121146,216420,64788,281208,40.02
5,6,ಾಯಚೂರು,8442,228,267585,96268,363853,2.72,13,439268,...,81684,42009,123693,114171,36724,150895,195855,78733,274588,30.39
6,7,ೊಪಳ,5570,250,208844,55751,264595,1.98,23,303082,...,88022,39772,127794,69386,21157,90543,157408,60929,218337,33.35
7,8,ಗದ,4657,229,139782,79314,219096,1.64,28,237936,...,46431,16256,62687,81357,23927,105284,127788,40183,167971,33.88
8,9,ಾರಾಡ,4260,434,160674,222026,382700,2.87,12,435608,...,64329,16709,81038,264305,67569,331874,328634,84278,412912,52.61
9,10,ಉತರ ಕನಡ,10277,140,228887,95643,324530,2.43,19,342420,...,180396,64984,245380,107976,27253,135229,288372,92237,380609,62.55
10,11,ಾೇ,4823,331,254180,76234,330414,2.47,18,363070,...,81605,25580,107185,84584,23979,108563,166189,49559,215748,29.55
11,12,ಬಾ,9896,278,330971,216708,547679,4.10,5,662188,...,123045,51709,174754,249721,70770,320491,372766,122479,495245,38.98
12,13,ತದುಗ,8436,197,283669,73334,357003,2.67,15,387454,...,101940,58534,160474,87362,28169,115531,189302,86703,276005,32.22
13,14,ಾವಣೆೆ,4489,366,225874,125741,351615,2.63,16,372043,...,72096,34223,106319,154275,45357,199632,226371,79580,305951,42.40
14,15,ವಗ,8478,207,259456,147360,406816,3.05,11,431308,...,86043,38347,124390,163979,41272,205251,250022,79619,329641,42.23
15,16,ಉಡು,3582,329,177529,75549,253078,1.89,25,282733,...,174303,83718,258021,91587,37100,128687,265890,120818,386708,75.35
16,17,ಕಮಗಳರು,7202,158,215621,60464,276085,2.07,22,275960,...,121888,74711,196599,66176,21007,87183,188064,95718,283782,50.16
17,18,ತುಮಕೂರು,10597,253,497521,142560,640081,4.79,4,663092,...,179798,98773,278571,160364,57515,217879,340162,156288,496450,36.65
18,19,ೋಾರ,3979,386,227058,106290,333348,2.50,17,366066,...,114176,58156,172332,122798,38452,161250,236974,96608,333582,46.47
19,20,ೆ೦ಗಳರು(ನ),2196,4381,213207,2180638,2393845,17.92,1,3411896,...,223886,80368,304254,2761685,987455,3749140,2985571,1067823,4053394,95.44
20,21,ೆ೦ಗಳರು(ಾ),2298,431,164814,64465,229279,1.72,27,266308,...,105535,41372,146907,77175,23931,101106,182710,65303,248013,53.93
21,22,ಮಂಡ,4962,364,355271,73354,428625,3.21,9,438450,...,108227,52045,160272,79714,26282,105996,187941,78327,266268,30.56
22,23,ಾಸನ,6814,261,341634,91819,433453,3.25,8,448906,...,108071,61944,170015,101767,28854,130621,209838,90798,300636,33.27
23,24,ದಣ ಕನಡ,4861,430,223155,216578,439733,3.29,7,483661,...,293085,217350,510435,281132,143070,424202,574217,360420,934637,93.68
24,25,ೊಡಗು,4102,135,121989,20727,142716,1.07,30,144041,...,127207,83102,210309,23462,8840,32302,150669,91942,242611,86.98
25,26,ೖಸೂರು,6307,476,406952,294016,700968,5.25,3,792117,...,149423,54974,204397,343630,105902,449532,493053,160876,653929,49.76
26,27,ಾಮಾಜನಗರ,5648,181,204137,40737,244874,1.83,26,257964,...,68020,29713,97733,42958,13594,56552,110978,43307,154285,32.03
27,28,ಕಬಾಪರ,4244,296,220987,63711,284698,2.13,21,309857,...,79411,42509,121920,72907,25786,98693,152318,68295,220613,34.48
28,29,ಾಮನಗರ,3516,308,199673,60860,260533,1.95,24,273513,...,83548,37308,120856,73622,26391,100013,157170,63699,220869,41.56
29,30,ಾದ,5270,223,162187,39876,202063,1.51,29,248012,...,60370,29129,89499,47686,16523,64209,108056,45652,153708,28.06

In [64]:
final_df.columns = final_df.columns.astype(int)

In [65]:
final_df[2]

0            ೆಳಾ
1          ಾಗಲೋೆ
2            ಜಯಪರ
3            ಕಲು
4              ೕದ
5           ಾಯಚೂರು
6             ೊಪಳ
7               ಗದ
8            ಾರಾಡ
9          ಉತರ ಕನಡ
10            ಾೇ
11            ಬಾ
12          ತದುಗ
13         ಾವಣೆೆ
14             ವಗ
15             ಉಡು
16        ಕಮಗಳರು
17          ತುಮಕೂರು
18            ೋಾರ
19      ೆ೦ಗಳರು(ನ)
20    ೆ೦ಗಳರು(ಾ)
21             ಮಂಡ
22             ಾಸನ
23         ದಣ ಕನಡ
24            ೊಡಗು
25           ೖಸೂರು
26        ಾಮಾಜನಗರ
27       ಕಬಾಪರ
28           ಾಮನಗರ
29            ಾದ
Name: 2, dtype: object

In [66]:
final_df = final_df.reindex(sorted(final_df.columns, key=int), axis=1)

In [67]:
final_df

,1,2,70,71,72,73,74,75,76,77,...,308,309,310,311,312,313,314,315,316,317
0,1,ೆಳಾ,13433,356,719233,264621,983854,7.37,2,1104621,...,267093,90971,358064,310164,75943,386107,577257,166914,744171,35.34
1,2,ಾಗಲೋೆ,6552,288,242690,118459,361149,2.70,14,409055,...,93605,36083,129688,140159,48792,188951,233764,84875,318639,38.95
2,3,ಜಯಪರ,10498,207,309751,99055,408806,3.06,10,484399,...,102227,44195,146422,128920,38563,167483,231147,82758,313905,33.84
3,4,ಕಲು,10954,234,307351,164250,471601,3.53,6,543960,...,127720,56382,184102,201597,66956,268553,329317,123338,452655,41.60
4,5,ೕದ,5448,313,239979,79958,319937,2.40,20,359199,...,120599,39463,160062,95821,25325,121146,216420,64788,281208,40.02
5,6,ಾಯಚೂರು,8442,228,267585,96268,363853,2.72,13,439268,...,81684,42009,123693,114171,36724,150895,195855,78733,274588,30.39
6,7,ೊಪಳ,5570,250,208844,55751,264595,1.98,23,303082,...,88022,39772,127794,69386,21157,90543,157408,60929,218337,33.35
7,8,ಗದ,4657,229,139782,79314,219096,1.64,28,237936,...,46431,16256,62687,81357,23927,105284,127788,40183,167971,33.88
8,9,ಾರಾಡ,4260,434,160674,222026,382700,2.87,12,435608,...,64329,16709,81038,264305,67569,331874,328634,84278,412912,52.61
9,10,ಉತರ ಕನಡ,10277,140,228887,95643,324530,2.43,19,342420,...,180396,64984,245380,107976,27253,135229,288372,92237,380609,62.55
10,11,ಾೇ,4823,331,254180,76234,330414,2.47,18,363070,...,81605,25580,107185,84584,23979,108563,166189,49559,215748,29.55
11,12,ಬಾ,9896,278,330971,216708,547679,4.10,5,662188,...,123045,51709,174754,249721,70770,320491,372766,122479,495245,38.98
12,13,ತದುಗ,8436,197,283669,73334,357003,2.67,15,387454,...,101940,58534,160474,87362,28169,115531,189302,86703,276005,32.22
13,14,ಾವಣೆೆ,4489,366,225874,125741,351615,2.63,16,372043,...,72096,34223,106319,154275,45357,199632,226371,79580,305951,42.40
14,15,ವಗ,8478,207,259456,147360,406816,3.05,11,431308,...,86043,38347,124390,163979,41272,205251,250022,79619,329641,42.23
15,16,ಉಡು,3582,329,177529,75549,253078,1.89,25,282733,...,174303,83718,258021,91587,37100,128687,265890,120818,386708,75.35
16,17,ಕಮಗಳರು,7202,158,215621,60464,276085,2.07,22,275960,...,121888,74711,196599,66176,21007,87183,188064,95718,283782,50.16
17,18,ತುಮಕೂರು,10597,253,497521,142560,640081,4.79,4,663092,...,179798,98773,278571,160364,57515,217879,340162,156288,496450,36.65
18,19,ೋಾರ,3979,386,227058,106290,333348,2.50,17,366066,...,114176,58156,172332,122798,38452,161250,236974,96608,333582,46.47
19,20,ೆ೦ಗಳರು(ನ),2196,4381,213207,2180638,2393845,17.92,1,3411896,...,223886,80368,304254,2761685,987455,3749140,2985571,1067823,4053394,95.44
20,21,ೆ೦ಗಳರು(ಾ),2298,431,164814,64465,229279,1.72,27,266308,...,105535,41372,146907,77175,23931,101106,182710,65303,248013,53.93
21,22,ಮಂಡ,4962,364,355271,73354,428625,3.21,9,438450,...,108227,52045,160272,79714,26282,105996,187941,78327,266268,30.56
22,23,ಾಸನ,6814,261,341634,91819,433453,3.25,8,448906,...,108071,61944,170015,101767,28854,130621,209838,90798,300636,33.27
23,24,ದಣ ಕನಡ,4861,430,223155,216578,439733,3.29,7,483661,...,293085,217350,510435,281132,143070,424202,574217,360420,934637,93.68
24,25,ೊಡಗು,4102,135,121989,20727,142716,1.07,30,144041,...,127207,83102,210309,23462,8840,32302,150669,91942,242611,86.98
25,26,ೖಸೂರು,6307,476,406952,294016,700968,5.25,3,792117,...,149423,54974,204397,343630,105902,449532,493053,160876,653929,49.76
26,27,ಾಮಾಜನಗರ,5648,181,204137,40737,244874,1.83,26,257964,...,68020,29713,97733,42958,13594,56552,110978,43307,154285,32.03
27,28,ಕಬಾಪರ,4244,296,220987,63711,284698,2.13,21,309857,...,79411,42509,121920,72907,25786,98693,152318,68295,220613,34.48
28,29,ಾಮನಗರ,3516,308,199673,60860,260533,1.95,24,273513,...,83548,37308,120856,73622,26391,100013,157170,63699,220869,41.56
29,30,ಾದ,5270,223,162187,39876,202063,1.51,29,248012,...,60370,29129,89499,47686,16523,64209,108056,45652,153708,28.06

In [68]:
final_df = final_df.drop(final_df.index[30:])

In [69]:
final_df

,1,2,70,71,72,73,74,75,76,77,...,308,309,310,311,312,313,314,315,316,317
0,1,ೆಳಾ,13433,356,719233,264621,983854,7.37,2,1104621,...,267093,90971,358064,310164,75943,386107,577257,166914,744171,35.34
1,2,ಾಗಲೋೆ,6552,288,242690,118459,361149,2.70,14,409055,...,93605,36083,129688,140159,48792,188951,233764,84875,318639,38.95
2,3,ಜಯಪರ,10498,207,309751,99055,408806,3.06,10,484399,...,102227,44195,146422,128920,38563,167483,231147,82758,313905,33.84
3,4,ಕಲು,10954,234,307351,164250,471601,3.53,6,543960,...,127720,56382,184102,201597,66956,268553,329317,123338,452655,41.60
4,5,ೕದ,5448,313,239979,79958,319937,2.40,20,359199,...,120599,39463,160062,95821,25325,121146,216420,64788,281208,40.02
5,6,ಾಯಚೂರು,8442,228,267585,96268,363853,2.72,13,439268,...,81684,42009,123693,114171,36724,150895,195855,78733,274588,30.39
6,7,ೊಪಳ,5570,250,208844,55751,264595,1.98,23,303082,...,88022,39772,127794,69386,21157,90543,157408,60929,218337,33.35
7,8,ಗದ,4657,229,139782,79314,219096,1.64,28,237936,...,46431,16256,62687,81357,23927,105284,127788,40183,167971,33.88
8,9,ಾರಾಡ,4260,434,160674,222026,382700,2.87,12,435608,...,64329,16709,81038,264305,67569,331874,328634,84278,412912,52.61
9,10,ಉತರ ಕನಡ,10277,140,228887,95643,324530,2.43,19,342420,...,180396,64984,245380,107976,27253,135229,288372,92237,380609,62.55
10,11,ಾೇ,4823,331,254180,76234,330414,2.47,18,363070,...,81605,25580,107185,84584,23979,108563,166189,49559,215748,29.55
11,12,ಬಾ,9896,278,330971,216708,547679,4.10,5,662188,...,123045,51709,174754,249721,70770,320491,372766,122479,495245,38.98
12,13,ತದುಗ,8436,197,283669,73334,357003,2.67,15,387454,...,101940,58534,160474,87362,28169,115531,189302,86703,276005,32.22
13,14,ಾವಣೆೆ,4489,366,225874,125741,351615,2.63,16,372043,...,72096,34223,106319,154275,45357,199632,226371,79580,305951,42.40
14,15,ವಗ,8478,207,259456,147360,406816,3.05,11,431308,...,86043,38347,124390,163979,41272,205251,250022,79619,329641,42.23
15,16,ಉಡು,3582,329,177529,75549,253078,1.89,25,282733,...,174303,83718,258021,91587,37100,128687,265890,120818,386708,75.35
16,17,ಕಮಗಳರು,7202,158,215621,60464,276085,2.07,22,275960,...,121888,74711,196599,66176,21007,87183,188064,95718,283782,50.16
17,18,ತುಮಕೂರು,10597,253,497521,142560,640081,4.79,4,663092,...,179798,98773,278571,160364,57515,217879,340162,156288,496450,36.65
18,19,ೋಾರ,3979,386,227058,106290,333348,2.50,17,366066,...,114176,58156,172332,122798,38452,161250,236974,96608,333582,46.47
19,20,ೆ೦ಗಳರು(ನ),2196,4381,213207,2180638,2393845,17.92,1,3411896,...,223886,80368,304254,2761685,987455,3749140,2985571,1067823,4053394,95.44
20,21,ೆ೦ಗಳರು(ಾ),2298,431,164814,64465,229279,1.72,27,266308,...,105535,41372,146907,77175,23931,101106,182710,65303,248013,53.93
21,22,ಮಂಡ,4962,364,355271,73354,428625,3.21,9,438450,...,108227,52045,160272,79714,26282,105996,187941,78327,266268,30.56
22,23,ಾಸನ,6814,261,341634,91819,433453,3.25,8,448906,...,108071,61944,170015,101767,28854,130621,209838,90798,300636,33.27
23,24,ದಣ ಕನಡ,4861,430,223155,216578,439733,3.29,7,483661,...,293085,217350,510435,281132,143070,424202,574217,360420,934637,93.68
24,25,ೊಡಗು,4102,135,121989,20727,142716,1.07,30,144041,...,127207,83102,210309,23462,8840,32302,150669,91942,242611,86.98
25,26,ೖಸೂರು,6307,476,406952,294016,700968,5.25,3,792117,...,149423,54974,204397,343630,105902,449532,493053,160876,653929,49.76
26,27,ಾಮಾಜನಗರ,5648,181,204137,40737,244874,1.83,26,257964,...,68020,29713,97733,42958,13594,56552,110978,43307,154285,32.03
27,28,ಕಬಾಪರ,4244,296,220987,63711,284698,2.13,21,309857,...,79411,42509,121920,72907,25786,98693,152318,68295,220613,34.48
28,29,ಾಮನಗರ,3516,308,199673,60860,260533,1.95,24,273513,...,83548,37308,120856,73622,26391,100013,157170,63699,220869,41.56
29,30,ಾದ,5270,223,162187,39876,202063,1.51,29,248012,...,60370,29129,89499,47686,16523,64209,108056,45652,153708,28.06

In [70]:
new_order = [18, 20, 19, 27, 26, 29, 30, 22, 21, 24, 23, 25, 4, 5, 8, 12, 10, 9, 6, 1, 2, 15, 13, 11, 14, 16, 17, 7, 3, 28]
final_df[1] = new_order
final_df

,1,2,70,71,72,73,74,75,76,77,...,308,309,310,311,312,313,314,315,316,317
0,18,ೆಳಾ,13433,356,719233,264621,983854,7.37,2,1104621,...,267093,90971,358064,310164,75943,386107,577257,166914,744171,35.34
1,20,ಾಗಲೋೆ,6552,288,242690,118459,361149,2.70,14,409055,...,93605,36083,129688,140159,48792,188951,233764,84875,318639,38.95
2,19,ಜಯಪರ,10498,207,309751,99055,408806,3.06,10,484399,...,102227,44195,146422,128920,38563,167483,231147,82758,313905,33.84
3,27,ಕಲು,10954,234,307351,164250,471601,3.53,6,543960,...,127720,56382,184102,201597,66956,268553,329317,123338,452655,41.60
4,26,ೕದ,5448,313,239979,79958,319937,2.40,20,359199,...,120599,39463,160062,95821,25325,121146,216420,64788,281208,40.02
5,29,ಾಯಚೂರು,8442,228,267585,96268,363853,2.72,13,439268,...,81684,42009,123693,114171,36724,150895,195855,78733,274588,30.39
6,30,ೊಪಳ,5570,250,208844,55751,264595,1.98,23,303082,...,88022,39772,127794,69386,21157,90543,157408,60929,218337,33.35
7,22,ಗದ,4657,229,139782,79314,219096,1.64,28,237936,...,46431,16256,62687,81357,23927,105284,127788,40183,167971,33.88
8,21,ಾರಾಡ,4260,434,160674,222026,382700,2.87,12,435608,...,64329,16709,81038,264305,67569,331874,328634,84278,412912,52.61
9,24,ಉತರ ಕನಡ,10277,140,228887,95643,324530,2.43,19,342420,...,180396,64984,245380,107976,27253,135229,288372,92237,380609,62.55
10,23,ಾೇ,4823,331,254180,76234,330414,2.47,18,363070,...,81605,25580,107185,84584,23979,108563,166189,49559,215748,29.55
11,25,ಬಾ,9896,278,330971,216708,547679,4.10,5,662188,...,123045,51709,174754,249721,70770,320491,372766,122479,495245,38.98
12,4,ತದುಗ,8436,197,283669,73334,357003,2.67,15,387454,...,101940,58534,160474,87362,28169,115531,189302,86703,276005,32.22
13,5,ಾವಣೆೆ,4489,366,225874,125741,351615,2.63,16,372043,...,72096,34223,106319,154275,45357,199632,226371,79580,305951,42.40
14,8,ವಗ,8478,207,259456,147360,406816,3.05,11,431308,...,86043,38347,124390,163979,41272,205251,250022,79619,329641,42.23
15,12,ಉಡು,3582,329,177529,75549,253078,1.89,25,282733,...,174303,83718,258021,91587,37100,128687,265890,120818,386708,75.35
16,10,ಕಮಗಳರು,7202,158,215621,60464,276085,2.07,22,275960,...,121888,74711,196599,66176,21007,87183,188064,95718,283782,50.16
17,9,ತುಮಕೂರು,10597,253,497521,142560,640081,4.79,4,663092,...,179798,98773,278571,160364,57515,217879,340162,156288,496450,36.65
18,6,ೋಾರ,3979,386,227058,106290,333348,2.50,17,366066,...,114176,58156,172332,122798,38452,161250,236974,96608,333582,46.47
19,1,ೆ೦ಗಳರು(ನ),2196,4381,213207,2180638,2393845,17.92,1,3411896,...,223886,80368,304254,2761685,987455,3749140,2985571,1067823,4053394,95.44
20,2,ೆ೦ಗಳರು(ಾ),2298,431,164814,64465,229279,1.72,27,266308,...,105535,41372,146907,77175,23931,101106,182710,65303,248013,53.93
21,15,ಮಂಡ,4962,364,355271,73354,428625,3.21,9,438450,...,108227,52045,160272,79714,26282,105996,187941,78327,266268,30.56
22,13,ಾಸನ,6814,261,341634,91819,433453,3.25,8,448906,...,108071,61944,170015,101767,28854,130621,209838,90798,300636,33.27
23,11,ದಣ ಕನಡ,4861,430,223155,216578,439733,3.29,7,483661,...,293085,217350,510435,281132,143070,424202,574217,360420,934637,93.68
24,14,ೊಡಗು,4102,135,121989,20727,142716,1.07,30,144041,...,127207,83102,210309,23462,8840,32302,150669,91942,242611,86.98
25,16,ೖಸೂರು,6307,476,406952,294016,700968,5.25,3,792117,...,149423,54974,204397,343630,105902,449532,493053,160876,653929,49.76
26,17,ಾಮಾಜನಗರ,5648,181,204137,40737,244874,1.83,26,257964,...,68020,29713,97733,42958,13594,56552,110978,43307,154285,32.03
27,7,ಕಬಾಪರ,4244,296,220987,63711,284698,2.13,21,309857,...,79411,42509,121920,72907,25786,98693,152318,68295,220613,34.48
28,3,ಾಮನಗರ,3516,308,199673,60860,260533,1.95,24,273513,...,83548,37308,120856,73622,26391,100013,157170,63699,220869,41.56
29,28,ಾದ,5270,223,162187,39876,202063,1.51,29,248012,...,60370,29129,89499,47686,16523,64209,108056,45652,153708,28.06

In [71]:
final_data = final_df.sort_values(1)
final_data.reset_index(drop=True, inplace=True)
final_data

,1,2,70,71,72,73,74,75,76,77,...,308,309,310,311,312,313,314,315,316,317
0,1,ೆ೦ಗಳರು(ನ),2196,4381,213207,2180638,2393845,17.92,1,3411896,...,223886,80368,304254,2761685,987455,3749140,2985571,1067823,4053394,95.44
1,2,ೆ೦ಗಳರು(ಾ),2298,431,164814,64465,229279,1.72,27,266308,...,105535,41372,146907,77175,23931,101106,182710,65303,248013,53.93
2,3,ಾಮನಗರ,3516,308,199673,60860,260533,1.95,24,273513,...,83548,37308,120856,73622,26391,100013,157170,63699,220869,41.56
3,4,ತದುಗ,8436,197,283669,73334,357003,2.67,15,387454,...,101940,58534,160474,87362,28169,115531,189302,86703,276005,32.22
4,5,ಾವಣೆೆ,4489,366,225874,125741,351615,2.63,16,372043,...,72096,34223,106319,154275,45357,199632,226371,79580,305951,42.40
5,6,ೋಾರ,3979,386,227058,106290,333348,2.50,17,366066,...,114176,58156,172332,122798,38452,161250,236974,96608,333582,46.47
6,7,ಕಬಾಪರ,4244,296,220987,63711,284698,2.13,21,309857,...,79411,42509,121920,72907,25786,98693,152318,68295,220613,34.48
7,8,ವಗ,8478,207,259456,147360,406816,3.05,11,431308,...,86043,38347,124390,163979,41272,205251,250022,79619,329641,42.23
8,9,ತುಮಕೂರು,10597,253,497521,142560,640081,4.79,4,663092,...,179798,98773,278571,160364,57515,217879,340162,156288,496450,36.65
9,10,ಕಮಗಳರು,7202,158,215621,60464,276085,2.07,22,275960,...,121888,74711,196599,66176,21007,87183,188064,95718,283782,50.16
10,11,ದಣ ಕನಡ,4861,430,223155,216578,439733,3.29,7,483661,...,293085,217350,510435,281132,143070,424202,574217,360420,934637,93.68
11,12,ಉಡು,3582,329,177529,75549,253078,1.89,25,282733,...,174303,83718,258021,91587,37100,128687,265890,120818,386708,75.35
12,13,ಾಸನ,6814,261,341634,91819,433453,3.25,8,448906,...,108071,61944,170015,101767,28854,130621,209838,90798,300636,33.27
13,14,ೊಡಗು,4102,135,121989,20727,142716,1.07,30,144041,...,127207,83102,210309,23462,8840,32302,150669,91942,242611,86.98
14,15,ಮಂಡ,4962,364,355271,73354,428625,3.21,9,438450,...,108227,52045,160272,79714,26282,105996,187941,78327,266268,30.56
15,16,ೖಸೂರು,6307,476,406952,294016,700968,5.25,3,792117,...,149423,54974,204397,343630,105902,449532,493053,160876,653929,49.76
16,17,ಾಮಾಜನಗರ,5648,181,204137,40737,244874,1.83,26,257964,...,68020,29713,97733,42958,13594,56552,110978,43307,154285,32.03
17,18,ೆಳಾ,13433,356,719233,264621,983854,7.37,2,1104621,...,267093,90971,358064,310164,75943,386107,577257,166914,744171,35.34
18,19,ಜಯಪರ,10498,207,309751,99055,408806,3.06,10,484399,...,102227,44195,146422,128920,38563,167483,231147,82758,313905,33.84
19,20,ಾಗಲೋೆ,6552,288,242690,118459,361149,2.70,14,409055,...,93605,36083,129688,140159,48792,188951,233764,84875,318639,38.95
20,21,ಾರಾಡ,4260,434,160674,222026,382700,2.87,12,435608,...,64329,16709,81038,264305,67569,331874,328634,84278,412912,52.61
21,22,ಗದ,4657,229,139782,79314,219096,1.64,28,237936,...,46431,16256,62687,81357,23927,105284,127788,40183,167971,33.88
22,23,ಾೇ,4823,331,254180,76234,330414,2.47,18,363070,...,81605,25580,107185,84584,23979,108563,166189,49559,215748,29.55
23,24,ಉತರ ಕನಡ,10277,140,228887,95643,324530,2.43,19,342420,...,180396,64984,245380,107976,27253,135229,288372,92237,380609,62.55
24,25,ಬಾ,9896,278,330971,216708,547679,4.10,5,662188,...,123045,51709,174754,249721,70770,320491,372766,122479,495245,38.98
25,26,ೕದ,5448,313,239979,79958,319937,2.40,20,359199,...,120599,39463,160062,95821,25325,121146,216420,64788,281208,40.02
26,27,ಕಲು,10954,234,307351,164250,471601,3.53,6,543960,...,127720,56382,184102,201597,66956,268553,329317,123338,452655,41.60
27,28,ಾದ,5270,223,162187,39876,202063,1.51,29,248012,...,60370,29129,89499,47686,16523,64209,108056,45652,153708,28.06
28,29,ಾಯಚೂರು,8442,228,267585,96268,363853,2.72,13,439268,...,81684,42009,123693,114171,36724,150895,195855,78733,274588,30.39
29,30,ೊಪಳ,5570,250,208844,55751,264595,1.98,23,303082,...,88022,39772,127794,69386,21157,90543,157408,60929,218337,33.35

In [72]:
name_list = ['Bengaluru(U)','Bengaluru(R)', 'Ramanagara', 'Chitradurga', 'Davanagere', 'Kolara', 'Chikkaballapura', 'Shivamogga',
'Tumakuru', 'Chikkamagaluru', 'Dakshina Kannada', 'Udupi', 'Hassan', 'Kodagu', 'Mandya', 'Mysuru', 'Chamarajanagara',
 'Belagavi', 'Vijayapura', 'Bagalkot', 'Dharwad', 'Gadag', 'Haveri', 'Uttara Kannada', 'Ballari', 'Bidar', 'Kalburgi',
 'Yadgir', 'Raichur', 'Koppal']

In [73]:
final_data[2] = name_list
final_data

,1,2,70,71,72,73,74,75,76,77,...,308,309,310,311,312,313,314,315,316,317
0,1,Bengaluru(U),2196,4381,213207,2180638,2393845,17.92,1,3411896,...,223886,80368,304254,2761685,987455,3749140,2985571,1067823,4053394,95.44
1,2,Bengaluru(R),2298,431,164814,64465,229279,1.72,27,266308,...,105535,41372,146907,77175,23931,101106,182710,65303,248013,53.93
2,3,Ramanagara,3516,308,199673,60860,260533,1.95,24,273513,...,83548,37308,120856,73622,26391,100013,157170,63699,220869,41.56
3,4,Chitradurga,8436,197,283669,73334,357003,2.67,15,387454,...,101940,58534,160474,87362,28169,115531,189302,86703,276005,32.22
4,5,Davanagere,4489,366,225874,125741,351615,2.63,16,372043,...,72096,34223,106319,154275,45357,199632,226371,79580,305951,42.40
5,6,Kolara,3979,386,227058,106290,333348,2.50,17,366066,...,114176,58156,172332,122798,38452,161250,236974,96608,333582,46.47
6,7,Chikkaballapura,4244,296,220987,63711,284698,2.13,21,309857,...,79411,42509,121920,72907,25786,98693,152318,68295,220613,34.48
7,8,Shivamogga,8478,207,259456,147360,406816,3.05,11,431308,...,86043,38347,124390,163979,41272,205251,250022,79619,329641,42.23
8,9,Tumakuru,10597,253,497521,142560,640081,4.79,4,663092,...,179798,98773,278571,160364,57515,217879,340162,156288,496450,36.65
9,10,Chikkamagaluru,7202,158,215621,60464,276085,2.07,22,275960,...,121888,74711,196599,66176,21007,87183,188064,95718,283782,50.16
10,11,Dakshina Kannada,4861,430,223155,216578,439733,3.29,7,483661,...,293085,217350,510435,281132,143070,424202,574217,360420,934637,93.68
11,12,Udupi,3582,329,177529,75549,253078,1.89,25,282733,...,174303,83718,258021,91587,37100,128687,265890,120818,386708,75.35
12,13,Hassan,6814,261,341634,91819,433453,3.25,8,448906,...,108071,61944,170015,101767,28854,130621,209838,90798,300636,33.27
13,14,Kodagu,4102,135,121989,20727,142716,1.07,30,144041,...,127207,83102,210309,23462,8840,32302,150669,91942,242611,86.98
14,15,Mandya,4962,364,355271,73354,428625,3.21,9,438450,...,108227,52045,160272,79714,26282,105996,187941,78327,266268,30.56
15,16,Mysuru,6307,476,406952,294016,700968,5.25,3,792117,...,149423,54974,204397,343630,105902,449532,493053,160876,653929,49.76
16,17,Chamarajanagara,5648,181,204137,40737,244874,1.83,26,257964,...,68020,29713,97733,42958,13594,56552,110978,43307,154285,32.03
17,18,Belagavi,13433,356,719233,264621,983854,7.37,2,1104621,...,267093,90971,358064,310164,75943,386107,577257,166914,744171,35.34
18,19,Vijayapura,10498,207,309751,99055,408806,3.06,10,484399,...,102227,44195,146422,128920,38563,167483,231147,82758,313905,33.84
19,20,Bagalkot,6552,288,242690,118459,361149,2.70,14,409055,...,93605,36083,129688,140159,48792,188951,233764,84875,318639,38.95
20,21,Dharwad,4260,434,160674,222026,382700,2.87,12,435608,...,64329,16709,81038,264305,67569,331874,328634,84278,412912,52.61
21,22,Gadag,4657,229,139782,79314,219096,1.64,28,237936,...,46431,16256,62687,81357,23927,105284,127788,40183,167971,33.88
22,23,Haveri,4823,331,254180,76234,330414,2.47,18,363070,...,81605,25580,107185,84584,23979,108563,166189,49559,215748,29.55
23,24,Uttara Kannada,10277,140,228887,95643,324530,2.43,19,342420,...,180396,64984,245380,107976,27253,135229,288372,92237,380609,62.55
24,25,Ballari,9896,278,330971,216708,547679,4.10,5,662188,...,123045,51709,174754,249721,70770,320491,372766,122479,495245,38.98
25,26,Bidar,5448,313,239979,79958,319937,2.40,20,359199,...,120599,39463,160062,95821,25325,121146,216420,64788,281208,40.02
26,27,Kalburgi,10954,234,307351,164250,471601,3.53,6,543960,...,127720,56382,184102,201597,66956,268553,329317,123338,452655,41.60
27,28,Yadgir,5270,223,162187,39876,202063,1.51,29,248012,...,60370,29129,89499,47686,16523,64209,108056,45652,153708,28.06
28,29,Raichur,8442,228,267585,96268,363853,2.72,13,439268,...,81684,42009,123693,114171,36724,150895,195855,78733,274588,30.39
29,30,Koppal,5570,250,208844,55751,264595,1.98,23,303082,...,88022,39772,127794,69386,21157,90543,157408,60929,218337,33.35

In [74]:
final_data.to_csv(absolute_result_path, sep=';', index=False)
final_data.to_csv(absolute_dictionary_path, sep=';', index=False)

In [75]:
start = final_data.columns[2]
end = final_data.columns[-1]
for i in range(start,end):
    if i not in final_df.columns.tolist():
        print(i)

156
157
158
159
160
161
162