In [42]:
import tabula
import pandas as pd
import os
import re

In [154]:
relative_path_pdf = "/home/riya/Downloads/ADT_Test/HTML/"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = relative_path_pdf

In [220]:
os.listdir(absolute_path_pdf)

['ch12_page_11.pdf',
 'ch9_page_7.pdf',
 'output_page_ch12_3.html',
 'ch12_page_3.pdf',
 'output_page_ch12_11.html',
 'output_page_ch9_7.html',
 'ch9_page_3.pdf',
 'output_page_ch9_3.html']

In [221]:
output_list = []

In [222]:
# iterate through all file 
for file in os.listdir(absolute_path_pdf): 
    # Check whether file is in text format or not 
    if file.endswith(".pdf"): 
        file_path = os.path.join(absolute_path_pdf, file)
        dfs = tabula.read_pdf(file_path, pages='all', stream=True)
        output_list.append(dfs[0])

In [223]:
len(output_list)

4

In [224]:
output_list[3]

,Unnamed: 0,Unnamed: 1,aÉÆÃlgÀÄ aÁoÀ£ÀUÀ1⁄4ÀÄ/ Motor vehicles in Numbers
0,NaN,NaN,»ÐõAiiÀ Á±Ò‘Ð¤Ð ÀÑÌÐ1Ð–ÐÎÐÔaÑô’ú–ÐÎÐÔ/ Taxies ...
1,NaN,NaN,Passengers Vehicle
2,NaN,NaN,ÀÐÔÖ¤ÐÔ „ÊÐ1Ð–ÐÎÐ M©Ôå (ÊÐÖÜ©¤ý
3,Sl.,NaN,1ÑÃÜ§A·Ð „¤ÐÔÀÙÖÓ©¤ý ÀÐ¦Ñô’ú ...3Ð¤Ù ‘Ñô3⁄4ý À...
4,No.,Districts,„ÊÐ1Ð–ÐÎÐ ÊÐÖÜ©¤ý ÀÙÖÓ»Ð®ý
5,NaN,NaN,‘Ñô3⁄4ý ‘Ñô3⁄4ý –ÐÎÐÔ §‘Ðù–ÐÎÐÔ Three –ÐÎÐÔ &À...
6,NaN,NaN,Motor Maxi Other seated ÀÙÖÓ©¤ýto six seated S...
7,NaN,NaN,Cabs Cabs Cabs vehicles/Auto ÊÙÚ‘ÐÄý –ÐÎÐÔ )ve...
8,NaN,NaN,Rikshaws Total
9,1,2,502 503 504 505 506 507 508 509 510
10,1,BENGALURU,91757 35562 13336 173584 32592 4731159
11,2,BENGALURU(R),1050 535 162 1769 206 49346
12,3,RAMANAGARA,8367 3216 650 7844 312 239767
13,4,CHITRADURGA,3722 2679 12 5648 294 196114
14,5,DAVANAGERE,3101 2425 315 11074 256 376319
15,6,KOLAR,3278 993 12 6753 281 214164
16,7,CHIKKABALLAPURA,1730 819 9 3840 416 137784
17,8,SHIVAMOGGA,2584 1408 24 7008 945 400834
18,9,TUMAKURU,1876 947 2154 13924 586 493523
19,10,CHIKKAMAGALURU,2056 1201 561 8393 285 199761
20,11,DAKSHINA KANNADA,12444 7668 34 25758 1722 477515
21,12,UDUPI,4389 2010 10 12947 465 256714
22,NaN,NaN,Bifurcation not available shown in total column
23,13,HASSAN,3870 2169 759 6385 346 279315
24,14,KODAGU,2222 1268 - 6695 448 76759
25,15,MANDYA,2989 1995 61 6172 436 252808
26,16,MYSURU,5734 2471 15 13848 357 768704
27,17,CHAMARAJANAGAR,813 498 16 2457 480 114198
28,18,BELAGAVI,4108 2014 24 13940 420 832141
29,19,VIJAYAPURA,2873 1809 17 3940 310 265799
30,20,BAGALKOT,2254 1980 - 7198 258 261053
31,21,DHARAWAD,2047 1409 10 4007 125 118741
32,22,GADAG,3418 2292 - 14044 355 373480
33,23,HAVERI,3178 1922 - 5605 1229 223778
34,24,UTTARA KANNADA,3250 1430 7 5569 315 311909
35,25,BALLARI,3130 2094 115 7021 222 372669
36,26,BIDAR,1317 1405 53 4578 129 150774
37,27,KALABURAGI,2455 1546 56 9461 260 293783
38,28,YADGIRI,1287 674 9 5864 297 90323
39,29,RAICHUR,2193 1508 - 4947 316 237835
40,30,KOPPAL,1663 781 17 2779 180 158045
41,NaN,STATE,185155 88728 18438 403052 44843 12955114

In [225]:
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        pattern = r'\b\d+\b'
        flag = 0
        for idx in range(len(df_col) - 1):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = [int(x) for x in re.findall(pattern, df_col.iloc[idx])]
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = [int(x) for x in re.findall(pattern, df_col.iloc[idx+1])]

            if 1 in numbers_1 and 1 in numbers_2:
                start_index = idx
                end_index = idx+31
                index_list.append([start_index, end_index])
                flag=1
                i += 1
                break
        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index

In [226]:
index_list, drop_list = find_header(output_list)

In [227]:
drop_list

[]

In [228]:
index_list

[[4, 35], [8, 39], [4, 35], [9, 40]]

In [229]:
len(index_list)

4

In [230]:
index_list[1][1] = 46
index_list[3][1] = 41

In [231]:
index_list

[[4, 35], [8, 46], [4, 35], [9, 41]]

In [232]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        print(df)
        return new_df_list
    return df_list

In [233]:
def get_final_index(df_list, index_ll, drop_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list = find_header(df)
        drop_index = drop_list
    return df, index_ll, drop_index

In [234]:
new_output_list, new_index_list, new_drop_list = get_final_index(output_list, index_list, drop_list)

In [235]:
len(new_index_list)

4

In [236]:
new_output_list[1]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,·ÐÖ¤Ð À̧A»Ð‘Ðþ–ÐÎÐÔ/Communication,(In Numbers),Unnamed: 3
0,NaN,NaN,NaN,·ÐÖ¤ÐÀÑ±Ò,NaN,NaN
1,‘ÐõÀÐÔ.,NaN,NaN,ÁoÀÐÔAiÀÄ,À̧A›Ñ§,Internet
2,NaN,f ̄ÉUÀ1⁄4ÀÄ,NaN,NaN,NaN,NaN
3,ÊÐ Ùô ConnectionsA”,NaN,CAZÉ PÀbÉÃjUÀ1⁄4ÄÀ,·ÐÖ¤ÐÀÑ±Ò–ÐÎÐÔ ‘ÙÓA·Ðõ–ÐÎÐÔ,·ÐÖ¤ÐÀÑ±Ò,NaN
4,NaN,NaN,Post Offices *,Telephones,ƒA3Ð¤Ð ¢ÑÃ·ÐÅö,NaN
5,NaN,NaN,NaN,Telephones Mobile Phones,NaN,NaN
6,NaN,NaN,NaN,NaN,ƒÎÐÀÐ ̄Ë¤ÐÔÀÐÕ·ÐÔ,NaN
7,NaN,NaN,NaN,Exchanges,NaN,NaN
8,1,2,529,530 531,532,533
9,1,̈AÉ UÀ1⁄4ÀÆgÀÄ,271,NaN,NaN,NaN
10,2,̈AÉ UÀ1⁄4ÀÆgÀÄ (UÁ),142,325 595476,1363223,212889
11,3,gÁaÄÀ £ÀUÀgÀ,181,NaN,NaN,NaN
12,4,avÀzÀÄUÀð,317,NaN,NaN,NaN
13,NaN,NaN,NaN,129 25214,222865,10045
14,5,zÁaÀtUÉgÉ,324,NaN,NaN,NaN
15,6,PÉÆÃ ̄ÁgÀ,220,NaN,NaN,NaN
16,NaN,NaN,NaN,137 19854,287721,8619
17,7,aPÀÌ§1⁄4Á¥î ÀÄgÀ,198,NaN,NaN,NaN
18,8,2aaÀ ÉÆUÀÎ,355,139 30089,411342,11568
19,9,vÀÄaÀÄPÀÆgÀÄ,558,109 20640,215362,9097
20,10,aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ,301,146 19742,398175,6601
21,11,zQÀ të PÀ£ÀßqÀ,471,NaN,NaN,NaN
22,NaN,NaN,NaN,249 139496,800620,54136
23,12,GqÄÀ ¦,332,NaN,NaN,NaN
24,13,oÁ À̧£À,415,103 17633,264804,7736
25,14,PÉÆqUÀ ÀÄ,216,76 18967,270432,6462
26,15,aÄÀ AqåÀ,352,63 9825,143071,4220
27,16,aÄÉ Ê À̧ÆgÀÄ,387,NaN,NaN,NaN
28,NaN,NaN,NaN,141 62534,325012,26435
29,17,ZÁaÀÄgÁd£ÀUÀgÀ,205,NaN,NaN,NaN
30,18,̈1⁄4É ÀUÁ«,733,190 54499,320311,19068
31,19,«dAiÀi¥ÄÀ gÀÀ,405,NaN,NaN,NaN
32,NaN,NaN,NaN,183 27143,307157,11972
33,20,̈ÁUÀ®PÉÆÃmÉ,334,NaN,NaN,NaN
34,21,zÁs gÀaÁqÀ,211,NaN,NaN,NaN
35,22,UÀzUÀ À,170,173 70440,364719,28223
36,23,oÁaÉÃj,259,NaN,NaN,NaN
37,24,GvÀÛgÀ PÀ£ÀßqÀ,489,152 43698,459660,12651
38,25,§1⁄4Ájî,385,113 23982,287938,23919
39,26,©ÃzÀgï,304,80 10266,121023,3719
40,27,PÀ®§ÄgÀV,NaN,NaN,NaN,NaN
41,NaN,NaN,624,156 22151,188323,9147
42,28,AiÀiÁzÀVj,NaN,NaN,NaN,NaN
43,29,gÁAiÀÄZÆÀ gÀÄ,287,NaN,NaN,NaN
44,NaN,NaN,NaN,129 18164,224621,8198
45,30,PÉÆ¥à1⁄4À À,218,NaN,NaN,NaN
46,NaN,gÁdå,9664,2793 1229813,6976379,474705

In [237]:
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(ind_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(ind_list[idx][0], ind_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [238]:
corrected_list = remove_header(new_output_list, new_index_list)

In [239]:
corrected_list[0]

   Unnamed: 0          Unnamed: 1 C£ÀÄzÁ¤vÀ aÉÄnPï ¥ÀÆaÀð/Aided Pre-Matric
0           1                   2                  782 783 784 785 786 787
1           1       É̈AUÀ1⁄4ÀÆgÀÄ                        -  -   -  - -   -
2           2  É̈AUÀ1⁄4ÀÆgÀÄ (UÁ)                              - - - - - -
3           3        gÁaÀÄ£UÀ ÀgÀ                          3 150 - - 3 150
4           4           avÀzÀÄUÀð                         6 346 1 54 7 400
5           5           zÁaÀtUÉgÉ                      10 565  -  - 10 565
6           6           PÉÆÃ ̄ÁgÀ                        2 175  -  - 2 175
7           7     aPÀÌ§1⁄4Áî¥ÀÄgÀ                              - - - - - -
8           8           2aÀaÉÆUÀÎ                       5 270 5 225 10 495
9           9        vÀÄaÀÄPÀÆgÀÄ                          8 382 - - 8 382
10         10   aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ                       9 628 2 120 11 748
11         11      zÀQtë PÀ£ßÀ qÀ                        -  -   -  - -   -
12         12               GqÀÄ¦                            2 92 - - 2 92
13         13             oÁ À̧£À                          5 160 - - 5 160
14         14            PÉÆqÀUÀÄ                              - - - - - -
15         15             aÀÄAqÀå                         7 690 2 60 9 750
16         16         aÉÄÊ À̧ÆgÀÄ                        4 460 1 100 5 560
17         17     ZÁaÀÄgÁd£UÀ ÀgÀ                        4 175 2 100 6 275
18         18           É̈1⁄4ÀUÁ«                         4 170 1 36 5 206
19         19        «dAiÀi¥ÀÄgÀÀ                      29 1378 - - 29 1378
20         20         ̈ÁUÀ®PÉÆÃmÉ                      24 987  -  - 24 987
21         21           zsÁgÀaÁqÀ                        5 840  -  - 5 840
22         22              UÀzÀUÀ                       16 664 1 25 17 689
23         23              oÁaÉÃj                       11 615 2 80 13 695
24         24     GvÀgÛ À PÀ£ÀßqÀ                           1 50 1 30 2 80
25         25             §1⁄4Ájî                          8 310 - - 8 310
26         26              ©ÃzÀgï                         5 395 1 50 6 445
27         27            PÀ®§ÄgÀV                     21 1265 1 50 22 1315
28         28          AiiÀ ÁzÀVj                          4 275 - - 4 275
29         29       gÁAiÄÀ ZÀÆgÀÄ                        6 401 1 100 7 501
30         30         PÉÆ¥À1⁄4à À                        12 597 - - 12 597

In [240]:
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        pattern = r'\b\d+\b'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)

                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)

    return new_df

In [241]:
new_list = first_column_split(corrected_list)

In [242]:
new_list[3]

,Unnamed: 0,Unnamed: 1,aÉÆÃlgÀÄ aÁoÀ£ÀUÀ1⁄4ÀÄ/ Motor vehicles in Numbers
0,1,2,502 503 504 505 506 507 508 509 510
1,1,BENGALURU,91757 35562 13336 173584 32592 4731159
2,2,BENGALURU(R),1050 535 162 1769 206 49346
3,3,RAMANAGARA,8367 3216 650 7844 312 239767
4,4,CHITRADURGA,3722 2679 12 5648 294 196114
5,5,DAVANAGERE,3101 2425 315 11074 256 376319
6,6,KOLAR,3278 993 12 6753 281 214164
7,7,CHIKKABALLAPURA,1730 819 9 3840 416 137784
8,8,SHIVAMOGGA,2584 1408 24 7008 945 400834
9,9,TUMAKURU,1876 947 2154 13924 586 493523
10,10,CHIKKAMAGALURU,2056 1201 561 8393 285 199761
11,11,DAKSHINA KANNADA,12444 7668 34 25758 1722 477515
12,12,UDUPI,4389 2010 10 12947 465 256714
13,NaN,NaN,Bifurcation not available shown in total column
14,13,HASSAN,3870 2169 759 6385 346 279315
15,14,KODAGU,2222 1268 - 6695 448 76759
16,15,MANDYA,2989 1995 61 6172 436 252808
17,16,MYSURU,5734 2471 15 13848 357 768704
18,17,CHAMARAJANAGAR,813 498 16 2457 480 114198
19,18,BELAGAVI,4108 2014 24 13940 420 832141
20,19,VIJAYAPURA,2873 1809 17 3940 310 265799
21,20,BAGALKOT,2254 1980 - 7198 258 261053
22,21,DHARAWAD,2047 1409 10 4007 125 118741
23,22,GADAG,3418 2292 - 14044 355 373480
24,23,HAVERI,3178 1922 - 5605 1229 223778
25,24,UTTARA KANNADA,3250 1430 7 5569 315 311909
26,25,BALLARI,3130 2094 115 7021 222 372669
27,26,BIDAR,1317 1405 53 4578 129 150774
28,27,KALABURAGI,2455 1546 56 9461 260 293783
29,28,YADGIRI,1287 674 9 5864 297 90323
30,29,RAICHUR,2193 1508 - 4947 316 237835
31,30,KOPPAL,1663 781 17 2779 180 158045

In [243]:
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [244]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [245]:
replaced_list = replace_with_nan(new_list)

In [246]:
replaced_list[0]

   Unnamed: 0          Unnamed: 1 C£ÀÄzÁ¤vÀ aÉÄnPï ¥ÀÆaÀð/Aided Pre-Matric
0           1                   2                  782 783 784 785 786 787
1           1       É̈AUÀ1⁄4ÀÆgÀÄ            Null Null Null Null Null Null
2           2  É̈AUÀ1⁄4ÀÆgÀÄ (UÁ)            Null Null Null Null Null Null
3           3        gÁaÀÄ£UÀ ÀgÀ                    3 150 Null Null 3 150
4           4           avÀzÀÄUÀð                         6 346 1 54 7 400
5           5           zÁaÀtUÉgÉ                  10 565 Null Null 10 565
6           6           PÉÆÃ ̄ÁgÀ                    2 175 Null Null 2 175
7           7     aPÀÌ§1⁄4Áî¥ÀÄgÀ            Null Null Null Null Null Null
8           8           2aÀaÉÆUÀÎ                       5 270 5 225 10 495
9           9        vÀÄaÀÄPÀÆgÀÄ                    8 382 Null Null 8 382
10         10   aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ                       9 628 2 120 11 748
11         11      zÀQtë PÀ£ßÀ qÀ            Null Null Null Null Null Null
12         12               GqÀÄ¦                      2 92 Null Null 2 92
13         13             oÁ À̧£À                    5 160 Null Null 5 160
14         14            PÉÆqÀUÀÄ            Null Null Null Null Null Null
15         15             aÀÄAqÀå                         7 690 2 60 9 750
16         16         aÉÄÊ À̧ÆgÀÄ                        4 460 1 100 5 560
17         17     ZÁaÀÄgÁd£UÀ ÀgÀ                        4 175 2 100 6 275
18         18           É̈1⁄4ÀUÁ«                         4 170 1 36 5 206
19         19        «dAiÀi¥ÀÄgÀÀ                29 1378 Null Null 29 1378
20         20         ̈ÁUÀ®PÉÆÃmÉ                  24 987 Null Null 24 987
21         21           zsÁgÀaÁqÀ                    5 840 Null Null 5 840
22         22              UÀzÀUÀ                       16 664 1 25 17 689
23         23              oÁaÉÃj                       11 615 2 80 13 695
24         24     GvÀgÛ À PÀ£ÀßqÀ                           1 50 1 30 2 80
25         25             §1⁄4Ájî                    8 310 Null Null 8 310
26         26              ©ÃzÀgï                         5 395 1 50 6 445
27         27            PÀ®§ÄgÀV                     21 1265 1 50 22 1315
28         28          AiiÀ ÁzÀVj                    4 275 Null Null 4 275
29         29       gÁAiÄÀ ZÀÆgÀÄ                        6 401 1 100 7 501
30         30         PÉÆ¥À1⁄4à À                  12 597 Null Null 12 597

In [247]:
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        for colName, colData in df.items():
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = [int(x) for x in re.findall(pattern, colData.values[0])]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)

        new_df_list.append(new_df)
    return new_df_list

In [248]:
separated_list = all_column_split(replaced_list)

In [249]:
separated_list[3]

,Unnamed: 0,Unnamed: 1,0,1,2,3,4,5,6,7,8
0,1,2,502,503,504,505,506,507,508,509,510
1,1,BENGALURU,91757,35562,13336,173584,32592,4731159,None,None,None
2,2,BENGALURU(R),1050,535,162,1769,206,49346,None,None,None
3,3,RAMANAGARA,8367,3216,650,7844,312,239767,None,None,None
4,4,CHITRADURGA,3722,2679,12,5648,294,196114,None,None,None
5,5,DAVANAGERE,3101,2425,315,11074,256,376319,None,None,None
6,6,KOLAR,3278,993,12,6753,281,214164,None,None,None
7,7,CHIKKABALLAPURA,1730,819,9,3840,416,137784,None,None,None
8,8,SHIVAMOGGA,2584,1408,24,7008,945,400834,None,None,None
9,9,TUMAKURU,1876,947,2154,13924,586,493523,None,None,None
10,10,CHIKKAMAGALURU,2056,1201,561,8393,285,199761,None,None,None
11,11,DAKSHINA KANNADA,12444,7668,34,25758,1722,477515,None,None,None
12,12,UDUPI,4389,2010,10,12947,465,256714,None,None,None
13,NaN,NaN,Bifurcation,not,available,shown,in,total,column,None,None
14,13,HASSAN,3870,2169,759,6385,346,279315,None,None,None
15,14,KODAGU,2222,1268,Null,6695,448,76759,None,None,None
16,15,MANDYA,2989,1995,61,6172,436,252808,None,None,None
17,16,MYSURU,5734,2471,15,13848,357,768704,None,None,None
18,17,CHAMARAJANAGAR,813,498,16,2457,480,114198,None,None,None
19,18,BELAGAVI,4108,2014,24,13940,420,832141,None,None,None
20,19,VIJAYAPURA,2873,1809,17,3940,310,265799,None,None,None
21,20,BAGALKOT,2254,1980,Null,7198,258,261053,None,None,None
22,21,DHARAWAD,2047,1409,10,4007,125,118741,None,None,None
23,22,GADAG,3418,2292,Null,14044,355,373480,None,None,None
24,23,HAVERI,3178,1922,Null,5605,1229,223778,None,None,None
25,24,UTTARA KANNADA,3250,1430,7,5569,315,311909,None,None,None
26,25,BALLARI,3130,2094,115,7021,222,372669,None,None,None
27,26,BIDAR,1317,1405,53,4578,129,150774,None,None,None
28,27,KALABURAGI,2455,1546,56,9461,260,293783,None,None,None
29,28,YADGIRI,1287,674,9,5864,297,90323,None,None,None
30,29,RAICHUR,2193,1508,Null,4947,316,237835,None,None,None
31,30,KOPPAL,1663,781,17,2779,180,158045,None,None,None

In [250]:
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [251]:
final_list = reset_header(separated_list)

In [252]:
final_list[3]

,1,2,502,503,504,505,506,507,508,509,510
0,1,BENGALURU,91757,35562,13336,173584,32592,4731159,None,None,None
1,2,BENGALURU(R),1050,535,162,1769,206,49346,None,None,None
2,3,RAMANAGARA,8367,3216,650,7844,312,239767,None,None,None
3,4,CHITRADURGA,3722,2679,12,5648,294,196114,None,None,None
4,5,DAVANAGERE,3101,2425,315,11074,256,376319,None,None,None
5,6,KOLAR,3278,993,12,6753,281,214164,None,None,None
6,7,CHIKKABALLAPURA,1730,819,9,3840,416,137784,None,None,None
7,8,SHIVAMOGGA,2584,1408,24,7008,945,400834,None,None,None
8,9,TUMAKURU,1876,947,2154,13924,586,493523,None,None,None
9,10,CHIKKAMAGALURU,2056,1201,561,8393,285,199761,None,None,None
10,11,DAKSHINA KANNADA,12444,7668,34,25758,1722,477515,None,None,None
11,12,UDUPI,4389,2010,10,12947,465,256714,None,None,None
12,NaN,NaN,Bifurcation,not,available,shown,in,total,column,None,None
13,13,HASSAN,3870,2169,759,6385,346,279315,None,None,None
14,14,KODAGU,2222,1268,Null,6695,448,76759,None,None,None
15,15,MANDYA,2989,1995,61,6172,436,252808,None,None,None
16,16,MYSURU,5734,2471,15,13848,357,768704,None,None,None
17,17,CHAMARAJANAGAR,813,498,16,2457,480,114198,None,None,None
18,18,BELAGAVI,4108,2014,24,13940,420,832141,None,None,None
19,19,VIJAYAPURA,2873,1809,17,3940,310,265799,None,None,None
20,20,BAGALKOT,2254,1980,Null,7198,258,261053,None,None,None
21,21,DHARAWAD,2047,1409,10,4007,125,118741,None,None,None
22,22,GADAG,3418,2292,Null,14044,355,373480,None,None,None
23,23,HAVERI,3178,1922,Null,5605,1229,223778,None,None,None
24,24,UTTARA KANNADA,3250,1430,7,5569,315,311909,None,None,None
25,25,BALLARI,3130,2094,115,7021,222,372669,None,None,None
26,26,BIDAR,1317,1405,53,4578,129,150774,None,None,None
27,27,KALABURAGI,2455,1546,56,9461,260,293783,None,None,None
28,28,YADGIRI,1287,674,9,5864,297,90323,None,None,None
29,29,RAICHUR,2193,1508,Null,4947,316,237835,None,None,None
30,30,KOPPAL,1663,781,17,2779,180,158045,None,None,None

In [253]:
final_list[3]['507'], final_list[3]['510'] = final_list[3]['510'].values, final_list[3]['507'].values

In [254]:
final_list[3]

,1,2,502,503,504,505,506,507,508,509,510
0,1,BENGALURU,91757,35562,13336,173584,32592,None,None,None,4731159
1,2,BENGALURU(R),1050,535,162,1769,206,None,None,None,49346
2,3,RAMANAGARA,8367,3216,650,7844,312,None,None,None,239767
3,4,CHITRADURGA,3722,2679,12,5648,294,None,None,None,196114
4,5,DAVANAGERE,3101,2425,315,11074,256,None,None,None,376319
5,6,KOLAR,3278,993,12,6753,281,None,None,None,214164
6,7,CHIKKABALLAPURA,1730,819,9,3840,416,None,None,None,137784
7,8,SHIVAMOGGA,2584,1408,24,7008,945,None,None,None,400834
8,9,TUMAKURU,1876,947,2154,13924,586,None,None,None,493523
9,10,CHIKKAMAGALURU,2056,1201,561,8393,285,None,None,None,199761
10,11,DAKSHINA KANNADA,12444,7668,34,25758,1722,None,None,None,477515
11,12,UDUPI,4389,2010,10,12947,465,None,None,None,256714
12,NaN,NaN,Bifurcation,not,available,shown,in,None,column,None,total
13,13,HASSAN,3870,2169,759,6385,346,None,None,None,279315
14,14,KODAGU,2222,1268,Null,6695,448,None,None,None,76759
15,15,MANDYA,2989,1995,61,6172,436,None,None,None,252808
16,16,MYSURU,5734,2471,15,13848,357,None,None,None,768704
17,17,CHAMARAJANAGAR,813,498,16,2457,480,None,None,None,114198
18,18,BELAGAVI,4108,2014,24,13940,420,None,None,None,832141
19,19,VIJAYAPURA,2873,1809,17,3940,310,None,None,None,265799
20,20,BAGALKOT,2254,1980,Null,7198,258,None,None,None,261053
21,21,DHARAWAD,2047,1409,10,4007,125,None,None,None,118741
22,22,GADAG,3418,2292,Null,14044,355,None,None,None,373480
23,23,HAVERI,3178,1922,Null,5605,1229,None,None,None,223778
24,24,UTTARA KANNADA,3250,1430,7,5569,315,None,None,None,311909
25,25,BALLARI,3130,2094,115,7021,222,None,None,None,372669
26,26,BIDAR,1317,1405,53,4578,129,None,None,None,150774
27,27,KALABURAGI,2455,1546,56,9461,260,None,None,None,293783
28,28,YADGIRI,1287,674,9,5864,297,None,None,None,90323
29,29,RAICHUR,2193,1508,Null,4947,316,None,None,None,237835
30,30,KOPPAL,1663,781,17,2779,180,None,None,None,158045

In [255]:
final_list[3] = final_list[3].drop(12)
final_list[3].reset_index(drop=True, inplace=True)

In [256]:
final_list[3] = final_list[3].fillna(value='Null')

In [257]:
final_list[3]

,1,2,502,503,504,505,506,507,508,509,510
0,1,BENGALURU,91757,35562,13336,173584,32592,Null,Null,Null,4731159
1,2,BENGALURU(R),1050,535,162,1769,206,Null,Null,Null,49346
2,3,RAMANAGARA,8367,3216,650,7844,312,Null,Null,Null,239767
3,4,CHITRADURGA,3722,2679,12,5648,294,Null,Null,Null,196114
4,5,DAVANAGERE,3101,2425,315,11074,256,Null,Null,Null,376319
5,6,KOLAR,3278,993,12,6753,281,Null,Null,Null,214164
6,7,CHIKKABALLAPURA,1730,819,9,3840,416,Null,Null,Null,137784
7,8,SHIVAMOGGA,2584,1408,24,7008,945,Null,Null,Null,400834
8,9,TUMAKURU,1876,947,2154,13924,586,Null,Null,Null,493523
9,10,CHIKKAMAGALURU,2056,1201,561,8393,285,Null,Null,Null,199761
10,11,DAKSHINA KANNADA,12444,7668,34,25758,1722,Null,Null,Null,477515
11,12,UDUPI,4389,2010,10,12947,465,Null,Null,Null,256714
12,13,HASSAN,3870,2169,759,6385,346,Null,Null,Null,279315
13,14,KODAGU,2222,1268,Null,6695,448,Null,Null,Null,76759
14,15,MANDYA,2989,1995,61,6172,436,Null,Null,Null,252808
15,16,MYSURU,5734,2471,15,13848,357,Null,Null,Null,768704
16,17,CHAMARAJANAGAR,813,498,16,2457,480,Null,Null,Null,114198
17,18,BELAGAVI,4108,2014,24,13940,420,Null,Null,Null,832141
18,19,VIJAYAPURA,2873,1809,17,3940,310,Null,Null,Null,265799
19,20,BAGALKOT,2254,1980,Null,7198,258,Null,Null,Null,261053
20,21,DHARAWAD,2047,1409,10,4007,125,Null,Null,Null,118741
21,22,GADAG,3418,2292,Null,14044,355,Null,Null,Null,373480
22,23,HAVERI,3178,1922,Null,5605,1229,Null,Null,Null,223778
23,24,UTTARA KANNADA,3250,1430,7,5569,315,Null,Null,Null,311909
24,25,BALLARI,3130,2094,115,7021,222,Null,Null,Null,372669
25,26,BIDAR,1317,1405,53,4578,129,Null,Null,Null,150774
26,27,KALABURAGI,2455,1546,56,9461,260,Null,Null,Null,293783
27,28,YADGIRI,1287,674,9,5864,297,Null,Null,Null,90323
28,29,RAICHUR,2193,1508,Null,4947,316,Null,Null,Null,237835
29,30,KOPPAL,1663,781,17,2779,180,Null,Null,Null,158045

In [258]:
df_1 = final_list[1]

In [259]:
df_1

0     1                    2  529  530     531      532     533
0     1       ̈AÉ UÀ1⁄4ÀÆgÀÄ  271  NaN     NaN      NaN     NaN
1     2  ̈AÉ UÀ1⁄4ÀÆgÀÄ (UÁ)  142  325  595476  1363223  212889
2     3         gÁaÄÀ £ÀUÀgÀ  181  NaN     NaN      NaN     NaN
3     4            avÀzÀÄUÀð  317  NaN     NaN      NaN     NaN
4   NaN                  NaN  NaN  129   25214   222865   10045
5     5            zÁaÀtUÉgÉ  324  NaN     NaN      NaN     NaN
6     6            PÉÆÃ ̄ÁgÀ  220  NaN     NaN      NaN     NaN
7   NaN                  NaN  NaN  137   19854   287721    8619
8     7     aPÀÌ§1⁄4Á¥î ÀÄgÀ  198  NaN     NaN      NaN     NaN
9     8           2aaÀ ÉÆUÀÎ  355  139   30089   411342   11568
10    9         vÀÄaÀÄPÀÆgÀÄ  558  109   20640   215362    9097
11   10    aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ  301  146   19742   398175    6601
12   11       zQÀ të PÀ£ÀßqÀ  471  NaN     NaN      NaN     NaN
13  NaN                  NaN  NaN  249  139496   800620   54136
14   12               GqÄÀ ¦  332  NaN     NaN      NaN     NaN
15   13              oÁ À̧£À  415  103   17633   264804    7736
16   14            PÉÆqUÀ ÀÄ  216   76   18967   270432    6462
17   15             aÄÀ AqåÀ  352   63    9825   143071    4220
18   16         aÄÉ Ê À̧ÆgÀÄ  387  NaN     NaN      NaN     NaN
19  NaN                  NaN  NaN  141   62534   325012   26435
20   17       ZÁaÀÄgÁd£ÀUÀgÀ  205  NaN     NaN      NaN     NaN
21   18           ̈1⁄4É ÀUÁ«  733  190   54499   320311   19068
22   19        «dAiÀi¥ÄÀ gÀÀ  405  NaN     NaN      NaN     NaN
23  NaN                  NaN  NaN  183   27143   307157   11972
24   20          ̈ÁUÀ®PÉÆÃmÉ  334  NaN     NaN      NaN     NaN
25   21           zÁs gÀaÁqÀ  211  NaN     NaN      NaN     NaN
26   22              UÀzUÀ À  170  173   70440   364719   28223
27   23               oÁaÉÃj  259  NaN     NaN      NaN     NaN
28   24       GvÀÛgÀ PÀ£ÀßqÀ  489  152   43698   459660   12651
29   25              §1⁄4Ájî  385  113   23982   287938   23919
30   26               ©ÃzÀgï  304   80   10266   121023    3719
31   27             PÀ®§ÄgÀV  NaN  NaN     NaN      NaN     NaN
32  NaN                  NaN  624  156   22151   188323    9147
33   28            AiÀiÁzÀVj  NaN  NaN     NaN      NaN     NaN
34   29        gÁAiÀÄZÆÀ gÀÄ  287  NaN     NaN      NaN     NaN
35  NaN                  NaN  NaN  129   18164   224621    8198
36   30          PÉÆ¥à1⁄4À À  218  NaN     NaN      NaN     NaN

In [260]:
#dont delete
df_1.iloc[0,3:] = df_1.iloc[1,3:].tolist() 
df_1.iloc[2,3:] = df_1.iloc[1,3:].tolist()

In [261]:
df_1.iloc[3,3:] = df_1.iloc[4,3:].tolist()
df_1.iloc[5,3:] = df_1.iloc[4,3:].tolist()

In [262]:
df_1.iloc[6,3:] = df_1.iloc[7,3:].tolist()
df_1.iloc[8,3:] = df_1.iloc[7,3:].tolist()

In [263]:
df_1.iloc[12,3:] = df_1.iloc[13,3:].tolist()
df_1.iloc[14,3:] = df_1.iloc[13,3:].tolist()

In [264]:
df_1.iloc[18,3:] = df_1.iloc[19,3:].tolist()
df_1.iloc[20,3:] = df_1.iloc[19,3:].tolist()

In [265]:
df_1.iloc[22,3:] = df_1.iloc[23,3:].tolist()
df_1.iloc[24,3:] = df_1.iloc[23,3:].tolist()

In [266]:
#dont delete
df_1.iloc[25,3:] = df_1.iloc[26,3:].tolist()
df_1.iloc[27,3:] = df_1.iloc[26,3:].tolist()

In [267]:
df_1.iloc[31,2:] = df_1.iloc[32,2:].tolist()
df_1.iloc[33,2:] = df_1.iloc[32,2:].tolist()

In [268]:
df_1.iloc[34,3:] = df_1.iloc[35,3:].tolist()
df_1.iloc[36,3:] = df_1.iloc[35,3:].tolist()

In [269]:
df_1 = df_1.drop([4,7,13,19,23,32,35])

In [270]:
df_1.reset_index(drop=True, inplace=True)

In [271]:
df_1

0    1                    2  529  530     531      532     533
0    1       ̈AÉ UÀ1⁄4ÀÆgÀÄ  271  325  595476  1363223  212889
1    2  ̈AÉ UÀ1⁄4ÀÆgÀÄ (UÁ)  142  325  595476  1363223  212889
2    3         gÁaÄÀ £ÀUÀgÀ  181  325  595476  1363223  212889
3    4            avÀzÀÄUÀð  317  129   25214   222865   10045
4    5            zÁaÀtUÉgÉ  324  129   25214   222865   10045
5    6            PÉÆÃ ̄ÁgÀ  220  137   19854   287721    8619
6    7     aPÀÌ§1⁄4Á¥î ÀÄgÀ  198  137   19854   287721    8619
7    8           2aaÀ ÉÆUÀÎ  355  139   30089   411342   11568
8    9         vÀÄaÀÄPÀÆgÀÄ  558  109   20640   215362    9097
9   10    aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ  301  146   19742   398175    6601
10  11       zQÀ të PÀ£ÀßqÀ  471  249  139496   800620   54136
11  12               GqÄÀ ¦  332  249  139496   800620   54136
12  13              oÁ À̧£À  415  103   17633   264804    7736
13  14            PÉÆqUÀ ÀÄ  216   76   18967   270432    6462
14  15             aÄÀ AqåÀ  352   63    9825   143071    4220
15  16         aÄÉ Ê À̧ÆgÀÄ  387  141   62534   325012   26435
16  17       ZÁaÀÄgÁd£ÀUÀgÀ  205  141   62534   325012   26435
17  18           ̈1⁄4É ÀUÁ«  733  190   54499   320311   19068
18  19        «dAiÀi¥ÄÀ gÀÀ  405  183   27143   307157   11972
19  20          ̈ÁUÀ®PÉÆÃmÉ  334  183   27143   307157   11972
20  21           zÁs gÀaÁqÀ  211  173   70440   364719   28223
21  22              UÀzUÀ À  170  173   70440   364719   28223
22  23               oÁaÉÃj  259  173   70440   364719   28223
23  24       GvÀÛgÀ PÀ£ÀßqÀ  489  152   43698   459660   12651
24  25              §1⁄4Ájî  385  113   23982   287938   23919
25  26               ©ÃzÀgï  304   80   10266   121023    3719
26  27             PÀ®§ÄgÀV  624  156   22151   188323    9147
27  28            AiÀiÁzÀVj  624  156   22151   188323    9147
28  29        gÁAiÀÄZÆÀ gÀÄ  287  129   18164   224621    8198
29  30          PÉÆ¥à1⁄4À À  218  129   18164   224621    8198

In [272]:
final_list.pop(1)

0     1                    2  529  530     531      532     533
0     1       ̈AÉ UÀ1⁄4ÀÆgÀÄ  271  325  595476  1363223  212889
1     2  ̈AÉ UÀ1⁄4ÀÆgÀÄ (UÁ)  142  325  595476  1363223  212889
2     3         gÁaÄÀ £ÀUÀgÀ  181  325  595476  1363223  212889
3     4            avÀzÀÄUÀð  317  129   25214   222865   10045
4   NaN                  NaN  NaN  129   25214   222865   10045
5     5            zÁaÀtUÉgÉ  324  129   25214   222865   10045
6     6            PÉÆÃ ̄ÁgÀ  220  137   19854   287721    8619
7   NaN                  NaN  NaN  137   19854   287721    8619
8     7     aPÀÌ§1⁄4Á¥î ÀÄgÀ  198  137   19854   287721    8619
9     8           2aaÀ ÉÆUÀÎ  355  139   30089   411342   11568
10    9         vÀÄaÀÄPÀÆgÀÄ  558  109   20640   215362    9097
11   10    aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ  301  146   19742   398175    6601
12   11       zQÀ të PÀ£ÀßqÀ  471  249  139496   800620   54136
13  NaN                  NaN  NaN  249  139496   800620   54136
14   12               GqÄÀ ¦  332  249  139496   800620   54136
15   13              oÁ À̧£À  415  103   17633   264804    7736
16   14            PÉÆqUÀ ÀÄ  216   76   18967   270432    6462
17   15             aÄÀ AqåÀ  352   63    9825   143071    4220
18   16         aÄÉ Ê À̧ÆgÀÄ  387  141   62534   325012   26435
19  NaN                  NaN  NaN  141   62534   325012   26435
20   17       ZÁaÀÄgÁd£ÀUÀgÀ  205  141   62534   325012   26435
21   18           ̈1⁄4É ÀUÁ«  733  190   54499   320311   19068
22   19        «dAiÀi¥ÄÀ gÀÀ  405  183   27143   307157   11972
23  NaN                  NaN  NaN  183   27143   307157   11972
24   20          ̈ÁUÀ®PÉÆÃmÉ  334  183   27143   307157   11972
25   21           zÁs gÀaÁqÀ  211  173   70440   364719   28223
26   22              UÀzUÀ À  170  173   70440   364719   28223
27   23               oÁaÉÃj  259  173   70440   364719   28223
28   24       GvÀÛgÀ PÀ£ÀßqÀ  489  152   43698   459660   12651
29   25              §1⁄4Ájî  385  113   23982   287938   23919
30   26               ©ÃzÀgï  304   80   10266   121023    3719
31   27             PÀ®§ÄgÀV  624  156   22151   188323    9147
32  NaN                  NaN  624  156   22151   188323    9147
33   28            AiÀiÁzÀVj  624  156   22151   188323    9147
34   29        gÁAiÀÄZÆÀ gÀÄ  287  129   18164   224621    8198
35  NaN                  NaN  NaN  129   18164   224621    8198
36   30          PÉÆ¥à1⁄4À À  218  129   18164   224621    8198

In [273]:
final_list.append(df_1)

In [274]:
final_list[3]

0    1                    2  529  530     531      532     533
0    1       ̈AÉ UÀ1⁄4ÀÆgÀÄ  271  325  595476  1363223  212889
1    2  ̈AÉ UÀ1⁄4ÀÆgÀÄ (UÁ)  142  325  595476  1363223  212889
2    3         gÁaÄÀ £ÀUÀgÀ  181  325  595476  1363223  212889
3    4            avÀzÀÄUÀð  317  129   25214   222865   10045
4    5            zÁaÀtUÉgÉ  324  129   25214   222865   10045
5    6            PÉÆÃ ̄ÁgÀ  220  137   19854   287721    8619
6    7     aPÀÌ§1⁄4Á¥î ÀÄgÀ  198  137   19854   287721    8619
7    8           2aaÀ ÉÆUÀÎ  355  139   30089   411342   11568
8    9         vÀÄaÀÄPÀÆgÀÄ  558  109   20640   215362    9097
9   10    aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ  301  146   19742   398175    6601
10  11       zQÀ të PÀ£ÀßqÀ  471  249  139496   800620   54136
11  12               GqÄÀ ¦  332  249  139496   800620   54136
12  13              oÁ À̧£À  415  103   17633   264804    7736
13  14            PÉÆqUÀ ÀÄ  216   76   18967   270432    6462
14  15             aÄÀ AqåÀ  352   63    9825   143071    4220
15  16         aÄÉ Ê À̧ÆgÀÄ  387  141   62534   325012   26435
16  17       ZÁaÀÄgÁd£ÀUÀgÀ  205  141   62534   325012   26435
17  18           ̈1⁄4É ÀUÁ«  733  190   54499   320311   19068
18  19        «dAiÀi¥ÄÀ gÀÀ  405  183   27143   307157   11972
19  20          ̈ÁUÀ®PÉÆÃmÉ  334  183   27143   307157   11972
20  21           zÁs gÀaÁqÀ  211  173   70440   364719   28223
21  22              UÀzUÀ À  170  173   70440   364719   28223
22  23               oÁaÉÃj  259  173   70440   364719   28223
23  24       GvÀÛgÀ PÀ£ÀßqÀ  489  152   43698   459660   12651
24  25              §1⁄4Ájî  385  113   23982   287938   23919
25  26               ©ÃzÀgï  304   80   10266   121023    3719
26  27             PÀ®§ÄgÀV  624  156   22151   188323    9147
27  28            AiÀiÁzÀVj  624  156   22151   188323    9147
28  29        gÁAiÀÄZÆÀ gÀÄ  287  129   18164   224621    8198
29  30          PÉÆ¥à1⁄4À À  218  129   18164   224621    8198

In [275]:
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [276]:
final_df = concat_dataframe(final_list)

In [277]:
final_df

,1,2,782,783,784,785,786,787,734,735,...,506,507,508,509,510,529,530,531,532,533
0,1,É̈AUÀ1⁄4ÀÆgÀÄ,Null,Null,Null,Null,Null,Null,8,495,...,32592,Null,Null,Null,4731159,271,325,595476,1363223,212889
1,2,É̈AUÀ1⁄4ÀÆgÀÄ (UÁ),Null,Null,Null,Null,Null,Null,2,130,...,206,Null,Null,Null,49346,142,325,595476,1363223,212889
2,3,gÁaÀÄ£UÀ ÀgÀ,3,150,Null,Null,3,150,2,65,...,312,Null,Null,Null,239767,181,325,595476,1363223,212889
3,4,avÀzÀÄUÀð,6,346,1,54,7,400,8,564,...,294,Null,Null,Null,196114,317,129,25214,222865,10045
4,5,zÁaÀtUÉgÉ,10,565,Null,Null,10,565,8,560,...,256,Null,Null,Null,376319,324,129,25214,222865,10045
5,6,PÉÆÃ ̄ÁgÀ,2,175,Null,Null,2,175,2,200,...,281,Null,Null,Null,214164,220,137,19854,287721,8619
6,7,aPÀÌ§1⁄4Áî¥ÀÄgÀ,Null,Null,Null,Null,Null,Null,Null,Null,...,416,Null,Null,Null,137784,198,137,19854,287721,8619
7,8,2aÀaÉÆUÀÎ,5,270,5,225,10,495,1,65,...,945,Null,Null,Null,400834,355,139,30089,411342,11568
8,9,vÀÄaÀÄPÀÆgÀÄ,8,382,Null,Null,8,382,13,868,...,586,Null,Null,Null,493523,558,109,20640,215362,9097
9,10,aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ,9,628,2,120,11,748,Null,Null,...,285,Null,Null,Null,199761,301,146,19742,398175,6601
10,11,zÀQtë PÀ£ßÀ qÀ,Null,Null,Null,Null,Null,Null,Null,Null,...,1722,Null,Null,Null,477515,471,249,139496,800620,54136
11,12,GqÀÄ¦,2,92,Null,Null,2,92,Null,Null,...,465,Null,Null,Null,256714,332,249,139496,800620,54136
12,13,oÁ À̧£À,5,160,Null,Null,5,160,Null,Null,...,346,Null,Null,Null,279315,415,103,17633,264804,7736
13,14,PÉÆqÀUÀÄ,Null,Null,Null,Null,Null,Null,Null,Null,...,448,Null,Null,Null,76759,216,76,18967,270432,6462
14,15,aÀÄAqÀå,7,690,2,60,9,750,3,98,...,436,Null,Null,Null,252808,352,63,9825,143071,4220
15,16,aÉÄÊ À̧ÆgÀÄ,4,460,1,100,5,560,4,200,...,357,Null,Null,Null,768704,387,141,62534,325012,26435
16,17,ZÁaÀÄgÁd£UÀ ÀgÀ,4,175,2,100,6,275,3,304,...,480,Null,Null,Null,114198,205,141,62534,325012,26435
17,18,É̈1⁄4ÀUÁ«,4,170,1,36,5,206,4,266,...,420,Null,Null,Null,832141,733,190,54499,320311,19068
18,19,«dAiÀi¥ÀÄgÀÀ,29,1378,Null,Null,29,1378,15,626,...,310,Null,Null,Null,265799,405,183,27143,307157,11972
19,20,̈ÁUÀ®PÉÆÃmÉ,24,987,Null,Null,24,987,2,100,...,258,Null,Null,Null,261053,334,183,27143,307157,11972
20,21,zsÁgÀaÁqÀ,5,840,Null,Null,5,840,4,275,...,125,Null,Null,Null,118741,211,173,70440,364719,28223
21,22,UÀzÀUÀ,16,664,1,25,17,689,4,214,...,355,Null,Null,Null,373480,170,173,70440,364719,28223
22,23,oÁaÉÃj,11,615,2,80,13,695,1,130,...,1229,Null,Null,Null,223778,259,173,70440,364719,28223
23,24,GvÀgÛ À PÀ£ÀßqÀ,1,50,1,30,2,80,Null,Null,...,315,Null,Null,Null,311909,489,152,43698,459660,12651
24,25,§1⁄4Ájî,8,310,Null,Null,8,310,2,95,...,222,Null,Null,Null,372669,385,113,23982,287938,23919
25,26,©ÃzÀgï,5,395,1,50,6,445,6,294,...,129,Null,Null,Null,150774,304,80,10266,121023,3719
26,27,PÀ®§ÄgÀV,21,1265,1,50,22,1315,33,2438,...,260,Null,Null,Null,293783,624,156,22151,188323,9147
27,28,AiiÀ ÁzÀVj,4,275,Null,Null,4,275,12,990,...,297,Null,Null,Null,90323,624,156,22151,188323,9147
28,29,gÁAiÄÀ ZÀÆgÀÄ,6,401,1,100,7,501,1,50,...,316,Null,Null,Null,237835,287,129,18164,224621,8198
29,30,PÉÆ¥À1⁄4à À,12,597,Null,Null,12,597,Null,Null,...,180,Null,Null,Null,158045,218,129,18164,224621,8198

In [278]:
final_df.columns = final_df.columns.astype(float)

In [279]:
final_df[2]

0          É̈AUÀ1⁄4ÀÆgÀÄ
1     É̈AUÀ1⁄4ÀÆgÀÄ (UÁ)
2           gÁaÀÄ£UÀ ÀgÀ
3              avÀzÀÄUÀð
4              zÁaÀtUÉgÉ
5              PÉÆÃ ̄ÁgÀ
6        aPÀÌ§1⁄4Áî¥ÀÄgÀ
7              2aÀaÉÆUÀÎ
8           vÀÄaÀÄPÀÆgÀÄ
9      aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ
10        zÀQtë PÀ£ßÀ qÀ
11                 GqÀÄ¦
12               oÁ À̧£À
13              PÉÆqÀUÀÄ
14               aÀÄAqÀå
15           aÉÄÊ À̧ÆgÀÄ
16       ZÁaÀÄgÁd£UÀ ÀgÀ
17             É̈1⁄4ÀUÁ«
18          «dAiÀi¥ÀÄgÀÀ
19           ̈ÁUÀ®PÉÆÃmÉ
20             zsÁgÀaÁqÀ
21                UÀzÀUÀ
22                oÁaÉÃj
23       GvÀgÛ À PÀ£ÀßqÀ
24               §1⁄4Ájî
25                ©ÃzÀgï
26              PÀ®§ÄgÀV
27            AiiÀ ÁzÀVj
28         gÁAiÄÀ ZÀÆgÀÄ
29           PÉÆ¥À1⁄4à À
Name: 2.0, dtype: object

In [280]:
final_df = final_df.reindex(sorted(final_df.columns, key=float), axis=1)

In [281]:
final_df

,1.0,2.0,502.0,503.0,504.0,505.0,506.0,507.0,508.0,509.0,...,736.0,737.0,738.0,739.0,782.0,783.0,784.0,785.0,786.0,787.0
0,1,É̈AUÀ1⁄4ÀÆgÀÄ,91757,35562,13336,173584,32592,Null,Null,Null,...,1,200,9,695,Null,Null,Null,Null,Null,Null
1,2,É̈AUÀ1⁄4ÀÆgÀÄ (UÁ),1050,535,162,1769,206,Null,Null,Null,...,Null,Null,2,130,Null,Null,Null,Null,Null,Null
2,3,gÁaÀÄ£UÀ ÀgÀ,8367,3216,650,7844,312,Null,Null,Null,...,Null,Null,2,65,3,150,Null,Null,3,150
3,4,avÀzÀÄUÀð,3722,2679,12,5648,294,Null,Null,Null,...,2,157,10,721,6,346,1,54,7,400
4,5,zÁaÀtUÉgÉ,3101,2425,315,11074,256,Null,Null,Null,...,Null,Null,8,560,10,565,Null,Null,10,565
5,6,PÉÆÃ ̄ÁgÀ,3278,993,12,6753,281,Null,Null,Null,...,Null,Null,2,200,2,175,Null,Null,2,175
6,7,aPÀÌ§1⁄4Áî¥ÀÄgÀ,1730,819,9,3840,416,Null,Null,Null,...,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null
7,8,2aÀaÉÆUÀÎ,2584,1408,24,7008,945,Null,Null,Null,...,2,280,3,345,5,270,5,225,10,495
8,9,vÀÄaÀÄPÀÆgÀÄ,1876,947,2154,13924,586,Null,Null,Null,...,2,50,15,918,8,382,Null,Null,8,382
9,10,aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ,2056,1201,561,8393,285,Null,Null,Null,...,Null,Null,Null,Null,9,628,2,120,11,748
10,11,zÀQtë PÀ£ßÀ qÀ,12444,7668,34,25758,1722,Null,Null,Null,...,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null
11,12,GqÀÄ¦,4389,2010,10,12947,465,Null,Null,Null,...,Null,Null,Null,Null,2,92,Null,Null,2,92
12,13,oÁ À̧£À,3870,2169,759,6385,346,Null,Null,Null,...,Null,Null,Null,Null,5,160,Null,Null,5,160
13,14,PÉÆqÀUÀÄ,2222,1268,Null,6695,448,Null,Null,Null,...,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null
14,15,aÀÄAqÀå,2989,1995,61,6172,436,Null,Null,Null,...,Null,Null,3,98,7,690,2,60,9,750
15,16,aÉÄÊ À̧ÆgÀÄ,5734,2471,15,13848,357,Null,Null,Null,...,Null,Null,4,200,4,460,1,100,5,560
16,17,ZÁaÀÄgÁd£UÀ ÀgÀ,813,498,16,2457,480,Null,Null,Null,...,Null,Null,3,304,4,175,2,100,6,275
17,18,É̈1⁄4ÀUÁ«,4108,2014,24,13940,420,Null,Null,Null,...,1,100,5,366,4,170,1,36,5,206
18,19,«dAiÀi¥ÀÄgÀÀ,2873,1809,17,3940,310,Null,Null,Null,...,Null,Null,15,626,29,1378,Null,Null,29,1378
19,20,̈ÁUÀ®PÉÆÃmÉ,2254,1980,Null,7198,258,Null,Null,Null,...,Null,Null,2,100,24,987,Null,Null,24,987
20,21,zsÁgÀaÁqÀ,2047,1409,10,4007,125,Null,Null,Null,...,1,50,5,325,5,840,Null,Null,5,840
21,22,UÀzÀUÀ,3418,2292,Null,14044,355,Null,Null,Null,...,1,50,5,264,16,664,1,25,17,689
22,23,oÁaÉÃj,3178,1922,Null,5605,1229,Null,Null,Null,...,1,50,2,180,11,615,2,80,13,695
23,24,GvÀgÛ À PÀ£ÀßqÀ,3250,1430,7,5569,315,Null,Null,Null,...,1,100,1,100,1,50,1,30,2,80
24,25,§1⁄4Ájî,3130,2094,115,7021,222,Null,Null,Null,...,Null,Null,2,95,8,310,Null,Null,8,310
25,26,©ÃzÀgï,1317,1405,53,4578,129,Null,Null,Null,...,Null,Null,6,294,5,395,1,50,6,445
26,27,PÀ®§ÄgÀV,2455,1546,56,9461,260,Null,Null,Null,...,1,50,34,2488,21,1265,1,50,22,1315
27,28,AiiÀ ÁzÀVj,1287,674,9,5864,297,Null,Null,Null,...,Null,Null,12,990,4,275,Null,Null,4,275
28,29,gÁAiÄÀ ZÀÆgÀÄ,2193,1508,Null,4947,316,Null,Null,Null,...,Null,Null,1,50,6,401,1,100,7,501
29,30,PÉÆ¥À1⁄4à À,1663,781,17,2779,180,Null,Null,Null,...,Null,Null,Null,Null,12,597,Null,Null,12,597

In [282]:
final_df = final_df.replace('Null', '')

In [286]:
final_df

,1.0,2.0,502.0,503.0,504.0,505.0,506.0,507.0,508.0,509.0,...,736.0,737.0,738.0,739.0,782.0,783.0,784.0,785.0,786.0,787.0
0,1,É̈AUÀ1⁄4ÀÆgÀÄ,91757,35562,13336,173584,32592,,,,...,1,200,9,695,,,,,,
1,2,É̈AUÀ1⁄4ÀÆgÀÄ (UÁ),1050,535,162,1769,206,,,,...,,,2,130,,,,,,
2,3,gÁaÀÄ£UÀ ÀgÀ,8367,3216,650,7844,312,,,,...,,,2,65,3,150,,,3,150
3,4,avÀzÀÄUÀð,3722,2679,12,5648,294,,,,...,2,157,10,721,6,346,1,54,7,400
4,5,zÁaÀtUÉgÉ,3101,2425,315,11074,256,,,,...,,,8,560,10,565,,,10,565
5,6,PÉÆÃ ̄ÁgÀ,3278,993,12,6753,281,,,,...,,,2,200,2,175,,,2,175
6,7,aPÀÌ§1⁄4Áî¥ÀÄgÀ,1730,819,9,3840,416,,,,...,,,,,,,,,,
7,8,2aÀaÉÆUÀÎ,2584,1408,24,7008,945,,,,...,2,280,3,345,5,270,5,225,10,495
8,9,vÀÄaÀÄPÀÆgÀÄ,1876,947,2154,13924,586,,,,...,2,50,15,918,8,382,,,8,382
9,10,aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ,2056,1201,561,8393,285,,,,...,,,,,9,628,2,120,11,748
10,11,zÀQtë PÀ£ßÀ qÀ,12444,7668,34,25758,1722,,,,...,,,,,,,,,,
11,12,GqÀÄ¦,4389,2010,10,12947,465,,,,...,,,,,2,92,,,2,92
12,13,oÁ À̧£À,3870,2169,759,6385,346,,,,...,,,,,5,160,,,5,160
13,14,PÉÆqÀUÀÄ,2222,1268,,6695,448,,,,...,,,,,,,,,,
14,15,aÀÄAqÀå,2989,1995,61,6172,436,,,,...,,,3,98,7,690,2,60,9,750
15,16,aÉÄÊ À̧ÆgÀÄ,5734,2471,15,13848,357,,,,...,,,4,200,4,460,1,100,5,560
16,17,ZÁaÀÄgÁd£UÀ ÀgÀ,813,498,16,2457,480,,,,...,,,3,304,4,175,2,100,6,275
17,18,É̈1⁄4ÀUÁ«,4108,2014,24,13940,420,,,,...,1,100,5,366,4,170,1,36,5,206
18,19,«dAiÀi¥ÀÄgÀÀ,2873,1809,17,3940,310,,,,...,,,15,626,29,1378,,,29,1378
19,20,̈ÁUÀ®PÉÆÃmÉ,2254,1980,,7198,258,,,,...,,,2,100,24,987,,,24,987
20,21,zsÁgÀaÁqÀ,2047,1409,10,4007,125,,,,...,1,50,5,325,5,840,,,5,840
21,22,UÀzÀUÀ,3418,2292,,14044,355,,,,...,1,50,5,264,16,664,1,25,17,689
22,23,oÁaÉÃj,3178,1922,,5605,1229,,,,...,1,50,2,180,11,615,2,80,13,695
23,24,GvÀgÛ À PÀ£ÀßqÀ,3250,1430,7,5569,315,,,,...,1,100,1,100,1,50,1,30,2,80
24,25,§1⁄4Ájî,3130,2094,115,7021,222,,,,...,,,2,95,8,310,,,8,310
25,26,©ÃzÀgï,1317,1405,53,4578,129,,,,...,,,6,294,5,395,1,50,6,445
26,27,PÀ®§ÄgÀV,2455,1546,56,9461,260,,,,...,1,50,34,2488,21,1265,1,50,22,1315
27,28,AiiÀ ÁzÀVj,1287,674,9,5864,297,,,,...,,,12,990,4,275,,,4,275
28,29,gÁAiÄÀ ZÀÆgÀÄ,2193,1508,,4947,316,,,,...,,,1,50,6,401,1,100,7,501
29,30,PÉÆ¥À1⁄4à À,1663,781,17,2779,180,,,,...,,,,,12,597,,,12,597

In [287]:
final_df.to_csv('/home/riya/Downloads/ADT_Test/Missing_Data.csv',index=False)