In [288]:
import tabula
import numpy as np
import pandas as pd
import os
import re
import math

In [289]:
relative_path_pdf = "../HTML/Output_html_Chapter4/kaggle/working/out/pages/"
relative_dictionary_path = "../Data/Chapter4_Data.csv"
relative_result_path = "../HTML/Output_html_Chapter4/Chapter4_Data.csv"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = os.path.join(os.getcwd(), relative_path_pdf)
absolute_dictionary_path = os.path.join(os.getcwd(), relative_dictionary_path)
absolute_result_path = os.path.join(os.getcwd(), relative_result_path)

In [290]:
os.listdir(absolute_path_pdf)

['page_22.pdf',
 'page_40.pdf',
 'page_54.pdf',
 'page_9.pdf',
 'page_44.pdf',
 'page_26.pdf',
 'page_34.pdf',
 'page_37.pdf',
 'page_21.pdf',
 'page_1.pdf',
 'page_45.pdf',
 'page_53.pdf',
 'page_24.pdf',
 'page_2.pdf',
 'page_3.pdf',
 'page_10.pdf',
 'page_7.pdf',
 'page_50.pdf',
 'page_11.pdf',
 'page_31.pdf',
 'page_48.pdf',
 'page_14.pdf',
 'page_41.pdf',
 'page_5.pdf',
 'page_13.pdf',
 'page_12.pdf',
 'page_6.pdf',
 'page_19.pdf',
 'page_15.pdf',
 'page_35.pdf',
 'page_23.pdf',
 'page_38.pdf',
 'page_33.pdf',
 'page_36.pdf',
 'page_29.pdf',
 'page_4.pdf',
 'page_43.pdf',
 'page_30.pdf',
 'page_49.pdf',
 'page_51.pdf',
 'page_55.pdf',
 'page_52.pdf',
 'page_57.pdf',
 'page_32.pdf',
 'page_28.pdf',
 'page_17.pdf',
 'page_20.pdf',
 'page_16.pdf',
 'page_8.pdf',
 'page_47.pdf',
 'page_58.pdf',
 'page_42.pdf',
 'page_39.pdf',
 'page_56.pdf',
 'page_27.pdf',
 'page_46.pdf',
 'page_25.pdf',
 'page_18.pdf']

In [291]:
output_list = []

In [292]:
# Get a list of PDF files sorted by filename
pdf_files = sorted([file for file in os.listdir(absolute_path_pdf) if file.endswith(".pdf")], key=lambda x: [int(s) if s.isdigit() else s.lower() for s in re.split('(\d+)', x)])

# Iterate through all PDF files
for file in pdf_files:
    file_path = os.path.join(absolute_path_pdf, file)
    dfs = tabula.read_pdf(file_path, pages='all', stream=True)
    if dfs:
        output_list.append(dfs[0])  # Assuming you want to append the first DataFrame from each PDF

In [293]:
len(output_list)

58

In [294]:
output_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,"4. ಕೃ, ೋಟಾೆ",Unnamed: 3,ಮತು,ೇೆ,"/ Agriculture, Horticulture & Sericulture",Unnamed: 4
0,NaN,4.1,ಭೂ,ಬಳೆ (ೆೆೕ ಗಳ) : 2018 - 19,NaN,/,Land Utilization (in Hectares) : 2018 - 19,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ಒಟು ಾಗುವೆ ಲಭಲರುವ ಭೂ,NaN
2,NaN,NaN,NaN,ೌೋಕ,ಅರಣ,NaN,ೌೋಕ,Land not available for Cultivation,NaN
3,SI.,NaN,NaN,ೕಣ,NaN,NaN,NaN,NaN,NaN
4,No.,Districts,NaN,Geo-,Forest,NaN,ಣೆ ಅರಣ ಪೇಶ %,ವವಾೕ- ಬಂಜರು,% of Land
5,NaN,NaN,NaN,graphical,NaN,NaN,NaN,ತರ Barren & ಒಟು,not available
6,NaN,NaN,NaN,Area,NaN,NaN,% of Forest,Uncultivat- Non Total,for
7,NaN,NaN,NaN,NaN,NaN,NaN,Area to,able,Cultivation to
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,agriculturalGeo Land,Geo-
9,NaN,NaN,NaN,NaN,NaN,NaN,usesGraphical,NaN,graphical
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Area,Area
11,1,NaN,2,334,335,NaN,NaN,336 337 338 339,340
12,1,Belagavi,NaN,1344382,190424,NaN,NaN,14.16 70791 34341 105132,7.82
13,2,Bagalkot,NaN,658877,81126,NaN,NaN,12.31 29853 24810 54663,8.30
14,3,Vijayapura,NaN,1053471,1977,NaN,NaN,0.19 36509 29059 65568,6.22
15,4,Kalburgi,NaN,1094119,35316,NaN,NaN,3.23 41511 35113 76624,7.00
16,5,Bidar,NaN,541765,27707,NaN,NaN,5.11 25374 19127 44501,8.21
17,6,Raichur,NaN,835843,18167,NaN,NaN,2.17 20768 20084 40852,4.89
18,7,Koppal,NaN,552495,29451,NaN,NaN,5.33 49697 23635 73332,13.27
19,8,Gadag,NaN,465715,32614,NaN,NaN,7.00 11368 12024 23392,5.02
20,9,Dharwad,NaN,427329,35235,NaN,NaN,8.25 25041 3985 29026,6.79
21,10,Uttara Kannada,NaN,1024679,813595,NaN,NaN,79.40 34713 16196 50909,4.97
22,11,Haveri,NaN,485156,47454,NaN,NaN,9.78 33515 5793 39308,8.10
23,12,Ballari,NaN,956220,119247,NaN,NaN,12.47 121630 58313 179943,18.82
24,13,Chitradurga,NaN,770702,73719,NaN,NaN,9.57 55506 25403 80909,10.50
25,14,Davanagere,NaN,454573,67688,NaN,NaN,14.89 28742 6340 35082,7.72
26,15,Shivamogga,NaN,847784,276855,NaN,NaN,32.66 88708 13312 102020,12.03
27,16,Udupi,NaN,356446,100102,NaN,NaN,28.08 42567 11596 54163,15.20
28,17,Chikkamagaluru,NaN,722075,202028,NaN,NaN,27.98 43638 28322 71960,9.97
29,18,Tumakuru,NaN,1064755,45177,NaN,NaN,4.24 90127 67539 157666,14.81
30,19,Kolara,NaN,374966,20620,NaN,NaN,5.50 47503 28870 76373,20.37
31,20,Bengaluru(U),NaN,217410,5055,NaN,NaN,2.33 125426 4911 130337,59.95
32,21,Bengaluru(R),NaN,229519,11322,NaN,NaN,4.93 47082 11124 58206,25.36
33,22,Mandya,NaN,498244,24765,NaN,NaN,4.97 64762 21519 86281,17.32
34,23,Hassan,NaN,662602,58775,NaN,NaN,8.87 80604 30365 110969,16.75
35,24,Dakshina Kannada,NaN,477381,128476,NaN,NaN,26.91 71650 57506 129156,27.06
36,25,Kodagu,NaN,410775,134597,NaN,NaN,32.77 24299 24250 48549,11.82
37,26,Mysuru,NaN,676382,62851,NaN,NaN,9.29 75279 47871 123150,18.21
38,27,Chamarajanagara,NaN,569901,275610,NaN,NaN,48.36 24646 21434 46080,8.09
39,28,Chikkaballapura,NaN,404501,49704,NaN,NaN,12.29 32743 34302 67045,16.57
40,29,Ramanagara,NaN,355912,69946,NaN,NaN,19.65 29675 24339 54014,15.18
41,30,Yadgir,NaN,516088,33773,NaN,NaN,6.54 31167 27954 59121,11.46
42,NaN,State Total,NaN,19050067,3073376,NaN,NaN,16.13 1504894 769437 2274331,11.94

In [295]:
def add_header(df_list,idx_list, new_list):
    index = 0
    for i in range(len(idx_list)):
        df_list[idx_list[i]].loc[index + 1:] = df_list[idx_list[i]].loc[index:].shift(1)
        df_list[idx_list[i]].loc[index] = new_list[i]
    return df_list

In [296]:
new_row = [[1, 2, np.nan, 381,382,383,384,385,386]]
id_row = [6]
output_list = add_header(output_list, id_row, new_row)

In [297]:
output_list[6]

       1     Unnamed: 0   2     381    382    383     384    385    386
0    1.0              2 NaN     381    382    383     384    385    386
1    1.0         ೆಳಾ NaN   14881    715  10051   54963   1523    325
2    2.0       ಾಗಲೋೆ NaN   42565   1005   1737   40834    130    385
3    3.0         ಜಯಪರ NaN  520937    198    821    5691    136    265
4    4.0         ಕಲು NaN  596689     34  23035   43466     19     14
5    5.0           ೕದ NaN   77019    350  27518   26461    313    158
6    6.0        ಾಯಚೂರು NaN  102583    196      1    1355     19     83
7    7.0          ೊಪಳ NaN   24740   7944    728   22568    289   2366
8    8.0            ಗದ NaN    2975   1288    156  140565     66    546
9    9.0         ಾರಾಡ NaN     628   1397   4047   61362     86    256
10  10.0       ಉತರ ಕನಡ NaN       1    460    308     354     11    254
11  11.0          ಾೇ NaN    1463   6306    165    3975    500   1095
12  12.0          ಬಾ NaN   13708   1301     40     333    191   2204
13  13.0        ತದುಗ NaN    4054   3889     23    4262   1124    235
14  14.0       ಾವಣೆೆ NaN    4750    214     23      31    283   1425
15  15.0           ವಗ NaN      23    125      8     269     37     86
16  16.0           ಉಡು NaN       0     33   2447     194      0    159
17  17.0      ಕಮಗಳರು NaN     332   8085    844    3994    808    914
18  18.0        ತುಮಕೂರು NaN   10507  23053    170    2777   2682   1620
19  19.0          ೋಾರ NaN    2053  10194      8      43   5354    216
20  20.0    ೆ೦ಗಳರು(ನ) NaN     461   1096      7       5    620     72
21  21.0  ೆ೦ಗಳರು(ಾ) NaN     815   2079     11       7    480     51
22  22.0           ಮಂಡ NaN     341  35110    520     302   2147   8430
23  23.0           ಾಸನ NaN    1138   4359   1422    6449   2637  10501
24  24.0       ದಣ ಕನಡ NaN       1     23     67      24      0     31
25  25.0          ೊಡಗು NaN       0     10      5       6     14      8
26  26.0         ೖಸೂರು NaN    3767  30805  13038    4463  15382  27655
27  27.0      ಾಮಾಜನಗರ NaN     962  31496   1683    1349   1407   2129
28  28.0     ಕಬಾಪರ NaN    4417   5325      7     147   1360     70
29  29.0         ಾಮನಗರ NaN    1379   7312      6      20    940    292
30  30.0          ಾದ NaN  110119     87      2   16719      6    165

In [298]:
def find_last_index(df_col):
    pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
    for idx in range(len(df_col)):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
                    if numbers_1 and numbers_1[0] == 30:
                        return idx+1
   
    return (len(df_col) - 1)

In [299]:
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    miss_list = []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        df_col = df_col.astype(str)

        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        flag = 0
        for idx in range(len(df_col) - 1):
            #print(idx, df_col.iloc[idx])
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = re.findall(pattern, df_col.iloc[idx+1])
                    numbers_2 = [int(num) if '.' not in num else float(num) for num in numbers_2]
                    #print(numbers_2)
            if numbers_1 and numbers_2 and numbers_1[0] == 1 and numbers_2[0] == 1:
                start_index = idx
                end_index = find_last_index(df_col)
                index_list.append([start_index, end_index])
                if(end_index - start_index) != 31:
                    miss_list.append(i)
                flag=1
                i += 1
                break

        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index, miss_list

In [300]:
index_list, drop_list, fault_list = find_header(output_list)

In [301]:
fault_list

[19, 29, 34, 35, 36]

In [302]:
drop_list

[]

In [303]:
index_list

[[11, 42],
 [8, 39],
 [7, 38],
 [11, 42],
 [13, 44],
 [6, 37],
 [0, 31],
 [9, 40],
 [10, 41],
 [5, 36],
 [5, 36],
 [8, 39],
 [6, 37],
 [8, 39],
 [4, 35],
 [8, 39],
 [7, 38],
 [7, 38],
 [5, 36],
 [8, 41],
 [4, 35],
 [10, 41],
 [8, 39],
 [11, 42],
 [5, 36],
 [6, 37],
 [8, 39],
 [5, 36],
 [7, 38],
 [4, 37],
 [8, 39],
 [10, 41],
 [9, 40],
 [10, 41],
 [1, 36],
 [1, 37],
 [1, 37],
 [7, 38],
 [6, 37],
 [6, 37],
 [6, 37],
 [7, 38],
 [6, 37],
 [6, 37],
 [6, 37],
 [8, 39],
 [6, 37],
 [6, 37],
 [6, 37],
 [7, 38],
 [6, 37],
 [6, 37],
 [6, 37],
 [7, 38],
 [6, 37],
 [6, 37],
 [6, 37],
 [6, 37]]

In [304]:
len(index_list)

58

In [305]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        return new_df_list
    return df_list

In [306]:
def get_final_index(df_list, index_ll, drop_index, miss_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list, miss_list = find_header(df)
        drop_index = drop_list
        miss_index = miss_list
    return df, index_ll, drop_index, miss_index

In [307]:
new_output_list, new_index_list, new_drop_list, new_fault_list = get_final_index(output_list, index_list, drop_list, fault_list)

In [308]:
new_fault_list, new_drop_list

([19, 29, 34, 35, 36], [])

In [309]:
new_index_list[34][0] = 5
new_index_list[35][0] = 6
new_index_list[36][0] = 6

In [310]:
new_index_list

[[11, 42],
 [8, 39],
 [7, 38],
 [11, 42],
 [13, 44],
 [6, 37],
 [0, 31],
 [9, 40],
 [10, 41],
 [5, 36],
 [5, 36],
 [8, 39],
 [6, 37],
 [8, 39],
 [4, 35],
 [8, 39],
 [7, 38],
 [7, 38],
 [5, 36],
 [8, 41],
 [4, 35],
 [10, 41],
 [8, 39],
 [11, 42],
 [5, 36],
 [6, 37],
 [8, 39],
 [5, 36],
 [7, 38],
 [4, 37],
 [8, 39],
 [10, 41],
 [9, 40],
 [10, 41],
 [5, 36],
 [6, 37],
 [6, 37],
 [7, 38],
 [6, 37],
 [6, 37],
 [6, 37],
 [7, 38],
 [6, 37],
 [6, 37],
 [6, 37],
 [8, 39],
 [6, 37],
 [6, 37],
 [6, 37],
 [7, 38],
 [6, 37],
 [6, 37],
 [6, 37],
 [7, 38],
 [6, 37],
 [6, 37],
 [6, 37],
 [6, 37]]

In [311]:
new_output_list[36]

,4.19 ಕೃ ಭೂ ಡುವಗಳ ಮತು ೕಣ (2015-16 ರ ಗಣಯಂೆ),Unnamed: 0
0,Agricultural Land Holdings and Area (As per 20...,NaN
1,ಅ ಸಣ ಭೂ ಡುವಾರರು (ಒಂದು ೆೆೕ ಒಳೆ ) (ಇತೆ...,NaN
2,ಕ. ೆಗಳ ಸಂೆಯ / Numbers,ೕಣ / Area
3,ಸಂ.,NaN
4,ಗಂಡಸರು ೆಂಗಸರು ಸಂೆಗಳ ಒಟು ಗಂಡಸರು,ೆಂಗಸರು ಸಂೆಗಳ ಒಟು
5,Male Female Institution Total,Male Female Institutions Total
6,1 2 609 610 611 612,613 614 615 616
7,1 ೆಳಾ 234703 22842 0 257545 113466.05,11396.02 0.00 124862.07
8,2 ಾಗಲೋೆ 61495 12476 0 73971 35289.32,7371.40 0.00 42660.72
9,3 ಜಯಪರ 43083 7455 0 50538 27196.04,4847.48 0.00 32043.52
10,4 ಕಲು 59457 17808 0 77265 33396.98,10472.42 0.00 43869.40
11,5 ೕದ 52240 15907 0 68147 28266.26,8979.74 0.00 37246.00
12,6 ಾಯಚೂರು 51026 13851 0 64877 29426.45,8031.62 0.00 37458.07
13,7 ೊಪಳ 49899 14619 0 64518 28033.18,8355.73 0.00 36388.91
14,8 ಗದ 31033 6163 0 37196 18947.88,3843.65 0.00 22791.53
15,9 ಾರಾಡ 36894 7512 0 44406 21965.27,4428.58 0.00 26393.85
16,10 ಉತರ ಕನಡ 109729 34773 0 144502 34708.25,9643.04 0.00 44351.29
17,11 ಾೇ 64737 8708 0 73445 35449.39,4742.68 0.00 40192.07
18,12 ಬಾ 88341 27516 0 115857 41497.04,13592.45 0.00 55089.49
19,13 ತದುಗ 62312 19293 0 81605 32712.89,10506.32 0.00 43219.21
20,14 ಾವಣೆೆ 70778 20473 0 91251 34145.72,10179.21 0.00 44324.93
21,15 ವಗ 99441 29848 0 129289 48028.76,14469.56 0.00 62498.32
22,16 ಉಡು 79499 63863 0 143362 24692.00,19869.00 0.00 44561.00
23,17 ಕಮಗಳರು 94514 21148 0 115662 43265.09,9944.96 0.00 53210.05
24,18 ತುಮಕೂರು 197890 54043 0 251933 86344.12,23860.78 0.00 110204.90
25,19 ೋಾರ 145517 32340 0 177857 54540.25,12000.01 0.00 66540.26
26,20 ೆ೦ಗಳರು(ನ) 60291 16585 0 76876 27265.68,7269.27 0.00 34534.95
27,21 ೆ೦ಗಳರು(ಾ) 100351 27952 0 128303 37751.54,10337.13 0.00 48088.67
28,22 ಮಂಡ 324191 104455 0 428646 105208.11,32460.30 0.00 137668.41
29,23 ಾಸನ 268917 72545 0 341462 100676.31,26957.42 0.00 127633.73
30,24 ದಣ ಕನಡ 93498 45663 0 139161 36413.12,17484.52 0.00 53897.64
31,25 ೊಡಗು 21975 4800 0 26775 11012.92,2282.27 0.00 13295.19
32,26 ೖಸೂರು 196526 56818 0 253344 82397.74,24640.18 0.00 107037.92
33,27 ಾಮಾಜನಗರ 78807 20573 0 99380 34191.81,9240.03 0.00 43431.84
34,28 ಕಬಾಪರ 92595 21358 0 113953 36302.74,8620.17 0.00 44922.91
35,29 ಾಮನಗರ 152618 41921 0 194539 54015.71,15507.40 0.00 69523.11
36,30 ಾದ 45256 9034 0 54290 24774.66,5169.39 0.00 29944.05
37,ಾಜ 3067613 852342 0 3919955 1321381.28,356502.73 0.00 1677884.01

In [312]:
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(ind_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(ind_list[idx][0], ind_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [313]:
corrected_list = remove_header(new_output_list, new_index_list)

In [314]:
corrected_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,"4. ಕೃ, ೋಟಾೆ",Unnamed: 3,ಮತು,ೇೆ,"/ Agriculture, Horticulture & Sericulture",Unnamed: 4
0,1,NaN,2,334,335,NaN,NaN,336 337 338 339,340
1,1,Belagavi,NaN,1344382,190424,NaN,NaN,14.16 70791 34341 105132,7.82
2,2,Bagalkot,NaN,658877,81126,NaN,NaN,12.31 29853 24810 54663,8.30
3,3,Vijayapura,NaN,1053471,1977,NaN,NaN,0.19 36509 29059 65568,6.22
4,4,Kalburgi,NaN,1094119,35316,NaN,NaN,3.23 41511 35113 76624,7.00
5,5,Bidar,NaN,541765,27707,NaN,NaN,5.11 25374 19127 44501,8.21
6,6,Raichur,NaN,835843,18167,NaN,NaN,2.17 20768 20084 40852,4.89
7,7,Koppal,NaN,552495,29451,NaN,NaN,5.33 49697 23635 73332,13.27
8,8,Gadag,NaN,465715,32614,NaN,NaN,7.00 11368 12024 23392,5.02
9,9,Dharwad,NaN,427329,35235,NaN,NaN,8.25 25041 3985 29026,6.79
10,10,Uttara Kannada,NaN,1024679,813595,NaN,NaN,79.40 34713 16196 50909,4.97
11,11,Haveri,NaN,485156,47454,NaN,NaN,9.78 33515 5793 39308,8.10
12,12,Ballari,NaN,956220,119247,NaN,NaN,12.47 121630 58313 179943,18.82
13,13,Chitradurga,NaN,770702,73719,NaN,NaN,9.57 55506 25403 80909,10.50
14,14,Davanagere,NaN,454573,67688,NaN,NaN,14.89 28742 6340 35082,7.72
15,15,Shivamogga,NaN,847784,276855,NaN,NaN,32.66 88708 13312 102020,12.03
16,16,Udupi,NaN,356446,100102,NaN,NaN,28.08 42567 11596 54163,15.20
17,17,Chikkamagaluru,NaN,722075,202028,NaN,NaN,27.98 43638 28322 71960,9.97
18,18,Tumakuru,NaN,1064755,45177,NaN,NaN,4.24 90127 67539 157666,14.81
19,19,Kolara,NaN,374966,20620,NaN,NaN,5.50 47503 28870 76373,20.37
20,20,Bengaluru(U),NaN,217410,5055,NaN,NaN,2.33 125426 4911 130337,59.95
21,21,Bengaluru(R),NaN,229519,11322,NaN,NaN,4.93 47082 11124 58206,25.36
22,22,Mandya,NaN,498244,24765,NaN,NaN,4.97 64762 21519 86281,17.32
23,23,Hassan,NaN,662602,58775,NaN,NaN,8.87 80604 30365 110969,16.75
24,24,Dakshina Kannada,NaN,477381,128476,NaN,NaN,26.91 71650 57506 129156,27.06
25,25,Kodagu,NaN,410775,134597,NaN,NaN,32.77 24299 24250 48549,11.82
26,26,Mysuru,NaN,676382,62851,NaN,NaN,9.29 75279 47871 123150,18.21
27,27,Chamarajanagara,NaN,569901,275610,NaN,NaN,48.36 24646 21434 46080,8.09
28,28,Chikkaballapura,NaN,404501,49704,NaN,NaN,12.29 32743 34302 67045,16.57
29,29,Ramanagara,NaN,355912,69946,NaN,NaN,19.65 29675 24339 54014,15.18
30,30,Yadgir,NaN,516088,33773,NaN,NaN,6.54 31167 27954 59121,11.46

In [315]:
len(corrected_list)

58

In [316]:
def check_nan(df_col):
    nan_columns = df_col[df_col.isna()].index.tolist()
    if len(nan_columns) == len(df_col):
        return []
    return nan_columns

In [317]:
def set_header_row(df_list_all):
    df_list = df_list_all
    new_df_list = []
    for df in df_list:
        header_row = df.iloc[0].tolist()
        for idx in range(len(header_row)):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx+1
                while j<len(header_row) and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j+=1
                if j<len(header_row) and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[0]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[1:])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        for idx in range(len(header_row)-1, 0, -1):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx-1
                while j>0 and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j-=1
                if j>0 and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[-1]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[:-1])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        new_df_list.append(df)
    return new_df_list

In [318]:
corrected_header = set_header_row(corrected_list)

/tmp/ipykernel_11509/642676802.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '532' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[0] = header_row

In [319]:
len(corrected_header)

58

In [320]:
corrected_header[34]

   4.19 ೆಚುವ ಾ 2019-20 / Additional Information 2019-20     Unnamed: 0
0                         1 2 593 594 595 596 597 598                599 600
1         1 ೆಳಾ 21465 3575 0 25040 8790.86 1875.71          0.00 10666.57
2        2 ಾಗಲೋೆ 7976 3120 0 11096 4273.44 1791.83           0.00 6065.27
3          3 ಜಯಪರ 9127 2901 0 12028 5770.33 2066.85           0.00 7837.18
4        4 ಕಲು 20482 6553 0 27035 11461.88 4112.50          0.00 15574.38
5            5 ೕದ 9723 2848 0 12571 5379.21 1806.51           0.00 7185.72
6        6 ಾಯಚೂರು 16150 4058 0 20208 9037.69 2310.90          0.00 11348.59
7            7 ೊಪಳ 6524 2891 0 9415 3662.39 1766.50           0.00 5428.89
8              8 ಗದ 3892 2073 0 5965 2345.96 1411.52           0.00 3757.48
9              9 ಾರಾಡ 1574 760 0 2334 918.48 524.92           0.00 1443.40
10        10 ಉತರ ಕನಡ 3255 1367 0 4622 1028.47 453.79           0.00 1482.26
11           11 ಾೇ 7088 1203 0 8291 3849.11 702.19           0.00 4551.30
12        12 ಬಾ 17743 6450 0 24193 9076.85 3499.10          0.00 12575.95
13      13 ತದುಗ 15676 5126 0 20802 8998.85 3144.77          0.00 12143.62
14     14 ಾವಣೆೆ 12564 3796 0 16360 6455.09 2036.23           0.00 8491.32
15         15 ವಗ 10110 3400 0 13510 5213.89 1737.74           0.00 6951.63
16             16 ಉಡು 2382 1966 0 4348 825.00 648.00           0.00 1473.00
17    17 ಕಮಗಳರು 12508 2974 0 15482 6358.44 1553.85           0.00 7912.29
18     18 ತುಮಕೂರು 25829 7248 0 33077 12152.12 3614.35          0.00 15766.47
19       19 ೋಾರ 33432 7502 0 40934 13306.88 2984.22          0.00 16291.10
20     20 ೆ೦ಗಳರು(ನ) 3914 1262 0 5176 1706.77 542.52           0.00 2249.29
21  21 ೆ೦ಗಳರು(ಾ) 11942 3540 0 15482 4861.24 14...           0.00 6342.43
22         22 ಮಂಡ 24906 7643 0 32549 8865.59 2678.16          0.00 11543.75
23        23 ಾಸನ 37469 8276 0 45745 15676.14 3560.82          0.00 19236.96
24        24 ದಣ ಕನಡ 5946 2386 0 8332 2267.74 910.97           0.00 3178.71
25            25 ೊಡಗು 2210 420 0 2630 1060.51 210.26           0.00 1270.77
26     26 ೖಸೂರು 40650 12980 0 53630 17002.89 5911.86          0.00 22914.75
27   27 ಾಮಾಜನಗರ 24932 7118 0 32050 10194.28 3065.03          0.00 13259.31
28  28 ಕಬಾಪರ 26038 6865 0 32903 10763.41 2903.37          0.00 13666.78
29       29 ಾಮನಗರ 12557 3435 0 15992 5091.01 1475.98           0.00 6566.99
30        30 ಾದ 14715 2894 0 17609 8389.08 1701.26          0.00 10090.34

In [321]:
def set_index_col(df_list):
    new_df_list = []
    for df in df_list:
        nan_col = check_nan(df.iloc[:,0])
        if len(df.index) > 31 and len(nan_col)>1:
            for idx in range(len(nan_col)-1):
                if nan_col[idx]+2 == nan_col[idx+1] and nan_col[idx]+1 not in nan_col:
                    for i in range(df.shape[1]):
                        p = nan_col[idx]
                        q = nan_col[idx]+1
                        r = nan_col[idx+1]
                        if i>0 and not (isinstance(df.iloc[p,i], float) and math.isnan(df.iloc[p,i])) and  not (isinstance(df.iloc[r,i], float) and math.isnan(df.iloc[r,i])):
                            if (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i]])
                            elif not (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i], df.iloc[q,i]])
                    idx+=1
            df = df.drop(nan_col)
        df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [322]:
corrected_index = set_index_col(corrected_header)

In [323]:
len(corrected_index)

58

In [324]:
corrected_index[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,"4. ಕೃ, ೋಟಾೆ",Unnamed: 3,ಮತು,ೇೆ,"/ Agriculture, Horticulture & Sericulture",Unnamed: 4
0,1,2,NaN,334,335,NaN,NaN,336 337 338 339,340
1,1,Belagavi,NaN,1344382,190424,NaN,NaN,14.16 70791 34341 105132,7.82
2,2,Bagalkot,NaN,658877,81126,NaN,NaN,12.31 29853 24810 54663,8.30
3,3,Vijayapura,NaN,1053471,1977,NaN,NaN,0.19 36509 29059 65568,6.22
4,4,Kalburgi,NaN,1094119,35316,NaN,NaN,3.23 41511 35113 76624,7.00
5,5,Bidar,NaN,541765,27707,NaN,NaN,5.11 25374 19127 44501,8.21
6,6,Raichur,NaN,835843,18167,NaN,NaN,2.17 20768 20084 40852,4.89
7,7,Koppal,NaN,552495,29451,NaN,NaN,5.33 49697 23635 73332,13.27
8,8,Gadag,NaN,465715,32614,NaN,NaN,7.00 11368 12024 23392,5.02
9,9,Dharwad,NaN,427329,35235,NaN,NaN,8.25 25041 3985 29026,6.79
10,10,Uttara Kannada,NaN,1024679,813595,NaN,NaN,79.40 34713 16196 50909,4.97
11,11,Haveri,NaN,485156,47454,NaN,NaN,9.78 33515 5793 39308,8.10
12,12,Ballari,NaN,956220,119247,NaN,NaN,12.47 121630 58313 179943,18.82
13,13,Chitradurga,NaN,770702,73719,NaN,NaN,9.57 55506 25403 80909,10.50
14,14,Davanagere,NaN,454573,67688,NaN,NaN,14.89 28742 6340 35082,7.72
15,15,Shivamogga,NaN,847784,276855,NaN,NaN,32.66 88708 13312 102020,12.03
16,16,Udupi,NaN,356446,100102,NaN,NaN,28.08 42567 11596 54163,15.20
17,17,Chikkamagaluru,NaN,722075,202028,NaN,NaN,27.98 43638 28322 71960,9.97
18,18,Tumakuru,NaN,1064755,45177,NaN,NaN,4.24 90127 67539 157666,14.81
19,19,Kolara,NaN,374966,20620,NaN,NaN,5.50 47503 28870 76373,20.37
20,20,Bengaluru(U),NaN,217410,5055,NaN,NaN,2.33 125426 4911 130337,59.95
21,21,Bengaluru(R),NaN,229519,11322,NaN,NaN,4.93 47082 11124 58206,25.36
22,22,Mandya,NaN,498244,24765,NaN,NaN,4.97 64762 21519 86281,17.32
23,23,Hassan,NaN,662602,58775,NaN,NaN,8.87 80604 30365 110969,16.75
24,24,Dakshina Kannada,NaN,477381,128476,NaN,NaN,26.91 71650 57506 129156,27.06
25,25,Kodagu,NaN,410775,134597,NaN,NaN,32.77 24299 24250 48549,11.82
26,26,Mysuru,NaN,676382,62851,NaN,NaN,9.29 75279 47871 123150,18.21
27,27,Chamarajanagara,NaN,569901,275610,NaN,NaN,48.36 24646 21434 46080,8.09
28,28,Chikkaballapura,NaN,404501,49704,NaN,NaN,12.29 32743 34302 67045,16.57
29,29,Ramanagara,NaN,355912,69946,NaN,NaN,19.65 29675 24339 54014,15.18
30,30,Yadgir,NaN,516088,33773,NaN,NaN,6.54 31167 27954 59121,11.46

In [325]:
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = re.findall(pattern, df_col.iloc[0])
                numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                #numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)
                    
                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)
        elif df_col.dtype == int or df_col.dtype == float:
            df.iloc[:,0] = df.iloc[:,0].astype(int).astype(str)
            new_df.append(df)
    return new_df

In [326]:
pp = corrected_index[34].copy()

In [327]:
pp = corrected_index[34].copy()
pl = first_column_split([pp])

In [328]:
pl[0]

   col1                                              col2     Unnamed: 0
0     1                         2 593 594 595 596 597 598        599 600
1     1         ೆಳಾ 21465 3575 0 25040 8790.86 1875.71  0.00 10666.57
2     2        ಾಗಲೋೆ 7976 3120 0 11096 4273.44 1791.83   0.00 6065.27
3     3          ಜಯಪರ 9127 2901 0 12028 5770.33 2066.85   0.00 7837.18
4     4        ಕಲು 20482 6553 0 27035 11461.88 4112.50  0.00 15574.38
5     5            ೕದ 9723 2848 0 12571 5379.21 1806.51   0.00 7185.72
6     6        ಾಯಚೂರು 16150 4058 0 20208 9037.69 2310.90  0.00 11348.59
7     7            ೊಪಳ 6524 2891 0 9415 3662.39 1766.50   0.00 5428.89
8     8              ಗದ 3892 2073 0 5965 2345.96 1411.52   0.00 3757.48
9     9              ಾರಾಡ 1574 760 0 2334 918.48 524.92   0.00 1443.40
10   10          ಉತರ ಕನಡ 3255 1367 0 4622 1028.47 453.79   0.00 1482.26
11   11             ಾೇ 7088 1203 0 8291 3849.11 702.19   0.00 4551.30
12   12          ಬಾ 17743 6450 0 24193 9076.85 3499.10  0.00 12575.95
13   13        ತದುಗ 15676 5126 0 20802 8998.85 3144.77  0.00 12143.62
14   14       ಾವಣೆೆ 12564 3796 0 16360 6455.09 2036.23   0.00 8491.32
15   15           ವಗ 10110 3400 0 13510 5213.89 1737.74   0.00 6951.63
16   16               ಉಡು 2382 1966 0 4348 825.00 648.00   0.00 1473.00
17   17      ಕಮಗಳರು 12508 2974 0 15482 6358.44 1553.85   0.00 7912.29
18   18       ತುಮಕೂರು 25829 7248 0 33077 12152.12 3614.35  0.00 15766.47
19   19         ೋಾರ 33432 7502 0 40934 13306.88 2984.22  0.00 16291.10
20   20       ೆ೦ಗಳರು(ನ) 3914 1262 0 5176 1706.77 542.52   0.00 2249.29
21   21  ೆ೦ಗಳರು(ಾ) 11942 3540 0 15482 4861.24 1481.19   0.00 6342.43
22   22           ಮಂಡ 24906 7643 0 32549 8865.59 2678.16  0.00 11543.75
23   23          ಾಸನ 37469 8276 0 45745 15676.14 3560.82  0.00 19236.96
24   24          ದಣ ಕನಡ 5946 2386 0 8332 2267.74 910.97   0.00 3178.71
25   25              ೊಡಗು 2210 420 0 2630 1060.51 210.26   0.00 1270.77
26   26       ೖಸೂರು 40650 12980 0 53630 17002.89 5911.86  0.00 22914.75
27   27     ಾಮಾಜನಗರ 24932 7118 0 32050 10194.28 3065.03  0.00 13259.31
28   28    ಕಬಾಪರ 26038 6865 0 32903 10763.41 2903.37  0.00 13666.78
29   29         ಾಮನಗರ 12557 3435 0 15992 5091.01 1475.98   0.00 6566.99
30   30          ಾದ 14715 2894 0 17609 8389.08 1701.26  0.00 10090.34

In [329]:
new_list = first_column_split(corrected_index)

In [330]:
len(new_list)

58

In [331]:
new_list[34]

   col1                                              col2     Unnamed: 0
0     1                         2 593 594 595 596 597 598        599 600
1     1         ೆಳಾ 21465 3575 0 25040 8790.86 1875.71  0.00 10666.57
2     2        ಾಗಲೋೆ 7976 3120 0 11096 4273.44 1791.83   0.00 6065.27
3     3          ಜಯಪರ 9127 2901 0 12028 5770.33 2066.85   0.00 7837.18
4     4        ಕಲು 20482 6553 0 27035 11461.88 4112.50  0.00 15574.38
5     5            ೕದ 9723 2848 0 12571 5379.21 1806.51   0.00 7185.72
6     6        ಾಯಚೂರು 16150 4058 0 20208 9037.69 2310.90  0.00 11348.59
7     7            ೊಪಳ 6524 2891 0 9415 3662.39 1766.50   0.00 5428.89
8     8              ಗದ 3892 2073 0 5965 2345.96 1411.52   0.00 3757.48
9     9              ಾರಾಡ 1574 760 0 2334 918.48 524.92   0.00 1443.40
10   10          ಉತರ ಕನಡ 3255 1367 0 4622 1028.47 453.79   0.00 1482.26
11   11             ಾೇ 7088 1203 0 8291 3849.11 702.19   0.00 4551.30
12   12          ಬಾ 17743 6450 0 24193 9076.85 3499.10  0.00 12575.95
13   13        ತದುಗ 15676 5126 0 20802 8998.85 3144.77  0.00 12143.62
14   14       ಾವಣೆೆ 12564 3796 0 16360 6455.09 2036.23   0.00 8491.32
15   15           ವಗ 10110 3400 0 13510 5213.89 1737.74   0.00 6951.63
16   16               ಉಡು 2382 1966 0 4348 825.00 648.00   0.00 1473.00
17   17      ಕಮಗಳರು 12508 2974 0 15482 6358.44 1553.85   0.00 7912.29
18   18       ತುಮಕೂರು 25829 7248 0 33077 12152.12 3614.35  0.00 15766.47
19   19         ೋಾರ 33432 7502 0 40934 13306.88 2984.22  0.00 16291.10
20   20       ೆ೦ಗಳರು(ನ) 3914 1262 0 5176 1706.77 542.52   0.00 2249.29
21   21  ೆ೦ಗಳರು(ಾ) 11942 3540 0 15482 4861.24 1481.19   0.00 6342.43
22   22           ಮಂಡ 24906 7643 0 32549 8865.59 2678.16  0.00 11543.75
23   23          ಾಸನ 37469 8276 0 45745 15676.14 3560.82  0.00 19236.96
24   24          ದಣ ಕನಡ 5946 2386 0 8332 2267.74 910.97   0.00 3178.71
25   25              ೊಡಗು 2210 420 0 2630 1060.51 210.26   0.00 1270.77
26   26       ೖಸೂರು 40650 12980 0 53630 17002.89 5911.86  0.00 22914.75
27   27     ಾಮಾಜನಗರ 24932 7118 0 32050 10194.28 3065.03  0.00 13259.31
28   28    ಕಬಾಪರ 26038 6865 0 32903 10763.41 2903.37  0.00 13666.78
29   29         ಾಮನಗರ 12557 3435 0 15992 5091.01 1475.98   0.00 6566.99
30   30          ಾದ 14715 2894 0 17609 8389.08 1701.26  0.00 10090.34

In [332]:
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [333]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [334]:
#replaced_list = replace_with_nan(new_list)
replaced_list = new_list

In [335]:
replaced_list[34]

   col1                                              col2     Unnamed: 0
0     1                         2 593 594 595 596 597 598        599 600
1     1         ೆಳಾ 21465 3575 0 25040 8790.86 1875.71  0.00 10666.57
2     2        ಾಗಲೋೆ 7976 3120 0 11096 4273.44 1791.83   0.00 6065.27
3     3          ಜಯಪರ 9127 2901 0 12028 5770.33 2066.85   0.00 7837.18
4     4        ಕಲು 20482 6553 0 27035 11461.88 4112.50  0.00 15574.38
5     5            ೕದ 9723 2848 0 12571 5379.21 1806.51   0.00 7185.72
6     6        ಾಯಚೂರು 16150 4058 0 20208 9037.69 2310.90  0.00 11348.59
7     7            ೊಪಳ 6524 2891 0 9415 3662.39 1766.50   0.00 5428.89
8     8              ಗದ 3892 2073 0 5965 2345.96 1411.52   0.00 3757.48
9     9              ಾರಾಡ 1574 760 0 2334 918.48 524.92   0.00 1443.40
10   10          ಉತರ ಕನಡ 3255 1367 0 4622 1028.47 453.79   0.00 1482.26
11   11             ಾೇ 7088 1203 0 8291 3849.11 702.19   0.00 4551.30
12   12          ಬಾ 17743 6450 0 24193 9076.85 3499.10  0.00 12575.95
13   13        ತದುಗ 15676 5126 0 20802 8998.85 3144.77  0.00 12143.62
14   14       ಾವಣೆೆ 12564 3796 0 16360 6455.09 2036.23   0.00 8491.32
15   15           ವಗ 10110 3400 0 13510 5213.89 1737.74   0.00 6951.63
16   16               ಉಡು 2382 1966 0 4348 825.00 648.00   0.00 1473.00
17   17      ಕಮಗಳರು 12508 2974 0 15482 6358.44 1553.85   0.00 7912.29
18   18       ತುಮಕೂರು 25829 7248 0 33077 12152.12 3614.35  0.00 15766.47
19   19         ೋಾರ 33432 7502 0 40934 13306.88 2984.22  0.00 16291.10
20   20       ೆ೦ಗಳರು(ನ) 3914 1262 0 5176 1706.77 542.52   0.00 2249.29
21   21  ೆ೦ಗಳರು(ಾ) 11942 3540 0 15482 4861.24 1481.19   0.00 6342.43
22   22           ಮಂಡ 24906 7643 0 32549 8865.59 2678.16  0.00 11543.75
23   23          ಾಸನ 37469 8276 0 45745 15676.14 3560.82  0.00 19236.96
24   24          ದಣ ಕನಡ 5946 2386 0 8332 2267.74 910.97   0.00 3178.71
25   25              ೊಡಗು 2210 420 0 2630 1060.51 210.26   0.00 1270.77
26   26       ೖಸೂರು 40650 12980 0 53630 17002.89 5911.86  0.00 22914.75
27   27     ಾಮಾಜನಗರ 24932 7118 0 32050 10194.28 3065.03  0.00 13259.31
28   28    ಕಬಾಪರ 26038 6865 0 32903 10763.41 2903.37  0.00 13666.78
29   29         ಾಮನಗರ 12557 3435 0 15992 5091.01 1475.98   0.00 6566.99
30   30          ಾದ 14715 2894 0 17609 8389.08 1701.26  0.00 10090.34

In [336]:
len(replaced_list)

58

In [337]:
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        #pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        for colName, colData in df.items():
            #print(colName)
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = re.findall(pattern, colData.values[0])
                    numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        colData = colData.str.replace(r'\s+', ' ', regex=True)
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)
            elif pd.isna(colData.values[0]):
                print("remove NaN")
            elif isinstance(colData.values[0],(int, np.integer)) or isinstance(colData.values[0],(float, np.floating)):
                colData.values[0] = str(int(colData.values[0]))
                new_df = pd.concat([new_df, colData], axis=1)
        new_df_list.append(new_df)
    return new_df_list

In [338]:
separated_list = all_column_split(replaced_list)

remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN
remove NaN

In [339]:
len(separated_list)

58

In [340]:
separated_list[34]

,col1,0,1,2,3,4,5,6,0,1
0,1,2,593,594,595,596,597,598,599,600
1,1,ೆಳಾ,21465,3575,0,25040,8790.86,1875.71,0.00,10666.57
2,2,ಾಗಲೋೆ,7976,3120,0,11096,4273.44,1791.83,0.00,6065.27
3,3,ಜಯಪರ,9127,2901,0,12028,5770.33,2066.85,0.00,7837.18
4,4,ಕಲು,20482,6553,0,27035,11461.88,4112.50,0.00,15574.38
5,5,ೕದ,9723,2848,0,12571,5379.21,1806.51,0.00,7185.72
6,6,ಾಯಚೂರು,16150,4058,0,20208,9037.69,2310.90,0.00,11348.59
7,7,ೊಪಳ,6524,2891,0,9415,3662.39,1766.50,0.00,5428.89
8,8,ಗದ,3892,2073,0,5965,2345.96,1411.52,0.00,3757.48
9,9,ಾರಾಡ,1574,760,0,2334,918.48,524.92,0.00,1443.40
10,10,ಉತರ ಕನಡ,3255,1367,0,4622,1028.47,453.79,0.00,1482.26
11,11,ಾೇ,7088,1203,0,8291,3849.11,702.19,0.00,4551.30
12,12,ಬಾ,17743,6450,0,24193,9076.85,3499.10,0.00,12575.95
13,13,ತದುಗ,15676,5126,0,20802,8998.85,3144.77,0.00,12143.62
14,14,ಾವಣೆೆ,12564,3796,0,16360,6455.09,2036.23,0.00,8491.32
15,15,ವಗ,10110,3400,0,13510,5213.89,1737.74,0.00,6951.63
16,16,ಉಡು,2382,1966,0,4348,825.00,648.00,0.00,1473.00
17,17,ಕಮಗಳರು,12508,2974,0,15482,6358.44,1553.85,0.00,7912.29
18,18,ತುಮಕೂರು,25829,7248,0,33077,12152.12,3614.35,0.00,15766.47
19,19,ೋಾರ,33432,7502,0,40934,13306.88,2984.22,0.00,16291.10
20,20,ೆ೦ಗಳರು(ನ),3914,1262,0,5176,1706.77,542.52,0.00,2249.29
21,21,ೆ೦ಗಳರು(ಾ),11942,3540,0,15482,4861.24,1481.19,0.00,6342.43
22,22,ಮಂಡ,24906,7643,0,32549,8865.59,2678.16,0.00,11543.75
23,23,ಾಸನ,37469,8276,0,45745,15676.14,3560.82,0.00,19236.96
24,24,ದಣ ಕನಡ,5946,2386,0,8332,2267.74,910.97,0.00,3178.71
25,25,ೊಡಗು,2210,420,0,2630,1060.51,210.26,0.00,1270.77
26,26,ೖಸೂರು,40650,12980,0,53630,17002.89,5911.86,0.00,22914.75
27,27,ಾಮಾಜನಗರ,24932,7118,0,32050,10194.28,3065.03,0.00,13259.31
28,28,ಕಬಾಪರ,26038,6865,0,32903,10763.41,2903.37,0.00,13666.78
29,29,ಾಮನಗರ,12557,3435,0,15992,5091.01,1475.98,0.00,6566.99
30,30,ಾದ,14715,2894,0,17609,8389.08,1701.26,0.00,10090.34

In [341]:
def check_single_column(df_list):
    new_df_list = []
    for df in df_list:
        df.fillna(value="", inplace=True)
        num_col = len(df.columns)
        for idx in range(num_col-1, 1, -1):
            cardinality = len(str(df.iloc[0,idx]).split())
            #print("idx", idx, df.iloc[0,idx], cardinality)
            for i in range(len(df.iloc[:,idx])):
                if i>0:
                    cell_car = len(str(df.iloc[i,idx]).split())
                    #print("i", i, df.iloc[i,idx], cell_car)
                    if cell_car > cardinality:
                       
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("more", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col1:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col2:
                                df.iloc[i, idx-1] = ' '.join(words_col2) + ' ' + words_col1[0]
                            else:
                                df.iloc[i, idx-1] = words_col1[0]

                            # Update the first column with the remaining words
                            df.iloc[i, idx] = ' '.join(words_col1[1:])
                        
                    if cell_car < cardinality:
                        
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("less", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col2:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col1:
                                df.iloc[i, idx] = words_col2[-1] + ' ' + ' '.join(words_col1)
                            else:
                                df.iloc[i, idx] = words_col2[-1]

                            # Update the first column with the remaining words
                            df.iloc[i, idx-1] = ' '.join(words_col2[:-1])
                        if df.iloc[i, idx-1]==' ':
                            df.iloc[i, idx-1] = ''
                        
        new_df_list.append(df)
    return new_df_list

In [342]:
updated_list = check_single_column(separated_list)

In [343]:
len(updated_list)

58

In [344]:
updated_list[0]

,Unnamed: 0,Unnamed: 1,"4. ಕೃ, ೋಟಾೆ",Unnamed: 3,0,1,2,3,Unnamed: 4
0,1,2,334,335,336,337,338,339,340
1,1,Belagavi,1344382,190424,14.16,70791,34341,105132,7.82
2,2,Bagalkot,658877,81126,12.31,29853,24810,54663,8.30
3,3,Vijayapura,1053471,1977,0.19,36509,29059,65568,6.22
4,4,Kalburgi,1094119,35316,3.23,41511,35113,76624,7.00
5,5,Bidar,541765,27707,5.11,25374,19127,44501,8.21
6,6,Raichur,835843,18167,2.17,20768,20084,40852,4.89
7,7,Koppal,552495,29451,5.33,49697,23635,73332,13.27
8,8,Gadag,465715,32614,7.00,11368,12024,23392,5.02
9,9,Dharwad,427329,35235,8.25,25041,3985,29026,6.79
10,10,Uttara Kannada,1024679,813595,79.40,34713,16196,50909,4.97
11,11,Haveri,485156,47454,9.78,33515,5793,39308,8.10
12,12,Ballari,956220,119247,12.47,121630,58313,179943,18.82
13,13,Chitradurga,770702,73719,9.57,55506,25403,80909,10.50
14,14,Davanagere,454573,67688,14.89,28742,6340,35082,7.72
15,15,Shivamogga,847784,276855,32.66,88708,13312,102020,12.03
16,16,Udupi,356446,100102,28.08,42567,11596,54163,15.20
17,17,Chikkamagaluru,722075,202028,27.98,43638,28322,71960,9.97
18,18,Tumakuru,1064755,45177,4.24,90127,67539,157666,14.81
19,19,Kolara,374966,20620,5.50,47503,28870,76373,20.37
20,20,Bengaluru(U),217410,5055,2.33,125426,4911,130337,59.95
21,21,Bengaluru(R),229519,11322,4.93,47082,11124,58206,25.36
22,22,Mandya,498244,24765,4.97,64762,21519,86281,17.32
23,23,Hassan,662602,58775,8.87,80604,30365,110969,16.75
24,24,Dakshina Kannada,477381,128476,26.91,71650,57506,129156,27.06
25,25,Kodagu,410775,134597,32.77,24299,24250,48549,11.82
26,26,Mysuru,676382,62851,9.29,75279,47871,123150,18.21
27,27,Chamarajanagara,569901,275610,48.36,24646,21434,46080,8.09
28,28,Chikkaballapura,404501,49704,12.29,32743,34302,67045,16.57
29,29,Ramanagara,355912,69946,19.65,29675,24339,54014,15.18
30,30,Yadgir,516088,33773,6.54,31167,27954,59121,11.46

In [345]:
len(updated_list)

58

In [346]:
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [347]:
final_list = reset_header(updated_list)

In [348]:
final_list[0]

0    1                 2      334     335    336     337    338     339    340
0    1          Belagavi  1344382  190424  14.16   70791  34341  105132   7.82
1    2          Bagalkot   658877   81126  12.31   29853  24810   54663   8.30
2    3        Vijayapura  1053471    1977   0.19   36509  29059   65568   6.22
3    4          Kalburgi  1094119   35316   3.23   41511  35113   76624   7.00
4    5             Bidar   541765   27707   5.11   25374  19127   44501   8.21
5    6           Raichur   835843   18167   2.17   20768  20084   40852   4.89
6    7            Koppal   552495   29451   5.33   49697  23635   73332  13.27
7    8             Gadag   465715   32614   7.00   11368  12024   23392   5.02
8    9           Dharwad   427329   35235   8.25   25041   3985   29026   6.79
9   10    Uttara Kannada  1024679  813595  79.40   34713  16196   50909   4.97
10  11            Haveri   485156   47454   9.78   33515   5793   39308   8.10
11  12           Ballari   956220  119247  12.47  121630  58313  179943  18.82
12  13       Chitradurga   770702   73719   9.57   55506  25403   80909  10.50
13  14        Davanagere   454573   67688  14.89   28742   6340   35082   7.72
14  15        Shivamogga   847784  276855  32.66   88708  13312  102020  12.03
15  16             Udupi   356446  100102  28.08   42567  11596   54163  15.20
16  17    Chikkamagaluru   722075  202028  27.98   43638  28322   71960   9.97
17  18          Tumakuru  1064755   45177   4.24   90127  67539  157666  14.81
18  19            Kolara   374966   20620   5.50   47503  28870   76373  20.37
19  20      Bengaluru(U)   217410    5055   2.33  125426   4911  130337  59.95
20  21      Bengaluru(R)   229519   11322   4.93   47082  11124   58206  25.36
21  22            Mandya   498244   24765   4.97   64762  21519   86281  17.32
22  23            Hassan   662602   58775   8.87   80604  30365  110969  16.75
23  24  Dakshina Kannada   477381  128476  26.91   71650  57506  129156  27.06
24  25            Kodagu   410775  134597  32.77   24299  24250   48549  11.82
25  26            Mysuru   676382   62851   9.29   75279  47871  123150  18.21
26  27   Chamarajanagara   569901  275610  48.36   24646  21434   46080   8.09
27  28   Chikkaballapura   404501   49704  12.29   32743  34302   67045  16.57
28  29        Ramanagara   355912   69946  19.65   29675  24339   54014  15.18
29  30            Yadgir   516088   33773   6.54   31167  27954   59121  11.46

In [349]:
def get_empty_col(df_list):
    index_list=[]
    for i in range(len(df_list)):
        empty_columns = df_list[i].columns[df_list[i].isna().all()].tolist()
        if len(empty_columns) > 0:
            index_list.append([i,empty_columns])
    return index_list

In [350]:
empty_col = get_empty_col(final_list)
empty_col

[]

In [351]:
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [352]:
final_df = concat_dataframe(final_list)

In [353]:
final_df

,1,2,334,335,336,337,338,339,340,341,...,780,781,782,783,784,785,786,787,788,789
0,1,Belagavi,1344382,190424,14.16,70791,34341,105132,7.82,11465,...,0.00,918737.82,562367,53995,3199,619561,909878.84,81174.91,18989.43,1010043.18
1,2,Bagalkot,658877,81126,12.31,29853,24810,54663,8.30,2035,...,0.00,421797.47,206648,43098,263,250009,390235.95,76502.36,3325.38,470063.69
2,3,Vijayapura,1053471,1977,0.19,36509,29059,65568,6.22,5502,...,0.00,833853.85,312217,50691,71,362979,812694.99,121612.49,420.63,934728.11
3,4,Kalburgi,1094119,35316,3.23,41511,35113,76624,7.00,9417,...,0.00,768099.78,330755,90728,232,421715,726361.00,184813.57,1199.48,912374.05
4,5,Bidar,541765,27707,5.11,25374,19127,44501,8.21,19381,...,0.00,347714.26,205580,55594,207,261381,351531.12,85027.85,590.40,437149.37
5,6,Raichur,835843,18167,2.17,20768,20084,40852,4.89,10712,...,0.00,390384.08,245058,53509,647,299214,509492.39,99747.90,6743.36,615983.65
6,7,Koppal,552495,29451,5.33,49697,23635,73332,13.27,2568,...,0.00,349423.00,184377,47583,165,232125,340326.52,77395.57,677.23,418399.32
7,8,Gadag,465715,32614,7.00,11368,12024,23392,5.02,1010,...,0.00,348927.04,150865,28251,286,179402,333182.94,55939.73,1236.16,390358.83
8,9,Dharwad,427329,35235,8.25,25041,3985,29026,6.79,2669,...,0.00,325488.61,136188,25528,171,161887,291254.97,51040.16,1146.52,343441.65
9,10,Uttara Kannada,1024679,813595,79.40,34713,16196,50909,4.97,6450,...,0.00,138513.70,152871,45849,521,199241,116965.63,29020.55,571.57,146557.75
10,11,Haveri,485156,47454,9.78,33515,5793,39308,8.10,2989,...,0.00,322400.26,203915,24744,286,228945,330614.13,36627.98,1304.02,368546.13
11,12,Ballari,956220,119247,12.47,121630,58313,179943,18.82,22417,...,0.00,460265.69,287155,88155,866,376176,478979.09,134999.49,3205.37,617183.95
12,13,Chitradurga,770702,73719,9.57,55506,25403,80909,10.50,21612,...,0.00,388771.67,228157,73405,943,302505,415708.88,132645.83,4904.76,553259.47
13,14,Davanagere,454573,67688,14.89,28742,6340,35082,7.72,5254,...,0.00,234883.04,177308,50912,959,229179,233254.42,65139.51,3034.64,301428.57
14,15,Shivamogga,847784,276855,32.66,88708,13312,102020,12.03,16311,...,0.00,234231.92,179785,53567,572,233924,200587.93,57717.69,1560.13,259865.75
15,16,Udupi,356446,100102,28.08,42567,11596,54163,15.20,38938,...,0.00,125293.00,105055,84308,519,189882,72804.00,58811.00,1524.00,133139.00
16,17,Chikkamagaluru,722075,202028,27.98,43638,28322,71960,9.97,19322,...,0.00,272356.35,186248,41025,1387,228660,245611.21,53144.13,13077.52,311832.86
17,18,Tumakuru,1064755,45177,4.24,90127,67539,157666,14.81,62642,...,0.00,548821.53,406993,108071,539,515603,520800.61,129386.46,1089.03,651276.10
18,19,Kolara,374966,20620,5.50,47503,28870,76373,20.37,6397,...,0.00,188983.10,249759,53716,291,303766,195154.69,38437.86,489.35,234081.90
19,20,Bengaluru(U),217410,5055,2.33,125426,4911,130337,59.95,3889,...,0.00,78746.95,84098,23123,13,107234,66034.19,17249.22,17.47,83300.88
20,21,Bengaluru(R),229519,11322,4.93,47082,11124,58206,25.36,3898,...,0.00,128643.98,151924,41283,140,193347,117140.20,29167.30,301.50,146609.00
21,22,Mandya,498244,24765,4.97,64762,21519,86281,17.32,41955,...,0.00,292503.54,427686,131617,2348,561651,249228.47,67190.86,4193.07,320612.40
22,23,Hassan,662602,58775,8.87,80604,30365,110969,16.75,14142,...,0.00,390554.65,428004,109562,1735,539301,360528.07,84300.22,4484.35,449312.64
23,24,Dakshina Kannada,477381,128476,26.91,71650,57506,129156,27.06,23198,...,0.00,156508.48,141885,66288,745,208918,115205.54,52629.01,2257.68,170092.23
24,25,Kodagu,410775,134597,32.77,24299,24250,48549,11.82,7458,...,0.00,151850.52,57275,10501,385,68161,135185.69,20450.15,8835.92,164471.76
25,26,Mysuru,676382,62851,9.29,75279,47871,123150,18.21,21407,...,0.00,266664.96,351930,102656,390,454976,267955.56,77052.04,2653.40,347661.00
26,27,Chamarajanagara,569901,275610,48.36,24646,21434,46080,8.09,7637,...,0.00,158177.93,172153,44064,269,216486,163520.30,39024.00,654.17,203198.47
27,28,Chikkaballapura,404501,49704,12.29,32743,34302,67045,16.57,9033,...,0.00,135070.57,188642,44005,170,232817,159026.39,33757.21,383.05,193166.65
28,29,Ramanagara,355912,69946,19.65,29675,24339,54014,15.18,1178,...,0.00,167793.06,210774,57825,472,269071,143277.84,39272.55,1292.51,183842.90
29,30,Yadgir,516088,33773,6.54,31167,27954,59121,11.46,2385,...,0.00,331365.56,193641,38927,55,232623,359780.49,73148.00,187.39,433115.88

In [354]:
final_df.columns = final_df.columns.astype(int)

In [355]:
final_df[2]

0             Belagavi
1             Bagalkot
2           Vijayapura
3             Kalburgi
4                Bidar
5              Raichur
6               Koppal
7                Gadag
8              Dharwad
9       Uttara Kannada
10              Haveri
11             Ballari
12         Chitradurga
13          Davanagere
14          Shivamogga
15               Udupi
16      Chikkamagaluru
17            Tumakuru
18              Kolara
19        Bengaluru(U)
20        Bengaluru(R)
21              Mandya
22              Hassan
23    Dakshina Kannada
24              Kodagu
25              Mysuru
26     Chamarajanagara
27     Chikkaballapura
28          Ramanagara
29              Yadgir
Name: 2, dtype: object

In [356]:
final_df = final_df.reindex(sorted(final_df.columns, key=int), axis=1)

In [357]:
final_df

,1,2,334,335,336,337,338,339,340,341,...,780,781,782,783,784,785,786,787,788,789
0,1,Belagavi,1344382,190424,14.16,70791,34341,105132,7.82,11465,...,0.00,918737.82,562367,53995,3199,619561,909878.84,81174.91,18989.43,1010043.18
1,2,Bagalkot,658877,81126,12.31,29853,24810,54663,8.30,2035,...,0.00,421797.47,206648,43098,263,250009,390235.95,76502.36,3325.38,470063.69
2,3,Vijayapura,1053471,1977,0.19,36509,29059,65568,6.22,5502,...,0.00,833853.85,312217,50691,71,362979,812694.99,121612.49,420.63,934728.11
3,4,Kalburgi,1094119,35316,3.23,41511,35113,76624,7.00,9417,...,0.00,768099.78,330755,90728,232,421715,726361.00,184813.57,1199.48,912374.05
4,5,Bidar,541765,27707,5.11,25374,19127,44501,8.21,19381,...,0.00,347714.26,205580,55594,207,261381,351531.12,85027.85,590.40,437149.37
5,6,Raichur,835843,18167,2.17,20768,20084,40852,4.89,10712,...,0.00,390384.08,245058,53509,647,299214,509492.39,99747.90,6743.36,615983.65
6,7,Koppal,552495,29451,5.33,49697,23635,73332,13.27,2568,...,0.00,349423.00,184377,47583,165,232125,340326.52,77395.57,677.23,418399.32
7,8,Gadag,465715,32614,7.00,11368,12024,23392,5.02,1010,...,0.00,348927.04,150865,28251,286,179402,333182.94,55939.73,1236.16,390358.83
8,9,Dharwad,427329,35235,8.25,25041,3985,29026,6.79,2669,...,0.00,325488.61,136188,25528,171,161887,291254.97,51040.16,1146.52,343441.65
9,10,Uttara Kannada,1024679,813595,79.40,34713,16196,50909,4.97,6450,...,0.00,138513.70,152871,45849,521,199241,116965.63,29020.55,571.57,146557.75
10,11,Haveri,485156,47454,9.78,33515,5793,39308,8.10,2989,...,0.00,322400.26,203915,24744,286,228945,330614.13,36627.98,1304.02,368546.13
11,12,Ballari,956220,119247,12.47,121630,58313,179943,18.82,22417,...,0.00,460265.69,287155,88155,866,376176,478979.09,134999.49,3205.37,617183.95
12,13,Chitradurga,770702,73719,9.57,55506,25403,80909,10.50,21612,...,0.00,388771.67,228157,73405,943,302505,415708.88,132645.83,4904.76,553259.47
13,14,Davanagere,454573,67688,14.89,28742,6340,35082,7.72,5254,...,0.00,234883.04,177308,50912,959,229179,233254.42,65139.51,3034.64,301428.57
14,15,Shivamogga,847784,276855,32.66,88708,13312,102020,12.03,16311,...,0.00,234231.92,179785,53567,572,233924,200587.93,57717.69,1560.13,259865.75
15,16,Udupi,356446,100102,28.08,42567,11596,54163,15.20,38938,...,0.00,125293.00,105055,84308,519,189882,72804.00,58811.00,1524.00,133139.00
16,17,Chikkamagaluru,722075,202028,27.98,43638,28322,71960,9.97,19322,...,0.00,272356.35,186248,41025,1387,228660,245611.21,53144.13,13077.52,311832.86
17,18,Tumakuru,1064755,45177,4.24,90127,67539,157666,14.81,62642,...,0.00,548821.53,406993,108071,539,515603,520800.61,129386.46,1089.03,651276.10
18,19,Kolara,374966,20620,5.50,47503,28870,76373,20.37,6397,...,0.00,188983.10,249759,53716,291,303766,195154.69,38437.86,489.35,234081.90
19,20,Bengaluru(U),217410,5055,2.33,125426,4911,130337,59.95,3889,...,0.00,78746.95,84098,23123,13,107234,66034.19,17249.22,17.47,83300.88
20,21,Bengaluru(R),229519,11322,4.93,47082,11124,58206,25.36,3898,...,0.00,128643.98,151924,41283,140,193347,117140.20,29167.30,301.50,146609.00
21,22,Mandya,498244,24765,4.97,64762,21519,86281,17.32,41955,...,0.00,292503.54,427686,131617,2348,561651,249228.47,67190.86,4193.07,320612.40
22,23,Hassan,662602,58775,8.87,80604,30365,110969,16.75,14142,...,0.00,390554.65,428004,109562,1735,539301,360528.07,84300.22,4484.35,449312.64
23,24,Dakshina Kannada,477381,128476,26.91,71650,57506,129156,27.06,23198,...,0.00,156508.48,141885,66288,745,208918,115205.54,52629.01,2257.68,170092.23
24,25,Kodagu,410775,134597,32.77,24299,24250,48549,11.82,7458,...,0.00,151850.52,57275,10501,385,68161,135185.69,20450.15,8835.92,164471.76
25,26,Mysuru,676382,62851,9.29,75279,47871,123150,18.21,21407,...,0.00,266664.96,351930,102656,390,454976,267955.56,77052.04,2653.40,347661.00
26,27,Chamarajanagara,569901,275610,48.36,24646,21434,46080,8.09,7637,...,0.00,158177.93,172153,44064,269,216486,163520.30,39024.00,654.17,203198.47
27,28,Chikkaballapura,404501,49704,12.29,32743,34302,67045,16.57,9033,...,0.00,135070.57,188642,44005,170,232817,159026.39,33757.21,383.05,193166.65
28,29,Ramanagara,355912,69946,19.65,29675,24339,54014,15.18,1178,...,0.00,167793.06,210774,57825,472,269071,143277.84,39272.55,1292.51,183842.90
29,30,Yadgir,516088,33773,6.54,31167,27954,59121,11.46,2385,...,0.00,331365.56,193641,38927,55,232623,359780.49,73148.00,187.39,433115.88

In [358]:
final_df = final_df.drop(final_df.index[30:])

In [359]:
final_df

,1,2,334,335,336,337,338,339,340,341,...,780,781,782,783,784,785,786,787,788,789
0,1,Belagavi,1344382,190424,14.16,70791,34341,105132,7.82,11465,...,0.00,918737.82,562367,53995,3199,619561,909878.84,81174.91,18989.43,1010043.18
1,2,Bagalkot,658877,81126,12.31,29853,24810,54663,8.30,2035,...,0.00,421797.47,206648,43098,263,250009,390235.95,76502.36,3325.38,470063.69
2,3,Vijayapura,1053471,1977,0.19,36509,29059,65568,6.22,5502,...,0.00,833853.85,312217,50691,71,362979,812694.99,121612.49,420.63,934728.11
3,4,Kalburgi,1094119,35316,3.23,41511,35113,76624,7.00,9417,...,0.00,768099.78,330755,90728,232,421715,726361.00,184813.57,1199.48,912374.05
4,5,Bidar,541765,27707,5.11,25374,19127,44501,8.21,19381,...,0.00,347714.26,205580,55594,207,261381,351531.12,85027.85,590.40,437149.37
5,6,Raichur,835843,18167,2.17,20768,20084,40852,4.89,10712,...,0.00,390384.08,245058,53509,647,299214,509492.39,99747.90,6743.36,615983.65
6,7,Koppal,552495,29451,5.33,49697,23635,73332,13.27,2568,...,0.00,349423.00,184377,47583,165,232125,340326.52,77395.57,677.23,418399.32
7,8,Gadag,465715,32614,7.00,11368,12024,23392,5.02,1010,...,0.00,348927.04,150865,28251,286,179402,333182.94,55939.73,1236.16,390358.83
8,9,Dharwad,427329,35235,8.25,25041,3985,29026,6.79,2669,...,0.00,325488.61,136188,25528,171,161887,291254.97,51040.16,1146.52,343441.65
9,10,Uttara Kannada,1024679,813595,79.40,34713,16196,50909,4.97,6450,...,0.00,138513.70,152871,45849,521,199241,116965.63,29020.55,571.57,146557.75
10,11,Haveri,485156,47454,9.78,33515,5793,39308,8.10,2989,...,0.00,322400.26,203915,24744,286,228945,330614.13,36627.98,1304.02,368546.13
11,12,Ballari,956220,119247,12.47,121630,58313,179943,18.82,22417,...,0.00,460265.69,287155,88155,866,376176,478979.09,134999.49,3205.37,617183.95
12,13,Chitradurga,770702,73719,9.57,55506,25403,80909,10.50,21612,...,0.00,388771.67,228157,73405,943,302505,415708.88,132645.83,4904.76,553259.47
13,14,Davanagere,454573,67688,14.89,28742,6340,35082,7.72,5254,...,0.00,234883.04,177308,50912,959,229179,233254.42,65139.51,3034.64,301428.57
14,15,Shivamogga,847784,276855,32.66,88708,13312,102020,12.03,16311,...,0.00,234231.92,179785,53567,572,233924,200587.93,57717.69,1560.13,259865.75
15,16,Udupi,356446,100102,28.08,42567,11596,54163,15.20,38938,...,0.00,125293.00,105055,84308,519,189882,72804.00,58811.00,1524.00,133139.00
16,17,Chikkamagaluru,722075,202028,27.98,43638,28322,71960,9.97,19322,...,0.00,272356.35,186248,41025,1387,228660,245611.21,53144.13,13077.52,311832.86
17,18,Tumakuru,1064755,45177,4.24,90127,67539,157666,14.81,62642,...,0.00,548821.53,406993,108071,539,515603,520800.61,129386.46,1089.03,651276.10
18,19,Kolara,374966,20620,5.50,47503,28870,76373,20.37,6397,...,0.00,188983.10,249759,53716,291,303766,195154.69,38437.86,489.35,234081.90
19,20,Bengaluru(U),217410,5055,2.33,125426,4911,130337,59.95,3889,...,0.00,78746.95,84098,23123,13,107234,66034.19,17249.22,17.47,83300.88
20,21,Bengaluru(R),229519,11322,4.93,47082,11124,58206,25.36,3898,...,0.00,128643.98,151924,41283,140,193347,117140.20,29167.30,301.50,146609.00
21,22,Mandya,498244,24765,4.97,64762,21519,86281,17.32,41955,...,0.00,292503.54,427686,131617,2348,561651,249228.47,67190.86,4193.07,320612.40
22,23,Hassan,662602,58775,8.87,80604,30365,110969,16.75,14142,...,0.00,390554.65,428004,109562,1735,539301,360528.07,84300.22,4484.35,449312.64
23,24,Dakshina Kannada,477381,128476,26.91,71650,57506,129156,27.06,23198,...,0.00,156508.48,141885,66288,745,208918,115205.54,52629.01,2257.68,170092.23
24,25,Kodagu,410775,134597,32.77,24299,24250,48549,11.82,7458,...,0.00,151850.52,57275,10501,385,68161,135185.69,20450.15,8835.92,164471.76
25,26,Mysuru,676382,62851,9.29,75279,47871,123150,18.21,21407,...,0.00,266664.96,351930,102656,390,454976,267955.56,77052.04,2653.40,347661.00
26,27,Chamarajanagara,569901,275610,48.36,24646,21434,46080,8.09,7637,...,0.00,158177.93,172153,44064,269,216486,163520.30,39024.00,654.17,203198.47
27,28,Chikkaballapura,404501,49704,12.29,32743,34302,67045,16.57,9033,...,0.00,135070.57,188642,44005,170,232817,159026.39,33757.21,383.05,193166.65
28,29,Ramanagara,355912,69946,19.65,29675,24339,54014,15.18,1178,...,0.00,167793.06,210774,57825,472,269071,143277.84,39272.55,1292.51,183842.90
29,30,Yadgir,516088,33773,6.54,31167,27954,59121,11.46,2385,...,0.00,331365.56,193641,38927,55,232623,359780.49,73148.00,187.39,433115.88

In [360]:
new_order = [18, 20, 19, 27, 26, 29, 30, 22, 21, 24, 23, 25, 4, 5, 8, 12, 10, 9, 6, 1, 2, 15, 13, 11, 14, 16, 17, 7, 3, 28]
final_df[1] = new_order
final_df

,1,2,334,335,336,337,338,339,340,341,...,780,781,782,783,784,785,786,787,788,789
0,18,Belagavi,1344382,190424,14.16,70791,34341,105132,7.82,11465,...,0.00,918737.82,562367,53995,3199,619561,909878.84,81174.91,18989.43,1010043.18
1,20,Bagalkot,658877,81126,12.31,29853,24810,54663,8.30,2035,...,0.00,421797.47,206648,43098,263,250009,390235.95,76502.36,3325.38,470063.69
2,19,Vijayapura,1053471,1977,0.19,36509,29059,65568,6.22,5502,...,0.00,833853.85,312217,50691,71,362979,812694.99,121612.49,420.63,934728.11
3,27,Kalburgi,1094119,35316,3.23,41511,35113,76624,7.00,9417,...,0.00,768099.78,330755,90728,232,421715,726361.00,184813.57,1199.48,912374.05
4,26,Bidar,541765,27707,5.11,25374,19127,44501,8.21,19381,...,0.00,347714.26,205580,55594,207,261381,351531.12,85027.85,590.40,437149.37
5,29,Raichur,835843,18167,2.17,20768,20084,40852,4.89,10712,...,0.00,390384.08,245058,53509,647,299214,509492.39,99747.90,6743.36,615983.65
6,30,Koppal,552495,29451,5.33,49697,23635,73332,13.27,2568,...,0.00,349423.00,184377,47583,165,232125,340326.52,77395.57,677.23,418399.32
7,22,Gadag,465715,32614,7.00,11368,12024,23392,5.02,1010,...,0.00,348927.04,150865,28251,286,179402,333182.94,55939.73,1236.16,390358.83
8,21,Dharwad,427329,35235,8.25,25041,3985,29026,6.79,2669,...,0.00,325488.61,136188,25528,171,161887,291254.97,51040.16,1146.52,343441.65
9,24,Uttara Kannada,1024679,813595,79.40,34713,16196,50909,4.97,6450,...,0.00,138513.70,152871,45849,521,199241,116965.63,29020.55,571.57,146557.75
10,23,Haveri,485156,47454,9.78,33515,5793,39308,8.10,2989,...,0.00,322400.26,203915,24744,286,228945,330614.13,36627.98,1304.02,368546.13
11,25,Ballari,956220,119247,12.47,121630,58313,179943,18.82,22417,...,0.00,460265.69,287155,88155,866,376176,478979.09,134999.49,3205.37,617183.95
12,4,Chitradurga,770702,73719,9.57,55506,25403,80909,10.50,21612,...,0.00,388771.67,228157,73405,943,302505,415708.88,132645.83,4904.76,553259.47
13,5,Davanagere,454573,67688,14.89,28742,6340,35082,7.72,5254,...,0.00,234883.04,177308,50912,959,229179,233254.42,65139.51,3034.64,301428.57
14,8,Shivamogga,847784,276855,32.66,88708,13312,102020,12.03,16311,...,0.00,234231.92,179785,53567,572,233924,200587.93,57717.69,1560.13,259865.75
15,12,Udupi,356446,100102,28.08,42567,11596,54163,15.20,38938,...,0.00,125293.00,105055,84308,519,189882,72804.00,58811.00,1524.00,133139.00
16,10,Chikkamagaluru,722075,202028,27.98,43638,28322,71960,9.97,19322,...,0.00,272356.35,186248,41025,1387,228660,245611.21,53144.13,13077.52,311832.86
17,9,Tumakuru,1064755,45177,4.24,90127,67539,157666,14.81,62642,...,0.00,548821.53,406993,108071,539,515603,520800.61,129386.46,1089.03,651276.10
18,6,Kolara,374966,20620,5.50,47503,28870,76373,20.37,6397,...,0.00,188983.10,249759,53716,291,303766,195154.69,38437.86,489.35,234081.90
19,1,Bengaluru(U),217410,5055,2.33,125426,4911,130337,59.95,3889,...,0.00,78746.95,84098,23123,13,107234,66034.19,17249.22,17.47,83300.88
20,2,Bengaluru(R),229519,11322,4.93,47082,11124,58206,25.36,3898,...,0.00,128643.98,151924,41283,140,193347,117140.20,29167.30,301.50,146609.00
21,15,Mandya,498244,24765,4.97,64762,21519,86281,17.32,41955,...,0.00,292503.54,427686,131617,2348,561651,249228.47,67190.86,4193.07,320612.40
22,13,Hassan,662602,58775,8.87,80604,30365,110969,16.75,14142,...,0.00,390554.65,428004,109562,1735,539301,360528.07,84300.22,4484.35,449312.64
23,11,Dakshina Kannada,477381,128476,26.91,71650,57506,129156,27.06,23198,...,0.00,156508.48,141885,66288,745,208918,115205.54,52629.01,2257.68,170092.23
24,14,Kodagu,410775,134597,32.77,24299,24250,48549,11.82,7458,...,0.00,151850.52,57275,10501,385,68161,135185.69,20450.15,8835.92,164471.76
25,16,Mysuru,676382,62851,9.29,75279,47871,123150,18.21,21407,...,0.00,266664.96,351930,102656,390,454976,267955.56,77052.04,2653.40,347661.00
26,17,Chamarajanagara,569901,275610,48.36,24646,21434,46080,8.09,7637,...,0.00,158177.93,172153,44064,269,216486,163520.30,39024.00,654.17,203198.47
27,7,Chikkaballapura,404501,49704,12.29,32743,34302,67045,16.57,9033,...,0.00,135070.57,188642,44005,170,232817,159026.39,33757.21,383.05,193166.65
28,3,Ramanagara,355912,69946,19.65,29675,24339,54014,15.18,1178,...,0.00,167793.06,210774,57825,472,269071,143277.84,39272.55,1292.51,183842.90
29,28,Yadgir,516088,33773,6.54,31167,27954,59121,11.46,2385,...,0.00,331365.56,193641,38927,55,232623,359780.49,73148.00,187.39,433115.88

In [361]:
final_data = final_df.sort_values(1)
final_data.reset_index(drop=True, inplace=True)
final_data

,1,2,334,335,336,337,338,339,340,341,...,780,781,782,783,784,785,786,787,788,789
0,1,Bengaluru(U),217410,5055,2.33,125426,4911,130337,59.95,3889,...,0.00,78746.95,84098,23123,13,107234,66034.19,17249.22,17.47,83300.88
1,2,Bengaluru(R),229519,11322,4.93,47082,11124,58206,25.36,3898,...,0.00,128643.98,151924,41283,140,193347,117140.20,29167.30,301.50,146609.00
2,3,Ramanagara,355912,69946,19.65,29675,24339,54014,15.18,1178,...,0.00,167793.06,210774,57825,472,269071,143277.84,39272.55,1292.51,183842.90
3,4,Chitradurga,770702,73719,9.57,55506,25403,80909,10.50,21612,...,0.00,388771.67,228157,73405,943,302505,415708.88,132645.83,4904.76,553259.47
4,5,Davanagere,454573,67688,14.89,28742,6340,35082,7.72,5254,...,0.00,234883.04,177308,50912,959,229179,233254.42,65139.51,3034.64,301428.57
5,6,Kolara,374966,20620,5.50,47503,28870,76373,20.37,6397,...,0.00,188983.10,249759,53716,291,303766,195154.69,38437.86,489.35,234081.90
6,7,Chikkaballapura,404501,49704,12.29,32743,34302,67045,16.57,9033,...,0.00,135070.57,188642,44005,170,232817,159026.39,33757.21,383.05,193166.65
7,8,Shivamogga,847784,276855,32.66,88708,13312,102020,12.03,16311,...,0.00,234231.92,179785,53567,572,233924,200587.93,57717.69,1560.13,259865.75
8,9,Tumakuru,1064755,45177,4.24,90127,67539,157666,14.81,62642,...,0.00,548821.53,406993,108071,539,515603,520800.61,129386.46,1089.03,651276.10
9,10,Chikkamagaluru,722075,202028,27.98,43638,28322,71960,9.97,19322,...,0.00,272356.35,186248,41025,1387,228660,245611.21,53144.13,13077.52,311832.86
10,11,Dakshina Kannada,477381,128476,26.91,71650,57506,129156,27.06,23198,...,0.00,156508.48,141885,66288,745,208918,115205.54,52629.01,2257.68,170092.23
11,12,Udupi,356446,100102,28.08,42567,11596,54163,15.20,38938,...,0.00,125293.00,105055,84308,519,189882,72804.00,58811.00,1524.00,133139.00
12,13,Hassan,662602,58775,8.87,80604,30365,110969,16.75,14142,...,0.00,390554.65,428004,109562,1735,539301,360528.07,84300.22,4484.35,449312.64
13,14,Kodagu,410775,134597,32.77,24299,24250,48549,11.82,7458,...,0.00,151850.52,57275,10501,385,68161,135185.69,20450.15,8835.92,164471.76
14,15,Mandya,498244,24765,4.97,64762,21519,86281,17.32,41955,...,0.00,292503.54,427686,131617,2348,561651,249228.47,67190.86,4193.07,320612.40
15,16,Mysuru,676382,62851,9.29,75279,47871,123150,18.21,21407,...,0.00,266664.96,351930,102656,390,454976,267955.56,77052.04,2653.40,347661.00
16,17,Chamarajanagara,569901,275610,48.36,24646,21434,46080,8.09,7637,...,0.00,158177.93,172153,44064,269,216486,163520.30,39024.00,654.17,203198.47
17,18,Belagavi,1344382,190424,14.16,70791,34341,105132,7.82,11465,...,0.00,918737.82,562367,53995,3199,619561,909878.84,81174.91,18989.43,1010043.18
18,19,Vijayapura,1053471,1977,0.19,36509,29059,65568,6.22,5502,...,0.00,833853.85,312217,50691,71,362979,812694.99,121612.49,420.63,934728.11
19,20,Bagalkot,658877,81126,12.31,29853,24810,54663,8.30,2035,...,0.00,421797.47,206648,43098,263,250009,390235.95,76502.36,3325.38,470063.69
20,21,Dharwad,427329,35235,8.25,25041,3985,29026,6.79,2669,...,0.00,325488.61,136188,25528,171,161887,291254.97,51040.16,1146.52,343441.65
21,22,Gadag,465715,32614,7.00,11368,12024,23392,5.02,1010,...,0.00,348927.04,150865,28251,286,179402,333182.94,55939.73,1236.16,390358.83
22,23,Haveri,485156,47454,9.78,33515,5793,39308,8.10,2989,...,0.00,322400.26,203915,24744,286,228945,330614.13,36627.98,1304.02,368546.13
23,24,Uttara Kannada,1024679,813595,79.40,34713,16196,50909,4.97,6450,...,0.00,138513.70,152871,45849,521,199241,116965.63,29020.55,571.57,146557.75
24,25,Ballari,956220,119247,12.47,121630,58313,179943,18.82,22417,...,0.00,460265.69,287155,88155,866,376176,478979.09,134999.49,3205.37,617183.95
25,26,Bidar,541765,27707,5.11,25374,19127,44501,8.21,19381,...,0.00,347714.26,205580,55594,207,261381,351531.12,85027.85,590.40,437149.37
26,27,Kalburgi,1094119,35316,3.23,41511,35113,76624,7.00,9417,...,0.00,768099.78,330755,90728,232,421715,726361.00,184813.57,1199.48,912374.05
27,28,Yadgir,516088,33773,6.54,31167,27954,59121,11.46,2385,...,0.00,331365.56,193641,38927,55,232623,359780.49,73148.00,187.39,433115.88
28,29,Raichur,835843,18167,2.17,20768,20084,40852,4.89,10712,...,0.00,390384.08,245058,53509,647,299214,509492.39,99747.90,6743.36,615983.65
29,30,Koppal,552495,29451,5.33,49697,23635,73332,13.27,2568,...,0.00,349423.00,184377,47583,165,232125,340326.52,77395.57,677.23,418399.32

In [362]:
name_list = ['Bengaluru(U)','Bengaluru(R)', 'Ramanagara', 'Chitradurga', 'Davanagere', 'Kolara', 'Chikkaballapura', 'Shivamogga',
'Tumakuru', 'Chikkamagaluru', 'Dakshina Kannada', 'Udupi', 'Hassan', 'Kodagu', 'Mandya', 'Mysuru', 'Chamarajanagara',
 'Belagavi', 'Vijayapura', 'Bagalkot', 'Dharwad', 'Gadag', 'Haveri', 'Uttara Kannada', 'Ballari', 'Bidar', 'Kalburgi',
 'Yadgir', 'Raichur', 'Koppal']

In [363]:
final_data[2] = name_list
final_data

,1,2,334,335,336,337,338,339,340,341,...,780,781,782,783,784,785,786,787,788,789
0,1,Bengaluru(U),217410,5055,2.33,125426,4911,130337,59.95,3889,...,0.00,78746.95,84098,23123,13,107234,66034.19,17249.22,17.47,83300.88
1,2,Bengaluru(R),229519,11322,4.93,47082,11124,58206,25.36,3898,...,0.00,128643.98,151924,41283,140,193347,117140.20,29167.30,301.50,146609.00
2,3,Ramanagara,355912,69946,19.65,29675,24339,54014,15.18,1178,...,0.00,167793.06,210774,57825,472,269071,143277.84,39272.55,1292.51,183842.90
3,4,Chitradurga,770702,73719,9.57,55506,25403,80909,10.50,21612,...,0.00,388771.67,228157,73405,943,302505,415708.88,132645.83,4904.76,553259.47
4,5,Davanagere,454573,67688,14.89,28742,6340,35082,7.72,5254,...,0.00,234883.04,177308,50912,959,229179,233254.42,65139.51,3034.64,301428.57
5,6,Kolara,374966,20620,5.50,47503,28870,76373,20.37,6397,...,0.00,188983.10,249759,53716,291,303766,195154.69,38437.86,489.35,234081.90
6,7,Chikkaballapura,404501,49704,12.29,32743,34302,67045,16.57,9033,...,0.00,135070.57,188642,44005,170,232817,159026.39,33757.21,383.05,193166.65
7,8,Shivamogga,847784,276855,32.66,88708,13312,102020,12.03,16311,...,0.00,234231.92,179785,53567,572,233924,200587.93,57717.69,1560.13,259865.75
8,9,Tumakuru,1064755,45177,4.24,90127,67539,157666,14.81,62642,...,0.00,548821.53,406993,108071,539,515603,520800.61,129386.46,1089.03,651276.10
9,10,Chikkamagaluru,722075,202028,27.98,43638,28322,71960,9.97,19322,...,0.00,272356.35,186248,41025,1387,228660,245611.21,53144.13,13077.52,311832.86
10,11,Dakshina Kannada,477381,128476,26.91,71650,57506,129156,27.06,23198,...,0.00,156508.48,141885,66288,745,208918,115205.54,52629.01,2257.68,170092.23
11,12,Udupi,356446,100102,28.08,42567,11596,54163,15.20,38938,...,0.00,125293.00,105055,84308,519,189882,72804.00,58811.00,1524.00,133139.00
12,13,Hassan,662602,58775,8.87,80604,30365,110969,16.75,14142,...,0.00,390554.65,428004,109562,1735,539301,360528.07,84300.22,4484.35,449312.64
13,14,Kodagu,410775,134597,32.77,24299,24250,48549,11.82,7458,...,0.00,151850.52,57275,10501,385,68161,135185.69,20450.15,8835.92,164471.76
14,15,Mandya,498244,24765,4.97,64762,21519,86281,17.32,41955,...,0.00,292503.54,427686,131617,2348,561651,249228.47,67190.86,4193.07,320612.40
15,16,Mysuru,676382,62851,9.29,75279,47871,123150,18.21,21407,...,0.00,266664.96,351930,102656,390,454976,267955.56,77052.04,2653.40,347661.00
16,17,Chamarajanagara,569901,275610,48.36,24646,21434,46080,8.09,7637,...,0.00,158177.93,172153,44064,269,216486,163520.30,39024.00,654.17,203198.47
17,18,Belagavi,1344382,190424,14.16,70791,34341,105132,7.82,11465,...,0.00,918737.82,562367,53995,3199,619561,909878.84,81174.91,18989.43,1010043.18
18,19,Vijayapura,1053471,1977,0.19,36509,29059,65568,6.22,5502,...,0.00,833853.85,312217,50691,71,362979,812694.99,121612.49,420.63,934728.11
19,20,Bagalkot,658877,81126,12.31,29853,24810,54663,8.30,2035,...,0.00,421797.47,206648,43098,263,250009,390235.95,76502.36,3325.38,470063.69
20,21,Dharwad,427329,35235,8.25,25041,3985,29026,6.79,2669,...,0.00,325488.61,136188,25528,171,161887,291254.97,51040.16,1146.52,343441.65
21,22,Gadag,465715,32614,7.00,11368,12024,23392,5.02,1010,...,0.00,348927.04,150865,28251,286,179402,333182.94,55939.73,1236.16,390358.83
22,23,Haveri,485156,47454,9.78,33515,5793,39308,8.10,2989,...,0.00,322400.26,203915,24744,286,228945,330614.13,36627.98,1304.02,368546.13
23,24,Uttara Kannada,1024679,813595,79.40,34713,16196,50909,4.97,6450,...,0.00,138513.70,152871,45849,521,199241,116965.63,29020.55,571.57,146557.75
24,25,Ballari,956220,119247,12.47,121630,58313,179943,18.82,22417,...,0.00,460265.69,287155,88155,866,376176,478979.09,134999.49,3205.37,617183.95
25,26,Bidar,541765,27707,5.11,25374,19127,44501,8.21,19381,...,0.00,347714.26,205580,55594,207,261381,351531.12,85027.85,590.40,437149.37
26,27,Kalburgi,1094119,35316,3.23,41511,35113,76624,7.00,9417,...,0.00,768099.78,330755,90728,232,421715,726361.00,184813.57,1199.48,912374.05
27,28,Yadgir,516088,33773,6.54,31167,27954,59121,11.46,2385,...,0.00,331365.56,193641,38927,55,232623,359780.49,73148.00,187.39,433115.88
28,29,Raichur,835843,18167,2.17,20768,20084,40852,4.89,10712,...,0.00,390384.08,245058,53509,647,299214,509492.39,99747.90,6743.36,615983.65
29,30,Koppal,552495,29451,5.33,49697,23635,73332,13.27,2568,...,0.00,349423.00,184377,47583,165,232125,340326.52,77395.57,677.23,418399.32

In [364]:
final_data.to_csv(absolute_result_path, sep=';', index=False)
final_data.to_csv(absolute_dictionary_path, sep=';', index=False)

In [365]:
start = final_data.columns[2]
end = final_data.columns[-1]
for i in range(start,end):
    if i not in final_df.columns.tolist():
        print(i)