In [1]:
import tabula
import numpy as np
import pandas as pd
import os
import re
import math

In [2]:
relative_path_pdf = "../HTML/Output_html_Chapter7/kaggle/working/out/pages/"
relative_dictionary_path = "../Data/Chapter7_Data.csv"
relative_result_path = "../HTML/Output_html_Chapter7/Chapter7_Data.csv"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = os.path.join(os.getcwd(), relative_path_pdf)
absolute_dictionary_path = os.path.join(os.getcwd(), relative_dictionary_path)
absolute_result_path = os.path.join(os.getcwd(), relative_result_path)

In [3]:
os.listdir(absolute_path_pdf)

['page_1.pdf', 'page_2.pdf', 'page_3.pdf', 'page_4.pdf']

In [4]:
output_list = []

In [5]:
# Get a list of PDF files sorted by filename
pdf_files = sorted([file for file in os.listdir(absolute_path_pdf) if file.endswith(".pdf")], key=lambda x: [int(s) if s.isdigit() else s.lower() for s in re.split('(\d+)', x)])

# Iterate through all PDF files
for file in pdf_files:
    file_path = os.path.join(absolute_path_pdf, file)
    dfs = tabula.read_pdf(file_path, pages='all', stream=True)
    if dfs:
        output_list.append(dfs[0])  # Assuming you want to append the first DataFrame from each PDF

In [6]:
len(output_list)

4

In [7]:
output_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,7. ಾಂಕುಗಳ / Banks,Unnamed: 3,Unnamed: 4
0,NaN,NaN,7.1,2019-20ರ ಾಂ ಾರು ೇವಗಳ ಮತು ತದ ಾಲ,NaN,NaN
1,NaN,NaN,NaN,Bank-wise Deposits and Credits Distributed in ...,NaN,NaN
2,NaN,NaN,ಾಂೕಯ ಾೕಣ ಾಂಕಗಳ (ಲ ರೂ.ಗಳ) / Regional...,NaN,NaN,NaN
3,NaN,NaN,ಾೆಗಳ,ಎ..ಎಂ. ಕೃ ೈಾಾ,ೇಾ ವಲಯೆ ಇತೆ,NaN
4,ಕ,NaN,ಸಂೆ,ಗಳ ಸಂೆ ವಲಯೆ ವಲಯೆ ಾಲ,ಒಟು ಾಲ,ೇವ
5,NaN,ೆಗಳ,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,ಾಲ ಾಲ,NaN
7,ಸಂ,NaN,No. of,No. of Agricultureಾಲ Industrial,Service Other Total,Deposits
8,NaN,NaN,Branches,ATMs SectorSector,Sector Loans Loans,NaN
9,NaN,NaN,NaN,LoanLoanLoan,NaN,NaN
10,1,2,917,918 919 920,921 922 923,924
11,1,ೆಳಾ,170,17 94252.00 17706.00,22536.00 24687.00 159181.00,364740.00
12,2,ಾಗಲೋೆ,76,9 120598.71 7666.36,11397.64 24101.93 163764.64,203008.01
13,3,ಜಯಪರ,79,7 136394.00 389.00,4425.00 45155.00 186363.00,165033.00
14,4,ಕಲು,91,22 75890.62 0.00,26733.77 62379.40 165003.79,245167.00
15,5,ೕದ,54,16 40674.00 6819.00,9208.00 2522.00 59223.00,80726.00
16,6,ಾಯಚೂರು,67,31 26351.24 520.00,14329.00 10345.48 51545.72,155611.72
17,7,ೊಪಳ,51,13 26705.00 5400.00,11500.00 1895.00 45500.00,140037.68
18,8,ಗದ,81,8 111403.27 6120.00,9541.00 20323.00 147387.27,151193.60
19,9,ಾರಾಡ,76,16 4824.61 25.75,2102.25 6019.45 12972.06,466091.00
20,10,ಉತರ ಕನಡ,46,5 4692.40 383.40,12178.60 10213.90 27468.30,92060.00
21,11,ಾೇ,78,10 93112.51 0.00,0.00 64984.12 158096.63,160398.06
22,12,ಬಾ,104,49 258945.00 21731.00,12494.00 29108.00 322278.00,454797.00
23,13,ತದುಗ,84,80 1969.00 2005.00,2345.00 4355.00 10674.00,14333.00
24,14,ಾವಣೆೆ,51,23 563.00 2080.00,2681.00 5285.00 10609.00,114390.00
25,15,ವಗ,43,19 49947.00 3385.00,2258.00 1379.00 56969.00,124200.00
26,16,ಉಡು,23,3 17485.00 4576.00,3310.00 3070.00 28441.00,30275.00
27,17,ಕಮಗಳರು,53,0 53717.00 988.00,5229.00 10953.00 70887.00,100111.00
28,18,ತುಮಕೂರು,68,0 50352.00 12229.00,4167.00 25575.00 92323.00,142299.00
29,19,ೋಾರ,45,28 99959.00 12295.00,6812.00 33325.00 152391.00,169734.00
30,20,ೆ೦ಗಳರು(ನ),41,1 21659.00 15336.00,20329.00 59698.00 117022.00,190117.00
31,21,ೆ೦ಗಳರು(ಾ),19,1 6246.00 4380.00,4106.00 6689.00 21421.00,41154.00
32,22,ಮಂಡ,58,0 50953.00 2618.00,3657.00 4853.00 62081.00,93109.00
33,23,ಾಸನ,61,0 68300.00 8064.00,10787.00 3204.00 90355.00,94577.00
34,24,ದಣ ಕನಡ,26,1 5129.00 0.00,6712.00 16117.00 27958.00,29094.00
35,25,ೊಡಗು,26,0 11420.97 5661.00,1738.26 766.05 19586.28,33055.43
36,26,ೖಸೂರು,110,0 86276.00 4356.00,8128.00 25244.00 124004.00,226557.00
37,27,ಾಮಾಜನಗರ,26,0 15557.00 2517.00,4370.00 2240.00 24684.00,37656.00
38,28,ಕಬಾಪರ,37,16 70222.00 5014.00,3492.00 8600.00 87328.00,92817.00
39,29,ಾಮನಗರ,14,0 9228.00 3320.36,1292.14 4615.50 18456.00,21546.00
40,30,ಾದ,36,12 32487.00 14651.00,9555.00 7008.00 63701.00,55378.26
41,NaN,ಾಜ,1794,387 1645313.33 170235.87,237413.66 524710.83 2577673.69,4289265.76

In [8]:
def add_header(df_list,idx_list, new_list):
    index = 0
    for i in range(len(idx_list)):
        df_list[idx_list[i]].loc[index + 1:] = df_list[idx_list[i]].loc[index:].shift(1)
        df_list[idx_list[i]].loc[index] = new_list[i]
    return df_list

In [9]:
new_row = [[1, 2, np.nan, 381,382,383,384,385,386]]
id_row = [6]
#output_list = add_header(output_list, id_row, new_row)

In [10]:
output_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,7. ಾಂಕುಗಳ / Banks,Unnamed: 3,Unnamed: 4
0,NaN,NaN,7.1,2019-20ರ ಾಂ ಾರು ೇವಗಳ ಮತು ತದ ಾಲ,NaN,NaN
1,NaN,NaN,NaN,Bank-wise Deposits and Credits Distributed in ...,NaN,NaN
2,NaN,NaN,ಾಂೕಯ ಾೕಣ ಾಂಕಗಳ (ಲ ರೂ.ಗಳ) / Regional...,NaN,NaN,NaN
3,NaN,NaN,ಾೆಗಳ,ಎ..ಎಂ. ಕೃ ೈಾಾ,ೇಾ ವಲಯೆ ಇತೆ,NaN
4,ಕ,NaN,ಸಂೆ,ಗಳ ಸಂೆ ವಲಯೆ ವಲಯೆ ಾಲ,ಒಟು ಾಲ,ೇವ
5,NaN,ೆಗಳ,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,ಾಲ ಾಲ,NaN
7,ಸಂ,NaN,No. of,No. of Agricultureಾಲ Industrial,Service Other Total,Deposits
8,NaN,NaN,Branches,ATMs SectorSector,Sector Loans Loans,NaN
9,NaN,NaN,NaN,LoanLoanLoan,NaN,NaN
10,1,2,917,918 919 920,921 922 923,924
11,1,ೆಳಾ,170,17 94252.00 17706.00,22536.00 24687.00 159181.00,364740.00
12,2,ಾಗಲೋೆ,76,9 120598.71 7666.36,11397.64 24101.93 163764.64,203008.01
13,3,ಜಯಪರ,79,7 136394.00 389.00,4425.00 45155.00 186363.00,165033.00
14,4,ಕಲು,91,22 75890.62 0.00,26733.77 62379.40 165003.79,245167.00
15,5,ೕದ,54,16 40674.00 6819.00,9208.00 2522.00 59223.00,80726.00
16,6,ಾಯಚೂರು,67,31 26351.24 520.00,14329.00 10345.48 51545.72,155611.72
17,7,ೊಪಳ,51,13 26705.00 5400.00,11500.00 1895.00 45500.00,140037.68
18,8,ಗದ,81,8 111403.27 6120.00,9541.00 20323.00 147387.27,151193.60
19,9,ಾರಾಡ,76,16 4824.61 25.75,2102.25 6019.45 12972.06,466091.00
20,10,ಉತರ ಕನಡ,46,5 4692.40 383.40,12178.60 10213.90 27468.30,92060.00
21,11,ಾೇ,78,10 93112.51 0.00,0.00 64984.12 158096.63,160398.06
22,12,ಬಾ,104,49 258945.00 21731.00,12494.00 29108.00 322278.00,454797.00
23,13,ತದುಗ,84,80 1969.00 2005.00,2345.00 4355.00 10674.00,14333.00
24,14,ಾವಣೆೆ,51,23 563.00 2080.00,2681.00 5285.00 10609.00,114390.00
25,15,ವಗ,43,19 49947.00 3385.00,2258.00 1379.00 56969.00,124200.00
26,16,ಉಡು,23,3 17485.00 4576.00,3310.00 3070.00 28441.00,30275.00
27,17,ಕಮಗಳರು,53,0 53717.00 988.00,5229.00 10953.00 70887.00,100111.00
28,18,ತುಮಕೂರು,68,0 50352.00 12229.00,4167.00 25575.00 92323.00,142299.00
29,19,ೋಾರ,45,28 99959.00 12295.00,6812.00 33325.00 152391.00,169734.00
30,20,ೆ೦ಗಳರು(ನ),41,1 21659.00 15336.00,20329.00 59698.00 117022.00,190117.00
31,21,ೆ೦ಗಳರು(ಾ),19,1 6246.00 4380.00,4106.00 6689.00 21421.00,41154.00
32,22,ಮಂಡ,58,0 50953.00 2618.00,3657.00 4853.00 62081.00,93109.00
33,23,ಾಸನ,61,0 68300.00 8064.00,10787.00 3204.00 90355.00,94577.00
34,24,ದಣ ಕನಡ,26,1 5129.00 0.00,6712.00 16117.00 27958.00,29094.00
35,25,ೊಡಗು,26,0 11420.97 5661.00,1738.26 766.05 19586.28,33055.43
36,26,ೖಸೂರು,110,0 86276.00 4356.00,8128.00 25244.00 124004.00,226557.00
37,27,ಾಮಾಜನಗರ,26,0 15557.00 2517.00,4370.00 2240.00 24684.00,37656.00
38,28,ಕಬಾಪರ,37,16 70222.00 5014.00,3492.00 8600.00 87328.00,92817.00
39,29,ಾಮನಗರ,14,0 9228.00 3320.36,1292.14 4615.50 18456.00,21546.00
40,30,ಾದ,36,12 32487.00 14651.00,9555.00 7008.00 63701.00,55378.26
41,NaN,ಾಜ,1794,387 1645313.33 170235.87,237413.66 524710.83 2577673.69,4289265.76

In [11]:
def find_last_index(df_col):
    pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
    for idx in range(len(df_col)):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
                    if numbers_1 and numbers_1[0] == 30:
                        return idx+1
   
    return (len(df_col) - 1)

In [12]:
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    miss_list = []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        df_col = df_col.astype(str)

        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        flag = 0
        for idx in range(len(df_col) - 1):
            #print(idx, df_col.iloc[idx])
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = re.findall(pattern, df_col.iloc[idx+1])
                    numbers_2 = [int(num) if '.' not in num else float(num) for num in numbers_2]
                    #print(numbers_2)
            if numbers_1 and numbers_2 and numbers_1[0] == 1 and numbers_2[0] == 1:
                start_index = idx
                end_index = find_last_index(df_col)
                index_list.append([start_index, end_index])
                if(end_index - start_index) != 31:
                    miss_list.append(i)
                flag=1
                i += 1
                break

        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index, miss_list

In [13]:
index_list, drop_list, fault_list = find_header(output_list)

In [14]:
fault_list

[]

In [15]:
drop_list

[]

In [16]:
index_list

[[10, 41], [11, 42], [11, 42], [10, 41]]

In [17]:
len(index_list)

4

In [18]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        return new_df_list
    return df_list

In [19]:
def get_final_index(df_list, index_ll, drop_index, miss_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list, miss_list = find_header(df)
        drop_index = drop_list
        miss_index = miss_list
    return df, index_ll, drop_index, miss_index

In [20]:
new_output_list, new_index_list, new_drop_list, new_fault_list = get_final_index(output_list, index_list, drop_list, fault_list)

In [21]:
new_fault_list, new_drop_list

([], [])

In [22]:
new_index_list

[[10, 41], [11, 42], [11, 42], [10, 41]]

In [23]:
new_output_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,7. ಾಂಕುಗಳ / Banks,Unnamed: 3,Unnamed: 4
0,NaN,NaN,7.1,2019-20ರ ಾಂ ಾರು ೇವಗಳ ಮತು ತದ ಾಲ,NaN,NaN
1,NaN,NaN,NaN,Bank-wise Deposits and Credits Distributed in ...,NaN,NaN
2,NaN,NaN,ಾಂೕಯ ಾೕಣ ಾಂಕಗಳ (ಲ ರೂ.ಗಳ) / Regional...,NaN,NaN,NaN
3,NaN,NaN,ಾೆಗಳ,ಎ..ಎಂ. ಕೃ ೈಾಾ,ೇಾ ವಲಯೆ ಇತೆ,NaN
4,ಕ,NaN,ಸಂೆ,ಗಳ ಸಂೆ ವಲಯೆ ವಲಯೆ ಾಲ,ಒಟು ಾಲ,ೇವ
5,NaN,ೆಗಳ,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,ಾಲ ಾಲ,NaN
7,ಸಂ,NaN,No. of,No. of Agricultureಾಲ Industrial,Service Other Total,Deposits
8,NaN,NaN,Branches,ATMs SectorSector,Sector Loans Loans,NaN
9,NaN,NaN,NaN,LoanLoanLoan,NaN,NaN
10,1,2,917,918 919 920,921 922 923,924
11,1,ೆಳಾ,170,17 94252.00 17706.00,22536.00 24687.00 159181.00,364740.00
12,2,ಾಗಲೋೆ,76,9 120598.71 7666.36,11397.64 24101.93 163764.64,203008.01
13,3,ಜಯಪರ,79,7 136394.00 389.00,4425.00 45155.00 186363.00,165033.00
14,4,ಕಲು,91,22 75890.62 0.00,26733.77 62379.40 165003.79,245167.00
15,5,ೕದ,54,16 40674.00 6819.00,9208.00 2522.00 59223.00,80726.00
16,6,ಾಯಚೂರು,67,31 26351.24 520.00,14329.00 10345.48 51545.72,155611.72
17,7,ೊಪಳ,51,13 26705.00 5400.00,11500.00 1895.00 45500.00,140037.68
18,8,ಗದ,81,8 111403.27 6120.00,9541.00 20323.00 147387.27,151193.60
19,9,ಾರಾಡ,76,16 4824.61 25.75,2102.25 6019.45 12972.06,466091.00
20,10,ಉತರ ಕನಡ,46,5 4692.40 383.40,12178.60 10213.90 27468.30,92060.00
21,11,ಾೇ,78,10 93112.51 0.00,0.00 64984.12 158096.63,160398.06
22,12,ಬಾ,104,49 258945.00 21731.00,12494.00 29108.00 322278.00,454797.00
23,13,ತದುಗ,84,80 1969.00 2005.00,2345.00 4355.00 10674.00,14333.00
24,14,ಾವಣೆೆ,51,23 563.00 2080.00,2681.00 5285.00 10609.00,114390.00
25,15,ವಗ,43,19 49947.00 3385.00,2258.00 1379.00 56969.00,124200.00
26,16,ಉಡು,23,3 17485.00 4576.00,3310.00 3070.00 28441.00,30275.00
27,17,ಕಮಗಳರು,53,0 53717.00 988.00,5229.00 10953.00 70887.00,100111.00
28,18,ತುಮಕೂರು,68,0 50352.00 12229.00,4167.00 25575.00 92323.00,142299.00
29,19,ೋಾರ,45,28 99959.00 12295.00,6812.00 33325.00 152391.00,169734.00
30,20,ೆ೦ಗಳರು(ನ),41,1 21659.00 15336.00,20329.00 59698.00 117022.00,190117.00
31,21,ೆ೦ಗಳರು(ಾ),19,1 6246.00 4380.00,4106.00 6689.00 21421.00,41154.00
32,22,ಮಂಡ,58,0 50953.00 2618.00,3657.00 4853.00 62081.00,93109.00
33,23,ಾಸನ,61,0 68300.00 8064.00,10787.00 3204.00 90355.00,94577.00
34,24,ದಣ ಕನಡ,26,1 5129.00 0.00,6712.00 16117.00 27958.00,29094.00
35,25,ೊಡಗು,26,0 11420.97 5661.00,1738.26 766.05 19586.28,33055.43
36,26,ೖಸೂರು,110,0 86276.00 4356.00,8128.00 25244.00 124004.00,226557.00
37,27,ಾಮಾಜನಗರ,26,0 15557.00 2517.00,4370.00 2240.00 24684.00,37656.00
38,28,ಕಬಾಪರ,37,16 70222.00 5014.00,3492.00 8600.00 87328.00,92817.00
39,29,ಾಮನಗರ,14,0 9228.00 3320.36,1292.14 4615.50 18456.00,21546.00
40,30,ಾದ,36,12 32487.00 14651.00,9555.00 7008.00 63701.00,55378.26
41,NaN,ಾಜ,1794,387 1645313.33 170235.87,237413.66 524710.83 2577673.69,4289265.76

In [24]:
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(ind_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(ind_list[idx][0], ind_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [25]:
corrected_list = remove_header(new_output_list, new_index_list)

In [26]:
corrected_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,7. ಾಂಕುಗಳ / Banks,Unnamed: 3,Unnamed: 4
0,1,2,917,918 919 920,921 922 923,924
1,1,ೆಳಾ,170,17 94252.00 17706.00,22536.00 24687.00 159181.00,364740.00
2,2,ಾಗಲೋೆ,76,9 120598.71 7666.36,11397.64 24101.93 163764.64,203008.01
3,3,ಜಯಪರ,79,7 136394.00 389.00,4425.00 45155.00 186363.00,165033.00
4,4,ಕಲು,91,22 75890.62 0.00,26733.77 62379.40 165003.79,245167.00
5,5,ೕದ,54,16 40674.00 6819.00,9208.00 2522.00 59223.00,80726.00
6,6,ಾಯಚೂರು,67,31 26351.24 520.00,14329.00 10345.48 51545.72,155611.72
7,7,ೊಪಳ,51,13 26705.00 5400.00,11500.00 1895.00 45500.00,140037.68
8,8,ಗದ,81,8 111403.27 6120.00,9541.00 20323.00 147387.27,151193.60
9,9,ಾರಾಡ,76,16 4824.61 25.75,2102.25 6019.45 12972.06,466091.00
10,10,ಉತರ ಕನಡ,46,5 4692.40 383.40,12178.60 10213.90 27468.30,92060.00
11,11,ಾೇ,78,10 93112.51 0.00,0.00 64984.12 158096.63,160398.06
12,12,ಬಾ,104,49 258945.00 21731.00,12494.00 29108.00 322278.00,454797.00
13,13,ತದುಗ,84,80 1969.00 2005.00,2345.00 4355.00 10674.00,14333.00
14,14,ಾವಣೆೆ,51,23 563.00 2080.00,2681.00 5285.00 10609.00,114390.00
15,15,ವಗ,43,19 49947.00 3385.00,2258.00 1379.00 56969.00,124200.00
16,16,ಉಡು,23,3 17485.00 4576.00,3310.00 3070.00 28441.00,30275.00
17,17,ಕಮಗಳರು,53,0 53717.00 988.00,5229.00 10953.00 70887.00,100111.00
18,18,ತುಮಕೂರು,68,0 50352.00 12229.00,4167.00 25575.00 92323.00,142299.00
19,19,ೋಾರ,45,28 99959.00 12295.00,6812.00 33325.00 152391.00,169734.00
20,20,ೆ೦ಗಳರು(ನ),41,1 21659.00 15336.00,20329.00 59698.00 117022.00,190117.00
21,21,ೆ೦ಗಳರು(ಾ),19,1 6246.00 4380.00,4106.00 6689.00 21421.00,41154.00
22,22,ಮಂಡ,58,0 50953.00 2618.00,3657.00 4853.00 62081.00,93109.00
23,23,ಾಸನ,61,0 68300.00 8064.00,10787.00 3204.00 90355.00,94577.00
24,24,ದಣ ಕನಡ,26,1 5129.00 0.00,6712.00 16117.00 27958.00,29094.00
25,25,ೊಡಗು,26,0 11420.97 5661.00,1738.26 766.05 19586.28,33055.43
26,26,ೖಸೂರು,110,0 86276.00 4356.00,8128.00 25244.00 124004.00,226557.00
27,27,ಾಮಾಜನಗರ,26,0 15557.00 2517.00,4370.00 2240.00 24684.00,37656.00
28,28,ಕಬಾಪರ,37,16 70222.00 5014.00,3492.00 8600.00 87328.00,92817.00
29,29,ಾಮನಗರ,14,0 9228.00 3320.36,1292.14 4615.50 18456.00,21546.00
30,30,ಾದ,36,12 32487.00 14651.00,9555.00 7008.00 63701.00,55378.26

In [27]:
len(corrected_list)

4

In [28]:
def check_nan(df_col):
    nan_columns = df_col[df_col.isna()].index.tolist()
    if len(nan_columns) == len(df_col):
        return []
    return nan_columns

In [29]:
def set_header_row(df_list_all):
    df_list = df_list_all
    new_df_list = []
    for df in df_list:
        header_row = df.iloc[0].tolist()
        for idx in range(len(header_row)):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx+1
                while j<len(header_row) and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j+=1
                if j<len(header_row) and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[0]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[1:])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        for idx in range(len(header_row)-1, 0, -1):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx-1
                while j>0 and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j-=1
                if j>0 and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[-1]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[:-1])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        new_df_list.append(df)
    return new_df_list

In [30]:
corrected_header = set_header_row(corrected_list)

In [31]:
len(corrected_header)

4

In [32]:
corrected_header[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,7. ಾಂಕುಗಳ / Banks,Unnamed: 3,Unnamed: 4
0,1,2,917,918 919 920,921 922 923,924
1,1,ೆಳಾ,170,17 94252.00 17706.00,22536.00 24687.00 159181.00,364740.00
2,2,ಾಗಲೋೆ,76,9 120598.71 7666.36,11397.64 24101.93 163764.64,203008.01
3,3,ಜಯಪರ,79,7 136394.00 389.00,4425.00 45155.00 186363.00,165033.00
4,4,ಕಲು,91,22 75890.62 0.00,26733.77 62379.40 165003.79,245167.00
5,5,ೕದ,54,16 40674.00 6819.00,9208.00 2522.00 59223.00,80726.00
6,6,ಾಯಚೂರು,67,31 26351.24 520.00,14329.00 10345.48 51545.72,155611.72
7,7,ೊಪಳ,51,13 26705.00 5400.00,11500.00 1895.00 45500.00,140037.68
8,8,ಗದ,81,8 111403.27 6120.00,9541.00 20323.00 147387.27,151193.60
9,9,ಾರಾಡ,76,16 4824.61 25.75,2102.25 6019.45 12972.06,466091.00
10,10,ಉತರ ಕನಡ,46,5 4692.40 383.40,12178.60 10213.90 27468.30,92060.00
11,11,ಾೇ,78,10 93112.51 0.00,0.00 64984.12 158096.63,160398.06
12,12,ಬಾ,104,49 258945.00 21731.00,12494.00 29108.00 322278.00,454797.00
13,13,ತದುಗ,84,80 1969.00 2005.00,2345.00 4355.00 10674.00,14333.00
14,14,ಾವಣೆೆ,51,23 563.00 2080.00,2681.00 5285.00 10609.00,114390.00
15,15,ವಗ,43,19 49947.00 3385.00,2258.00 1379.00 56969.00,124200.00
16,16,ಉಡು,23,3 17485.00 4576.00,3310.00 3070.00 28441.00,30275.00
17,17,ಕಮಗಳರು,53,0 53717.00 988.00,5229.00 10953.00 70887.00,100111.00
18,18,ತುಮಕೂರು,68,0 50352.00 12229.00,4167.00 25575.00 92323.00,142299.00
19,19,ೋಾರ,45,28 99959.00 12295.00,6812.00 33325.00 152391.00,169734.00
20,20,ೆ೦ಗಳರು(ನ),41,1 21659.00 15336.00,20329.00 59698.00 117022.00,190117.00
21,21,ೆ೦ಗಳರು(ಾ),19,1 6246.00 4380.00,4106.00 6689.00 21421.00,41154.00
22,22,ಮಂಡ,58,0 50953.00 2618.00,3657.00 4853.00 62081.00,93109.00
23,23,ಾಸನ,61,0 68300.00 8064.00,10787.00 3204.00 90355.00,94577.00
24,24,ದಣ ಕನಡ,26,1 5129.00 0.00,6712.00 16117.00 27958.00,29094.00
25,25,ೊಡಗು,26,0 11420.97 5661.00,1738.26 766.05 19586.28,33055.43
26,26,ೖಸೂರು,110,0 86276.00 4356.00,8128.00 25244.00 124004.00,226557.00
27,27,ಾಮಾಜನಗರ,26,0 15557.00 2517.00,4370.00 2240.00 24684.00,37656.00
28,28,ಕಬಾಪರ,37,16 70222.00 5014.00,3492.00 8600.00 87328.00,92817.00
29,29,ಾಮನಗರ,14,0 9228.00 3320.36,1292.14 4615.50 18456.00,21546.00
30,30,ಾದ,36,12 32487.00 14651.00,9555.00 7008.00 63701.00,55378.26

In [33]:
def set_index_col(df_list):
    new_df_list = []
    for df in df_list:
        nan_col = check_nan(df.iloc[:,0])
        if len(df.index) > 31 and len(nan_col)>1:
            for idx in range(len(nan_col)-1):
                if nan_col[idx]+2 == nan_col[idx+1] and nan_col[idx]+1 not in nan_col:
                    for i in range(df.shape[1]):
                        p = nan_col[idx]
                        q = nan_col[idx]+1
                        r = nan_col[idx+1]
                        if i>0 and not (isinstance(df.iloc[p,i], float) and math.isnan(df.iloc[p,i])) and  not (isinstance(df.iloc[r,i], float) and math.isnan(df.iloc[r,i])):
                            if (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i]])
                            elif not (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i], df.iloc[q,i]])
                    idx+=1
            df = df.drop(nan_col)
        df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [34]:
corrected_index = set_index_col(corrected_header)

In [35]:
len(corrected_index)

4

In [36]:
corrected_index[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,7. ಾಂಕುಗಳ / Banks,Unnamed: 3,Unnamed: 4
0,1,2,917,918 919 920,921 922 923,924
1,1,ೆಳಾ,170,17 94252.00 17706.00,22536.00 24687.00 159181.00,364740.00
2,2,ಾಗಲೋೆ,76,9 120598.71 7666.36,11397.64 24101.93 163764.64,203008.01
3,3,ಜಯಪರ,79,7 136394.00 389.00,4425.00 45155.00 186363.00,165033.00
4,4,ಕಲು,91,22 75890.62 0.00,26733.77 62379.40 165003.79,245167.00
5,5,ೕದ,54,16 40674.00 6819.00,9208.00 2522.00 59223.00,80726.00
6,6,ಾಯಚೂರು,67,31 26351.24 520.00,14329.00 10345.48 51545.72,155611.72
7,7,ೊಪಳ,51,13 26705.00 5400.00,11500.00 1895.00 45500.00,140037.68
8,8,ಗದ,81,8 111403.27 6120.00,9541.00 20323.00 147387.27,151193.60
9,9,ಾರಾಡ,76,16 4824.61 25.75,2102.25 6019.45 12972.06,466091.00
10,10,ಉತರ ಕನಡ,46,5 4692.40 383.40,12178.60 10213.90 27468.30,92060.00
11,11,ಾೇ,78,10 93112.51 0.00,0.00 64984.12 158096.63,160398.06
12,12,ಬಾ,104,49 258945.00 21731.00,12494.00 29108.00 322278.00,454797.00
13,13,ತದುಗ,84,80 1969.00 2005.00,2345.00 4355.00 10674.00,14333.00
14,14,ಾವಣೆೆ,51,23 563.00 2080.00,2681.00 5285.00 10609.00,114390.00
15,15,ವಗ,43,19 49947.00 3385.00,2258.00 1379.00 56969.00,124200.00
16,16,ಉಡು,23,3 17485.00 4576.00,3310.00 3070.00 28441.00,30275.00
17,17,ಕಮಗಳರು,53,0 53717.00 988.00,5229.00 10953.00 70887.00,100111.00
18,18,ತುಮಕೂರು,68,0 50352.00 12229.00,4167.00 25575.00 92323.00,142299.00
19,19,ೋಾರ,45,28 99959.00 12295.00,6812.00 33325.00 152391.00,169734.00
20,20,ೆ೦ಗಳರು(ನ),41,1 21659.00 15336.00,20329.00 59698.00 117022.00,190117.00
21,21,ೆ೦ಗಳರು(ಾ),19,1 6246.00 4380.00,4106.00 6689.00 21421.00,41154.00
22,22,ಮಂಡ,58,0 50953.00 2618.00,3657.00 4853.00 62081.00,93109.00
23,23,ಾಸನ,61,0 68300.00 8064.00,10787.00 3204.00 90355.00,94577.00
24,24,ದಣ ಕನಡ,26,1 5129.00 0.00,6712.00 16117.00 27958.00,29094.00
25,25,ೊಡಗು,26,0 11420.97 5661.00,1738.26 766.05 19586.28,33055.43
26,26,ೖಸೂರು,110,0 86276.00 4356.00,8128.00 25244.00 124004.00,226557.00
27,27,ಾಮಾಜನಗರ,26,0 15557.00 2517.00,4370.00 2240.00 24684.00,37656.00
28,28,ಕಬಾಪರ,37,16 70222.00 5014.00,3492.00 8600.00 87328.00,92817.00
29,29,ಾಮನಗರ,14,0 9228.00 3320.36,1292.14 4615.50 18456.00,21546.00
30,30,ಾದ,36,12 32487.00 14651.00,9555.00 7008.00 63701.00,55378.26

In [37]:
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = re.findall(pattern, df_col.iloc[0])
                numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                #numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)

                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)
        elif df_col.dtype == int or df_col.dtype == float:
            df.iloc[:,0] = df.iloc[:,0].astype(int).astype(str)
            new_df.append(df)
    return new_df

In [38]:
new_list = first_column_split(corrected_index)

In [39]:
len(new_list)

4

In [40]:
new_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,7. ಾಂಕುಗಳ / Banks,Unnamed: 3,Unnamed: 4
0,1,2,917,918 919 920,921 922 923,924
1,1,ೆಳಾ,170,17 94252.00 17706.00,22536.00 24687.00 159181.00,364740.00
2,2,ಾಗಲೋೆ,76,9 120598.71 7666.36,11397.64 24101.93 163764.64,203008.01
3,3,ಜಯಪರ,79,7 136394.00 389.00,4425.00 45155.00 186363.00,165033.00
4,4,ಕಲು,91,22 75890.62 0.00,26733.77 62379.40 165003.79,245167.00
5,5,ೕದ,54,16 40674.00 6819.00,9208.00 2522.00 59223.00,80726.00
6,6,ಾಯಚೂರು,67,31 26351.24 520.00,14329.00 10345.48 51545.72,155611.72
7,7,ೊಪಳ,51,13 26705.00 5400.00,11500.00 1895.00 45500.00,140037.68
8,8,ಗದ,81,8 111403.27 6120.00,9541.00 20323.00 147387.27,151193.60
9,9,ಾರಾಡ,76,16 4824.61 25.75,2102.25 6019.45 12972.06,466091.00
10,10,ಉತರ ಕನಡ,46,5 4692.40 383.40,12178.60 10213.90 27468.30,92060.00
11,11,ಾೇ,78,10 93112.51 0.00,0.00 64984.12 158096.63,160398.06
12,12,ಬಾ,104,49 258945.00 21731.00,12494.00 29108.00 322278.00,454797.00
13,13,ತದುಗ,84,80 1969.00 2005.00,2345.00 4355.00 10674.00,14333.00
14,14,ಾವಣೆೆ,51,23 563.00 2080.00,2681.00 5285.00 10609.00,114390.00
15,15,ವಗ,43,19 49947.00 3385.00,2258.00 1379.00 56969.00,124200.00
16,16,ಉಡು,23,3 17485.00 4576.00,3310.00 3070.00 28441.00,30275.00
17,17,ಕಮಗಳರು,53,0 53717.00 988.00,5229.00 10953.00 70887.00,100111.00
18,18,ತುಮಕೂರು,68,0 50352.00 12229.00,4167.00 25575.00 92323.00,142299.00
19,19,ೋಾರ,45,28 99959.00 12295.00,6812.00 33325.00 152391.00,169734.00
20,20,ೆ೦ಗಳರು(ನ),41,1 21659.00 15336.00,20329.00 59698.00 117022.00,190117.00
21,21,ೆ೦ಗಳರು(ಾ),19,1 6246.00 4380.00,4106.00 6689.00 21421.00,41154.00
22,22,ಮಂಡ,58,0 50953.00 2618.00,3657.00 4853.00 62081.00,93109.00
23,23,ಾಸನ,61,0 68300.00 8064.00,10787.00 3204.00 90355.00,94577.00
24,24,ದಣ ಕನಡ,26,1 5129.00 0.00,6712.00 16117.00 27958.00,29094.00
25,25,ೊಡಗು,26,0 11420.97 5661.00,1738.26 766.05 19586.28,33055.43
26,26,ೖಸೂರು,110,0 86276.00 4356.00,8128.00 25244.00 124004.00,226557.00
27,27,ಾಮಾಜನಗರ,26,0 15557.00 2517.00,4370.00 2240.00 24684.00,37656.00
28,28,ಕಬಾಪರ,37,16 70222.00 5014.00,3492.00 8600.00 87328.00,92817.00
29,29,ಾಮನಗರ,14,0 9228.00 3320.36,1292.14 4615.50 18456.00,21546.00
30,30,ಾದ,36,12 32487.00 14651.00,9555.00 7008.00 63701.00,55378.26

In [41]:
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [42]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [43]:
#replaced_list = replace_with_nan(new_list)
replaced_list = new_list

In [44]:
replaced_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,7. ಾಂಕುಗಳ / Banks,Unnamed: 3,Unnamed: 4
0,1,2,917,918 919 920,921 922 923,924
1,1,ೆಳಾ,170,17 94252.00 17706.00,22536.00 24687.00 159181.00,364740.00
2,2,ಾಗಲೋೆ,76,9 120598.71 7666.36,11397.64 24101.93 163764.64,203008.01
3,3,ಜಯಪರ,79,7 136394.00 389.00,4425.00 45155.00 186363.00,165033.00
4,4,ಕಲು,91,22 75890.62 0.00,26733.77 62379.40 165003.79,245167.00
5,5,ೕದ,54,16 40674.00 6819.00,9208.00 2522.00 59223.00,80726.00
6,6,ಾಯಚೂರು,67,31 26351.24 520.00,14329.00 10345.48 51545.72,155611.72
7,7,ೊಪಳ,51,13 26705.00 5400.00,11500.00 1895.00 45500.00,140037.68
8,8,ಗದ,81,8 111403.27 6120.00,9541.00 20323.00 147387.27,151193.60
9,9,ಾರಾಡ,76,16 4824.61 25.75,2102.25 6019.45 12972.06,466091.00
10,10,ಉತರ ಕನಡ,46,5 4692.40 383.40,12178.60 10213.90 27468.30,92060.00
11,11,ಾೇ,78,10 93112.51 0.00,0.00 64984.12 158096.63,160398.06
12,12,ಬಾ,104,49 258945.00 21731.00,12494.00 29108.00 322278.00,454797.00
13,13,ತದುಗ,84,80 1969.00 2005.00,2345.00 4355.00 10674.00,14333.00
14,14,ಾವಣೆೆ,51,23 563.00 2080.00,2681.00 5285.00 10609.00,114390.00
15,15,ವಗ,43,19 49947.00 3385.00,2258.00 1379.00 56969.00,124200.00
16,16,ಉಡು,23,3 17485.00 4576.00,3310.00 3070.00 28441.00,30275.00
17,17,ಕಮಗಳರು,53,0 53717.00 988.00,5229.00 10953.00 70887.00,100111.00
18,18,ತುಮಕೂರು,68,0 50352.00 12229.00,4167.00 25575.00 92323.00,142299.00
19,19,ೋಾರ,45,28 99959.00 12295.00,6812.00 33325.00 152391.00,169734.00
20,20,ೆ೦ಗಳರು(ನ),41,1 21659.00 15336.00,20329.00 59698.00 117022.00,190117.00
21,21,ೆ೦ಗಳರು(ಾ),19,1 6246.00 4380.00,4106.00 6689.00 21421.00,41154.00
22,22,ಮಂಡ,58,0 50953.00 2618.00,3657.00 4853.00 62081.00,93109.00
23,23,ಾಸನ,61,0 68300.00 8064.00,10787.00 3204.00 90355.00,94577.00
24,24,ದಣ ಕನಡ,26,1 5129.00 0.00,6712.00 16117.00 27958.00,29094.00
25,25,ೊಡಗು,26,0 11420.97 5661.00,1738.26 766.05 19586.28,33055.43
26,26,ೖಸೂರು,110,0 86276.00 4356.00,8128.00 25244.00 124004.00,226557.00
27,27,ಾಮಾಜನಗರ,26,0 15557.00 2517.00,4370.00 2240.00 24684.00,37656.00
28,28,ಕಬಾಪರ,37,16 70222.00 5014.00,3492.00 8600.00 87328.00,92817.00
29,29,ಾಮನಗರ,14,0 9228.00 3320.36,1292.14 4615.50 18456.00,21546.00
30,30,ಾದ,36,12 32487.00 14651.00,9555.00 7008.00 63701.00,55378.26

In [45]:
len(replaced_list)

4

In [46]:
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        #pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        for colName, colData in df.items():
            #print(colName)
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = re.findall(pattern, colData.values[0])
                    numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        colData = colData.str.replace(r'\s+', ' ', regex=True)
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)
            elif pd.isna(colData.values[0]):
                print("remove NaN")
            elif isinstance(colData.values[0],int) or colData.values[0].dtype == float:
                colData.values[0] = str(int(colData.values[0]))
                new_df = pd.concat([new_df, colData], axis=1)
        new_df_list.append(new_df)
    return new_df_list

In [47]:
separated_list = all_column_split(replaced_list)

In [48]:
len(separated_list)

4

In [49]:
separated_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,0,1,2,0,1,2,Unnamed: 4
0,1,2,917,918,919,920,921,922,923,924
1,1,ೆಳಾ,170,17,94252.00,17706.00,22536.00,24687.00,159181.00,364740.00
2,2,ಾಗಲೋೆ,76,9,120598.71,7666.36,11397.64,24101.93,163764.64,203008.01
3,3,ಜಯಪರ,79,7,136394.00,389.00,4425.00,45155.00,186363.00,165033.00
4,4,ಕಲು,91,22,75890.62,0.00,26733.77,62379.40,165003.79,245167.00
5,5,ೕದ,54,16,40674.00,6819.00,9208.00,2522.00,59223.00,80726.00
6,6,ಾಯಚೂರು,67,31,26351.24,520.00,14329.00,10345.48,51545.72,155611.72
7,7,ೊಪಳ,51,13,26705.00,5400.00,11500.00,1895.00,45500.00,140037.68
8,8,ಗದ,81,8,111403.27,6120.00,9541.00,20323.00,147387.27,151193.60
9,9,ಾರಾಡ,76,16,4824.61,25.75,2102.25,6019.45,12972.06,466091.00
10,10,ಉತರ ಕನಡ,46,5,4692.40,383.40,12178.60,10213.90,27468.30,92060.00
11,11,ಾೇ,78,10,93112.51,0.00,0.00,64984.12,158096.63,160398.06
12,12,ಬಾ,104,49,258945.00,21731.00,12494.00,29108.00,322278.00,454797.00
13,13,ತದುಗ,84,80,1969.00,2005.00,2345.00,4355.00,10674.00,14333.00
14,14,ಾವಣೆೆ,51,23,563.00,2080.00,2681.00,5285.00,10609.00,114390.00
15,15,ವಗ,43,19,49947.00,3385.00,2258.00,1379.00,56969.00,124200.00
16,16,ಉಡು,23,3,17485.00,4576.00,3310.00,3070.00,28441.00,30275.00
17,17,ಕಮಗಳರು,53,0,53717.00,988.00,5229.00,10953.00,70887.00,100111.00
18,18,ತುಮಕೂರು,68,0,50352.00,12229.00,4167.00,25575.00,92323.00,142299.00
19,19,ೋಾರ,45,28,99959.00,12295.00,6812.00,33325.00,152391.00,169734.00
20,20,ೆ೦ಗಳರು(ನ),41,1,21659.00,15336.00,20329.00,59698.00,117022.00,190117.00
21,21,ೆ೦ಗಳರು(ಾ),19,1,6246.00,4380.00,4106.00,6689.00,21421.00,41154.00
22,22,ಮಂಡ,58,0,50953.00,2618.00,3657.00,4853.00,62081.00,93109.00
23,23,ಾಸನ,61,0,68300.00,8064.00,10787.00,3204.00,90355.00,94577.00
24,24,ದಣ ಕನಡ,26,1,5129.00,0.00,6712.00,16117.00,27958.00,29094.00
25,25,ೊಡಗು,26,0,11420.97,5661.00,1738.26,766.05,19586.28,33055.43
26,26,ೖಸೂರು,110,0,86276.00,4356.00,8128.00,25244.00,124004.00,226557.00
27,27,ಾಮಾಜನಗರ,26,0,15557.00,2517.00,4370.00,2240.00,24684.00,37656.00
28,28,ಕಬಾಪರ,37,16,70222.00,5014.00,3492.00,8600.00,87328.00,92817.00
29,29,ಾಮನಗರ,14,0,9228.00,3320.36,1292.14,4615.50,18456.00,21546.00
30,30,ಾದ,36,12,32487.00,14651.00,9555.00,7008.00,63701.00,55378.26

In [50]:
def check_single_column(df_list):
    new_df_list = []
    for df in df_list:
        df.fillna(value="", inplace=True)
        num_col = len(df.columns)
        for idx in range(num_col-1, 1, -1):
            cardinality = len(str(df.iloc[0,idx]).split())
            #print("idx", idx, df.iloc[0,idx], cardinality)
            for i in range(len(df.iloc[:,idx])):
                if i>0:
                    cell_car = len(str(df.iloc[i,idx]).split())
                    #print("i", i, df.iloc[i,idx], cell_car)
                    if cell_car > cardinality:
                       
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("more", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col1:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col2:
                                df.iloc[i, idx-1] = ' '.join(words_col2) + ' ' + words_col1[0]
                            else:
                                df.iloc[i, idx-1] = words_col1[0]

                            # Update the first column with the remaining words
                            df.iloc[i, idx] = ' '.join(words_col1[1:])
                        
                    if cell_car < cardinality:
                        
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("less", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col2:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col1:
                                df.iloc[i, idx] = words_col2[-1] + ' ' + ' '.join(words_col1)
                            else:
                                df.iloc[i, idx] = words_col2[-1]

                            # Update the first column with the remaining words
                            df.iloc[i, idx-1] = ' '.join(words_col2[:-1])
                        if df.iloc[i, idx-1]==' ':
                            df.iloc[i, idx-1] = ''
                        
        new_df_list.append(df)
    return new_df_list

In [51]:
updated_list = check_single_column(separated_list)

/tmp/ipykernel_11210/3370788979.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna(value="", inplace=True)

In [52]:
len(updated_list)

4

In [53]:
updated_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,0,1,2,0,1,2,Unnamed: 4
0,1,2,917,918,919,920,921,922,923,924
1,1,ೆಳಾ,170,17,94252.00,17706.00,22536.00,24687.00,159181.00,364740.00
2,2,ಾಗಲೋೆ,76,9,120598.71,7666.36,11397.64,24101.93,163764.64,203008.01
3,3,ಜಯಪರ,79,7,136394.00,389.00,4425.00,45155.00,186363.00,165033.00
4,4,ಕಲು,91,22,75890.62,0.00,26733.77,62379.40,165003.79,245167.00
5,5,ೕದ,54,16,40674.00,6819.00,9208.00,2522.00,59223.00,80726.00
6,6,ಾಯಚೂರು,67,31,26351.24,520.00,14329.00,10345.48,51545.72,155611.72
7,7,ೊಪಳ,51,13,26705.00,5400.00,11500.00,1895.00,45500.00,140037.68
8,8,ಗದ,81,8,111403.27,6120.00,9541.00,20323.00,147387.27,151193.60
9,9,ಾರಾಡ,76,16,4824.61,25.75,2102.25,6019.45,12972.06,466091.00
10,10,ಉತರ ಕನಡ,46,5,4692.40,383.40,12178.60,10213.90,27468.30,92060.00
11,11,ಾೇ,78,10,93112.51,0.00,0.00,64984.12,158096.63,160398.06
12,12,ಬಾ,104,49,258945.00,21731.00,12494.00,29108.00,322278.00,454797.00
13,13,ತದುಗ,84,80,1969.00,2005.00,2345.00,4355.00,10674.00,14333.00
14,14,ಾವಣೆೆ,51,23,563.00,2080.00,2681.00,5285.00,10609.00,114390.00
15,15,ವಗ,43,19,49947.00,3385.00,2258.00,1379.00,56969.00,124200.00
16,16,ಉಡು,23,3,17485.00,4576.00,3310.00,3070.00,28441.00,30275.00
17,17,ಕಮಗಳರು,53,0,53717.00,988.00,5229.00,10953.00,70887.00,100111.00
18,18,ತುಮಕೂರು,68,0,50352.00,12229.00,4167.00,25575.00,92323.00,142299.00
19,19,ೋಾರ,45,28,99959.00,12295.00,6812.00,33325.00,152391.00,169734.00
20,20,ೆ೦ಗಳರು(ನ),41,1,21659.00,15336.00,20329.00,59698.00,117022.00,190117.00
21,21,ೆ೦ಗಳರು(ಾ),19,1,6246.00,4380.00,4106.00,6689.00,21421.00,41154.00
22,22,ಮಂಡ,58,0,50953.00,2618.00,3657.00,4853.00,62081.00,93109.00
23,23,ಾಸನ,61,0,68300.00,8064.00,10787.00,3204.00,90355.00,94577.00
24,24,ದಣ ಕನಡ,26,1,5129.00,0.00,6712.00,16117.00,27958.00,29094.00
25,25,ೊಡಗು,26,0,11420.97,5661.00,1738.26,766.05,19586.28,33055.43
26,26,ೖಸೂರು,110,0,86276.00,4356.00,8128.00,25244.00,124004.00,226557.00
27,27,ಾಮಾಜನಗರ,26,0,15557.00,2517.00,4370.00,2240.00,24684.00,37656.00
28,28,ಕಬಾಪರ,37,16,70222.00,5014.00,3492.00,8600.00,87328.00,92817.00
29,29,ಾಮನಗರ,14,0,9228.00,3320.36,1292.14,4615.50,18456.00,21546.00
30,30,ಾದ,36,12,32487.00,14651.00,9555.00,7008.00,63701.00,55378.26

In [54]:
len(updated_list)

4

In [55]:
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [56]:
final_list = reset_header(updated_list)

In [57]:
final_list[0]

,1,2,917,918,919,920,921,922,923,924
0,1,ೆಳಾ,170,17,94252.00,17706.00,22536.00,24687.00,159181.00,364740.00
1,2,ಾಗಲೋೆ,76,9,120598.71,7666.36,11397.64,24101.93,163764.64,203008.01
2,3,ಜಯಪರ,79,7,136394.00,389.00,4425.00,45155.00,186363.00,165033.00
3,4,ಕಲು,91,22,75890.62,0.00,26733.77,62379.40,165003.79,245167.00
4,5,ೕದ,54,16,40674.00,6819.00,9208.00,2522.00,59223.00,80726.00
5,6,ಾಯಚೂರು,67,31,26351.24,520.00,14329.00,10345.48,51545.72,155611.72
6,7,ೊಪಳ,51,13,26705.00,5400.00,11500.00,1895.00,45500.00,140037.68
7,8,ಗದ,81,8,111403.27,6120.00,9541.00,20323.00,147387.27,151193.60
8,9,ಾರಾಡ,76,16,4824.61,25.75,2102.25,6019.45,12972.06,466091.00
9,10,ಉತರ ಕನಡ,46,5,4692.40,383.40,12178.60,10213.90,27468.30,92060.00
10,11,ಾೇ,78,10,93112.51,0.00,0.00,64984.12,158096.63,160398.06
11,12,ಬಾ,104,49,258945.00,21731.00,12494.00,29108.00,322278.00,454797.00
12,13,ತದುಗ,84,80,1969.00,2005.00,2345.00,4355.00,10674.00,14333.00
13,14,ಾವಣೆೆ,51,23,563.00,2080.00,2681.00,5285.00,10609.00,114390.00
14,15,ವಗ,43,19,49947.00,3385.00,2258.00,1379.00,56969.00,124200.00
15,16,ಉಡು,23,3,17485.00,4576.00,3310.00,3070.00,28441.00,30275.00
16,17,ಕಮಗಳರು,53,0,53717.00,988.00,5229.00,10953.00,70887.00,100111.00
17,18,ತುಮಕೂರು,68,0,50352.00,12229.00,4167.00,25575.00,92323.00,142299.00
18,19,ೋಾರ,45,28,99959.00,12295.00,6812.00,33325.00,152391.00,169734.00
19,20,ೆ೦ಗಳರು(ನ),41,1,21659.00,15336.00,20329.00,59698.00,117022.00,190117.00
20,21,ೆ೦ಗಳರು(ಾ),19,1,6246.00,4380.00,4106.00,6689.00,21421.00,41154.00
21,22,ಮಂಡ,58,0,50953.00,2618.00,3657.00,4853.00,62081.00,93109.00
22,23,ಾಸನ,61,0,68300.00,8064.00,10787.00,3204.00,90355.00,94577.00
23,24,ದಣ ಕನಡ,26,1,5129.00,0.00,6712.00,16117.00,27958.00,29094.00
24,25,ೊಡಗು,26,0,11420.97,5661.00,1738.26,766.05,19586.28,33055.43
25,26,ೖಸೂರು,110,0,86276.00,4356.00,8128.00,25244.00,124004.00,226557.00
26,27,ಾಮಾಜನಗರ,26,0,15557.00,2517.00,4370.00,2240.00,24684.00,37656.00
27,28,ಕಬಾಪರ,37,16,70222.00,5014.00,3492.00,8600.00,87328.00,92817.00
28,29,ಾಮನಗರ,14,0,9228.00,3320.36,1292.14,4615.50,18456.00,21546.00
29,30,ಾದ,36,12,32487.00,14651.00,9555.00,7008.00,63701.00,55378.26

In [58]:
def get_empty_col(df_list):
    index_list=[]
    for i in range(len(df_list)):
        empty_columns = df_list[i].columns[df_list[i].isna().all()].tolist()
        if len(empty_columns) > 0:
            index_list.append([i,empty_columns])
    return index_list

In [59]:
empty_col = get_empty_col(final_list)
empty_col

[]

In [60]:
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [61]:
final_df = concat_dataframe(final_list)

In [62]:
final_df

,1,2,917,918,919,920,921,922,923,924,...,939,940,941,942,943,944,945,946.0,947,948
0,1,ೆಳಾ,170,17,94252.00,17706.00,22536.00,24687.00,159181.00,364740.00,...,0.00,0.00,121,227,108139.00,6427.00,11299.00,90224.00,216089.00,610739.00
1,2,ಾಗಲೋೆ,76,9,120598.71,7666.36,11397.64,24101.93,163764.64,203008.01,...,0.00,0.00,52,78,10605.00,1129.80,1625.80,4241.90,17602.50,12437.61
2,3,ಜಯಪರ,79,7,136394.00,389.00,4425.00,45155.00,186363.00,165033.00,...,0.00,0.00,26,66,58615.00,14655.00,21980.00,51287.00,146537.00,168558.00
3,4,ಕಲು,91,22,75890.62,0.00,26733.77,62379.40,165003.79,245167.00,...,0.00,0.00,29,72,15558.00,11525.00,4008.00,5305.00,36396.00,125170.00
4,5,ೕದ,54,16,40674.00,6819.00,9208.00,2522.00,59223.00,80726.00,...,0.00,0.00,17,42,25758.00,7695.00,10662.00,9131.00,53246.00,82235.00
5,6,ಾಯಚೂರು,67,31,26351.24,520.00,14329.00,10345.48,51545.72,155611.72,...,0.00,0.00,41,36,10936.16,214.17,17460.76,4306.88,32917.97,113028.00
6,7,ೊಪಳ,51,13,26705.00,5400.00,11500.00,1895.00,45500.00,140037.68,...,0.00,0.00,23,22,12754.00,6015.00,7914.00,910.00,27593.00,58069.20
7,8,ಗದ,81,8,111403.27,6120.00,9541.00,20323.00,147387.27,151193.60,...,0.00,0.00,19,23,5652.01,626.97,327.85,36371.80,42978.63,60779.17
8,9,ಾರಾಡ,76,16,4824.61,25.75,2102.25,6019.45,12972.06,466091.00,...,0.00,0.00,77,117,15258.42,7629.20,5721.90,9536.50,38146.02,60273.00
9,10,ಉತರ ಕನಡ,46,5,4692.40,383.40,12178.60,10213.90,27468.30,92060.00,...,0.00,0.00,41,49,5378.00,8487.00,15856.00,17595.00,47316.00,173237.00
10,11,ಾೇ,78,10,93112.51,0.00,0.00,64984.12,158096.63,160398.06,...,0.00,0.00,38,55,60633.01,21752.00,27733.98,7711.00,117829.99,111010.69
11,12,ಬಾ,104,49,258945.00,21731.00,12494.00,29108.00,322278.00,454797.00,...,0.00,0.00,61,109,83055.00,46861.00,51989.00,77989.00,259894.00,359328.00
12,13,ತದುಗ,84,80,1969.00,2005.00,2345.00,4355.00,10674.00,14333.00,...,0.00,0.00,32,40,3313.00,3633.00,2431.00,1989.00,11366.00,15681.00
13,14,ಾವಣೆೆ,51,23,563.00,2080.00,2681.00,5285.00,10609.00,114390.00,...,0.00,0.00,44,83,54108.00,23365.00,9017.00,40769.00,127259.00,183673.00
14,15,ವಗ,43,19,49947.00,3385.00,2258.00,1379.00,56969.00,124200.00,...,0.00,0.00,53,80,20143.00,13223.00,8815.00,5613.00,47794.00,283842.00
15,16,ಉಡು,23,3,17485.00,4576.00,3310.00,3070.00,28441.00,30275.00,...,0.00,0.00,65,33,6993.00,29823.00,4984.00,18337.00,60137.00,401395.00
16,17,ಕಮಗಳರು,53,0,53717.00,988.00,5229.00,10953.00,70887.00,100111.00,...,0.00,0.00,55,70,92506.00,5523.00,20370.00,57329.00,175728.00,243723.00
17,18,ತುಮಕೂರು,68,0,50352.00,12229.00,4167.00,25575.00,92323.00,142299.00,...,0.00,0.00,35,71,25012.00,11617.00,8264.00,78881.00,123774.00,31740.00
18,19,ೋಾರ,45,28,99959.00,12295.00,6812.00,33325.00,152391.00,169734.00,...,0.00,0.00,24,59,23869.00,7847.00,11425.00,29684.00,72825.00,108881.00
19,20,ೆ೦ಗಳರು(ನ),41,1,21659.00,15336.00,20329.00,59698.00,117022.00,190117.00,...,3585000.00,8969100.00,965,3701,528715.00,842021.00,1317007.00,16810780.00,19498523.00,25557649.00
20,21,ೆ೦ಗಳರು(ಾ),19,1,6246.00,4380.00,4106.00,6689.00,21421.00,41154.00,...,0.00,0.00,41,79,34900.00,17550.00,7020.00,207410.00,266880.00,231900.00
21,22,ಮಂಡ,58,0,50953.00,2618.00,3657.00,4853.00,62081.00,93109.00,...,0.00,0.00,22,61,67945.00,21065.00,7694.00,2887.00,99591.00,68523.00
22,23,ಾಸನ,61,0,68300.00,8064.00,10787.00,3204.00,90355.00,94577.00,...,0.00,0.00,56,90,60885.46,27657.96,14540.04,64608.00,167691.46,226410.00
23,24,ದಣ ಕನಡ,26,1,5129.00,0.00,6712.00,16117.00,27958.00,29094.00,...,0.00,0.00,125,169,72372.00,24989.00,97551.00,491248.00,686160.00,1901240.00
24,25,ೊಡಗು,26,0,11420.97,5661.00,1738.26,766.05,19586.28,33055.43,...,0.00,0.00,25,31,37538.00,29906.00,10685.00,2135.00,80264.00,91568.00
25,26,ೖಸೂರು,110,0,86276.00,4356.00,8128.00,25244.00,124004.00,226557.00,...,0.00,0.00,100,293,260142.00,174600.00,135750.00,189470.00,759962.00,1094141.00
26,27,ಾಮಾಜನಗರ,26,0,15557.00,2517.00,4370.00,2240.00,24684.00,37656.00,...,0.00,0.00,13,8,20793.00,4090.00,7997.00,7107.00,39987.00,26340.00
27,28,ಕಬಾಪರ,37,16,70222.00,5014.00,3492.00,8600.00,87328.00,92817.00,...,0.00,0.00,26,41,28763.00,3070.00,1559.00,35171.00,68563.00,67882.00
28,29,ಾಮನಗರ,14,0,9228.00,3320.36,1292.14,4615.50,18456.00,21546.00,...,0.00,0.00,35,47,87179.50,31384.62,12205.13,43589.75,174359.00,271413.00
29,30,ಾದ,36,12,32487.00,14651.00,9555.00,7008.00,63701.00,55378.26,...,0.00,0.00,23,28,30436.00,13724.00,8952.00,6564.00,59676.00,57100.00

In [63]:
final_df.columns = final_df.columns.astype(int)

In [64]:
final_df[2]

0            ೆಳಾ
1          ಾಗಲೋೆ
2            ಜಯಪರ
3            ಕಲು
4              ೕದ
5           ಾಯಚೂರು
6             ೊಪಳ
7               ಗದ
8            ಾರಾಡ
9          ಉತರ ಕನಡ
10            ಾೇ
11            ಬಾ
12          ತದುಗ
13         ಾವಣೆೆ
14             ವಗ
15             ಉಡು
16        ಕಮಗಳರು
17          ತುಮಕೂರು
18            ೋಾರ
19      ೆ೦ಗಳರು(ನ)
20    ೆ೦ಗಳರು(ಾ)
21             ಮಂಡ
22             ಾಸನ
23         ದಣ ಕನಡ
24            ೊಡಗು
25           ೖಸೂರು
26        ಾಮಾಜನಗರ
27       ಕಬಾಪರ
28           ಾಮನಗರ
29            ಾದ
Name: 2, dtype: object

In [65]:
final_df = final_df.reindex(sorted(final_df.columns, key=int), axis=1)

In [66]:
final_df

,1,2,917,918,919,920,921,922,923,924,...,939,940,941,942,943,944,945,946,947,948
0,1,ೆಳಾ,170,17,94252.00,17706.00,22536.00,24687.00,159181.00,364740.00,...,0.00,0.00,121,227,108139.00,6427.00,11299.00,90224.00,216089.00,610739.00
1,2,ಾಗಲೋೆ,76,9,120598.71,7666.36,11397.64,24101.93,163764.64,203008.01,...,0.00,0.00,52,78,10605.00,1129.80,1625.80,4241.90,17602.50,12437.61
2,3,ಜಯಪರ,79,7,136394.00,389.00,4425.00,45155.00,186363.00,165033.00,...,0.00,0.00,26,66,58615.00,14655.00,21980.00,51287.00,146537.00,168558.00
3,4,ಕಲು,91,22,75890.62,0.00,26733.77,62379.40,165003.79,245167.00,...,0.00,0.00,29,72,15558.00,11525.00,4008.00,5305.00,36396.00,125170.00
4,5,ೕದ,54,16,40674.00,6819.00,9208.00,2522.00,59223.00,80726.00,...,0.00,0.00,17,42,25758.00,7695.00,10662.00,9131.00,53246.00,82235.00
5,6,ಾಯಚೂರು,67,31,26351.24,520.00,14329.00,10345.48,51545.72,155611.72,...,0.00,0.00,41,36,10936.16,214.17,17460.76,4306.88,32917.97,113028.00
6,7,ೊಪಳ,51,13,26705.00,5400.00,11500.00,1895.00,45500.00,140037.68,...,0.00,0.00,23,22,12754.00,6015.00,7914.00,910.00,27593.00,58069.20
7,8,ಗದ,81,8,111403.27,6120.00,9541.00,20323.00,147387.27,151193.60,...,0.00,0.00,19,23,5652.01,626.97,327.85,36371.80,42978.63,60779.17
8,9,ಾರಾಡ,76,16,4824.61,25.75,2102.25,6019.45,12972.06,466091.00,...,0.00,0.00,77,117,15258.42,7629.20,5721.90,9536.50,38146.02,60273.00
9,10,ಉತರ ಕನಡ,46,5,4692.40,383.40,12178.60,10213.90,27468.30,92060.00,...,0.00,0.00,41,49,5378.00,8487.00,15856.00,17595.00,47316.00,173237.00
10,11,ಾೇ,78,10,93112.51,0.00,0.00,64984.12,158096.63,160398.06,...,0.00,0.00,38,55,60633.01,21752.00,27733.98,7711.00,117829.99,111010.69
11,12,ಬಾ,104,49,258945.00,21731.00,12494.00,29108.00,322278.00,454797.00,...,0.00,0.00,61,109,83055.00,46861.00,51989.00,77989.00,259894.00,359328.00
12,13,ತದುಗ,84,80,1969.00,2005.00,2345.00,4355.00,10674.00,14333.00,...,0.00,0.00,32,40,3313.00,3633.00,2431.00,1989.00,11366.00,15681.00
13,14,ಾವಣೆೆ,51,23,563.00,2080.00,2681.00,5285.00,10609.00,114390.00,...,0.00,0.00,44,83,54108.00,23365.00,9017.00,40769.00,127259.00,183673.00
14,15,ವಗ,43,19,49947.00,3385.00,2258.00,1379.00,56969.00,124200.00,...,0.00,0.00,53,80,20143.00,13223.00,8815.00,5613.00,47794.00,283842.00
15,16,ಉಡು,23,3,17485.00,4576.00,3310.00,3070.00,28441.00,30275.00,...,0.00,0.00,65,33,6993.00,29823.00,4984.00,18337.00,60137.00,401395.00
16,17,ಕಮಗಳರು,53,0,53717.00,988.00,5229.00,10953.00,70887.00,100111.00,...,0.00,0.00,55,70,92506.00,5523.00,20370.00,57329.00,175728.00,243723.00
17,18,ತುಮಕೂರು,68,0,50352.00,12229.00,4167.00,25575.00,92323.00,142299.00,...,0.00,0.00,35,71,25012.00,11617.00,8264.00,78881.00,123774.00,31740.00
18,19,ೋಾರ,45,28,99959.00,12295.00,6812.00,33325.00,152391.00,169734.00,...,0.00,0.00,24,59,23869.00,7847.00,11425.00,29684.00,72825.00,108881.00
19,20,ೆ೦ಗಳರು(ನ),41,1,21659.00,15336.00,20329.00,59698.00,117022.00,190117.00,...,3585000.00,8969100.00,965,3701,528715.00,842021.00,1317007.00,16810780.00,19498523.00,25557649.00
20,21,ೆ೦ಗಳರು(ಾ),19,1,6246.00,4380.00,4106.00,6689.00,21421.00,41154.00,...,0.00,0.00,41,79,34900.00,17550.00,7020.00,207410.00,266880.00,231900.00
21,22,ಮಂಡ,58,0,50953.00,2618.00,3657.00,4853.00,62081.00,93109.00,...,0.00,0.00,22,61,67945.00,21065.00,7694.00,2887.00,99591.00,68523.00
22,23,ಾಸನ,61,0,68300.00,8064.00,10787.00,3204.00,90355.00,94577.00,...,0.00,0.00,56,90,60885.46,27657.96,14540.04,64608.00,167691.46,226410.00
23,24,ದಣ ಕನಡ,26,1,5129.00,0.00,6712.00,16117.00,27958.00,29094.00,...,0.00,0.00,125,169,72372.00,24989.00,97551.00,491248.00,686160.00,1901240.00
24,25,ೊಡಗು,26,0,11420.97,5661.00,1738.26,766.05,19586.28,33055.43,...,0.00,0.00,25,31,37538.00,29906.00,10685.00,2135.00,80264.00,91568.00
25,26,ೖಸೂರು,110,0,86276.00,4356.00,8128.00,25244.00,124004.00,226557.00,...,0.00,0.00,100,293,260142.00,174600.00,135750.00,189470.00,759962.00,1094141.00
26,27,ಾಮಾಜನಗರ,26,0,15557.00,2517.00,4370.00,2240.00,24684.00,37656.00,...,0.00,0.00,13,8,20793.00,4090.00,7997.00,7107.00,39987.00,26340.00
27,28,ಕಬಾಪರ,37,16,70222.00,5014.00,3492.00,8600.00,87328.00,92817.00,...,0.00,0.00,26,41,28763.00,3070.00,1559.00,35171.00,68563.00,67882.00
28,29,ಾಮನಗರ,14,0,9228.00,3320.36,1292.14,4615.50,18456.00,21546.00,...,0.00,0.00,35,47,87179.50,31384.62,12205.13,43589.75,174359.00,271413.00
29,30,ಾದ,36,12,32487.00,14651.00,9555.00,7008.00,63701.00,55378.26,...,0.00,0.00,23,28,30436.00,13724.00,8952.00,6564.00,59676.00,57100.00

In [67]:
final_df = final_df.drop(final_df.index[30:])

In [68]:
final_df

,1,2,917,918,919,920,921,922,923,924,...,939,940,941,942,943,944,945,946,947,948
0,1,ೆಳಾ,170,17,94252.00,17706.00,22536.00,24687.00,159181.00,364740.00,...,0.00,0.00,121,227,108139.00,6427.00,11299.00,90224.00,216089.00,610739.00
1,2,ಾಗಲೋೆ,76,9,120598.71,7666.36,11397.64,24101.93,163764.64,203008.01,...,0.00,0.00,52,78,10605.00,1129.80,1625.80,4241.90,17602.50,12437.61
2,3,ಜಯಪರ,79,7,136394.00,389.00,4425.00,45155.00,186363.00,165033.00,...,0.00,0.00,26,66,58615.00,14655.00,21980.00,51287.00,146537.00,168558.00
3,4,ಕಲು,91,22,75890.62,0.00,26733.77,62379.40,165003.79,245167.00,...,0.00,0.00,29,72,15558.00,11525.00,4008.00,5305.00,36396.00,125170.00
4,5,ೕದ,54,16,40674.00,6819.00,9208.00,2522.00,59223.00,80726.00,...,0.00,0.00,17,42,25758.00,7695.00,10662.00,9131.00,53246.00,82235.00
5,6,ಾಯಚೂರು,67,31,26351.24,520.00,14329.00,10345.48,51545.72,155611.72,...,0.00,0.00,41,36,10936.16,214.17,17460.76,4306.88,32917.97,113028.00
6,7,ೊಪಳ,51,13,26705.00,5400.00,11500.00,1895.00,45500.00,140037.68,...,0.00,0.00,23,22,12754.00,6015.00,7914.00,910.00,27593.00,58069.20
7,8,ಗದ,81,8,111403.27,6120.00,9541.00,20323.00,147387.27,151193.60,...,0.00,0.00,19,23,5652.01,626.97,327.85,36371.80,42978.63,60779.17
8,9,ಾರಾಡ,76,16,4824.61,25.75,2102.25,6019.45,12972.06,466091.00,...,0.00,0.00,77,117,15258.42,7629.20,5721.90,9536.50,38146.02,60273.00
9,10,ಉತರ ಕನಡ,46,5,4692.40,383.40,12178.60,10213.90,27468.30,92060.00,...,0.00,0.00,41,49,5378.00,8487.00,15856.00,17595.00,47316.00,173237.00
10,11,ಾೇ,78,10,93112.51,0.00,0.00,64984.12,158096.63,160398.06,...,0.00,0.00,38,55,60633.01,21752.00,27733.98,7711.00,117829.99,111010.69
11,12,ಬಾ,104,49,258945.00,21731.00,12494.00,29108.00,322278.00,454797.00,...,0.00,0.00,61,109,83055.00,46861.00,51989.00,77989.00,259894.00,359328.00
12,13,ತದುಗ,84,80,1969.00,2005.00,2345.00,4355.00,10674.00,14333.00,...,0.00,0.00,32,40,3313.00,3633.00,2431.00,1989.00,11366.00,15681.00
13,14,ಾವಣೆೆ,51,23,563.00,2080.00,2681.00,5285.00,10609.00,114390.00,...,0.00,0.00,44,83,54108.00,23365.00,9017.00,40769.00,127259.00,183673.00
14,15,ವಗ,43,19,49947.00,3385.00,2258.00,1379.00,56969.00,124200.00,...,0.00,0.00,53,80,20143.00,13223.00,8815.00,5613.00,47794.00,283842.00
15,16,ಉಡು,23,3,17485.00,4576.00,3310.00,3070.00,28441.00,30275.00,...,0.00,0.00,65,33,6993.00,29823.00,4984.00,18337.00,60137.00,401395.00
16,17,ಕಮಗಳರು,53,0,53717.00,988.00,5229.00,10953.00,70887.00,100111.00,...,0.00,0.00,55,70,92506.00,5523.00,20370.00,57329.00,175728.00,243723.00
17,18,ತುಮಕೂರು,68,0,50352.00,12229.00,4167.00,25575.00,92323.00,142299.00,...,0.00,0.00,35,71,25012.00,11617.00,8264.00,78881.00,123774.00,31740.00
18,19,ೋಾರ,45,28,99959.00,12295.00,6812.00,33325.00,152391.00,169734.00,...,0.00,0.00,24,59,23869.00,7847.00,11425.00,29684.00,72825.00,108881.00
19,20,ೆ೦ಗಳರು(ನ),41,1,21659.00,15336.00,20329.00,59698.00,117022.00,190117.00,...,3585000.00,8969100.00,965,3701,528715.00,842021.00,1317007.00,16810780.00,19498523.00,25557649.00
20,21,ೆ೦ಗಳರು(ಾ),19,1,6246.00,4380.00,4106.00,6689.00,21421.00,41154.00,...,0.00,0.00,41,79,34900.00,17550.00,7020.00,207410.00,266880.00,231900.00
21,22,ಮಂಡ,58,0,50953.00,2618.00,3657.00,4853.00,62081.00,93109.00,...,0.00,0.00,22,61,67945.00,21065.00,7694.00,2887.00,99591.00,68523.00
22,23,ಾಸನ,61,0,68300.00,8064.00,10787.00,3204.00,90355.00,94577.00,...,0.00,0.00,56,90,60885.46,27657.96,14540.04,64608.00,167691.46,226410.00
23,24,ದಣ ಕನಡ,26,1,5129.00,0.00,6712.00,16117.00,27958.00,29094.00,...,0.00,0.00,125,169,72372.00,24989.00,97551.00,491248.00,686160.00,1901240.00
24,25,ೊಡಗು,26,0,11420.97,5661.00,1738.26,766.05,19586.28,33055.43,...,0.00,0.00,25,31,37538.00,29906.00,10685.00,2135.00,80264.00,91568.00
25,26,ೖಸೂರು,110,0,86276.00,4356.00,8128.00,25244.00,124004.00,226557.00,...,0.00,0.00,100,293,260142.00,174600.00,135750.00,189470.00,759962.00,1094141.00
26,27,ಾಮಾಜನಗರ,26,0,15557.00,2517.00,4370.00,2240.00,24684.00,37656.00,...,0.00,0.00,13,8,20793.00,4090.00,7997.00,7107.00,39987.00,26340.00
27,28,ಕಬಾಪರ,37,16,70222.00,5014.00,3492.00,8600.00,87328.00,92817.00,...,0.00,0.00,26,41,28763.00,3070.00,1559.00,35171.00,68563.00,67882.00
28,29,ಾಮನಗರ,14,0,9228.00,3320.36,1292.14,4615.50,18456.00,21546.00,...,0.00,0.00,35,47,87179.50,31384.62,12205.13,43589.75,174359.00,271413.00
29,30,ಾದ,36,12,32487.00,14651.00,9555.00,7008.00,63701.00,55378.26,...,0.00,0.00,23,28,30436.00,13724.00,8952.00,6564.00,59676.00,57100.00

In [69]:
new_order = [18, 20, 19, 27, 26, 29, 30, 22, 21, 24, 23, 25, 4, 5, 8, 12, 10, 9, 6, 1, 2, 15, 13, 11, 14, 16, 17, 7, 3, 28]
final_df[1] = new_order
final_df

,1,2,917,918,919,920,921,922,923,924,...,939,940,941,942,943,944,945,946,947,948
0,18,ೆಳಾ,170,17,94252.00,17706.00,22536.00,24687.00,159181.00,364740.00,...,0.00,0.00,121,227,108139.00,6427.00,11299.00,90224.00,216089.00,610739.00
1,20,ಾಗಲೋೆ,76,9,120598.71,7666.36,11397.64,24101.93,163764.64,203008.01,...,0.00,0.00,52,78,10605.00,1129.80,1625.80,4241.90,17602.50,12437.61
2,19,ಜಯಪರ,79,7,136394.00,389.00,4425.00,45155.00,186363.00,165033.00,...,0.00,0.00,26,66,58615.00,14655.00,21980.00,51287.00,146537.00,168558.00
3,27,ಕಲು,91,22,75890.62,0.00,26733.77,62379.40,165003.79,245167.00,...,0.00,0.00,29,72,15558.00,11525.00,4008.00,5305.00,36396.00,125170.00
4,26,ೕದ,54,16,40674.00,6819.00,9208.00,2522.00,59223.00,80726.00,...,0.00,0.00,17,42,25758.00,7695.00,10662.00,9131.00,53246.00,82235.00
5,29,ಾಯಚೂರು,67,31,26351.24,520.00,14329.00,10345.48,51545.72,155611.72,...,0.00,0.00,41,36,10936.16,214.17,17460.76,4306.88,32917.97,113028.00
6,30,ೊಪಳ,51,13,26705.00,5400.00,11500.00,1895.00,45500.00,140037.68,...,0.00,0.00,23,22,12754.00,6015.00,7914.00,910.00,27593.00,58069.20
7,22,ಗದ,81,8,111403.27,6120.00,9541.00,20323.00,147387.27,151193.60,...,0.00,0.00,19,23,5652.01,626.97,327.85,36371.80,42978.63,60779.17
8,21,ಾರಾಡ,76,16,4824.61,25.75,2102.25,6019.45,12972.06,466091.00,...,0.00,0.00,77,117,15258.42,7629.20,5721.90,9536.50,38146.02,60273.00
9,24,ಉತರ ಕನಡ,46,5,4692.40,383.40,12178.60,10213.90,27468.30,92060.00,...,0.00,0.00,41,49,5378.00,8487.00,15856.00,17595.00,47316.00,173237.00
10,23,ಾೇ,78,10,93112.51,0.00,0.00,64984.12,158096.63,160398.06,...,0.00,0.00,38,55,60633.01,21752.00,27733.98,7711.00,117829.99,111010.69
11,25,ಬಾ,104,49,258945.00,21731.00,12494.00,29108.00,322278.00,454797.00,...,0.00,0.00,61,109,83055.00,46861.00,51989.00,77989.00,259894.00,359328.00
12,4,ತದುಗ,84,80,1969.00,2005.00,2345.00,4355.00,10674.00,14333.00,...,0.00,0.00,32,40,3313.00,3633.00,2431.00,1989.00,11366.00,15681.00
13,5,ಾವಣೆೆ,51,23,563.00,2080.00,2681.00,5285.00,10609.00,114390.00,...,0.00,0.00,44,83,54108.00,23365.00,9017.00,40769.00,127259.00,183673.00
14,8,ವಗ,43,19,49947.00,3385.00,2258.00,1379.00,56969.00,124200.00,...,0.00,0.00,53,80,20143.00,13223.00,8815.00,5613.00,47794.00,283842.00
15,12,ಉಡು,23,3,17485.00,4576.00,3310.00,3070.00,28441.00,30275.00,...,0.00,0.00,65,33,6993.00,29823.00,4984.00,18337.00,60137.00,401395.00
16,10,ಕಮಗಳರು,53,0,53717.00,988.00,5229.00,10953.00,70887.00,100111.00,...,0.00,0.00,55,70,92506.00,5523.00,20370.00,57329.00,175728.00,243723.00
17,9,ತುಮಕೂರು,68,0,50352.00,12229.00,4167.00,25575.00,92323.00,142299.00,...,0.00,0.00,35,71,25012.00,11617.00,8264.00,78881.00,123774.00,31740.00
18,6,ೋಾರ,45,28,99959.00,12295.00,6812.00,33325.00,152391.00,169734.00,...,0.00,0.00,24,59,23869.00,7847.00,11425.00,29684.00,72825.00,108881.00
19,1,ೆ೦ಗಳರು(ನ),41,1,21659.00,15336.00,20329.00,59698.00,117022.00,190117.00,...,3585000.00,8969100.00,965,3701,528715.00,842021.00,1317007.00,16810780.00,19498523.00,25557649.00
20,2,ೆ೦ಗಳರು(ಾ),19,1,6246.00,4380.00,4106.00,6689.00,21421.00,41154.00,...,0.00,0.00,41,79,34900.00,17550.00,7020.00,207410.00,266880.00,231900.00
21,15,ಮಂಡ,58,0,50953.00,2618.00,3657.00,4853.00,62081.00,93109.00,...,0.00,0.00,22,61,67945.00,21065.00,7694.00,2887.00,99591.00,68523.00
22,13,ಾಸನ,61,0,68300.00,8064.00,10787.00,3204.00,90355.00,94577.00,...,0.00,0.00,56,90,60885.46,27657.96,14540.04,64608.00,167691.46,226410.00
23,11,ದಣ ಕನಡ,26,1,5129.00,0.00,6712.00,16117.00,27958.00,29094.00,...,0.00,0.00,125,169,72372.00,24989.00,97551.00,491248.00,686160.00,1901240.00
24,14,ೊಡಗು,26,0,11420.97,5661.00,1738.26,766.05,19586.28,33055.43,...,0.00,0.00,25,31,37538.00,29906.00,10685.00,2135.00,80264.00,91568.00
25,16,ೖಸೂರು,110,0,86276.00,4356.00,8128.00,25244.00,124004.00,226557.00,...,0.00,0.00,100,293,260142.00,174600.00,135750.00,189470.00,759962.00,1094141.00
26,17,ಾಮಾಜನಗರ,26,0,15557.00,2517.00,4370.00,2240.00,24684.00,37656.00,...,0.00,0.00,13,8,20793.00,4090.00,7997.00,7107.00,39987.00,26340.00
27,7,ಕಬಾಪರ,37,16,70222.00,5014.00,3492.00,8600.00,87328.00,92817.00,...,0.00,0.00,26,41,28763.00,3070.00,1559.00,35171.00,68563.00,67882.00
28,3,ಾಮನಗರ,14,0,9228.00,3320.36,1292.14,4615.50,18456.00,21546.00,...,0.00,0.00,35,47,87179.50,31384.62,12205.13,43589.75,174359.00,271413.00
29,28,ಾದ,36,12,32487.00,14651.00,9555.00,7008.00,63701.00,55378.26,...,0.00,0.00,23,28,30436.00,13724.00,8952.00,6564.00,59676.00,57100.00

In [70]:
final_data = final_df.sort_values(1)
final_data.reset_index(drop=True, inplace=True)
final_data

,1,2,917,918,919,920,921,922,923,924,...,939,940,941,942,943,944,945,946,947,948
0,1,ೆ೦ಗಳರು(ನ),41,1,21659.00,15336.00,20329.00,59698.00,117022.00,190117.00,...,3585000.00,8969100.00,965,3701,528715.00,842021.00,1317007.00,16810780.00,19498523.00,25557649.00
1,2,ೆ೦ಗಳರು(ಾ),19,1,6246.00,4380.00,4106.00,6689.00,21421.00,41154.00,...,0.00,0.00,41,79,34900.00,17550.00,7020.00,207410.00,266880.00,231900.00
2,3,ಾಮನಗರ,14,0,9228.00,3320.36,1292.14,4615.50,18456.00,21546.00,...,0.00,0.00,35,47,87179.50,31384.62,12205.13,43589.75,174359.00,271413.00
3,4,ತದುಗ,84,80,1969.00,2005.00,2345.00,4355.00,10674.00,14333.00,...,0.00,0.00,32,40,3313.00,3633.00,2431.00,1989.00,11366.00,15681.00
4,5,ಾವಣೆೆ,51,23,563.00,2080.00,2681.00,5285.00,10609.00,114390.00,...,0.00,0.00,44,83,54108.00,23365.00,9017.00,40769.00,127259.00,183673.00
5,6,ೋಾರ,45,28,99959.00,12295.00,6812.00,33325.00,152391.00,169734.00,...,0.00,0.00,24,59,23869.00,7847.00,11425.00,29684.00,72825.00,108881.00
6,7,ಕಬಾಪರ,37,16,70222.00,5014.00,3492.00,8600.00,87328.00,92817.00,...,0.00,0.00,26,41,28763.00,3070.00,1559.00,35171.00,68563.00,67882.00
7,8,ವಗ,43,19,49947.00,3385.00,2258.00,1379.00,56969.00,124200.00,...,0.00,0.00,53,80,20143.00,13223.00,8815.00,5613.00,47794.00,283842.00
8,9,ತುಮಕೂರು,68,0,50352.00,12229.00,4167.00,25575.00,92323.00,142299.00,...,0.00,0.00,35,71,25012.00,11617.00,8264.00,78881.00,123774.00,31740.00
9,10,ಕಮಗಳರು,53,0,53717.00,988.00,5229.00,10953.00,70887.00,100111.00,...,0.00,0.00,55,70,92506.00,5523.00,20370.00,57329.00,175728.00,243723.00
10,11,ದಣ ಕನಡ,26,1,5129.00,0.00,6712.00,16117.00,27958.00,29094.00,...,0.00,0.00,125,169,72372.00,24989.00,97551.00,491248.00,686160.00,1901240.00
11,12,ಉಡು,23,3,17485.00,4576.00,3310.00,3070.00,28441.00,30275.00,...,0.00,0.00,65,33,6993.00,29823.00,4984.00,18337.00,60137.00,401395.00
12,13,ಾಸನ,61,0,68300.00,8064.00,10787.00,3204.00,90355.00,94577.00,...,0.00,0.00,56,90,60885.46,27657.96,14540.04,64608.00,167691.46,226410.00
13,14,ೊಡಗು,26,0,11420.97,5661.00,1738.26,766.05,19586.28,33055.43,...,0.00,0.00,25,31,37538.00,29906.00,10685.00,2135.00,80264.00,91568.00
14,15,ಮಂಡ,58,0,50953.00,2618.00,3657.00,4853.00,62081.00,93109.00,...,0.00,0.00,22,61,67945.00,21065.00,7694.00,2887.00,99591.00,68523.00
15,16,ೖಸೂರು,110,0,86276.00,4356.00,8128.00,25244.00,124004.00,226557.00,...,0.00,0.00,100,293,260142.00,174600.00,135750.00,189470.00,759962.00,1094141.00
16,17,ಾಮಾಜನಗರ,26,0,15557.00,2517.00,4370.00,2240.00,24684.00,37656.00,...,0.00,0.00,13,8,20793.00,4090.00,7997.00,7107.00,39987.00,26340.00
17,18,ೆಳಾ,170,17,94252.00,17706.00,22536.00,24687.00,159181.00,364740.00,...,0.00,0.00,121,227,108139.00,6427.00,11299.00,90224.00,216089.00,610739.00
18,19,ಜಯಪರ,79,7,136394.00,389.00,4425.00,45155.00,186363.00,165033.00,...,0.00,0.00,26,66,58615.00,14655.00,21980.00,51287.00,146537.00,168558.00
19,20,ಾಗಲೋೆ,76,9,120598.71,7666.36,11397.64,24101.93,163764.64,203008.01,...,0.00,0.00,52,78,10605.00,1129.80,1625.80,4241.90,17602.50,12437.61
20,21,ಾರಾಡ,76,16,4824.61,25.75,2102.25,6019.45,12972.06,466091.00,...,0.00,0.00,77,117,15258.42,7629.20,5721.90,9536.50,38146.02,60273.00
21,22,ಗದ,81,8,111403.27,6120.00,9541.00,20323.00,147387.27,151193.60,...,0.00,0.00,19,23,5652.01,626.97,327.85,36371.80,42978.63,60779.17
22,23,ಾೇ,78,10,93112.51,0.00,0.00,64984.12,158096.63,160398.06,...,0.00,0.00,38,55,60633.01,21752.00,27733.98,7711.00,117829.99,111010.69
23,24,ಉತರ ಕನಡ,46,5,4692.40,383.40,12178.60,10213.90,27468.30,92060.00,...,0.00,0.00,41,49,5378.00,8487.00,15856.00,17595.00,47316.00,173237.00
24,25,ಬಾ,104,49,258945.00,21731.00,12494.00,29108.00,322278.00,454797.00,...,0.00,0.00,61,109,83055.00,46861.00,51989.00,77989.00,259894.00,359328.00
25,26,ೕದ,54,16,40674.00,6819.00,9208.00,2522.00,59223.00,80726.00,...,0.00,0.00,17,42,25758.00,7695.00,10662.00,9131.00,53246.00,82235.00
26,27,ಕಲು,91,22,75890.62,0.00,26733.77,62379.40,165003.79,245167.00,...,0.00,0.00,29,72,15558.00,11525.00,4008.00,5305.00,36396.00,125170.00
27,28,ಾದ,36,12,32487.00,14651.00,9555.00,7008.00,63701.00,55378.26,...,0.00,0.00,23,28,30436.00,13724.00,8952.00,6564.00,59676.00,57100.00
28,29,ಾಯಚೂರು,67,31,26351.24,520.00,14329.00,10345.48,51545.72,155611.72,...,0.00,0.00,41,36,10936.16,214.17,17460.76,4306.88,32917.97,113028.00
29,30,ೊಪಳ,51,13,26705.00,5400.00,11500.00,1895.00,45500.00,140037.68,...,0.00,0.00,23,22,12754.00,6015.00,7914.00,910.00,27593.00,58069.20

In [71]:
name_list = ['Bengaluru(U)','Bengaluru(R)', 'Ramanagara', 'Chitradurga', 'Davanagere', 'Kolara', 'Chikkaballapura', 'Shivamogga',
'Tumakuru', 'Chikkamagaluru', 'Dakshina Kannada', 'Udupi', 'Hassan', 'Kodagu', 'Mandya', 'Mysuru', 'Chamarajanagara',
 'Belagavi', 'Vijayapura', 'Bagalkot', 'Dharwad', 'Gadag', 'Haveri', 'Uttara Kannada', 'Ballari', 'Bidar', 'Kalburgi',
 'Yadgir', 'Raichur', 'Koppal']

In [72]:
final_data[2] = name_list
final_data

,1,2,917,918,919,920,921,922,923,924,...,939,940,941,942,943,944,945,946,947,948
0,1,Bengaluru(U),41,1,21659.00,15336.00,20329.00,59698.00,117022.00,190117.00,...,3585000.00,8969100.00,965,3701,528715.00,842021.00,1317007.00,16810780.00,19498523.00,25557649.00
1,2,Bengaluru(R),19,1,6246.00,4380.00,4106.00,6689.00,21421.00,41154.00,...,0.00,0.00,41,79,34900.00,17550.00,7020.00,207410.00,266880.00,231900.00
2,3,Ramanagara,14,0,9228.00,3320.36,1292.14,4615.50,18456.00,21546.00,...,0.00,0.00,35,47,87179.50,31384.62,12205.13,43589.75,174359.00,271413.00
3,4,Chitradurga,84,80,1969.00,2005.00,2345.00,4355.00,10674.00,14333.00,...,0.00,0.00,32,40,3313.00,3633.00,2431.00,1989.00,11366.00,15681.00
4,5,Davanagere,51,23,563.00,2080.00,2681.00,5285.00,10609.00,114390.00,...,0.00,0.00,44,83,54108.00,23365.00,9017.00,40769.00,127259.00,183673.00
5,6,Kolara,45,28,99959.00,12295.00,6812.00,33325.00,152391.00,169734.00,...,0.00,0.00,24,59,23869.00,7847.00,11425.00,29684.00,72825.00,108881.00
6,7,Chikkaballapura,37,16,70222.00,5014.00,3492.00,8600.00,87328.00,92817.00,...,0.00,0.00,26,41,28763.00,3070.00,1559.00,35171.00,68563.00,67882.00
7,8,Shivamogga,43,19,49947.00,3385.00,2258.00,1379.00,56969.00,124200.00,...,0.00,0.00,53,80,20143.00,13223.00,8815.00,5613.00,47794.00,283842.00
8,9,Tumakuru,68,0,50352.00,12229.00,4167.00,25575.00,92323.00,142299.00,...,0.00,0.00,35,71,25012.00,11617.00,8264.00,78881.00,123774.00,31740.00
9,10,Chikkamagaluru,53,0,53717.00,988.00,5229.00,10953.00,70887.00,100111.00,...,0.00,0.00,55,70,92506.00,5523.00,20370.00,57329.00,175728.00,243723.00
10,11,Dakshina Kannada,26,1,5129.00,0.00,6712.00,16117.00,27958.00,29094.00,...,0.00,0.00,125,169,72372.00,24989.00,97551.00,491248.00,686160.00,1901240.00
11,12,Udupi,23,3,17485.00,4576.00,3310.00,3070.00,28441.00,30275.00,...,0.00,0.00,65,33,6993.00,29823.00,4984.00,18337.00,60137.00,401395.00
12,13,Hassan,61,0,68300.00,8064.00,10787.00,3204.00,90355.00,94577.00,...,0.00,0.00,56,90,60885.46,27657.96,14540.04,64608.00,167691.46,226410.00
13,14,Kodagu,26,0,11420.97,5661.00,1738.26,766.05,19586.28,33055.43,...,0.00,0.00,25,31,37538.00,29906.00,10685.00,2135.00,80264.00,91568.00
14,15,Mandya,58,0,50953.00,2618.00,3657.00,4853.00,62081.00,93109.00,...,0.00,0.00,22,61,67945.00,21065.00,7694.00,2887.00,99591.00,68523.00
15,16,Mysuru,110,0,86276.00,4356.00,8128.00,25244.00,124004.00,226557.00,...,0.00,0.00,100,293,260142.00,174600.00,135750.00,189470.00,759962.00,1094141.00
16,17,Chamarajanagara,26,0,15557.00,2517.00,4370.00,2240.00,24684.00,37656.00,...,0.00,0.00,13,8,20793.00,4090.00,7997.00,7107.00,39987.00,26340.00
17,18,Belagavi,170,17,94252.00,17706.00,22536.00,24687.00,159181.00,364740.00,...,0.00,0.00,121,227,108139.00,6427.00,11299.00,90224.00,216089.00,610739.00
18,19,Vijayapura,79,7,136394.00,389.00,4425.00,45155.00,186363.00,165033.00,...,0.00,0.00,26,66,58615.00,14655.00,21980.00,51287.00,146537.00,168558.00
19,20,Bagalkot,76,9,120598.71,7666.36,11397.64,24101.93,163764.64,203008.01,...,0.00,0.00,52,78,10605.00,1129.80,1625.80,4241.90,17602.50,12437.61
20,21,Dharwad,76,16,4824.61,25.75,2102.25,6019.45,12972.06,466091.00,...,0.00,0.00,77,117,15258.42,7629.20,5721.90,9536.50,38146.02,60273.00
21,22,Gadag,81,8,111403.27,6120.00,9541.00,20323.00,147387.27,151193.60,...,0.00,0.00,19,23,5652.01,626.97,327.85,36371.80,42978.63,60779.17
22,23,Haveri,78,10,93112.51,0.00,0.00,64984.12,158096.63,160398.06,...,0.00,0.00,38,55,60633.01,21752.00,27733.98,7711.00,117829.99,111010.69
23,24,Uttara Kannada,46,5,4692.40,383.40,12178.60,10213.90,27468.30,92060.00,...,0.00,0.00,41,49,5378.00,8487.00,15856.00,17595.00,47316.00,173237.00
24,25,Ballari,104,49,258945.00,21731.00,12494.00,29108.00,322278.00,454797.00,...,0.00,0.00,61,109,83055.00,46861.00,51989.00,77989.00,259894.00,359328.00
25,26,Bidar,54,16,40674.00,6819.00,9208.00,2522.00,59223.00,80726.00,...,0.00,0.00,17,42,25758.00,7695.00,10662.00,9131.00,53246.00,82235.00
26,27,Kalburgi,91,22,75890.62,0.00,26733.77,62379.40,165003.79,245167.00,...,0.00,0.00,29,72,15558.00,11525.00,4008.00,5305.00,36396.00,125170.00
27,28,Yadgir,36,12,32487.00,14651.00,9555.00,7008.00,63701.00,55378.26,...,0.00,0.00,23,28,30436.00,13724.00,8952.00,6564.00,59676.00,57100.00
28,29,Raichur,67,31,26351.24,520.00,14329.00,10345.48,51545.72,155611.72,...,0.00,0.00,41,36,10936.16,214.17,17460.76,4306.88,32917.97,113028.00
29,30,Koppal,51,13,26705.00,5400.00,11500.00,1895.00,45500.00,140037.68,...,0.00,0.00,23,22,12754.00,6015.00,7914.00,910.00,27593.00,58069.20

In [73]:
final_data.to_csv(absolute_result_path, sep=';', index=False)
final_data.to_csv(absolute_dictionary_path, sep=';', index=False)

In [74]:
start = final_data.columns[2]
end = final_data.columns[-1]
for i in range(start,end):
    if i not in final_df.columns.tolist():
        print(i)