In [1]:
import tabula
import numpy as np
import pandas as pd
import os
import re
import math

In [2]:
relative_path_pdf = "../HTML/Output_html_Chapter9/kaggle/working/out/pages/"
relative_dictionary_path = "../Data/Chapter9_Data.csv"
relative_result_path = "../HTML/Output_html_Chapter9/Chapter9_Data.csv"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = os.path.join(os.getcwd(), relative_path_pdf)
absolute_dictionary_path = os.path.join(os.getcwd(), relative_dictionary_path)
absolute_result_path = os.path.join(os.getcwd(), relative_result_path)

In [3]:
os.listdir(absolute_path_pdf)

['page_1.pdf',
 'page_2.pdf',
 'page_3.pdf',
 'page_7.pdf',
 'page_5.pdf',
 'page_6.pdf',
 'page_4.pdf']

In [4]:
output_list = []

In [5]:
# Get a list of PDF files sorted by filename
pdf_files = sorted([file for file in os.listdir(absolute_path_pdf) if file.endswith(".pdf")], key=lambda x: [int(s) if s.isdigit() else s.lower() for s in re.split('(\d+)', x)])

# Iterate through all PDF files
for file in pdf_files:
    file_path = os.path.join(absolute_path_pdf, file)
    dfs = tabula.read_pdf(file_path, pages='all', stream=True)
    if dfs:
        output_list.append(dfs[0])  # Assuming you want to append the first DataFrame from each PDF

In [6]:
len(output_list)

7

In [10]:
output_list[3]

,Unnamed: 0,Unnamed: 1,9.1 ೕಾರು ಾಹನಗಳ : 31.03.2020 ರದಂೆ (ಸಂತ ಸಂೆಗಳ),Unnamed: 2,Unnamed: 3
0,NaN,NaN,Motor Vehicles as on 31.03.2020 (In Cumulativ...,NaN,NaN
1,NaN,NaN,Motor Vehicles as on 31.03.2020 (In Cumulativ...,NaN,NaN
2,NaN,NaN,ೕಾರು ಾಹನಗಳ / Motor Vehicles ಾಣ ಇತೆ,ಒಟು,% of total
3,ಕ,ೆಗಳ,ಾಮಗಳನು motorಾಹನಗಳ,ೕಾರು,NaN
4,NaN,NaN,NaN,NaN,vehicles to
5,ಸಂ,NaN,ಾರುಗಳ ೕಪಗಳ ಓ ಾಾ ಲ ಾಸುವ Others,ಾಹನಗಳ,the state
6,NaN,NaN,Cars Jeep ಬಸು ಗಳ ಗಳ ಾಹನಗಳ Vehicles,Total,total
7,NaN,NaN,Vehicles For,Motor,NaN
8,NaN,NaN,Omni Bus Tractors Tillers,NaN,NaN
9,NaN,NaN,Carrying,Vehicles,NaN
10,NaN,NaN,Construction,NaN,NaN
11,NaN,NaN,Materials,NaN,NaN
12,1,2,997 998 999 1000 1001 1002 1003,1004,1005
13,1,ೆಳಾ,72618 2400 14005 50591 50129 2610 1886,1913597,8.64
14,2,ಾಗಲೋೆ,23192 1038 5173 25959 25886 636 3142,487562,2.20
15,3,ಜಯಪರ,32388 3820 4300 29179 19325 1097 2901,508494,2.30
16,4,ಕಲು,23465 3724 4266 17991 11466 963 106,538322,2.43
17,5,ೕದ,5475 1406 483 8850 3391 104 448,156568,0.71
18,6,ಾಯಚೂರು,2946 0 126 3166 732 55 200,63799,0.29
19,7,ೊಪಳ,22961 58 1638 24175 7607 1047 973,302244,1.37
20,8,ಗದ,10312 412 858 17117 11135 263 356,221052,1.00
21,9,ಾರಾಡ,70684 1110 4668 20733 15762 401 3029,606183,2.74
22,10,ಉತರ ಕನಡ,29317 885 3229 2953 1990 365 1729,450832,2.04
23,11,ಾೇ,29603 184 1037 40115 27210 1126 588,577288,2.61
24,12,ಬಾ,38461 2252 4647 30684 17193 1916 1068,658049,2.97
25,13,ತದುಗ,3041 0 7 3218 1012 51 571,106688,0.48
26,14,ಾವಣೆೆ,41359 1075 767 37111 20517 481 1388,566194,2.56
27,15,ವಗ,61843 385 343 13927 9546 692 4305,550687,2.49
28,16,ಉಡು,89761 4438 273 625 144 1126 710,572903,2.59
29,17,ಕಮಗಳರು,64651 5017 196 14583 9477 325 1346,403346,1.82
30,18,ತುಮಕೂರು,37712 445 0 19901 20201 1492 0,563299,2.54
31,19,ೋಾರ,10190 0 241 4705 5189 566 52,248845,1.12
32,20,ೆ೦ಗಳರು(ನ),1619916 8105 50518 12803 9420 3390 31816,8375548,37.83
33,21,ೆ೦ಗಳರು(ಾ),25592 118 666 5466 3502 607 720,261055,1.18
34,22,ಮಂಡ,28757 562 306 14516 10629 1622 218,505826,2.28
35,23,ಾಸನ,35865 1039 1303 26099 16252 657 5359,458820,2.07
36,24,ದಣ ಕನಡ,191026 6468 3982 382 271 964 1301,903238,4.08
37,25,ೊಡಗು,48199 6278 7253 2698 4722 0 3508,193573,0.87
38,26,ೖಸೂರು,96818 1163 1754 17735 10704 1731 4674,1234383,5.58
39,27,ಾಮಾಜನಗರ,9354 260 91 6977 4135 0 604,236180,1.07
40,28,ಕಬಾಪರ,11960 191 2112 9333 7163 586 801,241299,1.09
41,29,ಾಮನಗರ,15641 40 183 5916 4904 471 1253,218875,0.99
42,30,ಾದ,548 0 0 925 186 75 4,15209,0.07

In [9]:
#adding header
#new_row = [1, 2,  np.nan,967,968,969,970,971,972,973,974,975,976]
#index = 0
#output_list[3].loc[index + 1:] = output_list[3].loc[index:].shift(1)
#output_list[3].loc[index] = new_row
#output_list[3]

def add_headder(df_list,idx_list, new_list):
    index = 0
    for i in range(len(idx_list)):
        df_list[idx_list[i]].loc[index + 1:] = df_list[idx_list[i]].loc[index:].shift(1)
        df_list[idx_list[i]].loc[index] = new_list[i]
    return df_list

In [17]:
def find_last_index(df_col):
    pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
    for idx in range(len(df_col)):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
                    if 30 in numbers_1:
                        return idx+1
   
    return (len(df_col) - 1)

In [18]:
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        df_col = df_col.astype(str)

        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        flag = 0
        for idx in range(len(df_col) - 1):
            #print(idx, df_col.iloc[idx])
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = re.findall(pattern, df_col.iloc[idx+1])
                    numbers_2 = [int(num) if '.' not in num else float(num) for num in numbers_2]
                    #print(numbers_2)
            if 1 in numbers_1 and 1 in numbers_2:
                start_index = idx
                end_index = find_last_index(df_col)
                index_list.append([start_index, end_index])
                flag=1
                i += 1
                break

        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index

In [19]:
index_list, drop_list = find_header(output_list)

In [20]:
drop_list

[]

In [21]:
index_list

[[9, 40], [9, 40], [14, 45], [12, 43], [7, 38], [12, 43], [6, 37]]

In [22]:
len(index_list)

7

In [23]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        return new_df_list
    return df_list

In [24]:
def get_final_index(df_list, index_ll, drop_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list = find_header(df)
        drop_index = drop_list
    return df, index_ll, drop_index

In [25]:
new_output_list, new_index_list, new_drop_list = get_final_index(output_list, index_list, drop_list)

In [26]:
new_index_list

[[9, 40], [9, 40], [14, 45], [12, 43], [7, 38], [12, 43], [6, 37]]

In [27]:
new_output_list[1]

,Unnamed: 0,Unnamed: 1,9.1 ೕಾರು ಾಹನಗಳ : 31.03.2020 ರದಂೆ (ಸಂತ ಸಂೆಗಳ),Unnamed: 2,Unnamed: 3
0,NaN,NaN,Motor Vehicles as on 31.03.2020 (In Cumulativ...,NaN,NaN
1,NaN,NaN,ಬಸುಗಳ / Buses,NaN,NaN
2,ಕ,ೆಗಳ,NaN,NaN,ಒಟು
3,NaN,NaN,ೆೕ ಾಸ ೇಾ ಾ ಸಂೆ ಇತೆ,NaN,NaN
4,ಸಂ,NaN,ಾೇ ಒಪಂದದ ಾಹನಗಳ ಾಹನಗಳ ಾಹನಗಳ ಬಸುಗಳ,NaN,ಬಸುಗಳTotal
5,NaN,NaN,ಗಳ Contract Vehicles Private Educational,NaN,NaN
6,NaN,NaN,Other,NaN,Buses
7,NaN,NaN,InstitutionStage VehiclesCarriagBusesVehicles ...,NaN,NaN
8,NaN,NaN,es,NaN,NaN
9,1,2,982 983 984 985 986,NaN,987
10,1,ೆಳಾ,3480 10 177 1263 82,NaN,5012
11,2,ಾಗಲೋೆ,1298 16 0 608 0,NaN,1922
12,3,ಜಯಪರ,2479 6 5 915 157,NaN,3562
13,4,ಕಲು,2483 68 35 953 20,NaN,3559
14,5,ೕದ,34 29 19 360 35,NaN,477
15,6,ಾಯಚೂರು,8 0 0 76 42,NaN,126
16,7,ೊಪಳ,788 0 100 367 101,NaN,1356
17,8,ಗದ,1226 9 5 228 3,NaN,1471
18,9,ಾರಾಡ,3616 118 177 486 224,NaN,4621
19,10,ಉತರ ಕನಡ,1180 26 929 298 28,NaN,2461
20,11,ಾೇ,783 7 47 684 51,NaN,1572
21,12,ಬಾ,1220 196 540 836 119,NaN,2911
22,13,ತದುಗ,380 55 735 718 3662,NaN,5550
23,14,ಾವಣೆೆ,423 44 280 379 1541,NaN,2667
24,15,ವಗ,1250 181 29 352 98,NaN,1910
25,16,ಉಡು,916 163 224 999 0,NaN,2302
26,17,ಕಮಗಳರು,555 20 43 515 905,NaN,2038
27,18,ತುಮಕೂರು,660 115 967 917 0,NaN,2659
28,19,ೋಾರ,123 1 25 292 400,NaN,841
29,20,ೆ೦ಗಳರು(ನ),17195 2905 12401 13537 6087,NaN,52125
30,21,ೆ೦ಗಳರು(ಾ),268 349 1932 1010 596,NaN,4155
31,22,ಮಂಡ,1135 16 89 272 0,NaN,1512
32,23,ಾಸನ,1552 52 141 437 124,NaN,2306
33,24,ದಣ ಕನಡ,1842 179 741 1439 3440,NaN,7641
34,25,ೊಡಗು,93 21 26 343 0,NaN,483
35,26,ೖಸೂರು,4429 56 999 1095 22,NaN,6601
36,27,ಾಮಾಜನಗರ,187 24 3 109 497,NaN,820
37,28,ಕಬಾಪರ,132 41 16 571 1351,NaN,2111
38,29,ಾಮನಗರ,213 84 834 399 1871,NaN,3401
39,30,ಾದ,49 0 0 45 1,NaN,95
40,NaN,ಾಜ,49997 4791 21519 30503 21457,NaN,128267

In [28]:
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(ind_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(ind_list[idx][0], ind_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [29]:
corrected_list = remove_header(new_output_list, new_index_list)

In [30]:
corrected_list[3]

,Unnamed: 0,Unnamed: 1,9.1 ೕಾರು ಾಹನಗಳ : 31.03.2020 ರದಂೆ (ಸಂತ ಸಂೆಗಳ),Unnamed: 2,Unnamed: 3
0,1,2,997 998 999 1000 1001 1002 1003,1004,1005
1,1,ೆಳಾ,72618 2400 14005 50591 50129 2610 1886,1913597,8.64
2,2,ಾಗಲೋೆ,23192 1038 5173 25959 25886 636 3142,487562,2.20
3,3,ಜಯಪರ,32388 3820 4300 29179 19325 1097 2901,508494,2.30
4,4,ಕಲು,23465 3724 4266 17991 11466 963 106,538322,2.43
5,5,ೕದ,5475 1406 483 8850 3391 104 448,156568,0.71
6,6,ಾಯಚೂರು,2946 0 126 3166 732 55 200,63799,0.29
7,7,ೊಪಳ,22961 58 1638 24175 7607 1047 973,302244,1.37
8,8,ಗದ,10312 412 858 17117 11135 263 356,221052,1.00
9,9,ಾರಾಡ,70684 1110 4668 20733 15762 401 3029,606183,2.74
10,10,ಉತರ ಕನಡ,29317 885 3229 2953 1990 365 1729,450832,2.04
11,11,ಾೇ,29603 184 1037 40115 27210 1126 588,577288,2.61
12,12,ಬಾ,38461 2252 4647 30684 17193 1916 1068,658049,2.97
13,13,ತದುಗ,3041 0 7 3218 1012 51 571,106688,0.48
14,14,ಾವಣೆೆ,41359 1075 767 37111 20517 481 1388,566194,2.56
15,15,ವಗ,61843 385 343 13927 9546 692 4305,550687,2.49
16,16,ಉಡು,89761 4438 273 625 144 1126 710,572903,2.59
17,17,ಕಮಗಳರು,64651 5017 196 14583 9477 325 1346,403346,1.82
18,18,ತುಮಕೂರು,37712 445 0 19901 20201 1492 0,563299,2.54
19,19,ೋಾರ,10190 0 241 4705 5189 566 52,248845,1.12
20,20,ೆ೦ಗಳರು(ನ),1619916 8105 50518 12803 9420 3390 31816,8375548,37.83
21,21,ೆ೦ಗಳರು(ಾ),25592 118 666 5466 3502 607 720,261055,1.18
22,22,ಮಂಡ,28757 562 306 14516 10629 1622 218,505826,2.28
23,23,ಾಸನ,35865 1039 1303 26099 16252 657 5359,458820,2.07
24,24,ದಣ ಕನಡ,191026 6468 3982 382 271 964 1301,903238,4.08
25,25,ೊಡಗು,48199 6278 7253 2698 4722 0 3508,193573,0.87
26,26,ೖಸೂರು,96818 1163 1754 17735 10704 1731 4674,1234383,5.58
27,27,ಾಮಾಜನಗರ,9354 260 91 6977 4135 0 604,236180,1.07
28,28,ಕಬಾಪರ,11960 191 2112 9333 7163 586 801,241299,1.09
29,29,ಾಮನಗರ,15641 40 183 5916 4904 471 1253,218875,0.99
30,30,ಾದ,548 0 0 925 186 75 4,15209,0.07

In [31]:
len(corrected_list)

7

In [32]:
def check_nan(df_col):
    nan_columns = df_col[df_col.isna()].index.tolist()
    if len(nan_columns) == len(df_col):
        return []
    return nan_columns

In [33]:
def set_header_row(df_list_all):
    df_list = df_list_all
    new_df_list = []
    for df in df_list:
        header_row = df.iloc[0].tolist()
        for idx in range(len(header_row)):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx+1
                while j<len(header_row) and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j+=1
                if j<len(header_row) and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[0]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[1:])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        new_df_list.append(df)
    return new_df_list

In [34]:
corrected_header = set_header_row(corrected_list)

In [35]:
len(corrected_header)

7

In [36]:
corrected_header[3]

,Unnamed: 0,Unnamed: 1,9.1 ೕಾರು ಾಹನಗಳ : 31.03.2020 ರದಂೆ (ಸಂತ ಸಂೆಗಳ),Unnamed: 2,Unnamed: 3
0,1,2,997 998 999 1000 1001 1002 1003,1004,1005
1,1,ೆಳಾ,72618 2400 14005 50591 50129 2610 1886,1913597,8.64
2,2,ಾಗಲೋೆ,23192 1038 5173 25959 25886 636 3142,487562,2.20
3,3,ಜಯಪರ,32388 3820 4300 29179 19325 1097 2901,508494,2.30
4,4,ಕಲು,23465 3724 4266 17991 11466 963 106,538322,2.43
5,5,ೕದ,5475 1406 483 8850 3391 104 448,156568,0.71
6,6,ಾಯಚೂರು,2946 0 126 3166 732 55 200,63799,0.29
7,7,ೊಪಳ,22961 58 1638 24175 7607 1047 973,302244,1.37
8,8,ಗದ,10312 412 858 17117 11135 263 356,221052,1.00
9,9,ಾರಾಡ,70684 1110 4668 20733 15762 401 3029,606183,2.74
10,10,ಉತರ ಕನಡ,29317 885 3229 2953 1990 365 1729,450832,2.04
11,11,ಾೇ,29603 184 1037 40115 27210 1126 588,577288,2.61
12,12,ಬಾ,38461 2252 4647 30684 17193 1916 1068,658049,2.97
13,13,ತದುಗ,3041 0 7 3218 1012 51 571,106688,0.48
14,14,ಾವಣೆೆ,41359 1075 767 37111 20517 481 1388,566194,2.56
15,15,ವಗ,61843 385 343 13927 9546 692 4305,550687,2.49
16,16,ಉಡು,89761 4438 273 625 144 1126 710,572903,2.59
17,17,ಕಮಗಳರು,64651 5017 196 14583 9477 325 1346,403346,1.82
18,18,ತುಮಕೂರು,37712 445 0 19901 20201 1492 0,563299,2.54
19,19,ೋಾರ,10190 0 241 4705 5189 566 52,248845,1.12
20,20,ೆ೦ಗಳರು(ನ),1619916 8105 50518 12803 9420 3390 31816,8375548,37.83
21,21,ೆ೦ಗಳರು(ಾ),25592 118 666 5466 3502 607 720,261055,1.18
22,22,ಮಂಡ,28757 562 306 14516 10629 1622 218,505826,2.28
23,23,ಾಸನ,35865 1039 1303 26099 16252 657 5359,458820,2.07
24,24,ದಣ ಕನಡ,191026 6468 3982 382 271 964 1301,903238,4.08
25,25,ೊಡಗು,48199 6278 7253 2698 4722 0 3508,193573,0.87
26,26,ೖಸೂರು,96818 1163 1754 17735 10704 1731 4674,1234383,5.58
27,27,ಾಮಾಜನಗರ,9354 260 91 6977 4135 0 604,236180,1.07
28,28,ಕಬಾಪರ,11960 191 2112 9333 7163 586 801,241299,1.09
29,29,ಾಮನಗರ,15641 40 183 5916 4904 471 1253,218875,0.99
30,30,ಾದ,548 0 0 925 186 75 4,15209,0.07

In [37]:
def set_index_col(df_list):
    new_df_list = []
    for df in df_list:
        nan_col = check_nan(df.iloc[:,0])
        if len(df.index) > 31 and len(nan_col)>1:
            for idx in range(len(nan_col)-1):
                if nan_col[idx]+2 == nan_col[idx+1] and nan_col[idx]+1 not in nan_col:
                    for i in range(df.shape[1]):
                        p = nan_col[idx]
                        q = nan_col[idx]+1
                        r = nan_col[idx+1]
                        if i>0 and not (isinstance(df.iloc[p,i], float) and math.isnan(df.iloc[p,i])) and  not (isinstance(df.iloc[r,i], float) and math.isnan(df.iloc[r,i])):
                            if (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i]])
                            elif not (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i], df.iloc[q,i]])
                    idx+=1
            df = df.drop(nan_col)
        df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [38]:
corrected_index = set_index_col(corrected_header)

In [39]:
len(corrected_index)

7

In [40]:
corrected_index[3]

,Unnamed: 0,Unnamed: 1,9.1 ೕಾರು ಾಹನಗಳ : 31.03.2020 ರದಂೆ (ಸಂತ ಸಂೆಗಳ),Unnamed: 2,Unnamed: 3
0,1,2,997 998 999 1000 1001 1002 1003,1004,1005
1,1,ೆಳಾ,72618 2400 14005 50591 50129 2610 1886,1913597,8.64
2,2,ಾಗಲೋೆ,23192 1038 5173 25959 25886 636 3142,487562,2.20
3,3,ಜಯಪರ,32388 3820 4300 29179 19325 1097 2901,508494,2.30
4,4,ಕಲು,23465 3724 4266 17991 11466 963 106,538322,2.43
5,5,ೕದ,5475 1406 483 8850 3391 104 448,156568,0.71
6,6,ಾಯಚೂರು,2946 0 126 3166 732 55 200,63799,0.29
7,7,ೊಪಳ,22961 58 1638 24175 7607 1047 973,302244,1.37
8,8,ಗದ,10312 412 858 17117 11135 263 356,221052,1.00
9,9,ಾರಾಡ,70684 1110 4668 20733 15762 401 3029,606183,2.74
10,10,ಉತರ ಕನಡ,29317 885 3229 2953 1990 365 1729,450832,2.04
11,11,ಾೇ,29603 184 1037 40115 27210 1126 588,577288,2.61
12,12,ಬಾ,38461 2252 4647 30684 17193 1916 1068,658049,2.97
13,13,ತದುಗ,3041 0 7 3218 1012 51 571,106688,0.48
14,14,ಾವಣೆೆ,41359 1075 767 37111 20517 481 1388,566194,2.56
15,15,ವಗ,61843 385 343 13927 9546 692 4305,550687,2.49
16,16,ಉಡು,89761 4438 273 625 144 1126 710,572903,2.59
17,17,ಕಮಗಳರು,64651 5017 196 14583 9477 325 1346,403346,1.82
18,18,ತುಮಕೂರು,37712 445 0 19901 20201 1492 0,563299,2.54
19,19,ೋಾರ,10190 0 241 4705 5189 566 52,248845,1.12
20,20,ೆ೦ಗಳರು(ನ),1619916 8105 50518 12803 9420 3390 31816,8375548,37.83
21,21,ೆ೦ಗಳರು(ಾ),25592 118 666 5466 3502 607 720,261055,1.18
22,22,ಮಂಡ,28757 562 306 14516 10629 1622 218,505826,2.28
23,23,ಾಸನ,35865 1039 1303 26099 16252 657 5359,458820,2.07
24,24,ದಣ ಕನಡ,191026 6468 3982 382 271 964 1301,903238,4.08
25,25,ೊಡಗು,48199 6278 7253 2698 4722 0 3508,193573,0.87
26,26,ೖಸೂರು,96818 1163 1754 17735 10704 1731 4674,1234383,5.58
27,27,ಾಮಾಜನಗರ,9354 260 91 6977 4135 0 604,236180,1.07
28,28,ಕಬಾಪರ,11960 191 2112 9333 7163 586 801,241299,1.09
29,29,ಾಮನಗರ,15641 40 183 5916 4904 471 1253,218875,0.99
30,30,ಾದ,548 0 0 925 186 75 4,15209,0.07

In [41]:
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = re.findall(pattern, df_col.iloc[0])
                numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                #numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)

                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)
        elif df_col.dtype == float:
            df.iloc[:,0] = df.iloc[:,0].astype(int).astype(str)
            new_df.append(df)
    return new_df

In [42]:
new_list = first_column_split(corrected_index)

In [43]:
len(new_list)

7

In [44]:
new_list[3]

,Unnamed: 0,Unnamed: 1,9.1 ೕಾರು ಾಹನಗಳ : 31.03.2020 ರದಂೆ (ಸಂತ ಸಂೆಗಳ),Unnamed: 2,Unnamed: 3
0,1,2,997 998 999 1000 1001 1002 1003,1004,1005
1,1,ೆಳಾ,72618 2400 14005 50591 50129 2610 1886,1913597,8.64
2,2,ಾಗಲೋೆ,23192 1038 5173 25959 25886 636 3142,487562,2.20
3,3,ಜಯಪರ,32388 3820 4300 29179 19325 1097 2901,508494,2.30
4,4,ಕಲು,23465 3724 4266 17991 11466 963 106,538322,2.43
5,5,ೕದ,5475 1406 483 8850 3391 104 448,156568,0.71
6,6,ಾಯಚೂರು,2946 0 126 3166 732 55 200,63799,0.29
7,7,ೊಪಳ,22961 58 1638 24175 7607 1047 973,302244,1.37
8,8,ಗದ,10312 412 858 17117 11135 263 356,221052,1.00
9,9,ಾರಾಡ,70684 1110 4668 20733 15762 401 3029,606183,2.74
10,10,ಉತರ ಕನಡ,29317 885 3229 2953 1990 365 1729,450832,2.04
11,11,ಾೇ,29603 184 1037 40115 27210 1126 588,577288,2.61
12,12,ಬಾ,38461 2252 4647 30684 17193 1916 1068,658049,2.97
13,13,ತದುಗ,3041 0 7 3218 1012 51 571,106688,0.48
14,14,ಾವಣೆೆ,41359 1075 767 37111 20517 481 1388,566194,2.56
15,15,ವಗ,61843 385 343 13927 9546 692 4305,550687,2.49
16,16,ಉಡು,89761 4438 273 625 144 1126 710,572903,2.59
17,17,ಕಮಗಳರು,64651 5017 196 14583 9477 325 1346,403346,1.82
18,18,ತುಮಕೂರು,37712 445 0 19901 20201 1492 0,563299,2.54
19,19,ೋಾರ,10190 0 241 4705 5189 566 52,248845,1.12
20,20,ೆ೦ಗಳರು(ನ),1619916 8105 50518 12803 9420 3390 31816,8375548,37.83
21,21,ೆ೦ಗಳರು(ಾ),25592 118 666 5466 3502 607 720,261055,1.18
22,22,ಮಂಡ,28757 562 306 14516 10629 1622 218,505826,2.28
23,23,ಾಸನ,35865 1039 1303 26099 16252 657 5359,458820,2.07
24,24,ದಣ ಕನಡ,191026 6468 3982 382 271 964 1301,903238,4.08
25,25,ೊಡಗು,48199 6278 7253 2698 4722 0 3508,193573,0.87
26,26,ೖಸೂರು,96818 1163 1754 17735 10704 1731 4674,1234383,5.58
27,27,ಾಮಾಜನಗರ,9354 260 91 6977 4135 0 604,236180,1.07
28,28,ಕಬಾಪರ,11960 191 2112 9333 7163 586 801,241299,1.09
29,29,ಾಮನಗರ,15641 40 183 5916 4904 471 1253,218875,0.99
30,30,ಾದ,548 0 0 925 186 75 4,15209,0.07

In [45]:
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [46]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [47]:
#replaced_list = replace_with_nan(new_list)
replaced_list = new_list

In [48]:
replaced_list[3]

,Unnamed: 0,Unnamed: 1,9.1 ೕಾರು ಾಹನಗಳ : 31.03.2020 ರದಂೆ (ಸಂತ ಸಂೆಗಳ),Unnamed: 2,Unnamed: 3
0,1,2,997 998 999 1000 1001 1002 1003,1004,1005
1,1,ೆಳಾ,72618 2400 14005 50591 50129 2610 1886,1913597,8.64
2,2,ಾಗಲೋೆ,23192 1038 5173 25959 25886 636 3142,487562,2.20
3,3,ಜಯಪರ,32388 3820 4300 29179 19325 1097 2901,508494,2.30
4,4,ಕಲು,23465 3724 4266 17991 11466 963 106,538322,2.43
5,5,ೕದ,5475 1406 483 8850 3391 104 448,156568,0.71
6,6,ಾಯಚೂರು,2946 0 126 3166 732 55 200,63799,0.29
7,7,ೊಪಳ,22961 58 1638 24175 7607 1047 973,302244,1.37
8,8,ಗದ,10312 412 858 17117 11135 263 356,221052,1.00
9,9,ಾರಾಡ,70684 1110 4668 20733 15762 401 3029,606183,2.74
10,10,ಉತರ ಕನಡ,29317 885 3229 2953 1990 365 1729,450832,2.04
11,11,ಾೇ,29603 184 1037 40115 27210 1126 588,577288,2.61
12,12,ಬಾ,38461 2252 4647 30684 17193 1916 1068,658049,2.97
13,13,ತದುಗ,3041 0 7 3218 1012 51 571,106688,0.48
14,14,ಾವಣೆೆ,41359 1075 767 37111 20517 481 1388,566194,2.56
15,15,ವಗ,61843 385 343 13927 9546 692 4305,550687,2.49
16,16,ಉಡು,89761 4438 273 625 144 1126 710,572903,2.59
17,17,ಕಮಗಳರು,64651 5017 196 14583 9477 325 1346,403346,1.82
18,18,ತುಮಕೂರು,37712 445 0 19901 20201 1492 0,563299,2.54
19,19,ೋಾರ,10190 0 241 4705 5189 566 52,248845,1.12
20,20,ೆ೦ಗಳರು(ನ),1619916 8105 50518 12803 9420 3390 31816,8375548,37.83
21,21,ೆ೦ಗಳರು(ಾ),25592 118 666 5466 3502 607 720,261055,1.18
22,22,ಮಂಡ,28757 562 306 14516 10629 1622 218,505826,2.28
23,23,ಾಸನ,35865 1039 1303 26099 16252 657 5359,458820,2.07
24,24,ದಣ ಕನಡ,191026 6468 3982 382 271 964 1301,903238,4.08
25,25,ೊಡಗು,48199 6278 7253 2698 4722 0 3508,193573,0.87
26,26,ೖಸೂರು,96818 1163 1754 17735 10704 1731 4674,1234383,5.58
27,27,ಾಮಾಜನಗರ,9354 260 91 6977 4135 0 604,236180,1.07
28,28,ಕಬಾಪರ,11960 191 2112 9333 7163 586 801,241299,1.09
29,29,ಾಮನಗರ,15641 40 183 5916 4904 471 1253,218875,0.99
30,30,ಾದ,548 0 0 925 186 75 4,15209,0.07

In [49]:
len(replaced_list)

7

In [50]:
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        for colName, colData in df.items():
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = [int(x) for x in re.findall(pattern, colData.values[0])]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        colData = colData.str.replace(r'\s+', ' ', regex=True)
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)

        new_df_list.append(new_df)
    return new_df_list

In [51]:
separated_list = all_column_split(replaced_list)

In [52]:
len(separated_list)

7

In [53]:
separated_list[2]

,col1,0,1,2,3,4,5,6,7,8,9
0,1,2,988,989,990,991,992,993,994,995,996
1,1,Belagavi,3783,6690,0,14473,0,72026,38383,1527676,1638085
2,2,Bagalkot,3319,2300,0,11399,1902,7257,13082,341624,361963
3,3,Vijayapura,4815,1774,178,7134,2142,7836,83794,267740,359370
4,4,Kalburgi,3683,1700,53,16744,37,68874,6643,347905,423422
5,5,Bidar,755,859,2,3796,216,9679,5647,101223,116549
6,6,Raichur,642,85,253,1069,0,1650,1627,49313,52590
7,7,Koppal,2182,1448,0,2632,7,4392,6924,208707,220023
8,8,Gadag,1654,1142,46,5660,0,19211,3,140913,160127
9,9,Dharwad,3618,2327,0,22513,0,70895,30320,319712,420927
10,10,Uttara Kannada,3642,1553,25,9831,57,28298,9392,339395,377085
11,11,Haveri,5515,4175,0,17896,761,56129,18919,342298,417346
12,12,Ballari,5180,2554,185,10871,526,67638,8043,423512,499193
13,13,Chitradurga,963,71,0,1969,67,12389,5450,28903,46742
14,14,Davanagere,3353,1811,126,15461,256,76074,37922,295872,409868
15,15,Shivamogga,2601,835,0,6172,0,62179,41827,327100,431106
16,16,Udupi,7631,1952,118,25025,0,0,3089,411669,414758
17,17,Chikkamagaluru,3586,1555,0,11271,0,16660,3730,233367,253757
18,18,Tumakuru,2506,1611,2150,19112,47,126871,56324,260842,444037
19,19,Kolara,973,315,0,3172,111,26911,122467,65937,215315
20,20,Bengaluru(U),129247,42492,15748,217452,42276,233507,136583,5457346,5827436
21,21,Bengaluru(R),3729,1213,0,6331,130,20927,16286,140235,177448
22,22,Mandya,5638,2512,1570,10858,6226,97160,47442,248353,392955
23,23,Hassan,4680,2355,776,7207,355,75545,22988,235783,334316
24,24,Dakshina Kannada,19540,2266,0,36630,5561,134015,10019,455483,599517
25,25,Kodagu,1814,527,0,10284,0,7100,2550,89027,98677
26,26,Mysuru,9108,4298,7,30494,77,723645,80551,203068,1007264
27,27,Chamarajanagara,1239,637,0,3532,268,53056,25731,118373,197160
28,28,Chikkaballapura,2036,922,58,5172,288,22833,12789,150349,185971
29,29,Ramanagara,3051,662,0,7894,0,1972,28405,134873,165250
30,30,Yadgir,106,25,0,978,560,516,448,10018,10982

In [54]:
def check_single_column(df_list):
    new_df_list = []
    for df in df_list:
        df.fillna(value="", inplace=True)
        num_col = len(df.columns)
        for idx in range(num_col-1, 1, -1):
            cardinality = len(str(df.iloc[0,idx]).split())
            #print("idx", idx, df.iloc[0,idx], cardinality)
            for i in range(len(df.iloc[:,idx])):
                if i>0:
                    cell_car = len(str(df.iloc[i,idx]).split())
                    #print("i", i, df.iloc[i,idx], cell_car)
                    if cell_car > cardinality:
                       
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("more", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col1:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col2:
                                df.iloc[i, idx-1] = ' '.join(words_col2) + ' ' + words_col1[0]
                            else:
                                df.iloc[i, idx-1] = words_col1[0]

                            # Update the first column with the remaining words
                            df.iloc[i, idx] = ' '.join(words_col1[1:])
                        
                    if cell_car < cardinality:
                        
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("less", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col2:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col1:
                                df.iloc[i, idx] = words_col2[-1] + ' ' + ' '.join(words_col1)
                            else:
                                df.iloc[i, idx] = words_col2[-1]

                            # Update the first column with the remaining words
                            df.iloc[i, idx-1] = ' '.join(words_col2[:-1])
                        if df.iloc[i, idx-1]==' ':
                            df.iloc[i, idx-1] = ''
                        
        new_df_list.append(df)
    return new_df_list

In [55]:
updated_list = check_single_column(separated_list)

In [56]:
len(updated_list)

7

In [57]:
updated_list[0]

   col1                 0      1      2       3      4 Unnamed: 0
0     1                 2    977    978     979    980        981
1     1          Belagavi   4644  19405   23715   3551      51315
2     2          Bagalkot   2407   4439    7610   5275      19731
3     3        Vijayapura   4158   8895   10246  13210      36509
4     4          Kalburgi   2975   6196    7248  10724      27143
5     5             Bidar   2344   7205    2243   1965      13757
6     6           Raichur    255    174    1171    209       1809
7     7            Koppal   1495   3899    8272   2471      16137
8     8             Gadag   1083   2066    5219   2131      10499
9     9           Dharwad   6979   8771   14459   5581      35790
10   10    Uttara Kannada    705   6570    6657   1778      15710
11   11            Haveri   1267   9708    9819   9366      30160
12   12           Ballari   2834  22370   11930   3274      40408
13   13       Chitradurga   5685   6285   19726  11730      43426
14   14        Davanagere   2653  10079   10131   7091      29954
15   15        Shivamogga    716   8732    5510   2064      17022
16   16             Udupi   1057   5910   13880   3193      24040
17   17    Chikkamagaluru     50  17334   13296   4864      35544
18   18          Tumakuru   3325   5370    2487    244      11426
19   19            Kolara    557   1919    3564   1135       7175
20   20      Bengaluru(U)  54673  71055  105738  81338     312804
21   21      Bengaluru(R)   3152   7434   14642   6150      31378
22   22            Mandya   1690   6854    9175  10226      27945
23   23            Hassan   1153   4725    9590   4783      20251
24   24  Dakshina Kannada   4227  13324    6591   3547      27689
25   25            Kodagu     98   2964    4745   1323       9130
26   26            Mysuru    671   9875   20020  11389      41955
27   27   Chamarajanagara   1493   5586    1810   2214      11103
28   28   Chikkaballapura    751   2592    7929   1323      12595
29   29        Ramanagara   1270   3932    2790   2217      10209
30   30            Yadgir     99     26     522     78        725

In [58]:
len(updated_list)

7

In [59]:
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [60]:
final_list = reset_header(updated_list)

In [61]:
final_list[0]

0    1                 2    977    978     979    980     981
0    1          Belagavi   4644  19405   23715   3551   51315
1    2          Bagalkot   2407   4439    7610   5275   19731
2    3        Vijayapura   4158   8895   10246  13210   36509
3    4          Kalburgi   2975   6196    7248  10724   27143
4    5             Bidar   2344   7205    2243   1965   13757
5    6           Raichur    255    174    1171    209    1809
6    7            Koppal   1495   3899    8272   2471   16137
7    8             Gadag   1083   2066    5219   2131   10499
8    9           Dharwad   6979   8771   14459   5581   35790
9   10    Uttara Kannada    705   6570    6657   1778   15710
10  11            Haveri   1267   9708    9819   9366   30160
11  12           Ballari   2834  22370   11930   3274   40408
12  13       Chitradurga   5685   6285   19726  11730   43426
13  14        Davanagere   2653  10079   10131   7091   29954
14  15        Shivamogga    716   8732    5510   2064   17022
15  16             Udupi   1057   5910   13880   3193   24040
16  17    Chikkamagaluru     50  17334   13296   4864   35544
17  18          Tumakuru   3325   5370    2487    244   11426
18  19            Kolara    557   1919    3564   1135    7175
19  20      Bengaluru(U)  54673  71055  105738  81338  312804
20  21      Bengaluru(R)   3152   7434   14642   6150   31378
21  22            Mandya   1690   6854    9175  10226   27945
22  23            Hassan   1153   4725    9590   4783   20251
23  24  Dakshina Kannada   4227  13324    6591   3547   27689
24  25            Kodagu     98   2964    4745   1323    9130
25  26            Mysuru    671   9875   20020  11389   41955
26  27   Chamarajanagara   1493   5586    1810   2214   11103
27  28   Chikkaballapura    751   2592    7929   1323   12595
28  29        Ramanagara   1270   3932    2790   2217   10209
29  30            Yadgir     99     26     522     78     725

In [62]:
def get_empty_col(df_list):
    index_list=[]
    for i in range(len(df_list)):
        empty_columns = df_list[i].columns[df_list[i].isna().all()].tolist()
        if len(empty_columns) > 0:
            index_list.append([i,empty_columns])
    return index_list

In [63]:
empty_col = get_empty_col(final_list)
empty_col

[]

In [64]:
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [65]:
final_df = concat_dataframe(final_list)

In [66]:
final_df

,1,2,977,978,979,980,981,982,983,984,...,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022
0,1,Belagavi,4644,19405,23715,3551,51315,3480,10,177,...,7265.66,12251.32,2738,2237,81.70,727,188,30749,200048,10258
1,2,Bagalkot,2407,4439,7610,5275,19731,1298,16,0,...,3587.14,5673.05,1072,749,69.87,329,58,6232,65625,3565
2,3,Vijayapura,4158,8895,10246,13210,36509,2479,6,5,...,5654.80,8444.96,1023,1133,110.75,400,102,8801,59641,3551
3,4,Kalburgi,2975,6196,7248,10724,27143,2483,68,35,...,4720.47,7498.35,1285,1285,100.00,421,97,11395,64383,3723
4,5,Bidar,2344,7205,2243,1965,13757,34,29,19,...,2519.90,4892.90,875,837,95.66,303,82,5859,47054,2318
5,6,Raichur,255,174,1171,209,1809,8,0,0,...,5092.18,7231.24,1315,680,51.71,286,81,5916,63290,3192
6,7,Koppal,1495,3899,8272,2471,16137,788,0,100,...,2115.37,3514.19,771,736,95.46,218,72,4452,47202,2069
7,8,Gadag,1083,2066,5219,2131,10499,1226,9,5,...,2550.88,3911.68,361,361,100.00,168,58,5682,40159,2257
8,9,Dharwad,6979,8771,14459,5581,35790,3616,118,177,...,3080.11,4170.67,388,373,96.13,209,67,37445,216380,14640
9,10,Uttara Kannada,705,6570,6657,1778,15710,1180,26,929,...,8105.62,12515.44,7506,3558,47.40,483,150,28562,563476,10353
10,11,Haveri,1267,9708,9819,9366,30160,783,7,47,...,1962.02,3969.40,743,694,93.41,257,55,4776,61707,1965
11,12,Ballari,2834,22370,11930,3274,40408,1220,196,540,...,4585.48,7392.65,1281,1281,100.00,447,131,13847,131985,5660
12,13,Chitradurga,5685,6285,19726,11730,43426,380,55,735,...,5508.97,9411.97,1645,1645,100.00,317,79,5460,46770,2352
13,14,Davanagere,2653,10079,10131,7091,29954,423,44,280,...,2631.91,5338.29,954,936,98.11,261,72,14241,325038,3701
14,15,Shivamogga,716,8732,5510,2064,17022,1250,181,29,...,5171.44,9621.74,4739,4739,100.00,357,113,15467,244426,4946
15,16,Udupi,1057,5910,13880,3193,24040,916,163,224,...,4275.21,7348.37,3462,3227,93.21,325,91,22726,249926,9024
16,17,Chikkamagaluru,50,17334,13296,4864,35544,555,20,43,...,4535.29,8710.14,3671,1952,53.17,301,148,9578,250884,3146
17,18,Tumakuru,3325,5370,2487,244,11426,660,115,967,...,6770.52,11301.05,5125,4551,88.80,557,100,13714,276155,4071
18,19,Kolara,557,1919,3564,1135,7175,123,1,25,...,1503.48,3892.48,1951,1852,94.93,221,87,10058,303811,3846
19,20,Bengaluru(U),54673,71055,105738,81338,312804,17195,2905,12401,...,259.62,1888.35,1064,942,88.53,271,494,370262,569526,99391
20,21,Bengaluru(R),3152,7434,14642,6150,31378,268,349,1932,...,907.54,2659.65,1274,1083,85.01,134,42,5168,34648,3243
21,22,Mandya,1690,6854,9175,10226,27945,1135,16,89,...,4172.84,8573.28,2038,2038,100.00,353,62,5486,137500,2511
22,23,Hassan,1153,4725,9590,4783,20251,1552,52,141,...,4781.48,9659.04,3629,2596,71.53,414,87,10198,287347,3807
23,24,Dakshina Kannada,4227,13324,6591,3547,27689,1842,179,741,...,5098.83,8768.85,7655,3063,40.01,471,170,51669,318451,14929
24,25,Kodagu,98,2964,4745,1323,9130,93,21,26,...,1116.03,4243.81,569,416,73.11,213,76,10206,272560,4487
25,26,Mysuru,671,9875,20020,11389,41955,4429,56,999,...,4185.13,8244.79,2002,1989,99.35,389,97,35437,265063,18921
26,27,Chamarajanagara,1493,5586,1810,2214,11103,187,24,3,...,2091.12,4249.51,913,877,96.06,204,41,2113,143526,1437
27,28,Chikkaballapura,751,2592,7929,1323,12595,132,41,16,...,1958.94,4398.02,1919,1919,100.00,198,72,3654,49906,2047
28,29,Ramanagara,1270,3932,2790,2217,10209,213,84,834,...,1078.62,2543.22,2137,1873,87.65,180,11,3133,19060,2074
29,30,Yadgir,99,26,522,78,725,49,0,0,...,2284.00,3800.66,487,445,91.38,204,29,2258,46698,1587

In [67]:
final_df.columns = final_df.columns.astype(int)

In [68]:
final_df[2]

0             Belagavi
1             Bagalkot
2           Vijayapura
3             Kalburgi
4                Bidar
5              Raichur
6               Koppal
7                Gadag
8              Dharwad
9       Uttara Kannada
10              Haveri
11             Ballari
12         Chitradurga
13          Davanagere
14          Shivamogga
15               Udupi
16      Chikkamagaluru
17            Tumakuru
18              Kolara
19        Bengaluru(U)
20        Bengaluru(R)
21              Mandya
22              Hassan
23    Dakshina Kannada
24              Kodagu
25              Mysuru
26     Chamarajanagara
27     Chikkaballapura
28          Ramanagara
29              Yadgir
Name: 2, dtype: object

In [69]:
final_df = final_df.reindex(sorted(final_df.columns, key=int), axis=1)

In [70]:
final_df

,1,2,977,978,979,980,981,982,983,984,...,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022
0,1,Belagavi,4644,19405,23715,3551,51315,3480,10,177,...,7265.66,12251.32,2738,2237,81.70,727,188,30749,200048,10258
1,2,Bagalkot,2407,4439,7610,5275,19731,1298,16,0,...,3587.14,5673.05,1072,749,69.87,329,58,6232,65625,3565
2,3,Vijayapura,4158,8895,10246,13210,36509,2479,6,5,...,5654.80,8444.96,1023,1133,110.75,400,102,8801,59641,3551
3,4,Kalburgi,2975,6196,7248,10724,27143,2483,68,35,...,4720.47,7498.35,1285,1285,100.00,421,97,11395,64383,3723
4,5,Bidar,2344,7205,2243,1965,13757,34,29,19,...,2519.90,4892.90,875,837,95.66,303,82,5859,47054,2318
5,6,Raichur,255,174,1171,209,1809,8,0,0,...,5092.18,7231.24,1315,680,51.71,286,81,5916,63290,3192
6,7,Koppal,1495,3899,8272,2471,16137,788,0,100,...,2115.37,3514.19,771,736,95.46,218,72,4452,47202,2069
7,8,Gadag,1083,2066,5219,2131,10499,1226,9,5,...,2550.88,3911.68,361,361,100.00,168,58,5682,40159,2257
8,9,Dharwad,6979,8771,14459,5581,35790,3616,118,177,...,3080.11,4170.67,388,373,96.13,209,67,37445,216380,14640
9,10,Uttara Kannada,705,6570,6657,1778,15710,1180,26,929,...,8105.62,12515.44,7506,3558,47.40,483,150,28562,563476,10353
10,11,Haveri,1267,9708,9819,9366,30160,783,7,47,...,1962.02,3969.40,743,694,93.41,257,55,4776,61707,1965
11,12,Ballari,2834,22370,11930,3274,40408,1220,196,540,...,4585.48,7392.65,1281,1281,100.00,447,131,13847,131985,5660
12,13,Chitradurga,5685,6285,19726,11730,43426,380,55,735,...,5508.97,9411.97,1645,1645,100.00,317,79,5460,46770,2352
13,14,Davanagere,2653,10079,10131,7091,29954,423,44,280,...,2631.91,5338.29,954,936,98.11,261,72,14241,325038,3701
14,15,Shivamogga,716,8732,5510,2064,17022,1250,181,29,...,5171.44,9621.74,4739,4739,100.00,357,113,15467,244426,4946
15,16,Udupi,1057,5910,13880,3193,24040,916,163,224,...,4275.21,7348.37,3462,3227,93.21,325,91,22726,249926,9024
16,17,Chikkamagaluru,50,17334,13296,4864,35544,555,20,43,...,4535.29,8710.14,3671,1952,53.17,301,148,9578,250884,3146
17,18,Tumakuru,3325,5370,2487,244,11426,660,115,967,...,6770.52,11301.05,5125,4551,88.80,557,100,13714,276155,4071
18,19,Kolara,557,1919,3564,1135,7175,123,1,25,...,1503.48,3892.48,1951,1852,94.93,221,87,10058,303811,3846
19,20,Bengaluru(U),54673,71055,105738,81338,312804,17195,2905,12401,...,259.62,1888.35,1064,942,88.53,271,494,370262,569526,99391
20,21,Bengaluru(R),3152,7434,14642,6150,31378,268,349,1932,...,907.54,2659.65,1274,1083,85.01,134,42,5168,34648,3243
21,22,Mandya,1690,6854,9175,10226,27945,1135,16,89,...,4172.84,8573.28,2038,2038,100.00,353,62,5486,137500,2511
22,23,Hassan,1153,4725,9590,4783,20251,1552,52,141,...,4781.48,9659.04,3629,2596,71.53,414,87,10198,287347,3807
23,24,Dakshina Kannada,4227,13324,6591,3547,27689,1842,179,741,...,5098.83,8768.85,7655,3063,40.01,471,170,51669,318451,14929
24,25,Kodagu,98,2964,4745,1323,9130,93,21,26,...,1116.03,4243.81,569,416,73.11,213,76,10206,272560,4487
25,26,Mysuru,671,9875,20020,11389,41955,4429,56,999,...,4185.13,8244.79,2002,1989,99.35,389,97,35437,265063,18921
26,27,Chamarajanagara,1493,5586,1810,2214,11103,187,24,3,...,2091.12,4249.51,913,877,96.06,204,41,2113,143526,1437
27,28,Chikkaballapura,751,2592,7929,1323,12595,132,41,16,...,1958.94,4398.02,1919,1919,100.00,198,72,3654,49906,2047
28,29,Ramanagara,1270,3932,2790,2217,10209,213,84,834,...,1078.62,2543.22,2137,1873,87.65,180,11,3133,19060,2074
29,30,Yadgir,99,26,522,78,725,49,0,0,...,2284.00,3800.66,487,445,91.38,204,29,2258,46698,1587

In [71]:
final_df = final_df.drop(final_df.index[30:])

In [72]:
final_df

,1,2,977,978,979,980,981,982,983,984,...,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022
0,1,Belagavi,4644,19405,23715,3551,51315,3480,10,177,...,7265.66,12251.32,2738,2237,81.70,727,188,30749,200048,10258
1,2,Bagalkot,2407,4439,7610,5275,19731,1298,16,0,...,3587.14,5673.05,1072,749,69.87,329,58,6232,65625,3565
2,3,Vijayapura,4158,8895,10246,13210,36509,2479,6,5,...,5654.80,8444.96,1023,1133,110.75,400,102,8801,59641,3551
3,4,Kalburgi,2975,6196,7248,10724,27143,2483,68,35,...,4720.47,7498.35,1285,1285,100.00,421,97,11395,64383,3723
4,5,Bidar,2344,7205,2243,1965,13757,34,29,19,...,2519.90,4892.90,875,837,95.66,303,82,5859,47054,2318
5,6,Raichur,255,174,1171,209,1809,8,0,0,...,5092.18,7231.24,1315,680,51.71,286,81,5916,63290,3192
6,7,Koppal,1495,3899,8272,2471,16137,788,0,100,...,2115.37,3514.19,771,736,95.46,218,72,4452,47202,2069
7,8,Gadag,1083,2066,5219,2131,10499,1226,9,5,...,2550.88,3911.68,361,361,100.00,168,58,5682,40159,2257
8,9,Dharwad,6979,8771,14459,5581,35790,3616,118,177,...,3080.11,4170.67,388,373,96.13,209,67,37445,216380,14640
9,10,Uttara Kannada,705,6570,6657,1778,15710,1180,26,929,...,8105.62,12515.44,7506,3558,47.40,483,150,28562,563476,10353
10,11,Haveri,1267,9708,9819,9366,30160,783,7,47,...,1962.02,3969.40,743,694,93.41,257,55,4776,61707,1965
11,12,Ballari,2834,22370,11930,3274,40408,1220,196,540,...,4585.48,7392.65,1281,1281,100.00,447,131,13847,131985,5660
12,13,Chitradurga,5685,6285,19726,11730,43426,380,55,735,...,5508.97,9411.97,1645,1645,100.00,317,79,5460,46770,2352
13,14,Davanagere,2653,10079,10131,7091,29954,423,44,280,...,2631.91,5338.29,954,936,98.11,261,72,14241,325038,3701
14,15,Shivamogga,716,8732,5510,2064,17022,1250,181,29,...,5171.44,9621.74,4739,4739,100.00,357,113,15467,244426,4946
15,16,Udupi,1057,5910,13880,3193,24040,916,163,224,...,4275.21,7348.37,3462,3227,93.21,325,91,22726,249926,9024
16,17,Chikkamagaluru,50,17334,13296,4864,35544,555,20,43,...,4535.29,8710.14,3671,1952,53.17,301,148,9578,250884,3146
17,18,Tumakuru,3325,5370,2487,244,11426,660,115,967,...,6770.52,11301.05,5125,4551,88.80,557,100,13714,276155,4071
18,19,Kolara,557,1919,3564,1135,7175,123,1,25,...,1503.48,3892.48,1951,1852,94.93,221,87,10058,303811,3846
19,20,Bengaluru(U),54673,71055,105738,81338,312804,17195,2905,12401,...,259.62,1888.35,1064,942,88.53,271,494,370262,569526,99391
20,21,Bengaluru(R),3152,7434,14642,6150,31378,268,349,1932,...,907.54,2659.65,1274,1083,85.01,134,42,5168,34648,3243
21,22,Mandya,1690,6854,9175,10226,27945,1135,16,89,...,4172.84,8573.28,2038,2038,100.00,353,62,5486,137500,2511
22,23,Hassan,1153,4725,9590,4783,20251,1552,52,141,...,4781.48,9659.04,3629,2596,71.53,414,87,10198,287347,3807
23,24,Dakshina Kannada,4227,13324,6591,3547,27689,1842,179,741,...,5098.83,8768.85,7655,3063,40.01,471,170,51669,318451,14929
24,25,Kodagu,98,2964,4745,1323,9130,93,21,26,...,1116.03,4243.81,569,416,73.11,213,76,10206,272560,4487
25,26,Mysuru,671,9875,20020,11389,41955,4429,56,999,...,4185.13,8244.79,2002,1989,99.35,389,97,35437,265063,18921
26,27,Chamarajanagara,1493,5586,1810,2214,11103,187,24,3,...,2091.12,4249.51,913,877,96.06,204,41,2113,143526,1437
27,28,Chikkaballapura,751,2592,7929,1323,12595,132,41,16,...,1958.94,4398.02,1919,1919,100.00,198,72,3654,49906,2047
28,29,Ramanagara,1270,3932,2790,2217,10209,213,84,834,...,1078.62,2543.22,2137,1873,87.65,180,11,3133,19060,2074
29,30,Yadgir,99,26,522,78,725,49,0,0,...,2284.00,3800.66,487,445,91.38,204,29,2258,46698,1587

In [73]:
new_order = [18, 20, 19, 27, 26, 29, 30, 22, 21, 24, 23, 25, 4, 5, 8, 12, 10, 9, 6, 1, 2, 15, 13, 11, 14, 16, 17, 7, 3, 28]
final_df[1] = new_order
final_df

,1,2,977,978,979,980,981,982,983,984,...,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022
0,18,Belagavi,4644,19405,23715,3551,51315,3480,10,177,...,7265.66,12251.32,2738,2237,81.70,727,188,30749,200048,10258
1,20,Bagalkot,2407,4439,7610,5275,19731,1298,16,0,...,3587.14,5673.05,1072,749,69.87,329,58,6232,65625,3565
2,19,Vijayapura,4158,8895,10246,13210,36509,2479,6,5,...,5654.80,8444.96,1023,1133,110.75,400,102,8801,59641,3551
3,27,Kalburgi,2975,6196,7248,10724,27143,2483,68,35,...,4720.47,7498.35,1285,1285,100.00,421,97,11395,64383,3723
4,26,Bidar,2344,7205,2243,1965,13757,34,29,19,...,2519.90,4892.90,875,837,95.66,303,82,5859,47054,2318
5,29,Raichur,255,174,1171,209,1809,8,0,0,...,5092.18,7231.24,1315,680,51.71,286,81,5916,63290,3192
6,30,Koppal,1495,3899,8272,2471,16137,788,0,100,...,2115.37,3514.19,771,736,95.46,218,72,4452,47202,2069
7,22,Gadag,1083,2066,5219,2131,10499,1226,9,5,...,2550.88,3911.68,361,361,100.00,168,58,5682,40159,2257
8,21,Dharwad,6979,8771,14459,5581,35790,3616,118,177,...,3080.11,4170.67,388,373,96.13,209,67,37445,216380,14640
9,24,Uttara Kannada,705,6570,6657,1778,15710,1180,26,929,...,8105.62,12515.44,7506,3558,47.40,483,150,28562,563476,10353
10,23,Haveri,1267,9708,9819,9366,30160,783,7,47,...,1962.02,3969.40,743,694,93.41,257,55,4776,61707,1965
11,25,Ballari,2834,22370,11930,3274,40408,1220,196,540,...,4585.48,7392.65,1281,1281,100.00,447,131,13847,131985,5660
12,4,Chitradurga,5685,6285,19726,11730,43426,380,55,735,...,5508.97,9411.97,1645,1645,100.00,317,79,5460,46770,2352
13,5,Davanagere,2653,10079,10131,7091,29954,423,44,280,...,2631.91,5338.29,954,936,98.11,261,72,14241,325038,3701
14,8,Shivamogga,716,8732,5510,2064,17022,1250,181,29,...,5171.44,9621.74,4739,4739,100.00,357,113,15467,244426,4946
15,12,Udupi,1057,5910,13880,3193,24040,916,163,224,...,4275.21,7348.37,3462,3227,93.21,325,91,22726,249926,9024
16,10,Chikkamagaluru,50,17334,13296,4864,35544,555,20,43,...,4535.29,8710.14,3671,1952,53.17,301,148,9578,250884,3146
17,9,Tumakuru,3325,5370,2487,244,11426,660,115,967,...,6770.52,11301.05,5125,4551,88.80,557,100,13714,276155,4071
18,6,Kolara,557,1919,3564,1135,7175,123,1,25,...,1503.48,3892.48,1951,1852,94.93,221,87,10058,303811,3846
19,1,Bengaluru(U),54673,71055,105738,81338,312804,17195,2905,12401,...,259.62,1888.35,1064,942,88.53,271,494,370262,569526,99391
20,2,Bengaluru(R),3152,7434,14642,6150,31378,268,349,1932,...,907.54,2659.65,1274,1083,85.01,134,42,5168,34648,3243
21,15,Mandya,1690,6854,9175,10226,27945,1135,16,89,...,4172.84,8573.28,2038,2038,100.00,353,62,5486,137500,2511
22,13,Hassan,1153,4725,9590,4783,20251,1552,52,141,...,4781.48,9659.04,3629,2596,71.53,414,87,10198,287347,3807
23,11,Dakshina Kannada,4227,13324,6591,3547,27689,1842,179,741,...,5098.83,8768.85,7655,3063,40.01,471,170,51669,318451,14929
24,14,Kodagu,98,2964,4745,1323,9130,93,21,26,...,1116.03,4243.81,569,416,73.11,213,76,10206,272560,4487
25,16,Mysuru,671,9875,20020,11389,41955,4429,56,999,...,4185.13,8244.79,2002,1989,99.35,389,97,35437,265063,18921
26,17,Chamarajanagara,1493,5586,1810,2214,11103,187,24,3,...,2091.12,4249.51,913,877,96.06,204,41,2113,143526,1437
27,7,Chikkaballapura,751,2592,7929,1323,12595,132,41,16,...,1958.94,4398.02,1919,1919,100.00,198,72,3654,49906,2047
28,3,Ramanagara,1270,3932,2790,2217,10209,213,84,834,...,1078.62,2543.22,2137,1873,87.65,180,11,3133,19060,2074
29,28,Yadgir,99,26,522,78,725,49,0,0,...,2284.00,3800.66,487,445,91.38,204,29,2258,46698,1587

In [74]:
final_data = final_df.sort_values(1)
final_data.reset_index(drop=True, inplace=True)
final_data

,1,2,977,978,979,980,981,982,983,984,...,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022
0,1,Bengaluru(U),54673,71055,105738,81338,312804,17195,2905,12401,...,259.62,1888.35,1064,942,88.53,271,494,370262,569526,99391
1,2,Bengaluru(R),3152,7434,14642,6150,31378,268,349,1932,...,907.54,2659.65,1274,1083,85.01,134,42,5168,34648,3243
2,3,Ramanagara,1270,3932,2790,2217,10209,213,84,834,...,1078.62,2543.22,2137,1873,87.65,180,11,3133,19060,2074
3,4,Chitradurga,5685,6285,19726,11730,43426,380,55,735,...,5508.97,9411.97,1645,1645,100.00,317,79,5460,46770,2352
4,5,Davanagere,2653,10079,10131,7091,29954,423,44,280,...,2631.91,5338.29,954,936,98.11,261,72,14241,325038,3701
5,6,Kolara,557,1919,3564,1135,7175,123,1,25,...,1503.48,3892.48,1951,1852,94.93,221,87,10058,303811,3846
6,7,Chikkaballapura,751,2592,7929,1323,12595,132,41,16,...,1958.94,4398.02,1919,1919,100.00,198,72,3654,49906,2047
7,8,Shivamogga,716,8732,5510,2064,17022,1250,181,29,...,5171.44,9621.74,4739,4739,100.00,357,113,15467,244426,4946
8,9,Tumakuru,3325,5370,2487,244,11426,660,115,967,...,6770.52,11301.05,5125,4551,88.80,557,100,13714,276155,4071
9,10,Chikkamagaluru,50,17334,13296,4864,35544,555,20,43,...,4535.29,8710.14,3671,1952,53.17,301,148,9578,250884,3146
10,11,Dakshina Kannada,4227,13324,6591,3547,27689,1842,179,741,...,5098.83,8768.85,7655,3063,40.01,471,170,51669,318451,14929
11,12,Udupi,1057,5910,13880,3193,24040,916,163,224,...,4275.21,7348.37,3462,3227,93.21,325,91,22726,249926,9024
12,13,Hassan,1153,4725,9590,4783,20251,1552,52,141,...,4781.48,9659.04,3629,2596,71.53,414,87,10198,287347,3807
13,14,Kodagu,98,2964,4745,1323,9130,93,21,26,...,1116.03,4243.81,569,416,73.11,213,76,10206,272560,4487
14,15,Mandya,1690,6854,9175,10226,27945,1135,16,89,...,4172.84,8573.28,2038,2038,100.00,353,62,5486,137500,2511
15,16,Mysuru,671,9875,20020,11389,41955,4429,56,999,...,4185.13,8244.79,2002,1989,99.35,389,97,35437,265063,18921
16,17,Chamarajanagara,1493,5586,1810,2214,11103,187,24,3,...,2091.12,4249.51,913,877,96.06,204,41,2113,143526,1437
17,18,Belagavi,4644,19405,23715,3551,51315,3480,10,177,...,7265.66,12251.32,2738,2237,81.70,727,188,30749,200048,10258
18,19,Vijayapura,4158,8895,10246,13210,36509,2479,6,5,...,5654.80,8444.96,1023,1133,110.75,400,102,8801,59641,3551
19,20,Bagalkot,2407,4439,7610,5275,19731,1298,16,0,...,3587.14,5673.05,1072,749,69.87,329,58,6232,65625,3565
20,21,Dharwad,6979,8771,14459,5581,35790,3616,118,177,...,3080.11,4170.67,388,373,96.13,209,67,37445,216380,14640
21,22,Gadag,1083,2066,5219,2131,10499,1226,9,5,...,2550.88,3911.68,361,361,100.00,168,58,5682,40159,2257
22,23,Haveri,1267,9708,9819,9366,30160,783,7,47,...,1962.02,3969.40,743,694,93.41,257,55,4776,61707,1965
23,24,Uttara Kannada,705,6570,6657,1778,15710,1180,26,929,...,8105.62,12515.44,7506,3558,47.40,483,150,28562,563476,10353
24,25,Ballari,2834,22370,11930,3274,40408,1220,196,540,...,4585.48,7392.65,1281,1281,100.00,447,131,13847,131985,5660
25,26,Bidar,2344,7205,2243,1965,13757,34,29,19,...,2519.90,4892.90,875,837,95.66,303,82,5859,47054,2318
26,27,Kalburgi,2975,6196,7248,10724,27143,2483,68,35,...,4720.47,7498.35,1285,1285,100.00,421,97,11395,64383,3723
27,28,Yadgir,99,26,522,78,725,49,0,0,...,2284.00,3800.66,487,445,91.38,204,29,2258,46698,1587
28,29,Raichur,255,174,1171,209,1809,8,0,0,...,5092.18,7231.24,1315,680,51.71,286,81,5916,63290,3192
29,30,Koppal,1495,3899,8272,2471,16137,788,0,100,...,2115.37,3514.19,771,736,95.46,218,72,4452,47202,2069

In [75]:
name_list = ['Bengaluru(U)','Bengaluru(R)', 'Ramanagara', 'Chitradurga', 'Davanagere', 'Kolara', 'Chikkaballapura', 'Shivamogga',
'Tumakuru', 'Chikkamagaluru', 'Dakshina Kannada', 'Udupi', 'Hassan', 'Kodagu', 'Mandya', 'Mysuru', 'Chamarajanagara',
 'Belagavi', 'Vijayapura', 'Bagalkot', 'Dharwad', 'Gadag', 'Haveri', 'Uttara Kannada', 'Ballari', 'Bidar', 'Kalburgi',
 'Yadgir', 'Raichur', 'Koppal']

In [76]:
final_data[2] = name_list
final_data

,1,2,977,978,979,980,981,982,983,984,...,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022
0,1,Bengaluru(U),54673,71055,105738,81338,312804,17195,2905,12401,...,259.62,1888.35,1064,942,88.53,271,494,370262,569526,99391
1,2,Bengaluru(R),3152,7434,14642,6150,31378,268,349,1932,...,907.54,2659.65,1274,1083,85.01,134,42,5168,34648,3243
2,3,Ramanagara,1270,3932,2790,2217,10209,213,84,834,...,1078.62,2543.22,2137,1873,87.65,180,11,3133,19060,2074
3,4,Chitradurga,5685,6285,19726,11730,43426,380,55,735,...,5508.97,9411.97,1645,1645,100.00,317,79,5460,46770,2352
4,5,Davanagere,2653,10079,10131,7091,29954,423,44,280,...,2631.91,5338.29,954,936,98.11,261,72,14241,325038,3701
5,6,Kolara,557,1919,3564,1135,7175,123,1,25,...,1503.48,3892.48,1951,1852,94.93,221,87,10058,303811,3846
6,7,Chikkaballapura,751,2592,7929,1323,12595,132,41,16,...,1958.94,4398.02,1919,1919,100.00,198,72,3654,49906,2047
7,8,Shivamogga,716,8732,5510,2064,17022,1250,181,29,...,5171.44,9621.74,4739,4739,100.00,357,113,15467,244426,4946
8,9,Tumakuru,3325,5370,2487,244,11426,660,115,967,...,6770.52,11301.05,5125,4551,88.80,557,100,13714,276155,4071
9,10,Chikkamagaluru,50,17334,13296,4864,35544,555,20,43,...,4535.29,8710.14,3671,1952,53.17,301,148,9578,250884,3146
10,11,Dakshina Kannada,4227,13324,6591,3547,27689,1842,179,741,...,5098.83,8768.85,7655,3063,40.01,471,170,51669,318451,14929
11,12,Udupi,1057,5910,13880,3193,24040,916,163,224,...,4275.21,7348.37,3462,3227,93.21,325,91,22726,249926,9024
12,13,Hassan,1153,4725,9590,4783,20251,1552,52,141,...,4781.48,9659.04,3629,2596,71.53,414,87,10198,287347,3807
13,14,Kodagu,98,2964,4745,1323,9130,93,21,26,...,1116.03,4243.81,569,416,73.11,213,76,10206,272560,4487
14,15,Mandya,1690,6854,9175,10226,27945,1135,16,89,...,4172.84,8573.28,2038,2038,100.00,353,62,5486,137500,2511
15,16,Mysuru,671,9875,20020,11389,41955,4429,56,999,...,4185.13,8244.79,2002,1989,99.35,389,97,35437,265063,18921
16,17,Chamarajanagara,1493,5586,1810,2214,11103,187,24,3,...,2091.12,4249.51,913,877,96.06,204,41,2113,143526,1437
17,18,Belagavi,4644,19405,23715,3551,51315,3480,10,177,...,7265.66,12251.32,2738,2237,81.70,727,188,30749,200048,10258
18,19,Vijayapura,4158,8895,10246,13210,36509,2479,6,5,...,5654.80,8444.96,1023,1133,110.75,400,102,8801,59641,3551
19,20,Bagalkot,2407,4439,7610,5275,19731,1298,16,0,...,3587.14,5673.05,1072,749,69.87,329,58,6232,65625,3565
20,21,Dharwad,6979,8771,14459,5581,35790,3616,118,177,...,3080.11,4170.67,388,373,96.13,209,67,37445,216380,14640
21,22,Gadag,1083,2066,5219,2131,10499,1226,9,5,...,2550.88,3911.68,361,361,100.00,168,58,5682,40159,2257
22,23,Haveri,1267,9708,9819,9366,30160,783,7,47,...,1962.02,3969.40,743,694,93.41,257,55,4776,61707,1965
23,24,Uttara Kannada,705,6570,6657,1778,15710,1180,26,929,...,8105.62,12515.44,7506,3558,47.40,483,150,28562,563476,10353
24,25,Ballari,2834,22370,11930,3274,40408,1220,196,540,...,4585.48,7392.65,1281,1281,100.00,447,131,13847,131985,5660
25,26,Bidar,2344,7205,2243,1965,13757,34,29,19,...,2519.90,4892.90,875,837,95.66,303,82,5859,47054,2318
26,27,Kalburgi,2975,6196,7248,10724,27143,2483,68,35,...,4720.47,7498.35,1285,1285,100.00,421,97,11395,64383,3723
27,28,Yadgir,99,26,522,78,725,49,0,0,...,2284.00,3800.66,487,445,91.38,204,29,2258,46698,1587
28,29,Raichur,255,174,1171,209,1809,8,0,0,...,5092.18,7231.24,1315,680,51.71,286,81,5916,63290,3192
29,30,Koppal,1495,3899,8272,2471,16137,788,0,100,...,2115.37,3514.19,771,736,95.46,218,72,4452,47202,2069

In [77]:
final_data.to_csv(absolute_result_path, sep=';', index=False)
final_data.to_csv(absolute_dictionary_path, sep=';', index=False)