In [86]:
import tabula
import numpy as np
import pandas as pd
import os
import re
import math

In [87]:
relative_path_pdf = "../HTML/Output_html_Chapter15/kaggle/working/out/pages/"
relative_dictionary_path = "../Data/Chapter15_Data.csv"
relative_result_path = "../HTML/Output_html_Chapter15/Chapter15_Data.csv"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = os.path.join(os.getcwd(), relative_path_pdf)
absolute_dictionary_path = os.path.join(os.getcwd(), relative_dictionary_path)
absolute_result_path = os.path.join(os.getcwd(), relative_result_path)

In [88]:
os.listdir(absolute_path_pdf)

['page_9.pdf',
 'page_1.pdf',
 'page_2.pdf',
 'page_3.pdf',
 'page_10.pdf',
 'page_7.pdf',
 'page_11.pdf',
 'page_5.pdf',
 'page_13.pdf',
 'page_12.pdf',
 'page_6.pdf',
 'page_4.pdf',
 'page_8.pdf']

In [89]:
output_list = []

In [90]:
# Get a list of PDF files sorted by filename
pdf_files = sorted([file for file in os.listdir(absolute_path_pdf) if file.endswith(".pdf")], key=lambda x: [int(s) if s.isdigit() else s.lower() for s in re.split('(\d+)', x)])

# Iterate through all PDF files
for file in pdf_files:
    file_path = os.path.join(absolute_path_pdf, file)
    dfs = tabula.read_pdf(file_path, pages='all', stream=True)
    if dfs:
        output_list.append(dfs[0])  # Assuming you want to append the first DataFrame from each PDF

In [91]:
len(output_list)

13

In [92]:
output_list[4]

,Unnamed: 0,15.4 2011ರ ಜನಗಣಯಂೆ ಧ ಇಂಧನ ಮೂಲಗಳನು ಅಡುೆೆ ಬಳಸುವ ಕುಟುಂಬಗಳ (ೇಕಡಾರು),Unnamed: 1,Unnamed: 2
0,NaN,Households by Type of Fuel used for Cooking as...,NaN,NaN
1,NaN,ಒಟು ಅಡುೆ,NaN,ಅಡುೆ
2,NaN,ಕುಟುಂಬಗಳ ೌೆ ೕಎೆ ಅಲ ೈಕ,NaN,ಾಡರುವ
3,SI.,ಸಂೆ Fire Kerosene LPG / ದುಚ ಅಲಇತೆ,NaN,No
4,No,Wood Districts Total No.of ElectricityPNG Bio...,NaN,Cooking
5,NaN,households,NaN,NaN
6,1,2 1431 1432 1433 1434 1435 1436 1437,NaN,1438
7,1,Belagavi 983854 70.74 1.48 20.87 0.08 1.64,4.70,0.38
8,2,Bagalkot 361149 83.96 1.11 14.23 0.04 0.39,0.03,0.23
9,3,Vijayapura 408806 72.17 1.71 14.56 0.07 0.45,2.93,0.19
10,4,Kalburgi 471601 72.75 2.79 16.78 0.12 0.35,0.05,0.22
11,5,Bidar 319937 71.47 1.86 11.04 0.11 0.29,0.16,0.22
12,6,Raichur 363853 79.35 1.33 14.32 0.76 0.63,0.18,0.35
13,7,Koppal 264595 84.14 1.26 12.21 0.13 0.26,0.09,0.24
14,8,Gadag 219096 78.43 1.12 14.82 0.06 0.67,0.08,0.23
15,9,Dharwad 382700 54.83 3.33 28.08 0.04 0.49,0.22,0.25
16,10,Uttara Kannada 324530 65.73 1.17 28.08 0.31 3.46,0.03,0.32
17,11,Haveri 330414 65.12 0.55 12.09 0.01 0.72,0.03,0.14
18,12,Ballari 547679 70.29 3.65 22.00 0.13 0.59,0.06,0.32
19,13,Chitradurga 357003 77.18 1.90 17.09 0.05 0.49,0.04,0.25
20,14,Davanagere 351615 61.53 1.78 28.26 0.08 1.27,0.09,0.34
21,15,Shivamogga 406816 59.41 4.08 31.86 0.25 2.04,0.06,0.27
22,16,Udupi 253078 64.80 0.45 32.70 0.19 0.92,0.02,0.48
23,17,Chikkamagaluru 276085 61.97 1.76 24.79 0.05 0.97,1.44,0.31
24,18,Tumakuru 640081 75.59 3.36 18.36 0.06 0.64,0.02,0.26
25,19,Kolara 333348 68.45 6.98 21.87 0.13 0.64,0.03,0.27
26,20,Bengaluru(U) 2393845 26.21 14.55 50.79 0.15 1.72,0.11,0.67
27,21,Bengaluru(R) 229279 54.13 8.86 34.46 0.15 1.16,0.03,0.38
28,22,Mandya 428625 74.45 3.91 18.85 0.07 0.62,0.03,0.18
29,23,Hassan 433453 71.57 3.73 21.13 0.02 1.57,0.05,0.20
30,24,Dakshina Kannada 439733 55.33 1.53 41.54 0.04 ...,0.56,0.22
31,25,Kodagu 142716 67.69 0.85 29.60 0.00 0.65,0.00,0.24
32,26,Mysuru 700968 49.57 7.40 39.95 0.06 0.68,0.05,0.29
33,27,Chamarajanagara 244874 79.72 1.59 17.35 0.01 0.64,2.63,0.18
34,28,Chikkaballapura 284698 73.92 4.58 18.05 0.13 1.33,0.27,0.28
35,29,Ramanagara 260533 72.48 6.33 18.10 0.07 0.78,1.94,0.30
36,30,Yadgir 202063 86.60 0.58 9.47 0.40 0.18,0.31,0.27
37,NaN,State Total 13357027 61.32 5.02 27.48 0.12 1.06,0.64,0.34

In [93]:
#adding header
#new_row = [1, 2,  np.nan,967,968,969,970,971,972,973,974,975,976]
#index = 0
#output_list[3].loc[index + 1:] = output_list[3].loc[index:].shift(1)
#output_list[3].loc[index] = new_row
#output_list[3]

def add_header(df_list,idx_list, new_list):
    index = 0
    for i in range(len(idx_list)):
        df_list[idx_list[i]].loc[index + 1:] = df_list[idx_list[i]].loc[index:].shift(1)
        df_list[idx_list[i]].loc[index] = new_list[i]
    return df_list

In [94]:
def find_last_index(df_col):
    pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
    for idx in range(len(df_col)):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
                    if numbers_1 and numbers_1[0] == 30:
                        return idx+1
   
    return (len(df_col) - 1)

In [95]:
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    miss_list = []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        df_col = df_col.astype(str)

        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        flag = 0
        for idx in range(len(df_col) - 1):
            #print(idx, df_col.iloc[idx])
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = re.findall(pattern, df_col.iloc[idx+1])
                    numbers_2 = [int(num) if '.' not in num else float(num) for num in numbers_2]
                    #print(numbers_2)
            if numbers_1 and numbers_2 and numbers_1[0] == 1 and numbers_2[0] == 1:
                start_index = idx
                end_index = find_last_index(df_col)
                index_list.append([start_index, end_index])
                if(end_index - start_index) != 31:
                    miss_list.append(i)
                flag=1
                i += 1
                break

        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index, miss_list

In [96]:
index_list, drop_list, fault_list = find_header(output_list)

In [97]:
fault_list

[]

In [98]:
drop_list

[]

In [99]:
index_list

[[14, 45],
 [7, 38],
 [6, 37],
 [7, 38],
 [6, 37],
 [8, 39],
 [6, 37],
 [6, 37],
 [6, 37],
 [6, 37],
 [4, 35],
 [4, 35],
 [5, 36]]

In [100]:
len(index_list)

13

In [101]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        return new_df_list
    return df_list

In [102]:
def get_final_index(df_list, index_ll, drop_index, miss_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list, miss_list = find_header(df)
        drop_index = drop_list
        miss_index = miss_list
    return df, index_ll, drop_index, miss_index

In [103]:
new_output_list, new_index_list, new_drop_list, new_fault_list = get_final_index(output_list, index_list, drop_list, fault_list)

In [104]:
new_fault_list, new_drop_list

([], [])

In [105]:
new_index_list

[[14, 45],
 [7, 38],
 [6, 37],
 [7, 38],
 [6, 37],
 [8, 39],
 [6, 37],
 [6, 37],
 [6, 37],
 [6, 37],
 [4, 35],
 [4, 35],
 [5, 36]]

In [106]:
new_output_list[4]

,Unnamed: 0,15.4 2011ರ ಜನಗಣಯಂೆ ಧ ಇಂಧನ ಮೂಲಗಳನು ಅಡುೆೆ ಬಳಸುವ ಕುಟುಂಬಗಳ (ೇಕಡಾರು),Unnamed: 1,Unnamed: 2
0,NaN,Households by Type of Fuel used for Cooking as...,NaN,NaN
1,NaN,ಒಟು ಅಡುೆ,NaN,ಅಡುೆ
2,NaN,ಕುಟುಂಬಗಳ ೌೆ ೕಎೆ ಅಲ ೈಕ,NaN,ಾಡರುವ
3,SI.,ಸಂೆ Fire Kerosene LPG / ದುಚ ಅಲಇತೆ,NaN,No
4,No,Wood Districts Total No.of ElectricityPNG Bio...,NaN,Cooking
5,NaN,households,NaN,NaN
6,1,2 1431 1432 1433 1434 1435 1436 1437,NaN,1438
7,1,Belagavi 983854 70.74 1.48 20.87 0.08 1.64,4.70,0.38
8,2,Bagalkot 361149 83.96 1.11 14.23 0.04 0.39,0.03,0.23
9,3,Vijayapura 408806 72.17 1.71 14.56 0.07 0.45,2.93,0.19
10,4,Kalburgi 471601 72.75 2.79 16.78 0.12 0.35,0.05,0.22
11,5,Bidar 319937 71.47 1.86 11.04 0.11 0.29,0.16,0.22
12,6,Raichur 363853 79.35 1.33 14.32 0.76 0.63,0.18,0.35
13,7,Koppal 264595 84.14 1.26 12.21 0.13 0.26,0.09,0.24
14,8,Gadag 219096 78.43 1.12 14.82 0.06 0.67,0.08,0.23
15,9,Dharwad 382700 54.83 3.33 28.08 0.04 0.49,0.22,0.25
16,10,Uttara Kannada 324530 65.73 1.17 28.08 0.31 3.46,0.03,0.32
17,11,Haveri 330414 65.12 0.55 12.09 0.01 0.72,0.03,0.14
18,12,Ballari 547679 70.29 3.65 22.00 0.13 0.59,0.06,0.32
19,13,Chitradurga 357003 77.18 1.90 17.09 0.05 0.49,0.04,0.25
20,14,Davanagere 351615 61.53 1.78 28.26 0.08 1.27,0.09,0.34
21,15,Shivamogga 406816 59.41 4.08 31.86 0.25 2.04,0.06,0.27
22,16,Udupi 253078 64.80 0.45 32.70 0.19 0.92,0.02,0.48
23,17,Chikkamagaluru 276085 61.97 1.76 24.79 0.05 0.97,1.44,0.31
24,18,Tumakuru 640081 75.59 3.36 18.36 0.06 0.64,0.02,0.26
25,19,Kolara 333348 68.45 6.98 21.87 0.13 0.64,0.03,0.27
26,20,Bengaluru(U) 2393845 26.21 14.55 50.79 0.15 1.72,0.11,0.67
27,21,Bengaluru(R) 229279 54.13 8.86 34.46 0.15 1.16,0.03,0.38
28,22,Mandya 428625 74.45 3.91 18.85 0.07 0.62,0.03,0.18
29,23,Hassan 433453 71.57 3.73 21.13 0.02 1.57,0.05,0.20
30,24,Dakshina Kannada 439733 55.33 1.53 41.54 0.04 ...,0.56,0.22
31,25,Kodagu 142716 67.69 0.85 29.60 0.00 0.65,0.00,0.24
32,26,Mysuru 700968 49.57 7.40 39.95 0.06 0.68,0.05,0.29
33,27,Chamarajanagara 244874 79.72 1.59 17.35 0.01 0.64,2.63,0.18
34,28,Chikkaballapura 284698 73.92 4.58 18.05 0.13 1.33,0.27,0.28
35,29,Ramanagara 260533 72.48 6.33 18.10 0.07 0.78,1.94,0.30
36,30,Yadgir 202063 86.60 0.58 9.47 0.40 0.18,0.31,0.27
37,NaN,State Total 13357027 61.32 5.02 27.48 0.12 1.06,0.64,0.34

In [107]:
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(ind_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(ind_list[idx][0], ind_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [108]:
corrected_list = remove_header(new_output_list, new_index_list)

In [109]:
corrected_list[4]

,Unnamed: 0,15.4 2011ರ ಜನಗಣಯಂೆ ಧ ಇಂಧನ ಮೂಲಗಳನು ಅಡುೆೆ ಬಳಸುವ ಕುಟುಂಬಗಳ (ೇಕಡಾರು),Unnamed: 1,Unnamed: 2
0,1,2 1431 1432 1433 1434 1435 1436 1437,NaN,1438
1,1,Belagavi 983854 70.74 1.48 20.87 0.08 1.64,4.70,0.38
2,2,Bagalkot 361149 83.96 1.11 14.23 0.04 0.39,0.03,0.23
3,3,Vijayapura 408806 72.17 1.71 14.56 0.07 0.45,2.93,0.19
4,4,Kalburgi 471601 72.75 2.79 16.78 0.12 0.35,0.05,0.22
5,5,Bidar 319937 71.47 1.86 11.04 0.11 0.29,0.16,0.22
6,6,Raichur 363853 79.35 1.33 14.32 0.76 0.63,0.18,0.35
7,7,Koppal 264595 84.14 1.26 12.21 0.13 0.26,0.09,0.24
8,8,Gadag 219096 78.43 1.12 14.82 0.06 0.67,0.08,0.23
9,9,Dharwad 382700 54.83 3.33 28.08 0.04 0.49,0.22,0.25
10,10,Uttara Kannada 324530 65.73 1.17 28.08 0.31 3.46,0.03,0.32
11,11,Haveri 330414 65.12 0.55 12.09 0.01 0.72,0.03,0.14
12,12,Ballari 547679 70.29 3.65 22.00 0.13 0.59,0.06,0.32
13,13,Chitradurga 357003 77.18 1.90 17.09 0.05 0.49,0.04,0.25
14,14,Davanagere 351615 61.53 1.78 28.26 0.08 1.27,0.09,0.34
15,15,Shivamogga 406816 59.41 4.08 31.86 0.25 2.04,0.06,0.27
16,16,Udupi 253078 64.80 0.45 32.70 0.19 0.92,0.02,0.48
17,17,Chikkamagaluru 276085 61.97 1.76 24.79 0.05 0.97,1.44,0.31
18,18,Tumakuru 640081 75.59 3.36 18.36 0.06 0.64,0.02,0.26
19,19,Kolara 333348 68.45 6.98 21.87 0.13 0.64,0.03,0.27
20,20,Bengaluru(U) 2393845 26.21 14.55 50.79 0.15 1.72,0.11,0.67
21,21,Bengaluru(R) 229279 54.13 8.86 34.46 0.15 1.16,0.03,0.38
22,22,Mandya 428625 74.45 3.91 18.85 0.07 0.62,0.03,0.18
23,23,Hassan 433453 71.57 3.73 21.13 0.02 1.57,0.05,0.20
24,24,Dakshina Kannada 439733 55.33 1.53 41.54 0.04 ...,0.56,0.22
25,25,Kodagu 142716 67.69 0.85 29.60 0.00 0.65,0.00,0.24
26,26,Mysuru 700968 49.57 7.40 39.95 0.06 0.68,0.05,0.29
27,27,Chamarajanagara 244874 79.72 1.59 17.35 0.01 0.64,2.63,0.18
28,28,Chikkaballapura 284698 73.92 4.58 18.05 0.13 1.33,0.27,0.28
29,29,Ramanagara 260533 72.48 6.33 18.10 0.07 0.78,1.94,0.30
30,30,Yadgir 202063 86.60 0.58 9.47 0.40 0.18,0.31,0.27

In [110]:
len(corrected_list)

13

In [111]:
def check_nan(df_col):
    nan_columns = df_col[df_col.isna()].index.tolist()
    if len(nan_columns) == len(df_col):
        return []
    return nan_columns

In [112]:
def set_header_row(df_list_all):
    df_list = df_list_all
    new_df_list = []
    for df in df_list:
        header_row = df.iloc[0].tolist()
        for idx in range(len(header_row)):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx+1
                while j<len(header_row) and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j+=1
                if j<len(header_row) and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[0]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[1:])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        new_df_list.append(df)
    return new_df_list

In [113]:
corrected_header = set_header_row(corrected_list)

/tmp/ipykernel_5553/1838342043.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1438' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[0] = header_row

In [114]:
len(corrected_header)

13

In [115]:
corrected_header[4]

,Unnamed: 0,15.4 2011ರ ಜನಗಣಯಂೆ ಧ ಇಂಧನ ಮೂಲಗಳನು ಅಡುೆೆ ಬಳಸುವ ಕುಟುಂಬಗಳ (ೇಕಡಾರು),Unnamed: 1,Unnamed: 2
0,1,2 1431 1432 1433 1434 1435 1436 1437,1438,NaN
1,1,Belagavi 983854 70.74 1.48 20.87 0.08 1.64,4.7,0.38
2,2,Bagalkot 361149 83.96 1.11 14.23 0.04 0.39,0.03,0.23
3,3,Vijayapura 408806 72.17 1.71 14.56 0.07 0.45,2.93,0.19
4,4,Kalburgi 471601 72.75 2.79 16.78 0.12 0.35,0.05,0.22
5,5,Bidar 319937 71.47 1.86 11.04 0.11 0.29,0.16,0.22
6,6,Raichur 363853 79.35 1.33 14.32 0.76 0.63,0.18,0.35
7,7,Koppal 264595 84.14 1.26 12.21 0.13 0.26,0.09,0.24
8,8,Gadag 219096 78.43 1.12 14.82 0.06 0.67,0.08,0.23
9,9,Dharwad 382700 54.83 3.33 28.08 0.04 0.49,0.22,0.25
10,10,Uttara Kannada 324530 65.73 1.17 28.08 0.31 3.46,0.03,0.32
11,11,Haveri 330414 65.12 0.55 12.09 0.01 0.72,0.03,0.14
12,12,Ballari 547679 70.29 3.65 22.00 0.13 0.59,0.06,0.32
13,13,Chitradurga 357003 77.18 1.90 17.09 0.05 0.49,0.04,0.25
14,14,Davanagere 351615 61.53 1.78 28.26 0.08 1.27,0.09,0.34
15,15,Shivamogga 406816 59.41 4.08 31.86 0.25 2.04,0.06,0.27
16,16,Udupi 253078 64.80 0.45 32.70 0.19 0.92,0.02,0.48
17,17,Chikkamagaluru 276085 61.97 1.76 24.79 0.05 0.97,1.44,0.31
18,18,Tumakuru 640081 75.59 3.36 18.36 0.06 0.64,0.02,0.26
19,19,Kolara 333348 68.45 6.98 21.87 0.13 0.64,0.03,0.27
20,20,Bengaluru(U) 2393845 26.21 14.55 50.79 0.15 1.72,0.11,0.67
21,21,Bengaluru(R) 229279 54.13 8.86 34.46 0.15 1.16,0.03,0.38
22,22,Mandya 428625 74.45 3.91 18.85 0.07 0.62,0.03,0.18
23,23,Hassan 433453 71.57 3.73 21.13 0.02 1.57,0.05,0.20
24,24,Dakshina Kannada 439733 55.33 1.53 41.54 0.04 ...,0.56,0.22
25,25,Kodagu 142716 67.69 0.85 29.60 0.00 0.65,0.0,0.24
26,26,Mysuru 700968 49.57 7.40 39.95 0.06 0.68,0.05,0.29
27,27,Chamarajanagara 244874 79.72 1.59 17.35 0.01 0.64,2.63,0.18
28,28,Chikkaballapura 284698 73.92 4.58 18.05 0.13 1.33,0.27,0.28
29,29,Ramanagara 260533 72.48 6.33 18.10 0.07 0.78,1.94,0.30
30,30,Yadgir 202063 86.60 0.58 9.47 0.40 0.18,0.31,0.27

In [116]:
def update_header(df_list,idx_list, new_list):
    index = 0
    for i in range(len(idx_list)):
        df_list[idx_list[i]].loc[index] = new_list[i]
    return df_list

In [119]:
i_list = [4]
new_value_list = [['1','2 1431 1432 1433 1434 1435 1436', '1437','1438']]

In [120]:
corrected_header = update_header(corrected_header,i_list, new_value_list)

In [121]:
len(corrected_header)

13

In [122]:
corrected_header[4]

,Unnamed: 0,15.4 2011ರ ಜನಗಣಯಂೆ ಧ ಇಂಧನ ಮೂಲಗಳನು ಅಡುೆೆ ಬಳಸುವ ಕುಟುಂಬಗಳ (ೇಕಡಾರು),Unnamed: 1,Unnamed: 2
0,1,2 1431 1432 1433 1434 1435 1436,1437,1438
1,1,Belagavi 983854 70.74 1.48 20.87 0.08 1.64,4.7,0.38
2,2,Bagalkot 361149 83.96 1.11 14.23 0.04 0.39,0.03,0.23
3,3,Vijayapura 408806 72.17 1.71 14.56 0.07 0.45,2.93,0.19
4,4,Kalburgi 471601 72.75 2.79 16.78 0.12 0.35,0.05,0.22
5,5,Bidar 319937 71.47 1.86 11.04 0.11 0.29,0.16,0.22
6,6,Raichur 363853 79.35 1.33 14.32 0.76 0.63,0.18,0.35
7,7,Koppal 264595 84.14 1.26 12.21 0.13 0.26,0.09,0.24
8,8,Gadag 219096 78.43 1.12 14.82 0.06 0.67,0.08,0.23
9,9,Dharwad 382700 54.83 3.33 28.08 0.04 0.49,0.22,0.25
10,10,Uttara Kannada 324530 65.73 1.17 28.08 0.31 3.46,0.03,0.32
11,11,Haveri 330414 65.12 0.55 12.09 0.01 0.72,0.03,0.14
12,12,Ballari 547679 70.29 3.65 22.00 0.13 0.59,0.06,0.32
13,13,Chitradurga 357003 77.18 1.90 17.09 0.05 0.49,0.04,0.25
14,14,Davanagere 351615 61.53 1.78 28.26 0.08 1.27,0.09,0.34
15,15,Shivamogga 406816 59.41 4.08 31.86 0.25 2.04,0.06,0.27
16,16,Udupi 253078 64.80 0.45 32.70 0.19 0.92,0.02,0.48
17,17,Chikkamagaluru 276085 61.97 1.76 24.79 0.05 0.97,1.44,0.31
18,18,Tumakuru 640081 75.59 3.36 18.36 0.06 0.64,0.02,0.26
19,19,Kolara 333348 68.45 6.98 21.87 0.13 0.64,0.03,0.27
20,20,Bengaluru(U) 2393845 26.21 14.55 50.79 0.15 1.72,0.11,0.67
21,21,Bengaluru(R) 229279 54.13 8.86 34.46 0.15 1.16,0.03,0.38
22,22,Mandya 428625 74.45 3.91 18.85 0.07 0.62,0.03,0.18
23,23,Hassan 433453 71.57 3.73 21.13 0.02 1.57,0.05,0.20
24,24,Dakshina Kannada 439733 55.33 1.53 41.54 0.04 ...,0.56,0.22
25,25,Kodagu 142716 67.69 0.85 29.60 0.00 0.65,0.0,0.24
26,26,Mysuru 700968 49.57 7.40 39.95 0.06 0.68,0.05,0.29
27,27,Chamarajanagara 244874 79.72 1.59 17.35 0.01 0.64,2.63,0.18
28,28,Chikkaballapura 284698 73.92 4.58 18.05 0.13 1.33,0.27,0.28
29,29,Ramanagara 260533 72.48 6.33 18.10 0.07 0.78,1.94,0.30
30,30,Yadgir 202063 86.60 0.58 9.47 0.40 0.18,0.31,0.27

In [123]:
def set_index_col(df_list):
    new_df_list = []
    for df in df_list:
        nan_col = check_nan(df.iloc[:,0])
        if len(df.index) > 31 and len(nan_col)>1:
            for idx in range(len(nan_col)-1):
                if nan_col[idx]+2 == nan_col[idx+1] and nan_col[idx]+1 not in nan_col:
                    for i in range(df.shape[1]):
                        p = nan_col[idx]
                        q = nan_col[idx]+1
                        r = nan_col[idx+1]
                        if i>0 and not (isinstance(df.iloc[p,i], float) and math.isnan(df.iloc[p,i])) and  not (isinstance(df.iloc[r,i], float) and math.isnan(df.iloc[r,i])):
                            if (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i]])
                            elif not (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i], df.iloc[q,i]])
                    idx+=1
            df = df.drop(nan_col)
        df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [124]:
corrected_index = set_index_col(corrected_header)

In [125]:
len(corrected_index)

13

In [126]:
corrected_index[3]

   15.3 2011ರ ಜನಗಣಯಂೆ ಾಸದ ಕುಟುಂಬಗೆ ಕುಯುವ ೕನ ಹಂೆ ಮೂಲಗಳ (ೇಕಡಾರು)
0                             1 2 1427 1428 1429 1430
1                        1 ೆಳಾ 0.44 2.94 0.40 1.05
2                      2 ಾಗಲೋೆ 0.30 2.64 0.26 1.02
3                        3 ಜಯಪರ 0.14 0.65 0.08 0.45
4                        4 ಕಲು 0.06 1.05 0.22 0.52
5                          5 ೕದ 0.27 0.13 0.31 1.04
6                       6 ಾಯಚೂರು 4.24 2.30 1.37 0.84
7                         7 ೊಪಳ 1.07 0.39 0.04 0.40
8                           8 ಗದ 7.57 0.60 0.11 0.86
9                        9 ಾರಾಡ 8.14 0.19 0.00 0.44
10                    10 ಉತರ ಕನಡ 1.66 1.31 1.89 0.96
11                       11 ಾೇ 0.28 0.50 0.01 1.14
12                       12 ಬಾ 0.54 0.70 0.40 0.52
13                     13 ತದುಗ 0.30 0.13 0.08 0.68
14                    14 ಾವಣೆೆ 0.15 1.10 0.08 0.50
15                        15 ವಗ 1.46 0.69 1.33 0.87
16                        16 ಉಡು 0.85 0.48 0.19 1.17
17                   17 ಕಮಗಳರು 2.10 3.00 2.08 0.79
18                     18 ತುಮಕೂರು 0.09 0.05 0.04 1.08
19                       19 ೋಾರ 0.76 0.02 0.01 3.15
20                 20 ೆ೦ಗಳರು(ನ) 0.02 0.00 0.10 1.82
21               21 ೆ೦ಗಳರು(ಾ) 0.03 0.00 0.00 3.58
22                        22 ಮಂಡ 0.03 0.20 0.10 0.47
23                        23 ಾಸನ 0.30 0.41 0.21 0.44
24                    24 ದಣ ಕನಡ 3.26 0.86 0.94 1.42
25                       25 ೊಡಗು 2.07 2.40 1.90 0.80
26                      26 ೖಸೂರು 0.09 0.59 0.08 0.58
27                   27 ಾಮಾಜನಗರ 0.04 0.24 0.09 0.61
28                  28 ಕಬಾಪರ 0.17 0.07 0.22 1.52
29                      29 ಾಮನಗರ 0.02 0.02 0.08 0.57
30                       30 ಾದ 0.35 0.86 0.22 0.52

In [127]:
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = re.findall(pattern, df_col.iloc[0])
                numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                #numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)

                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)
        elif df_col.dtype == float:
            df.iloc[:,0] = df.iloc[:,0].astype(int).astype(str)
            new_df.append(df)
    return new_df

In [128]:
new_list = first_column_split(corrected_index)

In [129]:
len(new_list)

13

In [130]:
new_list[3]

   col1                               col2
0     1              2 1427 1428 1429 1430
1     1         ೆಳಾ 0.44 2.94 0.40 1.05
2     2       ಾಗಲೋೆ 0.30 2.64 0.26 1.02
3     3         ಜಯಪರ 0.14 0.65 0.08 0.45
4     4         ಕಲು 0.06 1.05 0.22 0.52
5     5           ೕದ 0.27 0.13 0.31 1.04
6     6        ಾಯಚೂರು 4.24 2.30 1.37 0.84
7     7          ೊಪಳ 1.07 0.39 0.04 0.40
8     8            ಗದ 7.57 0.60 0.11 0.86
9     9         ಾರಾಡ 8.14 0.19 0.00 0.44
10   10       ಉತರ ಕನಡ 1.66 1.31 1.89 0.96
11   11          ಾೇ 0.28 0.50 0.01 1.14
12   12          ಬಾ 0.54 0.70 0.40 0.52
13   13        ತದುಗ 0.30 0.13 0.08 0.68
14   14       ಾವಣೆೆ 0.15 1.10 0.08 0.50
15   15           ವಗ 1.46 0.69 1.33 0.87
16   16           ಉಡು 0.85 0.48 0.19 1.17
17   17      ಕಮಗಳರು 2.10 3.00 2.08 0.79
18   18        ತುಮಕೂರು 0.09 0.05 0.04 1.08
19   19          ೋಾರ 0.76 0.02 0.01 3.15
20   20    ೆ೦ಗಳರು(ನ) 0.02 0.00 0.10 1.82
21   21  ೆ೦ಗಳರು(ಾ) 0.03 0.00 0.00 3.58
22   22           ಮಂಡ 0.03 0.20 0.10 0.47
23   23           ಾಸನ 0.30 0.41 0.21 0.44
24   24       ದಣ ಕನಡ 3.26 0.86 0.94 1.42
25   25          ೊಡಗು 2.07 2.40 1.90 0.80
26   26         ೖಸೂರು 0.09 0.59 0.08 0.58
27   27      ಾಮಾಜನಗರ 0.04 0.24 0.09 0.61
28   28     ಕಬಾಪರ 0.17 0.07 0.22 1.52
29   29         ಾಮನಗರ 0.02 0.02 0.08 0.57
30   30          ಾದ 0.35 0.86 0.22 0.52

In [131]:
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [132]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [133]:
#replaced_list = replace_with_nan(new_list)
replaced_list = new_list

In [134]:
replaced_list[3]

   col1                               col2
0     1              2 1427 1428 1429 1430
1     1         ೆಳಾ 0.44 2.94 0.40 1.05
2     2       ಾಗಲೋೆ 0.30 2.64 0.26 1.02
3     3         ಜಯಪರ 0.14 0.65 0.08 0.45
4     4         ಕಲು 0.06 1.05 0.22 0.52
5     5           ೕದ 0.27 0.13 0.31 1.04
6     6        ಾಯಚೂರು 4.24 2.30 1.37 0.84
7     7          ೊಪಳ 1.07 0.39 0.04 0.40
8     8            ಗದ 7.57 0.60 0.11 0.86
9     9         ಾರಾಡ 8.14 0.19 0.00 0.44
10   10       ಉತರ ಕನಡ 1.66 1.31 1.89 0.96
11   11          ಾೇ 0.28 0.50 0.01 1.14
12   12          ಬಾ 0.54 0.70 0.40 0.52
13   13        ತದುಗ 0.30 0.13 0.08 0.68
14   14       ಾವಣೆೆ 0.15 1.10 0.08 0.50
15   15           ವಗ 1.46 0.69 1.33 0.87
16   16           ಉಡು 0.85 0.48 0.19 1.17
17   17      ಕಮಗಳರು 2.10 3.00 2.08 0.79
18   18        ತುಮಕೂರು 0.09 0.05 0.04 1.08
19   19          ೋಾರ 0.76 0.02 0.01 3.15
20   20    ೆ೦ಗಳರು(ನ) 0.02 0.00 0.10 1.82
21   21  ೆ೦ಗಳರು(ಾ) 0.03 0.00 0.00 3.58
22   22           ಮಂಡ 0.03 0.20 0.10 0.47
23   23           ಾಸನ 0.30 0.41 0.21 0.44
24   24       ದಣ ಕನಡ 3.26 0.86 0.94 1.42
25   25          ೊಡಗು 2.07 2.40 1.90 0.80
26   26         ೖಸೂರು 0.09 0.59 0.08 0.58
27   27      ಾಮಾಜನಗರ 0.04 0.24 0.09 0.61
28   28     ಕಬಾಪರ 0.17 0.07 0.22 1.52
29   29         ಾಮನಗರ 0.02 0.02 0.08 0.57
30   30          ಾದ 0.35 0.86 0.22 0.52

In [135]:
len(replaced_list)

13

In [136]:
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        for colName, colData in df.items():
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = [int(x) for x in re.findall(pattern, colData.values[0])]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        colData = colData.str.replace(r'\s+', ' ', regex=True)
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)

        new_df_list.append(new_df)
    return new_df_list

In [137]:
separated_list = all_column_split(replaced_list)

In [138]:
len(separated_list)

13

In [139]:
separated_list[2]

   Unnamed: 0                 0        1      2      3      4      5
0           1                 2     1422   1423   1424   1425   1426
1           1          Belagavi   983854  54.08  14.39   7.83  19.33
2           2          Bagalkot   361149  64.69   2.92   6.31  20.88
3           3        Vijayapura   408806  48.33  13.14  22.72  12.40
4           4          Kalburgi   471601  56.90  10.65  15.00  14.72
5           5             Bidar   319937  50.70  12.78  17.54  16.84
6           6           Raichur   363853  61.10   5.27   9.53  11.80
7           7            Koppal   264595  72.01   2.61   6.70  15.41
8           8             Gadag   219096  72.68   2.58   5.22   8.40
9           9           Dharwad   382700  73.85   0.89   2.53  10.71
10         10    Uttara Kannada   324530  27.58  60.36   2.95   4.26
11         11            Haveri   330414  70.04   0.98   2.60  17.08
12         12           Ballari   547679  78.78   1.45   3.39  13.23
13         13       Chitradurga   357003  65.56   1.49   6.63  25.10
14         14        Davanagere   351615  69.75   1.25   4.52  21.50
15         15        Shivamogga   406816  65.34  20.80   1.68   9.10
16         16             Udupi   253078  18.60  73.51   1.17   4.05
17         17    Chikkamagaluru   276085  61.79   8.93   3.55  11.57
18         18          Tumakuru   640081  66.87   1.73   6.31  23.90
19         19            Kolara   333348  63.02   1.59   0.80  27.45
20         20      Bengaluru(U)  2393845  62.02   0.74   0.75  29.65
21         21      Bengaluru(R)   229279  66.84   0.48   0.76  28.01
22         22            Mandya   428625  77.55   1.94   6.09  13.65
23         23            Hassan   433453  63.44   2.85   8.63  24.06
24         24  Dakshina Kannada   439733  43.92  42.98   0.73   8.23
25         25            Kodagu   142716  48.11  33.41   2.45   9.76
26         26            Mysuru   700968  82.47   1.62   6.59   8.26
27         27   Chamarajanagara   224874  66.31   2.93  11.52  18.12
28         28   Chikkaballapura   284698  71.46   1.38   1.08  23.95
29         29        Ramanagara   260533  80.98   0.71   1.61  16.00
30         30            Yadgir   202063  47.00  11.97  25.02  12.16

In [140]:
def check_single_column(df_list):
    new_df_list = []
    for df in df_list:
        df.fillna(value="", inplace=True)
        num_col = len(df.columns)
        for idx in range(num_col-1, 1, -1):
            cardinality = len(str(df.iloc[0,idx]).split())
            #print("idx", idx, df.iloc[0,idx], cardinality)
            for i in range(len(df.iloc[:,idx])):
                if i>0:
                    cell_car = len(str(df.iloc[i,idx]).split())
                    #print("i", i, df.iloc[i,idx], cell_car)
                    if cell_car > cardinality:
                       
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("more", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col1:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col2:
                                df.iloc[i, idx-1] = ' '.join(words_col2) + ' ' + words_col1[0]
                            else:
                                df.iloc[i, idx-1] = words_col1[0]

                            # Update the first column with the remaining words
                            df.iloc[i, idx] = ' '.join(words_col1[1:])
                        
                    if cell_car < cardinality:
                        
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("less", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col2:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col1:
                                df.iloc[i, idx] = words_col2[-1] + ' ' + ' '.join(words_col1)
                            else:
                                df.iloc[i, idx] = words_col2[-1]

                            # Update the first column with the remaining words
                            df.iloc[i, idx-1] = ' '.join(words_col2[:-1])
                        if df.iloc[i, idx-1]==' ':
                            df.iloc[i, idx-1] = ''
                        
        new_df_list.append(df)
    return new_df_list

In [141]:
updated_list = check_single_column(separated_list)

In [142]:
len(updated_list)

13

In [163]:
updated_list[4]

0    1                 2     1431   1432   1433   1434  1435  1436  1437  1438
0    1                 2     1431   1432   1433   1434  1435  1436  1437  1438
1    1          Belagavi   983854  70.74   1.48  20.87  0.08  1.64   4.7  0.38
2    2          Bagalkot   361149  83.96   1.11  14.23  0.04  0.39  0.03  0.23
3    3        Vijayapura   408806  72.17   1.71  14.56  0.07  0.45  2.93  0.19
4    4          Kalburgi   471601  72.75   2.79  16.78  0.12  0.35  0.05  0.22
5    5             Bidar   319937  71.47   1.86  11.04  0.11  0.29  0.16  0.22
6    6           Raichur   363853  79.35   1.33  14.32  0.76  0.63  0.18  0.35
7    7            Koppal   264595  84.14   1.26  12.21  0.13  0.26  0.09  0.24
8    8             Gadag   219096  78.43   1.12  14.82  0.06  0.67  0.08  0.23
9    9           Dharwad   382700  54.83   3.33  28.08  0.04  0.49  0.22  0.25
10  10    Uttara Kannada   324530  65.73   1.17  28.08  0.31  3.46  0.03  0.32
11  11            Haveri   330414  65.12   0.55  12.09  0.01  0.72  0.03  0.14
12  12           Ballari   547679  70.29   3.65  22.00  0.13  0.59  0.06  0.32
13  13       Chitradurga   357003  77.18   1.90  17.09  0.05  0.49  0.04  0.25
14  14        Davanagere   351615  61.53   1.78  28.26  0.08  1.27  0.09  0.34
15  15        Shivamogga   406816  59.41   4.08  31.86  0.25  2.04  0.06  0.27
16  16             Udupi   253078  64.80   0.45  32.70  0.19  0.92  0.02  0.48
17  17    Chikkamagaluru   276085  61.97   1.76  24.79  0.05  0.97  1.44  0.31
18  18          Tumakuru   640081  75.59   3.36  18.36  0.06  0.64  0.02  0.26
19  19            Kolara   333348  68.45   6.98  21.87  0.13  0.64  0.03  0.27
20  20      Bengaluru(U)  2393845  26.21  14.55  50.79  0.15  1.72  0.11  0.67
21  21      Bengaluru(R)   229279  54.13   8.86  34.46  0.15  1.16  0.03  0.38
22  22            Mandya   428625  74.45   3.91  18.85  0.07  0.62  0.03  0.18
23  23            Hassan   433453  71.57   3.73  21.13  0.02  1.57  0.05  0.20
24  24  Dakshina Kannada   439733  55.33   1.53  41.54  0.04  0.76  0.56  0.22
25  25            Kodagu   142716  67.69   0.85  29.60  0.00  0.65   0.0  0.24
26  26            Mysuru   700968  49.57   7.40  39.95  0.06  0.68  0.05  0.29
27  27   Chamarajanagara   244874  79.72   1.59  17.35  0.01  0.64  2.63  0.18
28  28   Chikkaballapura   284698  73.92   4.58  18.05  0.13  1.33  0.27  0.28
29  29        Ramanagara   260533  72.48   6.33  18.10  0.07  0.78  1.94  0.30
30  30            Yadgir   202063  86.60   0.58   9.47  0.40  0.18  0.31  0.27

In [164]:
len(updated_list)

13

In [145]:
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [146]:
final_list = reset_header(updated_list)

In [147]:
final_list[0]

0                  1 2     1409   1410   1411   1412  1413  1414  1415
0           1 ೆಳಾ    1318975  11.20  88.80  77.70  2.70  5.00  0.80
1         2 ಾಗಲೋೆ     490657  12.60  87.40  80.30  2.40  6.00  0.90
2           3 ಜಯಪರ     527490  10.30  89.70  83.90  1.40  5.60  0.90
3           4 ಕಲು     600007   8.20  91.80  83.00  1.30  5.80  0.90
4             5 ೕದ     389403   6.10  93.90  84.20  1.40  6.80  0.90
5          6 ಾಯಚೂರು     455848   7.80  92.20  83.70  1.60  4.70  0.90
6            7 ೊಪಳ     337649   9.80  90.20  82.50  2.50  5.00  0.90
7              8 ಗದ     291972  12.20  87.80  81.20  2.70  6.10  0.80
8           9 ಾರಾಡ     483104   9.30  90.70  80.60  2.20  6.60  0.70
9        10 ಉತರ ಕನಡ     474792  10.00  90.00  72.60  1.30  6.20  1.30
10          11 ಾೇ     413564   8.00  92.00  81.10  2.60  4.90  1.00
11          12 ಬಾ     623480  10.48  89.52  84.46  1.66  4.96  0.80
12        13 ತದುಗ     447348   7.90  92.10  83.50  2.30  3.90  1.20
13       14 ಾವಣೆೆ     530691   8.30  91.74  74.07  2.20  4.41  0.84
14           15 ವಗ     554106   7.70  92.30  76.70  1.50  5.50  1.10
15           16 ಉಡು     385389   8.90  91.10  68.80  1.00  7.60  0.90
16      17 ಕಮಗಳರು     392426  11.50  88.50  75.90  2.30  4.60  1.20
17        18 ತುಮಕೂರು     890242  10.00  90.00  76.30  3.00  4.90  1.20
18          19 ೋಾರ     477609  11.70  88.30  76.40  1.90  6.80  1.30
19    20 ೆ೦ಗಳರು(ನ)    3267960  11.10  88.90  80.90  0.80  8.90  0.30
20  21 ೆ೦ಗಳರು(ಾ)     326462  12.20  87.80  75.50  2.80  7.10  1.00
21           22 ಮಂಡ     562302   8.30  91.70  74.90  7.40  5.20  1.00
22           23 ಾಸನ     628981  10.50  89.50  70.10  6.00  4.70  1.30
23       24 ದಣ ಕನಡ     650292   9.70  90.30  64.60  7.70  8.50  1.00
24          25 ೊಡಗು     212974  13.20  86.80  73.50  1.00  6.00  0.90
25         26 ೖಸೂರು     920982   8.40  91.60  78.00  3.40  5.60  0.70
26      27 ಾಮಾಜನಗರ     319880  10.80  89.20  83.00  2.20  4.40  1.00
27     28 ಕಬಾಪರ     409702  10.40  89.60  74.60  2.10  6.10  1.20
28         29 ಾಮನಗರ     351784   9.60  90.40  76.80  4.70  5.40  1.00
29          30 ಾದ     262995   9.90  90.10  82.50  2.00  5.10  1.00

In [148]:
def get_empty_col(df_list):
    index_list=[]
    for i in range(len(df_list)):
        empty_columns = df_list[i].columns[df_list[i].isna().all()].tolist()
        if len(empty_columns) > 0:
            index_list.append([i,empty_columns])
    return index_list

In [149]:
empty_col = get_empty_col(final_list)
empty_col

[]

In [150]:
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [151]:
final_df = concat_dataframe(final_list)

In [152]:
final_df

,1,2,1409,1410,1411,1412,1413,1414,1415,1416,...,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477
0,1 ೆಳಾ,,1318975,11.20,88.80,77.70,2.70,5.00,0.80,983854,...,5,0,0,31,36,66,13,87,545,711
1,2 ಾಗಲೋೆ,,490657,12.60,87.40,80.30,2.40,6.00,0.90,361149,...,0,0,0,18,18,42,2,66,352,462
2,3 ಜಯಪರ,,527490,10.30,89.70,83.90,1.40,5.60,0.90,408806,...,20,0,0,118,138,55,10,242,619,926
3,4 ಕಲು,,600007,8.20,91.80,83.00,1.30,5.80,0.90,471601,...,6,0,0,0,6,25,4,42,165,236
4,5 ೕದ,,389403,6.10,93.90,84.20,1.40,6.80,0.90,319937,...,0,0,0,0,0,1,0,25,113,139
5,6 ಾಯಚೂರು,,455848,7.80,92.20,83.70,1.60,4.70,0.90,363853,...,5,0,0,1,6,37,15,54,154,260
6,7 ೊಪಳ,,337649,9.80,90.20,82.50,2.50,5.00,0.90,264595,...,2,0,0,1,3,35,11,73,299,418
7,8 ಗದ,,291972,12.20,87.80,81.20,2.70,6.10,0.80,219096,...,1,1,0,7,9,15,7,27,178,227
8,9 ಾರಾಡ,,483104,9.30,90.70,80.60,2.20,6.60,0.70,382700,...,4,0,0,0,4,4,0,34,115,153
9,10 ಉತರ ಕನಡ,,474792,10.00,90.00,72.60,1.30,6.20,1.30,324530,...,0,0,0,0,0,19,0,22,118,159
10,11 ಾೇ,,413564,8.00,92.00,81.10,2.60,4.90,1.00,330414,...,1,0,0,0,1,32,15,67,169,283
11,12 ಬಾ,,623480,10.48,89.52,84.46,1.66,4.96,0.80,547679,...,1,0,0,2,3,70,51,53,324,498
12,13 ತದುಗ,,447348,7.90,92.10,83.50,2.30,3.90,1.20,357003,...,0,0,0,0,0,15,14,9,49,87
13,14 ಾವಣೆೆ,,530691,8.30,91.74,74.07,2.20,4.41,0.84,351615,...,0,0,0,6,6,6,4,38,122,170
14,15 ವಗ,,554106,7.70,92.30,76.70,1.50,5.50,1.10,406816,...,0,0,0,0,0,3,1,52,147,203
15,16 ಉಡು,,385389,8.90,91.10,68.80,1.00,7.60,0.90,253078,...,0,0,0,0,0,2,1,18,88,109
16,17 ಕಮಗಳರು,,392426,11.50,88.50,75.90,2.30,4.60,1.20,276085,...,2,0,0,18,20,1,1,14,57,73
17,18 ತುಮಕೂರು,,890242,10.00,90.00,76.30,3.00,4.90,1.20,640081,...,4,0,0,1,5,4,0,68,151,223
18,19 ೋಾರ,,477609,11.70,88.30,76.40,1.90,6.80,1.30,333348,...,0,0,0,0,0,3,0,56,76,135
19,20 ೆ೦ಗಳರು(ನ),,3267960,11.10,88.90,80.90,0.80,8.90,0.30,2393845,...,0,0,0,0,0,0,0,6,22,28
20,21 ೆ೦ಗಳರು(ಾ),,326462,12.20,87.80,75.50,2.80,7.10,1.00,229279,...,0,0,0,1,1,7,1,18,112,138
21,22 ಮಂಡ,,562302,8.30,91.70,74.90,7.40,5.20,1.00,428625,...,0,0,0,0,0,6,1,17,53,77
22,23 ಾಸನ,,628981,10.50,89.50,70.10,6.00,4.70,1.30,433453,...,0,0,0,0,0,1,0,20,52,73
23,24 ದಣ ಕನಡ,,650292,9.70,90.30,64.60,7.70,8.50,1.00,439733,...,0,0,0,0,0,4,0,47,96,147
24,25 ೊಡಗು,,212974,13.20,86.80,73.50,1.00,6.00,0.90,142716,...,0,0,0,0,0,1,0,4,10,15
25,26 ೖಸೂರು,,920982,8.40,91.60,78.00,3.40,5.60,0.70,700968,...,3,0,0,5,8,12,9,101,229,351
26,27 ಾಮಾಜನಗರ,,319880,10.80,89.20,83.00,2.20,4.40,1.00,244874,...,0,0,0,0,0,17,0,41,96,154
27,28 ಕಬಾಪರ,,409702,10.40,89.60,74.60,2.10,6.10,1.20,284698,...,0,0,0,0,0,4,2,81,70,157
28,29 ಾಮನಗರ,,351784,9.60,90.40,76.80,4.70,5.40,1.00,260533,...,0,0,0,0,0,13,0,28,98,139
29,30 ಾದ,,262995,9.90,90.10,82.50,2.00,5.10,1.00,202063,...,4,1,0,0,5,27,33,24,129,213

In [153]:
final_df.columns = final_df.columns.astype(int)

In [154]:
final_df[2]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
Name: 2, dtype: object

In [155]:
final_df = final_df.reindex(sorted(final_df.columns, key=int), axis=1)

In [156]:
final_df

,1,2,1409,1410,1411,1412,1413,1414,1415,1416,...,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477
0,1 ೆಳಾ,,1318975,11.20,88.80,77.70,2.70,5.00,0.80,983854,...,5,0,0,31,36,66,13,87,545,711
1,2 ಾಗಲೋೆ,,490657,12.60,87.40,80.30,2.40,6.00,0.90,361149,...,0,0,0,18,18,42,2,66,352,462
2,3 ಜಯಪರ,,527490,10.30,89.70,83.90,1.40,5.60,0.90,408806,...,20,0,0,118,138,55,10,242,619,926
3,4 ಕಲು,,600007,8.20,91.80,83.00,1.30,5.80,0.90,471601,...,6,0,0,0,6,25,4,42,165,236
4,5 ೕದ,,389403,6.10,93.90,84.20,1.40,6.80,0.90,319937,...,0,0,0,0,0,1,0,25,113,139
5,6 ಾಯಚೂರು,,455848,7.80,92.20,83.70,1.60,4.70,0.90,363853,...,5,0,0,1,6,37,15,54,154,260
6,7 ೊಪಳ,,337649,9.80,90.20,82.50,2.50,5.00,0.90,264595,...,2,0,0,1,3,35,11,73,299,418
7,8 ಗದ,,291972,12.20,87.80,81.20,2.70,6.10,0.80,219096,...,1,1,0,7,9,15,7,27,178,227
8,9 ಾರಾಡ,,483104,9.30,90.70,80.60,2.20,6.60,0.70,382700,...,4,0,0,0,4,4,0,34,115,153
9,10 ಉತರ ಕನಡ,,474792,10.00,90.00,72.60,1.30,6.20,1.30,324530,...,0,0,0,0,0,19,0,22,118,159
10,11 ಾೇ,,413564,8.00,92.00,81.10,2.60,4.90,1.00,330414,...,1,0,0,0,1,32,15,67,169,283
11,12 ಬಾ,,623480,10.48,89.52,84.46,1.66,4.96,0.80,547679,...,1,0,0,2,3,70,51,53,324,498
12,13 ತದುಗ,,447348,7.90,92.10,83.50,2.30,3.90,1.20,357003,...,0,0,0,0,0,15,14,9,49,87
13,14 ಾವಣೆೆ,,530691,8.30,91.74,74.07,2.20,4.41,0.84,351615,...,0,0,0,6,6,6,4,38,122,170
14,15 ವಗ,,554106,7.70,92.30,76.70,1.50,5.50,1.10,406816,...,0,0,0,0,0,3,1,52,147,203
15,16 ಉಡು,,385389,8.90,91.10,68.80,1.00,7.60,0.90,253078,...,0,0,0,0,0,2,1,18,88,109
16,17 ಕಮಗಳರು,,392426,11.50,88.50,75.90,2.30,4.60,1.20,276085,...,2,0,0,18,20,1,1,14,57,73
17,18 ತುಮಕೂರು,,890242,10.00,90.00,76.30,3.00,4.90,1.20,640081,...,4,0,0,1,5,4,0,68,151,223
18,19 ೋಾರ,,477609,11.70,88.30,76.40,1.90,6.80,1.30,333348,...,0,0,0,0,0,3,0,56,76,135
19,20 ೆ೦ಗಳರು(ನ),,3267960,11.10,88.90,80.90,0.80,8.90,0.30,2393845,...,0,0,0,0,0,0,0,6,22,28
20,21 ೆ೦ಗಳರು(ಾ),,326462,12.20,87.80,75.50,2.80,7.10,1.00,229279,...,0,0,0,1,1,7,1,18,112,138
21,22 ಮಂಡ,,562302,8.30,91.70,74.90,7.40,5.20,1.00,428625,...,0,0,0,0,0,6,1,17,53,77
22,23 ಾಸನ,,628981,10.50,89.50,70.10,6.00,4.70,1.30,433453,...,0,0,0,0,0,1,0,20,52,73
23,24 ದಣ ಕನಡ,,650292,9.70,90.30,64.60,7.70,8.50,1.00,439733,...,0,0,0,0,0,4,0,47,96,147
24,25 ೊಡಗು,,212974,13.20,86.80,73.50,1.00,6.00,0.90,142716,...,0,0,0,0,0,1,0,4,10,15
25,26 ೖಸೂರು,,920982,8.40,91.60,78.00,3.40,5.60,0.70,700968,...,3,0,0,5,8,12,9,101,229,351
26,27 ಾಮಾಜನಗರ,,319880,10.80,89.20,83.00,2.20,4.40,1.00,244874,...,0,0,0,0,0,17,0,41,96,154
27,28 ಕಬಾಪರ,,409702,10.40,89.60,74.60,2.10,6.10,1.20,284698,...,0,0,0,0,0,4,2,81,70,157
28,29 ಾಮನಗರ,,351784,9.60,90.40,76.80,4.70,5.40,1.00,260533,...,0,0,0,0,0,13,0,28,98,139
29,30 ಾದ,,262995,9.90,90.10,82.50,2.00,5.10,1.00,202063,...,4,1,0,0,5,27,33,24,129,213

In [157]:
final_df = final_df.drop(final_df.index[30:])

In [158]:
final_df

,1,2,1409,1410,1411,1412,1413,1414,1415,1416,...,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477
0,1 ೆಳಾ,,1318975,11.20,88.80,77.70,2.70,5.00,0.80,983854,...,5,0,0,31,36,66,13,87,545,711
1,2 ಾಗಲೋೆ,,490657,12.60,87.40,80.30,2.40,6.00,0.90,361149,...,0,0,0,18,18,42,2,66,352,462
2,3 ಜಯಪರ,,527490,10.30,89.70,83.90,1.40,5.60,0.90,408806,...,20,0,0,118,138,55,10,242,619,926
3,4 ಕಲು,,600007,8.20,91.80,83.00,1.30,5.80,0.90,471601,...,6,0,0,0,6,25,4,42,165,236
4,5 ೕದ,,389403,6.10,93.90,84.20,1.40,6.80,0.90,319937,...,0,0,0,0,0,1,0,25,113,139
5,6 ಾಯಚೂರು,,455848,7.80,92.20,83.70,1.60,4.70,0.90,363853,...,5,0,0,1,6,37,15,54,154,260
6,7 ೊಪಳ,,337649,9.80,90.20,82.50,2.50,5.00,0.90,264595,...,2,0,0,1,3,35,11,73,299,418
7,8 ಗದ,,291972,12.20,87.80,81.20,2.70,6.10,0.80,219096,...,1,1,0,7,9,15,7,27,178,227
8,9 ಾರಾಡ,,483104,9.30,90.70,80.60,2.20,6.60,0.70,382700,...,4,0,0,0,4,4,0,34,115,153
9,10 ಉತರ ಕನಡ,,474792,10.00,90.00,72.60,1.30,6.20,1.30,324530,...,0,0,0,0,0,19,0,22,118,159
10,11 ಾೇ,,413564,8.00,92.00,81.10,2.60,4.90,1.00,330414,...,1,0,0,0,1,32,15,67,169,283
11,12 ಬಾ,,623480,10.48,89.52,84.46,1.66,4.96,0.80,547679,...,1,0,0,2,3,70,51,53,324,498
12,13 ತದುಗ,,447348,7.90,92.10,83.50,2.30,3.90,1.20,357003,...,0,0,0,0,0,15,14,9,49,87
13,14 ಾವಣೆೆ,,530691,8.30,91.74,74.07,2.20,4.41,0.84,351615,...,0,0,0,6,6,6,4,38,122,170
14,15 ವಗ,,554106,7.70,92.30,76.70,1.50,5.50,1.10,406816,...,0,0,0,0,0,3,1,52,147,203
15,16 ಉಡು,,385389,8.90,91.10,68.80,1.00,7.60,0.90,253078,...,0,0,0,0,0,2,1,18,88,109
16,17 ಕಮಗಳರು,,392426,11.50,88.50,75.90,2.30,4.60,1.20,276085,...,2,0,0,18,20,1,1,14,57,73
17,18 ತುಮಕೂರು,,890242,10.00,90.00,76.30,3.00,4.90,1.20,640081,...,4,0,0,1,5,4,0,68,151,223
18,19 ೋಾರ,,477609,11.70,88.30,76.40,1.90,6.80,1.30,333348,...,0,0,0,0,0,3,0,56,76,135
19,20 ೆ೦ಗಳರು(ನ),,3267960,11.10,88.90,80.90,0.80,8.90,0.30,2393845,...,0,0,0,0,0,0,0,6,22,28
20,21 ೆ೦ಗಳರು(ಾ),,326462,12.20,87.80,75.50,2.80,7.10,1.00,229279,...,0,0,0,1,1,7,1,18,112,138
21,22 ಮಂಡ,,562302,8.30,91.70,74.90,7.40,5.20,1.00,428625,...,0,0,0,0,0,6,1,17,53,77
22,23 ಾಸನ,,628981,10.50,89.50,70.10,6.00,4.70,1.30,433453,...,0,0,0,0,0,1,0,20,52,73
23,24 ದಣ ಕನಡ,,650292,9.70,90.30,64.60,7.70,8.50,1.00,439733,...,0,0,0,0,0,4,0,47,96,147
24,25 ೊಡಗು,,212974,13.20,86.80,73.50,1.00,6.00,0.90,142716,...,0,0,0,0,0,1,0,4,10,15
25,26 ೖಸೂರು,,920982,8.40,91.60,78.00,3.40,5.60,0.70,700968,...,3,0,0,5,8,12,9,101,229,351
26,27 ಾಮಾಜನಗರ,,319880,10.80,89.20,83.00,2.20,4.40,1.00,244874,...,0,0,0,0,0,17,0,41,96,154
27,28 ಕಬಾಪರ,,409702,10.40,89.60,74.60,2.10,6.10,1.20,284698,...,0,0,0,0,0,4,2,81,70,157
28,29 ಾಮನಗರ,,351784,9.60,90.40,76.80,4.70,5.40,1.00,260533,...,0,0,0,0,0,13,0,28,98,139
29,30 ಾದ,,262995,9.90,90.10,82.50,2.00,5.10,1.00,202063,...,4,1,0,0,5,27,33,24,129,213

In [159]:
new_order = [18, 20, 19, 27, 26, 29, 30, 22, 21, 24, 23, 25, 4, 5, 8, 12, 10, 9, 6, 1, 2, 15, 13, 11, 14, 16, 17, 7, 3, 28]
final_df[1] = new_order
final_df

,1,2,1409,1410,1411,1412,1413,1414,1415,1416,...,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477
0,18,,1318975,11.20,88.80,77.70,2.70,5.00,0.80,983854,...,5,0,0,31,36,66,13,87,545,711
1,20,,490657,12.60,87.40,80.30,2.40,6.00,0.90,361149,...,0,0,0,18,18,42,2,66,352,462
2,19,,527490,10.30,89.70,83.90,1.40,5.60,0.90,408806,...,20,0,0,118,138,55,10,242,619,926
3,27,,600007,8.20,91.80,83.00,1.30,5.80,0.90,471601,...,6,0,0,0,6,25,4,42,165,236
4,26,,389403,6.10,93.90,84.20,1.40,6.80,0.90,319937,...,0,0,0,0,0,1,0,25,113,139
5,29,,455848,7.80,92.20,83.70,1.60,4.70,0.90,363853,...,5,0,0,1,6,37,15,54,154,260
6,30,,337649,9.80,90.20,82.50,2.50,5.00,0.90,264595,...,2,0,0,1,3,35,11,73,299,418
7,22,,291972,12.20,87.80,81.20,2.70,6.10,0.80,219096,...,1,1,0,7,9,15,7,27,178,227
8,21,,483104,9.30,90.70,80.60,2.20,6.60,0.70,382700,...,4,0,0,0,4,4,0,34,115,153
9,24,,474792,10.00,90.00,72.60,1.30,6.20,1.30,324530,...,0,0,0,0,0,19,0,22,118,159
10,23,,413564,8.00,92.00,81.10,2.60,4.90,1.00,330414,...,1,0,0,0,1,32,15,67,169,283
11,25,,623480,10.48,89.52,84.46,1.66,4.96,0.80,547679,...,1,0,0,2,3,70,51,53,324,498
12,4,,447348,7.90,92.10,83.50,2.30,3.90,1.20,357003,...,0,0,0,0,0,15,14,9,49,87
13,5,,530691,8.30,91.74,74.07,2.20,4.41,0.84,351615,...,0,0,0,6,6,6,4,38,122,170
14,8,,554106,7.70,92.30,76.70,1.50,5.50,1.10,406816,...,0,0,0,0,0,3,1,52,147,203
15,12,,385389,8.90,91.10,68.80,1.00,7.60,0.90,253078,...,0,0,0,0,0,2,1,18,88,109
16,10,,392426,11.50,88.50,75.90,2.30,4.60,1.20,276085,...,2,0,0,18,20,1,1,14,57,73
17,9,,890242,10.00,90.00,76.30,3.00,4.90,1.20,640081,...,4,0,0,1,5,4,0,68,151,223
18,6,,477609,11.70,88.30,76.40,1.90,6.80,1.30,333348,...,0,0,0,0,0,3,0,56,76,135
19,1,,3267960,11.10,88.90,80.90,0.80,8.90,0.30,2393845,...,0,0,0,0,0,0,0,6,22,28
20,2,,326462,12.20,87.80,75.50,2.80,7.10,1.00,229279,...,0,0,0,1,1,7,1,18,112,138
21,15,,562302,8.30,91.70,74.90,7.40,5.20,1.00,428625,...,0,0,0,0,0,6,1,17,53,77
22,13,,628981,10.50,89.50,70.10,6.00,4.70,1.30,433453,...,0,0,0,0,0,1,0,20,52,73
23,11,,650292,9.70,90.30,64.60,7.70,8.50,1.00,439733,...,0,0,0,0,0,4,0,47,96,147
24,14,,212974,13.20,86.80,73.50,1.00,6.00,0.90,142716,...,0,0,0,0,0,1,0,4,10,15
25,16,,920982,8.40,91.60,78.00,3.40,5.60,0.70,700968,...,3,0,0,5,8,12,9,101,229,351
26,17,,319880,10.80,89.20,83.00,2.20,4.40,1.00,244874,...,0,0,0,0,0,17,0,41,96,154
27,7,,409702,10.40,89.60,74.60,2.10,6.10,1.20,284698,...,0,0,0,0,0,4,2,81,70,157
28,3,,351784,9.60,90.40,76.80,4.70,5.40,1.00,260533,...,0,0,0,0,0,13,0,28,98,139
29,28,,262995,9.90,90.10,82.50,2.00,5.10,1.00,202063,...,4,1,0,0,5,27,33,24,129,213

In [160]:
final_data = final_df.sort_values(1)
final_data.reset_index(drop=True, inplace=True)
final_data

,1,2,1409,1410,1411,1412,1413,1414,1415,1416,...,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477
0,1,,3267960,11.10,88.90,80.90,0.80,8.90,0.30,2393845,...,0,0,0,0,0,0,0,6,22,28
1,2,,326462,12.20,87.80,75.50,2.80,7.10,1.00,229279,...,0,0,0,1,1,7,1,18,112,138
2,3,,351784,9.60,90.40,76.80,4.70,5.40,1.00,260533,...,0,0,0,0,0,13,0,28,98,139
3,4,,447348,7.90,92.10,83.50,2.30,3.90,1.20,357003,...,0,0,0,0,0,15,14,9,49,87
4,5,,530691,8.30,91.74,74.07,2.20,4.41,0.84,351615,...,0,0,0,6,6,6,4,38,122,170
5,6,,477609,11.70,88.30,76.40,1.90,6.80,1.30,333348,...,0,0,0,0,0,3,0,56,76,135
6,7,,409702,10.40,89.60,74.60,2.10,6.10,1.20,284698,...,0,0,0,0,0,4,2,81,70,157
7,8,,554106,7.70,92.30,76.70,1.50,5.50,1.10,406816,...,0,0,0,0,0,3,1,52,147,203
8,9,,890242,10.00,90.00,76.30,3.00,4.90,1.20,640081,...,4,0,0,1,5,4,0,68,151,223
9,10,,392426,11.50,88.50,75.90,2.30,4.60,1.20,276085,...,2,0,0,18,20,1,1,14,57,73
10,11,,650292,9.70,90.30,64.60,7.70,8.50,1.00,439733,...,0,0,0,0,0,4,0,47,96,147
11,12,,385389,8.90,91.10,68.80,1.00,7.60,0.90,253078,...,0,0,0,0,0,2,1,18,88,109
12,13,,628981,10.50,89.50,70.10,6.00,4.70,1.30,433453,...,0,0,0,0,0,1,0,20,52,73
13,14,,212974,13.20,86.80,73.50,1.00,6.00,0.90,142716,...,0,0,0,0,0,1,0,4,10,15
14,15,,562302,8.30,91.70,74.90,7.40,5.20,1.00,428625,...,0,0,0,0,0,6,1,17,53,77
15,16,,920982,8.40,91.60,78.00,3.40,5.60,0.70,700968,...,3,0,0,5,8,12,9,101,229,351
16,17,,319880,10.80,89.20,83.00,2.20,4.40,1.00,244874,...,0,0,0,0,0,17,0,41,96,154
17,18,,1318975,11.20,88.80,77.70,2.70,5.00,0.80,983854,...,5,0,0,31,36,66,13,87,545,711
18,19,,527490,10.30,89.70,83.90,1.40,5.60,0.90,408806,...,20,0,0,118,138,55,10,242,619,926
19,20,,490657,12.60,87.40,80.30,2.40,6.00,0.90,361149,...,0,0,0,18,18,42,2,66,352,462
20,21,,483104,9.30,90.70,80.60,2.20,6.60,0.70,382700,...,4,0,0,0,4,4,0,34,115,153
21,22,,291972,12.20,87.80,81.20,2.70,6.10,0.80,219096,...,1,1,0,7,9,15,7,27,178,227
22,23,,413564,8.00,92.00,81.10,2.60,4.90,1.00,330414,...,1,0,0,0,1,32,15,67,169,283
23,24,,474792,10.00,90.00,72.60,1.30,6.20,1.30,324530,...,0,0,0,0,0,19,0,22,118,159
24,25,,623480,10.48,89.52,84.46,1.66,4.96,0.80,547679,...,1,0,0,2,3,70,51,53,324,498
25,26,,389403,6.10,93.90,84.20,1.40,6.80,0.90,319937,...,0,0,0,0,0,1,0,25,113,139
26,27,,600007,8.20,91.80,83.00,1.30,5.80,0.90,471601,...,6,0,0,0,6,25,4,42,165,236
27,28,,262995,9.90,90.10,82.50,2.00,5.10,1.00,202063,...,4,1,0,0,5,27,33,24,129,213
28,29,,455848,7.80,92.20,83.70,1.60,4.70,0.90,363853,...,5,0,0,1,6,37,15,54,154,260
29,30,,337649,9.80,90.20,82.50,2.50,5.00,0.90,264595,...,2,0,0,1,3,35,11,73,299,418

In [161]:
name_list = ['Bengaluru(U)','Bengaluru(R)', 'Ramanagara', 'Chitradurga', 'Davanagere', 'Kolara', 'Chikkaballapura', 'Shivamogga',
'Tumakuru', 'Chikkamagaluru', 'Dakshina Kannada', 'Udupi', 'Hassan', 'Kodagu', 'Mandya', 'Mysuru', 'Chamarajanagara',
 'Belagavi', 'Vijayapura', 'Bagalkot', 'Dharwad', 'Gadag', 'Haveri', 'Uttara Kannada', 'Ballari', 'Bidar', 'Kalburgi',
 'Yadgir', 'Raichur', 'Koppal']

In [162]:
final_data[2] = name_list
final_data

,1,2,1409,1410,1411,1412,1413,1414,1415,1416,...,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477
0,1,Bengaluru(U),3267960,11.10,88.90,80.90,0.80,8.90,0.30,2393845,...,0,0,0,0,0,0,0,6,22,28
1,2,Bengaluru(R),326462,12.20,87.80,75.50,2.80,7.10,1.00,229279,...,0,0,0,1,1,7,1,18,112,138
2,3,Ramanagara,351784,9.60,90.40,76.80,4.70,5.40,1.00,260533,...,0,0,0,0,0,13,0,28,98,139
3,4,Chitradurga,447348,7.90,92.10,83.50,2.30,3.90,1.20,357003,...,0,0,0,0,0,15,14,9,49,87
4,5,Davanagere,530691,8.30,91.74,74.07,2.20,4.41,0.84,351615,...,0,0,0,6,6,6,4,38,122,170
5,6,Kolara,477609,11.70,88.30,76.40,1.90,6.80,1.30,333348,...,0,0,0,0,0,3,0,56,76,135
6,7,Chikkaballapura,409702,10.40,89.60,74.60,2.10,6.10,1.20,284698,...,0,0,0,0,0,4,2,81,70,157
7,8,Shivamogga,554106,7.70,92.30,76.70,1.50,5.50,1.10,406816,...,0,0,0,0,0,3,1,52,147,203
8,9,Tumakuru,890242,10.00,90.00,76.30,3.00,4.90,1.20,640081,...,4,0,0,1,5,4,0,68,151,223
9,10,Chikkamagaluru,392426,11.50,88.50,75.90,2.30,4.60,1.20,276085,...,2,0,0,18,20,1,1,14,57,73
10,11,Dakshina Kannada,650292,9.70,90.30,64.60,7.70,8.50,1.00,439733,...,0,0,0,0,0,4,0,47,96,147
11,12,Udupi,385389,8.90,91.10,68.80,1.00,7.60,0.90,253078,...,0,0,0,0,0,2,1,18,88,109
12,13,Hassan,628981,10.50,89.50,70.10,6.00,4.70,1.30,433453,...,0,0,0,0,0,1,0,20,52,73
13,14,Kodagu,212974,13.20,86.80,73.50,1.00,6.00,0.90,142716,...,0,0,0,0,0,1,0,4,10,15
14,15,Mandya,562302,8.30,91.70,74.90,7.40,5.20,1.00,428625,...,0,0,0,0,0,6,1,17,53,77
15,16,Mysuru,920982,8.40,91.60,78.00,3.40,5.60,0.70,700968,...,3,0,0,5,8,12,9,101,229,351
16,17,Chamarajanagara,319880,10.80,89.20,83.00,2.20,4.40,1.00,244874,...,0,0,0,0,0,17,0,41,96,154
17,18,Belagavi,1318975,11.20,88.80,77.70,2.70,5.00,0.80,983854,...,5,0,0,31,36,66,13,87,545,711
18,19,Vijayapura,527490,10.30,89.70,83.90,1.40,5.60,0.90,408806,...,20,0,0,118,138,55,10,242,619,926
19,20,Bagalkot,490657,12.60,87.40,80.30,2.40,6.00,0.90,361149,...,0,0,0,18,18,42,2,66,352,462
20,21,Dharwad,483104,9.30,90.70,80.60,2.20,6.60,0.70,382700,...,4,0,0,0,4,4,0,34,115,153
21,22,Gadag,291972,12.20,87.80,81.20,2.70,6.10,0.80,219096,...,1,1,0,7,9,15,7,27,178,227
22,23,Haveri,413564,8.00,92.00,81.10,2.60,4.90,1.00,330414,...,1,0,0,0,1,32,15,67,169,283
23,24,Uttara Kannada,474792,10.00,90.00,72.60,1.30,6.20,1.30,324530,...,0,0,0,0,0,19,0,22,118,159
24,25,Ballari,623480,10.48,89.52,84.46,1.66,4.96,0.80,547679,...,1,0,0,2,3,70,51,53,324,498
25,26,Bidar,389403,6.10,93.90,84.20,1.40,6.80,0.90,319937,...,0,0,0,0,0,1,0,25,113,139
26,27,Kalburgi,600007,8.20,91.80,83.00,1.30,5.80,0.90,471601,...,6,0,0,0,6,25,4,42,165,236
27,28,Yadgir,262995,9.90,90.10,82.50,2.00,5.10,1.00,202063,...,4,1,0,0,5,27,33,24,129,213
28,29,Raichur,455848,7.80,92.20,83.70,1.60,4.70,0.90,363853,...,5,0,0,1,6,37,15,54,154,260
29,30,Koppal,337649,9.80,90.20,82.50,2.50,5.00,0.90,264595,...,2,0,0,1,3,35,11,73,299,418

In [165]:
final_data.to_csv(absolute_result_path, sep=';', index=False)
final_data.to_csv(absolute_dictionary_path, sep=';', index=False)