In [75]:
import tabula
import numpy as np
import pandas as pd
import os
import re
import math

In [76]:
relative_path_pdf = "../HTML/Output_html_Chapter8/kaggle/working/out/pages/"
relative_dictionary_path = "../Data/Chapter8_Data.csv"
relative_result_path = "../HTML/Output_html_Chapter8/Chapter8_Data.csv"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = os.path.join(os.getcwd(), relative_path_pdf)
absolute_dictionary_path = os.path.join(os.getcwd(), relative_dictionary_path)
absolute_result_path = os.path.join(os.getcwd(), relative_result_path)

In [77]:
os.listdir(absolute_path_pdf)

['page_1.pdf', 'page_2.pdf', 'page_3.pdf', 'page_4.pdf']

In [78]:
output_list = []

In [79]:
# Get a list of PDF files sorted by filename
pdf_files = sorted([file for file in os.listdir(absolute_path_pdf) if file.endswith(".pdf")], key=lambda x: [int(s) if s.isdigit() else s.lower() for s in re.split('(\d+)', x)])

# Iterate through all PDF files
for file in pdf_files:
    file_path = os.path.join(absolute_path_pdf, file)
    dfs = tabula.read_pdf(file_path, pages='all', stream=True)
    if dfs:
        output_list.append(dfs[0])  # Assuming you want to append the first DataFrame from each PDF

In [80]:
len(output_list)

4

In [81]:
output_list[0]

,Unnamed: 0,8. ಸಹಾರಮತು ಕೃ ಾಾಟ /,Co-Operation and Agricultural Marketing,Unnamed: 1,Unnamed: 2
0,NaN,8.1 .. ಾಂಕುಗಳ : 2019-20,/ DCC Banks : 2019-20,NaN,NaN
1,NaN,NaN,(ಲ ರೂ.ಗಳ),(Rs In Lakhs),NaN
2,SI.,Distircts ಾಲ ಪೆದ,NaN,NaN,NaN
3,No,.. ಾಂ,ಕೃ ಾಲ,ಇತೆ ಾಲ ಒಟು ಾಲ,ೇವ
4,NaN,ಸದಸರ ಸಂೆ,NaN,NaN,NaN
5,NaN,ಾೆಗಳ ಸಂೆ,Agriculture,Other Total Loan,Deposits
6,NaN,No of,Loan,Loan,NaN
7,NaN,No. of DCC Members,NaN,NaN,NaN
8,NaN,Bank Availed Loan,NaN,NaN,NaN
9,NaN,Branches,NaN,NaN,NaN
10,1,2 949,950 951,952 953,954
11,1,Belagavi 101 428943,183033.70,173588.50 356622.20,372513.98
12,2,Bagalkot 48 27888,127632.14,133056.97 260689.11,250898.47
13,3,Vijayapura 41 209645,116062.08,96911.17 212973.25,232208.02
14,4,Kalburgi 7 57037,22173.94,490.80 22664.74,10782.67
15,5,Bidar 45 184022,90645.33,139189.64 229834.97,179627.92
16,6,Raichur 14 61289,31077.27,11709.34 42786.61,77279.08
17,7,Koppal 8 37607,15030.43,7911.00 22941.43,35188.61
18,8,Gadag 7 24093,10183.06,4141.32 14324.38,15913.37
19,9,Dharwad 14 24376,10669.37,5523.32 16192.69,23198.49
20,10,Uttara Kannada 54 24324,89742.50,88703.83 178446.33,233666.20
21,11,Haveri 15 30190,10847.66,4224.91 15072.57,20420.71
22,12,Ballari 30 101058,68696.52,34617.57 103314.09,105694.39
23,13,Chitradurga 14 45739,25073.40,5407.52 30480.92,30524.19
24,14,Davanagere 18 82912,29051.87,16676.21 45728.08,28575.39
25,15,Shivamogga 29 101783,42071.00,1211.00 43282.00,157911.00
26,16,Udupi 43 70526,30056.62,43357.70 73414.32,136009.92
27,17,Chikkamagaluru 28 18025,50432.55,27332.99 77765.54,84325.34
28,18,Tumakuru 34 91614,38156.78,64801.19 102957.97,121014.00
29,19,Kolara 7 19246,16304.07,44430.40 60734.47,18042.87
30,20,Bengaluru(U) 46 11642,3631.50,6879.25 10510.75,14843.88
31,21,Bengaluru(R) 8 23896,12020.91,5970.75 17991.66,18922.56
32,22,Mandya 55 213397,71517.92,49766.81 121284.73,133266.31
33,23,Hassan 32 20534,55443.41,32621.96 88065.37,122344.80
34,24,Dakshina Kannada 62 172577,108883.18,144115.16 252998.34,284586.96
35,25,Kodagu 17 25181,53826.76,32640.48 86467.24,92694.00
36,26,Mysuru 23 52330,40429.35,8014.08 48443.43,42254.17
37,27,Chamarajanagara 9 14981,11334.42,2181.85 13516.27,10531.88
38,28,Chikkaballapura 6 20865,19996.44,16432.35 36428.79,12988.03
39,29,Ramanagara 10 61315,29440.06,7343.16 36783.22,18513.93
40,30,Yadgir 3 30560,7165.04,0.00 7165.04,5973.01
41,NaN,State Total 828 2287595,1420629.28,1209251.23 2629880.51,2890714.15

In [82]:
def add_header(df_list,idx_list, new_list):
    index = 0
    for i in range(len(idx_list)):
        df_list[idx_list[i]].loc[index + 1:] = df_list[idx_list[i]].loc[index:].shift(1)
        df_list[idx_list[i]].loc[index] = new_list[i]
    return df_list

In [83]:
new_row = [output_list[2].columns.tolist(), [1, 2,  np.nan,967,968,969,970,971,972,973,974,975,976]]
id_row = [2, 3]
output_list = add_header(output_list, id_row, new_row)

/tmp/ipykernel_12153/240910190.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_list[idx_list[i]].loc[index] = new_list[i]
/tmp/ipykernel_12153/240910190.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '961' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_list[idx_list[i]].loc[index] = new_list[i]
/tmp/ipykernel_12153/240910190.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '962' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_list[idx_list[i]].loc[index] = new_list[i]
/tmp/ipykernel_12153/240910190.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '963' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_list[idx_list[i]].loc[index] = new_list[i]
/tmp/ipykernel_12153/240910190.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '964' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_list[idx_list[i]].loc[index] = new_list[i]
/tmp/ipykernel_12153/240910190.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '965' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_list[idx_list[i]].loc[index] = new_list[i]
/tmp/ipykernel_12153/240910190.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '966' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_list[idx_list[i]].loc[index] = new_list[i]

In [84]:
output_list[3]

,1,Unnamed: 0,2,967,968,969,970,971,972,973,974,975,976
0,1.0,2,NaN,967,968,969,970,971,972,973,974,975,976
1,1.0,Belagavi,NaN,11,21017,105,23934,854,90506,2089,421573,3059,557030
2,2.0,Bagalkot,NaN,6,13341,35,5565,359,48903,858,246217,1258,314026
3,3.0,Vijayapura,NaN,9,6984,49,8938,206,30098,628,157516,892,203536
4,4.0,Kalburgi,NaN,8,9232,66,16617,358,43800,833,670720,1265,740369
5,5.0,Bidar,NaN,6,3470,45,5530,447,45221,16,6400,514,60621
6,6.0,Raichur,NaN,5,6475,38,12910,216,41263,813,331517,1072,392165
7,7.0,Koppal,NaN,4,8845,21,6559,292,38273,304,113962,621,167639
8,8.0,Gadag,NaN,7,7037,29,3227,202,24861,385,151798,623,186923
9,9.0,Dharwad,NaN,4,4354,84,39767,198,23043,530,431824,816,498988
10,10.0,Uttara Kannada,NaN,9,48043,16,2879,263,27748,308,291876,596,370546
11,11.0,Haveri,NaN,7,10990,21,4772,479,74684,740,604580,1247,695026
12,12.0,Ballari,NaN,9,16171,20,7307,439,65943,587,245211,1055,334632
13,13.0,Chitradurga,NaN,6,8909,20,3088,379,47415,367,85414,772,144826
14,14.0,Davanagere,NaN,5,4232,33,14495,394,58162,659,77570,1091,154459
15,15.0,Shivamogga,NaN,24,62801,29,30659,547,96987,260,111283,860,301730
16,16.0,Udupi,NaN,3,35971,9,4960,338,111714,192,372109,542,524754
17,17.0,Chikkamagaluru,NaN,7,14092,11,5361,246,37351,166,84971,430,141775
18,18.0,Tumakuru,NaN,10,14507,45,11223,1303,246670,444,456924,1802,729324
19,19.0,Kolara,NaN,5,14151,25,14663,1056,191391,469,222700,1555,442905
20,20.0,Bengaluru(U),NaN,25,8886,240,194122,332,69803,20,7541,617,280352
21,21.0,Bengaluru(R),NaN,4,20260,19,9230,815,135380,270,55180,1108,220050
22,22.0,Mandya,NaN,7,28005,34,15035,1259,307762,300,161975,1600,512777
23,23.0,Hassan,NaN,12,13047,36,14761,1304,189873,282,71086,1634,288767
24,24.0,Dakshina Kannada,NaN,6,5634,20,6755,391,87980,223,504845,640,605214
25,25.0,Kodagu,NaN,11,13958,1,1137,34,5453,186,115500,232,136048
26,26.0,Mysuru,NaN,7,10762,284,143879,1117,203930,902,204791,2310,563362
27,27.0,Chamarajanagara,NaN,4,4837,8,2213,492,108422,199,87465,703,202937
28,28.0,Chikkaballapura,NaN,6,14656,19,12590,1074,149201,266,73248,1365,249695
29,29.0,Ramanagara,NaN,4,14363,15,4814,951,152366,180,58904,1150,230447
30,30.0,Yadgir,NaN,5,9480,12,1526,87,8888,562,686996,666,706890

In [85]:
def find_last_index(df_col):
    pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
    for idx in range(len(df_col)):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
                    if numbers_1 and numbers_1[0] == 30:
                        return idx+1
   
    return (len(df_col) - 1)

In [86]:
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    miss_list = []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        df_col = df_col.astype(str)

        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        flag = 0
        for idx in range(len(df_col) - 1):
            #print(idx, df_col.iloc[idx])
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = re.findall(pattern, df_col.iloc[idx+1])
                    numbers_2 = [int(num) if '.' not in num else float(num) for num in numbers_2]
                    #print(numbers_2)
            if numbers_1 and numbers_2 and numbers_1[0] == 1 and numbers_2[0] == 1:
                start_index = idx
                end_index = find_last_index(df_col)
                index_list.append([start_index, end_index])
                if(end_index - start_index) != 31:
                    miss_list.append(i)
                flag=1
                i += 1
                break

        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index, miss_list

In [87]:
index_list, drop_list, fault_list = find_header(output_list)

In [88]:
fault_list

[]

In [89]:
drop_list

[]

In [90]:
index_list

[[10, 41], [6, 37], [0, 31], [0, 31]]

In [91]:
len(index_list)

4

In [92]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        return new_df_list
    return df_list

In [93]:
def get_final_index(df_list, index_ll, drop_index, miss_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list, miss_list = find_header(df)
        drop_index = drop_list
        miss_index = miss_list
    return df, index_ll, drop_index, miss_index

In [94]:
new_output_list, new_index_list, new_drop_list, new_fault_list = get_final_index(output_list, index_list, drop_list, fault_list)

In [95]:
new_fault_list, new_drop_list

([], [])

In [96]:
new_index_list

[[10, 41], [6, 37], [0, 31], [0, 31]]

In [97]:
new_output_list[0]

,Unnamed: 0,8. ಸಹಾರಮತು ಕೃ ಾಾಟ /,Co-Operation and Agricultural Marketing,Unnamed: 1,Unnamed: 2
0,NaN,8.1 .. ಾಂಕುಗಳ : 2019-20,/ DCC Banks : 2019-20,NaN,NaN
1,NaN,NaN,(ಲ ರೂ.ಗಳ),(Rs In Lakhs),NaN
2,SI.,Distircts ಾಲ ಪೆದ,NaN,NaN,NaN
3,No,.. ಾಂ,ಕೃ ಾಲ,ಇತೆ ಾಲ ಒಟು ಾಲ,ೇವ
4,NaN,ಸದಸರ ಸಂೆ,NaN,NaN,NaN
5,NaN,ಾೆಗಳ ಸಂೆ,Agriculture,Other Total Loan,Deposits
6,NaN,No of,Loan,Loan,NaN
7,NaN,No. of DCC Members,NaN,NaN,NaN
8,NaN,Bank Availed Loan,NaN,NaN,NaN
9,NaN,Branches,NaN,NaN,NaN
10,1,2 949,950 951,952 953,954
11,1,Belagavi 101 428943,183033.70,173588.50 356622.20,372513.98
12,2,Bagalkot 48 27888,127632.14,133056.97 260689.11,250898.47
13,3,Vijayapura 41 209645,116062.08,96911.17 212973.25,232208.02
14,4,Kalburgi 7 57037,22173.94,490.80 22664.74,10782.67
15,5,Bidar 45 184022,90645.33,139189.64 229834.97,179627.92
16,6,Raichur 14 61289,31077.27,11709.34 42786.61,77279.08
17,7,Koppal 8 37607,15030.43,7911.00 22941.43,35188.61
18,8,Gadag 7 24093,10183.06,4141.32 14324.38,15913.37
19,9,Dharwad 14 24376,10669.37,5523.32 16192.69,23198.49
20,10,Uttara Kannada 54 24324,89742.50,88703.83 178446.33,233666.20
21,11,Haveri 15 30190,10847.66,4224.91 15072.57,20420.71
22,12,Ballari 30 101058,68696.52,34617.57 103314.09,105694.39
23,13,Chitradurga 14 45739,25073.40,5407.52 30480.92,30524.19
24,14,Davanagere 18 82912,29051.87,16676.21 45728.08,28575.39
25,15,Shivamogga 29 101783,42071.00,1211.00 43282.00,157911.00
26,16,Udupi 43 70526,30056.62,43357.70 73414.32,136009.92
27,17,Chikkamagaluru 28 18025,50432.55,27332.99 77765.54,84325.34
28,18,Tumakuru 34 91614,38156.78,64801.19 102957.97,121014.00
29,19,Kolara 7 19246,16304.07,44430.40 60734.47,18042.87
30,20,Bengaluru(U) 46 11642,3631.50,6879.25 10510.75,14843.88
31,21,Bengaluru(R) 8 23896,12020.91,5970.75 17991.66,18922.56
32,22,Mandya 55 213397,71517.92,49766.81 121284.73,133266.31
33,23,Hassan 32 20534,55443.41,32621.96 88065.37,122344.80
34,24,Dakshina Kannada 62 172577,108883.18,144115.16 252998.34,284586.96
35,25,Kodagu 17 25181,53826.76,32640.48 86467.24,92694.00
36,26,Mysuru 23 52330,40429.35,8014.08 48443.43,42254.17
37,27,Chamarajanagara 9 14981,11334.42,2181.85 13516.27,10531.88
38,28,Chikkaballapura 6 20865,19996.44,16432.35 36428.79,12988.03
39,29,Ramanagara 10 61315,29440.06,7343.16 36783.22,18513.93
40,30,Yadgir 3 30560,7165.04,0.00 7165.04,5973.01
41,NaN,State Total 828 2287595,1420629.28,1209251.23 2629880.51,2890714.15

In [98]:
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(ind_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(ind_list[idx][0], ind_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [99]:
corrected_list = remove_header(new_output_list, new_index_list)

In [100]:
corrected_list[0]

,Unnamed: 0,8. ಸಹಾರಮತು ಕೃ ಾಾಟ /,Co-Operation and Agricultural Marketing,Unnamed: 1,Unnamed: 2
0,1,2 949,950 951,952 953,954
1,1,Belagavi 101 428943,183033.70,173588.50 356622.20,372513.98
2,2,Bagalkot 48 27888,127632.14,133056.97 260689.11,250898.47
3,3,Vijayapura 41 209645,116062.08,96911.17 212973.25,232208.02
4,4,Kalburgi 7 57037,22173.94,490.80 22664.74,10782.67
5,5,Bidar 45 184022,90645.33,139189.64 229834.97,179627.92
6,6,Raichur 14 61289,31077.27,11709.34 42786.61,77279.08
7,7,Koppal 8 37607,15030.43,7911.00 22941.43,35188.61
8,8,Gadag 7 24093,10183.06,4141.32 14324.38,15913.37
9,9,Dharwad 14 24376,10669.37,5523.32 16192.69,23198.49
10,10,Uttara Kannada 54 24324,89742.50,88703.83 178446.33,233666.20
11,11,Haveri 15 30190,10847.66,4224.91 15072.57,20420.71
12,12,Ballari 30 101058,68696.52,34617.57 103314.09,105694.39
13,13,Chitradurga 14 45739,25073.40,5407.52 30480.92,30524.19
14,14,Davanagere 18 82912,29051.87,16676.21 45728.08,28575.39
15,15,Shivamogga 29 101783,42071.00,1211.00 43282.00,157911.00
16,16,Udupi 43 70526,30056.62,43357.70 73414.32,136009.92
17,17,Chikkamagaluru 28 18025,50432.55,27332.99 77765.54,84325.34
18,18,Tumakuru 34 91614,38156.78,64801.19 102957.97,121014.00
19,19,Kolara 7 19246,16304.07,44430.40 60734.47,18042.87
20,20,Bengaluru(U) 46 11642,3631.50,6879.25 10510.75,14843.88
21,21,Bengaluru(R) 8 23896,12020.91,5970.75 17991.66,18922.56
22,22,Mandya 55 213397,71517.92,49766.81 121284.73,133266.31
23,23,Hassan 32 20534,55443.41,32621.96 88065.37,122344.80
24,24,Dakshina Kannada 62 172577,108883.18,144115.16 252998.34,284586.96
25,25,Kodagu 17 25181,53826.76,32640.48 86467.24,92694.00
26,26,Mysuru 23 52330,40429.35,8014.08 48443.43,42254.17
27,27,Chamarajanagara 9 14981,11334.42,2181.85 13516.27,10531.88
28,28,Chikkaballapura 6 20865,19996.44,16432.35 36428.79,12988.03
29,29,Ramanagara 10 61315,29440.06,7343.16 36783.22,18513.93
30,30,Yadgir 3 30560,7165.04,0.00 7165.04,5973.01

In [101]:
len(corrected_list)

4

In [102]:
def check_nan(df_col):
    nan_columns = df_col[df_col.isna()].index.tolist()
    if len(nan_columns) == len(df_col):
        return []
    return nan_columns

In [103]:
def set_header_row(df_list_all):
    df_list = df_list_all
    new_df_list = []
    for df in df_list:
        header_row = df.iloc[0].tolist()
        for idx in range(len(header_row)):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx+1
                while j<len(header_row) and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j+=1
                if j<len(header_row) and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[0]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[1:])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        for idx in range(len(header_row)-1, 0, -1):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx-1
                while j>0 and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j-=1
                if j>0 and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[-1]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[:-1])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        new_df_list.append(df)
    return new_df_list

In [104]:
corrected_header = set_header_row(corrected_list)

In [105]:
len(corrected_header)

4

In [106]:
corrected_header[0]

,Unnamed: 0,8. ಸಹಾರಮತು ಕೃ ಾಾಟ /,Co-Operation and Agricultural Marketing,Unnamed: 1,Unnamed: 2
0,1,2 949,950 951,952 953,954
1,1,Belagavi 101 428943,183033.70,173588.50 356622.20,372513.98
2,2,Bagalkot 48 27888,127632.14,133056.97 260689.11,250898.47
3,3,Vijayapura 41 209645,116062.08,96911.17 212973.25,232208.02
4,4,Kalburgi 7 57037,22173.94,490.80 22664.74,10782.67
5,5,Bidar 45 184022,90645.33,139189.64 229834.97,179627.92
6,6,Raichur 14 61289,31077.27,11709.34 42786.61,77279.08
7,7,Koppal 8 37607,15030.43,7911.00 22941.43,35188.61
8,8,Gadag 7 24093,10183.06,4141.32 14324.38,15913.37
9,9,Dharwad 14 24376,10669.37,5523.32 16192.69,23198.49
10,10,Uttara Kannada 54 24324,89742.50,88703.83 178446.33,233666.20
11,11,Haveri 15 30190,10847.66,4224.91 15072.57,20420.71
12,12,Ballari 30 101058,68696.52,34617.57 103314.09,105694.39
13,13,Chitradurga 14 45739,25073.40,5407.52 30480.92,30524.19
14,14,Davanagere 18 82912,29051.87,16676.21 45728.08,28575.39
15,15,Shivamogga 29 101783,42071.00,1211.00 43282.00,157911.00
16,16,Udupi 43 70526,30056.62,43357.70 73414.32,136009.92
17,17,Chikkamagaluru 28 18025,50432.55,27332.99 77765.54,84325.34
18,18,Tumakuru 34 91614,38156.78,64801.19 102957.97,121014.00
19,19,Kolara 7 19246,16304.07,44430.40 60734.47,18042.87
20,20,Bengaluru(U) 46 11642,3631.50,6879.25 10510.75,14843.88
21,21,Bengaluru(R) 8 23896,12020.91,5970.75 17991.66,18922.56
22,22,Mandya 55 213397,71517.92,49766.81 121284.73,133266.31
23,23,Hassan 32 20534,55443.41,32621.96 88065.37,122344.80
24,24,Dakshina Kannada 62 172577,108883.18,144115.16 252998.34,284586.96
25,25,Kodagu 17 25181,53826.76,32640.48 86467.24,92694.00
26,26,Mysuru 23 52330,40429.35,8014.08 48443.43,42254.17
27,27,Chamarajanagara 9 14981,11334.42,2181.85 13516.27,10531.88
28,28,Chikkaballapura 6 20865,19996.44,16432.35 36428.79,12988.03
29,29,Ramanagara 10 61315,29440.06,7343.16 36783.22,18513.93
30,30,Yadgir 3 30560,7165.04,0.00 7165.04,5973.01

In [107]:
def set_index_col(df_list):
    new_df_list = []
    for df in df_list:
        nan_col = check_nan(df.iloc[:,0])
        if len(df.index) > 31 and len(nan_col)>1:
            for idx in range(len(nan_col)-1):
                if nan_col[idx]+2 == nan_col[idx+1] and nan_col[idx]+1 not in nan_col:
                    for i in range(df.shape[1]):
                        p = nan_col[idx]
                        q = nan_col[idx]+1
                        r = nan_col[idx+1]
                        if i>0 and not (isinstance(df.iloc[p,i], float) and math.isnan(df.iloc[p,i])) and  not (isinstance(df.iloc[r,i], float) and math.isnan(df.iloc[r,i])):
                            if (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i]])
                            elif not (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i], df.iloc[q,i]])
                    idx+=1
            df = df.drop(nan_col)
        df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [108]:
corrected_index = set_index_col(corrected_header)

In [109]:
len(corrected_index)

4

In [110]:
corrected_index[0]

,Unnamed: 0,8. ಸಹಾರಮತು ಕೃ ಾಾಟ /,Co-Operation and Agricultural Marketing,Unnamed: 1,Unnamed: 2
0,1,2 949,950 951,952 953,954
1,1,Belagavi 101 428943,183033.70,173588.50 356622.20,372513.98
2,2,Bagalkot 48 27888,127632.14,133056.97 260689.11,250898.47
3,3,Vijayapura 41 209645,116062.08,96911.17 212973.25,232208.02
4,4,Kalburgi 7 57037,22173.94,490.80 22664.74,10782.67
5,5,Bidar 45 184022,90645.33,139189.64 229834.97,179627.92
6,6,Raichur 14 61289,31077.27,11709.34 42786.61,77279.08
7,7,Koppal 8 37607,15030.43,7911.00 22941.43,35188.61
8,8,Gadag 7 24093,10183.06,4141.32 14324.38,15913.37
9,9,Dharwad 14 24376,10669.37,5523.32 16192.69,23198.49
10,10,Uttara Kannada 54 24324,89742.50,88703.83 178446.33,233666.20
11,11,Haveri 15 30190,10847.66,4224.91 15072.57,20420.71
12,12,Ballari 30 101058,68696.52,34617.57 103314.09,105694.39
13,13,Chitradurga 14 45739,25073.40,5407.52 30480.92,30524.19
14,14,Davanagere 18 82912,29051.87,16676.21 45728.08,28575.39
15,15,Shivamogga 29 101783,42071.00,1211.00 43282.00,157911.00
16,16,Udupi 43 70526,30056.62,43357.70 73414.32,136009.92
17,17,Chikkamagaluru 28 18025,50432.55,27332.99 77765.54,84325.34
18,18,Tumakuru 34 91614,38156.78,64801.19 102957.97,121014.00
19,19,Kolara 7 19246,16304.07,44430.40 60734.47,18042.87
20,20,Bengaluru(U) 46 11642,3631.50,6879.25 10510.75,14843.88
21,21,Bengaluru(R) 8 23896,12020.91,5970.75 17991.66,18922.56
22,22,Mandya 55 213397,71517.92,49766.81 121284.73,133266.31
23,23,Hassan 32 20534,55443.41,32621.96 88065.37,122344.80
24,24,Dakshina Kannada 62 172577,108883.18,144115.16 252998.34,284586.96
25,25,Kodagu 17 25181,53826.76,32640.48 86467.24,92694.00
26,26,Mysuru 23 52330,40429.35,8014.08 48443.43,42254.17
27,27,Chamarajanagara 9 14981,11334.42,2181.85 13516.27,10531.88
28,28,Chikkaballapura 6 20865,19996.44,16432.35 36428.79,12988.03
29,29,Ramanagara 10 61315,29440.06,7343.16 36783.22,18513.93
30,30,Yadgir 3 30560,7165.04,0.00 7165.04,5973.01

In [111]:
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = re.findall(pattern, df_col.iloc[0])
                numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                #numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)

                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)
        elif df_col.dtype == int or df_col.dtype == float:
            df.iloc[:,0] = df.iloc[:,0].astype(int).astype(str)
            new_df.append(df)
    return new_df

In [112]:
new_list = first_column_split(corrected_index)

In [113]:
len(new_list)

4

In [114]:
new_list[0]

,Unnamed: 0,8. ಸಹಾರಮತು ಕೃ ಾಾಟ /,Co-Operation and Agricultural Marketing,Unnamed: 1,Unnamed: 2
0,1,2 949,950 951,952 953,954
1,1,Belagavi 101 428943,183033.70,173588.50 356622.20,372513.98
2,2,Bagalkot 48 27888,127632.14,133056.97 260689.11,250898.47
3,3,Vijayapura 41 209645,116062.08,96911.17 212973.25,232208.02
4,4,Kalburgi 7 57037,22173.94,490.80 22664.74,10782.67
5,5,Bidar 45 184022,90645.33,139189.64 229834.97,179627.92
6,6,Raichur 14 61289,31077.27,11709.34 42786.61,77279.08
7,7,Koppal 8 37607,15030.43,7911.00 22941.43,35188.61
8,8,Gadag 7 24093,10183.06,4141.32 14324.38,15913.37
9,9,Dharwad 14 24376,10669.37,5523.32 16192.69,23198.49
10,10,Uttara Kannada 54 24324,89742.50,88703.83 178446.33,233666.20
11,11,Haveri 15 30190,10847.66,4224.91 15072.57,20420.71
12,12,Ballari 30 101058,68696.52,34617.57 103314.09,105694.39
13,13,Chitradurga 14 45739,25073.40,5407.52 30480.92,30524.19
14,14,Davanagere 18 82912,29051.87,16676.21 45728.08,28575.39
15,15,Shivamogga 29 101783,42071.00,1211.00 43282.00,157911.00
16,16,Udupi 43 70526,30056.62,43357.70 73414.32,136009.92
17,17,Chikkamagaluru 28 18025,50432.55,27332.99 77765.54,84325.34
18,18,Tumakuru 34 91614,38156.78,64801.19 102957.97,121014.00
19,19,Kolara 7 19246,16304.07,44430.40 60734.47,18042.87
20,20,Bengaluru(U) 46 11642,3631.50,6879.25 10510.75,14843.88
21,21,Bengaluru(R) 8 23896,12020.91,5970.75 17991.66,18922.56
22,22,Mandya 55 213397,71517.92,49766.81 121284.73,133266.31
23,23,Hassan 32 20534,55443.41,32621.96 88065.37,122344.80
24,24,Dakshina Kannada 62 172577,108883.18,144115.16 252998.34,284586.96
25,25,Kodagu 17 25181,53826.76,32640.48 86467.24,92694.00
26,26,Mysuru 23 52330,40429.35,8014.08 48443.43,42254.17
27,27,Chamarajanagara 9 14981,11334.42,2181.85 13516.27,10531.88
28,28,Chikkaballapura 6 20865,19996.44,16432.35 36428.79,12988.03
29,29,Ramanagara 10 61315,29440.06,7343.16 36783.22,18513.93
30,30,Yadgir 3 30560,7165.04,0.00 7165.04,5973.01

In [115]:
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [116]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [117]:
#replaced_list = replace_with_nan(new_list)
replaced_list = new_list

In [118]:
replaced_list[3]

,1,Unnamed: 0,2,967,968,969,970,971,972,973,974,975,976
0,1,2,NaN,967,968,969,970,971,972,973,974,975,976
1,1,Belagavi,NaN,11,21017,105,23934,854,90506,2089,421573,3059,557030
2,2,Bagalkot,NaN,6,13341,35,5565,359,48903,858,246217,1258,314026
3,3,Vijayapura,NaN,9,6984,49,8938,206,30098,628,157516,892,203536
4,4,Kalburgi,NaN,8,9232,66,16617,358,43800,833,670720,1265,740369
5,5,Bidar,NaN,6,3470,45,5530,447,45221,16,6400,514,60621
6,6,Raichur,NaN,5,6475,38,12910,216,41263,813,331517,1072,392165
7,7,Koppal,NaN,4,8845,21,6559,292,38273,304,113962,621,167639
8,8,Gadag,NaN,7,7037,29,3227,202,24861,385,151798,623,186923
9,9,Dharwad,NaN,4,4354,84,39767,198,23043,530,431824,816,498988
10,10,Uttara Kannada,NaN,9,48043,16,2879,263,27748,308,291876,596,370546
11,11,Haveri,NaN,7,10990,21,4772,479,74684,740,604580,1247,695026
12,12,Ballari,NaN,9,16171,20,7307,439,65943,587,245211,1055,334632
13,13,Chitradurga,NaN,6,8909,20,3088,379,47415,367,85414,772,144826
14,14,Davanagere,NaN,5,4232,33,14495,394,58162,659,77570,1091,154459
15,15,Shivamogga,NaN,24,62801,29,30659,547,96987,260,111283,860,301730
16,16,Udupi,NaN,3,35971,9,4960,338,111714,192,372109,542,524754
17,17,Chikkamagaluru,NaN,7,14092,11,5361,246,37351,166,84971,430,141775
18,18,Tumakuru,NaN,10,14507,45,11223,1303,246670,444,456924,1802,729324
19,19,Kolara,NaN,5,14151,25,14663,1056,191391,469,222700,1555,442905
20,20,Bengaluru(U),NaN,25,8886,240,194122,332,69803,20,7541,617,280352
21,21,Bengaluru(R),NaN,4,20260,19,9230,815,135380,270,55180,1108,220050
22,22,Mandya,NaN,7,28005,34,15035,1259,307762,300,161975,1600,512777
23,23,Hassan,NaN,12,13047,36,14761,1304,189873,282,71086,1634,288767
24,24,Dakshina Kannada,NaN,6,5634,20,6755,391,87980,223,504845,640,605214
25,25,Kodagu,NaN,11,13958,1,1137,34,5453,186,115500,232,136048
26,26,Mysuru,NaN,7,10762,284,143879,1117,203930,902,204791,2310,563362
27,27,Chamarajanagara,NaN,4,4837,8,2213,492,108422,199,87465,703,202937
28,28,Chikkaballapura,NaN,6,14656,19,12590,1074,149201,266,73248,1365,249695
29,29,Ramanagara,NaN,4,14363,15,4814,951,152366,180,58904,1150,230447
30,30,Yadgir,NaN,5,9480,12,1526,87,8888,562,686996,666,706890

In [119]:
len(replaced_list)

4

In [120]:
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        #pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        for colName, colData in df.items():
            #print(colName)
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = re.findall(pattern, colData.values[0])
                    numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        colData = colData.str.replace(r'\s+', ' ', regex=True)
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)
            elif pd.isna(colData.values[0]):
                print("remove NaN")
            elif isinstance(colData.values[0],(int, np.integer)) or isinstance(colData.values[0],(float, np.floating)):
                colData.values[0] = str(int(colData.values[0]))
                new_df = pd.concat([new_df, colData], axis=1)
        new_df_list.append(new_df)
    return new_df_list

In [121]:
separated_list = all_column_split(replaced_list)

remove NaN
remove NaN
remove NaN
remove NaN

In [122]:
len(separated_list)

4

In [123]:
separated_list[3]

,1,Unnamed: 0,967,968,969,970,971,972,973,974,975,976
0,1,2,967,968,969,970,971,972,973,974,975,976
1,1,Belagavi,11,21017,105,23934,854,90506,2089,421573,3059,557030
2,2,Bagalkot,6,13341,35,5565,359,48903,858,246217,1258,314026
3,3,Vijayapura,9,6984,49,8938,206,30098,628,157516,892,203536
4,4,Kalburgi,8,9232,66,16617,358,43800,833,670720,1265,740369
5,5,Bidar,6,3470,45,5530,447,45221,16,6400,514,60621
6,6,Raichur,5,6475,38,12910,216,41263,813,331517,1072,392165
7,7,Koppal,4,8845,21,6559,292,38273,304,113962,621,167639
8,8,Gadag,7,7037,29,3227,202,24861,385,151798,623,186923
9,9,Dharwad,4,4354,84,39767,198,23043,530,431824,816,498988
10,10,Uttara Kannada,9,48043,16,2879,263,27748,308,291876,596,370546
11,11,Haveri,7,10990,21,4772,479,74684,740,604580,1247,695026
12,12,Ballari,9,16171,20,7307,439,65943,587,245211,1055,334632
13,13,Chitradurga,6,8909,20,3088,379,47415,367,85414,772,144826
14,14,Davanagere,5,4232,33,14495,394,58162,659,77570,1091,154459
15,15,Shivamogga,24,62801,29,30659,547,96987,260,111283,860,301730
16,16,Udupi,3,35971,9,4960,338,111714,192,372109,542,524754
17,17,Chikkamagaluru,7,14092,11,5361,246,37351,166,84971,430,141775
18,18,Tumakuru,10,14507,45,11223,1303,246670,444,456924,1802,729324
19,19,Kolara,5,14151,25,14663,1056,191391,469,222700,1555,442905
20,20,Bengaluru(U),25,8886,240,194122,332,69803,20,7541,617,280352
21,21,Bengaluru(R),4,20260,19,9230,815,135380,270,55180,1108,220050
22,22,Mandya,7,28005,34,15035,1259,307762,300,161975,1600,512777
23,23,Hassan,12,13047,36,14761,1304,189873,282,71086,1634,288767
24,24,Dakshina Kannada,6,5634,20,6755,391,87980,223,504845,640,605214
25,25,Kodagu,11,13958,1,1137,34,5453,186,115500,232,136048
26,26,Mysuru,7,10762,284,143879,1117,203930,902,204791,2310,563362
27,27,Chamarajanagara,4,4837,8,2213,492,108422,199,87465,703,202937
28,28,Chikkaballapura,6,14656,19,12590,1074,149201,266,73248,1365,249695
29,29,Ramanagara,4,14363,15,4814,951,152366,180,58904,1150,230447
30,30,Yadgir,5,9480,12,1526,87,8888,562,686996,666,706890

In [124]:
def check_single_column(df_list):
    new_df_list = []
    for df in df_list:
        df.fillna(value="", inplace=True)
        num_col = len(df.columns)
        for idx in range(num_col-1, 1, -1):
            cardinality = len(str(df.iloc[0,idx]).split())
            #print("idx", idx, df.iloc[0,idx], cardinality)
            for i in range(len(df.iloc[:,idx])):
                if i>0:
                    cell_car = len(str(df.iloc[i,idx]).split())
                    #print("i", i, df.iloc[i,idx], cell_car)
                    if cell_car > cardinality:
                       
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("more", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col1:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col2:
                                df.iloc[i, idx-1] = ' '.join(words_col2) + ' ' + words_col1[0]
                            else:
                                df.iloc[i, idx-1] = words_col1[0]

                            # Update the first column with the remaining words
                            df.iloc[i, idx] = ' '.join(words_col1[1:])
                        
                    if cell_car < cardinality:
                        
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("less", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col2:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col1:
                                df.iloc[i, idx] = words_col2[-1] + ' ' + ' '.join(words_col1)
                            else:
                                df.iloc[i, idx] = words_col2[-1]

                            # Update the first column with the remaining words
                            df.iloc[i, idx-1] = ' '.join(words_col2[:-1])
                        if df.iloc[i, idx-1]==' ':
                            df.iloc[i, idx-1] = ''
                        
        new_df_list.append(df)
    return new_df_list

In [125]:
updated_list = check_single_column(separated_list)

/tmp/ipykernel_12153/3370788979.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna(value="", inplace=True)

In [126]:
len(updated_list)

4

In [127]:
updated_list[0]

,Unnamed: 0,0,1,0,1,0,1,Unnamed: 2
0,1,2,949,950,951,952,953,954
1,1,Belagavi,101,428943,183033.70,173588.50,356622.20,372513.98
2,2,Bagalkot,48,27888,127632.14,133056.97,260689.11,250898.47
3,3,Vijayapura,41,209645,116062.08,96911.17,212973.25,232208.02
4,4,Kalburgi,7,57037,22173.94,490.80,22664.74,10782.67
5,5,Bidar,45,184022,90645.33,139189.64,229834.97,179627.92
6,6,Raichur,14,61289,31077.27,11709.34,42786.61,77279.08
7,7,Koppal,8,37607,15030.43,7911.00,22941.43,35188.61
8,8,Gadag,7,24093,10183.06,4141.32,14324.38,15913.37
9,9,Dharwad,14,24376,10669.37,5523.32,16192.69,23198.49
10,10,Uttara Kannada,54,24324,89742.50,88703.83,178446.33,233666.20
11,11,Haveri,15,30190,10847.66,4224.91,15072.57,20420.71
12,12,Ballari,30,101058,68696.52,34617.57,103314.09,105694.39
13,13,Chitradurga,14,45739,25073.40,5407.52,30480.92,30524.19
14,14,Davanagere,18,82912,29051.87,16676.21,45728.08,28575.39
15,15,Shivamogga,29,101783,42071.00,1211.00,43282.00,157911.00
16,16,Udupi,43,70526,30056.62,43357.70,73414.32,136009.92
17,17,Chikkamagaluru,28,18025,50432.55,27332.99,77765.54,84325.34
18,18,Tumakuru,34,91614,38156.78,64801.19,102957.97,121014.00
19,19,Kolara,7,19246,16304.07,44430.40,60734.47,18042.87
20,20,Bengaluru(U),46,11642,3631.50,6879.25,10510.75,14843.88
21,21,Bengaluru(R),8,23896,12020.91,5970.75,17991.66,18922.56
22,22,Mandya,55,213397,71517.92,49766.81,121284.73,133266.31
23,23,Hassan,32,20534,55443.41,32621.96,88065.37,122344.80
24,24,Dakshina Kannada,62,172577,108883.18,144115.16,252998.34,284586.96
25,25,Kodagu,17,25181,53826.76,32640.48,86467.24,92694.00
26,26,Mysuru,23,52330,40429.35,8014.08,48443.43,42254.17
27,27,Chamarajanagara,9,14981,11334.42,2181.85,13516.27,10531.88
28,28,Chikkaballapura,6,20865,19996.44,16432.35,36428.79,12988.03
29,29,Ramanagara,10,61315,29440.06,7343.16,36783.22,18513.93
30,30,Yadgir,3,30560,7165.04,0.00,7165.04,5973.01

In [128]:
len(updated_list)

4

In [129]:
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [130]:
final_list = reset_header(updated_list)

In [131]:
final_list[0]

,1,2,949,950,951,952,953,954
0,1,Belagavi,101,428943,183033.70,173588.50,356622.20,372513.98
1,2,Bagalkot,48,27888,127632.14,133056.97,260689.11,250898.47
2,3,Vijayapura,41,209645,116062.08,96911.17,212973.25,232208.02
3,4,Kalburgi,7,57037,22173.94,490.80,22664.74,10782.67
4,5,Bidar,45,184022,90645.33,139189.64,229834.97,179627.92
5,6,Raichur,14,61289,31077.27,11709.34,42786.61,77279.08
6,7,Koppal,8,37607,15030.43,7911.00,22941.43,35188.61
7,8,Gadag,7,24093,10183.06,4141.32,14324.38,15913.37
8,9,Dharwad,14,24376,10669.37,5523.32,16192.69,23198.49
9,10,Uttara Kannada,54,24324,89742.50,88703.83,178446.33,233666.20
10,11,Haveri,15,30190,10847.66,4224.91,15072.57,20420.71
11,12,Ballari,30,101058,68696.52,34617.57,103314.09,105694.39
12,13,Chitradurga,14,45739,25073.40,5407.52,30480.92,30524.19
13,14,Davanagere,18,82912,29051.87,16676.21,45728.08,28575.39
14,15,Shivamogga,29,101783,42071.00,1211.00,43282.00,157911.00
15,16,Udupi,43,70526,30056.62,43357.70,73414.32,136009.92
16,17,Chikkamagaluru,28,18025,50432.55,27332.99,77765.54,84325.34
17,18,Tumakuru,34,91614,38156.78,64801.19,102957.97,121014.00
18,19,Kolara,7,19246,16304.07,44430.40,60734.47,18042.87
19,20,Bengaluru(U),46,11642,3631.50,6879.25,10510.75,14843.88
20,21,Bengaluru(R),8,23896,12020.91,5970.75,17991.66,18922.56
21,22,Mandya,55,213397,71517.92,49766.81,121284.73,133266.31
22,23,Hassan,32,20534,55443.41,32621.96,88065.37,122344.80
23,24,Dakshina Kannada,62,172577,108883.18,144115.16,252998.34,284586.96
24,25,Kodagu,17,25181,53826.76,32640.48,86467.24,92694.00
25,26,Mysuru,23,52330,40429.35,8014.08,48443.43,42254.17
26,27,Chamarajanagara,9,14981,11334.42,2181.85,13516.27,10531.88
27,28,Chikkaballapura,6,20865,19996.44,16432.35,36428.79,12988.03
28,29,Ramanagara,10,61315,29440.06,7343.16,36783.22,18513.93
29,30,Yadgir,3,30560,7165.04,0.00,7165.04,5973.01

In [132]:
def get_empty_col(df_list):
    index_list=[]
    for i in range(len(df_list)):
        empty_columns = df_list[i].columns[df_list[i].isna().all()].tolist()
        if len(empty_columns) > 0:
            index_list.append([i,empty_columns])
    return index_list

In [133]:
empty_col = get_empty_col(final_list)
empty_col

[]

In [134]:
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [135]:
final_df = concat_dataframe(final_list)

In [136]:
final_df

,1,2,949,950,951,952,953,954,955,956,...,967,968,969,970,971,972,973,974,975,976
0,1,Belagavi,101,428943,183033.70,173588.50,356622.20,372513.98,12,22598,...,11,21017,105,23934,854,90506,2089,421573,3059,557030
1,2,Bagalkot,48,27888,127632.14,133056.97,260689.11,250898.47,6,557,...,6,13341,35,5565,359,48903,858,246217,1258,314026
2,3,Vijayapura,41,209645,116062.08,96911.17,212973.25,232208.02,5,1667,...,9,6984,49,8938,206,30098,628,157516,892,203536
3,4,Kalburgi,7,57037,22173.94,490.80,22664.74,10782.67,7,131,...,8,9232,66,16617,358,43800,833,670720,1265,740369
4,5,Bidar,45,184022,90645.33,139189.64,229834.97,179627.92,5,2176,...,6,3470,45,5530,447,45221,16,6400,514,60621
5,6,Raichur,14,61289,31077.27,11709.34,42786.61,77279.08,5,2198,...,5,6475,38,12910,216,41263,813,331517,1072,392165
6,7,Koppal,8,37607,15030.43,7911.00,22941.43,35188.61,4,2525,...,4,8845,21,6559,292,38273,304,113962,621,167639
7,8,Gadag,7,24093,10183.06,4141.32,14324.38,15913.37,5,7903,...,7,7037,29,3227,202,24861,385,151798,623,186923
8,9,Dharwad,14,24376,10669.37,5523.32,16192.69,23198.49,5,4541,...,4,4354,84,39767,198,23043,530,431824,816,498988
9,10,Uttara Kannada,54,24324,89742.50,88703.83,178446.33,233666.20,25,49565,...,9,48043,16,2879,263,27748,308,291876,596,370546
10,11,Haveri,15,30190,10847.66,4224.91,15072.57,20420.71,7,6281,...,7,10990,21,4772,479,74684,740,604580,1247,695026
11,12,Ballari,30,101058,68696.52,34617.57,103314.09,105694.39,8,3554,...,9,16171,20,7307,439,65943,587,245211,1055,334632
12,13,Chitradurga,14,45739,25073.40,5407.52,30480.92,30524.19,6,3823,...,6,8909,20,3088,379,47415,367,85414,772,144826
13,14,Davanagere,18,82912,29051.87,16676.21,45728.08,28575.39,5,8095,...,5,4232,33,14495,394,58162,659,77570,1091,154459
14,15,Shivamogga,29,101783,42071.00,1211.00,43282.00,157911.00,8,649,...,24,62801,29,30659,547,96987,260,111283,860,301730
15,16,Udupi,43,70526,30056.62,43357.70,73414.32,136009.92,3,4978,...,3,35971,9,4960,338,111714,192,372109,542,524754
16,17,Chikkamagaluru,28,18025,50432.55,27332.99,77765.54,84325.34,8,803,...,7,14092,11,5361,246,37351,166,84971,430,141775
17,18,Tumakuru,34,91614,38156.78,64801.19,102957.97,121014.00,10,8574,...,10,14507,45,11223,1303,246670,444,456924,1802,729324
18,19,Kolara,7,19246,16304.07,44430.40,60734.47,18042.87,5,3491,...,5,14151,25,14663,1056,191391,469,222700,1555,442905
19,20,Bengaluru(U),46,11642,3631.50,6879.25,10510.75,14843.88,5,4692,...,25,8886,240,194122,332,69803,20,7541,617,280352
20,21,Bengaluru(R),8,23896,12020.91,5970.75,17991.66,18922.56,4,395,...,4,20260,19,9230,815,135380,270,55180,1108,220050
21,22,Mandya,55,213397,71517.92,49766.81,121284.73,133266.31,7,7578,...,7,28005,34,15035,1259,307762,300,161975,1600,512777
22,23,Hassan,32,20534,55443.41,32621.96,88065.37,122344.80,8,740,...,12,13047,36,14761,1304,189873,282,71086,1634,288767
23,24,Dakshina Kannada,62,172577,108883.18,144115.16,252998.34,284586.96,7,14893,...,6,5634,20,6755,391,87980,223,504845,640,605214
24,25,Kodagu,17,25181,53826.76,32640.48,86467.24,92694.00,3,1940,...,11,13958,1,1137,34,5453,186,115500,232,136048
25,26,Mysuru,23,52330,40429.35,8014.08,48443.43,42254.17,7,7216,...,7,10762,284,143879,1117,203930,902,204791,2310,563362
26,27,Chamarajanagara,9,14981,11334.42,2181.85,13516.27,10531.88,4,3712,...,4,4837,8,2213,492,108422,199,87465,703,202937
27,28,Chikkaballapura,6,20865,19996.44,16432.35,36428.79,12988.03,5,10177,...,6,14656,19,12590,1074,149201,266,73248,1365,249695
28,29,Ramanagara,10,61315,29440.06,7343.16,36783.22,18513.93,4,4775,...,4,14363,15,4814,951,152366,180,58904,1150,230447
29,30,Yadgir,3,30560,7165.04,0.00,7165.04,5973.01,3,209,...,5,9480,12,1526,87,8888,562,686996,666,706890

In [137]:
final_df.columns = final_df.columns.astype(int)

In [138]:
final_df[2]

0             Belagavi
1             Bagalkot
2           Vijayapura
3             Kalburgi
4                Bidar
5              Raichur
6               Koppal
7                Gadag
8              Dharwad
9       Uttara Kannada
10              Haveri
11             Ballari
12         Chitradurga
13          Davanagere
14          Shivamogga
15               Udupi
16      Chikkamagaluru
17            Tumakuru
18              Kolara
19        Bengaluru(U)
20        Bengaluru(R)
21              Mandya
22              Hassan
23    Dakshina Kannada
24              Kodagu
25              Mysuru
26     Chamarajanagara
27     Chikkaballapura
28          Ramanagara
29              Yadgir
Name: 2, dtype: object

In [139]:
final_df = final_df.reindex(sorted(final_df.columns, key=int), axis=1)

In [140]:
final_df

,1,2,949,950,951,952,953,954,955,956,...,967,968,969,970,971,972,973,974,975,976
0,1,Belagavi,101,428943,183033.70,173588.50,356622.20,372513.98,12,22598,...,11,21017,105,23934,854,90506,2089,421573,3059,557030
1,2,Bagalkot,48,27888,127632.14,133056.97,260689.11,250898.47,6,557,...,6,13341,35,5565,359,48903,858,246217,1258,314026
2,3,Vijayapura,41,209645,116062.08,96911.17,212973.25,232208.02,5,1667,...,9,6984,49,8938,206,30098,628,157516,892,203536
3,4,Kalburgi,7,57037,22173.94,490.80,22664.74,10782.67,7,131,...,8,9232,66,16617,358,43800,833,670720,1265,740369
4,5,Bidar,45,184022,90645.33,139189.64,229834.97,179627.92,5,2176,...,6,3470,45,5530,447,45221,16,6400,514,60621
5,6,Raichur,14,61289,31077.27,11709.34,42786.61,77279.08,5,2198,...,5,6475,38,12910,216,41263,813,331517,1072,392165
6,7,Koppal,8,37607,15030.43,7911.00,22941.43,35188.61,4,2525,...,4,8845,21,6559,292,38273,304,113962,621,167639
7,8,Gadag,7,24093,10183.06,4141.32,14324.38,15913.37,5,7903,...,7,7037,29,3227,202,24861,385,151798,623,186923
8,9,Dharwad,14,24376,10669.37,5523.32,16192.69,23198.49,5,4541,...,4,4354,84,39767,198,23043,530,431824,816,498988
9,10,Uttara Kannada,54,24324,89742.50,88703.83,178446.33,233666.20,25,49565,...,9,48043,16,2879,263,27748,308,291876,596,370546
10,11,Haveri,15,30190,10847.66,4224.91,15072.57,20420.71,7,6281,...,7,10990,21,4772,479,74684,740,604580,1247,695026
11,12,Ballari,30,101058,68696.52,34617.57,103314.09,105694.39,8,3554,...,9,16171,20,7307,439,65943,587,245211,1055,334632
12,13,Chitradurga,14,45739,25073.40,5407.52,30480.92,30524.19,6,3823,...,6,8909,20,3088,379,47415,367,85414,772,144826
13,14,Davanagere,18,82912,29051.87,16676.21,45728.08,28575.39,5,8095,...,5,4232,33,14495,394,58162,659,77570,1091,154459
14,15,Shivamogga,29,101783,42071.00,1211.00,43282.00,157911.00,8,649,...,24,62801,29,30659,547,96987,260,111283,860,301730
15,16,Udupi,43,70526,30056.62,43357.70,73414.32,136009.92,3,4978,...,3,35971,9,4960,338,111714,192,372109,542,524754
16,17,Chikkamagaluru,28,18025,50432.55,27332.99,77765.54,84325.34,8,803,...,7,14092,11,5361,246,37351,166,84971,430,141775
17,18,Tumakuru,34,91614,38156.78,64801.19,102957.97,121014.00,10,8574,...,10,14507,45,11223,1303,246670,444,456924,1802,729324
18,19,Kolara,7,19246,16304.07,44430.40,60734.47,18042.87,5,3491,...,5,14151,25,14663,1056,191391,469,222700,1555,442905
19,20,Bengaluru(U),46,11642,3631.50,6879.25,10510.75,14843.88,5,4692,...,25,8886,240,194122,332,69803,20,7541,617,280352
20,21,Bengaluru(R),8,23896,12020.91,5970.75,17991.66,18922.56,4,395,...,4,20260,19,9230,815,135380,270,55180,1108,220050
21,22,Mandya,55,213397,71517.92,49766.81,121284.73,133266.31,7,7578,...,7,28005,34,15035,1259,307762,300,161975,1600,512777
22,23,Hassan,32,20534,55443.41,32621.96,88065.37,122344.80,8,740,...,12,13047,36,14761,1304,189873,282,71086,1634,288767
23,24,Dakshina Kannada,62,172577,108883.18,144115.16,252998.34,284586.96,7,14893,...,6,5634,20,6755,391,87980,223,504845,640,605214
24,25,Kodagu,17,25181,53826.76,32640.48,86467.24,92694.00,3,1940,...,11,13958,1,1137,34,5453,186,115500,232,136048
25,26,Mysuru,23,52330,40429.35,8014.08,48443.43,42254.17,7,7216,...,7,10762,284,143879,1117,203930,902,204791,2310,563362
26,27,Chamarajanagara,9,14981,11334.42,2181.85,13516.27,10531.88,4,3712,...,4,4837,8,2213,492,108422,199,87465,703,202937
27,28,Chikkaballapura,6,20865,19996.44,16432.35,36428.79,12988.03,5,10177,...,6,14656,19,12590,1074,149201,266,73248,1365,249695
28,29,Ramanagara,10,61315,29440.06,7343.16,36783.22,18513.93,4,4775,...,4,14363,15,4814,951,152366,180,58904,1150,230447
29,30,Yadgir,3,30560,7165.04,0.00,7165.04,5973.01,3,209,...,5,9480,12,1526,87,8888,562,686996,666,706890

In [141]:
final_df = final_df.drop(final_df.index[30:])

In [142]:
final_df

,1,2,949,950,951,952,953,954,955,956,...,967,968,969,970,971,972,973,974,975,976
0,1,Belagavi,101,428943,183033.70,173588.50,356622.20,372513.98,12,22598,...,11,21017,105,23934,854,90506,2089,421573,3059,557030
1,2,Bagalkot,48,27888,127632.14,133056.97,260689.11,250898.47,6,557,...,6,13341,35,5565,359,48903,858,246217,1258,314026
2,3,Vijayapura,41,209645,116062.08,96911.17,212973.25,232208.02,5,1667,...,9,6984,49,8938,206,30098,628,157516,892,203536
3,4,Kalburgi,7,57037,22173.94,490.80,22664.74,10782.67,7,131,...,8,9232,66,16617,358,43800,833,670720,1265,740369
4,5,Bidar,45,184022,90645.33,139189.64,229834.97,179627.92,5,2176,...,6,3470,45,5530,447,45221,16,6400,514,60621
5,6,Raichur,14,61289,31077.27,11709.34,42786.61,77279.08,5,2198,...,5,6475,38,12910,216,41263,813,331517,1072,392165
6,7,Koppal,8,37607,15030.43,7911.00,22941.43,35188.61,4,2525,...,4,8845,21,6559,292,38273,304,113962,621,167639
7,8,Gadag,7,24093,10183.06,4141.32,14324.38,15913.37,5,7903,...,7,7037,29,3227,202,24861,385,151798,623,186923
8,9,Dharwad,14,24376,10669.37,5523.32,16192.69,23198.49,5,4541,...,4,4354,84,39767,198,23043,530,431824,816,498988
9,10,Uttara Kannada,54,24324,89742.50,88703.83,178446.33,233666.20,25,49565,...,9,48043,16,2879,263,27748,308,291876,596,370546
10,11,Haveri,15,30190,10847.66,4224.91,15072.57,20420.71,7,6281,...,7,10990,21,4772,479,74684,740,604580,1247,695026
11,12,Ballari,30,101058,68696.52,34617.57,103314.09,105694.39,8,3554,...,9,16171,20,7307,439,65943,587,245211,1055,334632
12,13,Chitradurga,14,45739,25073.40,5407.52,30480.92,30524.19,6,3823,...,6,8909,20,3088,379,47415,367,85414,772,144826
13,14,Davanagere,18,82912,29051.87,16676.21,45728.08,28575.39,5,8095,...,5,4232,33,14495,394,58162,659,77570,1091,154459
14,15,Shivamogga,29,101783,42071.00,1211.00,43282.00,157911.00,8,649,...,24,62801,29,30659,547,96987,260,111283,860,301730
15,16,Udupi,43,70526,30056.62,43357.70,73414.32,136009.92,3,4978,...,3,35971,9,4960,338,111714,192,372109,542,524754
16,17,Chikkamagaluru,28,18025,50432.55,27332.99,77765.54,84325.34,8,803,...,7,14092,11,5361,246,37351,166,84971,430,141775
17,18,Tumakuru,34,91614,38156.78,64801.19,102957.97,121014.00,10,8574,...,10,14507,45,11223,1303,246670,444,456924,1802,729324
18,19,Kolara,7,19246,16304.07,44430.40,60734.47,18042.87,5,3491,...,5,14151,25,14663,1056,191391,469,222700,1555,442905
19,20,Bengaluru(U),46,11642,3631.50,6879.25,10510.75,14843.88,5,4692,...,25,8886,240,194122,332,69803,20,7541,617,280352
20,21,Bengaluru(R),8,23896,12020.91,5970.75,17991.66,18922.56,4,395,...,4,20260,19,9230,815,135380,270,55180,1108,220050
21,22,Mandya,55,213397,71517.92,49766.81,121284.73,133266.31,7,7578,...,7,28005,34,15035,1259,307762,300,161975,1600,512777
22,23,Hassan,32,20534,55443.41,32621.96,88065.37,122344.80,8,740,...,12,13047,36,14761,1304,189873,282,71086,1634,288767
23,24,Dakshina Kannada,62,172577,108883.18,144115.16,252998.34,284586.96,7,14893,...,6,5634,20,6755,391,87980,223,504845,640,605214
24,25,Kodagu,17,25181,53826.76,32640.48,86467.24,92694.00,3,1940,...,11,13958,1,1137,34,5453,186,115500,232,136048
25,26,Mysuru,23,52330,40429.35,8014.08,48443.43,42254.17,7,7216,...,7,10762,284,143879,1117,203930,902,204791,2310,563362
26,27,Chamarajanagara,9,14981,11334.42,2181.85,13516.27,10531.88,4,3712,...,4,4837,8,2213,492,108422,199,87465,703,202937
27,28,Chikkaballapura,6,20865,19996.44,16432.35,36428.79,12988.03,5,10177,...,6,14656,19,12590,1074,149201,266,73248,1365,249695
28,29,Ramanagara,10,61315,29440.06,7343.16,36783.22,18513.93,4,4775,...,4,14363,15,4814,951,152366,180,58904,1150,230447
29,30,Yadgir,3,30560,7165.04,0.00,7165.04,5973.01,3,209,...,5,9480,12,1526,87,8888,562,686996,666,706890

In [143]:
new_order = [18, 20, 19, 27, 26, 29, 30, 22, 21, 24, 23, 25, 4, 5, 8, 12, 10, 9, 6, 1, 2, 15, 13, 11, 14, 16, 17, 7, 3, 28]
final_df[1] = new_order
final_df

,1,2,949,950,951,952,953,954,955,956,...,967,968,969,970,971,972,973,974,975,976
0,18,Belagavi,101,428943,183033.70,173588.50,356622.20,372513.98,12,22598,...,11,21017,105,23934,854,90506,2089,421573,3059,557030
1,20,Bagalkot,48,27888,127632.14,133056.97,260689.11,250898.47,6,557,...,6,13341,35,5565,359,48903,858,246217,1258,314026
2,19,Vijayapura,41,209645,116062.08,96911.17,212973.25,232208.02,5,1667,...,9,6984,49,8938,206,30098,628,157516,892,203536
3,27,Kalburgi,7,57037,22173.94,490.80,22664.74,10782.67,7,131,...,8,9232,66,16617,358,43800,833,670720,1265,740369
4,26,Bidar,45,184022,90645.33,139189.64,229834.97,179627.92,5,2176,...,6,3470,45,5530,447,45221,16,6400,514,60621
5,29,Raichur,14,61289,31077.27,11709.34,42786.61,77279.08,5,2198,...,5,6475,38,12910,216,41263,813,331517,1072,392165
6,30,Koppal,8,37607,15030.43,7911.00,22941.43,35188.61,4,2525,...,4,8845,21,6559,292,38273,304,113962,621,167639
7,22,Gadag,7,24093,10183.06,4141.32,14324.38,15913.37,5,7903,...,7,7037,29,3227,202,24861,385,151798,623,186923
8,21,Dharwad,14,24376,10669.37,5523.32,16192.69,23198.49,5,4541,...,4,4354,84,39767,198,23043,530,431824,816,498988
9,24,Uttara Kannada,54,24324,89742.50,88703.83,178446.33,233666.20,25,49565,...,9,48043,16,2879,263,27748,308,291876,596,370546
10,23,Haveri,15,30190,10847.66,4224.91,15072.57,20420.71,7,6281,...,7,10990,21,4772,479,74684,740,604580,1247,695026
11,25,Ballari,30,101058,68696.52,34617.57,103314.09,105694.39,8,3554,...,9,16171,20,7307,439,65943,587,245211,1055,334632
12,4,Chitradurga,14,45739,25073.40,5407.52,30480.92,30524.19,6,3823,...,6,8909,20,3088,379,47415,367,85414,772,144826
13,5,Davanagere,18,82912,29051.87,16676.21,45728.08,28575.39,5,8095,...,5,4232,33,14495,394,58162,659,77570,1091,154459
14,8,Shivamogga,29,101783,42071.00,1211.00,43282.00,157911.00,8,649,...,24,62801,29,30659,547,96987,260,111283,860,301730
15,12,Udupi,43,70526,30056.62,43357.70,73414.32,136009.92,3,4978,...,3,35971,9,4960,338,111714,192,372109,542,524754
16,10,Chikkamagaluru,28,18025,50432.55,27332.99,77765.54,84325.34,8,803,...,7,14092,11,5361,246,37351,166,84971,430,141775
17,9,Tumakuru,34,91614,38156.78,64801.19,102957.97,121014.00,10,8574,...,10,14507,45,11223,1303,246670,444,456924,1802,729324
18,6,Kolara,7,19246,16304.07,44430.40,60734.47,18042.87,5,3491,...,5,14151,25,14663,1056,191391,469,222700,1555,442905
19,1,Bengaluru(U),46,11642,3631.50,6879.25,10510.75,14843.88,5,4692,...,25,8886,240,194122,332,69803,20,7541,617,280352
20,2,Bengaluru(R),8,23896,12020.91,5970.75,17991.66,18922.56,4,395,...,4,20260,19,9230,815,135380,270,55180,1108,220050
21,15,Mandya,55,213397,71517.92,49766.81,121284.73,133266.31,7,7578,...,7,28005,34,15035,1259,307762,300,161975,1600,512777
22,13,Hassan,32,20534,55443.41,32621.96,88065.37,122344.80,8,740,...,12,13047,36,14761,1304,189873,282,71086,1634,288767
23,11,Dakshina Kannada,62,172577,108883.18,144115.16,252998.34,284586.96,7,14893,...,6,5634,20,6755,391,87980,223,504845,640,605214
24,14,Kodagu,17,25181,53826.76,32640.48,86467.24,92694.00,3,1940,...,11,13958,1,1137,34,5453,186,115500,232,136048
25,16,Mysuru,23,52330,40429.35,8014.08,48443.43,42254.17,7,7216,...,7,10762,284,143879,1117,203930,902,204791,2310,563362
26,17,Chamarajanagara,9,14981,11334.42,2181.85,13516.27,10531.88,4,3712,...,4,4837,8,2213,492,108422,199,87465,703,202937
27,7,Chikkaballapura,6,20865,19996.44,16432.35,36428.79,12988.03,5,10177,...,6,14656,19,12590,1074,149201,266,73248,1365,249695
28,3,Ramanagara,10,61315,29440.06,7343.16,36783.22,18513.93,4,4775,...,4,14363,15,4814,951,152366,180,58904,1150,230447
29,28,Yadgir,3,30560,7165.04,0.00,7165.04,5973.01,3,209,...,5,9480,12,1526,87,8888,562,686996,666,706890

In [144]:
final_data = final_df.sort_values(1)
final_data.reset_index(drop=True, inplace=True)
final_data

,1,2,949,950,951,952,953,954,955,956,...,967,968,969,970,971,972,973,974,975,976
0,1,Bengaluru(U),46,11642,3631.50,6879.25,10510.75,14843.88,5,4692,...,25,8886,240,194122,332,69803,20,7541,617,280352
1,2,Bengaluru(R),8,23896,12020.91,5970.75,17991.66,18922.56,4,395,...,4,20260,19,9230,815,135380,270,55180,1108,220050
2,3,Ramanagara,10,61315,29440.06,7343.16,36783.22,18513.93,4,4775,...,4,14363,15,4814,951,152366,180,58904,1150,230447
3,4,Chitradurga,14,45739,25073.40,5407.52,30480.92,30524.19,6,3823,...,6,8909,20,3088,379,47415,367,85414,772,144826
4,5,Davanagere,18,82912,29051.87,16676.21,45728.08,28575.39,5,8095,...,5,4232,33,14495,394,58162,659,77570,1091,154459
5,6,Kolara,7,19246,16304.07,44430.40,60734.47,18042.87,5,3491,...,5,14151,25,14663,1056,191391,469,222700,1555,442905
6,7,Chikkaballapura,6,20865,19996.44,16432.35,36428.79,12988.03,5,10177,...,6,14656,19,12590,1074,149201,266,73248,1365,249695
7,8,Shivamogga,29,101783,42071.00,1211.00,43282.00,157911.00,8,649,...,24,62801,29,30659,547,96987,260,111283,860,301730
8,9,Tumakuru,34,91614,38156.78,64801.19,102957.97,121014.00,10,8574,...,10,14507,45,11223,1303,246670,444,456924,1802,729324
9,10,Chikkamagaluru,28,18025,50432.55,27332.99,77765.54,84325.34,8,803,...,7,14092,11,5361,246,37351,166,84971,430,141775
10,11,Dakshina Kannada,62,172577,108883.18,144115.16,252998.34,284586.96,7,14893,...,6,5634,20,6755,391,87980,223,504845,640,605214
11,12,Udupi,43,70526,30056.62,43357.70,73414.32,136009.92,3,4978,...,3,35971,9,4960,338,111714,192,372109,542,524754
12,13,Hassan,32,20534,55443.41,32621.96,88065.37,122344.80,8,740,...,12,13047,36,14761,1304,189873,282,71086,1634,288767
13,14,Kodagu,17,25181,53826.76,32640.48,86467.24,92694.00,3,1940,...,11,13958,1,1137,34,5453,186,115500,232,136048
14,15,Mandya,55,213397,71517.92,49766.81,121284.73,133266.31,7,7578,...,7,28005,34,15035,1259,307762,300,161975,1600,512777
15,16,Mysuru,23,52330,40429.35,8014.08,48443.43,42254.17,7,7216,...,7,10762,284,143879,1117,203930,902,204791,2310,563362
16,17,Chamarajanagara,9,14981,11334.42,2181.85,13516.27,10531.88,4,3712,...,4,4837,8,2213,492,108422,199,87465,703,202937
17,18,Belagavi,101,428943,183033.70,173588.50,356622.20,372513.98,12,22598,...,11,21017,105,23934,854,90506,2089,421573,3059,557030
18,19,Vijayapura,41,209645,116062.08,96911.17,212973.25,232208.02,5,1667,...,9,6984,49,8938,206,30098,628,157516,892,203536
19,20,Bagalkot,48,27888,127632.14,133056.97,260689.11,250898.47,6,557,...,6,13341,35,5565,359,48903,858,246217,1258,314026
20,21,Dharwad,14,24376,10669.37,5523.32,16192.69,23198.49,5,4541,...,4,4354,84,39767,198,23043,530,431824,816,498988
21,22,Gadag,7,24093,10183.06,4141.32,14324.38,15913.37,5,7903,...,7,7037,29,3227,202,24861,385,151798,623,186923
22,23,Haveri,15,30190,10847.66,4224.91,15072.57,20420.71,7,6281,...,7,10990,21,4772,479,74684,740,604580,1247,695026
23,24,Uttara Kannada,54,24324,89742.50,88703.83,178446.33,233666.20,25,49565,...,9,48043,16,2879,263,27748,308,291876,596,370546
24,25,Ballari,30,101058,68696.52,34617.57,103314.09,105694.39,8,3554,...,9,16171,20,7307,439,65943,587,245211,1055,334632
25,26,Bidar,45,184022,90645.33,139189.64,229834.97,179627.92,5,2176,...,6,3470,45,5530,447,45221,16,6400,514,60621
26,27,Kalburgi,7,57037,22173.94,490.80,22664.74,10782.67,7,131,...,8,9232,66,16617,358,43800,833,670720,1265,740369
27,28,Yadgir,3,30560,7165.04,0.00,7165.04,5973.01,3,209,...,5,9480,12,1526,87,8888,562,686996,666,706890
28,29,Raichur,14,61289,31077.27,11709.34,42786.61,77279.08,5,2198,...,5,6475,38,12910,216,41263,813,331517,1072,392165
29,30,Koppal,8,37607,15030.43,7911.00,22941.43,35188.61,4,2525,...,4,8845,21,6559,292,38273,304,113962,621,167639

In [145]:
name_list = ['Bengaluru(U)','Bengaluru(R)', 'Ramanagara', 'Chitradurga', 'Davanagere', 'Kolara', 'Chikkaballapura', 'Shivamogga',
'Tumakuru', 'Chikkamagaluru', 'Dakshina Kannada', 'Udupi', 'Hassan', 'Kodagu', 'Mandya', 'Mysuru', 'Chamarajanagara',
 'Belagavi', 'Vijayapura', 'Bagalkot', 'Dharwad', 'Gadag', 'Haveri', 'Uttara Kannada', 'Ballari', 'Bidar', 'Kalburgi',
 'Yadgir', 'Raichur', 'Koppal']

In [146]:
final_data[2] = name_list
final_data

,1,2,949,950,951,952,953,954,955,956,...,967,968,969,970,971,972,973,974,975,976
0,1,Bengaluru(U),46,11642,3631.50,6879.25,10510.75,14843.88,5,4692,...,25,8886,240,194122,332,69803,20,7541,617,280352
1,2,Bengaluru(R),8,23896,12020.91,5970.75,17991.66,18922.56,4,395,...,4,20260,19,9230,815,135380,270,55180,1108,220050
2,3,Ramanagara,10,61315,29440.06,7343.16,36783.22,18513.93,4,4775,...,4,14363,15,4814,951,152366,180,58904,1150,230447
3,4,Chitradurga,14,45739,25073.40,5407.52,30480.92,30524.19,6,3823,...,6,8909,20,3088,379,47415,367,85414,772,144826
4,5,Davanagere,18,82912,29051.87,16676.21,45728.08,28575.39,5,8095,...,5,4232,33,14495,394,58162,659,77570,1091,154459
5,6,Kolara,7,19246,16304.07,44430.40,60734.47,18042.87,5,3491,...,5,14151,25,14663,1056,191391,469,222700,1555,442905
6,7,Chikkaballapura,6,20865,19996.44,16432.35,36428.79,12988.03,5,10177,...,6,14656,19,12590,1074,149201,266,73248,1365,249695
7,8,Shivamogga,29,101783,42071.00,1211.00,43282.00,157911.00,8,649,...,24,62801,29,30659,547,96987,260,111283,860,301730
8,9,Tumakuru,34,91614,38156.78,64801.19,102957.97,121014.00,10,8574,...,10,14507,45,11223,1303,246670,444,456924,1802,729324
9,10,Chikkamagaluru,28,18025,50432.55,27332.99,77765.54,84325.34,8,803,...,7,14092,11,5361,246,37351,166,84971,430,141775
10,11,Dakshina Kannada,62,172577,108883.18,144115.16,252998.34,284586.96,7,14893,...,6,5634,20,6755,391,87980,223,504845,640,605214
11,12,Udupi,43,70526,30056.62,43357.70,73414.32,136009.92,3,4978,...,3,35971,9,4960,338,111714,192,372109,542,524754
12,13,Hassan,32,20534,55443.41,32621.96,88065.37,122344.80,8,740,...,12,13047,36,14761,1304,189873,282,71086,1634,288767
13,14,Kodagu,17,25181,53826.76,32640.48,86467.24,92694.00,3,1940,...,11,13958,1,1137,34,5453,186,115500,232,136048
14,15,Mandya,55,213397,71517.92,49766.81,121284.73,133266.31,7,7578,...,7,28005,34,15035,1259,307762,300,161975,1600,512777
15,16,Mysuru,23,52330,40429.35,8014.08,48443.43,42254.17,7,7216,...,7,10762,284,143879,1117,203930,902,204791,2310,563362
16,17,Chamarajanagara,9,14981,11334.42,2181.85,13516.27,10531.88,4,3712,...,4,4837,8,2213,492,108422,199,87465,703,202937
17,18,Belagavi,101,428943,183033.70,173588.50,356622.20,372513.98,12,22598,...,11,21017,105,23934,854,90506,2089,421573,3059,557030
18,19,Vijayapura,41,209645,116062.08,96911.17,212973.25,232208.02,5,1667,...,9,6984,49,8938,206,30098,628,157516,892,203536
19,20,Bagalkot,48,27888,127632.14,133056.97,260689.11,250898.47,6,557,...,6,13341,35,5565,359,48903,858,246217,1258,314026
20,21,Dharwad,14,24376,10669.37,5523.32,16192.69,23198.49,5,4541,...,4,4354,84,39767,198,23043,530,431824,816,498988
21,22,Gadag,7,24093,10183.06,4141.32,14324.38,15913.37,5,7903,...,7,7037,29,3227,202,24861,385,151798,623,186923
22,23,Haveri,15,30190,10847.66,4224.91,15072.57,20420.71,7,6281,...,7,10990,21,4772,479,74684,740,604580,1247,695026
23,24,Uttara Kannada,54,24324,89742.50,88703.83,178446.33,233666.20,25,49565,...,9,48043,16,2879,263,27748,308,291876,596,370546
24,25,Ballari,30,101058,68696.52,34617.57,103314.09,105694.39,8,3554,...,9,16171,20,7307,439,65943,587,245211,1055,334632
25,26,Bidar,45,184022,90645.33,139189.64,229834.97,179627.92,5,2176,...,6,3470,45,5530,447,45221,16,6400,514,60621
26,27,Kalburgi,7,57037,22173.94,490.80,22664.74,10782.67,7,131,...,8,9232,66,16617,358,43800,833,670720,1265,740369
27,28,Yadgir,3,30560,7165.04,0.00,7165.04,5973.01,3,209,...,5,9480,12,1526,87,8888,562,686996,666,706890
28,29,Raichur,14,61289,31077.27,11709.34,42786.61,77279.08,5,2198,...,5,6475,38,12910,216,41263,813,331517,1072,392165
29,30,Koppal,8,37607,15030.43,7911.00,22941.43,35188.61,4,2525,...,4,8845,21,6559,292,38273,304,113962,621,167639

In [147]:
final_data.to_csv(absolute_result_path, sep=';', index=False)
final_data.to_csv(absolute_dictionary_path, sep=';', index=False)

In [148]:
start = final_data.columns[2]
end = final_data.columns[-1]
for i in range(start,end):
    if i not in final_df.columns.tolist():
        print(i)