In [1]:
import tabula
import pandas as pd
import os
import re

In [2]:
relative_path_pdf = "../HTML/Output_html_Chapter1/kaggle/working/out/pages/"
relative_dictionary_path = "../Data/Chapter1_Data.csv"
relative_result_path = "../HTML/Output_html_Chapter1/Chapter1_Data.csv"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = os.path.join(os.getcwd(), relative_path_pdf)
absolute_dictionary_path = os.path.join(os.getcwd(), relative_dictionary_path)
absolute_result_path = os.path.join(os.getcwd(), relative_result_path)

In [3]:
os.listdir(absolute_path_pdf)

['page_9.pdf',
 'page_1.pdf',
 'page_2.pdf',
 'page_3.pdf',
 'page_10.pdf',
 'page_7.pdf',
 'page_11.pdf',
 'page_5.pdf',
 'page_6.pdf',
 'page_4.pdf',
 'page_8.pdf']

In [4]:
output_list = []

In [5]:
# iterate through all file 
for file in os.listdir(absolute_path_pdf): 
    # Check whether file is in text format or not 
    if file.endswith(".pdf"): 
        file_path = os.path.join(absolute_path_pdf, file)
        dfs = tabula.read_pdf(file_path, pages='all', stream=True)
        output_list.append(dfs[0])

In [6]:
len(output_list)

11

In [7]:
output_list[0]

,Unnamed: 0,1.8 ಅಲ ಸತಮತು ರತ ಆದಾ ಪತರ ೕಾರರು 31.03.2020ರ ಅಂತೆ (ಸಂತ)
0,NaN,Priority Card Holders with and without gas cyl...
1,NaN,ಅಲ ಸತ / with cylinder ಅಲ ರತ / without cyli...
2,NaN,Districts
3,SI.No,ನಗರ ಾೕಣ ಒಟು ಾಜದ ತೆನಗರ ಾೕಣ ಒಟು ಾಜ...
4,NaN,ೇಕಡಾರು
5,NaN,ೇಕಡಾರು / % toUrbanRural Total Urban Rural Total
6,NaN,% to State total State total
7,1,2 47 48 49 50 51 52 53 54
8,1,Belagavi 250514 787024 1037538 9.46 2 30587 30...
9,2,Bagalkot 118709 178307 297016 2.71 0 69502 695...
10,3,Vijayapura 115822 243080 358902 3.27 1068 1070...
11,4,Kalburgi 155453 221065 376518 3.43 191 109323 ...
12,5,Bidar 68193 224075 292268 2.66 0 15093 15093 2.15
13,6,Raichur 98143 306450 404593 3.69 0 0 0 0.00
14,7,Koppal 58958 163888 222846 2.03 41 68134 68175...
15,8,Gadag 76354 93580 169934 1.55 140 55215 55355 ...
16,9,Dharwad 174534 142897 317431 2.89 0 33695 3369...
17,10,Uttara Kannada 55976 182557 238533 2.17 4271 4...
18,11,Haveri 67100 271053 338153 3.08 0 3834 3834 0.55
19,12,Ballari 179958 349226 529184 4.82 8 75 83 0.01
20,13,Chitradurga 65455 291074 356529 3.25 0 6983 69...
21,14,Davanagere 106009 228048 334057 3.04 15 230 24...
22,15,Shivamogga 112402 242885 355287 3.24 0 0 0 0.00
23,16,Udupi 28294 132961 161255 1.47 0 1215 1215 0.17
24,17,Chikkamagaluru 47125 187714 234839 2.14 59 102...
25,18,Tumakuru 112888 499530 612418 5.58 0 0 0 0.00
26,19,Kolara 77802 237065 314867 2.87 0 0 0 0.00
27,20,Bengaluru(U) 771802 191657 963459 8.78 0 0 0 0.00
28,21,Bengaluru(R) 48912 168249 217161 1.98 0 0 0 0.00
29,22,Mandya 57642 392567 450209 4.10 0 0 0 0.00
30,23,Hassan 76892 392819 469711 4.28 0 0 0 0.00
31,24,Dakshina Kannada 54425 196339 250764 2.29 0 0 ...
32,25,Kodagu 11247 76925 88172 0.80 0 11186 11186 1.59
33,26,Mysuru 178318 477437 655755 5.98 6 92 98 0.01
34,27,Chamarajanagara 37847 191983 229830 2.09 13 25...
35,28,Chikkaballapura 51312 229861 281173 2.56 0 0 0...
36,29,Ramanagara 61870 218283 280153 2.55 0 0 0 0.00
37,30,Yadgir 45603 87019 132622 1.21 1699 97780 9947...
38,NaN,State Total 3365559 7605618 10971177 100.00 75...

In [8]:
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        pattern = r'\b\d+\b'
        flag = 0
        for idx in range(len(df_col) - 1):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = [int(x) for x in re.findall(pattern, df_col.iloc[idx])]
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = [int(x) for x in re.findall(pattern, df_col.iloc[idx+1])]

            if 1 in numbers_1 and 1 in numbers_2:
                start_index = idx
                end_index = idx+31
                index_list.append([start_index, end_index])
                flag=1
                i += 1
                break
        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index

In [9]:
index_list, drop_list = find_header(output_list)

In [10]:
drop_list

[]

In [11]:
index_list

[[7, 38],
 [5, 36],
 [7, 38],
 [10, 41],
 [7, 38],
 [5, 36],
 [13, 44],
 [7, 38],
 [7, 38],
 [7, 38],
 [8, 39]]

In [12]:
len(index_list)

11

In [13]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        return new_df_list
    return df_list

In [14]:
def get_final_index(df_list, index_ll, drop_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list = find_header(df)
        drop_index = drop_list
    return df, index_ll, drop_index

In [15]:
new_output_list, new_index_list, new_drop_list = get_final_index(output_list, index_list, drop_list)

In [16]:
new_output_list[0]

,Unnamed: 0,1.8 ಅಲ ಸತಮತು ರತ ಆದಾ ಪತರ ೕಾರರು 31.03.2020ರ ಅಂತೆ (ಸಂತ)
0,NaN,Priority Card Holders with and without gas cyl...
1,NaN,ಅಲ ಸತ / with cylinder ಅಲ ರತ / without cyli...
2,NaN,Districts
3,SI.No,ನಗರ ಾೕಣ ಒಟು ಾಜದ ತೆನಗರ ಾೕಣ ಒಟು ಾಜ...
4,NaN,ೇಕಡಾರು
5,NaN,ೇಕಡಾರು / % toUrbanRural Total Urban Rural Total
6,NaN,% to State total State total
7,1,2 47 48 49 50 51 52 53 54
8,1,Belagavi 250514 787024 1037538 9.46 2 30587 30...
9,2,Bagalkot 118709 178307 297016 2.71 0 69502 695...
10,3,Vijayapura 115822 243080 358902 3.27 1068 1070...
11,4,Kalburgi 155453 221065 376518 3.43 191 109323 ...
12,5,Bidar 68193 224075 292268 2.66 0 15093 15093 2.15
13,6,Raichur 98143 306450 404593 3.69 0 0 0 0.00
14,7,Koppal 58958 163888 222846 2.03 41 68134 68175...
15,8,Gadag 76354 93580 169934 1.55 140 55215 55355 ...
16,9,Dharwad 174534 142897 317431 2.89 0 33695 3369...
17,10,Uttara Kannada 55976 182557 238533 2.17 4271 4...
18,11,Haveri 67100 271053 338153 3.08 0 3834 3834 0.55
19,12,Ballari 179958 349226 529184 4.82 8 75 83 0.01
20,13,Chitradurga 65455 291074 356529 3.25 0 6983 69...
21,14,Davanagere 106009 228048 334057 3.04 15 230 24...
22,15,Shivamogga 112402 242885 355287 3.24 0 0 0 0.00
23,16,Udupi 28294 132961 161255 1.47 0 1215 1215 0.17
24,17,Chikkamagaluru 47125 187714 234839 2.14 59 102...
25,18,Tumakuru 112888 499530 612418 5.58 0 0 0 0.00
26,19,Kolara 77802 237065 314867 2.87 0 0 0 0.00
27,20,Bengaluru(U) 771802 191657 963459 8.78 0 0 0 0.00
28,21,Bengaluru(R) 48912 168249 217161 1.98 0 0 0 0.00
29,22,Mandya 57642 392567 450209 4.10 0 0 0 0.00
30,23,Hassan 76892 392819 469711 4.28 0 0 0 0.00
31,24,Dakshina Kannada 54425 196339 250764 2.29 0 0 ...
32,25,Kodagu 11247 76925 88172 0.80 0 11186 11186 1.59
33,26,Mysuru 178318 477437 655755 5.98 6 92 98 0.01
34,27,Chamarajanagara 37847 191983 229830 2.09 13 25...
35,28,Chikkaballapura 51312 229861 281173 2.56 0 0 0...
36,29,Ramanagara 61870 218283 280153 2.55 0 0 0 0.00
37,30,Yadgir 45603 87019 132622 1.21 1699 97780 9947...
38,NaN,State Total 3365559 7605618 10971177 100.00 75...

In [17]:
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(index_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(index_list[idx][0], index_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [18]:
corrected_list = remove_header(new_output_list, new_index_list)

In [19]:
corrected_list[0]

,Unnamed: 0,1.8 ಅಲ ಸತಮತು ರತ ಆದಾ ಪತರ ೕಾರರು 31.03.2020ರ ಅಂತೆ (ಸಂತ)
0,1,2 47 48 49 50 51 52 53 54
1,1,Belagavi 250514 787024 1037538 9.46 2 30587 30...
2,2,Bagalkot 118709 178307 297016 2.71 0 69502 695...
3,3,Vijayapura 115822 243080 358902 3.27 1068 1070...
4,4,Kalburgi 155453 221065 376518 3.43 191 109323 ...
5,5,Bidar 68193 224075 292268 2.66 0 15093 15093 2.15
6,6,Raichur 98143 306450 404593 3.69 0 0 0 0.00
7,7,Koppal 58958 163888 222846 2.03 41 68134 68175...
8,8,Gadag 76354 93580 169934 1.55 140 55215 55355 ...
9,9,Dharwad 174534 142897 317431 2.89 0 33695 3369...
10,10,Uttara Kannada 55976 182557 238533 2.17 4271 4...
11,11,Haveri 67100 271053 338153 3.08 0 3834 3834 0.55
12,12,Ballari 179958 349226 529184 4.82 8 75 83 0.01
13,13,Chitradurga 65455 291074 356529 3.25 0 6983 69...
14,14,Davanagere 106009 228048 334057 3.04 15 230 24...
15,15,Shivamogga 112402 242885 355287 3.24 0 0 0 0.00
16,16,Udupi 28294 132961 161255 1.47 0 1215 1215 0.17
17,17,Chikkamagaluru 47125 187714 234839 2.14 59 102...
18,18,Tumakuru 112888 499530 612418 5.58 0 0 0 0.00
19,19,Kolara 77802 237065 314867 2.87 0 0 0 0.00
20,20,Bengaluru(U) 771802 191657 963459 8.78 0 0 0 0.00
21,21,Bengaluru(R) 48912 168249 217161 1.98 0 0 0 0.00
22,22,Mandya 57642 392567 450209 4.10 0 0 0 0.00
23,23,Hassan 76892 392819 469711 4.28 0 0 0 0.00
24,24,Dakshina Kannada 54425 196339 250764 2.29 0 0 ...
25,25,Kodagu 11247 76925 88172 0.80 0 11186 11186 1.59
26,26,Mysuru 178318 477437 655755 5.98 6 92 98 0.01
27,27,Chamarajanagara 37847 191983 229830 2.09 13 25...
28,28,Chikkaballapura 51312 229861 281173 2.56 0 0 0...
29,29,Ramanagara 61870 218283 280153 2.55 0 0 0 0.00
30,30,Yadgir 45603 87019 132622 1.21 1699 97780 9947...

In [20]:
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        pattern = r'\b\d+\b'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)

                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)

    return new_df

In [21]:
new_list = first_column_split(corrected_list)

In [22]:
new_list[0]

,Unnamed: 0,1.8 ಅಲ ಸತಮತು ರತ ಆದಾ ಪತರ ೕಾರರು 31.03.2020ರ ಅಂತೆ (ಸಂತ)
0,1,2 47 48 49 50 51 52 53 54
1,1,Belagavi 250514 787024 1037538 9.46 2 30587 30...
2,2,Bagalkot 118709 178307 297016 2.71 0 69502 695...
3,3,Vijayapura 115822 243080 358902 3.27 1068 1070...
4,4,Kalburgi 155453 221065 376518 3.43 191 109323 ...
5,5,Bidar 68193 224075 292268 2.66 0 15093 15093 2.15
6,6,Raichur 98143 306450 404593 3.69 0 0 0 0.00
7,7,Koppal 58958 163888 222846 2.03 41 68134 68175...
8,8,Gadag 76354 93580 169934 1.55 140 55215 55355 ...
9,9,Dharwad 174534 142897 317431 2.89 0 33695 3369...
10,10,Uttara Kannada 55976 182557 238533 2.17 4271 4...
11,11,Haveri 67100 271053 338153 3.08 0 3834 3834 0.55
12,12,Ballari 179958 349226 529184 4.82 8 75 83 0.01
13,13,Chitradurga 65455 291074 356529 3.25 0 6983 69...
14,14,Davanagere 106009 228048 334057 3.04 15 230 24...
15,15,Shivamogga 112402 242885 355287 3.24 0 0 0 0.00
16,16,Udupi 28294 132961 161255 1.47 0 1215 1215 0.17
17,17,Chikkamagaluru 47125 187714 234839 2.14 59 102...
18,18,Tumakuru 112888 499530 612418 5.58 0 0 0 0.00
19,19,Kolara 77802 237065 314867 2.87 0 0 0 0.00
20,20,Bengaluru(U) 771802 191657 963459 8.78 0 0 0 0.00
21,21,Bengaluru(R) 48912 168249 217161 1.98 0 0 0 0.00
22,22,Mandya 57642 392567 450209 4.10 0 0 0 0.00
23,23,Hassan 76892 392819 469711 4.28 0 0 0 0.00
24,24,Dakshina Kannada 54425 196339 250764 2.29 0 0 ...
25,25,Kodagu 11247 76925 88172 0.80 0 11186 11186 1.59
26,26,Mysuru 178318 477437 655755 5.98 6 92 98 0.01
27,27,Chamarajanagara 37847 191983 229830 2.09 13 25...
28,28,Chikkaballapura 51312 229861 281173 2.56 0 0 0...
29,29,Ramanagara 61870 218283 280153 2.55 0 0 0 0.00
30,30,Yadgir 45603 87019 132622 1.21 1699 97780 9947...

In [23]:
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [24]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [25]:
#replaced_list = replace_with_nan(new_list)
replaced_list = new_list

In [26]:
replaced_list[0]

,Unnamed: 0,1.8 ಅಲ ಸತಮತು ರತ ಆದಾ ಪತರ ೕಾರರು 31.03.2020ರ ಅಂತೆ (ಸಂತ)
0,1,2 47 48 49 50 51 52 53 54
1,1,Belagavi 250514 787024 1037538 9.46 2 30587 30...
2,2,Bagalkot 118709 178307 297016 2.71 0 69502 695...
3,3,Vijayapura 115822 243080 358902 3.27 1068 1070...
4,4,Kalburgi 155453 221065 376518 3.43 191 109323 ...
5,5,Bidar 68193 224075 292268 2.66 0 15093 15093 2.15
6,6,Raichur 98143 306450 404593 3.69 0 0 0 0.00
7,7,Koppal 58958 163888 222846 2.03 41 68134 68175...
8,8,Gadag 76354 93580 169934 1.55 140 55215 55355 ...
9,9,Dharwad 174534 142897 317431 2.89 0 33695 3369...
10,10,Uttara Kannada 55976 182557 238533 2.17 4271 4...
11,11,Haveri 67100 271053 338153 3.08 0 3834 3834 0.55
12,12,Ballari 179958 349226 529184 4.82 8 75 83 0.01
13,13,Chitradurga 65455 291074 356529 3.25 0 6983 69...
14,14,Davanagere 106009 228048 334057 3.04 15 230 24...
15,15,Shivamogga 112402 242885 355287 3.24 0 0 0 0.00
16,16,Udupi 28294 132961 161255 1.47 0 1215 1215 0.17
17,17,Chikkamagaluru 47125 187714 234839 2.14 59 102...
18,18,Tumakuru 112888 499530 612418 5.58 0 0 0 0.00
19,19,Kolara 77802 237065 314867 2.87 0 0 0 0.00
20,20,Bengaluru(U) 771802 191657 963459 8.78 0 0 0 0.00
21,21,Bengaluru(R) 48912 168249 217161 1.98 0 0 0 0.00
22,22,Mandya 57642 392567 450209 4.10 0 0 0 0.00
23,23,Hassan 76892 392819 469711 4.28 0 0 0 0.00
24,24,Dakshina Kannada 54425 196339 250764 2.29 0 0 ...
25,25,Kodagu 11247 76925 88172 0.80 0 11186 11186 1.59
26,26,Mysuru 178318 477437 655755 5.98 6 92 98 0.01
27,27,Chamarajanagara 37847 191983 229830 2.09 13 25...
28,28,Chikkaballapura 51312 229861 281173 2.56 0 0 0...
29,29,Ramanagara 61870 218283 280153 2.55 0 0 0 0.00
30,30,Yadgir 45603 87019 132622 1.21 1699 97780 9947...

In [27]:
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        for colName, colData in df.items():
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = [int(x) for x in re.findall(pattern, colData.values[0])]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        colData = colData.str.replace(r'\s+', ' ', regex=True)
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)

        new_df_list.append(new_df)
    return new_df_list

In [28]:
separated_list = all_column_split(replaced_list)

In [30]:
separated_list[0]

,Unnamed: 0,0,1,2,3,4,5,6,7,8
0,1,2,47,48,49,50,51,52,53,54
1,1,Belagavi,250514,787024,1037538,9.46,2,30587,30589,4.35
2,2,Bagalkot,118709,178307,297016,2.71,0,69502,69502,9.88
3,3,Vijayapura,115822,243080,358902,3.27,1068,107063,108131,15.38
4,4,Kalburgi,155453,221065,376518,3.43,191,109323,109514,15.57
5,5,Bidar,68193,224075,292268,2.66,0,15093,15093,2.15
6,6,Raichur,98143,306450,404593,3.69,0,0,0,0.00
7,7,Koppal,58958,163888,222846,2.03,41,68134,68175,9.69
8,8,Gadag,76354,93580,169934,1.55,140,55215,55355,7.87
9,9,Dharwad,174534,142897,317431,2.89,0,33695,33695,4.79
10,10,Uttara Kannada,55976,182557,238533,2.17,4271,49539,53810,7.65
11,11,Haveri,67100,271053,338153,3.08,0,3834,3834,0.55
12,12,Ballari,179958,349226,529184,4.82,8,75,83,0.01
13,13,Chitradurga,65455,291074,356529,3.25,0,6983,6983,0.99
14,14,Davanagere,106009,228048,334057,3.04,15,230,245,0.03
15,15,Shivamogga,112402,242885,355287,3.24,0,0,0,0.00
16,16,Udupi,28294,132961,161255,1.47,0,1215,1215,0.17
17,17,Chikkamagaluru,47125,187714,234839,2.14,59,10233,10292,1.46
18,18,Tumakuru,112888,499530,612418,5.58,0,0,0,0.00
19,19,Kolara,77802,237065,314867,2.87,0,0,0,0.00
20,20,Bengaluru(U),771802,191657,963459,8.78,0,0,0,0.00
21,21,Bengaluru(R),48912,168249,217161,1.98,0,0,0,0.00
22,22,Mandya,57642,392567,450209,4.10,0,0,0,0.00
23,23,Hassan,76892,392819,469711,4.28,0,0,0,0.00
24,24,Dakshina Kannada,54425,196339,250764,2.29,0,0,0,0.00
25,25,Kodagu,11247,76925,88172,0.80,0,11186,11186,1.59
26,26,Mysuru,178318,477437,655755,5.98,6,92,98,0.01
27,27,Chamarajanagara,37847,191983,229830,2.09,13,25963,25976,3.69
28,28,Chikkaballapura,51312,229861,281173,2.56,0,0,0,0.00
29,29,Ramanagara,61870,218283,280153,2.55,0,0,0,0.00
30,30,Yadgir,45603,87019,132622,1.21,1699,97780,99479,14.15

In [31]:
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [32]:
final_list = reset_header(separated_list)

In [33]:
final_list[0]

,1,2,47,48,49,50,51,52,53,54
0,1,Belagavi,250514,787024,1037538,9.46,2,30587,30589,4.35
1,2,Bagalkot,118709,178307,297016,2.71,0,69502,69502,9.88
2,3,Vijayapura,115822,243080,358902,3.27,1068,107063,108131,15.38
3,4,Kalburgi,155453,221065,376518,3.43,191,109323,109514,15.57
4,5,Bidar,68193,224075,292268,2.66,0,15093,15093,2.15
5,6,Raichur,98143,306450,404593,3.69,0,0,0,0.00
6,7,Koppal,58958,163888,222846,2.03,41,68134,68175,9.69
7,8,Gadag,76354,93580,169934,1.55,140,55215,55355,7.87
8,9,Dharwad,174534,142897,317431,2.89,0,33695,33695,4.79
9,10,Uttara Kannada,55976,182557,238533,2.17,4271,49539,53810,7.65
10,11,Haveri,67100,271053,338153,3.08,0,3834,3834,0.55
11,12,Ballari,179958,349226,529184,4.82,8,75,83,0.01
12,13,Chitradurga,65455,291074,356529,3.25,0,6983,6983,0.99
13,14,Davanagere,106009,228048,334057,3.04,15,230,245,0.03
14,15,Shivamogga,112402,242885,355287,3.24,0,0,0,0.00
15,16,Udupi,28294,132961,161255,1.47,0,1215,1215,0.17
16,17,Chikkamagaluru,47125,187714,234839,2.14,59,10233,10292,1.46
17,18,Tumakuru,112888,499530,612418,5.58,0,0,0,0.00
18,19,Kolara,77802,237065,314867,2.87,0,0,0,0.00
19,20,Bengaluru(U),771802,191657,963459,8.78,0,0,0,0.00
20,21,Bengaluru(R),48912,168249,217161,1.98,0,0,0,0.00
21,22,Mandya,57642,392567,450209,4.10,0,0,0,0.00
22,23,Hassan,76892,392819,469711,4.28,0,0,0,0.00
23,24,Dakshina Kannada,54425,196339,250764,2.29,0,0,0,0.00
24,25,Kodagu,11247,76925,88172,0.80,0,11186,11186,1.59
25,26,Mysuru,178318,477437,655755,5.98,6,92,98,0.01
26,27,Chamarajanagara,37847,191983,229830,2.09,13,25963,25976,3.69
27,28,Chikkaballapura,51312,229861,281173,2.56,0,0,0,0.00
28,29,Ramanagara,61870,218283,280153,2.55,0,0,0,0.00
29,30,Yadgir,45603,87019,132622,1.21,1699,97780,99479,14.15

In [56]:
def get_empty_col(df_list):
    index_list=[]
    for i in range(len(df_list)):
        empty_columns = df_list[i].columns[df_list[i].eq("").all()].tolist()
        if len(empty_columns) > 0:
            index_list.append([i,empty_columns])
    return index_list

In [57]:
empty_col = get_empty_col(final_list)
empty_col

[]

In [34]:
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [35]:
final_df = concat_dataframe(final_list)

In [36]:
final_df

,1,2,47,48,49,50,51,52,53,54,...,18,19,39,40,41,42,43,44,45,46
0,1,Belagavi,250514,787024,1037538,9.46,2,30587,30589,4.35,...,977,53,8915,57656,66571,4.80,2,2153,2155,1.58
1,2,Bagalkot,118709,178307,297016,2.71,0,69502,69502,9.88,...,246,3,8757,17773,26530,1.91,259,19471,19730,14.50
2,3,Vijayapura,115822,243080,358902,3.27,1068,107063,108131,15.38,...,686,14,6690,20152,26842,1.94,105,15385,15490,11.39
3,4,Kalburgi,155453,221065,376518,3.43,191,109323,109514,15.57,...,943,20,8412,33425,41837,3.02,55,21562,21617,15.89
4,5,Bidar,68193,224075,292268,2.66,0,15093,15093,2.15,...,282,17,2673,33357,36030,2.60,0,3776,3776,2.78
5,6,Raichur,98143,306450,404593,3.69,0,0,0,0.00,...,237,3,9702,43370,53072,3.83,0,0,0,0.00
6,7,Koppal,58958,163888,222846,2.03,41,68134,68175,9.69,...,211,19,4826,19051,23877,1.72,7,13623,13630,10.02
7,8,Gadag,76354,93580,169934,1.55,140,55215,55355,7.87,...,110,0,2895,18675,21570,1.55,16,6733,6749,4.96
8,9,Dharwad,174534,142897,317431,2.89,0,33695,33695,4.79,...,680,31,6425,19100,25525,1.84,0,4127,4127,3.03
9,10,Uttara Kannada,55976,182557,238533,2.17,4271,49539,53810,7.65,...,159,1,812,11355,12167,0.88,51,3930,3981,2.93
10,11,Haveri,67100,271053,338153,3.08,0,3834,3834,0.55,...,116,10,6318,38972,45290,3.26,0,1865,1865,1.37
11,12,Ballari,179958,349226,529184,4.82,8,75,83,0.01,...,711,34,13652,52961,66613,4.80,1,4,5,0.00
12,13,Chitradurga,65455,291074,356529,3.25,0,6983,6983,0.99,...,155,2,2780,38970,41750,3.01,0,727,727,0.53
13,14,Davanagere,106009,228048,334057,3.04,15,230,245,0.03,...,183,0,6424,39077,45501,3.28,0,8,8,0.01
14,15,Shivamogga,112402,242885,355287,3.24,0,0,0,0.00,...,545,52,4971,32941,37912,2.73,0,0,0,0.00
15,16,Udupi,28294,132961,161255,1.47,0,1215,1215,0.17,...,127,5,2980,25642,28622,2.06,0,0,0,0.00
16,17,Chikkamagaluru,47125,187714,234839,2.14,59,10233,10292,1.46,...,172,6,1879,19156,21035,1.52,3,1551,1554,1.14
17,18,Tumakuru,112888,499530,612418,5.58,0,0,0,0.00,...,319,18,2696,46721,49417,3.56,0,0,0,0.00
18,19,Kolara,77802,237065,314867,2.87,0,0,0,0.00,...,180,11,2672,27252,29924,2.16,0,0,0,0.00
19,20,Bengaluru(U),771802,191657,963459,8.78,0,0,0,0.00,...,4922,199,19681,8527,28208,2.03,0,0,0,0.00
20,21,Bengaluru(R),48912,168249,217161,1.98,0,0,0,0.00,...,39,0,1269,13133,14402,1.04,0,0,0,0.00
21,22,Mandya,57642,392567,450209,4.10,0,0,0,0.00,...,230,15,2300,32115,34415,2.48,0,0,0,0.00
22,23,Hassan,76892,392819,469711,4.28,0,0,0,0.00,...,247,8,68201,362728,430929,31.07,1447,22078,23525,17.29
23,24,Dakshina Kannada,54425,196339,250764,2.29,0,0,0,0.00,...,307,5,3246,19907,23153,1.67,0,0,0,0.00
24,25,Kodagu,11247,76925,88172,0.80,0,11186,11186,1.59,...,166,10,487,8125,8612,0.62,1,1433,1434,1.05
25,26,Mysuru,178318,477437,655755,5.98,6,92,98,0.01,...,909,70,4453,45988,50441,3.64,0,4,4,0.00
26,27,Chamarajanagara,37847,191983,229830,2.09,13,25963,25976,3.69,...,128,0,2619,32807,35426,2.55,0,318,318,0.23
27,28,Chikkaballapura,51312,229861,281173,2.56,0,0,0,0.00,...,193,12,1658,26932,28590,2.06,0,0,0,0.00
28,29,Ramanagara,61870,218283,280153,2.55,0,0,0,0.00,...,198,0,2092,16916,19008,1.37,0,0,0,0.00
29,30,Yadgir,45603,87019,132622,1.21,1699,97780,99479,14.15,...,143,0,3824,10053,13877,1.00,1856,13493,15349,11.28

In [37]:
final_df.columns = final_df.columns.astype(int)

In [38]:
final_df[2]

0             Belagavi
1             Bagalkot
2           Vijayapura
3             Kalburgi
4                Bidar
5              Raichur
6               Koppal
7                Gadag
8              Dharwad
9       Uttara Kannada
10              Haveri
11             Ballari
12         Chitradurga
13          Davanagere
14          Shivamogga
15               Udupi
16      Chikkamagaluru
17            Tumakuru
18              Kolara
19        Bengaluru(U)
20        Bengaluru(R)
21              Mandya
22              Hassan
23    Dakshina Kannada
24              Kodagu
25              Mysuru
26     Chamarajanagara
27     Chikkaballapura
28          Ramanagara
29              Yadgir
Name: 2, dtype: object

In [39]:
final_df = final_df.reindex(sorted(final_df.columns, key=int), axis=1)

In [42]:
final_df

,1,2,3,4,5,6,7,8,9,10,...,60,61,62,63,64,65,66,67,68,69
0,1,Belagavi,14,38,506,563,1263,12,1275,1,...,1617,1617,3.73,6129837,5395986,4519498,3914651,105133,76288,24
1,2,Bagalkot,9,18,198,244,613,11,624,0,...,8582,8582,19.81,3408400,3064819,2605044,2319059,151030,114283,10
2,3,Vijayapura,12,20,212,206,679,13,692,1,...,5449,5793,13.37,2513168,2197047,1914861,1646876,93908,70444,28
3,4,Kalburgi,11,32,264,351,871,47,918,1,...,9928,9941,22.95,2902138,2534515,2234360,1923068,91970,69799,29
4,5,Bidar,8,30,185,302,595,25,620,0,...,0,0,0.00,2038541,1803044,1549379,1351542,98578,73902,25
5,6,Raichur,7,37,179,280,815,69,884,0,...,0,0,0.00,2276129,1998556,1735584,1501531,96492,72522,26
6,7,Koppal,7,20,153,157,595,34,629,0,...,1800,1801,4.16,1632086,1438505,1224804,1061649,96380,71153,27
7,8,Gadag,7,11,122,194,322,15,337,0,...,5387,5400,12.46,1494902,1323879,1153495,1009127,115808,88294,19
8,9,Dharwad,8,14,144,199,361,18,379,1,...,0,0,0.00,3275019,2964545,2572755,2308249,149469,116398,9
9,10,Uttara Kannada,12,35,231,239,1243,46,1289,0,...,6085,6227,14.37,2417341,2238412,1828650,1612276,139903,104502,12
10,11,Haveri,8,19,224,256,696,7,703,0,...,0,0,0.00,2156504,1911651,1655133,1445954,111426,84331,20
11,12,Ballari,11,31,237,341,601,31,632,1,...,9,11,0.03,4821100,4269786,3762954,3299188,133982,104445,13
12,13,Chitradurga,6,22,189,311,948,115,1063,0,...,0,0,0.00,2202500,1934475,1580171,1360043,108558,76337,23
13,14,Davanagere,6,20,196,231,721,122,843,1,...,23,23,0.05,2412112,2125634,1718083,1485025,120444,84145,21
14,15,Shivamogga,7,37,271,361,1444,86,1530,1,...,0,0,0.00,3771369,3396957,2792695,2485581,180482,132123,5
15,16,Udupi,7,9,158,187,233,0,233,0,...,0,0,0.00,3660514,3360198,2873545,2619358,265778,207196,3
16,17,Chikkamagaluru,8,34,226,237,1022,95,1117,0,...,1690,1704,3.93,3028116,2740266,2374426,2135634,224248,174848,4
17,18,Tumakuru,10,53,330,560,2582,133,2715,1,...,0,0,0.00,5117387,4543092,3890030,3415104,157923,118745,8
18,19,Kolara,6,27,156,260,1608,189,1797,0,...,0,0,0.00,2401500,2119026,1810892,1575140,128439,95516,16
19,20,Bengaluru(U),5,27,93,227,562,26,588,1,...,0,0,0.00,48905970,46335480,37869984,35711422,4354501,3356103,1
20,21,Bengaluru(R),4,17,105,191,957,94,1051,0,...,0,0,0.00,2176576,1951369,1683893,1495618,18887,14479,30
21,22,Mandya,7,45,233,415,1368,109,1477,0,...,0,0,0.00,3419331,3076159,2605893,2321678,158639,119748,7
22,23,Hassan,8,38,267,406,2418,156,2574,0,...,0,0,0.00,3071173,2748503,2339666,2071630,144084,108710,11
23,24,Dakshina Kannada,7,17,230,286,331,0,331,1,...,0,0,0.00,7952175,7287305,6421518,5852490,324756,260828,2
24,25,Kodagu,3,16,104,109,291,5,296,0,...,0,0,0.00,783639,691414,605567,527361,116114,88792,18
25,26,Mysuru,8,33,266,429,1199,137,1336,1,...,0,0,0.00,4672167,4157788,3591157,3155303,129016,97939,14
26,27,Chamarajanagara,5,16,130,222,428,81,509,0,...,438,438,1.01,1563250,1366697,1216673,1063329,125986,97021,15
27,28,Chikkaballapura,6,26,157,247,1324,189,1513,0,...,0,0,0.00,1923122,1706352,1432711,1248095,126280,92631,17
28,29,Ramanagara,4,18,127,242,820,52,872,0,...,0,0,0.00,2161731,1929340,1655712,1461729,165955,125757,6
29,30,Yadgir,6,16,123,169,487,26,513,0,...,960,1785,4.12,1470073,1301166,1106586,964149,103188,76476,22

In [43]:
new_order = [18, 20, 19, 27, 26, 29, 30, 22, 21, 24, 23, 25, 4, 5, 8, 12, 10, 9, 6, 1, 2, 15, 13, 11, 14, 16, 17, 7, 3, 28]
final_df[1] = new_order

In [44]:
final_df

,1,2,3,4,5,6,7,8,9,10,...,60,61,62,63,64,65,66,67,68,69
0,18,Belagavi,14,38,506,563,1263,12,1275,1,...,1617,1617,3.73,6129837,5395986,4519498,3914651,105133,76288,24
1,20,Bagalkot,9,18,198,244,613,11,624,0,...,8582,8582,19.81,3408400,3064819,2605044,2319059,151030,114283,10
2,19,Vijayapura,12,20,212,206,679,13,692,1,...,5449,5793,13.37,2513168,2197047,1914861,1646876,93908,70444,28
3,27,Kalburgi,11,32,264,351,871,47,918,1,...,9928,9941,22.95,2902138,2534515,2234360,1923068,91970,69799,29
4,26,Bidar,8,30,185,302,595,25,620,0,...,0,0,0.00,2038541,1803044,1549379,1351542,98578,73902,25
5,29,Raichur,7,37,179,280,815,69,884,0,...,0,0,0.00,2276129,1998556,1735584,1501531,96492,72522,26
6,30,Koppal,7,20,153,157,595,34,629,0,...,1800,1801,4.16,1632086,1438505,1224804,1061649,96380,71153,27
7,22,Gadag,7,11,122,194,322,15,337,0,...,5387,5400,12.46,1494902,1323879,1153495,1009127,115808,88294,19
8,21,Dharwad,8,14,144,199,361,18,379,1,...,0,0,0.00,3275019,2964545,2572755,2308249,149469,116398,9
9,24,Uttara Kannada,12,35,231,239,1243,46,1289,0,...,6085,6227,14.37,2417341,2238412,1828650,1612276,139903,104502,12
10,23,Haveri,8,19,224,256,696,7,703,0,...,0,0,0.00,2156504,1911651,1655133,1445954,111426,84331,20
11,25,Ballari,11,31,237,341,601,31,632,1,...,9,11,0.03,4821100,4269786,3762954,3299188,133982,104445,13
12,4,Chitradurga,6,22,189,311,948,115,1063,0,...,0,0,0.00,2202500,1934475,1580171,1360043,108558,76337,23
13,5,Davanagere,6,20,196,231,721,122,843,1,...,23,23,0.05,2412112,2125634,1718083,1485025,120444,84145,21
14,8,Shivamogga,7,37,271,361,1444,86,1530,1,...,0,0,0.00,3771369,3396957,2792695,2485581,180482,132123,5
15,12,Udupi,7,9,158,187,233,0,233,0,...,0,0,0.00,3660514,3360198,2873545,2619358,265778,207196,3
16,10,Chikkamagaluru,8,34,226,237,1022,95,1117,0,...,1690,1704,3.93,3028116,2740266,2374426,2135634,224248,174848,4
17,9,Tumakuru,10,53,330,560,2582,133,2715,1,...,0,0,0.00,5117387,4543092,3890030,3415104,157923,118745,8
18,6,Kolara,6,27,156,260,1608,189,1797,0,...,0,0,0.00,2401500,2119026,1810892,1575140,128439,95516,16
19,1,Bengaluru(U),5,27,93,227,562,26,588,1,...,0,0,0.00,48905970,46335480,37869984,35711422,4354501,3356103,1
20,2,Bengaluru(R),4,17,105,191,957,94,1051,0,...,0,0,0.00,2176576,1951369,1683893,1495618,18887,14479,30
21,15,Mandya,7,45,233,415,1368,109,1477,0,...,0,0,0.00,3419331,3076159,2605893,2321678,158639,119748,7
22,13,Hassan,8,38,267,406,2418,156,2574,0,...,0,0,0.00,3071173,2748503,2339666,2071630,144084,108710,11
23,11,Dakshina Kannada,7,17,230,286,331,0,331,1,...,0,0,0.00,7952175,7287305,6421518,5852490,324756,260828,2
24,14,Kodagu,3,16,104,109,291,5,296,0,...,0,0,0.00,783639,691414,605567,527361,116114,88792,18
25,16,Mysuru,8,33,266,429,1199,137,1336,1,...,0,0,0.00,4672167,4157788,3591157,3155303,129016,97939,14
26,17,Chamarajanagara,5,16,130,222,428,81,509,0,...,438,438,1.01,1563250,1366697,1216673,1063329,125986,97021,15
27,7,Chikkaballapura,6,26,157,247,1324,189,1513,0,...,0,0,0.00,1923122,1706352,1432711,1248095,126280,92631,17
28,3,Ramanagara,4,18,127,242,820,52,872,0,...,0,0,0.00,2161731,1929340,1655712,1461729,165955,125757,6
29,28,Yadgir,6,16,123,169,487,26,513,0,...,960,1785,4.12,1470073,1301166,1106586,964149,103188,76476,22

In [46]:
final_data = final_df.sort_values(1)

In [48]:
final_data.reset_index(drop=True, inplace=True)

In [49]:
final_data

,1,2,3,4,5,6,7,8,9,10,...,60,61,62,63,64,65,66,67,68,69
0,1,Bengaluru(U),5,27,93,227,562,26,588,1,...,0,0,0.00,48905970,46335480,37869984,35711422,4354501,3356103,1
1,2,Bengaluru(R),4,17,105,191,957,94,1051,0,...,0,0,0.00,2176576,1951369,1683893,1495618,18887,14479,30
2,3,Ramanagara,4,18,127,242,820,52,872,0,...,0,0,0.00,2161731,1929340,1655712,1461729,165955,125757,6
3,4,Chitradurga,6,22,189,311,948,115,1063,0,...,0,0,0.00,2202500,1934475,1580171,1360043,108558,76337,23
4,5,Davanagere,6,20,196,231,721,122,843,1,...,23,23,0.05,2412112,2125634,1718083,1485025,120444,84145,21
5,6,Kolara,6,27,156,260,1608,189,1797,0,...,0,0,0.00,2401500,2119026,1810892,1575140,128439,95516,16
6,7,Chikkaballapura,6,26,157,247,1324,189,1513,0,...,0,0,0.00,1923122,1706352,1432711,1248095,126280,92631,17
7,8,Shivamogga,7,37,271,361,1444,86,1530,1,...,0,0,0.00,3771369,3396957,2792695,2485581,180482,132123,5
8,9,Tumakuru,10,53,330,560,2582,133,2715,1,...,0,0,0.00,5117387,4543092,3890030,3415104,157923,118745,8
9,10,Chikkamagaluru,8,34,226,237,1022,95,1117,0,...,1690,1704,3.93,3028116,2740266,2374426,2135634,224248,174848,4
10,11,Dakshina Kannada,7,17,230,286,331,0,331,1,...,0,0,0.00,7952175,7287305,6421518,5852490,324756,260828,2
11,12,Udupi,7,9,158,187,233,0,233,0,...,0,0,0.00,3660514,3360198,2873545,2619358,265778,207196,3
12,13,Hassan,8,38,267,406,2418,156,2574,0,...,0,0,0.00,3071173,2748503,2339666,2071630,144084,108710,11
13,14,Kodagu,3,16,104,109,291,5,296,0,...,0,0,0.00,783639,691414,605567,527361,116114,88792,18
14,15,Mandya,7,45,233,415,1368,109,1477,0,...,0,0,0.00,3419331,3076159,2605893,2321678,158639,119748,7
15,16,Mysuru,8,33,266,429,1199,137,1336,1,...,0,0,0.00,4672167,4157788,3591157,3155303,129016,97939,14
16,17,Chamarajanagara,5,16,130,222,428,81,509,0,...,438,438,1.01,1563250,1366697,1216673,1063329,125986,97021,15
17,18,Belagavi,14,38,506,563,1263,12,1275,1,...,1617,1617,3.73,6129837,5395986,4519498,3914651,105133,76288,24
18,19,Vijayapura,12,20,212,206,679,13,692,1,...,5449,5793,13.37,2513168,2197047,1914861,1646876,93908,70444,28
19,20,Bagalkot,9,18,198,244,613,11,624,0,...,8582,8582,19.81,3408400,3064819,2605044,2319059,151030,114283,10
20,21,Dharwad,8,14,144,199,361,18,379,1,...,0,0,0.00,3275019,2964545,2572755,2308249,149469,116398,9
21,22,Gadag,7,11,122,194,322,15,337,0,...,5387,5400,12.46,1494902,1323879,1153495,1009127,115808,88294,19
22,23,Haveri,8,19,224,256,696,7,703,0,...,0,0,0.00,2156504,1911651,1655133,1445954,111426,84331,20
23,24,Uttara Kannada,12,35,231,239,1243,46,1289,0,...,6085,6227,14.37,2417341,2238412,1828650,1612276,139903,104502,12
24,25,Ballari,11,31,237,341,601,31,632,1,...,9,11,0.03,4821100,4269786,3762954,3299188,133982,104445,13
25,26,Bidar,8,30,185,302,595,25,620,0,...,0,0,0.00,2038541,1803044,1549379,1351542,98578,73902,25
26,27,Kalburgi,11,32,264,351,871,47,918,1,...,9928,9941,22.95,2902138,2534515,2234360,1923068,91970,69799,29
27,28,Yadgir,6,16,123,169,487,26,513,0,...,960,1785,4.12,1470073,1301166,1106586,964149,103188,76476,22
28,29,Raichur,7,37,179,280,815,69,884,0,...,0,0,0.00,2276129,1998556,1735584,1501531,96492,72522,26
29,30,Koppal,7,20,153,157,595,34,629,0,...,1800,1801,4.16,1632086,1438505,1224804,1061649,96380,71153,27

In [58]:
final_data[2].tolist()

['Bengaluru(U)',
 'Bengaluru(R)',
 'Ramanagara',
 'Chitradurga',
 'Davanagere',
 'Kolara',
 'Chikkaballapura',
 'Shivamogga',
 'Tumakuru',
 'Chikkamagaluru',
 'Dakshina Kannada',
 'Udupi',
 'Hassan',
 'Kodagu',
 'Mandya',
 'Mysuru',
 'Chamarajanagara',
 'Belagavi',
 'Vijayapura',
 'Bagalkot',
 'Dharwad',
 'Gadag',
 'Haveri',
 'Uttara Kannada',
 'Ballari',
 'Bidar',
 'Kalburgi',
 'Yadgir',
 'Raichur',
 'Koppal']

In [50]:
final_data.to_csv(absolute_result_path, sep=';', index=False)
final_data.to_csv(absolute_dictionary_path, sep=';', index=False)