In [2]:
import tabula
import numpy as np
import pandas as pd
import os
import re
import math

In [3]:
relative_path_pdf = "../HTML/Output_html_Chapter5/kaggle/working/out/pages/"
relative_dictionary_path = "../Data/Chapter5_Data.csv"
relative_result_path = "../HTML/Output_html_Chapter5/Chapter5_Data.csv"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = os.path.join(os.getcwd(), relative_path_pdf)
absolute_dictionary_path = os.path.join(os.getcwd(), relative_dictionary_path)
absolute_result_path = os.path.join(os.getcwd(), relative_result_path)

In [4]:
os.listdir(absolute_path_pdf)

['page_1.pdf',
 'page_2.pdf',
 'page_3.pdf',
 'page_7.pdf',
 'page_5.pdf',
 'page_6.pdf',
 'page_4.pdf']

In [5]:
output_list = []

In [6]:
# Get a list of PDF files sorted by filename
pdf_files = sorted([file for file in os.listdir(absolute_path_pdf) if file.endswith(".pdf")], key=lambda x: [int(s) if s.isdigit() else s.lower() for s in re.split('(\d+)', x)])

# Iterate through all PDF files
for file in pdf_files:
    file_path = os.path.join(absolute_path_pdf, file)
    dfs = tabula.read_pdf(file_path, pages='all', stream=True)
    if dfs:
        output_list.append(dfs[0])  # Assuming you want to append the first DataFrame from each PDF

In [7]:
len(output_list)

7

In [8]:
output_list[0]

,Unnamed: 0,Unnamed: 1,5. ಪಶುಾಲೆ ಮತು ೕನುಾೆ / Animal Husbandry and Fisheries,Unnamed: 2,Unnamed: 3
0,NaN,NaN,5.1 ಾನುಾರು ಗಣ 2012 (ಸಂೆಗಳ),/ Livestock Census 2012 (In Numbers),NaN
1,ಕ,ೆಗಳ,ದನಕರುಗಳ / Cattle,ಕುಗಳ / Sheep,NaN
2,ಸಂ,NaN,NaN,ಎಗಳ,NaN
3,NaN,NaN,ಸೕಯ ತ ೇ ಶ ತ ಒಟು,Bufaloes ಸೕಯ ತ ೇ ಶ ತ,ಒಟು
4,NaN,NaN,Indigenous ತ Cross Total,Indigenous ತ Cross,Total
5,NaN,NaN,Breed Breed,Breed Breed,NaN
6,NaN,NaN,Exotic,Exotic,NaN
7,NaN,NaN,Breed,Breed,NaN
8,1,2,790 791 792 793,794 795 796 797,798
9,1,ೆಳಾ,415839 0 176994 592833,829370 787386 0 1543,788929
10,2,ಾಗಲೋೆ,236797 0 42618 279415,234802 733501 0 99,733600
11,3,ಜಯಪರ,248310 0 4715 253025,156860 309240 0 38,309278
12,4,ಕಲು,460488 0 12629 473117,91254 99843 0 218,100061
13,5,ೕದ,219964 0 14555 234519,130781 88043 0 359,88402
14,6,ಾಯಚೂರು,336753 0 22371 359124,136854 646356 0 1193,647549
15,7,ೊಪಳ,234622 0 25786 260408,77860 547059 0 2,547061
16,8,ಗದ,118502 0 24153 142655,60989 258712 0 335,259047
17,9,ಾರಾಡ,149877 0 43904 193781,79513 73690 0 292,73982
18,10,ಉತರ ಕನಡ,289788 0 47167 336955,87816 4549 0 234,4783
19,11,ಾೇ,224776 0 59833 284609,98468 253708 0 1000,254708
20,12,ಬಾ,370220 0 40732 410952,178929 915056 0 7405,922461
21,13,ತದುಗ,241095 0 34794 275889,152852 939591 0 447,940038
22,14,ಾವಣೆೆ,150478 0 114722 265200,139222 176831 0 156,176987
23,15,ವಗ,456368 0 112108 568476,149515 35633 0 1158,36791
24,16,ಉಡು,155309 0 96758 252067,8846 61 0 9,70
25,17,ಕಮಗಳರು,257740 0 79836 337576,70870 91155 0 157,91312
26,18,ತುಮಕೂರು,302707 0 224360 527067,181118 1060572 0 758,1061330
27,19,ೋಾರ,55416 0 173620 229036,45876 442903 2197 0,445100
28,20,ೆ೦ಗಳರು(ನ),20641 0 115941 136582,8453 72544 0 4758,77302
29,21,ೆ೦ಗಳರು(ಾ),36456 0 122364 158820,24381 123568 0 1302,124870
30,22,ಮಂಡ,153122 0 213618 366740,145516 339383 0 2391,341774
31,23,ಾಸನ,337112 0 269348 606460,141264 159544 0 1141,160685
32,24,ದಣ ಕನಡ,113747 0 139968 253715,3700 242 0 23,265
33,25,ೊಡಗು,55595 0 32833 88428,14476 1158 0 243,1401
34,26,ೖಸೂರು,316327 0 233225 549552,45419 217001 0 1380,218381
35,27,ಾಮಾಜನಗರ,119629 0 142891 262520,20887 128314 0 169,128483
36,28,ಕಬಾಪರ,83709 0 162630 246339,47140 424558 0 8133,432691
37,29,ಾಮನಗರ,134447 0 125450 259897,30619 152391 0 547,152938
38,30,ಾದ,308133 0 2594 310727,76855 460889 0 2593,463482
39,NaN,ಾಜ,6603967 0 2912517 9516484,3470505 9543481 2197 38083,9583761

In [9]:
#adding header
#new_row = [1, 2, np.nan, 381,382,383,384,385,386]
#index = 0
#output_list[6].loc[index + 1:] = output_list[6].loc[index:].shift(1)
#output_list[6].loc[index] = new_row
#output_list[6]

In [10]:
def find_last_index(df_col):
    pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
    for idx in range(len(df_col)):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    if 30 in numbers_1:
                        return idx+1
    return (len(df_col) - 1)

In [11]:
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        df_col = df_col.astype(str)

        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        flag = 0
        for idx in range(len(df_col) - 1):
            #print(idx, df_col.iloc[idx])
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = re.findall(pattern, df_col.iloc[idx+1])
                    numbers_2 = [int(num) if '.' not in num else float(num) for num in numbers_2]
                    #print(numbers_2)
            if 1 in numbers_1 and 1 in numbers_2:
                start_index = idx
                end_index = find_last_index(df_col)
                index_list.append([start_index, end_index])
                flag=1
                i += 1
                break

        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index

In [12]:
index_list, drop_list = find_header(output_list)

In [13]:
drop_list

[]

In [14]:
index_list

[[8, 39], [5, 36], [6, 37], [8, 39], [8, 39], [11, 44], [8, 39]]

In [15]:
len(index_list)

7

In [16]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        return new_df_list
    return df_list

In [17]:
def get_final_index(df_list, index_ll, drop_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list = find_header(df)
        drop_index = drop_list
    return df, index_ll, drop_index

In [18]:
new_output_list, new_index_list, new_drop_list = get_final_index(output_list, index_list, drop_list)

In [19]:
new_output_list[0]

,Unnamed: 0,Unnamed: 1,5. ಪಶುಾಲೆ ಮತು ೕನುಾೆ / Animal Husbandry and Fisheries,Unnamed: 2,Unnamed: 3
0,NaN,NaN,5.1 ಾನುಾರು ಗಣ 2012 (ಸಂೆಗಳ),/ Livestock Census 2012 (In Numbers),NaN
1,ಕ,ೆಗಳ,ದನಕರುಗಳ / Cattle,ಕುಗಳ / Sheep,NaN
2,ಸಂ,NaN,NaN,ಎಗಳ,NaN
3,NaN,NaN,ಸೕಯ ತ ೇ ಶ ತ ಒಟು,Bufaloes ಸೕಯ ತ ೇ ಶ ತ,ಒಟು
4,NaN,NaN,Indigenous ತ Cross Total,Indigenous ತ Cross,Total
5,NaN,NaN,Breed Breed,Breed Breed,NaN
6,NaN,NaN,Exotic,Exotic,NaN
7,NaN,NaN,Breed,Breed,NaN
8,1,2,790 791 792 793,794 795 796 797,798
9,1,ೆಳಾ,415839 0 176994 592833,829370 787386 0 1543,788929
10,2,ಾಗಲೋೆ,236797 0 42618 279415,234802 733501 0 99,733600
11,3,ಜಯಪರ,248310 0 4715 253025,156860 309240 0 38,309278
12,4,ಕಲು,460488 0 12629 473117,91254 99843 0 218,100061
13,5,ೕದ,219964 0 14555 234519,130781 88043 0 359,88402
14,6,ಾಯಚೂರು,336753 0 22371 359124,136854 646356 0 1193,647549
15,7,ೊಪಳ,234622 0 25786 260408,77860 547059 0 2,547061
16,8,ಗದ,118502 0 24153 142655,60989 258712 0 335,259047
17,9,ಾರಾಡ,149877 0 43904 193781,79513 73690 0 292,73982
18,10,ಉತರ ಕನಡ,289788 0 47167 336955,87816 4549 0 234,4783
19,11,ಾೇ,224776 0 59833 284609,98468 253708 0 1000,254708
20,12,ಬಾ,370220 0 40732 410952,178929 915056 0 7405,922461
21,13,ತದುಗ,241095 0 34794 275889,152852 939591 0 447,940038
22,14,ಾವಣೆೆ,150478 0 114722 265200,139222 176831 0 156,176987
23,15,ವಗ,456368 0 112108 568476,149515 35633 0 1158,36791
24,16,ಉಡು,155309 0 96758 252067,8846 61 0 9,70
25,17,ಕಮಗಳರು,257740 0 79836 337576,70870 91155 0 157,91312
26,18,ತುಮಕೂರು,302707 0 224360 527067,181118 1060572 0 758,1061330
27,19,ೋಾರ,55416 0 173620 229036,45876 442903 2197 0,445100
28,20,ೆ೦ಗಳರು(ನ),20641 0 115941 136582,8453 72544 0 4758,77302
29,21,ೆ೦ಗಳರು(ಾ),36456 0 122364 158820,24381 123568 0 1302,124870
30,22,ಮಂಡ,153122 0 213618 366740,145516 339383 0 2391,341774
31,23,ಾಸನ,337112 0 269348 606460,141264 159544 0 1141,160685
32,24,ದಣ ಕನಡ,113747 0 139968 253715,3700 242 0 23,265
33,25,ೊಡಗು,55595 0 32833 88428,14476 1158 0 243,1401
34,26,ೖಸೂರು,316327 0 233225 549552,45419 217001 0 1380,218381
35,27,ಾಮಾಜನಗರ,119629 0 142891 262520,20887 128314 0 169,128483
36,28,ಕಬಾಪರ,83709 0 162630 246339,47140 424558 0 8133,432691
37,29,ಾಮನಗರ,134447 0 125450 259897,30619 152391 0 547,152938
38,30,ಾದ,308133 0 2594 310727,76855 460889 0 2593,463482
39,NaN,ಾಜ,6603967 0 2912517 9516484,3470505 9543481 2197 38083,9583761

In [20]:
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(ind_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(ind_list[idx][0], ind_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [21]:
corrected_list = remove_header(new_output_list, new_index_list)

In [22]:
corrected_list[0]

,Unnamed: 0,Unnamed: 1,5. ಪಶುಾಲೆ ಮತು ೕನುಾೆ / Animal Husbandry and Fisheries,Unnamed: 2,Unnamed: 3
0,1,2,790 791 792 793,794 795 796 797,798
1,1,ೆಳಾ,415839 0 176994 592833,829370 787386 0 1543,788929
2,2,ಾಗಲೋೆ,236797 0 42618 279415,234802 733501 0 99,733600
3,3,ಜಯಪರ,248310 0 4715 253025,156860 309240 0 38,309278
4,4,ಕಲು,460488 0 12629 473117,91254 99843 0 218,100061
5,5,ೕದ,219964 0 14555 234519,130781 88043 0 359,88402
6,6,ಾಯಚೂರು,336753 0 22371 359124,136854 646356 0 1193,647549
7,7,ೊಪಳ,234622 0 25786 260408,77860 547059 0 2,547061
8,8,ಗದ,118502 0 24153 142655,60989 258712 0 335,259047
9,9,ಾರಾಡ,149877 0 43904 193781,79513 73690 0 292,73982
10,10,ಉತರ ಕನಡ,289788 0 47167 336955,87816 4549 0 234,4783
11,11,ಾೇ,224776 0 59833 284609,98468 253708 0 1000,254708
12,12,ಬಾ,370220 0 40732 410952,178929 915056 0 7405,922461
13,13,ತದುಗ,241095 0 34794 275889,152852 939591 0 447,940038
14,14,ಾವಣೆೆ,150478 0 114722 265200,139222 176831 0 156,176987
15,15,ವಗ,456368 0 112108 568476,149515 35633 0 1158,36791
16,16,ಉಡು,155309 0 96758 252067,8846 61 0 9,70
17,17,ಕಮಗಳರು,257740 0 79836 337576,70870 91155 0 157,91312
18,18,ತುಮಕೂರು,302707 0 224360 527067,181118 1060572 0 758,1061330
19,19,ೋಾರ,55416 0 173620 229036,45876 442903 2197 0,445100
20,20,ೆ೦ಗಳರು(ನ),20641 0 115941 136582,8453 72544 0 4758,77302
21,21,ೆ೦ಗಳರು(ಾ),36456 0 122364 158820,24381 123568 0 1302,124870
22,22,ಮಂಡ,153122 0 213618 366740,145516 339383 0 2391,341774
23,23,ಾಸನ,337112 0 269348 606460,141264 159544 0 1141,160685
24,24,ದಣ ಕನಡ,113747 0 139968 253715,3700 242 0 23,265
25,25,ೊಡಗು,55595 0 32833 88428,14476 1158 0 243,1401
26,26,ೖಸೂರು,316327 0 233225 549552,45419 217001 0 1380,218381
27,27,ಾಮಾಜನಗರ,119629 0 142891 262520,20887 128314 0 169,128483
28,28,ಕಬಾಪರ,83709 0 162630 246339,47140 424558 0 8133,432691
29,29,ಾಮನಗರ,134447 0 125450 259897,30619 152391 0 547,152938
30,30,ಾದ,308133 0 2594 310727,76855 460889 0 2593,463482

In [23]:
len(corrected_list)

7

In [24]:
def check_nan(df_col):
    nan_columns = df_col[df_col.isna()].index.tolist()
    if len(nan_columns) == len(df_col):
        return []
    return nan_columns

In [25]:
def set_header_row(df_list_all):
    df_list = df_list_all
    new_df_list = []
    for df in df_list:
        header_row = df.iloc[0].tolist()
        for idx in range(len(header_row)):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx+1
                while j<len(header_row) and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j+=1
                if j<len(header_row) and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[0]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[1:])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        new_df_list.append(df)
    return new_df_list

In [26]:
corrected_header = set_header_row(corrected_list)

In [27]:
len(corrected_header)

7

In [28]:
corrected_header[0]

,Unnamed: 0,Unnamed: 1,5. ಪಶುಾಲೆ ಮತು ೕನುಾೆ / Animal Husbandry and Fisheries,Unnamed: 2,Unnamed: 3
0,1,2,790 791 792 793,794 795 796 797,798
1,1,ೆಳಾ,415839 0 176994 592833,829370 787386 0 1543,788929
2,2,ಾಗಲೋೆ,236797 0 42618 279415,234802 733501 0 99,733600
3,3,ಜಯಪರ,248310 0 4715 253025,156860 309240 0 38,309278
4,4,ಕಲು,460488 0 12629 473117,91254 99843 0 218,100061
5,5,ೕದ,219964 0 14555 234519,130781 88043 0 359,88402
6,6,ಾಯಚೂರು,336753 0 22371 359124,136854 646356 0 1193,647549
7,7,ೊಪಳ,234622 0 25786 260408,77860 547059 0 2,547061
8,8,ಗದ,118502 0 24153 142655,60989 258712 0 335,259047
9,9,ಾರಾಡ,149877 0 43904 193781,79513 73690 0 292,73982
10,10,ಉತರ ಕನಡ,289788 0 47167 336955,87816 4549 0 234,4783
11,11,ಾೇ,224776 0 59833 284609,98468 253708 0 1000,254708
12,12,ಬಾ,370220 0 40732 410952,178929 915056 0 7405,922461
13,13,ತದುಗ,241095 0 34794 275889,152852 939591 0 447,940038
14,14,ಾವಣೆೆ,150478 0 114722 265200,139222 176831 0 156,176987
15,15,ವಗ,456368 0 112108 568476,149515 35633 0 1158,36791
16,16,ಉಡು,155309 0 96758 252067,8846 61 0 9,70
17,17,ಕಮಗಳರು,257740 0 79836 337576,70870 91155 0 157,91312
18,18,ತುಮಕೂರು,302707 0 224360 527067,181118 1060572 0 758,1061330
19,19,ೋಾರ,55416 0 173620 229036,45876 442903 2197 0,445100
20,20,ೆ೦ಗಳರು(ನ),20641 0 115941 136582,8453 72544 0 4758,77302
21,21,ೆ೦ಗಳರು(ಾ),36456 0 122364 158820,24381 123568 0 1302,124870
22,22,ಮಂಡ,153122 0 213618 366740,145516 339383 0 2391,341774
23,23,ಾಸನ,337112 0 269348 606460,141264 159544 0 1141,160685
24,24,ದಣ ಕನಡ,113747 0 139968 253715,3700 242 0 23,265
25,25,ೊಡಗು,55595 0 32833 88428,14476 1158 0 243,1401
26,26,ೖಸೂರು,316327 0 233225 549552,45419 217001 0 1380,218381
27,27,ಾಮಾಜನಗರ,119629 0 142891 262520,20887 128314 0 169,128483
28,28,ಕಬಾಪರ,83709 0 162630 246339,47140 424558 0 8133,432691
29,29,ಾಮನಗರ,134447 0 125450 259897,30619 152391 0 547,152938
30,30,ಾದ,308133 0 2594 310727,76855 460889 0 2593,463482

In [29]:
def set_index_col(df_list):
    new_df_list = []
    for df in df_list:
        nan_col = check_nan(df.iloc[:,0])
        if len(df.index) > 31 and len(nan_col)>1:
            for idx in range(len(nan_col)-1):
                if nan_col[idx]+2 == nan_col[idx+1] and nan_col[idx]+1 not in nan_col:
                    for i in range(df.shape[1]):
                        if i>0 and not (isinstance(df.iloc[nan_col[idx],i], float) and math.isnan(df.iloc[nan_col[idx],i])) and  not (isinstance(df.iloc[nan_col[idx+1],i], float) and math.isnan(df.iloc[nan_col[idx+1],i])):
                            if (isinstance(df.iloc[nan_col[idx]+1,i], float) and math.isnan(df.iloc[nan_col[idx]+1,i])):
                                df.iloc[nan_col[idx]+1,i] = ' '.join([df.iloc[nan_col[idx],i], df.iloc[nan_col[idx+1],i]])
                            elif not (isinstance(df.iloc[nan_col[idx]+1,i], float) and math.isnan(df.iloc[nan_col[idx]+1,i])):
                                df.iloc[nan_col[idx]+1,i] = ' '.join([df.iloc[nan_col[idx],i], df.iloc[nan_col[idx+1],i], df.iloc[nan_col[idx]+1,i]])
                    idx+=1
            df = df.drop(nan_col)
        df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [30]:
corrected_index = set_index_col(corrected_header)

In [31]:
len(corrected_index)

7

In [32]:
corrected_index[0]

,Unnamed: 0,Unnamed: 1,5. ಪಶುಾಲೆ ಮತು ೕನುಾೆ / Animal Husbandry and Fisheries,Unnamed: 2,Unnamed: 3
0,1,2,790 791 792 793,794 795 796 797,798
1,1,ೆಳಾ,415839 0 176994 592833,829370 787386 0 1543,788929
2,2,ಾಗಲೋೆ,236797 0 42618 279415,234802 733501 0 99,733600
3,3,ಜಯಪರ,248310 0 4715 253025,156860 309240 0 38,309278
4,4,ಕಲು,460488 0 12629 473117,91254 99843 0 218,100061
5,5,ೕದ,219964 0 14555 234519,130781 88043 0 359,88402
6,6,ಾಯಚೂರು,336753 0 22371 359124,136854 646356 0 1193,647549
7,7,ೊಪಳ,234622 0 25786 260408,77860 547059 0 2,547061
8,8,ಗದ,118502 0 24153 142655,60989 258712 0 335,259047
9,9,ಾರಾಡ,149877 0 43904 193781,79513 73690 0 292,73982
10,10,ಉತರ ಕನಡ,289788 0 47167 336955,87816 4549 0 234,4783
11,11,ಾೇ,224776 0 59833 284609,98468 253708 0 1000,254708
12,12,ಬಾ,370220 0 40732 410952,178929 915056 0 7405,922461
13,13,ತದುಗ,241095 0 34794 275889,152852 939591 0 447,940038
14,14,ಾವಣೆೆ,150478 0 114722 265200,139222 176831 0 156,176987
15,15,ವಗ,456368 0 112108 568476,149515 35633 0 1158,36791
16,16,ಉಡು,155309 0 96758 252067,8846 61 0 9,70
17,17,ಕಮಗಳರು,257740 0 79836 337576,70870 91155 0 157,91312
18,18,ತುಮಕೂರು,302707 0 224360 527067,181118 1060572 0 758,1061330
19,19,ೋಾರ,55416 0 173620 229036,45876 442903 2197 0,445100
20,20,ೆ೦ಗಳರು(ನ),20641 0 115941 136582,8453 72544 0 4758,77302
21,21,ೆ೦ಗಳರು(ಾ),36456 0 122364 158820,24381 123568 0 1302,124870
22,22,ಮಂಡ,153122 0 213618 366740,145516 339383 0 2391,341774
23,23,ಾಸನ,337112 0 269348 606460,141264 159544 0 1141,160685
24,24,ದಣ ಕನಡ,113747 0 139968 253715,3700 242 0 23,265
25,25,ೊಡಗು,55595 0 32833 88428,14476 1158 0 243,1401
26,26,ೖಸೂರು,316327 0 233225 549552,45419 217001 0 1380,218381
27,27,ಾಮಾಜನಗರ,119629 0 142891 262520,20887 128314 0 169,128483
28,28,ಕಬಾಪರ,83709 0 162630 246339,47140 424558 0 8133,432691
29,29,ಾಮನಗರ,134447 0 125450 259897,30619 152391 0 547,152938
30,30,ಾದ,308133 0 2594 310727,76855 460889 0 2593,463482

In [33]:
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = re.findall(pattern, df_col.iloc[0])
                numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                #numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)

                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)
        elif df_col.dtype == float:
            df.iloc[:,0] = df.iloc[:,0].astype(int).astype(str)
            new_df.append(df)
    return new_df

In [34]:
new_list = first_column_split(corrected_index)

In [35]:
len(new_list)

7

In [36]:
new_list[0]

,Unnamed: 0,Unnamed: 1,5. ಪಶುಾಲೆ ಮತು ೕನುಾೆ / Animal Husbandry and Fisheries,Unnamed: 2,Unnamed: 3
0,1,2,790 791 792 793,794 795 796 797,798
1,1,ೆಳಾ,415839 0 176994 592833,829370 787386 0 1543,788929
2,2,ಾಗಲೋೆ,236797 0 42618 279415,234802 733501 0 99,733600
3,3,ಜಯಪರ,248310 0 4715 253025,156860 309240 0 38,309278
4,4,ಕಲು,460488 0 12629 473117,91254 99843 0 218,100061
5,5,ೕದ,219964 0 14555 234519,130781 88043 0 359,88402
6,6,ಾಯಚೂರು,336753 0 22371 359124,136854 646356 0 1193,647549
7,7,ೊಪಳ,234622 0 25786 260408,77860 547059 0 2,547061
8,8,ಗದ,118502 0 24153 142655,60989 258712 0 335,259047
9,9,ಾರಾಡ,149877 0 43904 193781,79513 73690 0 292,73982
10,10,ಉತರ ಕನಡ,289788 0 47167 336955,87816 4549 0 234,4783
11,11,ಾೇ,224776 0 59833 284609,98468 253708 0 1000,254708
12,12,ಬಾ,370220 0 40732 410952,178929 915056 0 7405,922461
13,13,ತದುಗ,241095 0 34794 275889,152852 939591 0 447,940038
14,14,ಾವಣೆೆ,150478 0 114722 265200,139222 176831 0 156,176987
15,15,ವಗ,456368 0 112108 568476,149515 35633 0 1158,36791
16,16,ಉಡು,155309 0 96758 252067,8846 61 0 9,70
17,17,ಕಮಗಳರು,257740 0 79836 337576,70870 91155 0 157,91312
18,18,ತುಮಕೂರು,302707 0 224360 527067,181118 1060572 0 758,1061330
19,19,ೋಾರ,55416 0 173620 229036,45876 442903 2197 0,445100
20,20,ೆ೦ಗಳರು(ನ),20641 0 115941 136582,8453 72544 0 4758,77302
21,21,ೆ೦ಗಳರು(ಾ),36456 0 122364 158820,24381 123568 0 1302,124870
22,22,ಮಂಡ,153122 0 213618 366740,145516 339383 0 2391,341774
23,23,ಾಸನ,337112 0 269348 606460,141264 159544 0 1141,160685
24,24,ದಣ ಕನಡ,113747 0 139968 253715,3700 242 0 23,265
25,25,ೊಡಗು,55595 0 32833 88428,14476 1158 0 243,1401
26,26,ೖಸೂರು,316327 0 233225 549552,45419 217001 0 1380,218381
27,27,ಾಮಾಜನಗರ,119629 0 142891 262520,20887 128314 0 169,128483
28,28,ಕಬಾಪರ,83709 0 162630 246339,47140 424558 0 8133,432691
29,29,ಾಮನಗರ,134447 0 125450 259897,30619 152391 0 547,152938
30,30,ಾದ,308133 0 2594 310727,76855 460889 0 2593,463482

In [37]:
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [38]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [39]:
#replaced_list = replace_with_nan(new_list)
replaced_list = new_list

In [40]:
replaced_list[0]

,Unnamed: 0,Unnamed: 1,5. ಪಶುಾಲೆ ಮತು ೕನುಾೆ / Animal Husbandry and Fisheries,Unnamed: 2,Unnamed: 3
0,1,2,790 791 792 793,794 795 796 797,798
1,1,ೆಳಾ,415839 0 176994 592833,829370 787386 0 1543,788929
2,2,ಾಗಲೋೆ,236797 0 42618 279415,234802 733501 0 99,733600
3,3,ಜಯಪರ,248310 0 4715 253025,156860 309240 0 38,309278
4,4,ಕಲು,460488 0 12629 473117,91254 99843 0 218,100061
5,5,ೕದ,219964 0 14555 234519,130781 88043 0 359,88402
6,6,ಾಯಚೂರು,336753 0 22371 359124,136854 646356 0 1193,647549
7,7,ೊಪಳ,234622 0 25786 260408,77860 547059 0 2,547061
8,8,ಗದ,118502 0 24153 142655,60989 258712 0 335,259047
9,9,ಾರಾಡ,149877 0 43904 193781,79513 73690 0 292,73982
10,10,ಉತರ ಕನಡ,289788 0 47167 336955,87816 4549 0 234,4783
11,11,ಾೇ,224776 0 59833 284609,98468 253708 0 1000,254708
12,12,ಬಾ,370220 0 40732 410952,178929 915056 0 7405,922461
13,13,ತದುಗ,241095 0 34794 275889,152852 939591 0 447,940038
14,14,ಾವಣೆೆ,150478 0 114722 265200,139222 176831 0 156,176987
15,15,ವಗ,456368 0 112108 568476,149515 35633 0 1158,36791
16,16,ಉಡು,155309 0 96758 252067,8846 61 0 9,70
17,17,ಕಮಗಳರು,257740 0 79836 337576,70870 91155 0 157,91312
18,18,ತುಮಕೂರು,302707 0 224360 527067,181118 1060572 0 758,1061330
19,19,ೋಾರ,55416 0 173620 229036,45876 442903 2197 0,445100
20,20,ೆ೦ಗಳರು(ನ),20641 0 115941 136582,8453 72544 0 4758,77302
21,21,ೆ೦ಗಳರು(ಾ),36456 0 122364 158820,24381 123568 0 1302,124870
22,22,ಮಂಡ,153122 0 213618 366740,145516 339383 0 2391,341774
23,23,ಾಸನ,337112 0 269348 606460,141264 159544 0 1141,160685
24,24,ದಣ ಕನಡ,113747 0 139968 253715,3700 242 0 23,265
25,25,ೊಡಗು,55595 0 32833 88428,14476 1158 0 243,1401
26,26,ೖಸೂರು,316327 0 233225 549552,45419 217001 0 1380,218381
27,27,ಾಮಾಜನಗರ,119629 0 142891 262520,20887 128314 0 169,128483
28,28,ಕಬಾಪರ,83709 0 162630 246339,47140 424558 0 8133,432691
29,29,ಾಮನಗರ,134447 0 125450 259897,30619 152391 0 547,152938
30,30,ಾದ,308133 0 2594 310727,76855 460889 0 2593,463482

In [41]:
len(replaced_list)

7

In [42]:
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        for colName, colData in df.items():
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = [int(x) for x in re.findall(pattern, colData.values[0])]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        colData = colData.str.replace(r'\s+', ' ', regex=True)
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)

        new_df_list.append(new_df)
    return new_df_list

In [43]:
separated_list = all_column_split(replaced_list)

In [44]:
len(separated_list)

7

In [45]:
separated_list[0]

,Unnamed: 0,Unnamed: 1,0,1,2,3,0,1,2,3,Unnamed: 3
0,1,2,790,791,792,793,794,795,796,797,798
1,1,ೆಳಾ,415839,0,176994,592833,829370,787386,0,1543,788929
2,2,ಾಗಲೋೆ,236797,0,42618,279415,234802,733501,0,99,733600
3,3,ಜಯಪರ,248310,0,4715,253025,156860,309240,0,38,309278
4,4,ಕಲು,460488,0,12629,473117,91254,99843,0,218,100061
5,5,ೕದ,219964,0,14555,234519,130781,88043,0,359,88402
6,6,ಾಯಚೂರು,336753,0,22371,359124,136854,646356,0,1193,647549
7,7,ೊಪಳ,234622,0,25786,260408,77860,547059,0,2,547061
8,8,ಗದ,118502,0,24153,142655,60989,258712,0,335,259047
9,9,ಾರಾಡ,149877,0,43904,193781,79513,73690,0,292,73982
10,10,ಉತರ ಕನಡ,289788,0,47167,336955,87816,4549,0,234,4783
11,11,ಾೇ,224776,0,59833,284609,98468,253708,0,1000,254708
12,12,ಬಾ,370220,0,40732,410952,178929,915056,0,7405,922461
13,13,ತದುಗ,241095,0,34794,275889,152852,939591,0,447,940038
14,14,ಾವಣೆೆ,150478,0,114722,265200,139222,176831,0,156,176987
15,15,ವಗ,456368,0,112108,568476,149515,35633,0,1158,36791
16,16,ಉಡು,155309,0,96758,252067,8846,61,0,9,70
17,17,ಕಮಗಳರು,257740,0,79836,337576,70870,91155,0,157,91312
18,18,ತುಮಕೂರು,302707,0,224360,527067,181118,1060572,0,758,1061330
19,19,ೋಾರ,55416,0,173620,229036,45876,442903,2197,0,445100
20,20,ೆ೦ಗಳರು(ನ),20641,0,115941,136582,8453,72544,0,4758,77302
21,21,ೆ೦ಗಳರು(ಾ),36456,0,122364,158820,24381,123568,0,1302,124870
22,22,ಮಂಡ,153122,0,213618,366740,145516,339383,0,2391,341774
23,23,ಾಸನ,337112,0,269348,606460,141264,159544,0,1141,160685
24,24,ದಣ ಕನಡ,113747,0,139968,253715,3700,242,0,23,265
25,25,ೊಡಗು,55595,0,32833,88428,14476,1158,0,243,1401
26,26,ೖಸೂರು,316327,0,233225,549552,45419,217001,0,1380,218381
27,27,ಾಮಾಜನಗರ,119629,0,142891,262520,20887,128314,0,169,128483
28,28,ಕಬಾಪರ,83709,0,162630,246339,47140,424558,0,8133,432691
29,29,ಾಮನಗರ,134447,0,125450,259897,30619,152391,0,547,152938
30,30,ಾದ,308133,0,2594,310727,76855,460889,0,2593,463482

In [46]:
def check_single_column(df_list):
    new_df_list = []
    for df in df_list:
        df.fillna(value="", inplace=True)
        num_col = len(df.columns)
        for idx in range(num_col-1, 1, -1):
            cardinality = len(str(df.iloc[0,idx]).split())
            #print("idx", idx, df.iloc[0,idx], cardinality)
            for i in range(len(df.iloc[:,idx])):
                if i>0:
                    cell_car = len(str(df.iloc[i,idx]).split())
                    #print("i", i, df.iloc[i,idx], cell_car)
                    if cell_car > cardinality:
                       
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("more", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col1:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col2:
                                df.iloc[i, idx-1] = ' '.join(words_col2) + ' ' + words_col1[0]
                            else:
                                df.iloc[i, idx-1] = words_col1[0]

                            # Update the first column with the remaining words
                            df.iloc[i, idx] = ' '.join(words_col1[1:])
                        
                    if cell_car < cardinality:
                        
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("less", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col2:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col1:
                                df.iloc[i, idx] = words_col2[-1] + ' ' + ' '.join(words_col1)
                            else:
                                df.iloc[i, idx] = words_col2[-1]

                            # Update the first column with the remaining words
                            df.iloc[i, idx-1] = ' '.join(words_col2[:-1])
                        if df.iloc[i, idx-1]==' ':
                            df.iloc[i, idx-1] = ''
                        
        new_df_list.append(df)
    return new_df_list

In [47]:
updated_list = check_single_column(separated_list)

In [48]:
len(updated_list)

7

In [49]:
updated_list[0]

,Unnamed: 0,Unnamed: 1,0,1,2,3,0,1,2,3,Unnamed: 3
0,1,2,790,791,792,793,794,795,796,797,798
1,1,ೆಳಾ,415839,0,176994,592833,829370,787386,0,1543,788929
2,2,ಾಗಲೋೆ,236797,0,42618,279415,234802,733501,0,99,733600
3,3,ಜಯಪರ,248310,0,4715,253025,156860,309240,0,38,309278
4,4,ಕಲು,460488,0,12629,473117,91254,99843,0,218,100061
5,5,ೕದ,219964,0,14555,234519,130781,88043,0,359,88402
6,6,ಾಯಚೂರು,336753,0,22371,359124,136854,646356,0,1193,647549
7,7,ೊಪಳ,234622,0,25786,260408,77860,547059,0,2,547061
8,8,ಗದ,118502,0,24153,142655,60989,258712,0,335,259047
9,9,ಾರಾಡ,149877,0,43904,193781,79513,73690,0,292,73982
10,10,ಉತರ ಕನಡ,289788,0,47167,336955,87816,4549,0,234,4783
11,11,ಾೇ,224776,0,59833,284609,98468,253708,0,1000,254708
12,12,ಬಾ,370220,0,40732,410952,178929,915056,0,7405,922461
13,13,ತದುಗ,241095,0,34794,275889,152852,939591,0,447,940038
14,14,ಾವಣೆೆ,150478,0,114722,265200,139222,176831,0,156,176987
15,15,ವಗ,456368,0,112108,568476,149515,35633,0,1158,36791
16,16,ಉಡು,155309,0,96758,252067,8846,61,0,9,70
17,17,ಕಮಗಳರು,257740,0,79836,337576,70870,91155,0,157,91312
18,18,ತುಮಕೂರು,302707,0,224360,527067,181118,1060572,0,758,1061330
19,19,ೋಾರ,55416,0,173620,229036,45876,442903,2197,0,445100
20,20,ೆ೦ಗಳರು(ನ),20641,0,115941,136582,8453,72544,0,4758,77302
21,21,ೆ೦ಗಳರು(ಾ),36456,0,122364,158820,24381,123568,0,1302,124870
22,22,ಮಂಡ,153122,0,213618,366740,145516,339383,0,2391,341774
23,23,ಾಸನ,337112,0,269348,606460,141264,159544,0,1141,160685
24,24,ದಣ ಕನಡ,113747,0,139968,253715,3700,242,0,23,265
25,25,ೊಡಗು,55595,0,32833,88428,14476,1158,0,243,1401
26,26,ೖಸೂರು,316327,0,233225,549552,45419,217001,0,1380,218381
27,27,ಾಮಾಜನಗರ,119629,0,142891,262520,20887,128314,0,169,128483
28,28,ಕಬಾಪರ,83709,0,162630,246339,47140,424558,0,8133,432691
29,29,ಾಮನಗರ,134447,0,125450,259897,30619,152391,0,547,152938
30,30,ಾದ,308133,0,2594,310727,76855,460889,0,2593,463482

In [50]:
len(updated_list)

7

In [51]:
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [52]:
final_list = reset_header(updated_list)

In [53]:
final_list[0]

,1,2,790,791,792,793,794,795,796,797,798
0,1,ೆಳಾ,415839,0,176994,592833,829370,787386,0,1543,788929
1,2,ಾಗಲೋೆ,236797,0,42618,279415,234802,733501,0,99,733600
2,3,ಜಯಪರ,248310,0,4715,253025,156860,309240,0,38,309278
3,4,ಕಲು,460488,0,12629,473117,91254,99843,0,218,100061
4,5,ೕದ,219964,0,14555,234519,130781,88043,0,359,88402
5,6,ಾಯಚೂರು,336753,0,22371,359124,136854,646356,0,1193,647549
6,7,ೊಪಳ,234622,0,25786,260408,77860,547059,0,2,547061
7,8,ಗದ,118502,0,24153,142655,60989,258712,0,335,259047
8,9,ಾರಾಡ,149877,0,43904,193781,79513,73690,0,292,73982
9,10,ಉತರ ಕನಡ,289788,0,47167,336955,87816,4549,0,234,4783
10,11,ಾೇ,224776,0,59833,284609,98468,253708,0,1000,254708
11,12,ಬಾ,370220,0,40732,410952,178929,915056,0,7405,922461
12,13,ತದುಗ,241095,0,34794,275889,152852,939591,0,447,940038
13,14,ಾವಣೆೆ,150478,0,114722,265200,139222,176831,0,156,176987
14,15,ವಗ,456368,0,112108,568476,149515,35633,0,1158,36791
15,16,ಉಡು,155309,0,96758,252067,8846,61,0,9,70
16,17,ಕಮಗಳರು,257740,0,79836,337576,70870,91155,0,157,91312
17,18,ತುಮಕೂರು,302707,0,224360,527067,181118,1060572,0,758,1061330
18,19,ೋಾರ,55416,0,173620,229036,45876,442903,2197,0,445100
19,20,ೆ೦ಗಳರು(ನ),20641,0,115941,136582,8453,72544,0,4758,77302
20,21,ೆ೦ಗಳರು(ಾ),36456,0,122364,158820,24381,123568,0,1302,124870
21,22,ಮಂಡ,153122,0,213618,366740,145516,339383,0,2391,341774
22,23,ಾಸನ,337112,0,269348,606460,141264,159544,0,1141,160685
23,24,ದಣ ಕನಡ,113747,0,139968,253715,3700,242,0,23,265
24,25,ೊಡಗು,55595,0,32833,88428,14476,1158,0,243,1401
25,26,ೖಸೂರು,316327,0,233225,549552,45419,217001,0,1380,218381
26,27,ಾಮಾಜನಗರ,119629,0,142891,262520,20887,128314,0,169,128483
27,28,ಕಬಾಪರ,83709,0,162630,246339,47140,424558,0,8133,432691
28,29,ಾಮನಗರ,134447,0,125450,259897,30619,152391,0,547,152938
29,30,ಾದ,308133,0,2594,310727,76855,460889,0,2593,463482

In [54]:
def get_empty_col(df_list):
    index_list=[]
    for i in range(len(df_list)):
        empty_columns = df_list[i].columns[df_list[i].isna().all()].tolist()
        if len(empty_columns) > 0:
            index_list.append([i,empty_columns])
    return index_list

In [55]:
empty_col = get_empty_col(final_list)
empty_col

[]

In [56]:
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [57]:
final_df = concat_dataframe(final_list)

In [58]:
final_df

,1,2,790,791,792,793,794,795,796,797,...,824,825,826,827,828,829,830,831,832,833
0,1,ೆಳಾ,415839,0,176994,592833,829370,787386,0,1543,...,254,2,40,498,221,4142,2108,0,86.12,3
1,2,ಾಗಲೋೆ,236797,0,42618,279415,234802,733501,0,99,...,10,0,0,155,42,1725,2917,0,15.18,13
2,3,ಜಯಪರ,248310,0,4715,253025,156860,309240,0,38,...,25,0,0,110,160,1606,3016,0,64.52,190
3,4,ಕಲು,460488,0,12629,473117,91254,99843,0,218,...,0,0,0,45,80,2618,910,0,75.00,9
4,5,ೕದ,219964,0,14555,234519,130781,88043,0,359,...,1,0,0,87,92,8900,6000,0,32.00,12
5,6,ಾಯಚೂರು,336753,0,22371,359124,136854,646356,0,1193,...,5,1,10,244,80,1233,2816,0,171.36,0
6,7,ೊಪಳ,234622,0,25786,260408,77860,547059,0,2,...,7,0,0,47,52,3992,697,0,67.99,11
7,8,ಗದ,118502,0,24153,142655,60989,258712,0,335,...,10,0,0,96,32,159,315,0,4.70,29
8,9,ಾರಾಡ,149877,0,43904,193781,79513,73690,0,292,...,20,2,20,567,128,1656,420,10,39.01,3
9,10,ಉತರ ಕನಡ,289788,0,47167,336955,87816,4549,0,234,...,1068,4,120,1090,86,16105,19446,0,50.97,44
10,11,ಾೇ,224776,0,59833,284609,98468,253708,0,1000,...,5,0,0,1153,196,4957,5170,0,100.47,3
11,12,ಬಾ,370220,0,40732,410952,178929,915056,0,7405,...,37,0,0,137,101,3154,3883,0,197.33,2
12,13,ತದುಗ,241095,0,34794,275889,152852,939591,0,447,...,6,0,0,122,169,2210,1970,0,140.00,20
13,14,ಾವಣೆೆ,150478,0,114722,265200,139222,176831,0,156,...,0,0,0,99,94,2986,2347,0,85.18,4
14,15,ವಗ,456368,0,112108,568476,149515,35633,0,1158,...,57,2,4,4978,448,3335,5900,0,356.80,23
15,16,ಉಡು,155309,0,96758,252067,8846,61,0,9,...,3144,17,7175,180,5,33685,6694,0,3.37,112
16,17,ಕಮಗಳರು,257740,0,79836,337576,70870,91155,0,157,...,0,0,0,1766,128,1685,1558,0,75.73,10
17,18,ತುಮಕೂರು,302707,0,224360,527067,181118,1060572,0,758,...,0,0,0,1232,400,2813,4050,0,230.62,0
18,19,ೋಾರ,55416,0,173620,229036,45876,442903,2197,0,...,0,0,0,2328,150,8091,94946,55,36.88,1
19,20,ೆ೦ಗಳರು(ನ),20641,0,115941,136582,8453,72544,0,4758,...,60,11,30,143,118,2661,7372,0,94.81,147
20,21,ೆ೦ಗಳರು(ಾ),36456,0,122364,158820,24381,123568,0,1302,...,10,1,7,484,102,6182,759,0,43.42,8
21,22,ಮಂಡ,153122,0,213618,366740,145516,339383,0,2391,...,0,0,0,688,179,12870,2390,0,360.10,20
22,23,ಾಸನ,337112,0,269348,606460,141264,159544,0,1141,...,1,0,0,3132,172,3106,12544,0,199.70,17
23,24,ದಣ ಕನಡ,113747,0,139968,253715,3700,242,0,23,...,1727,11,387,54,0,2581,1786,0,1.92,94
24,25,ೊಡಗು,55595,0,32833,88428,14476,1158,0,243,...,0,0,0,509,0,385,2750,0,41.00,50
25,26,ೖಸೂರು,316327,0,233225,549552,45419,217001,0,1380,...,15,3,19,102,873,8641,5461,0,129.37,27
26,27,ಾಮಾಜನಗರ,119629,0,142891,262520,20887,128314,0,169,...,0,0,0,221,91,531,2050,0,75.36,0
27,28,ಕಬಾಪರ,83709,0,162630,246339,47140,424558,0,8133,...,0,0,0,1341,214,1820,1005,0,55.14,9
28,29,ಾಮನಗರ,134447,0,125450,259897,30619,152391,0,547,...,0,0,0,417,107,1852,3087,0,115.63,0
29,30,ಾದ,308133,0,2594,310727,76855,460889,0,2593,...,0,0,0,76,263,2510,2820,0,50.01,0

In [59]:
final_df.columns = final_df.columns.astype(int)

In [60]:
final_df[2]

0            ೆಳಾ
1          ಾಗಲೋೆ
2            ಜಯಪರ
3            ಕಲು
4              ೕದ
5           ಾಯಚೂರು
6             ೊಪಳ
7               ಗದ
8            ಾರಾಡ
9          ಉತರ ಕನಡ
10            ಾೇ
11            ಬಾ
12          ತದುಗ
13         ಾವಣೆೆ
14             ವಗ
15             ಉಡು
16        ಕಮಗಳರು
17          ತುಮಕೂರು
18            ೋಾರ
19      ೆ೦ಗಳರು(ನ)
20    ೆ೦ಗಳರು(ಾ)
21             ಮಂಡ
22             ಾಸನ
23         ದಣ ಕನಡ
24            ೊಡಗು
25           ೖಸೂರು
26        ಾಮಾಜನಗರ
27       ಕಬಾಪರ
28           ಾಮನಗರ
29            ಾದ
Name: 2, dtype: object

In [61]:
final_df = final_df.reindex(sorted(final_df.columns, key=int), axis=1)

In [62]:
final_df

,1,2,790,791,792,793,794,795,796,797,...,824,825,826,827,828,829,830,831,832,833
0,1,ೆಳಾ,415839,0,176994,592833,829370,787386,0,1543,...,254,2,40,498,221,4142,2108,0,86.12,3
1,2,ಾಗಲೋೆ,236797,0,42618,279415,234802,733501,0,99,...,10,0,0,155,42,1725,2917,0,15.18,13
2,3,ಜಯಪರ,248310,0,4715,253025,156860,309240,0,38,...,25,0,0,110,160,1606,3016,0,64.52,190
3,4,ಕಲು,460488,0,12629,473117,91254,99843,0,218,...,0,0,0,45,80,2618,910,0,75.00,9
4,5,ೕದ,219964,0,14555,234519,130781,88043,0,359,...,1,0,0,87,92,8900,6000,0,32.00,12
5,6,ಾಯಚೂರು,336753,0,22371,359124,136854,646356,0,1193,...,5,1,10,244,80,1233,2816,0,171.36,0
6,7,ೊಪಳ,234622,0,25786,260408,77860,547059,0,2,...,7,0,0,47,52,3992,697,0,67.99,11
7,8,ಗದ,118502,0,24153,142655,60989,258712,0,335,...,10,0,0,96,32,159,315,0,4.70,29
8,9,ಾರಾಡ,149877,0,43904,193781,79513,73690,0,292,...,20,2,20,567,128,1656,420,10,39.01,3
9,10,ಉತರ ಕನಡ,289788,0,47167,336955,87816,4549,0,234,...,1068,4,120,1090,86,16105,19446,0,50.97,44
10,11,ಾೇ,224776,0,59833,284609,98468,253708,0,1000,...,5,0,0,1153,196,4957,5170,0,100.47,3
11,12,ಬಾ,370220,0,40732,410952,178929,915056,0,7405,...,37,0,0,137,101,3154,3883,0,197.33,2
12,13,ತದುಗ,241095,0,34794,275889,152852,939591,0,447,...,6,0,0,122,169,2210,1970,0,140.00,20
13,14,ಾವಣೆೆ,150478,0,114722,265200,139222,176831,0,156,...,0,0,0,99,94,2986,2347,0,85.18,4
14,15,ವಗ,456368,0,112108,568476,149515,35633,0,1158,...,57,2,4,4978,448,3335,5900,0,356.80,23
15,16,ಉಡು,155309,0,96758,252067,8846,61,0,9,...,3144,17,7175,180,5,33685,6694,0,3.37,112
16,17,ಕಮಗಳರು,257740,0,79836,337576,70870,91155,0,157,...,0,0,0,1766,128,1685,1558,0,75.73,10
17,18,ತುಮಕೂರು,302707,0,224360,527067,181118,1060572,0,758,...,0,0,0,1232,400,2813,4050,0,230.62,0
18,19,ೋಾರ,55416,0,173620,229036,45876,442903,2197,0,...,0,0,0,2328,150,8091,94946,55,36.88,1
19,20,ೆ೦ಗಳರು(ನ),20641,0,115941,136582,8453,72544,0,4758,...,60,11,30,143,118,2661,7372,0,94.81,147
20,21,ೆ೦ಗಳರು(ಾ),36456,0,122364,158820,24381,123568,0,1302,...,10,1,7,484,102,6182,759,0,43.42,8
21,22,ಮಂಡ,153122,0,213618,366740,145516,339383,0,2391,...,0,0,0,688,179,12870,2390,0,360.10,20
22,23,ಾಸನ,337112,0,269348,606460,141264,159544,0,1141,...,1,0,0,3132,172,3106,12544,0,199.70,17
23,24,ದಣ ಕನಡ,113747,0,139968,253715,3700,242,0,23,...,1727,11,387,54,0,2581,1786,0,1.92,94
24,25,ೊಡಗು,55595,0,32833,88428,14476,1158,0,243,...,0,0,0,509,0,385,2750,0,41.00,50
25,26,ೖಸೂರು,316327,0,233225,549552,45419,217001,0,1380,...,15,3,19,102,873,8641,5461,0,129.37,27
26,27,ಾಮಾಜನಗರ,119629,0,142891,262520,20887,128314,0,169,...,0,0,0,221,91,531,2050,0,75.36,0
27,28,ಕಬಾಪರ,83709,0,162630,246339,47140,424558,0,8133,...,0,0,0,1341,214,1820,1005,0,55.14,9
28,29,ಾಮನಗರ,134447,0,125450,259897,30619,152391,0,547,...,0,0,0,417,107,1852,3087,0,115.63,0
29,30,ಾದ,308133,0,2594,310727,76855,460889,0,2593,...,0,0,0,76,263,2510,2820,0,50.01,0

In [63]:
final_df = final_df.drop(final_df.index[30:])

In [64]:
final_df

,1,2,790,791,792,793,794,795,796,797,...,824,825,826,827,828,829,830,831,832,833
0,1,ೆಳಾ,415839,0,176994,592833,829370,787386,0,1543,...,254,2,40,498,221,4142,2108,0,86.12,3
1,2,ಾಗಲೋೆ,236797,0,42618,279415,234802,733501,0,99,...,10,0,0,155,42,1725,2917,0,15.18,13
2,3,ಜಯಪರ,248310,0,4715,253025,156860,309240,0,38,...,25,0,0,110,160,1606,3016,0,64.52,190
3,4,ಕಲು,460488,0,12629,473117,91254,99843,0,218,...,0,0,0,45,80,2618,910,0,75.00,9
4,5,ೕದ,219964,0,14555,234519,130781,88043,0,359,...,1,0,0,87,92,8900,6000,0,32.00,12
5,6,ಾಯಚೂರು,336753,0,22371,359124,136854,646356,0,1193,...,5,1,10,244,80,1233,2816,0,171.36,0
6,7,ೊಪಳ,234622,0,25786,260408,77860,547059,0,2,...,7,0,0,47,52,3992,697,0,67.99,11
7,8,ಗದ,118502,0,24153,142655,60989,258712,0,335,...,10,0,0,96,32,159,315,0,4.70,29
8,9,ಾರಾಡ,149877,0,43904,193781,79513,73690,0,292,...,20,2,20,567,128,1656,420,10,39.01,3
9,10,ಉತರ ಕನಡ,289788,0,47167,336955,87816,4549,0,234,...,1068,4,120,1090,86,16105,19446,0,50.97,44
10,11,ಾೇ,224776,0,59833,284609,98468,253708,0,1000,...,5,0,0,1153,196,4957,5170,0,100.47,3
11,12,ಬಾ,370220,0,40732,410952,178929,915056,0,7405,...,37,0,0,137,101,3154,3883,0,197.33,2
12,13,ತದುಗ,241095,0,34794,275889,152852,939591,0,447,...,6,0,0,122,169,2210,1970,0,140.00,20
13,14,ಾವಣೆೆ,150478,0,114722,265200,139222,176831,0,156,...,0,0,0,99,94,2986,2347,0,85.18,4
14,15,ವಗ,456368,0,112108,568476,149515,35633,0,1158,...,57,2,4,4978,448,3335,5900,0,356.80,23
15,16,ಉಡು,155309,0,96758,252067,8846,61,0,9,...,3144,17,7175,180,5,33685,6694,0,3.37,112
16,17,ಕಮಗಳರು,257740,0,79836,337576,70870,91155,0,157,...,0,0,0,1766,128,1685,1558,0,75.73,10
17,18,ತುಮಕೂರು,302707,0,224360,527067,181118,1060572,0,758,...,0,0,0,1232,400,2813,4050,0,230.62,0
18,19,ೋಾರ,55416,0,173620,229036,45876,442903,2197,0,...,0,0,0,2328,150,8091,94946,55,36.88,1
19,20,ೆ೦ಗಳರು(ನ),20641,0,115941,136582,8453,72544,0,4758,...,60,11,30,143,118,2661,7372,0,94.81,147
20,21,ೆ೦ಗಳರು(ಾ),36456,0,122364,158820,24381,123568,0,1302,...,10,1,7,484,102,6182,759,0,43.42,8
21,22,ಮಂಡ,153122,0,213618,366740,145516,339383,0,2391,...,0,0,0,688,179,12870,2390,0,360.10,20
22,23,ಾಸನ,337112,0,269348,606460,141264,159544,0,1141,...,1,0,0,3132,172,3106,12544,0,199.70,17
23,24,ದಣ ಕನಡ,113747,0,139968,253715,3700,242,0,23,...,1727,11,387,54,0,2581,1786,0,1.92,94
24,25,ೊಡಗು,55595,0,32833,88428,14476,1158,0,243,...,0,0,0,509,0,385,2750,0,41.00,50
25,26,ೖಸೂರು,316327,0,233225,549552,45419,217001,0,1380,...,15,3,19,102,873,8641,5461,0,129.37,27
26,27,ಾಮಾಜನಗರ,119629,0,142891,262520,20887,128314,0,169,...,0,0,0,221,91,531,2050,0,75.36,0
27,28,ಕಬಾಪರ,83709,0,162630,246339,47140,424558,0,8133,...,0,0,0,1341,214,1820,1005,0,55.14,9
28,29,ಾಮನಗರ,134447,0,125450,259897,30619,152391,0,547,...,0,0,0,417,107,1852,3087,0,115.63,0
29,30,ಾದ,308133,0,2594,310727,76855,460889,0,2593,...,0,0,0,76,263,2510,2820,0,50.01,0

In [65]:
new_order = [18, 20, 19, 27, 26, 29, 30, 22, 21, 24, 23, 25, 4, 5, 8, 12, 10, 9, 6, 1, 2, 15, 13, 11, 14, 16, 17, 7, 3, 28]
final_df[1] = new_order
final_df

,1,2,790,791,792,793,794,795,796,797,...,824,825,826,827,828,829,830,831,832,833
0,18,ೆಳಾ,415839,0,176994,592833,829370,787386,0,1543,...,254,2,40,498,221,4142,2108,0,86.12,3
1,20,ಾಗಲೋೆ,236797,0,42618,279415,234802,733501,0,99,...,10,0,0,155,42,1725,2917,0,15.18,13
2,19,ಜಯಪರ,248310,0,4715,253025,156860,309240,0,38,...,25,0,0,110,160,1606,3016,0,64.52,190
3,27,ಕಲು,460488,0,12629,473117,91254,99843,0,218,...,0,0,0,45,80,2618,910,0,75.00,9
4,26,ೕದ,219964,0,14555,234519,130781,88043,0,359,...,1,0,0,87,92,8900,6000,0,32.00,12
5,29,ಾಯಚೂರು,336753,0,22371,359124,136854,646356,0,1193,...,5,1,10,244,80,1233,2816,0,171.36,0
6,30,ೊಪಳ,234622,0,25786,260408,77860,547059,0,2,...,7,0,0,47,52,3992,697,0,67.99,11
7,22,ಗದ,118502,0,24153,142655,60989,258712,0,335,...,10,0,0,96,32,159,315,0,4.70,29
8,21,ಾರಾಡ,149877,0,43904,193781,79513,73690,0,292,...,20,2,20,567,128,1656,420,10,39.01,3
9,24,ಉತರ ಕನಡ,289788,0,47167,336955,87816,4549,0,234,...,1068,4,120,1090,86,16105,19446,0,50.97,44
10,23,ಾೇ,224776,0,59833,284609,98468,253708,0,1000,...,5,0,0,1153,196,4957,5170,0,100.47,3
11,25,ಬಾ,370220,0,40732,410952,178929,915056,0,7405,...,37,0,0,137,101,3154,3883,0,197.33,2
12,4,ತದುಗ,241095,0,34794,275889,152852,939591,0,447,...,6,0,0,122,169,2210,1970,0,140.00,20
13,5,ಾವಣೆೆ,150478,0,114722,265200,139222,176831,0,156,...,0,0,0,99,94,2986,2347,0,85.18,4
14,8,ವಗ,456368,0,112108,568476,149515,35633,0,1158,...,57,2,4,4978,448,3335,5900,0,356.80,23
15,12,ಉಡು,155309,0,96758,252067,8846,61,0,9,...,3144,17,7175,180,5,33685,6694,0,3.37,112
16,10,ಕಮಗಳರು,257740,0,79836,337576,70870,91155,0,157,...,0,0,0,1766,128,1685,1558,0,75.73,10
17,9,ತುಮಕೂರು,302707,0,224360,527067,181118,1060572,0,758,...,0,0,0,1232,400,2813,4050,0,230.62,0
18,6,ೋಾರ,55416,0,173620,229036,45876,442903,2197,0,...,0,0,0,2328,150,8091,94946,55,36.88,1
19,1,ೆ೦ಗಳರು(ನ),20641,0,115941,136582,8453,72544,0,4758,...,60,11,30,143,118,2661,7372,0,94.81,147
20,2,ೆ೦ಗಳರು(ಾ),36456,0,122364,158820,24381,123568,0,1302,...,10,1,7,484,102,6182,759,0,43.42,8
21,15,ಮಂಡ,153122,0,213618,366740,145516,339383,0,2391,...,0,0,0,688,179,12870,2390,0,360.10,20
22,13,ಾಸನ,337112,0,269348,606460,141264,159544,0,1141,...,1,0,0,3132,172,3106,12544,0,199.70,17
23,11,ದಣ ಕನಡ,113747,0,139968,253715,3700,242,0,23,...,1727,11,387,54,0,2581,1786,0,1.92,94
24,14,ೊಡಗು,55595,0,32833,88428,14476,1158,0,243,...,0,0,0,509,0,385,2750,0,41.00,50
25,16,ೖಸೂರು,316327,0,233225,549552,45419,217001,0,1380,...,15,3,19,102,873,8641,5461,0,129.37,27
26,17,ಾಮಾಜನಗರ,119629,0,142891,262520,20887,128314,0,169,...,0,0,0,221,91,531,2050,0,75.36,0
27,7,ಕಬಾಪರ,83709,0,162630,246339,47140,424558,0,8133,...,0,0,0,1341,214,1820,1005,0,55.14,9
28,3,ಾಮನಗರ,134447,0,125450,259897,30619,152391,0,547,...,0,0,0,417,107,1852,3087,0,115.63,0
29,28,ಾದ,308133,0,2594,310727,76855,460889,0,2593,...,0,0,0,76,263,2510,2820,0,50.01,0

In [66]:
final_data = final_df.sort_values(1)
final_data.reset_index(drop=True, inplace=True)
final_data

,1,2,790,791,792,793,794,795,796,797,...,824,825,826,827,828,829,830,831,832,833
0,1,ೆ೦ಗಳರು(ನ),20641,0,115941,136582,8453,72544,0,4758,...,60,11,30,143,118,2661,7372,0,94.81,147
1,2,ೆ೦ಗಳರು(ಾ),36456,0,122364,158820,24381,123568,0,1302,...,10,1,7,484,102,6182,759,0,43.42,8
2,3,ಾಮನಗರ,134447,0,125450,259897,30619,152391,0,547,...,0,0,0,417,107,1852,3087,0,115.63,0
3,4,ತದುಗ,241095,0,34794,275889,152852,939591,0,447,...,6,0,0,122,169,2210,1970,0,140.00,20
4,5,ಾವಣೆೆ,150478,0,114722,265200,139222,176831,0,156,...,0,0,0,99,94,2986,2347,0,85.18,4
5,6,ೋಾರ,55416,0,173620,229036,45876,442903,2197,0,...,0,0,0,2328,150,8091,94946,55,36.88,1
6,7,ಕಬಾಪರ,83709,0,162630,246339,47140,424558,0,8133,...,0,0,0,1341,214,1820,1005,0,55.14,9
7,8,ವಗ,456368,0,112108,568476,149515,35633,0,1158,...,57,2,4,4978,448,3335,5900,0,356.80,23
8,9,ತುಮಕೂರು,302707,0,224360,527067,181118,1060572,0,758,...,0,0,0,1232,400,2813,4050,0,230.62,0
9,10,ಕಮಗಳರು,257740,0,79836,337576,70870,91155,0,157,...,0,0,0,1766,128,1685,1558,0,75.73,10
10,11,ದಣ ಕನಡ,113747,0,139968,253715,3700,242,0,23,...,1727,11,387,54,0,2581,1786,0,1.92,94
11,12,ಉಡು,155309,0,96758,252067,8846,61,0,9,...,3144,17,7175,180,5,33685,6694,0,3.37,112
12,13,ಾಸನ,337112,0,269348,606460,141264,159544,0,1141,...,1,0,0,3132,172,3106,12544,0,199.70,17
13,14,ೊಡಗು,55595,0,32833,88428,14476,1158,0,243,...,0,0,0,509,0,385,2750,0,41.00,50
14,15,ಮಂಡ,153122,0,213618,366740,145516,339383,0,2391,...,0,0,0,688,179,12870,2390,0,360.10,20
15,16,ೖಸೂರು,316327,0,233225,549552,45419,217001,0,1380,...,15,3,19,102,873,8641,5461,0,129.37,27
16,17,ಾಮಾಜನಗರ,119629,0,142891,262520,20887,128314,0,169,...,0,0,0,221,91,531,2050,0,75.36,0
17,18,ೆಳಾ,415839,0,176994,592833,829370,787386,0,1543,...,254,2,40,498,221,4142,2108,0,86.12,3
18,19,ಜಯಪರ,248310,0,4715,253025,156860,309240,0,38,...,25,0,0,110,160,1606,3016,0,64.52,190
19,20,ಾಗಲೋೆ,236797,0,42618,279415,234802,733501,0,99,...,10,0,0,155,42,1725,2917,0,15.18,13
20,21,ಾರಾಡ,149877,0,43904,193781,79513,73690,0,292,...,20,2,20,567,128,1656,420,10,39.01,3
21,22,ಗದ,118502,0,24153,142655,60989,258712,0,335,...,10,0,0,96,32,159,315,0,4.70,29
22,23,ಾೇ,224776,0,59833,284609,98468,253708,0,1000,...,5,0,0,1153,196,4957,5170,0,100.47,3
23,24,ಉತರ ಕನಡ,289788,0,47167,336955,87816,4549,0,234,...,1068,4,120,1090,86,16105,19446,0,50.97,44
24,25,ಬಾ,370220,0,40732,410952,178929,915056,0,7405,...,37,0,0,137,101,3154,3883,0,197.33,2
25,26,ೕದ,219964,0,14555,234519,130781,88043,0,359,...,1,0,0,87,92,8900,6000,0,32.00,12
26,27,ಕಲು,460488,0,12629,473117,91254,99843,0,218,...,0,0,0,45,80,2618,910,0,75.00,9
27,28,ಾದ,308133,0,2594,310727,76855,460889,0,2593,...,0,0,0,76,263,2510,2820,0,50.01,0
28,29,ಾಯಚೂರು,336753,0,22371,359124,136854,646356,0,1193,...,5,1,10,244,80,1233,2816,0,171.36,0
29,30,ೊಪಳ,234622,0,25786,260408,77860,547059,0,2,...,7,0,0,47,52,3992,697,0,67.99,11

In [67]:
name_list = ['Bengaluru(U)','Bengaluru(R)', 'Ramanagara', 'Chitradurga', 'Davanagere', 'Kolara', 'Chikkaballapura', 'Shivamogga',
'Tumakuru', 'Chikkamagaluru', 'Dakshina Kannada', 'Udupi', 'Hassan', 'Kodagu', 'Mandya', 'Mysuru', 'Chamarajanagara',
 'Belagavi', 'Vijayapura', 'Bagalkot', 'Dharwad', 'Gadag', 'Haveri', 'Uttara Kannada', 'Ballari', 'Bidar', 'Kalburgi',
 'Yadgir', 'Raichur', 'Koppal']

In [68]:
final_data[2] = name_list
final_data

,1,2,790,791,792,793,794,795,796,797,...,824,825,826,827,828,829,830,831,832,833
0,1,Bengaluru(U),20641,0,115941,136582,8453,72544,0,4758,...,60,11,30,143,118,2661,7372,0,94.81,147
1,2,Bengaluru(R),36456,0,122364,158820,24381,123568,0,1302,...,10,1,7,484,102,6182,759,0,43.42,8
2,3,Ramanagara,134447,0,125450,259897,30619,152391,0,547,...,0,0,0,417,107,1852,3087,0,115.63,0
3,4,Chitradurga,241095,0,34794,275889,152852,939591,0,447,...,6,0,0,122,169,2210,1970,0,140.00,20
4,5,Davanagere,150478,0,114722,265200,139222,176831,0,156,...,0,0,0,99,94,2986,2347,0,85.18,4
5,6,Kolara,55416,0,173620,229036,45876,442903,2197,0,...,0,0,0,2328,150,8091,94946,55,36.88,1
6,7,Chikkaballapura,83709,0,162630,246339,47140,424558,0,8133,...,0,0,0,1341,214,1820,1005,0,55.14,9
7,8,Shivamogga,456368,0,112108,568476,149515,35633,0,1158,...,57,2,4,4978,448,3335,5900,0,356.80,23
8,9,Tumakuru,302707,0,224360,527067,181118,1060572,0,758,...,0,0,0,1232,400,2813,4050,0,230.62,0
9,10,Chikkamagaluru,257740,0,79836,337576,70870,91155,0,157,...,0,0,0,1766,128,1685,1558,0,75.73,10
10,11,Dakshina Kannada,113747,0,139968,253715,3700,242,0,23,...,1727,11,387,54,0,2581,1786,0,1.92,94
11,12,Udupi,155309,0,96758,252067,8846,61,0,9,...,3144,17,7175,180,5,33685,6694,0,3.37,112
12,13,Hassan,337112,0,269348,606460,141264,159544,0,1141,...,1,0,0,3132,172,3106,12544,0,199.70,17
13,14,Kodagu,55595,0,32833,88428,14476,1158,0,243,...,0,0,0,509,0,385,2750,0,41.00,50
14,15,Mandya,153122,0,213618,366740,145516,339383,0,2391,...,0,0,0,688,179,12870,2390,0,360.10,20
15,16,Mysuru,316327,0,233225,549552,45419,217001,0,1380,...,15,3,19,102,873,8641,5461,0,129.37,27
16,17,Chamarajanagara,119629,0,142891,262520,20887,128314,0,169,...,0,0,0,221,91,531,2050,0,75.36,0
17,18,Belagavi,415839,0,176994,592833,829370,787386,0,1543,...,254,2,40,498,221,4142,2108,0,86.12,3
18,19,Vijayapura,248310,0,4715,253025,156860,309240,0,38,...,25,0,0,110,160,1606,3016,0,64.52,190
19,20,Bagalkot,236797,0,42618,279415,234802,733501,0,99,...,10,0,0,155,42,1725,2917,0,15.18,13
20,21,Dharwad,149877,0,43904,193781,79513,73690,0,292,...,20,2,20,567,128,1656,420,10,39.01,3
21,22,Gadag,118502,0,24153,142655,60989,258712,0,335,...,10,0,0,96,32,159,315,0,4.70,29
22,23,Haveri,224776,0,59833,284609,98468,253708,0,1000,...,5,0,0,1153,196,4957,5170,0,100.47,3
23,24,Uttara Kannada,289788,0,47167,336955,87816,4549,0,234,...,1068,4,120,1090,86,16105,19446,0,50.97,44
24,25,Ballari,370220,0,40732,410952,178929,915056,0,7405,...,37,0,0,137,101,3154,3883,0,197.33,2
25,26,Bidar,219964,0,14555,234519,130781,88043,0,359,...,1,0,0,87,92,8900,6000,0,32.00,12
26,27,Kalburgi,460488,0,12629,473117,91254,99843,0,218,...,0,0,0,45,80,2618,910,0,75.00,9
27,28,Yadgir,308133,0,2594,310727,76855,460889,0,2593,...,0,0,0,76,263,2510,2820,0,50.01,0
28,29,Raichur,336753,0,22371,359124,136854,646356,0,1193,...,5,1,10,244,80,1233,2816,0,171.36,0
29,30,Koppal,234622,0,25786,260408,77860,547059,0,2,...,7,0,0,47,52,3992,697,0,67.99,11

In [69]:
final_data.to_csv(absolute_result_path, sep=';', index=False)
final_data.to_csv(absolute_dictionary_path, sep=';', index=False)