In [1]:
import tabula
import numpy as np
import pandas as pd
import os
import re
import math

In [2]:
relative_path_pdf = "../HTML/Output_html_Chapter17/kaggle/working/out/pages/"
relative_dictionary_path = "../Data/Chapter17_Data.csv"
relative_result_path = "../HTML/Output_html_Chapter17/Chapter17_Data.csv"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = os.path.join(os.getcwd(), relative_path_pdf)
absolute_dictionary_path = os.path.join(os.getcwd(), relative_dictionary_path)
absolute_result_path = os.path.join(os.getcwd(), relative_result_path)

In [3]:
os.listdir(absolute_path_pdf)

['page_1.pdf',
 'page_2.pdf',
 'page_3.pdf',
 'page_5.pdf',
 'page_6.pdf',
 'page_4.pdf']

In [4]:
output_list = []

In [5]:
# Get a list of PDF files sorted by filename
pdf_files = sorted([file for file in os.listdir(absolute_path_pdf) if file.endswith(".pdf")], key=lambda x: [int(s) if s.isdigit() else s.lower() for s in re.split('(\d+)', x)])

# Iterate through all PDF files
for file in pdf_files:
    file_path = os.path.join(absolute_path_pdf, file)
    dfs = tabula.read_pdf(file_path, pages='all', stream=True)
    if dfs:
        output_list.append(dfs[0])  # Assuming you want to append the first DataFrame from each PDF

In [6]:
len(output_list)

6

In [7]:
output_list[0]

,Unnamed: 0,Unnamed: 1,17.1 ಅಬಾ ಅಂಗಗಳ ಮತು ಬಳದಮದಾೕಯ : 2019-20
0,NaN,NaN,Excise Shops and Consumption of Liquor : 2019...
1,NaN,NaN,ಅಬಾ ಬಳದ ಮದಾೕಯ (ಲ . ಗಳ) ಅಬಾ ಆಾಯ
2,NaN,NaN,ಅಂಗಗಳ Consumption of Liquor
3,ಕ,NaN,ೆಗಳ (In Lakh CB's)( ಸಂೆಗಳ ) (ೋ ರೂ.ಗಳ)
4,ಸಂ,NaN,ಐ.ಎಂ.ಎ Excise ೕ Income from Excise
5,NaN,NaN,Shops ಮದ (Rs. in Crores)
6,NaN,NaN,(In Nos) Beer**
7,NaN,NaN,IML Liquor*
8,1,NaN,2 1521 1522 1523 1524
9,1,ೆಳಾ,638 32.14 9.96 1163.56
10,2,ಾಗಲೋೆ,277 12.03 3.89 21.26
11,3,ಜಯಪರ,232 12.75 5.28 21.01
12,4,ಕಲು,295 143.78 70.20 718.98
13,5,ೕದ,167 11.67 6.10 16.14
14,6,ಾಯಚೂರು,228 14.33 5.71 11.79
15,7,ೊಪಳ,153 10.41 3.22 9.66
16,8,ಗದ,144 7.84 2.62 8.37
17,9,ಾರಾಡ,276 14.65 6.99 1132.46
18,10,ಉತರ ಕನಡ,160 9.96 5.42 9.93
19,11,ಾೇ,166 11.66 3.64 10.71
20,12,ಬಾ,327 23.58 7.06 1173.39
21,13,ತದುಗ,234 15.32 4.43 15.90
22,14,ಾವಣೆೆ,259 15.81 5.76 15.96
23,15,ವಗ,270 19.36 7.56 24.13
24,16,ಉಡು,399 14.80 10.25 218.24
25,17,ಕಮಗಳರು,224 15.66 4.58 580.80
26,18,ತುಮಕೂರು,373 27.31 8.29 367.40
27,19,ೋಾರ,251 15.60 6.69 16.96
28,20,ೆ೦ಗಳರು(ನ),3468 132.96 103.20 7339.27
29,21,ೆ೦ಗಳರು(ಾ),210 13.53 6.71 4722.15
30,22,ಮಂಡ,265 18.87 5.89 15.03
31,23,ಾಸನ,339 23.83 6.81 1768.98
32,24,ದಣ ಕನಡ,501 25.19 18.85 330.90
33,25,ೊಡಗು,225 9.96 3.55 14.03
34,26,ೖಸೂರು,558 31.71 12.40 2487.15
35,27,ಾಮಾಜನಗರ,126 9.41 2.10 6.96
36,28,ಕಬಾಪರ,176 12.75 4.61 12.59
37,29,ಾಮನಗರ,182 13.78 5.67 378.93
38,30,ಾದ,105 7.38 3.88 5.91
39,NaN,ಾಜ,11228 728.03 351.32 22618.55

In [8]:
#If the header is missing in the extracted df of a page, header should be present as a row
def add_header(df_list,idx_list, new_list):
    index = 0
    for i in range(len(idx_list)):
        df_list[idx_list[i]].loc[index + 1:] = df_list[idx_list[i]].loc[index:].shift(1)
        df_list[idx_list[i]].loc[index] = new_list[i]
    return df_list

In [9]:
new_row = [[1, 2, np.nan, 381,382,383,384,385,386]]
id_row = [6]
#output_list = add_header(output_list, id_row, new_row)

In [10]:
output_list[0]

,Unnamed: 0,Unnamed: 1,17.1 ಅಬಾ ಅಂಗಗಳ ಮತು ಬಳದಮದಾೕಯ : 2019-20
0,NaN,NaN,Excise Shops and Consumption of Liquor : 2019...
1,NaN,NaN,ಅಬಾ ಬಳದ ಮದಾೕಯ (ಲ . ಗಳ) ಅಬಾ ಆಾಯ
2,NaN,NaN,ಅಂಗಗಳ Consumption of Liquor
3,ಕ,NaN,ೆಗಳ (In Lakh CB's)( ಸಂೆಗಳ ) (ೋ ರೂ.ಗಳ)
4,ಸಂ,NaN,ಐ.ಎಂ.ಎ Excise ೕ Income from Excise
5,NaN,NaN,Shops ಮದ (Rs. in Crores)
6,NaN,NaN,(In Nos) Beer**
7,NaN,NaN,IML Liquor*
8,1,NaN,2 1521 1522 1523 1524
9,1,ೆಳಾ,638 32.14 9.96 1163.56
10,2,ಾಗಲೋೆ,277 12.03 3.89 21.26
11,3,ಜಯಪರ,232 12.75 5.28 21.01
12,4,ಕಲು,295 143.78 70.20 718.98
13,5,ೕದ,167 11.67 6.10 16.14
14,6,ಾಯಚೂರು,228 14.33 5.71 11.79
15,7,ೊಪಳ,153 10.41 3.22 9.66
16,8,ಗದ,144 7.84 2.62 8.37
17,9,ಾರಾಡ,276 14.65 6.99 1132.46
18,10,ಉತರ ಕನಡ,160 9.96 5.42 9.93
19,11,ಾೇ,166 11.66 3.64 10.71
20,12,ಬಾ,327 23.58 7.06 1173.39
21,13,ತದುಗ,234 15.32 4.43 15.90
22,14,ಾವಣೆೆ,259 15.81 5.76 15.96
23,15,ವಗ,270 19.36 7.56 24.13
24,16,ಉಡು,399 14.80 10.25 218.24
25,17,ಕಮಗಳರು,224 15.66 4.58 580.80
26,18,ತುಮಕೂರು,373 27.31 8.29 367.40
27,19,ೋಾರ,251 15.60 6.69 16.96
28,20,ೆ೦ಗಳರು(ನ),3468 132.96 103.20 7339.27
29,21,ೆ೦ಗಳರು(ಾ),210 13.53 6.71 4722.15
30,22,ಮಂಡ,265 18.87 5.89 15.03
31,23,ಾಸನ,339 23.83 6.81 1768.98
32,24,ದಣ ಕನಡ,501 25.19 18.85 330.90
33,25,ೊಡಗು,225 9.96 3.55 14.03
34,26,ೖಸೂರು,558 31.71 12.40 2487.15
35,27,ಾಮಾಜನಗರ,126 9.41 2.10 6.96
36,28,ಕಬಾಪರ,176 12.75 4.61 12.59
37,29,ಾಮನಗರ,182 13.78 5.67 378.93
38,30,ಾದ,105 7.38 3.88 5.91
39,NaN,ಾಜ,11228 728.03 351.32 22618.55

In [11]:
#finding the last index of the df that contains the 39th district;s entry
def find_last_index(df_col):
    pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
    for idx in range(len(df_col)):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
                    if numbers_1 and numbers_1[0] == 30:
                        return idx+1
   
    return (len(df_col) - 1)

In [12]:
#Finding the start and end index of the df containing all districts
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    miss_list = []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        df_col = df_col.astype(str)

        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        flag = 0
        for idx in range(len(df_col) - 1):
            #print(idx, df_col.iloc[idx])
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = re.findall(pattern, df_col.iloc[idx+1])
                    numbers_2 = [int(num) if '.' not in num else float(num) for num in numbers_2]
                    #print(numbers_2)
            if numbers_1 and numbers_2 and numbers_1[0] == 1 and numbers_2[0] == 1:
                start_index = idx
                end_index = find_last_index(df_col)
                index_list.append([start_index, end_index])
                if(end_index - start_index) != 31:
                    miss_list.append(i)
                flag=1
                i += 1
                break

        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index, miss_list

In [13]:
index_list, drop_list, fault_list = find_header(output_list)

In [14]:
#list of df index where the start-end index > 31
fault_list

[]

In [15]:
#list of df where the 1st column containing serial number id missing
drop_list

[]

In [16]:
#containing the start and end index of each df
index_list

[[8, 39], [14, 45], [8, 39], [10, 41], [8, 39], [7, 38]]

In [17]:
len(index_list)

6

In [18]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        return new_df_list
    return df_list

In [19]:
def get_final_index(df_list, index_ll, drop_index, miss_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list, miss_list = find_header(df)
        drop_index = drop_list
        miss_index = miss_list
    return df, index_ll, drop_index, miss_index

In [20]:
new_output_list, new_index_list, new_drop_list, new_fault_list = get_final_index(output_list, index_list, drop_list, fault_list)

In [21]:
new_fault_list, new_drop_list

([], [])

In [22]:
new_index_list

[[8, 39], [14, 45], [8, 39], [10, 41], [8, 39], [7, 38]]

In [23]:
new_output_list[0]

,Unnamed: 0,Unnamed: 1,17.1 ಅಬಾ ಅಂಗಗಳ ಮತು ಬಳದಮದಾೕಯ : 2019-20
0,NaN,NaN,Excise Shops and Consumption of Liquor : 2019...
1,NaN,NaN,ಅಬಾ ಬಳದ ಮದಾೕಯ (ಲ . ಗಳ) ಅಬಾ ಆಾಯ
2,NaN,NaN,ಅಂಗಗಳ Consumption of Liquor
3,ಕ,NaN,ೆಗಳ (In Lakh CB's)( ಸಂೆಗಳ ) (ೋ ರೂ.ಗಳ)
4,ಸಂ,NaN,ಐ.ಎಂ.ಎ Excise ೕ Income from Excise
5,NaN,NaN,Shops ಮದ (Rs. in Crores)
6,NaN,NaN,(In Nos) Beer**
7,NaN,NaN,IML Liquor*
8,1,NaN,2 1521 1522 1523 1524
9,1,ೆಳಾ,638 32.14 9.96 1163.56
10,2,ಾಗಲೋೆ,277 12.03 3.89 21.26
11,3,ಜಯಪರ,232 12.75 5.28 21.01
12,4,ಕಲು,295 143.78 70.20 718.98
13,5,ೕದ,167 11.67 6.10 16.14
14,6,ಾಯಚೂರು,228 14.33 5.71 11.79
15,7,ೊಪಳ,153 10.41 3.22 9.66
16,8,ಗದ,144 7.84 2.62 8.37
17,9,ಾರಾಡ,276 14.65 6.99 1132.46
18,10,ಉತರ ಕನಡ,160 9.96 5.42 9.93
19,11,ಾೇ,166 11.66 3.64 10.71
20,12,ಬಾ,327 23.58 7.06 1173.39
21,13,ತದುಗ,234 15.32 4.43 15.90
22,14,ಾವಣೆೆ,259 15.81 5.76 15.96
23,15,ವಗ,270 19.36 7.56 24.13
24,16,ಉಡು,399 14.80 10.25 218.24
25,17,ಕಮಗಳರು,224 15.66 4.58 580.80
26,18,ತುಮಕೂರು,373 27.31 8.29 367.40
27,19,ೋಾರ,251 15.60 6.69 16.96
28,20,ೆ೦ಗಳರು(ನ),3468 132.96 103.20 7339.27
29,21,ೆ೦ಗಳರು(ಾ),210 13.53 6.71 4722.15
30,22,ಮಂಡ,265 18.87 5.89 15.03
31,23,ಾಸನ,339 23.83 6.81 1768.98
32,24,ದಣ ಕನಡ,501 25.19 18.85 330.90
33,25,ೊಡಗು,225 9.96 3.55 14.03
34,26,ೖಸೂರು,558 31.71 12.40 2487.15
35,27,ಾಮಾಜನಗರ,126 9.41 2.10 6.96
36,28,ಕಬಾಪರ,176 12.75 4.61 12.59
37,29,ಾಮನಗರ,182 13.78 5.67 378.93
38,30,ಾದ,105 7.38 3.88 5.91
39,NaN,ಾಜ,11228 728.03 351.32 22618.55

In [24]:
#removing all the rows from df before the header
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(ind_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(ind_list[idx][0], ind_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [25]:
corrected_list = remove_header(new_output_list, new_index_list)

In [26]:
corrected_list[0]

   Unnamed: 0     Unnamed: 1 17.1 ಅಬಾ ಅಂಗಗಳ ಮತು ಬಳದಮದಾೕಯ : 2019-20
0           1            NaN                         2 1521 1522 1523 1524
1           1         ೆಳಾ                        638 32.14 9.96 1163.56
2           2       ಾಗಲೋೆ                          277 12.03 3.89 21.26
3           3         ಜಯಪರ                          232 12.75 5.28 21.01
4           4         ಕಲು                       295 143.78 70.20 718.98
5           5           ೕದ                          167 11.67 6.10 16.14
6           6        ಾಯಚೂರು                          228 14.33 5.71 11.79
7           7          ೊಪಳ                           153 10.41 3.22 9.66
8           8            ಗದ                            144 7.84 2.62 8.37
9           9         ಾರಾಡ                        276 14.65 6.99 1132.46
10         10       ಉತರ ಕನಡ                            160 9.96 5.42 9.93
11         11          ಾೇ                          166 11.66 3.64 10.71
12         12          ಬಾ                        327 23.58 7.06 1173.39
13         13        ತದುಗ                          234 15.32 4.43 15.90
14         14       ಾವಣೆೆ                          259 15.81 5.76 15.96
15         15           ವಗ                          270 19.36 7.56 24.13
16         16           ಉಡು                        399 14.80 10.25 218.24
17         17      ಕಮಗಳರು                         224 15.66 4.58 580.80
18         18        ತುಮಕೂರು                         373 27.31 8.29 367.40
19         19          ೋಾರ                          251 15.60 6.69 16.96
20         20    ೆ೦ಗಳರು(ನ)                    3468 132.96 103.20 7339.27
21         21  ೆ೦ಗಳರು(ಾ)                        210 13.53 6.71 4722.15
22         22           ಮಂಡ                          265 18.87 5.89 15.03
23         23           ಾಸನ                        339 23.83 6.81 1768.98
24         24       ದಣ ಕನಡ                        501 25.19 18.85 330.90
25         25          ೊಡಗು                           225 9.96 3.55 14.03
26         26         ೖಸೂರು                       558 31.71 12.40 2487.15
27         27      ಾಮಾಜನಗರ                            126 9.41 2.10 6.96
28         28     ಕಬಾಪರ                          176 12.75 4.61 12.59
29         29         ಾಮನಗರ                         182 13.78 5.67 378.93
30         30          ಾದ                            105 7.38 3.88 5.91

In [27]:
len(corrected_list)

6

In [28]:
def check_nan(df_col):
    nan_columns = df_col[df_col.isna()].index.tolist()
    if len(nan_columns) == len(df_col):
        return []
    return nan_columns

In [29]:
#updateing the header row such that there are no nan
def set_header_row(df_list_all):
    df_list = df_list_all
    new_df_list = []
    for df in df_list:
        header_row = df.iloc[0].tolist()
        for idx in range(len(header_row)):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx+1
                while j<len(header_row) and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j+=1
                if j<len(header_row) and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[0]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[1:])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        for idx in range(len(header_row)-1, 0, -1):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx-1
                while j>0 and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j-=1
                if j>0 and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[-1]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[:-1])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        new_df_list.append(df)
    return new_df_list

In [30]:
corrected_header = set_header_row(corrected_list)

In [31]:
len(corrected_header)

6

In [32]:
corrected_header[0]

   Unnamed: 0     Unnamed: 1 17.1 ಅಬಾ ಅಂಗಗಳ ಮತು ಬಳದಮದಾೕಯ : 2019-20
0           1              2                           1521 1522 1523 1524
1           1         ೆಳಾ                        638 32.14 9.96 1163.56
2           2       ಾಗಲೋೆ                          277 12.03 3.89 21.26
3           3         ಜಯಪರ                          232 12.75 5.28 21.01
4           4         ಕಲು                       295 143.78 70.20 718.98
5           5           ೕದ                          167 11.67 6.10 16.14
6           6        ಾಯಚೂರು                          228 14.33 5.71 11.79
7           7          ೊಪಳ                           153 10.41 3.22 9.66
8           8            ಗದ                            144 7.84 2.62 8.37
9           9         ಾರಾಡ                        276 14.65 6.99 1132.46
10         10       ಉತರ ಕನಡ                            160 9.96 5.42 9.93
11         11          ಾೇ                          166 11.66 3.64 10.71
12         12          ಬಾ                        327 23.58 7.06 1173.39
13         13        ತದುಗ                          234 15.32 4.43 15.90
14         14       ಾವಣೆೆ                          259 15.81 5.76 15.96
15         15           ವಗ                          270 19.36 7.56 24.13
16         16           ಉಡು                        399 14.80 10.25 218.24
17         17      ಕಮಗಳರು                         224 15.66 4.58 580.80
18         18        ತುಮಕೂರು                         373 27.31 8.29 367.40
19         19          ೋಾರ                          251 15.60 6.69 16.96
20         20    ೆ೦ಗಳರು(ನ)                    3468 132.96 103.20 7339.27
21         21  ೆ೦ಗಳರು(ಾ)                        210 13.53 6.71 4722.15
22         22           ಮಂಡ                          265 18.87 5.89 15.03
23         23           ಾಸನ                        339 23.83 6.81 1768.98
24         24       ದಣ ಕನಡ                        501 25.19 18.85 330.90
25         25          ೊಡಗು                           225 9.96 3.55 14.03
26         26         ೖಸೂರು                       558 31.71 12.40 2487.15
27         27      ಾಮಾಜನಗರ                            126 9.41 2.10 6.96
28         28     ಕಬಾಪರ                          176 12.75 4.61 12.59
29         29         ಾಮನಗರ                         182 13.78 5.67 378.93
30         30          ಾದ                            105 7.38 3.88 5.91

In [33]:
#updating the 1st column of the containing ther serial number such that there are no nan 
def set_index_col(df_list):
    new_df_list = []
    for df in df_list:
        nan_col = check_nan(df.iloc[:,0])
        if len(df.index) > 31 and len(nan_col)>1:
            for idx in range(len(nan_col)-1):
                if nan_col[idx]+2 == nan_col[idx+1] and nan_col[idx]+1 not in nan_col:
                    for i in range(df.shape[1]):
                        p = nan_col[idx]
                        q = nan_col[idx]+1
                        r = nan_col[idx+1]
                        if i>0 and not (isinstance(df.iloc[p,i], float) and math.isnan(df.iloc[p,i])) and  not (isinstance(df.iloc[r,i], float) and math.isnan(df.iloc[r,i])):
                            if (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i]])
                            elif not (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i], df.iloc[q,i]])
                    idx+=1
            df = df.drop(nan_col)
        df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [34]:
corrected_index = set_index_col(corrected_header)

In [35]:
len(corrected_index)

6

In [36]:
corrected_index[0]

   Unnamed: 0     Unnamed: 1 17.1 ಅಬಾ ಅಂಗಗಳ ಮತು ಬಳದಮದಾೕಯ : 2019-20
0           1              2                           1521 1522 1523 1524
1           1         ೆಳಾ                        638 32.14 9.96 1163.56
2           2       ಾಗಲೋೆ                          277 12.03 3.89 21.26
3           3         ಜಯಪರ                          232 12.75 5.28 21.01
4           4         ಕಲು                       295 143.78 70.20 718.98
5           5           ೕದ                          167 11.67 6.10 16.14
6           6        ಾಯಚೂರು                          228 14.33 5.71 11.79
7           7          ೊಪಳ                           153 10.41 3.22 9.66
8           8            ಗದ                            144 7.84 2.62 8.37
9           9         ಾರಾಡ                        276 14.65 6.99 1132.46
10         10       ಉತರ ಕನಡ                            160 9.96 5.42 9.93
11         11          ಾೇ                          166 11.66 3.64 10.71
12         12          ಬಾ                        327 23.58 7.06 1173.39
13         13        ತದುಗ                          234 15.32 4.43 15.90
14         14       ಾವಣೆೆ                          259 15.81 5.76 15.96
15         15           ವಗ                          270 19.36 7.56 24.13
16         16           ಉಡು                        399 14.80 10.25 218.24
17         17      ಕಮಗಳರು                         224 15.66 4.58 580.80
18         18        ತುಮಕೂರು                         373 27.31 8.29 367.40
19         19          ೋಾರ                          251 15.60 6.69 16.96
20         20    ೆ೦ಗಳರು(ನ)                    3468 132.96 103.20 7339.27
21         21  ೆ೦ಗಳರು(ಾ)                        210 13.53 6.71 4722.15
22         22           ಮಂಡ                          265 18.87 5.89 15.03
23         23           ಾಸನ                        339 23.83 6.81 1768.98
24         24       ದಣ ಕನಡ                        501 25.19 18.85 330.90
25         25          ೊಡಗು                           225 9.96 3.55 14.03
26         26         ೖಸೂರು                       558 31.71 12.40 2487.15
27         27      ಾಮಾಜನಗರ                            126 9.41 2.10 6.96
28         28     ಕಬಾಪರ                          176 12.75 4.61 12.59
29         29         ಾಮನಗರ                         182 13.78 5.67 378.93
30         30          ಾದ                            105 7.38 3.88 5.91

In [76]:
#slpitting 1st column such that 1st column has just serial number and no words
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = re.findall(pattern, df_col.iloc[0])
                numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                #numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)

                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)
        elif df_col.dtype == int or df_col.dtype == float:
            df.iloc[:,0] = df.iloc[:,0].astype(int).astype(str)
            new_df.append(df)
    return new_df

In [38]:
new_list = first_column_split(corrected_index)

In [39]:
len(new_list)

6

In [40]:
new_list[0]

   Unnamed: 0     Unnamed: 1 17.1 ಅಬಾ ಅಂಗಗಳ ಮತು ಬಳದಮದಾೕಯ : 2019-20
0           1              2                           1521 1522 1523 1524
1           1         ೆಳಾ                        638 32.14 9.96 1163.56
2           2       ಾಗಲೋೆ                          277 12.03 3.89 21.26
3           3         ಜಯಪರ                          232 12.75 5.28 21.01
4           4         ಕಲು                       295 143.78 70.20 718.98
5           5           ೕದ                          167 11.67 6.10 16.14
6           6        ಾಯಚೂರು                          228 14.33 5.71 11.79
7           7          ೊಪಳ                           153 10.41 3.22 9.66
8           8            ಗದ                            144 7.84 2.62 8.37
9           9         ಾರಾಡ                        276 14.65 6.99 1132.46
10         10       ಉತರ ಕನಡ                            160 9.96 5.42 9.93
11         11          ಾೇ                          166 11.66 3.64 10.71
12         12          ಬಾ                        327 23.58 7.06 1173.39
13         13        ತದುಗ                          234 15.32 4.43 15.90
14         14       ಾವಣೆೆ                          259 15.81 5.76 15.96
15         15           ವಗ                          270 19.36 7.56 24.13
16         16           ಉಡು                        399 14.80 10.25 218.24
17         17      ಕಮಗಳರು                         224 15.66 4.58 580.80
18         18        ತುಮಕೂರು                         373 27.31 8.29 367.40
19         19          ೋಾರ                          251 15.60 6.69 16.96
20         20    ೆ೦ಗಳರು(ನ)                    3468 132.96 103.20 7339.27
21         21  ೆ೦ಗಳರು(ಾ)                        210 13.53 6.71 4722.15
22         22           ಮಂಡ                          265 18.87 5.89 15.03
23         23           ಾಸನ                        339 23.83 6.81 1768.98
24         24       ದಣ ಕನಡ                        501 25.19 18.85 330.90
25         25          ೊಡಗು                           225 9.96 3.55 14.03
26         26         ೖಸೂರು                       558 31.71 12.40 2487.15
27         27      ಾಮಾಜನಗರ                            126 9.41 2.10 6.96
28         28     ಕಬಾಪರ                          176 12.75 4.61 12.59
29         29         ಾಮನಗರ                         182 13.78 5.67 378.93
30         30          ಾದ                            105 7.38 3.88 5.91

In [41]:
#replacing "-" with Null
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [42]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [43]:
#replaced_list = replace_with_nan(new_list)
replaced_list = new_list

In [44]:
replaced_list[0]

   Unnamed: 0     Unnamed: 1 17.1 ಅಬಾ ಅಂಗಗಳ ಮತು ಬಳದಮದಾೕಯ : 2019-20
0           1              2                           1521 1522 1523 1524
1           1         ೆಳಾ                        638 32.14 9.96 1163.56
2           2       ಾಗಲೋೆ                          277 12.03 3.89 21.26
3           3         ಜಯಪರ                          232 12.75 5.28 21.01
4           4         ಕಲು                       295 143.78 70.20 718.98
5           5           ೕದ                          167 11.67 6.10 16.14
6           6        ಾಯಚೂರು                          228 14.33 5.71 11.79
7           7          ೊಪಳ                           153 10.41 3.22 9.66
8           8            ಗದ                            144 7.84 2.62 8.37
9           9         ಾರಾಡ                        276 14.65 6.99 1132.46
10         10       ಉತರ ಕನಡ                            160 9.96 5.42 9.93
11         11          ಾೇ                          166 11.66 3.64 10.71
12         12          ಬಾ                        327 23.58 7.06 1173.39
13         13        ತದುಗ                          234 15.32 4.43 15.90
14         14       ಾವಣೆೆ                          259 15.81 5.76 15.96
15         15           ವಗ                          270 19.36 7.56 24.13
16         16           ಉಡು                        399 14.80 10.25 218.24
17         17      ಕಮಗಳರು                         224 15.66 4.58 580.80
18         18        ತುಮಕೂರು                         373 27.31 8.29 367.40
19         19          ೋಾರ                          251 15.60 6.69 16.96
20         20    ೆ೦ಗಳರು(ನ)                    3468 132.96 103.20 7339.27
21         21  ೆ೦ಗಳರು(ಾ)                        210 13.53 6.71 4722.15
22         22           ಮಂಡ                          265 18.87 5.89 15.03
23         23           ಾಸನ                        339 23.83 6.81 1768.98
24         24       ದಣ ಕನಡ                        501 25.19 18.85 330.90
25         25          ೊಡಗು                           225 9.96 3.55 14.03
26         26         ೖಸೂರು                       558 31.71 12.40 2487.15
27         27      ಾಮಾಜನಗರ                            126 9.41 2.10 6.96
28         28     ಕಬಾಪರ                          176 12.75 4.61 12.59
29         29         ಾಮನಗರ                         182 13.78 5.67 378.93
30         30          ಾದ                            105 7.38 3.88 5.91

In [45]:
len(replaced_list)

6

In [46]:
#splitting the columns such based on the header row values
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        #pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        for colName, colData in df.items():
            #print(colName)
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = re.findall(pattern, colData.values[0])
                    numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        colData = colData.str.replace(r'\s+', ' ', regex=True)
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)
            elif pd.isna(colData.values[0]):
                print("remove NaN")
            elif isinstance(colData.values[0],(int, np.integer)) or isinstance(colData.values[0],(float, np.floating)):
                colData.values[0] = str(int(colData.values[0]))
                new_df = pd.concat([new_df, colData], axis=1)
        new_df_list.append(new_df)
    return new_df_list

In [47]:
separated_list = all_column_split(replaced_list)

remove NaN

In [48]:
len(separated_list)

6

In [49]:
separated_list[0]

   Unnamed: 0     Unnamed: 1     0       1       2        3
0           1              2  1521    1522    1523     1524
1           1         ೆಳಾ   638   32.14    9.96  1163.56
2           2       ಾಗಲೋೆ   277   12.03    3.89    21.26
3           3         ಜಯಪರ   232   12.75    5.28    21.01
4           4         ಕಲು   295  143.78   70.20   718.98
5           5           ೕದ   167   11.67    6.10    16.14
6           6        ಾಯಚೂರು   228   14.33    5.71    11.79
7           7          ೊಪಳ   153   10.41    3.22     9.66
8           8            ಗದ   144    7.84    2.62     8.37
9           9         ಾರಾಡ   276   14.65    6.99  1132.46
10         10       ಉತರ ಕನಡ   160    9.96    5.42     9.93
11         11          ಾೇ   166   11.66    3.64    10.71
12         12          ಬಾ   327   23.58    7.06  1173.39
13         13        ತದುಗ   234   15.32    4.43    15.90
14         14       ಾವಣೆೆ   259   15.81    5.76    15.96
15         15           ವಗ   270   19.36    7.56    24.13
16         16           ಉಡು   399   14.80   10.25   218.24
17         17      ಕಮಗಳರು   224   15.66    4.58   580.80
18         18        ತುಮಕೂರು   373   27.31    8.29   367.40
19         19          ೋಾರ   251   15.60    6.69    16.96
20         20    ೆ೦ಗಳರು(ನ)  3468  132.96  103.20  7339.27
21         21  ೆ೦ಗಳರು(ಾ)   210   13.53    6.71  4722.15
22         22           ಮಂಡ   265   18.87    5.89    15.03
23         23           ಾಸನ   339   23.83    6.81  1768.98
24         24       ದಣ ಕನಡ   501   25.19   18.85   330.90
25         25          ೊಡಗು   225    9.96    3.55    14.03
26         26         ೖಸೂರು   558   31.71   12.40  2487.15
27         27      ಾಮಾಜನಗರ   126    9.41    2.10     6.96
28         28     ಕಬಾಪರ   176   12.75    4.61    12.59
29         29         ಾಮನಗರ   182   13.78    5.67   378.93
30         30          ಾದ   105    7.38    3.88     5.91

In [50]:
#check each columns to ensure each column has single value
def check_single_column(df_list):
    new_df_list = []
    for df in df_list:
        df.fillna(value="", inplace=True)
        num_col = len(df.columns)
        for idx in range(num_col-1, 1, -1):
            cardinality = len(str(df.iloc[0,idx]).split())
            #print("idx", idx, df.iloc[0,idx], cardinality)
            for i in range(len(df.iloc[:,idx])):
                if i>0:
                    cell_car = len(str(df.iloc[i,idx]).split())
                    #print("i", i, df.iloc[i,idx], cell_car)
                    if cell_car > cardinality:
                       
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("more", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col1:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col2:
                                df.iloc[i, idx-1] = ' '.join(words_col2) + ' ' + words_col1[0]
                            else:
                                df.iloc[i, idx-1] = words_col1[0]

                            # Update the first column with the remaining words
                            df.iloc[i, idx] = ' '.join(words_col1[1:])
                        
                    if cell_car < cardinality:
                        
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("less", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col2:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col1:
                                df.iloc[i, idx] = words_col2[-1] + ' ' + ' '.join(words_col1)
                            else:
                                df.iloc[i, idx] = words_col2[-1]

                            # Update the first column with the remaining words
                            df.iloc[i, idx-1] = ' '.join(words_col2[:-1])
                        if df.iloc[i, idx-1]==' ':
                            df.iloc[i, idx-1] = ''
                        
        new_df_list.append(df)
    return new_df_list

In [51]:
updated_list = check_single_column(separated_list)

In [52]:
len(updated_list)

6

In [53]:
updated_list[0]

   Unnamed: 0     Unnamed: 1     0       1       2        3
0           1              2  1521    1522    1523     1524
1           1         ೆಳಾ   638   32.14    9.96  1163.56
2           2       ಾಗಲೋೆ   277   12.03    3.89    21.26
3           3         ಜಯಪರ   232   12.75    5.28    21.01
4           4         ಕಲು   295  143.78   70.20   718.98
5           5           ೕದ   167   11.67    6.10    16.14
6           6        ಾಯಚೂರು   228   14.33    5.71    11.79
7           7          ೊಪಳ   153   10.41    3.22     9.66
8           8            ಗದ   144    7.84    2.62     8.37
9           9         ಾರಾಡ   276   14.65    6.99  1132.46
10         10       ಉತರ ಕನಡ   160    9.96    5.42     9.93
11         11          ಾೇ   166   11.66    3.64    10.71
12         12          ಬಾ   327   23.58    7.06  1173.39
13         13        ತದುಗ   234   15.32    4.43    15.90
14         14       ಾವಣೆೆ   259   15.81    5.76    15.96
15         15           ವಗ   270   19.36    7.56    24.13
16         16           ಉಡು   399   14.80   10.25   218.24
17         17      ಕಮಗಳರು   224   15.66    4.58   580.80
18         18        ತುಮಕೂರು   373   27.31    8.29   367.40
19         19          ೋಾರ   251   15.60    6.69    16.96
20         20    ೆ೦ಗಳರು(ನ)  3468  132.96  103.20  7339.27
21         21  ೆ೦ಗಳರು(ಾ)   210   13.53    6.71  4722.15
22         22           ಮಂಡ   265   18.87    5.89    15.03
23         23           ಾಸನ   339   23.83    6.81  1768.98
24         24       ದಣ ಕನಡ   501   25.19   18.85   330.90
25         25          ೊಡಗು   225    9.96    3.55    14.03
26         26         ೖಸೂರು   558   31.71   12.40  2487.15
27         27      ಾಮಾಜನಗರ   126    9.41    2.10     6.96
28         28     ಕಬಾಪರ   176   12.75    4.61    12.59
29         29         ಾಮನಗರ   182   13.78    5.67   378.93
30         30          ಾದ   105    7.38    3.88     5.91

In [54]:
len(updated_list)

6

In [55]:
#resetting 1st row as header of the df
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [56]:
final_list = reset_header(updated_list)

In [57]:
final_list[0]

0    1              2  1521    1522    1523     1524
0    1         ೆಳಾ   638   32.14    9.96  1163.56
1    2       ಾಗಲೋೆ   277   12.03    3.89    21.26
2    3         ಜಯಪರ   232   12.75    5.28    21.01
3    4         ಕಲು   295  143.78   70.20   718.98
4    5           ೕದ   167   11.67    6.10    16.14
5    6        ಾಯಚೂರು   228   14.33    5.71    11.79
6    7          ೊಪಳ   153   10.41    3.22     9.66
7    8            ಗದ   144    7.84    2.62     8.37
8    9         ಾರಾಡ   276   14.65    6.99  1132.46
9   10       ಉತರ ಕನಡ   160    9.96    5.42     9.93
10  11          ಾೇ   166   11.66    3.64    10.71
11  12          ಬಾ   327   23.58    7.06  1173.39
12  13        ತದುಗ   234   15.32    4.43    15.90
13  14       ಾವಣೆೆ   259   15.81    5.76    15.96
14  15           ವಗ   270   19.36    7.56    24.13
15  16           ಉಡು   399   14.80   10.25   218.24
16  17      ಕಮಗಳರು   224   15.66    4.58   580.80
17  18        ತುಮಕೂರು   373   27.31    8.29   367.40
18  19          ೋಾರ   251   15.60    6.69    16.96
19  20    ೆ೦ಗಳರು(ನ)  3468  132.96  103.20  7339.27
20  21  ೆ೦ಗಳರು(ಾ)   210   13.53    6.71  4722.15
21  22           ಮಂಡ   265   18.87    5.89    15.03
22  23           ಾಸನ   339   23.83    6.81  1768.98
23  24       ದಣ ಕನಡ   501   25.19   18.85   330.90
24  25          ೊಡಗು   225    9.96    3.55    14.03
25  26         ೖಸೂರು   558   31.71   12.40  2487.15
26  27      ಾಮಾಜನಗರ   126    9.41    2.10     6.96
27  28     ಕಬಾಪರ   176   12.75    4.61    12.59
28  29         ಾಮನಗರ   182   13.78    5.67   378.93
29  30          ಾದ   105    7.38    3.88     5.91

In [58]:
#checking if the df containg nan columns
def get_empty_col(df_list):
    index_list=[]
    for i in range(len(df_list)):
        empty_columns = df_list[i].columns[df_list[i].isna().all()].tolist()
        if len(empty_columns) > 0:
            index_list.append([i,empty_columns])
    return index_list

In [59]:
empty_col = get_empty_col(final_list)
empty_col

[]

In [60]:
#conating all the dfs present in the df list
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [61]:
final_df = concat_dataframe(final_list)

In [62]:
final_df

,1,2,1521,1522,1523,1524,1525,1526,1527,1528,...,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562
0,1,ೆಳಾ,638,32.14,9.96,1163.56,67389,55038,5.72,126208,...,1,35840,1329,828,0,2157,737,400,0,1137
1,2,ಾಗಲೋೆ,277,12.03,3.89,21.26,17827,17827,1.51,62078,...,1,14564,1740,1154,0,2894,262,274,0,536
2,3,ಜಯಪರ,232,12.75,5.28,21.01,32631,32631,2.77,53855,...,0,16312,2899,1872,0,4771,454,326,0,780
3,4,ಕಲು,295,143.78,70.20,718.98,35600,23242,3.02,50334,...,0,17015,4377,2930,1,7307,579,269,0,848
4,5,ೕದ,167,11.67,6.10,16.14,35282,23409,2.99,44345,...,0,11088,4517,3112,0,7629,376,112,0,488
5,6,ಾಯಚೂರು,228,14.33,5.71,11.79,48818,48818,4.14,57669,...,2,11333,3765,2366,1,6131,545,186,0,731
6,7,ೊಪಳ,153,10.41,3.22,9.66,22181,14669,1.88,43694,...,0,8833,1234,738,0,1972,419,253,0,672
7,8,ಗದ,144,7.84,2.62,8.37,33393,20680,2.83,35787,...,0,8683,480,330,0,810,309,265,0,574
8,9,ಾರಾಡ,276,14.65,6.99,1132.46,46583,45606,3.95,59871,...,2,18009,436,372,0,808,242,263,0,505
9,10,ಉತರ ಕನಡ,160,9.96,5.42,9.93,23087,12040,1.96,35364,...,1,10526,290,295,0,585,175,178,0,353
10,11,ಾೇ,166,11.66,3.64,10.71,10674,6442,0.91,57709,...,0,10691,322,214,0,536,197,225,0,422
11,12,ಬಾ,327,23.58,7.06,1173.39,63056,43901,5.35,77252,...,2,18858,3068,1981,0,5049,2305,1700,0,4005
12,13,ತದುಗ,234,15.32,4.43,15.90,22200,17887,1.88,54525,...,0,12650,524,367,0,891,1278,932,0,2210
13,14,ಾವಣೆೆ,259,15.81,5.76,15.96,42273,29788,3.59,50074,...,0,14379,2815,1721,0,4536,696,492,0,1188
14,15,ವಗ,270,19.36,7.56,24.13,24684,17247,2.10,43957,...,1,14763,484,361,0,845,550,485,0,1035
15,16,ಉಡು,399,14.80,10.25,218.24,12106,10164,1.03,43127,...,0,11568,261,287,0,548,352,235,0,587
16,17,ಕಮಗಳರು,224,15.66,4.58,580.80,24422,17713,2.07,39344,...,0,8534,263,191,0,454,567,415,0,982
17,18,ತುಮಕೂರು,373,27.31,8.29,367.40,41117,26420,3.49,85633,...,1,22415,621,385,0,1006,1926,1448,1,3374
18,19,ೋಾರ,251,15.60,6.69,16.96,51853,31113,4.40,51203,...,1,10122,1547,1039,0,2586,707,238,0,945
19,20,ೆ೦ಗಳರು(ನ),3468,132.96,103.20,7339.27,50401,33333,4.28,91573,...,4,71766,3600,3209,0,6809,1911,1482,0,3393
20,21,ೆ೦ಗಳರು(ಾ),210,13.53,6.71,4722.15,33154,33154,2.81,30199,...,0,6840,277,186,0,463,477,245,0,722
21,22,ಮಂಡ,265,18.87,5.89,15.03,95479,82332,8.10,86180,...,2,14936,223,152,1,375,1019,499,0,1518
22,23,ಾಸನ,339,23.83,6.81,1768.98,99544,76221,8.45,64129,...,0,14792,1420,936,1,2356,1950,934,0,2884
23,24,ದಣ ಕನಡ,501,25.19,18.85,330.90,13163,13163,1.12,45874,...,3,20774,235,277,0,512,470,293,0,763
24,25,ೊಡಗು,225,9.96,3.55,14.03,6794,6754,0.58,14535,...,0,4053,123,105,0,228,298,107,0,405
25,26,ೖಸೂರು,558,31.71,12.40,2487.15,44026,29716,3.74,96257,...,1,27274,755,609,0,1364,2598,1708,0,4306
26,27,ಾಮಾಜನಗರ,126,9.41,2.10,6.96,90416,80543,7.67,45288,...,0,8572,546,404,0,950,873,486,0,1359
27,28,ಕಬಾಪರ,176,12.75,4.61,12.59,25682,25682,2.18,41095,...,0,8450,872,472,0,1344,519,327,0,846
28,29,ಾಮನಗರ,182,13.78,5.67,378.93,47174,32453,4.00,49397,...,1,8899,192,142,0,334,579,344,0,923
29,30,ಾದ,105,7.38,3.88,5.91,17112,17112,1.45,31810,...,0,6894,1494,920,0,2414,506,169,0,675

In [63]:
final_df.columns = final_df.columns.astype(int)

In [64]:
final_df[2]

0            ೆಳಾ
1          ಾಗಲೋೆ
2            ಜಯಪರ
3            ಕಲು
4              ೕದ
5           ಾಯಚೂರು
6             ೊಪಳ
7               ಗದ
8            ಾರಾಡ
9          ಉತರ ಕನಡ
10            ಾೇ
11            ಬಾ
12          ತದುಗ
13         ಾವಣೆೆ
14             ವಗ
15             ಉಡು
16        ಕಮಗಳರು
17          ತುಮಕೂರು
18            ೋಾರ
19      ೆ೦ಗಳರು(ನ)
20    ೆ೦ಗಳರು(ಾ)
21             ಮಂಡ
22             ಾಸನ
23         ದಣ ಕನಡ
24            ೊಡಗು
25           ೖಸೂರು
26        ಾಮಾಜನಗರ
27       ಕಬಾಪರ
28           ಾಮನಗರ
29            ಾದ
Name: 2, dtype: object

In [65]:
final_df = final_df.reindex(sorted(final_df.columns, key=int), axis=1)

In [66]:
final_df

,1,2,1521,1522,1523,1524,1525,1526,1527,1528,...,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562
0,1,ೆಳಾ,638,32.14,9.96,1163.56,67389,55038,5.72,126208,...,1,35840,1329,828,0,2157,737,400,0,1137
1,2,ಾಗಲೋೆ,277,12.03,3.89,21.26,17827,17827,1.51,62078,...,1,14564,1740,1154,0,2894,262,274,0,536
2,3,ಜಯಪರ,232,12.75,5.28,21.01,32631,32631,2.77,53855,...,0,16312,2899,1872,0,4771,454,326,0,780
3,4,ಕಲು,295,143.78,70.20,718.98,35600,23242,3.02,50334,...,0,17015,4377,2930,1,7307,579,269,0,848
4,5,ೕದ,167,11.67,6.10,16.14,35282,23409,2.99,44345,...,0,11088,4517,3112,0,7629,376,112,0,488
5,6,ಾಯಚೂರು,228,14.33,5.71,11.79,48818,48818,4.14,57669,...,2,11333,3765,2366,1,6131,545,186,0,731
6,7,ೊಪಳ,153,10.41,3.22,9.66,22181,14669,1.88,43694,...,0,8833,1234,738,0,1972,419,253,0,672
7,8,ಗದ,144,7.84,2.62,8.37,33393,20680,2.83,35787,...,0,8683,480,330,0,810,309,265,0,574
8,9,ಾರಾಡ,276,14.65,6.99,1132.46,46583,45606,3.95,59871,...,2,18009,436,372,0,808,242,263,0,505
9,10,ಉತರ ಕನಡ,160,9.96,5.42,9.93,23087,12040,1.96,35364,...,1,10526,290,295,0,585,175,178,0,353
10,11,ಾೇ,166,11.66,3.64,10.71,10674,6442,0.91,57709,...,0,10691,322,214,0,536,197,225,0,422
11,12,ಬಾ,327,23.58,7.06,1173.39,63056,43901,5.35,77252,...,2,18858,3068,1981,0,5049,2305,1700,0,4005
12,13,ತದುಗ,234,15.32,4.43,15.90,22200,17887,1.88,54525,...,0,12650,524,367,0,891,1278,932,0,2210
13,14,ಾವಣೆೆ,259,15.81,5.76,15.96,42273,29788,3.59,50074,...,0,14379,2815,1721,0,4536,696,492,0,1188
14,15,ವಗ,270,19.36,7.56,24.13,24684,17247,2.10,43957,...,1,14763,484,361,0,845,550,485,0,1035
15,16,ಉಡು,399,14.80,10.25,218.24,12106,10164,1.03,43127,...,0,11568,261,287,0,548,352,235,0,587
16,17,ಕಮಗಳರು,224,15.66,4.58,580.80,24422,17713,2.07,39344,...,0,8534,263,191,0,454,567,415,0,982
17,18,ತುಮಕೂರು,373,27.31,8.29,367.40,41117,26420,3.49,85633,...,1,22415,621,385,0,1006,1926,1448,1,3374
18,19,ೋಾರ,251,15.60,6.69,16.96,51853,31113,4.40,51203,...,1,10122,1547,1039,0,2586,707,238,0,945
19,20,ೆ೦ಗಳರು(ನ),3468,132.96,103.20,7339.27,50401,33333,4.28,91573,...,4,71766,3600,3209,0,6809,1911,1482,0,3393
20,21,ೆ೦ಗಳರು(ಾ),210,13.53,6.71,4722.15,33154,33154,2.81,30199,...,0,6840,277,186,0,463,477,245,0,722
21,22,ಮಂಡ,265,18.87,5.89,15.03,95479,82332,8.10,86180,...,2,14936,223,152,1,375,1019,499,0,1518
22,23,ಾಸನ,339,23.83,6.81,1768.98,99544,76221,8.45,64129,...,0,14792,1420,936,1,2356,1950,934,0,2884
23,24,ದಣ ಕನಡ,501,25.19,18.85,330.90,13163,13163,1.12,45874,...,3,20774,235,277,0,512,470,293,0,763
24,25,ೊಡಗು,225,9.96,3.55,14.03,6794,6754,0.58,14535,...,0,4053,123,105,0,228,298,107,0,405
25,26,ೖಸೂರು,558,31.71,12.40,2487.15,44026,29716,3.74,96257,...,1,27274,755,609,0,1364,2598,1708,0,4306
26,27,ಾಮಾಜನಗರ,126,9.41,2.10,6.96,90416,80543,7.67,45288,...,0,8572,546,404,0,950,873,486,0,1359
27,28,ಕಬಾಪರ,176,12.75,4.61,12.59,25682,25682,2.18,41095,...,0,8450,872,472,0,1344,519,327,0,846
28,29,ಾಮನಗರ,182,13.78,5.67,378.93,47174,32453,4.00,49397,...,1,8899,192,142,0,334,579,344,0,923
29,30,ಾದ,105,7.38,3.88,5.91,17112,17112,1.45,31810,...,0,6894,1494,920,0,2414,506,169,0,675

In [67]:
final_df = final_df.drop(final_df.index[30:])

In [68]:
final_df

,1,2,1521,1522,1523,1524,1525,1526,1527,1528,...,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562
0,1,ೆಳಾ,638,32.14,9.96,1163.56,67389,55038,5.72,126208,...,1,35840,1329,828,0,2157,737,400,0,1137
1,2,ಾಗಲೋೆ,277,12.03,3.89,21.26,17827,17827,1.51,62078,...,1,14564,1740,1154,0,2894,262,274,0,536
2,3,ಜಯಪರ,232,12.75,5.28,21.01,32631,32631,2.77,53855,...,0,16312,2899,1872,0,4771,454,326,0,780
3,4,ಕಲು,295,143.78,70.20,718.98,35600,23242,3.02,50334,...,0,17015,4377,2930,1,7307,579,269,0,848
4,5,ೕದ,167,11.67,6.10,16.14,35282,23409,2.99,44345,...,0,11088,4517,3112,0,7629,376,112,0,488
5,6,ಾಯಚೂರು,228,14.33,5.71,11.79,48818,48818,4.14,57669,...,2,11333,3765,2366,1,6131,545,186,0,731
6,7,ೊಪಳ,153,10.41,3.22,9.66,22181,14669,1.88,43694,...,0,8833,1234,738,0,1972,419,253,0,672
7,8,ಗದ,144,7.84,2.62,8.37,33393,20680,2.83,35787,...,0,8683,480,330,0,810,309,265,0,574
8,9,ಾರಾಡ,276,14.65,6.99,1132.46,46583,45606,3.95,59871,...,2,18009,436,372,0,808,242,263,0,505
9,10,ಉತರ ಕನಡ,160,9.96,5.42,9.93,23087,12040,1.96,35364,...,1,10526,290,295,0,585,175,178,0,353
10,11,ಾೇ,166,11.66,3.64,10.71,10674,6442,0.91,57709,...,0,10691,322,214,0,536,197,225,0,422
11,12,ಬಾ,327,23.58,7.06,1173.39,63056,43901,5.35,77252,...,2,18858,3068,1981,0,5049,2305,1700,0,4005
12,13,ತದುಗ,234,15.32,4.43,15.90,22200,17887,1.88,54525,...,0,12650,524,367,0,891,1278,932,0,2210
13,14,ಾವಣೆೆ,259,15.81,5.76,15.96,42273,29788,3.59,50074,...,0,14379,2815,1721,0,4536,696,492,0,1188
14,15,ವಗ,270,19.36,7.56,24.13,24684,17247,2.10,43957,...,1,14763,484,361,0,845,550,485,0,1035
15,16,ಉಡು,399,14.80,10.25,218.24,12106,10164,1.03,43127,...,0,11568,261,287,0,548,352,235,0,587
16,17,ಕಮಗಳರು,224,15.66,4.58,580.80,24422,17713,2.07,39344,...,0,8534,263,191,0,454,567,415,0,982
17,18,ತುಮಕೂರು,373,27.31,8.29,367.40,41117,26420,3.49,85633,...,1,22415,621,385,0,1006,1926,1448,1,3374
18,19,ೋಾರ,251,15.60,6.69,16.96,51853,31113,4.40,51203,...,1,10122,1547,1039,0,2586,707,238,0,945
19,20,ೆ೦ಗಳರು(ನ),3468,132.96,103.20,7339.27,50401,33333,4.28,91573,...,4,71766,3600,3209,0,6809,1911,1482,0,3393
20,21,ೆ೦ಗಳರು(ಾ),210,13.53,6.71,4722.15,33154,33154,2.81,30199,...,0,6840,277,186,0,463,477,245,0,722
21,22,ಮಂಡ,265,18.87,5.89,15.03,95479,82332,8.10,86180,...,2,14936,223,152,1,375,1019,499,0,1518
22,23,ಾಸನ,339,23.83,6.81,1768.98,99544,76221,8.45,64129,...,0,14792,1420,936,1,2356,1950,934,0,2884
23,24,ದಣ ಕನಡ,501,25.19,18.85,330.90,13163,13163,1.12,45874,...,3,20774,235,277,0,512,470,293,0,763
24,25,ೊಡಗು,225,9.96,3.55,14.03,6794,6754,0.58,14535,...,0,4053,123,105,0,228,298,107,0,405
25,26,ೖಸೂರು,558,31.71,12.40,2487.15,44026,29716,3.74,96257,...,1,27274,755,609,0,1364,2598,1708,0,4306
26,27,ಾಮಾಜನಗರ,126,9.41,2.10,6.96,90416,80543,7.67,45288,...,0,8572,546,404,0,950,873,486,0,1359
27,28,ಕಬಾಪರ,176,12.75,4.61,12.59,25682,25682,2.18,41095,...,0,8450,872,472,0,1344,519,327,0,846
28,29,ಾಮನಗರ,182,13.78,5.67,378.93,47174,32453,4.00,49397,...,1,8899,192,142,0,334,579,344,0,923
29,30,ಾದ,105,7.38,3.88,5.91,17112,17112,1.45,31810,...,0,6894,1494,920,0,2414,506,169,0,675

In [69]:
#Changing the order of the districts
new_order = [18, 20, 19, 27, 26, 29, 30, 22, 21, 24, 23, 25, 4, 5, 8, 12, 10, 9, 6, 1, 2, 15, 13, 11, 14, 16, 17, 7, 3, 28]

final_df[1] = new_order
final_df

,1,2,1521,1522,1523,1524,1525,1526,1527,1528,...,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562
0,18,ೆಳಾ,638,32.14,9.96,1163.56,67389,55038,5.72,126208,...,1,35840,1329,828,0,2157,737,400,0,1137
1,20,ಾಗಲೋೆ,277,12.03,3.89,21.26,17827,17827,1.51,62078,...,1,14564,1740,1154,0,2894,262,274,0,536
2,19,ಜಯಪರ,232,12.75,5.28,21.01,32631,32631,2.77,53855,...,0,16312,2899,1872,0,4771,454,326,0,780
3,27,ಕಲು,295,143.78,70.20,718.98,35600,23242,3.02,50334,...,0,17015,4377,2930,1,7307,579,269,0,848
4,26,ೕದ,167,11.67,6.10,16.14,35282,23409,2.99,44345,...,0,11088,4517,3112,0,7629,376,112,0,488
5,29,ಾಯಚೂರು,228,14.33,5.71,11.79,48818,48818,4.14,57669,...,2,11333,3765,2366,1,6131,545,186,0,731
6,30,ೊಪಳ,153,10.41,3.22,9.66,22181,14669,1.88,43694,...,0,8833,1234,738,0,1972,419,253,0,672
7,22,ಗದ,144,7.84,2.62,8.37,33393,20680,2.83,35787,...,0,8683,480,330,0,810,309,265,0,574
8,21,ಾರಾಡ,276,14.65,6.99,1132.46,46583,45606,3.95,59871,...,2,18009,436,372,0,808,242,263,0,505
9,24,ಉತರ ಕನಡ,160,9.96,5.42,9.93,23087,12040,1.96,35364,...,1,10526,290,295,0,585,175,178,0,353
10,23,ಾೇ,166,11.66,3.64,10.71,10674,6442,0.91,57709,...,0,10691,322,214,0,536,197,225,0,422
11,25,ಬಾ,327,23.58,7.06,1173.39,63056,43901,5.35,77252,...,2,18858,3068,1981,0,5049,2305,1700,0,4005
12,4,ತದುಗ,234,15.32,4.43,15.90,22200,17887,1.88,54525,...,0,12650,524,367,0,891,1278,932,0,2210
13,5,ಾವಣೆೆ,259,15.81,5.76,15.96,42273,29788,3.59,50074,...,0,14379,2815,1721,0,4536,696,492,0,1188
14,8,ವಗ,270,19.36,7.56,24.13,24684,17247,2.10,43957,...,1,14763,484,361,0,845,550,485,0,1035
15,12,ಉಡು,399,14.80,10.25,218.24,12106,10164,1.03,43127,...,0,11568,261,287,0,548,352,235,0,587
16,10,ಕಮಗಳರು,224,15.66,4.58,580.80,24422,17713,2.07,39344,...,0,8534,263,191,0,454,567,415,0,982
17,9,ತುಮಕೂರು,373,27.31,8.29,367.40,41117,26420,3.49,85633,...,1,22415,621,385,0,1006,1926,1448,1,3374
18,6,ೋಾರ,251,15.60,6.69,16.96,51853,31113,4.40,51203,...,1,10122,1547,1039,0,2586,707,238,0,945
19,1,ೆ೦ಗಳರು(ನ),3468,132.96,103.20,7339.27,50401,33333,4.28,91573,...,4,71766,3600,3209,0,6809,1911,1482,0,3393
20,2,ೆ೦ಗಳರು(ಾ),210,13.53,6.71,4722.15,33154,33154,2.81,30199,...,0,6840,277,186,0,463,477,245,0,722
21,15,ಮಂಡ,265,18.87,5.89,15.03,95479,82332,8.10,86180,...,2,14936,223,152,1,375,1019,499,0,1518
22,13,ಾಸನ,339,23.83,6.81,1768.98,99544,76221,8.45,64129,...,0,14792,1420,936,1,2356,1950,934,0,2884
23,11,ದಣ ಕನಡ,501,25.19,18.85,330.90,13163,13163,1.12,45874,...,3,20774,235,277,0,512,470,293,0,763
24,14,ೊಡಗು,225,9.96,3.55,14.03,6794,6754,0.58,14535,...,0,4053,123,105,0,228,298,107,0,405
25,16,ೖಸೂರು,558,31.71,12.40,2487.15,44026,29716,3.74,96257,...,1,27274,755,609,0,1364,2598,1708,0,4306
26,17,ಾಮಾಜನಗರ,126,9.41,2.10,6.96,90416,80543,7.67,45288,...,0,8572,546,404,0,950,873,486,0,1359
27,7,ಕಬಾಪರ,176,12.75,4.61,12.59,25682,25682,2.18,41095,...,0,8450,872,472,0,1344,519,327,0,846
28,3,ಾಮನಗರ,182,13.78,5.67,378.93,47174,32453,4.00,49397,...,1,8899,192,142,0,334,579,344,0,923
29,28,ಾದ,105,7.38,3.88,5.91,17112,17112,1.45,31810,...,0,6894,1494,920,0,2414,506,169,0,675

In [70]:
final_data = final_df.sort_values(1)
final_data.reset_index(drop=True, inplace=True)
final_data

,1,2,1521,1522,1523,1524,1525,1526,1527,1528,...,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562
0,1,ೆ೦ಗಳರು(ನ),3468,132.96,103.20,7339.27,50401,33333,4.28,91573,...,4,71766,3600,3209,0,6809,1911,1482,0,3393
1,2,ೆ೦ಗಳರು(ಾ),210,13.53,6.71,4722.15,33154,33154,2.81,30199,...,0,6840,277,186,0,463,477,245,0,722
2,3,ಾಮನಗರ,182,13.78,5.67,378.93,47174,32453,4.00,49397,...,1,8899,192,142,0,334,579,344,0,923
3,4,ತದುಗ,234,15.32,4.43,15.90,22200,17887,1.88,54525,...,0,12650,524,367,0,891,1278,932,0,2210
4,5,ಾವಣೆೆ,259,15.81,5.76,15.96,42273,29788,3.59,50074,...,0,14379,2815,1721,0,4536,696,492,0,1188
5,6,ೋಾರ,251,15.60,6.69,16.96,51853,31113,4.40,51203,...,1,10122,1547,1039,0,2586,707,238,0,945
6,7,ಕಬಾಪರ,176,12.75,4.61,12.59,25682,25682,2.18,41095,...,0,8450,872,472,0,1344,519,327,0,846
7,8,ವಗ,270,19.36,7.56,24.13,24684,17247,2.10,43957,...,1,14763,484,361,0,845,550,485,0,1035
8,9,ತುಮಕೂರು,373,27.31,8.29,367.40,41117,26420,3.49,85633,...,1,22415,621,385,0,1006,1926,1448,1,3374
9,10,ಕಮಗಳರು,224,15.66,4.58,580.80,24422,17713,2.07,39344,...,0,8534,263,191,0,454,567,415,0,982
10,11,ದಣ ಕನಡ,501,25.19,18.85,330.90,13163,13163,1.12,45874,...,3,20774,235,277,0,512,470,293,0,763
11,12,ಉಡು,399,14.80,10.25,218.24,12106,10164,1.03,43127,...,0,11568,261,287,0,548,352,235,0,587
12,13,ಾಸನ,339,23.83,6.81,1768.98,99544,76221,8.45,64129,...,0,14792,1420,936,1,2356,1950,934,0,2884
13,14,ೊಡಗು,225,9.96,3.55,14.03,6794,6754,0.58,14535,...,0,4053,123,105,0,228,298,107,0,405
14,15,ಮಂಡ,265,18.87,5.89,15.03,95479,82332,8.10,86180,...,2,14936,223,152,1,375,1019,499,0,1518
15,16,ೖಸೂರು,558,31.71,12.40,2487.15,44026,29716,3.74,96257,...,1,27274,755,609,0,1364,2598,1708,0,4306
16,17,ಾಮಾಜನಗರ,126,9.41,2.10,6.96,90416,80543,7.67,45288,...,0,8572,546,404,0,950,873,486,0,1359
17,18,ೆಳಾ,638,32.14,9.96,1163.56,67389,55038,5.72,126208,...,1,35840,1329,828,0,2157,737,400,0,1137
18,19,ಜಯಪರ,232,12.75,5.28,21.01,32631,32631,2.77,53855,...,0,16312,2899,1872,0,4771,454,326,0,780
19,20,ಾಗಲೋೆ,277,12.03,3.89,21.26,17827,17827,1.51,62078,...,1,14564,1740,1154,0,2894,262,274,0,536
20,21,ಾರಾಡ,276,14.65,6.99,1132.46,46583,45606,3.95,59871,...,2,18009,436,372,0,808,242,263,0,505
21,22,ಗದ,144,7.84,2.62,8.37,33393,20680,2.83,35787,...,0,8683,480,330,0,810,309,265,0,574
22,23,ಾೇ,166,11.66,3.64,10.71,10674,6442,0.91,57709,...,0,10691,322,214,0,536,197,225,0,422
23,24,ಉತರ ಕನಡ,160,9.96,5.42,9.93,23087,12040,1.96,35364,...,1,10526,290,295,0,585,175,178,0,353
24,25,ಬಾ,327,23.58,7.06,1173.39,63056,43901,5.35,77252,...,2,18858,3068,1981,0,5049,2305,1700,0,4005
25,26,ೕದ,167,11.67,6.10,16.14,35282,23409,2.99,44345,...,0,11088,4517,3112,0,7629,376,112,0,488
26,27,ಕಲು,295,143.78,70.20,718.98,35600,23242,3.02,50334,...,0,17015,4377,2930,1,7307,579,269,0,848
27,28,ಾದ,105,7.38,3.88,5.91,17112,17112,1.45,31810,...,0,6894,1494,920,0,2414,506,169,0,675
28,29,ಾಯಚೂರು,228,14.33,5.71,11.79,48818,48818,4.14,57669,...,2,11333,3765,2366,1,6131,545,186,0,731
29,30,ೊಪಳ,153,10.41,3.22,9.66,22181,14669,1.88,43694,...,0,8833,1234,738,0,1972,419,253,0,672

In [71]:
name_list = ['Bengaluru(U)','Bengaluru(R)', 'Ramanagara', 'Chitradurga', 'Davanagere', 'Kolara', 'Chikkaballapura', 'Shivamogga',
'Tumakuru', 'Chikkamagaluru', 'Dakshina Kannada', 'Udupi', 'Hassan', 'Kodagu', 'Mandya', 'Mysuru', 'Chamarajanagara',
 'Belagavi', 'Vijayapura', 'Bagalkot', 'Dharwad', 'Gadag', 'Haveri', 'Uttara Kannada', 'Ballari', 'Bidar', 'Kalburgi',
 'Yadgir', 'Raichur', 'Koppal']

In [72]:
#Renaming the districts
final_data[2] = name_list
final_data

,1,2,1521,1522,1523,1524,1525,1526,1527,1528,...,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562
0,1,Bengaluru(U),3468,132.96,103.20,7339.27,50401,33333,4.28,91573,...,4,71766,3600,3209,0,6809,1911,1482,0,3393
1,2,Bengaluru(R),210,13.53,6.71,4722.15,33154,33154,2.81,30199,...,0,6840,277,186,0,463,477,245,0,722
2,3,Ramanagara,182,13.78,5.67,378.93,47174,32453,4.00,49397,...,1,8899,192,142,0,334,579,344,0,923
3,4,Chitradurga,234,15.32,4.43,15.90,22200,17887,1.88,54525,...,0,12650,524,367,0,891,1278,932,0,2210
4,5,Davanagere,259,15.81,5.76,15.96,42273,29788,3.59,50074,...,0,14379,2815,1721,0,4536,696,492,0,1188
5,6,Kolara,251,15.60,6.69,16.96,51853,31113,4.40,51203,...,1,10122,1547,1039,0,2586,707,238,0,945
6,7,Chikkaballapura,176,12.75,4.61,12.59,25682,25682,2.18,41095,...,0,8450,872,472,0,1344,519,327,0,846
7,8,Shivamogga,270,19.36,7.56,24.13,24684,17247,2.10,43957,...,1,14763,484,361,0,845,550,485,0,1035
8,9,Tumakuru,373,27.31,8.29,367.40,41117,26420,3.49,85633,...,1,22415,621,385,0,1006,1926,1448,1,3374
9,10,Chikkamagaluru,224,15.66,4.58,580.80,24422,17713,2.07,39344,...,0,8534,263,191,0,454,567,415,0,982
10,11,Dakshina Kannada,501,25.19,18.85,330.90,13163,13163,1.12,45874,...,3,20774,235,277,0,512,470,293,0,763
11,12,Udupi,399,14.80,10.25,218.24,12106,10164,1.03,43127,...,0,11568,261,287,0,548,352,235,0,587
12,13,Hassan,339,23.83,6.81,1768.98,99544,76221,8.45,64129,...,0,14792,1420,936,1,2356,1950,934,0,2884
13,14,Kodagu,225,9.96,3.55,14.03,6794,6754,0.58,14535,...,0,4053,123,105,0,228,298,107,0,405
14,15,Mandya,265,18.87,5.89,15.03,95479,82332,8.10,86180,...,2,14936,223,152,1,375,1019,499,0,1518
15,16,Mysuru,558,31.71,12.40,2487.15,44026,29716,3.74,96257,...,1,27274,755,609,0,1364,2598,1708,0,4306
16,17,Chamarajanagara,126,9.41,2.10,6.96,90416,80543,7.67,45288,...,0,8572,546,404,0,950,873,486,0,1359
17,18,Belagavi,638,32.14,9.96,1163.56,67389,55038,5.72,126208,...,1,35840,1329,828,0,2157,737,400,0,1137
18,19,Vijayapura,232,12.75,5.28,21.01,32631,32631,2.77,53855,...,0,16312,2899,1872,0,4771,454,326,0,780
19,20,Bagalkot,277,12.03,3.89,21.26,17827,17827,1.51,62078,...,1,14564,1740,1154,0,2894,262,274,0,536
20,21,Dharwad,276,14.65,6.99,1132.46,46583,45606,3.95,59871,...,2,18009,436,372,0,808,242,263,0,505
21,22,Gadag,144,7.84,2.62,8.37,33393,20680,2.83,35787,...,0,8683,480,330,0,810,309,265,0,574
22,23,Haveri,166,11.66,3.64,10.71,10674,6442,0.91,57709,...,0,10691,322,214,0,536,197,225,0,422
23,24,Uttara Kannada,160,9.96,5.42,9.93,23087,12040,1.96,35364,...,1,10526,290,295,0,585,175,178,0,353
24,25,Ballari,327,23.58,7.06,1173.39,63056,43901,5.35,77252,...,2,18858,3068,1981,0,5049,2305,1700,0,4005
25,26,Bidar,167,11.67,6.10,16.14,35282,23409,2.99,44345,...,0,11088,4517,3112,0,7629,376,112,0,488
26,27,Kalburgi,295,143.78,70.20,718.98,35600,23242,3.02,50334,...,0,17015,4377,2930,1,7307,579,269,0,848
27,28,Yadgir,105,7.38,3.88,5.91,17112,17112,1.45,31810,...,0,6894,1494,920,0,2414,506,169,0,675
28,29,Raichur,228,14.33,5.71,11.79,48818,48818,4.14,57669,...,2,11333,3765,2366,1,6131,545,186,0,731
29,30,Koppal,153,10.41,3.22,9.66,22181,14669,1.88,43694,...,0,8833,1234,738,0,1972,419,253,0,672

In [73]:
final_data.to_csv(absolute_result_path, sep=';', index=False)
final_data.to_csv(absolute_dictionary_path, sep=';', index=False)

In [74]:
#Checking missing columns
start = final_data.columns[2]
end = final_data.columns[-1]
for i in range(start,end):
    if i not in final_df.columns.tolist():
        print(i)