In [1]:
import tabula
import numpy as np
import pandas as pd
import os
import re
import math

In [2]:
relative_path_pdf = "../HTML/Output_html_Chapter14/kaggle/working/out/pages/"
relative_dictionary_path = "../Data/Chapter14_Data.csv"
relative_result_path = "../HTML/Output_html_Chapter14/Chapter14_Data.csv"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = os.path.join(os.getcwd(), relative_path_pdf)
absolute_dictionary_path = os.path.join(os.getcwd(), relative_dictionary_path)
absolute_result_path = os.path.join(os.getcwd(), relative_result_path)

In [3]:
os.listdir(absolute_path_pdf)

['page_1.pdf', 'page_2.pdf', 'page_3.pdf', 'page_5.pdf', 'page_4.pdf']

In [4]:
output_list = []

In [5]:
# Get a list of PDF files sorted by filename
pdf_files = sorted([file for file in os.listdir(absolute_path_pdf) if file.endswith(".pdf")], key=lambda x: [int(s) if s.isdigit() else s.lower() for s in re.split('(\d+)', x)])

# Iterate through all PDF files
for file in pdf_files:
    file_path = os.path.join(absolute_path_pdf, file)
    dfs = tabula.read_pdf(file_path, pages='all', stream=True)
    if dfs:
        output_list.append(dfs[0])  # Assuming you want to append the first DataFrame from each PDF

In [6]:
len(output_list)

5

In [7]:
output_list[3]

,Unnamed: 0,Unnamed: 1,14.4 ಕುಯುವ ೕನ ೌಲಭರುವ ಜನವಸಗಳ : 31-3-2020 ರದಂೆ,Unnamed: 2
0,NaN,NaN,Habitations Having drinking water facility as ...,NaN
1,NaN,NaN,ಒಟು ಕುಯುವ ೕನ ೌಲಭರುವ ಜನವಸಗಳ ಸಂೆ,50 LPCD ಂತ
2,ಕ,NaN,ಜನವಸಗಳ,ೆನ ೕರು ಇರುವ
3,ಸಂ,ೆಗಳ,No. of Habitations having drinking water facil...,ಜನವಸಗಳ
4,NaN,NaN,Total,ೇಕಡಾರು ಪಾಣ
5,NaN,NaN,Number of >0 - <25% >25 - <50% >50 - <75% > ...,% of habitations
6,NaN,NaN,Habitations,having more than
7,NaN,NaN,NaN,50 LPCD
8,1,2,1396 1397 1398 1399 1400 1401,1402
9,1,ೆಳಾ,1766 99 660 676 270 61,57.02
10,2,ಾಗಲೋೆ,1130 149 306 248 286 141,59.73
11,3,ಜಯಪರ,1035 257 152 626 0 0,60.48
12,4,ಕಲು,1287 25 86 744 308 124,91.38
13,5,ೕದ,886 1 119 524 173 69,86.46
14,6,ಾಯಚೂರು,1461 8 21 47 139 1246,98.02
15,7,ೊಪಳ,736 31 34 459 37 175,91.17
16,8,ಗದ,351 0 0 0 0 351,100.00
17,9,ಾರಾಡ,390 5 68 147 144 26,81.28
18,10,ಉತರ ಕನಡ,7420 670 1721 2201 830 1998,67.78
19,11,ಾೇ,718 2 93 372 185 66,86.77
20,12,ಬಾ,1213 195 744 186 58 30,22.59
21,13,ತದುಗ,1580 107 272 611 414 176,76.01
22,14,ಾವಣೆೆ,907 14 132 404 204 153,83.90
23,15,ವಗ,4865 151 1673 1427 951 663,62.51
24,16,ಉಡು,3462 0 1066 1901 472 23,69.21
25,17,ಕಮಗಳರು,3529 517 763 787 604 858,63.73
26,18,ತುಮಕೂರು,5339 270 1287 1429 1813 540,70.84
27,19,ೋಾರ,1941 428 571 263 471 208,48.53
28,20,ೆ೦ಗಳರು(ನ),990 69 448 208 63 202,47.78
29,21,ೆ೦ಗಳರು(ಾ),1286 369 533 189 160 35,29.86
30,22,ಮಂಡ,1998 359 539 516 417 167,55.06
31,23,ಾಸನ,3848 575 844 1577 252 600,63.12
32,24,ದಣ ಕನಡ,3552 11 162 1127 632 1620,95.13
33,25,ೊಡಗು,597 166 365 65 0 1,11.06
34,26,ೖಸೂರು,1994 17 124 166 240 1447,92.93
35,27,ಾಮಾಜನಗರ,895 93 418 380 4 0,42.91
36,28,ಕಬಾಪರ,1919 1453 281 140 40 5,9.64
37,29,ಾಮನಗರ,2108 851 1026 183 48 0,10.96
38,30,ಾದ,892 146 26 75 21 624,80.72
39,NaN,ಾಜ,60095 7038 14534 17678 9236 11609,64.10

In [8]:
#adding header
#new_row = [1, 2,  np.nan,967,968,969,970,971,972,973,974,975,976]
#index = 0
#output_list[3].loc[index + 1:] = output_list[3].loc[index:].shift(1)
#output_list[3].loc[index] = new_row
#output_list[3]

def add_header(df_list,idx_list, new_list):
    index = 0
    for i in range(len(idx_list)):
        df_list[idx_list[i]].loc[index + 1:] = df_list[idx_list[i]].loc[index:].shift(1)
        df_list[idx_list[i]].loc[index] = new_list[i]
    return df_list

In [9]:
def find_last_index(df_col):
    pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
    for idx in range(len(df_col)):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
                    if numbers_1 and numbers_1[0] == 30:
                        return idx+1
   
    return (len(df_col) - 1)

In [13]:
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    miss_list = []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        df_col = df_col.astype(str)

        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        flag = 0
        for idx in range(len(df_col) - 1):
            #print(idx, df_col.iloc[idx])
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = re.findall(pattern, df_col.iloc[idx+1])
                    numbers_2 = [int(num) if '.' not in num else float(num) for num in numbers_2]
                    #print(numbers_2)
            if numbers_1 and numbers_2 and numbers_1[0] == 1 and numbers_2[0] == 1:
                start_index = idx
                end_index = find_last_index(df_col)
                index_list.append([start_index, end_index])
                if(end_index - start_index) != 31:
                    miss_list.append(i)
                flag=1
                i += 1
                break

        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index, miss_list

In [14]:
index_list, drop_list, fault_list = find_header(output_list)

In [15]:
fault_list

[]

In [14]:
drop_list

[]

In [15]:
index_list

[[9, 40], [12, 43], [8, 39], [5, 36], [11, 42], [10, 41]]

In [16]:
len(index_list)

6

In [16]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        return new_df_list
    return df_list

In [17]:
def get_final_index(df_list, index_ll, drop_index, miss_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list, miss_list = find_header(df)
        drop_index = drop_list
        miss_index = miss_list
    return df, index_ll, drop_index, miss_index

In [18]:
new_output_list, new_index_list, new_drop_list, new_fault_list = get_final_index(output_list, index_list, drop_list, fault_list)

In [19]:
new_fault_list, new_drop_list

([], [])

In [20]:
new_index_list

[[16, 47], [10, 41], [10, 41], [8, 39], [14, 45]]

In [21]:
new_output_list[1]

,Unnamed: 0,Unnamed: 1,14.2 ಸಚ ಾರತ ಷ(ಾೕಣ),Unnamed: 2
0,NaN,NaN,Swachh Bharat Mission(Rural),NaN
1,NaN,NaN,ೈಯಕ ೌಟುಂಕ ೌಾಲಯಗಳ ಸಮುಾಯದ ೌಾಲಯಗಳ,ಘನ ಮತು ದವ ಾಜ ೇಾ
2,NaN,NaN,Solid and Liquid Waste Disposal Individual Hou...,NaN
3,ಕ,ೆಗಳ,NaN,NaN
4,NaN,NaN,2019-20ೇ 31.03.2020ರ 2019-20ೇ 31.03.2020ರ,2019-20ೇ 31.03.2020ರ
5,ಸಂ,NaN,ಾನ ಅಂತೆ ದ ಾನ ಅಂತೆ ದ,ಾನ ಅಂತೆ ದ
6,NaN,NaN,ದ (ಸಂತ) ದ (ಸಂತ),ದ (ಸಂತ)
7,NaN,NaN,Construct Constructed as Constructed Construct...,Constructed Constructed as
8,NaN,NaN,ed during on 31.03.2020 during 2019 on 31.03.2020,during on 31.03.2020
9,NaN,NaN,2019-20 (Cumulative) -20 (Cumulative),2019-20 (Cumulative)
10,1,2,1383 1384 1385,1386 1387 1388
11,1,ೆಳಾ,6333 434776 0,114 12 17
12,2,ಾಗಲೋೆ,6478 238127 0,230 2 8
13,3,ಜಯಪರ,27073 286560 45,98 50 58
14,4,ಕಲು,32014 259932 0,0 34 34
15,5,ೕದ,5230 227022 0,0 0 0
16,6,ಾಯಚೂರು,14185 279089 24,77 114 114
17,7,ೊಪಳ,9149 153383 4,60 0 9
18,8,ಗದ,5405 113923 3,53 4 13
19,9,ಾರಾಡ,16691 157426 3,20 25 39
20,10,ಉತರ ಕನಡ,8803 238346 1,1 14 18
21,11,ಾೇ,9900 13849 53,53 7 19
22,12,ಬಾ,20633 327254 32,32 102 102
23,13,ತದುಗ,9761 183519 0,3 0 0
24,14,ಾವಣೆೆ,5091 130908 1,1 11 11
25,15,ವಗ,5119 10232 31,58 24 50
26,16,ಉಡು,551 107486 19,19 11 20
27,17,ಕಮಗಳರು,5456 74912 18,23 42 42
28,18,ತುಮಕೂರು,6547 425642 20,41 37 75
29,19,ೋಾರ,1490 214782 21,33 2 3
30,20,ೆ೦ಗಳರು(ನ),23 28422 2,13 2 10
31,21,ೆ೦ಗಳರು(ಾ),1003 157197 40,48 1 11
32,22,ಮಂಡ,2683 354377 7,88 0 0
33,23,ಾಸನ,12790 12790 10,10 39 39
34,24,ದಣ ಕನಡ,326 10757 26,168 1 36
35,25,ೊಡಗು,628 119094 4,30 5 20
36,26,ೖಸೂರು,5793 253238 0,12 2 12
37,27,ಾಮಾಜನಗರ,5672 188311 57,57 3 3
38,28,ಕಬಾಪರ,5955 8031 48,68 1 1
39,29,ಾಮನಗರ,12554 181522 64,64 61 61
40,30,ಾದ,16637 140454 0,0 0 0
41,NaN,ಾಜ,259973 5331361 533,1474 606 825

In [22]:
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(ind_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(ind_list[idx][0], ind_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [23]:
corrected_list = remove_header(new_output_list, new_index_list)

In [24]:
corrected_list[3]

,Unnamed: 0,Unnamed: 1,14.4 ಕುಯುವ ೕನ ೌಲಭರುವ ಜನವಸಗಳ : 31-3-2020 ರದಂೆ,Unnamed: 2
0,1,2,1396 1397 1398 1399 1400 1401,1402
1,1,ೆಳಾ,1766 99 660 676 270 61,57.02
2,2,ಾಗಲೋೆ,1130 149 306 248 286 141,59.73
3,3,ಜಯಪರ,1035 257 152 626 0 0,60.48
4,4,ಕಲು,1287 25 86 744 308 124,91.38
5,5,ೕದ,886 1 119 524 173 69,86.46
6,6,ಾಯಚೂರು,1461 8 21 47 139 1246,98.02
7,7,ೊಪಳ,736 31 34 459 37 175,91.17
8,8,ಗದ,351 0 0 0 0 351,100.00
9,9,ಾರಾಡ,390 5 68 147 144 26,81.28
10,10,ಉತರ ಕನಡ,7420 670 1721 2201 830 1998,67.78
11,11,ಾೇ,718 2 93 372 185 66,86.77
12,12,ಬಾ,1213 195 744 186 58 30,22.59
13,13,ತದುಗ,1580 107 272 611 414 176,76.01
14,14,ಾವಣೆೆ,907 14 132 404 204 153,83.90
15,15,ವಗ,4865 151 1673 1427 951 663,62.51
16,16,ಉಡು,3462 0 1066 1901 472 23,69.21
17,17,ಕಮಗಳರು,3529 517 763 787 604 858,63.73
18,18,ತುಮಕೂರು,5339 270 1287 1429 1813 540,70.84
19,19,ೋಾರ,1941 428 571 263 471 208,48.53
20,20,ೆ೦ಗಳರು(ನ),990 69 448 208 63 202,47.78
21,21,ೆ೦ಗಳರು(ಾ),1286 369 533 189 160 35,29.86
22,22,ಮಂಡ,1998 359 539 516 417 167,55.06
23,23,ಾಸನ,3848 575 844 1577 252 600,63.12
24,24,ದಣ ಕನಡ,3552 11 162 1127 632 1620,95.13
25,25,ೊಡಗು,597 166 365 65 0 1,11.06
26,26,ೖಸೂರು,1994 17 124 166 240 1447,92.93
27,27,ಾಮಾಜನಗರ,895 93 418 380 4 0,42.91
28,28,ಕಬಾಪರ,1919 1453 281 140 40 5,9.64
29,29,ಾಮನಗರ,2108 851 1026 183 48 0,10.96
30,30,ಾದ,892 146 26 75 21 624,80.72

In [25]:
len(corrected_list)

5

In [26]:
def check_nan(df_col):
    nan_columns = df_col[df_col.isna()].index.tolist()
    if len(nan_columns) == len(df_col):
        return []
    return nan_columns

In [27]:
def set_header_row(df_list_all):
    df_list = df_list_all
    new_df_list = []
    for df in df_list:
        header_row = df.iloc[0].tolist()
        for idx in range(len(header_row)):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx+1
                while j<len(header_row) and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j+=1
                if j<len(header_row) and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[0]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[1:])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        new_df_list.append(df)
    return new_df_list

In [28]:
corrected_header = set_header_row(corrected_list)

In [29]:
len(corrected_header)

5

In [30]:
corrected_header[3]

,Unnamed: 0,Unnamed: 1,14.4 ಕುಯುವ ೕನ ೌಲಭರುವ ಜನವಸಗಳ : 31-3-2020 ರದಂೆ,Unnamed: 2
0,1,2,1396 1397 1398 1399 1400 1401,1402
1,1,ೆಳಾ,1766 99 660 676 270 61,57.02
2,2,ಾಗಲೋೆ,1130 149 306 248 286 141,59.73
3,3,ಜಯಪರ,1035 257 152 626 0 0,60.48
4,4,ಕಲು,1287 25 86 744 308 124,91.38
5,5,ೕದ,886 1 119 524 173 69,86.46
6,6,ಾಯಚೂರು,1461 8 21 47 139 1246,98.02
7,7,ೊಪಳ,736 31 34 459 37 175,91.17
8,8,ಗದ,351 0 0 0 0 351,100.00
9,9,ಾರಾಡ,390 5 68 147 144 26,81.28
10,10,ಉತರ ಕನಡ,7420 670 1721 2201 830 1998,67.78
11,11,ಾೇ,718 2 93 372 185 66,86.77
12,12,ಬಾ,1213 195 744 186 58 30,22.59
13,13,ತದುಗ,1580 107 272 611 414 176,76.01
14,14,ಾವಣೆೆ,907 14 132 404 204 153,83.90
15,15,ವಗ,4865 151 1673 1427 951 663,62.51
16,16,ಉಡು,3462 0 1066 1901 472 23,69.21
17,17,ಕಮಗಳರು,3529 517 763 787 604 858,63.73
18,18,ತುಮಕೂರು,5339 270 1287 1429 1813 540,70.84
19,19,ೋಾರ,1941 428 571 263 471 208,48.53
20,20,ೆ೦ಗಳರು(ನ),990 69 448 208 63 202,47.78
21,21,ೆ೦ಗಳರು(ಾ),1286 369 533 189 160 35,29.86
22,22,ಮಂಡ,1998 359 539 516 417 167,55.06
23,23,ಾಸನ,3848 575 844 1577 252 600,63.12
24,24,ದಣ ಕನಡ,3552 11 162 1127 632 1620,95.13
25,25,ೊಡಗು,597 166 365 65 0 1,11.06
26,26,ೖಸೂರು,1994 17 124 166 240 1447,92.93
27,27,ಾಮಾಜನಗರ,895 93 418 380 4 0,42.91
28,28,ಕಬಾಪರ,1919 1453 281 140 40 5,9.64
29,29,ಾಮನಗರ,2108 851 1026 183 48 0,10.96
30,30,ಾದ,892 146 26 75 21 624,80.72

In [31]:
def set_index_col(df_list):
    new_df_list = []
    for df in df_list:
        nan_col = check_nan(df.iloc[:,0])
        if len(df.index) > 31 and len(nan_col)>1:
            for idx in range(len(nan_col)-1):
                if nan_col[idx]+2 == nan_col[idx+1] and nan_col[idx]+1 not in nan_col:
                    for i in range(df.shape[1]):
                        p = nan_col[idx]
                        q = nan_col[idx]+1
                        r = nan_col[idx+1]
                        if i>0 and not (isinstance(df.iloc[p,i], float) and math.isnan(df.iloc[p,i])) and  not (isinstance(df.iloc[r,i], float) and math.isnan(df.iloc[r,i])):
                            if (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i]])
                            elif not (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i], df.iloc[q,i]])
                    idx+=1
            df = df.drop(nan_col)
        df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [32]:
corrected_index = set_index_col(corrected_header)

In [33]:
len(corrected_index)

5

In [34]:
corrected_index[3]

,Unnamed: 0,Unnamed: 1,14.4 ಕುಯುವ ೕನ ೌಲಭರುವ ಜನವಸಗಳ : 31-3-2020 ರದಂೆ,Unnamed: 2
0,1,2,1396 1397 1398 1399 1400 1401,1402
1,1,ೆಳಾ,1766 99 660 676 270 61,57.02
2,2,ಾಗಲೋೆ,1130 149 306 248 286 141,59.73
3,3,ಜಯಪರ,1035 257 152 626 0 0,60.48
4,4,ಕಲು,1287 25 86 744 308 124,91.38
5,5,ೕದ,886 1 119 524 173 69,86.46
6,6,ಾಯಚೂರು,1461 8 21 47 139 1246,98.02
7,7,ೊಪಳ,736 31 34 459 37 175,91.17
8,8,ಗದ,351 0 0 0 0 351,100.00
9,9,ಾರಾಡ,390 5 68 147 144 26,81.28
10,10,ಉತರ ಕನಡ,7420 670 1721 2201 830 1998,67.78
11,11,ಾೇ,718 2 93 372 185 66,86.77
12,12,ಬಾ,1213 195 744 186 58 30,22.59
13,13,ತದುಗ,1580 107 272 611 414 176,76.01
14,14,ಾವಣೆೆ,907 14 132 404 204 153,83.90
15,15,ವಗ,4865 151 1673 1427 951 663,62.51
16,16,ಉಡು,3462 0 1066 1901 472 23,69.21
17,17,ಕಮಗಳರು,3529 517 763 787 604 858,63.73
18,18,ತುಮಕೂರು,5339 270 1287 1429 1813 540,70.84
19,19,ೋಾರ,1941 428 571 263 471 208,48.53
20,20,ೆ೦ಗಳರು(ನ),990 69 448 208 63 202,47.78
21,21,ೆ೦ಗಳರು(ಾ),1286 369 533 189 160 35,29.86
22,22,ಮಂಡ,1998 359 539 516 417 167,55.06
23,23,ಾಸನ,3848 575 844 1577 252 600,63.12
24,24,ದಣ ಕನಡ,3552 11 162 1127 632 1620,95.13
25,25,ೊಡಗು,597 166 365 65 0 1,11.06
26,26,ೖಸೂರು,1994 17 124 166 240 1447,92.93
27,27,ಾಮಾಜನಗರ,895 93 418 380 4 0,42.91
28,28,ಕಬಾಪರ,1919 1453 281 140 40 5,9.64
29,29,ಾಮನಗರ,2108 851 1026 183 48 0,10.96
30,30,ಾದ,892 146 26 75 21 624,80.72

In [35]:
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = re.findall(pattern, df_col.iloc[0])
                numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                #numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)

                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)
        elif df_col.dtype == float:
            df.iloc[:,0] = df.iloc[:,0].astype(int).astype(str)
            new_df.append(df)
    return new_df

In [36]:
new_list = first_column_split(corrected_index)

In [37]:
len(new_list)

5

In [38]:
new_list[3]

,Unnamed: 0,Unnamed: 1,14.4 ಕುಯುವ ೕನ ೌಲಭರುವ ಜನವಸಗಳ : 31-3-2020 ರದಂೆ,Unnamed: 2
0,1,2,1396 1397 1398 1399 1400 1401,1402
1,1,ೆಳಾ,1766 99 660 676 270 61,57.02
2,2,ಾಗಲೋೆ,1130 149 306 248 286 141,59.73
3,3,ಜಯಪರ,1035 257 152 626 0 0,60.48
4,4,ಕಲು,1287 25 86 744 308 124,91.38
5,5,ೕದ,886 1 119 524 173 69,86.46
6,6,ಾಯಚೂರು,1461 8 21 47 139 1246,98.02
7,7,ೊಪಳ,736 31 34 459 37 175,91.17
8,8,ಗದ,351 0 0 0 0 351,100.00
9,9,ಾರಾಡ,390 5 68 147 144 26,81.28
10,10,ಉತರ ಕನಡ,7420 670 1721 2201 830 1998,67.78
11,11,ಾೇ,718 2 93 372 185 66,86.77
12,12,ಬಾ,1213 195 744 186 58 30,22.59
13,13,ತದುಗ,1580 107 272 611 414 176,76.01
14,14,ಾವಣೆೆ,907 14 132 404 204 153,83.90
15,15,ವಗ,4865 151 1673 1427 951 663,62.51
16,16,ಉಡು,3462 0 1066 1901 472 23,69.21
17,17,ಕಮಗಳರು,3529 517 763 787 604 858,63.73
18,18,ತುಮಕೂರು,5339 270 1287 1429 1813 540,70.84
19,19,ೋಾರ,1941 428 571 263 471 208,48.53
20,20,ೆ೦ಗಳರು(ನ),990 69 448 208 63 202,47.78
21,21,ೆ೦ಗಳರು(ಾ),1286 369 533 189 160 35,29.86
22,22,ಮಂಡ,1998 359 539 516 417 167,55.06
23,23,ಾಸನ,3848 575 844 1577 252 600,63.12
24,24,ದಣ ಕನಡ,3552 11 162 1127 632 1620,95.13
25,25,ೊಡಗು,597 166 365 65 0 1,11.06
26,26,ೖಸೂರು,1994 17 124 166 240 1447,92.93
27,27,ಾಮಾಜನಗರ,895 93 418 380 4 0,42.91
28,28,ಕಬಾಪರ,1919 1453 281 140 40 5,9.64
29,29,ಾಮನಗರ,2108 851 1026 183 48 0,10.96
30,30,ಾದ,892 146 26 75 21 624,80.72

In [39]:
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [40]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [41]:
#replaced_list = replace_with_nan(new_list)
replaced_list = new_list

In [42]:
replaced_list[3]

,Unnamed: 0,Unnamed: 1,14.4 ಕುಯುವ ೕನ ೌಲಭರುವ ಜನವಸಗಳ : 31-3-2020 ರದಂೆ,Unnamed: 2
0,1,2,1396 1397 1398 1399 1400 1401,1402
1,1,ೆಳಾ,1766 99 660 676 270 61,57.02
2,2,ಾಗಲೋೆ,1130 149 306 248 286 141,59.73
3,3,ಜಯಪರ,1035 257 152 626 0 0,60.48
4,4,ಕಲು,1287 25 86 744 308 124,91.38
5,5,ೕದ,886 1 119 524 173 69,86.46
6,6,ಾಯಚೂರು,1461 8 21 47 139 1246,98.02
7,7,ೊಪಳ,736 31 34 459 37 175,91.17
8,8,ಗದ,351 0 0 0 0 351,100.00
9,9,ಾರಾಡ,390 5 68 147 144 26,81.28
10,10,ಉತರ ಕನಡ,7420 670 1721 2201 830 1998,67.78
11,11,ಾೇ,718 2 93 372 185 66,86.77
12,12,ಬಾ,1213 195 744 186 58 30,22.59
13,13,ತದುಗ,1580 107 272 611 414 176,76.01
14,14,ಾವಣೆೆ,907 14 132 404 204 153,83.90
15,15,ವಗ,4865 151 1673 1427 951 663,62.51
16,16,ಉಡು,3462 0 1066 1901 472 23,69.21
17,17,ಕಮಗಳರು,3529 517 763 787 604 858,63.73
18,18,ತುಮಕೂರು,5339 270 1287 1429 1813 540,70.84
19,19,ೋಾರ,1941 428 571 263 471 208,48.53
20,20,ೆ೦ಗಳರು(ನ),990 69 448 208 63 202,47.78
21,21,ೆ೦ಗಳರು(ಾ),1286 369 533 189 160 35,29.86
22,22,ಮಂಡ,1998 359 539 516 417 167,55.06
23,23,ಾಸನ,3848 575 844 1577 252 600,63.12
24,24,ದಣ ಕನಡ,3552 11 162 1127 632 1620,95.13
25,25,ೊಡಗು,597 166 365 65 0 1,11.06
26,26,ೖಸೂರು,1994 17 124 166 240 1447,92.93
27,27,ಾಮಾಜನಗರ,895 93 418 380 4 0,42.91
28,28,ಕಬಾಪರ,1919 1453 281 140 40 5,9.64
29,29,ಾಮನಗರ,2108 851 1026 183 48 0,10.96
30,30,ಾದ,892 146 26 75 21 624,80.72

In [43]:
len(replaced_list)

5

In [44]:
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        for colName, colData in df.items():
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = [int(x) for x in re.findall(pattern, colData.values[0])]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        colData = colData.str.replace(r'\s+', ' ', regex=True)
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)

        new_df_list.append(new_df)
    return new_df_list

In [45]:
separated_list = all_column_split(replaced_list)

In [46]:
len(separated_list)

5

In [47]:
separated_list[2]

,Unnamed: 0,0,1,2,3,4,5,6,7
0,1,2,1389,1390,1391,1392,1393,1394,1395
1,1,Belagavi,612950,213513,191635,39.89,42.96,82.85,15154
2,2,Bagalkot,196002,89242,85843,20.41,18.39,38.80,9626
3,3,Vijayapura,244732,103958,89690,28.85,20.76,49.61,13287
4,4,Kalburgi,328568,154791,136213,18.95,20.38,39.33,127
5,5,Bidar,166758,76273,68462,14.44,16.21,30.65,336
6,6,Raichur,274237,193875,182314,54.10,57.27,111.37,26023
7,7,Koppal,242346,109294,99538,25.04,25.09,50.13,4636
8,8,Gadag,144271,83470,75907,17.40,14.56,31.96,2817
9,9,Dharwad,138531,45820,41191,10.70,7.72,18.42,3917
10,10,Uttara Kannada,161896,43114,38439,7.48,7.00,14.48,2109
11,11,Haveri,213565,78394,68663,17.71,14.09,31.80,5492
12,12,Ballari,329391,162588,149073,40.61,40.92,81.53,12176
13,13,Chitradurga,284542,124755,116406,30.25,32.27,62.52,9866
14,14,Davanagere,185575,172878,43364,15.58,13.17,28.75,145
15,15,Shivamogga,214206,98401,88328,15.87,16.42,32.29,3956
16,16,Udupi,69892,12563,11123,1.55,2.71,4.26,388
17,17,Chikkamagaluru,147090,54312,52921,13.97,11.78,25.75,2519
18,18,Tumakuru,388472,116509,104887,27.75,26.38,54.13,9377
19,19,Kolara,212753,86889,78673,224.60,221.40,446.00,11319
20,20,Bengaluru(U),43774,2264,1996,0.40,0.40,0.80,19
21,21,Bengaluru(R),83107,27095,24045,62.21,55.54,117.75,1685
22,22,Mandya,288721,63143,53288,7.36,7.33,14.69,72
23,23,Hassan,248474,97553,88103,23.89,21.95,45.84,5692
24,24,Dakshina Kannada,124686,27068,26122,7.13,5.74,12.87,2152
25,25,Kodagu,66472,12009,10768,2.70,2.38,5.08,841
26,26,Mysuru,266287,59460,54007,11.64,10.87,22.51,2345
27,27,Chamarajanagara,168630,59458,55294,13.47,13.53,27.00,1384
28,28,Chikkaballapura,185961,93706,72547,18.80,17.97,36.77,6206
29,29,Ramanagara,169105,93564,88185,32.18,30.29,62.47,17267
30,30,Yadgir,200976,65387,64626,8.17,8.38,16.55,233

In [48]:
def check_single_column(df_list):
    new_df_list = []
    for df in df_list:
        df.fillna(value="", inplace=True)
        num_col = len(df.columns)
        for idx in range(num_col-1, 1, -1):
            cardinality = len(str(df.iloc[0,idx]).split())
            #print("idx", idx, df.iloc[0,idx], cardinality)
            for i in range(len(df.iloc[:,idx])):
                if i>0:
                    cell_car = len(str(df.iloc[i,idx]).split())
                    #print("i", i, df.iloc[i,idx], cell_car)
                    if cell_car > cardinality:
                       
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("more", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col1:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col2:
                                df.iloc[i, idx-1] = ' '.join(words_col2) + ' ' + words_col1[0]
                            else:
                                df.iloc[i, idx-1] = words_col1[0]

                            # Update the first column with the remaining words
                            df.iloc[i, idx] = ' '.join(words_col1[1:])
                        
                    if cell_car < cardinality:
                        
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("less", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col2:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col1:
                                df.iloc[i, idx] = words_col2[-1] + ' ' + ' '.join(words_col1)
                            else:
                                df.iloc[i, idx] = words_col2[-1]

                            # Update the first column with the remaining words
                            df.iloc[i, idx-1] = ' '.join(words_col2[:-1])
                        if df.iloc[i, idx-1]==' ':
                            df.iloc[i, idx-1] = ''
                        
        new_df_list.append(df)
    return new_df_list

In [49]:
updated_list = check_single_column(separated_list)

In [50]:
len(updated_list)

5

In [51]:
updated_list[0]

   Unnamed: 0              0     1     2     3     4     5     0     1
0           1              2  1376  1377  1378  1379  1380  1381  1382
1           1         ೆಳಾ   140   264     0     0     0   710   600
2           2       ಾಗಲೋೆ   140   309   754    61     6   447     0
3           3         ಜಯಪರ   734     0   802    75     3  1620   940
4           4         ಕಲು     0     0   634    80    33     0     0
5           5           ೕದ   140    25     0     0     0   290   689
6           6        ಾಯಚೂರು   238     0     0    28     3   627  2117
7           7          ೊಪಳ   943     0   315    48     4   466     0
8           8            ಗದ    46    49    32    91     5  1784   120
9           9         ಾರಾಡ   146   163   116   150     6  2556   962
10         10       ಉತರ ಕನಡ   572  3919     0    22     7    92     0
11         11          ಾೇ   450   402   289    35     4   393   329
12         12          ಬಾ     0    99   285   328    29   240   960
13         13        ತದುಗ     0   971   630    47     4   930     0
14         14       ಾವಣೆೆ     0  1227   698    91    10   710  1304
15         15           ವಗ     0  1166   955    52    45  1952    75
16         16           ಉಡು   629   123    66    22     2   629     0
17         17      ಕಮಗಳರು     0   212     0    19     0   219   679
18         18        ತುಮಕೂರು     0  5235   456    55     0  1020   200
19         19          ೋಾರ    26     0  3292    26     3     0     0
20         20    ೆ೦ಗಳರು(ನ)    10     8  1708     6     8   406   344
21         21  ೆ೦ಗಳರು(ಾ)  1556  1538    40     6     1    60     0
22         22           ಮಂಡ     0  1515     0     0     0   166   330
23         23           ಾಸನ     0     0     0    35     2   522   340
24         24       ದಣ ಕನಡ   425   448  4300   945    42   708     0
25         25          ೊಡಗು    77   676   519     0     0     0  1218
26         26         ೖಸೂರು  2220  3178     0    44    44  1557     0
27         27      ಾಮಾಜನಗರ    89  1288     0    50    43   240   630
28         28     ಕಬಾಪರ  2233   345   184    52    14   270   120
29         29         ಾಮನಗರ     0  1331     0     0     0   254     0
30         30          ಾದ    26    51   182    81     7   390   270

In [52]:
len(updated_list)

5

In [53]:
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [54]:
final_list = reset_header(updated_list)

In [55]:
final_list[0]

0    1              2  1376  1377  1378 1379 1380  1381  1382
0    1         ೆಳಾ   140   264     0    0    0   710   600
1    2       ಾಗಲೋೆ   140   309   754   61    6   447     0
2    3         ಜಯಪರ   734     0   802   75    3  1620   940
3    4         ಕಲು     0     0   634   80   33     0     0
4    5           ೕದ   140    25     0    0    0   290   689
5    6        ಾಯಚೂರು   238     0     0   28    3   627  2117
6    7          ೊಪಳ   943     0   315   48    4   466     0
7    8            ಗದ    46    49    32   91    5  1784   120
8    9         ಾರಾಡ   146   163   116  150    6  2556   962
9   10       ಉತರ ಕನಡ   572  3919     0   22    7    92     0
10  11          ಾೇ   450   402   289   35    4   393   329
11  12          ಬಾ     0    99   285  328   29   240   960
12  13        ತದುಗ     0   971   630   47    4   930     0
13  14       ಾವಣೆೆ     0  1227   698   91   10   710  1304
14  15           ವಗ     0  1166   955   52   45  1952    75
15  16           ಉಡು   629   123    66   22    2   629     0
16  17      ಕಮಗಳರು     0   212     0   19    0   219   679
17  18        ತುಮಕೂರು     0  5235   456   55    0  1020   200
18  19          ೋಾರ    26     0  3292   26    3     0     0
19  20    ೆ೦ಗಳರು(ನ)    10     8  1708    6    8   406   344
20  21  ೆ೦ಗಳರು(ಾ)  1556  1538    40    6    1    60     0
21  22           ಮಂಡ     0  1515     0    0    0   166   330
22  23           ಾಸನ     0     0     0   35    2   522   340
23  24       ದಣ ಕನಡ   425   448  4300  945   42   708     0
24  25          ೊಡಗು    77   676   519    0    0     0  1218
25  26         ೖಸೂರು  2220  3178     0   44   44  1557     0
26  27      ಾಮಾಜನಗರ    89  1288     0   50   43   240   630
27  28     ಕಬಾಪರ  2233   345   184   52   14   270   120
28  29         ಾಮನಗರ     0  1331     0    0    0   254     0
29  30          ಾದ    26    51   182   81    7   390   270

In [56]:
def get_empty_col(df_list):
    index_list=[]
    for i in range(len(df_list)):
        empty_columns = df_list[i].columns[df_list[i].isna().all()].tolist()
        if len(empty_columns) > 0:
            index_list.append([i,empty_columns])
    return index_list

In [57]:
empty_col = get_empty_col(final_list)
empty_col

[]

In [58]:
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [59]:
final_df = concat_dataframe(final_list)

In [60]:
final_df

,1,2,1376,1377,1378,1379,1380,1381,1382,1383,...,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408
0,1,ೆಳಾ,140,264,0,0,0,710,600,6333,...,676,270,61,57.02,252,14263,57,1852,154,4801
1,2,ಾಗಲೋೆ,140,309,754,61,6,447,0,6478,...,248,286,141,59.73,325,4147,15,1264,0,1097
2,3,ಜಯಪರ,734,0,802,75,3,1620,940,27073,...,626,0,0,60.48,295,4313,48,1647,221,3038
3,4,ಕಲು,0,0,634,80,33,0,0,32014,...,744,308,124,91.38,1207,10031,56,1107,0,1330
4,5,ೕದ,140,25,0,0,0,290,689,5230,...,524,173,69,86.46,617,4211,192,761,29,866
5,6,ಾಯಚೂರು,238,0,0,28,3,627,2117,14185,...,47,139,1246,98.02,488,6826,10,1396,0,1615
6,7,ೊಪಳ,943,0,315,48,4,466,0,9149,...,459,37,175,91.17,761,3071,3,548,0,1034
7,8,ಗದ,46,49,32,91,5,1784,120,5405,...,0,0,351,100.00,10,1838,23,464,0,261
8,9,ಾರಾಡ,146,163,116,150,6,2556,962,16691,...,147,144,26,81.28,120,2080,136,1459,0,493
9,10,ಉತರ ಕನಡ,572,3919,0,22,7,92,0,8803,...,2201,830,1998,67.78,200,1209,55,340,60,547
10,11,ಾೇ,450,402,289,35,4,393,329,9900,...,372,185,66,86.77,431,6046,29,2029,0,1764
11,12,ಬಾ,0,99,285,328,29,240,960,20633,...,186,58,30,22.59,921,3645,96,1166,0,2030
12,13,ತದುಗ,0,971,630,47,4,930,0,9761,...,611,414,176,76.01,915,2307,124,108,132,84
13,14,ಾವಣೆೆ,0,1227,698,91,10,710,1304,5091,...,404,204,153,83.90,424,6089,70,1151,110,2028
14,15,ವಗ,0,1166,955,52,45,1952,75,5119,...,1427,951,663,62.51,684,6689,315,1377,144,1225
15,16,ಉಡು,629,123,66,22,2,629,0,551,...,1901,472,23,69.21,63,4616,22,483,36,530
16,17,ಕಮಗಳರು,0,212,0,19,0,219,679,5456,...,787,604,858,63.73,522,5111,266,1849,134,3529
17,18,ತುಮಕೂರು,0,5235,456,55,0,1020,200,6547,...,1429,1813,540,70.84,1441,3266,8,79,764,5406
18,19,ೋಾರ,26,0,3292,26,3,0,0,1490,...,263,471,208,48.53,766,2963,8,1852,0,1602
19,20,ೆ೦ಗಳರು(ನ),10,8,1708,6,8,406,344,23,...,208,63,202,47.78,205,1742,49,640,451,1833
20,21,ೆ೦ಗಳರು(ಾ),1556,1538,40,6,1,60,0,1003,...,189,160,35,29.86,532,6423,0,556,0,1382
21,22,ಮಂಡ,0,1515,0,0,0,166,330,2683,...,516,417,167,55.06,198,10670,16,1482,0,3448
22,23,ಾಸನ,0,0,0,35,2,522,340,12790,...,1577,252,600,63.12,1022,20921,63,1166,0,2910
23,24,ದಣ ಕನಡ,425,448,4300,945,42,708,0,326,...,1127,632,1620,95.13,455,1478,5,1934,0,368
24,25,ೊಡಗು,77,676,519,0,0,0,1218,628,...,65,0,1,11.06,188,4812,10,428,0,563
25,26,ೖಸೂರು,2220,3178,0,44,44,1557,0,5793,...,166,240,1447,92.93,354,11145,33,2631,21,1997
26,27,ಾಮಾಜನಗರ,89,1288,0,50,43,240,630,5672,...,380,4,0,42.91,249,8986,12,1275,261,3321
27,28,ಕಬಾಪರ,2233,345,184,52,14,270,120,5955,...,140,40,5,9.64,1069,7691,710,1513,0,5024
28,29,ಾಮನಗರ,0,1331,0,0,0,254,0,12554,...,183,48,0,10.96,185,3234,17,712,0,1610
29,30,ಾದ,26,51,182,81,7,390,270,16637,...,75,21,624,80.72,455,6195,49,855,187,1046

In [61]:
final_df.columns = final_df.columns.astype(int)

In [62]:
final_df[2]

0            ೆಳಾ
1          ಾಗಲೋೆ
2            ಜಯಪರ
3            ಕಲು
4              ೕದ
5           ಾಯಚೂರು
6             ೊಪಳ
7               ಗದ
8            ಾರಾಡ
9          ಉತರ ಕನಡ
10            ಾೇ
11            ಬಾ
12          ತದುಗ
13         ಾವಣೆೆ
14             ವಗ
15             ಉಡು
16        ಕಮಗಳರು
17          ತುಮಕೂರು
18            ೋಾರ
19      ೆ೦ಗಳರು(ನ)
20    ೆ೦ಗಳರು(ಾ)
21             ಮಂಡ
22             ಾಸನ
23         ದಣ ಕನಡ
24            ೊಡಗು
25           ೖಸೂರು
26        ಾಮಾಜನಗರ
27       ಕಬಾಪರ
28           ಾಮನಗರ
29            ಾದ
Name: 2, dtype: object

In [63]:
final_df = final_df.reindex(sorted(final_df.columns, key=int), axis=1)

In [64]:
final_df

,1,2,1376,1377,1378,1379,1380,1381,1382,1383,...,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408
0,1,ೆಳಾ,140,264,0,0,0,710,600,6333,...,676,270,61,57.02,252,14263,57,1852,154,4801
1,2,ಾಗಲೋೆ,140,309,754,61,6,447,0,6478,...,248,286,141,59.73,325,4147,15,1264,0,1097
2,3,ಜಯಪರ,734,0,802,75,3,1620,940,27073,...,626,0,0,60.48,295,4313,48,1647,221,3038
3,4,ಕಲು,0,0,634,80,33,0,0,32014,...,744,308,124,91.38,1207,10031,56,1107,0,1330
4,5,ೕದ,140,25,0,0,0,290,689,5230,...,524,173,69,86.46,617,4211,192,761,29,866
5,6,ಾಯಚೂರು,238,0,0,28,3,627,2117,14185,...,47,139,1246,98.02,488,6826,10,1396,0,1615
6,7,ೊಪಳ,943,0,315,48,4,466,0,9149,...,459,37,175,91.17,761,3071,3,548,0,1034
7,8,ಗದ,46,49,32,91,5,1784,120,5405,...,0,0,351,100.00,10,1838,23,464,0,261
8,9,ಾರಾಡ,146,163,116,150,6,2556,962,16691,...,147,144,26,81.28,120,2080,136,1459,0,493
9,10,ಉತರ ಕನಡ,572,3919,0,22,7,92,0,8803,...,2201,830,1998,67.78,200,1209,55,340,60,547
10,11,ಾೇ,450,402,289,35,4,393,329,9900,...,372,185,66,86.77,431,6046,29,2029,0,1764
11,12,ಬಾ,0,99,285,328,29,240,960,20633,...,186,58,30,22.59,921,3645,96,1166,0,2030
12,13,ತದುಗ,0,971,630,47,4,930,0,9761,...,611,414,176,76.01,915,2307,124,108,132,84
13,14,ಾವಣೆೆ,0,1227,698,91,10,710,1304,5091,...,404,204,153,83.90,424,6089,70,1151,110,2028
14,15,ವಗ,0,1166,955,52,45,1952,75,5119,...,1427,951,663,62.51,684,6689,315,1377,144,1225
15,16,ಉಡು,629,123,66,22,2,629,0,551,...,1901,472,23,69.21,63,4616,22,483,36,530
16,17,ಕಮಗಳರು,0,212,0,19,0,219,679,5456,...,787,604,858,63.73,522,5111,266,1849,134,3529
17,18,ತುಮಕೂರು,0,5235,456,55,0,1020,200,6547,...,1429,1813,540,70.84,1441,3266,8,79,764,5406
18,19,ೋಾರ,26,0,3292,26,3,0,0,1490,...,263,471,208,48.53,766,2963,8,1852,0,1602
19,20,ೆ೦ಗಳರು(ನ),10,8,1708,6,8,406,344,23,...,208,63,202,47.78,205,1742,49,640,451,1833
20,21,ೆ೦ಗಳರು(ಾ),1556,1538,40,6,1,60,0,1003,...,189,160,35,29.86,532,6423,0,556,0,1382
21,22,ಮಂಡ,0,1515,0,0,0,166,330,2683,...,516,417,167,55.06,198,10670,16,1482,0,3448
22,23,ಾಸನ,0,0,0,35,2,522,340,12790,...,1577,252,600,63.12,1022,20921,63,1166,0,2910
23,24,ದಣ ಕನಡ,425,448,4300,945,42,708,0,326,...,1127,632,1620,95.13,455,1478,5,1934,0,368
24,25,ೊಡಗು,77,676,519,0,0,0,1218,628,...,65,0,1,11.06,188,4812,10,428,0,563
25,26,ೖಸೂರು,2220,3178,0,44,44,1557,0,5793,...,166,240,1447,92.93,354,11145,33,2631,21,1997
26,27,ಾಮಾಜನಗರ,89,1288,0,50,43,240,630,5672,...,380,4,0,42.91,249,8986,12,1275,261,3321
27,28,ಕಬಾಪರ,2233,345,184,52,14,270,120,5955,...,140,40,5,9.64,1069,7691,710,1513,0,5024
28,29,ಾಮನಗರ,0,1331,0,0,0,254,0,12554,...,183,48,0,10.96,185,3234,17,712,0,1610
29,30,ಾದ,26,51,182,81,7,390,270,16637,...,75,21,624,80.72,455,6195,49,855,187,1046

In [65]:
final_df = final_df.drop(final_df.index[30:])

In [66]:
final_df

,1,2,1376,1377,1378,1379,1380,1381,1382,1383,...,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408
0,1,ೆಳಾ,140,264,0,0,0,710,600,6333,...,676,270,61,57.02,252,14263,57,1852,154,4801
1,2,ಾಗಲೋೆ,140,309,754,61,6,447,0,6478,...,248,286,141,59.73,325,4147,15,1264,0,1097
2,3,ಜಯಪರ,734,0,802,75,3,1620,940,27073,...,626,0,0,60.48,295,4313,48,1647,221,3038
3,4,ಕಲು,0,0,634,80,33,0,0,32014,...,744,308,124,91.38,1207,10031,56,1107,0,1330
4,5,ೕದ,140,25,0,0,0,290,689,5230,...,524,173,69,86.46,617,4211,192,761,29,866
5,6,ಾಯಚೂರು,238,0,0,28,3,627,2117,14185,...,47,139,1246,98.02,488,6826,10,1396,0,1615
6,7,ೊಪಳ,943,0,315,48,4,466,0,9149,...,459,37,175,91.17,761,3071,3,548,0,1034
7,8,ಗದ,46,49,32,91,5,1784,120,5405,...,0,0,351,100.00,10,1838,23,464,0,261
8,9,ಾರಾಡ,146,163,116,150,6,2556,962,16691,...,147,144,26,81.28,120,2080,136,1459,0,493
9,10,ಉತರ ಕನಡ,572,3919,0,22,7,92,0,8803,...,2201,830,1998,67.78,200,1209,55,340,60,547
10,11,ಾೇ,450,402,289,35,4,393,329,9900,...,372,185,66,86.77,431,6046,29,2029,0,1764
11,12,ಬಾ,0,99,285,328,29,240,960,20633,...,186,58,30,22.59,921,3645,96,1166,0,2030
12,13,ತದುಗ,0,971,630,47,4,930,0,9761,...,611,414,176,76.01,915,2307,124,108,132,84
13,14,ಾವಣೆೆ,0,1227,698,91,10,710,1304,5091,...,404,204,153,83.90,424,6089,70,1151,110,2028
14,15,ವಗ,0,1166,955,52,45,1952,75,5119,...,1427,951,663,62.51,684,6689,315,1377,144,1225
15,16,ಉಡು,629,123,66,22,2,629,0,551,...,1901,472,23,69.21,63,4616,22,483,36,530
16,17,ಕಮಗಳರು,0,212,0,19,0,219,679,5456,...,787,604,858,63.73,522,5111,266,1849,134,3529
17,18,ತುಮಕೂರು,0,5235,456,55,0,1020,200,6547,...,1429,1813,540,70.84,1441,3266,8,79,764,5406
18,19,ೋಾರ,26,0,3292,26,3,0,0,1490,...,263,471,208,48.53,766,2963,8,1852,0,1602
19,20,ೆ೦ಗಳರು(ನ),10,8,1708,6,8,406,344,23,...,208,63,202,47.78,205,1742,49,640,451,1833
20,21,ೆ೦ಗಳರು(ಾ),1556,1538,40,6,1,60,0,1003,...,189,160,35,29.86,532,6423,0,556,0,1382
21,22,ಮಂಡ,0,1515,0,0,0,166,330,2683,...,516,417,167,55.06,198,10670,16,1482,0,3448
22,23,ಾಸನ,0,0,0,35,2,522,340,12790,...,1577,252,600,63.12,1022,20921,63,1166,0,2910
23,24,ದಣ ಕನಡ,425,448,4300,945,42,708,0,326,...,1127,632,1620,95.13,455,1478,5,1934,0,368
24,25,ೊಡಗು,77,676,519,0,0,0,1218,628,...,65,0,1,11.06,188,4812,10,428,0,563
25,26,ೖಸೂರು,2220,3178,0,44,44,1557,0,5793,...,166,240,1447,92.93,354,11145,33,2631,21,1997
26,27,ಾಮಾಜನಗರ,89,1288,0,50,43,240,630,5672,...,380,4,0,42.91,249,8986,12,1275,261,3321
27,28,ಕಬಾಪರ,2233,345,184,52,14,270,120,5955,...,140,40,5,9.64,1069,7691,710,1513,0,5024
28,29,ಾಮನಗರ,0,1331,0,0,0,254,0,12554,...,183,48,0,10.96,185,3234,17,712,0,1610
29,30,ಾದ,26,51,182,81,7,390,270,16637,...,75,21,624,80.72,455,6195,49,855,187,1046

In [67]:
new_order = [18, 20, 19, 27, 26, 29, 30, 22, 21, 24, 23, 25, 4, 5, 8, 12, 10, 9, 6, 1, 2, 15, 13, 11, 14, 16, 17, 7, 3, 28]
final_df[1] = new_order
final_df

,1,2,1376,1377,1378,1379,1380,1381,1382,1383,...,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408
0,18,ೆಳಾ,140,264,0,0,0,710,600,6333,...,676,270,61,57.02,252,14263,57,1852,154,4801
1,20,ಾಗಲೋೆ,140,309,754,61,6,447,0,6478,...,248,286,141,59.73,325,4147,15,1264,0,1097
2,19,ಜಯಪರ,734,0,802,75,3,1620,940,27073,...,626,0,0,60.48,295,4313,48,1647,221,3038
3,27,ಕಲು,0,0,634,80,33,0,0,32014,...,744,308,124,91.38,1207,10031,56,1107,0,1330
4,26,ೕದ,140,25,0,0,0,290,689,5230,...,524,173,69,86.46,617,4211,192,761,29,866
5,29,ಾಯಚೂರು,238,0,0,28,3,627,2117,14185,...,47,139,1246,98.02,488,6826,10,1396,0,1615
6,30,ೊಪಳ,943,0,315,48,4,466,0,9149,...,459,37,175,91.17,761,3071,3,548,0,1034
7,22,ಗದ,46,49,32,91,5,1784,120,5405,...,0,0,351,100.00,10,1838,23,464,0,261
8,21,ಾರಾಡ,146,163,116,150,6,2556,962,16691,...,147,144,26,81.28,120,2080,136,1459,0,493
9,24,ಉತರ ಕನಡ,572,3919,0,22,7,92,0,8803,...,2201,830,1998,67.78,200,1209,55,340,60,547
10,23,ಾೇ,450,402,289,35,4,393,329,9900,...,372,185,66,86.77,431,6046,29,2029,0,1764
11,25,ಬಾ,0,99,285,328,29,240,960,20633,...,186,58,30,22.59,921,3645,96,1166,0,2030
12,4,ತದುಗ,0,971,630,47,4,930,0,9761,...,611,414,176,76.01,915,2307,124,108,132,84
13,5,ಾವಣೆೆ,0,1227,698,91,10,710,1304,5091,...,404,204,153,83.90,424,6089,70,1151,110,2028
14,8,ವಗ,0,1166,955,52,45,1952,75,5119,...,1427,951,663,62.51,684,6689,315,1377,144,1225
15,12,ಉಡು,629,123,66,22,2,629,0,551,...,1901,472,23,69.21,63,4616,22,483,36,530
16,10,ಕಮಗಳರು,0,212,0,19,0,219,679,5456,...,787,604,858,63.73,522,5111,266,1849,134,3529
17,9,ತುಮಕೂರು,0,5235,456,55,0,1020,200,6547,...,1429,1813,540,70.84,1441,3266,8,79,764,5406
18,6,ೋಾರ,26,0,3292,26,3,0,0,1490,...,263,471,208,48.53,766,2963,8,1852,0,1602
19,1,ೆ೦ಗಳರು(ನ),10,8,1708,6,8,406,344,23,...,208,63,202,47.78,205,1742,49,640,451,1833
20,2,ೆ೦ಗಳರು(ಾ),1556,1538,40,6,1,60,0,1003,...,189,160,35,29.86,532,6423,0,556,0,1382
21,15,ಮಂಡ,0,1515,0,0,0,166,330,2683,...,516,417,167,55.06,198,10670,16,1482,0,3448
22,13,ಾಸನ,0,0,0,35,2,522,340,12790,...,1577,252,600,63.12,1022,20921,63,1166,0,2910
23,11,ದಣ ಕನಡ,425,448,4300,945,42,708,0,326,...,1127,632,1620,95.13,455,1478,5,1934,0,368
24,14,ೊಡಗು,77,676,519,0,0,0,1218,628,...,65,0,1,11.06,188,4812,10,428,0,563
25,16,ೖಸೂರು,2220,3178,0,44,44,1557,0,5793,...,166,240,1447,92.93,354,11145,33,2631,21,1997
26,17,ಾಮಾಜನಗರ,89,1288,0,50,43,240,630,5672,...,380,4,0,42.91,249,8986,12,1275,261,3321
27,7,ಕಬಾಪರ,2233,345,184,52,14,270,120,5955,...,140,40,5,9.64,1069,7691,710,1513,0,5024
28,3,ಾಮನಗರ,0,1331,0,0,0,254,0,12554,...,183,48,0,10.96,185,3234,17,712,0,1610
29,28,ಾದ,26,51,182,81,7,390,270,16637,...,75,21,624,80.72,455,6195,49,855,187,1046

In [68]:
final_data = final_df.sort_values(1)
final_data.reset_index(drop=True, inplace=True)
final_data

,1,2,1376,1377,1378,1379,1380,1381,1382,1383,...,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408
0,1,ೆ೦ಗಳರು(ನ),10,8,1708,6,8,406,344,23,...,208,63,202,47.78,205,1742,49,640,451,1833
1,2,ೆ೦ಗಳರು(ಾ),1556,1538,40,6,1,60,0,1003,...,189,160,35,29.86,532,6423,0,556,0,1382
2,3,ಾಮನಗರ,0,1331,0,0,0,254,0,12554,...,183,48,0,10.96,185,3234,17,712,0,1610
3,4,ತದುಗ,0,971,630,47,4,930,0,9761,...,611,414,176,76.01,915,2307,124,108,132,84
4,5,ಾವಣೆೆ,0,1227,698,91,10,710,1304,5091,...,404,204,153,83.90,424,6089,70,1151,110,2028
5,6,ೋಾರ,26,0,3292,26,3,0,0,1490,...,263,471,208,48.53,766,2963,8,1852,0,1602
6,7,ಕಬಾಪರ,2233,345,184,52,14,270,120,5955,...,140,40,5,9.64,1069,7691,710,1513,0,5024
7,8,ವಗ,0,1166,955,52,45,1952,75,5119,...,1427,951,663,62.51,684,6689,315,1377,144,1225
8,9,ತುಮಕೂರು,0,5235,456,55,0,1020,200,6547,...,1429,1813,540,70.84,1441,3266,8,79,764,5406
9,10,ಕಮಗಳರು,0,212,0,19,0,219,679,5456,...,787,604,858,63.73,522,5111,266,1849,134,3529
10,11,ದಣ ಕನಡ,425,448,4300,945,42,708,0,326,...,1127,632,1620,95.13,455,1478,5,1934,0,368
11,12,ಉಡು,629,123,66,22,2,629,0,551,...,1901,472,23,69.21,63,4616,22,483,36,530
12,13,ಾಸನ,0,0,0,35,2,522,340,12790,...,1577,252,600,63.12,1022,20921,63,1166,0,2910
13,14,ೊಡಗು,77,676,519,0,0,0,1218,628,...,65,0,1,11.06,188,4812,10,428,0,563
14,15,ಮಂಡ,0,1515,0,0,0,166,330,2683,...,516,417,167,55.06,198,10670,16,1482,0,3448
15,16,ೖಸೂರು,2220,3178,0,44,44,1557,0,5793,...,166,240,1447,92.93,354,11145,33,2631,21,1997
16,17,ಾಮಾಜನಗರ,89,1288,0,50,43,240,630,5672,...,380,4,0,42.91,249,8986,12,1275,261,3321
17,18,ೆಳಾ,140,264,0,0,0,710,600,6333,...,676,270,61,57.02,252,14263,57,1852,154,4801
18,19,ಜಯಪರ,734,0,802,75,3,1620,940,27073,...,626,0,0,60.48,295,4313,48,1647,221,3038
19,20,ಾಗಲೋೆ,140,309,754,61,6,447,0,6478,...,248,286,141,59.73,325,4147,15,1264,0,1097
20,21,ಾರಾಡ,146,163,116,150,6,2556,962,16691,...,147,144,26,81.28,120,2080,136,1459,0,493
21,22,ಗದ,46,49,32,91,5,1784,120,5405,...,0,0,351,100.00,10,1838,23,464,0,261
22,23,ಾೇ,450,402,289,35,4,393,329,9900,...,372,185,66,86.77,431,6046,29,2029,0,1764
23,24,ಉತರ ಕನಡ,572,3919,0,22,7,92,0,8803,...,2201,830,1998,67.78,200,1209,55,340,60,547
24,25,ಬಾ,0,99,285,328,29,240,960,20633,...,186,58,30,22.59,921,3645,96,1166,0,2030
25,26,ೕದ,140,25,0,0,0,290,689,5230,...,524,173,69,86.46,617,4211,192,761,29,866
26,27,ಕಲು,0,0,634,80,33,0,0,32014,...,744,308,124,91.38,1207,10031,56,1107,0,1330
27,28,ಾದ,26,51,182,81,7,390,270,16637,...,75,21,624,80.72,455,6195,49,855,187,1046
28,29,ಾಯಚೂರು,238,0,0,28,3,627,2117,14185,...,47,139,1246,98.02,488,6826,10,1396,0,1615
29,30,ೊಪಳ,943,0,315,48,4,466,0,9149,...,459,37,175,91.17,761,3071,3,548,0,1034

In [69]:
name_list = ['Bengaluru(U)','Bengaluru(R)', 'Ramanagara', 'Chitradurga', 'Davanagere', 'Kolara', 'Chikkaballapura', 'Shivamogga',
'Tumakuru', 'Chikkamagaluru', 'Dakshina Kannada', 'Udupi', 'Hassan', 'Kodagu', 'Mandya', 'Mysuru', 'Chamarajanagara',
 'Belagavi', 'Vijayapura', 'Bagalkot', 'Dharwad', 'Gadag', 'Haveri', 'Uttara Kannada', 'Ballari', 'Bidar', 'Kalburgi',
 'Yadgir', 'Raichur', 'Koppal']

In [70]:
final_data[2] = name_list
final_data

,1,2,1376,1377,1378,1379,1380,1381,1382,1383,...,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408
0,1,Bengaluru(U),10,8,1708,6,8,406,344,23,...,208,63,202,47.78,205,1742,49,640,451,1833
1,2,Bengaluru(R),1556,1538,40,6,1,60,0,1003,...,189,160,35,29.86,532,6423,0,556,0,1382
2,3,Ramanagara,0,1331,0,0,0,254,0,12554,...,183,48,0,10.96,185,3234,17,712,0,1610
3,4,Chitradurga,0,971,630,47,4,930,0,9761,...,611,414,176,76.01,915,2307,124,108,132,84
4,5,Davanagere,0,1227,698,91,10,710,1304,5091,...,404,204,153,83.90,424,6089,70,1151,110,2028
5,6,Kolara,26,0,3292,26,3,0,0,1490,...,263,471,208,48.53,766,2963,8,1852,0,1602
6,7,Chikkaballapura,2233,345,184,52,14,270,120,5955,...,140,40,5,9.64,1069,7691,710,1513,0,5024
7,8,Shivamogga,0,1166,955,52,45,1952,75,5119,...,1427,951,663,62.51,684,6689,315,1377,144,1225
8,9,Tumakuru,0,5235,456,55,0,1020,200,6547,...,1429,1813,540,70.84,1441,3266,8,79,764,5406
9,10,Chikkamagaluru,0,212,0,19,0,219,679,5456,...,787,604,858,63.73,522,5111,266,1849,134,3529
10,11,Dakshina Kannada,425,448,4300,945,42,708,0,326,...,1127,632,1620,95.13,455,1478,5,1934,0,368
11,12,Udupi,629,123,66,22,2,629,0,551,...,1901,472,23,69.21,63,4616,22,483,36,530
12,13,Hassan,0,0,0,35,2,522,340,12790,...,1577,252,600,63.12,1022,20921,63,1166,0,2910
13,14,Kodagu,77,676,519,0,0,0,1218,628,...,65,0,1,11.06,188,4812,10,428,0,563
14,15,Mandya,0,1515,0,0,0,166,330,2683,...,516,417,167,55.06,198,10670,16,1482,0,3448
15,16,Mysuru,2220,3178,0,44,44,1557,0,5793,...,166,240,1447,92.93,354,11145,33,2631,21,1997
16,17,Chamarajanagara,89,1288,0,50,43,240,630,5672,...,380,4,0,42.91,249,8986,12,1275,261,3321
17,18,Belagavi,140,264,0,0,0,710,600,6333,...,676,270,61,57.02,252,14263,57,1852,154,4801
18,19,Vijayapura,734,0,802,75,3,1620,940,27073,...,626,0,0,60.48,295,4313,48,1647,221,3038
19,20,Bagalkot,140,309,754,61,6,447,0,6478,...,248,286,141,59.73,325,4147,15,1264,0,1097
20,21,Dharwad,146,163,116,150,6,2556,962,16691,...,147,144,26,81.28,120,2080,136,1459,0,493
21,22,Gadag,46,49,32,91,5,1784,120,5405,...,0,0,351,100.00,10,1838,23,464,0,261
22,23,Haveri,450,402,289,35,4,393,329,9900,...,372,185,66,86.77,431,6046,29,2029,0,1764
23,24,Uttara Kannada,572,3919,0,22,7,92,0,8803,...,2201,830,1998,67.78,200,1209,55,340,60,547
24,25,Ballari,0,99,285,328,29,240,960,20633,...,186,58,30,22.59,921,3645,96,1166,0,2030
25,26,Bidar,140,25,0,0,0,290,689,5230,...,524,173,69,86.46,617,4211,192,761,29,866
26,27,Kalburgi,0,0,634,80,33,0,0,32014,...,744,308,124,91.38,1207,10031,56,1107,0,1330
27,28,Yadgir,26,51,182,81,7,390,270,16637,...,75,21,624,80.72,455,6195,49,855,187,1046
28,29,Raichur,238,0,0,28,3,627,2117,14185,...,47,139,1246,98.02,488,6826,10,1396,0,1615
29,30,Koppal,943,0,315,48,4,466,0,9149,...,459,37,175,91.17,761,3071,3,548,0,1034

In [71]:
final_data.to_csv(absolute_result_path, sep=';', index=False)
final_data.to_csv(absolute_dictionary_path, sep=';', index=False)