In [1]:
import tabula
import numpy as np
import pandas as pd
import os
import re
import math

In [2]:
relative_path_pdf = "../HTML/Output_html_Chapter10/kaggle/working/out/pages/"
relative_dictionary_path = "../Data/Chapter10_Data.csv"
relative_result_path = "../HTML/Output_html_Chapter10/Chapter10_Data.csv"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = os.path.join(os.getcwd(), relative_path_pdf)
absolute_dictionary_path = os.path.join(os.getcwd(), relative_dictionary_path)
absolute_result_path = os.path.join(os.getcwd(), relative_result_path)

In [3]:
os.listdir(absolute_path_pdf)

['page_9.pdf',
 'page_1.pdf',
 'page_2.pdf',
 'page_3.pdf',
 'page_10.pdf',
 'page_7.pdf',
 'page_11.pdf',
 'page_14.pdf',
 'page_5.pdf',
 'page_13.pdf',
 'page_12.pdf',
 'page_6.pdf',
 'page_19.pdf',
 'page_15.pdf',
 'page_4.pdf',
 'page_17.pdf',
 'page_16.pdf',
 'page_8.pdf',
 'page_18.pdf']

In [4]:
output_list = []

In [5]:
# Get a list of PDF files sorted by filename
pdf_files = sorted([file for file in os.listdir(absolute_path_pdf) if file.endswith(".pdf")], key=lambda x: [int(s) if s.isdigit() else s.lower() for s in re.split('(\d+)', x)])

# Iterate through all PDF files
for file in pdf_files:
    file_path = os.path.join(absolute_path_pdf, file)
    dfs = tabula.read_pdf(file_path, pages='all', stream=True)
    if dfs:
        output_list.append(dfs[0])  # Assuming you want to append the first DataFrame from each PDF

In [6]:
len(output_list)

19

In [7]:
output_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,10. ಣ,/,Education,Unnamed: 3,Unnamed: 4
0,NaN,NaN,10.1 ಅರಸರು,(2011ರ ಜನಗಣ),NaN,/ Literates ( 2011 Census),NaN,NaN
1,NaN,NaN,ಾೕಣ / Rural,NaN,NaN,ನಗರ,/ Urban,ಒಟು / Total
2,SI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,Districts,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,ಗಂಡಸರು ೆಂಗಸರು,ಒಟು ಗಂಡಸರು,NaN,NaN,ೆಂಗಸರು ಒಟು,ಗಂಡಸರು ೆಂಗಸರು ಒಟು
5,NaN,NaN,Male Female,Total Male,NaN,NaN,Female Total,Male Female Total
6,1,2,1023 1024,1025,1026.0,NaN,1027 1028,1029 1030 1031
7,1,Belagavi,1233802 900990,2134792,491746.0,NaN,425494 917240,1725548 1326484 3052032
8,2,Bagalkot,416846 288066,704912,224542.0,NaN,183958 408500,641388 472024 1113412
9,3,Vijayapura,538400 355732,894132,192166.0,NaN,161970 354136,730566 517702 1248268
10,4,Kalburgi,506799 333277,840076,323065.0,NaN,264227 587292,829864 597504 1427368
11,5,Bidar,430681 309030,739711,166517.0,NaN,136445 302962,597198 445475 1042673
12,6,Raichur,399587 259853,659440,177626.0,NaN,142703 320329,577213 402556 979769
13,7,Koppal,359087 250597,609684,109698.0,NaN,89703 199401,468785 340300 809085
14,8,Gadag,250701 178972,429673,146477.0,NaN,124027 270504,397178 302999 700177
15,9,Dharwad,289171 212783,501954,422605.0,NaN,377105 799710,711776 589888 1301664
16,10,Uttara Kannada,403419 337710,741129,178680.0,NaN,162097 340777,582099 499807 1081906
17,11,Haveri,465603 359498,825101,138190.0,NaN,122152 260342,603793 481650 1085443
18,12,Ballari,564990 393647,958637,351303.0,NaN,290484 641787,916293 684131 1600424
19,13,Chitradurga,474285 360134,834419,132903.0,NaN,120070 252973,607188 480204 1087392
20,14,Davanagere,384798 304700,689498,232986.0,NaN,207253 440239,617784 511953 1129737
21,15,Shivamogga,419590 351227,770817,255348.0,NaN,236851 492199,674938 588078 1263016
22,16,Udupi,324309 320937,645246,141395.0,NaN,139788 281183,465704 460725 926429
23,17,Chikkamagaluru,335601 283920,619521,102656.0,NaN,96168 198824,438257 380088 818345
24,18,Tumakuru,760322 584116,1344438,245702.0,NaN,223251 468953,1006024 807367 1813391
25,19,Kolara,371785 277636,649421,192325.0,NaN,174473 366798,564110 452109 1016219
26,20,Bengaluru(U),348826 254033,602859 3729215,NaN,NaN,3180202 6909417,4078041 3434235 7512276
27,21,Bengaluru(R),275457 209175,484632,109854.0,NaN,94263 204117,385311 303438 688749
28,22,Mandya,517904 401385,919289,120764.0,NaN,109596 230360,638668 510981 1149649
29,23,Hassan,513580 411991,925571,155256.0,NaN,144429 299685,668836 556420 1225256
30,24,Dakshina Kannada,437028 394198,831226,426991.0,NaN,408106 835097,864019 802304 1666323
31,25,Kodagu,180920 165141,346061,34382.0,NaN,32434 66816,215302 197575 412877
32,26,Mysuru,560734 433936,994670,503032.0,NaN,464478 967510,1063766 898414 1962180
33,27,Chamarajanagara,247909 194351,442260,65048.0,NaN,57971 123019,312957 252322 565279
34,28,Chikkaballapura,334340 245891,580231,107818.0,NaN,95173 202991,442158 341064 783222
35,29,Ramanagara,275870 205441,481311,102591.0,NaN,90856 193447,378461 296297 674758
36,30,Yadgir,230998 143246,374244,75753.0,NaN,60006 135759,306751 203252 510003
37,NaN,State Total,12853342 9721613,22574955 9656634,NaN,NaN,8415733 18072367,22509976 18137346 40647322

In [8]:
def add_header(df_list,idx_list, new_list):
    index = 0
    for i in range(len(idx_list)):
        df_list[idx_list[i]].loc[index + 1:] = df_list[idx_list[i]].loc[index:].shift(1)
        df_list[idx_list[i]].loc[index] = new_list[i]
    return df_list

In [9]:
new_row = [[1, 2, np.nan, 381,382,383,384,385,386]]
id_row = [6]
#output_list = add_header(output_list, id_row, new_row)

In [10]:
output_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,10. ಣ,/,Education,Unnamed: 3,Unnamed: 4
0,NaN,NaN,10.1 ಅರಸರು,(2011ರ ಜನಗಣ),NaN,/ Literates ( 2011 Census),NaN,NaN
1,NaN,NaN,ಾೕಣ / Rural,NaN,NaN,ನಗರ,/ Urban,ಒಟು / Total
2,SI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,Districts,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,ಗಂಡಸರು ೆಂಗಸರು,ಒಟು ಗಂಡಸರು,NaN,NaN,ೆಂಗಸರು ಒಟು,ಗಂಡಸರು ೆಂಗಸರು ಒಟು
5,NaN,NaN,Male Female,Total Male,NaN,NaN,Female Total,Male Female Total
6,1,2,1023 1024,1025,1026.0,NaN,1027 1028,1029 1030 1031
7,1,Belagavi,1233802 900990,2134792,491746.0,NaN,425494 917240,1725548 1326484 3052032
8,2,Bagalkot,416846 288066,704912,224542.0,NaN,183958 408500,641388 472024 1113412
9,3,Vijayapura,538400 355732,894132,192166.0,NaN,161970 354136,730566 517702 1248268
10,4,Kalburgi,506799 333277,840076,323065.0,NaN,264227 587292,829864 597504 1427368
11,5,Bidar,430681 309030,739711,166517.0,NaN,136445 302962,597198 445475 1042673
12,6,Raichur,399587 259853,659440,177626.0,NaN,142703 320329,577213 402556 979769
13,7,Koppal,359087 250597,609684,109698.0,NaN,89703 199401,468785 340300 809085
14,8,Gadag,250701 178972,429673,146477.0,NaN,124027 270504,397178 302999 700177
15,9,Dharwad,289171 212783,501954,422605.0,NaN,377105 799710,711776 589888 1301664
16,10,Uttara Kannada,403419 337710,741129,178680.0,NaN,162097 340777,582099 499807 1081906
17,11,Haveri,465603 359498,825101,138190.0,NaN,122152 260342,603793 481650 1085443
18,12,Ballari,564990 393647,958637,351303.0,NaN,290484 641787,916293 684131 1600424
19,13,Chitradurga,474285 360134,834419,132903.0,NaN,120070 252973,607188 480204 1087392
20,14,Davanagere,384798 304700,689498,232986.0,NaN,207253 440239,617784 511953 1129737
21,15,Shivamogga,419590 351227,770817,255348.0,NaN,236851 492199,674938 588078 1263016
22,16,Udupi,324309 320937,645246,141395.0,NaN,139788 281183,465704 460725 926429
23,17,Chikkamagaluru,335601 283920,619521,102656.0,NaN,96168 198824,438257 380088 818345
24,18,Tumakuru,760322 584116,1344438,245702.0,NaN,223251 468953,1006024 807367 1813391
25,19,Kolara,371785 277636,649421,192325.0,NaN,174473 366798,564110 452109 1016219
26,20,Bengaluru(U),348826 254033,602859 3729215,NaN,NaN,3180202 6909417,4078041 3434235 7512276
27,21,Bengaluru(R),275457 209175,484632,109854.0,NaN,94263 204117,385311 303438 688749
28,22,Mandya,517904 401385,919289,120764.0,NaN,109596 230360,638668 510981 1149649
29,23,Hassan,513580 411991,925571,155256.0,NaN,144429 299685,668836 556420 1225256
30,24,Dakshina Kannada,437028 394198,831226,426991.0,NaN,408106 835097,864019 802304 1666323
31,25,Kodagu,180920 165141,346061,34382.0,NaN,32434 66816,215302 197575 412877
32,26,Mysuru,560734 433936,994670,503032.0,NaN,464478 967510,1063766 898414 1962180
33,27,Chamarajanagara,247909 194351,442260,65048.0,NaN,57971 123019,312957 252322 565279
34,28,Chikkaballapura,334340 245891,580231,107818.0,NaN,95173 202991,442158 341064 783222
35,29,Ramanagara,275870 205441,481311,102591.0,NaN,90856 193447,378461 296297 674758
36,30,Yadgir,230998 143246,374244,75753.0,NaN,60006 135759,306751 203252 510003
37,NaN,State Total,12853342 9721613,22574955 9656634,NaN,NaN,8415733 18072367,22509976 18137346 40647322

In [11]:
def find_last_index(df_col):
    pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
    for idx in range(len(df_col)):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
                    if numbers_1 and numbers_1[0] == 30:
                        return idx+1
   
    return (len(df_col) - 1)

In [12]:
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    miss_list = []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        df_col = df_col.astype(str)

        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        flag = 0
        for idx in range(len(df_col) - 1):
            #print(idx, df_col.iloc[idx])
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = re.findall(pattern, df_col.iloc[idx])
                    numbers_1 = [int(num) if '.' not in num else float(num) for num in numbers_1]
                    #print(numbers_1)
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = re.findall(pattern, df_col.iloc[idx+1])
                    numbers_2 = [int(num) if '.' not in num else float(num) for num in numbers_2]
                    #print(numbers_2)
            if numbers_1 and numbers_2 and numbers_1[0] == 1 and numbers_2[0] == 1:
                start_index = idx
                end_index = find_last_index(df_col)
                index_list.append([start_index, end_index])
                if(end_index - start_index) != 31:
                    miss_list.append(i)
                flag=1
                i += 1
                break

        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index, miss_list

In [13]:
index_list, drop_list, fault_list = find_header(output_list)

In [14]:
fault_list

[]

In [15]:
drop_list

[]

In [16]:
index_list

[[6, 37],
 [5, 36],
 [5, 36],
 [5, 36],
 [6, 37],
 [9, 40],
 [9, 40],
 [7, 38],
 [5, 36],
 [3, 34],
 [3, 34],
 [3, 34],
 [9, 40],
 [12, 43],
 [17, 48],
 [7, 38],
 [8, 39],
 [9, 40],
 [10, 41]]

In [17]:
len(index_list)

19

In [18]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        return new_df_list
    return df_list

In [19]:
def get_final_index(df_list, index_ll, drop_index, miss_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list, miss_list = find_header(df)
        drop_index = drop_list
        miss_index = miss_list
    return df, index_ll, drop_index, miss_index

In [20]:
new_output_list, new_index_list, new_drop_list, new_fault_list = get_final_index(output_list, index_list, drop_list, fault_list)

In [21]:
new_fault_list, new_drop_list

([], [])

In [22]:
new_index_list

[[6, 37],
 [5, 36],
 [5, 36],
 [5, 36],
 [6, 37],
 [9, 40],
 [9, 40],
 [7, 38],
 [5, 36],
 [3, 34],
 [3, 34],
 [3, 34],
 [9, 40],
 [12, 43],
 [17, 48],
 [7, 38],
 [8, 39],
 [9, 40],
 [10, 41]]

In [23]:
new_output_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,10. ಣ,/,Education,Unnamed: 3,Unnamed: 4
0,NaN,NaN,10.1 ಅರಸರು,(2011ರ ಜನಗಣ),NaN,/ Literates ( 2011 Census),NaN,NaN
1,NaN,NaN,ಾೕಣ / Rural,NaN,NaN,ನಗರ,/ Urban,ಒಟು / Total
2,SI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,Districts,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,ಗಂಡಸರು ೆಂಗಸರು,ಒಟು ಗಂಡಸರು,NaN,NaN,ೆಂಗಸರು ಒಟು,ಗಂಡಸರು ೆಂಗಸರು ಒಟು
5,NaN,NaN,Male Female,Total Male,NaN,NaN,Female Total,Male Female Total
6,1,2,1023 1024,1025,1026.0,NaN,1027 1028,1029 1030 1031
7,1,Belagavi,1233802 900990,2134792,491746.0,NaN,425494 917240,1725548 1326484 3052032
8,2,Bagalkot,416846 288066,704912,224542.0,NaN,183958 408500,641388 472024 1113412
9,3,Vijayapura,538400 355732,894132,192166.0,NaN,161970 354136,730566 517702 1248268
10,4,Kalburgi,506799 333277,840076,323065.0,NaN,264227 587292,829864 597504 1427368
11,5,Bidar,430681 309030,739711,166517.0,NaN,136445 302962,597198 445475 1042673
12,6,Raichur,399587 259853,659440,177626.0,NaN,142703 320329,577213 402556 979769
13,7,Koppal,359087 250597,609684,109698.0,NaN,89703 199401,468785 340300 809085
14,8,Gadag,250701 178972,429673,146477.0,NaN,124027 270504,397178 302999 700177
15,9,Dharwad,289171 212783,501954,422605.0,NaN,377105 799710,711776 589888 1301664
16,10,Uttara Kannada,403419 337710,741129,178680.0,NaN,162097 340777,582099 499807 1081906
17,11,Haveri,465603 359498,825101,138190.0,NaN,122152 260342,603793 481650 1085443
18,12,Ballari,564990 393647,958637,351303.0,NaN,290484 641787,916293 684131 1600424
19,13,Chitradurga,474285 360134,834419,132903.0,NaN,120070 252973,607188 480204 1087392
20,14,Davanagere,384798 304700,689498,232986.0,NaN,207253 440239,617784 511953 1129737
21,15,Shivamogga,419590 351227,770817,255348.0,NaN,236851 492199,674938 588078 1263016
22,16,Udupi,324309 320937,645246,141395.0,NaN,139788 281183,465704 460725 926429
23,17,Chikkamagaluru,335601 283920,619521,102656.0,NaN,96168 198824,438257 380088 818345
24,18,Tumakuru,760322 584116,1344438,245702.0,NaN,223251 468953,1006024 807367 1813391
25,19,Kolara,371785 277636,649421,192325.0,NaN,174473 366798,564110 452109 1016219
26,20,Bengaluru(U),348826 254033,602859 3729215,NaN,NaN,3180202 6909417,4078041 3434235 7512276
27,21,Bengaluru(R),275457 209175,484632,109854.0,NaN,94263 204117,385311 303438 688749
28,22,Mandya,517904 401385,919289,120764.0,NaN,109596 230360,638668 510981 1149649
29,23,Hassan,513580 411991,925571,155256.0,NaN,144429 299685,668836 556420 1225256
30,24,Dakshina Kannada,437028 394198,831226,426991.0,NaN,408106 835097,864019 802304 1666323
31,25,Kodagu,180920 165141,346061,34382.0,NaN,32434 66816,215302 197575 412877
32,26,Mysuru,560734 433936,994670,503032.0,NaN,464478 967510,1063766 898414 1962180
33,27,Chamarajanagara,247909 194351,442260,65048.0,NaN,57971 123019,312957 252322 565279
34,28,Chikkaballapura,334340 245891,580231,107818.0,NaN,95173 202991,442158 341064 783222
35,29,Ramanagara,275870 205441,481311,102591.0,NaN,90856 193447,378461 296297 674758
36,30,Yadgir,230998 143246,374244,75753.0,NaN,60006 135759,306751 203252 510003
37,NaN,State Total,12853342 9721613,22574955 9656634,NaN,NaN,8415733 18072367,22509976 18137346 40647322

In [24]:
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(ind_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(ind_list[idx][0], ind_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [25]:
corrected_list = remove_header(new_output_list, new_index_list)

In [26]:
corrected_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,10. ಣ,/,Education,Unnamed: 3,Unnamed: 4
0,1,2,1023 1024,1025,1026.0,NaN,1027 1028,1029 1030 1031
1,1,Belagavi,1233802 900990,2134792,491746.0,NaN,425494 917240,1725548 1326484 3052032
2,2,Bagalkot,416846 288066,704912,224542.0,NaN,183958 408500,641388 472024 1113412
3,3,Vijayapura,538400 355732,894132,192166.0,NaN,161970 354136,730566 517702 1248268
4,4,Kalburgi,506799 333277,840076,323065.0,NaN,264227 587292,829864 597504 1427368
5,5,Bidar,430681 309030,739711,166517.0,NaN,136445 302962,597198 445475 1042673
6,6,Raichur,399587 259853,659440,177626.0,NaN,142703 320329,577213 402556 979769
7,7,Koppal,359087 250597,609684,109698.0,NaN,89703 199401,468785 340300 809085
8,8,Gadag,250701 178972,429673,146477.0,NaN,124027 270504,397178 302999 700177
9,9,Dharwad,289171 212783,501954,422605.0,NaN,377105 799710,711776 589888 1301664
10,10,Uttara Kannada,403419 337710,741129,178680.0,NaN,162097 340777,582099 499807 1081906
11,11,Haveri,465603 359498,825101,138190.0,NaN,122152 260342,603793 481650 1085443
12,12,Ballari,564990 393647,958637,351303.0,NaN,290484 641787,916293 684131 1600424
13,13,Chitradurga,474285 360134,834419,132903.0,NaN,120070 252973,607188 480204 1087392
14,14,Davanagere,384798 304700,689498,232986.0,NaN,207253 440239,617784 511953 1129737
15,15,Shivamogga,419590 351227,770817,255348.0,NaN,236851 492199,674938 588078 1263016
16,16,Udupi,324309 320937,645246,141395.0,NaN,139788 281183,465704 460725 926429
17,17,Chikkamagaluru,335601 283920,619521,102656.0,NaN,96168 198824,438257 380088 818345
18,18,Tumakuru,760322 584116,1344438,245702.0,NaN,223251 468953,1006024 807367 1813391
19,19,Kolara,371785 277636,649421,192325.0,NaN,174473 366798,564110 452109 1016219
20,20,Bengaluru(U),348826 254033,602859 3729215,NaN,NaN,3180202 6909417,4078041 3434235 7512276
21,21,Bengaluru(R),275457 209175,484632,109854.0,NaN,94263 204117,385311 303438 688749
22,22,Mandya,517904 401385,919289,120764.0,NaN,109596 230360,638668 510981 1149649
23,23,Hassan,513580 411991,925571,155256.0,NaN,144429 299685,668836 556420 1225256
24,24,Dakshina Kannada,437028 394198,831226,426991.0,NaN,408106 835097,864019 802304 1666323
25,25,Kodagu,180920 165141,346061,34382.0,NaN,32434 66816,215302 197575 412877
26,26,Mysuru,560734 433936,994670,503032.0,NaN,464478 967510,1063766 898414 1962180
27,27,Chamarajanagara,247909 194351,442260,65048.0,NaN,57971 123019,312957 252322 565279
28,28,Chikkaballapura,334340 245891,580231,107818.0,NaN,95173 202991,442158 341064 783222
29,29,Ramanagara,275870 205441,481311,102591.0,NaN,90856 193447,378461 296297 674758
30,30,Yadgir,230998 143246,374244,75753.0,NaN,60006 135759,306751 203252 510003

In [27]:
len(corrected_list)

19

In [28]:
def check_nan(df_col):
    nan_columns = df_col[df_col.isna()].index.tolist()
    if len(nan_columns) == len(df_col):
        return []
    return nan_columns

In [29]:
def set_header_row(df_list_all):
    df_list = df_list_all
    new_df_list = []
    for df in df_list:
        header_row = df.iloc[0].tolist()
        for idx in range(len(header_row)):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx+1
                while j<len(header_row) and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j+=1
                if j<len(header_row) and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[0]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[1:])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        for idx in range(len(header_row)-1, 0, -1):
            nan_col = check_nan(df.iloc[:,idx])
            if isinstance(header_row[idx], float) and math.isnan(header_row[idx]) and len(nan_col)>0 and len(nan_col)<len(df.iloc[:,idx]):
                j=idx-1
                while j>0 and isinstance(header_row[j], float) and math.isnan(header_row[j]):
                    j-=1
                if j>0 and not (isinstance(header_row[j], float) and math.isnan(header_row[j])):
                    words = header_row[j].split()
                    if len(words) > 1:
                        # Update the value of Column1 with the first word
                        header_row[idx] = words[-1]
                        # Remove the first word from Column2
                        header_row[j] = ' '.join(words[:-1])
                    elif len(words) == 1:
                        header_row[idx] = words[0]
                        header_row[j] = np.nan
            df.iloc[0] = header_row
        df.iloc[0] = header_row
        new_df_list.append(df)
    return new_df_list

In [30]:
corrected_header = set_header_row(corrected_list)

In [31]:
len(corrected_header)

19

In [32]:
corrected_header[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,10. ಣ,/,Education,Unnamed: 3,Unnamed: 4
0,1,2,1023 1024,1025,1026.0,NaN,1027 1028,1029 1030 1031
1,1,Belagavi,1233802 900990,2134792,491746.0,NaN,425494 917240,1725548 1326484 3052032
2,2,Bagalkot,416846 288066,704912,224542.0,NaN,183958 408500,641388 472024 1113412
3,3,Vijayapura,538400 355732,894132,192166.0,NaN,161970 354136,730566 517702 1248268
4,4,Kalburgi,506799 333277,840076,323065.0,NaN,264227 587292,829864 597504 1427368
5,5,Bidar,430681 309030,739711,166517.0,NaN,136445 302962,597198 445475 1042673
6,6,Raichur,399587 259853,659440,177626.0,NaN,142703 320329,577213 402556 979769
7,7,Koppal,359087 250597,609684,109698.0,NaN,89703 199401,468785 340300 809085
8,8,Gadag,250701 178972,429673,146477.0,NaN,124027 270504,397178 302999 700177
9,9,Dharwad,289171 212783,501954,422605.0,NaN,377105 799710,711776 589888 1301664
10,10,Uttara Kannada,403419 337710,741129,178680.0,NaN,162097 340777,582099 499807 1081906
11,11,Haveri,465603 359498,825101,138190.0,NaN,122152 260342,603793 481650 1085443
12,12,Ballari,564990 393647,958637,351303.0,NaN,290484 641787,916293 684131 1600424
13,13,Chitradurga,474285 360134,834419,132903.0,NaN,120070 252973,607188 480204 1087392
14,14,Davanagere,384798 304700,689498,232986.0,NaN,207253 440239,617784 511953 1129737
15,15,Shivamogga,419590 351227,770817,255348.0,NaN,236851 492199,674938 588078 1263016
16,16,Udupi,324309 320937,645246,141395.0,NaN,139788 281183,465704 460725 926429
17,17,Chikkamagaluru,335601 283920,619521,102656.0,NaN,96168 198824,438257 380088 818345
18,18,Tumakuru,760322 584116,1344438,245702.0,NaN,223251 468953,1006024 807367 1813391
19,19,Kolara,371785 277636,649421,192325.0,NaN,174473 366798,564110 452109 1016219
20,20,Bengaluru(U),348826 254033,602859 3729215,NaN,NaN,3180202 6909417,4078041 3434235 7512276
21,21,Bengaluru(R),275457 209175,484632,109854.0,NaN,94263 204117,385311 303438 688749
22,22,Mandya,517904 401385,919289,120764.0,NaN,109596 230360,638668 510981 1149649
23,23,Hassan,513580 411991,925571,155256.0,NaN,144429 299685,668836 556420 1225256
24,24,Dakshina Kannada,437028 394198,831226,426991.0,NaN,408106 835097,864019 802304 1666323
25,25,Kodagu,180920 165141,346061,34382.0,NaN,32434 66816,215302 197575 412877
26,26,Mysuru,560734 433936,994670,503032.0,NaN,464478 967510,1063766 898414 1962180
27,27,Chamarajanagara,247909 194351,442260,65048.0,NaN,57971 123019,312957 252322 565279
28,28,Chikkaballapura,334340 245891,580231,107818.0,NaN,95173 202991,442158 341064 783222
29,29,Ramanagara,275870 205441,481311,102591.0,NaN,90856 193447,378461 296297 674758
30,30,Yadgir,230998 143246,374244,75753.0,NaN,60006 135759,306751 203252 510003

In [33]:
def set_index_col(df_list):
    new_df_list = []
    for df in df_list:
        nan_col = check_nan(df.iloc[:,0])
        if len(df.index) > 31 and len(nan_col)>1:
            for idx in range(len(nan_col)-1):
                if nan_col[idx]+2 == nan_col[idx+1] and nan_col[idx]+1 not in nan_col:
                    for i in range(df.shape[1]):
                        p = nan_col[idx]
                        q = nan_col[idx]+1
                        r = nan_col[idx+1]
                        if i>0 and not (isinstance(df.iloc[p,i], float) and math.isnan(df.iloc[p,i])) and  not (isinstance(df.iloc[r,i], float) and math.isnan(df.iloc[r,i])):
                            if (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i]])
                            elif not (isinstance(df.iloc[q,i], float) and math.isnan(df.iloc[q,i])):
                                df.iloc[q,i] = ' '.join([df.iloc[p,i], df.iloc[r,i], df.iloc[q,i]])
                    idx+=1
            df = df.drop(nan_col)
        df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [34]:
corrected_index = set_index_col(corrected_header)

In [35]:
len(corrected_index)

19

In [36]:
corrected_index[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,10. ಣ,/,Education,Unnamed: 3,Unnamed: 4
0,1,2,1023 1024,1025,1026.0,NaN,1027 1028,1029 1030 1031
1,1,Belagavi,1233802 900990,2134792,491746.0,NaN,425494 917240,1725548 1326484 3052032
2,2,Bagalkot,416846 288066,704912,224542.0,NaN,183958 408500,641388 472024 1113412
3,3,Vijayapura,538400 355732,894132,192166.0,NaN,161970 354136,730566 517702 1248268
4,4,Kalburgi,506799 333277,840076,323065.0,NaN,264227 587292,829864 597504 1427368
5,5,Bidar,430681 309030,739711,166517.0,NaN,136445 302962,597198 445475 1042673
6,6,Raichur,399587 259853,659440,177626.0,NaN,142703 320329,577213 402556 979769
7,7,Koppal,359087 250597,609684,109698.0,NaN,89703 199401,468785 340300 809085
8,8,Gadag,250701 178972,429673,146477.0,NaN,124027 270504,397178 302999 700177
9,9,Dharwad,289171 212783,501954,422605.0,NaN,377105 799710,711776 589888 1301664
10,10,Uttara Kannada,403419 337710,741129,178680.0,NaN,162097 340777,582099 499807 1081906
11,11,Haveri,465603 359498,825101,138190.0,NaN,122152 260342,603793 481650 1085443
12,12,Ballari,564990 393647,958637,351303.0,NaN,290484 641787,916293 684131 1600424
13,13,Chitradurga,474285 360134,834419,132903.0,NaN,120070 252973,607188 480204 1087392
14,14,Davanagere,384798 304700,689498,232986.0,NaN,207253 440239,617784 511953 1129737
15,15,Shivamogga,419590 351227,770817,255348.0,NaN,236851 492199,674938 588078 1263016
16,16,Udupi,324309 320937,645246,141395.0,NaN,139788 281183,465704 460725 926429
17,17,Chikkamagaluru,335601 283920,619521,102656.0,NaN,96168 198824,438257 380088 818345
18,18,Tumakuru,760322 584116,1344438,245702.0,NaN,223251 468953,1006024 807367 1813391
19,19,Kolara,371785 277636,649421,192325.0,NaN,174473 366798,564110 452109 1016219
20,20,Bengaluru(U),348826 254033,602859 3729215,NaN,NaN,3180202 6909417,4078041 3434235 7512276
21,21,Bengaluru(R),275457 209175,484632,109854.0,NaN,94263 204117,385311 303438 688749
22,22,Mandya,517904 401385,919289,120764.0,NaN,109596 230360,638668 510981 1149649
23,23,Hassan,513580 411991,925571,155256.0,NaN,144429 299685,668836 556420 1225256
24,24,Dakshina Kannada,437028 394198,831226,426991.0,NaN,408106 835097,864019 802304 1666323
25,25,Kodagu,180920 165141,346061,34382.0,NaN,32434 66816,215302 197575 412877
26,26,Mysuru,560734 433936,994670,503032.0,NaN,464478 967510,1063766 898414 1962180
27,27,Chamarajanagara,247909 194351,442260,65048.0,NaN,57971 123019,312957 252322 565279
28,28,Chikkaballapura,334340 245891,580231,107818.0,NaN,95173 202991,442158 341064 783222
29,29,Ramanagara,275870 205441,481311,102591.0,NaN,90856 193447,378461 296297 674758
30,30,Yadgir,230998 143246,374244,75753.0,NaN,60006 135759,306751 203252 510003

In [37]:
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        #pattern = r'\b\d+\b'
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = re.findall(pattern, df_col.iloc[0])
                numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                #numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)

                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)
        elif df_col.dtype == int or df_col.dtype == float:
            df.iloc[:,0] = df.iloc[:,0].astype(int).astype(str)
            new_df.append(df)
    return new_df

In [38]:
new_list = first_column_split(corrected_index)

In [39]:
len(new_list)

19

In [40]:
new_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,10. ಣ,/,Education,Unnamed: 3,Unnamed: 4
0,1,2,1023 1024,1025,1026.0,NaN,1027 1028,1029 1030 1031
1,1,Belagavi,1233802 900990,2134792,491746.0,NaN,425494 917240,1725548 1326484 3052032
2,2,Bagalkot,416846 288066,704912,224542.0,NaN,183958 408500,641388 472024 1113412
3,3,Vijayapura,538400 355732,894132,192166.0,NaN,161970 354136,730566 517702 1248268
4,4,Kalburgi,506799 333277,840076,323065.0,NaN,264227 587292,829864 597504 1427368
5,5,Bidar,430681 309030,739711,166517.0,NaN,136445 302962,597198 445475 1042673
6,6,Raichur,399587 259853,659440,177626.0,NaN,142703 320329,577213 402556 979769
7,7,Koppal,359087 250597,609684,109698.0,NaN,89703 199401,468785 340300 809085
8,8,Gadag,250701 178972,429673,146477.0,NaN,124027 270504,397178 302999 700177
9,9,Dharwad,289171 212783,501954,422605.0,NaN,377105 799710,711776 589888 1301664
10,10,Uttara Kannada,403419 337710,741129,178680.0,NaN,162097 340777,582099 499807 1081906
11,11,Haveri,465603 359498,825101,138190.0,NaN,122152 260342,603793 481650 1085443
12,12,Ballari,564990 393647,958637,351303.0,NaN,290484 641787,916293 684131 1600424
13,13,Chitradurga,474285 360134,834419,132903.0,NaN,120070 252973,607188 480204 1087392
14,14,Davanagere,384798 304700,689498,232986.0,NaN,207253 440239,617784 511953 1129737
15,15,Shivamogga,419590 351227,770817,255348.0,NaN,236851 492199,674938 588078 1263016
16,16,Udupi,324309 320937,645246,141395.0,NaN,139788 281183,465704 460725 926429
17,17,Chikkamagaluru,335601 283920,619521,102656.0,NaN,96168 198824,438257 380088 818345
18,18,Tumakuru,760322 584116,1344438,245702.0,NaN,223251 468953,1006024 807367 1813391
19,19,Kolara,371785 277636,649421,192325.0,NaN,174473 366798,564110 452109 1016219
20,20,Bengaluru(U),348826 254033,602859 3729215,NaN,NaN,3180202 6909417,4078041 3434235 7512276
21,21,Bengaluru(R),275457 209175,484632,109854.0,NaN,94263 204117,385311 303438 688749
22,22,Mandya,517904 401385,919289,120764.0,NaN,109596 230360,638668 510981 1149649
23,23,Hassan,513580 411991,925571,155256.0,NaN,144429 299685,668836 556420 1225256
24,24,Dakshina Kannada,437028 394198,831226,426991.0,NaN,408106 835097,864019 802304 1666323
25,25,Kodagu,180920 165141,346061,34382.0,NaN,32434 66816,215302 197575 412877
26,26,Mysuru,560734 433936,994670,503032.0,NaN,464478 967510,1063766 898414 1962180
27,27,Chamarajanagara,247909 194351,442260,65048.0,NaN,57971 123019,312957 252322 565279
28,28,Chikkaballapura,334340 245891,580231,107818.0,NaN,95173 202991,442158 341064 783222
29,29,Ramanagara,275870 205441,481311,102591.0,NaN,90856 193447,378461 296297 674758
30,30,Yadgir,230998 143246,374244,75753.0,NaN,60006 135759,306751 203252 510003

In [41]:
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [42]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [43]:
#replaced_list = replace_with_nan(new_list)
replaced_list = new_list

In [44]:
replaced_list[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,10. ಣ,/,Education,Unnamed: 3,Unnamed: 4
0,1,2,1023 1024,1025,1026.0,NaN,1027 1028,1029 1030 1031
1,1,Belagavi,1233802 900990,2134792,491746.0,NaN,425494 917240,1725548 1326484 3052032
2,2,Bagalkot,416846 288066,704912,224542.0,NaN,183958 408500,641388 472024 1113412
3,3,Vijayapura,538400 355732,894132,192166.0,NaN,161970 354136,730566 517702 1248268
4,4,Kalburgi,506799 333277,840076,323065.0,NaN,264227 587292,829864 597504 1427368
5,5,Bidar,430681 309030,739711,166517.0,NaN,136445 302962,597198 445475 1042673
6,6,Raichur,399587 259853,659440,177626.0,NaN,142703 320329,577213 402556 979769
7,7,Koppal,359087 250597,609684,109698.0,NaN,89703 199401,468785 340300 809085
8,8,Gadag,250701 178972,429673,146477.0,NaN,124027 270504,397178 302999 700177
9,9,Dharwad,289171 212783,501954,422605.0,NaN,377105 799710,711776 589888 1301664
10,10,Uttara Kannada,403419 337710,741129,178680.0,NaN,162097 340777,582099 499807 1081906
11,11,Haveri,465603 359498,825101,138190.0,NaN,122152 260342,603793 481650 1085443
12,12,Ballari,564990 393647,958637,351303.0,NaN,290484 641787,916293 684131 1600424
13,13,Chitradurga,474285 360134,834419,132903.0,NaN,120070 252973,607188 480204 1087392
14,14,Davanagere,384798 304700,689498,232986.0,NaN,207253 440239,617784 511953 1129737
15,15,Shivamogga,419590 351227,770817,255348.0,NaN,236851 492199,674938 588078 1263016
16,16,Udupi,324309 320937,645246,141395.0,NaN,139788 281183,465704 460725 926429
17,17,Chikkamagaluru,335601 283920,619521,102656.0,NaN,96168 198824,438257 380088 818345
18,18,Tumakuru,760322 584116,1344438,245702.0,NaN,223251 468953,1006024 807367 1813391
19,19,Kolara,371785 277636,649421,192325.0,NaN,174473 366798,564110 452109 1016219
20,20,Bengaluru(U),348826 254033,602859 3729215,NaN,NaN,3180202 6909417,4078041 3434235 7512276
21,21,Bengaluru(R),275457 209175,484632,109854.0,NaN,94263 204117,385311 303438 688749
22,22,Mandya,517904 401385,919289,120764.0,NaN,109596 230360,638668 510981 1149649
23,23,Hassan,513580 411991,925571,155256.0,NaN,144429 299685,668836 556420 1225256
24,24,Dakshina Kannada,437028 394198,831226,426991.0,NaN,408106 835097,864019 802304 1666323
25,25,Kodagu,180920 165141,346061,34382.0,NaN,32434 66816,215302 197575 412877
26,26,Mysuru,560734 433936,994670,503032.0,NaN,464478 967510,1063766 898414 1962180
27,27,Chamarajanagara,247909 194351,442260,65048.0,NaN,57971 123019,312957 252322 565279
28,28,Chikkaballapura,334340 245891,580231,107818.0,NaN,95173 202991,442158 341064 783222
29,29,Ramanagara,275870 205441,481311,102591.0,NaN,90856 193447,378461 296297 674758
30,30,Yadgir,230998 143246,374244,75753.0,NaN,60006 135759,306751 203252 510003

In [45]:
len(replaced_list)

19

In [46]:
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        #pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        pattern = r'[-+]?\b\d+\b(?:\.\d+)?'
        for colName, colData in df.items():
            
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = re.findall(pattern, colData.values[0])
                    numbers = [int(num) if '.' not in num else float(num) for num in numbers]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        colData = colData.str.replace(r'\s+', ' ', regex=True)
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)
            elif pd.isna(colData.values[0]):
                print("remove NaN")
            elif isinstance(colData.values[0],int) or colData.values[0].dtype == float:
                colData.values[0] = str(int(colData.values[0]))
                new_df = pd.concat([new_df, colData], axis=1)
        new_df_list.append(new_df)
    return new_df_list

In [47]:
separated_list = all_column_split(replaced_list)

remove NaN
remove NaN
remove NaN
remove NaN
remove NaN

In [48]:
len(separated_list)

19

In [49]:
separated_list[0]

,Unnamed: 0,Unnamed: 1,0,1,10. ಣ,/,0,1,0,1,2
0,1,2,1023,1024,1025,1026.0,1027,1028,1029,1030,1031
1,1,Belagavi,1233802,900990,2134792,491746.0,425494,917240,1725548,1326484,3052032
2,2,Bagalkot,416846,288066,704912,224542.0,183958,408500,641388,472024,1113412
3,3,Vijayapura,538400,355732,894132,192166.0,161970,354136,730566,517702,1248268
4,4,Kalburgi,506799,333277,840076,323065.0,264227,587292,829864,597504,1427368
5,5,Bidar,430681,309030,739711,166517.0,136445,302962,597198,445475,1042673
6,6,Raichur,399587,259853,659440,177626.0,142703,320329,577213,402556,979769
7,7,Koppal,359087,250597,609684,109698.0,89703,199401,468785,340300,809085
8,8,Gadag,250701,178972,429673,146477.0,124027,270504,397178,302999,700177
9,9,Dharwad,289171,212783,501954,422605.0,377105,799710,711776,589888,1301664
10,10,Uttara Kannada,403419,337710,741129,178680.0,162097,340777,582099,499807,1081906
11,11,Haveri,465603,359498,825101,138190.0,122152,260342,603793,481650,1085443
12,12,Ballari,564990,393647,958637,351303.0,290484,641787,916293,684131,1600424
13,13,Chitradurga,474285,360134,834419,132903.0,120070,252973,607188,480204,1087392
14,14,Davanagere,384798,304700,689498,232986.0,207253,440239,617784,511953,1129737
15,15,Shivamogga,419590,351227,770817,255348.0,236851,492199,674938,588078,1263016
16,16,Udupi,324309,320937,645246,141395.0,139788,281183,465704,460725,926429
17,17,Chikkamagaluru,335601,283920,619521,102656.0,96168,198824,438257,380088,818345
18,18,Tumakuru,760322,584116,1344438,245702.0,223251,468953,1006024,807367,1813391
19,19,Kolara,371785,277636,649421,192325.0,174473,366798,564110,452109,1016219
20,20,Bengaluru(U),348826,254033,602859 3729215,NaN,3180202,6909417,4078041,3434235,7512276
21,21,Bengaluru(R),275457,209175,484632,109854.0,94263,204117,385311,303438,688749
22,22,Mandya,517904,401385,919289,120764.0,109596,230360,638668,510981,1149649
23,23,Hassan,513580,411991,925571,155256.0,144429,299685,668836,556420,1225256
24,24,Dakshina Kannada,437028,394198,831226,426991.0,408106,835097,864019,802304,1666323
25,25,Kodagu,180920,165141,346061,34382.0,32434,66816,215302,197575,412877
26,26,Mysuru,560734,433936,994670,503032.0,464478,967510,1063766,898414,1962180
27,27,Chamarajanagara,247909,194351,442260,65048.0,57971,123019,312957,252322,565279
28,28,Chikkaballapura,334340,245891,580231,107818.0,95173,202991,442158,341064,783222
29,29,Ramanagara,275870,205441,481311,102591.0,90856,193447,378461,296297,674758
30,30,Yadgir,230998,143246,374244,75753.0,60006,135759,306751,203252,510003

In [50]:
def check_single_column(df_list):
    new_df_list = []
    for df in df_list:
        df.fillna(value="", inplace=True)
        num_col = len(df.columns)
        for idx in range(num_col-1, 1, -1):
            cardinality = len(str(df.iloc[0,idx]).split())
            #print("idx", idx, df.iloc[0,idx], cardinality)
            for i in range(len(df.iloc[:,idx])):
                if i>0:
                    cell_car = len(str(df.iloc[i,idx]).split())
                    #print("i", i, df.iloc[i,idx], cell_car)
                    if cell_car > cardinality:
                       
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("more", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col1:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col2:
                                df.iloc[i, idx-1] = ' '.join(words_col2) + ' ' + words_col1[0]
                            else:
                                df.iloc[i, idx-1] = words_col1[0]

                            # Update the first column with the remaining words
                            df.iloc[i, idx] = ' '.join(words_col1[1:])
                        
                    if cell_car < cardinality:
                        
                        words_col1 = str(df.iloc[i, idx]).split()

                        # Extract the words from the second column
                        words_col2 = str(df.iloc[i, idx - 1]).split()
                        #print("less", words_col1, words_col2)
                        # Check if there are words in the first column
                        if words_col2:
                            # Move the last word of the first column to become the first word of the second column
                            if words_col1:
                                df.iloc[i, idx] = words_col2[-1] + ' ' + ' '.join(words_col1)
                            else:
                                df.iloc[i, idx] = words_col2[-1]

                            # Update the first column with the remaining words
                            df.iloc[i, idx-1] = ' '.join(words_col2[:-1])
                        if df.iloc[i, idx-1]==' ':
                            df.iloc[i, idx-1] = ''
                        
        new_df_list.append(df)
    return new_df_list

In [51]:
updated_list = check_single_column(separated_list)

/tmp/ipykernel_10768/3370788979.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna(value="", inplace=True)

In [52]:
len(updated_list)

19

In [53]:
updated_list[0]

,Unnamed: 0,Unnamed: 1,0,1,10. ಣ,/,0,1,0,1,2
0,1,2,1023,1024,1025,1026.0,1027,1028,1029,1030,1031
1,1,Belagavi,1233802,900990,2134792,491746.0,425494,917240,1725548,1326484,3052032
2,2,Bagalkot,416846,288066,704912,224542.0,183958,408500,641388,472024,1113412
3,3,Vijayapura,538400,355732,894132,192166.0,161970,354136,730566,517702,1248268
4,4,Kalburgi,506799,333277,840076,323065.0,264227,587292,829864,597504,1427368
5,5,Bidar,430681,309030,739711,166517.0,136445,302962,597198,445475,1042673
6,6,Raichur,399587,259853,659440,177626.0,142703,320329,577213,402556,979769
7,7,Koppal,359087,250597,609684,109698.0,89703,199401,468785,340300,809085
8,8,Gadag,250701,178972,429673,146477.0,124027,270504,397178,302999,700177
9,9,Dharwad,289171,212783,501954,422605.0,377105,799710,711776,589888,1301664
10,10,Uttara Kannada,403419,337710,741129,178680.0,162097,340777,582099,499807,1081906
11,11,Haveri,465603,359498,825101,138190.0,122152,260342,603793,481650,1085443
12,12,Ballari,564990,393647,958637,351303.0,290484,641787,916293,684131,1600424
13,13,Chitradurga,474285,360134,834419,132903.0,120070,252973,607188,480204,1087392
14,14,Davanagere,384798,304700,689498,232986.0,207253,440239,617784,511953,1129737
15,15,Shivamogga,419590,351227,770817,255348.0,236851,492199,674938,588078,1263016
16,16,Udupi,324309,320937,645246,141395.0,139788,281183,465704,460725,926429
17,17,Chikkamagaluru,335601,283920,619521,102656.0,96168,198824,438257,380088,818345
18,18,Tumakuru,760322,584116,1344438,245702.0,223251,468953,1006024,807367,1813391
19,19,Kolara,371785,277636,649421,192325.0,174473,366798,564110,452109,1016219
20,20,Bengaluru(U),348826,254033,602859,3729215,3180202,6909417,4078041,3434235,7512276
21,21,Bengaluru(R),275457,209175,484632,109854.0,94263,204117,385311,303438,688749
22,22,Mandya,517904,401385,919289,120764.0,109596,230360,638668,510981,1149649
23,23,Hassan,513580,411991,925571,155256.0,144429,299685,668836,556420,1225256
24,24,Dakshina Kannada,437028,394198,831226,426991.0,408106,835097,864019,802304,1666323
25,25,Kodagu,180920,165141,346061,34382.0,32434,66816,215302,197575,412877
26,26,Mysuru,560734,433936,994670,503032.0,464478,967510,1063766,898414,1962180
27,27,Chamarajanagara,247909,194351,442260,65048.0,57971,123019,312957,252322,565279
28,28,Chikkaballapura,334340,245891,580231,107818.0,95173,202991,442158,341064,783222
29,29,Ramanagara,275870,205441,481311,102591.0,90856,193447,378461,296297,674758
30,30,Yadgir,230998,143246,374244,75753.0,60006,135759,306751,203252,510003

In [54]:
len(updated_list)

19

In [55]:
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [56]:
final_list = reset_header(updated_list)

In [57]:
final_list[0]

,1,2,1023,1024,1025,1026.0,1027,1028,1029,1030,1031
0,1,Belagavi,1233802,900990,2134792,491746.0,425494,917240,1725548,1326484,3052032
1,2,Bagalkot,416846,288066,704912,224542.0,183958,408500,641388,472024,1113412
2,3,Vijayapura,538400,355732,894132,192166.0,161970,354136,730566,517702,1248268
3,4,Kalburgi,506799,333277,840076,323065.0,264227,587292,829864,597504,1427368
4,5,Bidar,430681,309030,739711,166517.0,136445,302962,597198,445475,1042673
5,6,Raichur,399587,259853,659440,177626.0,142703,320329,577213,402556,979769
6,7,Koppal,359087,250597,609684,109698.0,89703,199401,468785,340300,809085
7,8,Gadag,250701,178972,429673,146477.0,124027,270504,397178,302999,700177
8,9,Dharwad,289171,212783,501954,422605.0,377105,799710,711776,589888,1301664
9,10,Uttara Kannada,403419,337710,741129,178680.0,162097,340777,582099,499807,1081906
10,11,Haveri,465603,359498,825101,138190.0,122152,260342,603793,481650,1085443
11,12,Ballari,564990,393647,958637,351303.0,290484,641787,916293,684131,1600424
12,13,Chitradurga,474285,360134,834419,132903.0,120070,252973,607188,480204,1087392
13,14,Davanagere,384798,304700,689498,232986.0,207253,440239,617784,511953,1129737
14,15,Shivamogga,419590,351227,770817,255348.0,236851,492199,674938,588078,1263016
15,16,Udupi,324309,320937,645246,141395.0,139788,281183,465704,460725,926429
16,17,Chikkamagaluru,335601,283920,619521,102656.0,96168,198824,438257,380088,818345
17,18,Tumakuru,760322,584116,1344438,245702.0,223251,468953,1006024,807367,1813391
18,19,Kolara,371785,277636,649421,192325.0,174473,366798,564110,452109,1016219
19,20,Bengaluru(U),348826,254033,602859,3729215,3180202,6909417,4078041,3434235,7512276
20,21,Bengaluru(R),275457,209175,484632,109854.0,94263,204117,385311,303438,688749
21,22,Mandya,517904,401385,919289,120764.0,109596,230360,638668,510981,1149649
22,23,Hassan,513580,411991,925571,155256.0,144429,299685,668836,556420,1225256
23,24,Dakshina Kannada,437028,394198,831226,426991.0,408106,835097,864019,802304,1666323
24,25,Kodagu,180920,165141,346061,34382.0,32434,66816,215302,197575,412877
25,26,Mysuru,560734,433936,994670,503032.0,464478,967510,1063766,898414,1962180
26,27,Chamarajanagara,247909,194351,442260,65048.0,57971,123019,312957,252322,565279
27,28,Chikkaballapura,334340,245891,580231,107818.0,95173,202991,442158,341064,783222
28,29,Ramanagara,275870,205441,481311,102591.0,90856,193447,378461,296297,674758
29,30,Yadgir,230998,143246,374244,75753.0,60006,135759,306751,203252,510003

In [58]:
def get_empty_col(df_list):
    index_list=[]
    for i in range(len(df_list)):
        empty_columns = df_list[i].columns[df_list[i].isna().all()].tolist()
        if len(empty_columns) > 0:
            index_list.append([i,empty_columns])
    return index_list

In [59]:
empty_col = get_empty_col(final_list)
empty_col

[]

In [60]:
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [61]:
final_df = concat_dataframe(final_list)

In [62]:
final_df

,1,2,1023,1024,1025,1026.0,1027,1028,1029,1030,...,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150
0,1,Belagavi,1233802,900990,2134792,491746.0,425494,917240,1725548,1326484,...,586,2684,0,0,0,0,12,11189,6256,17445
1,2,Bagalkot,416846,288066,704912,224542.0,183958,408500,641388,472024,...,182,800,0,0,0,0,3,447,286,733
2,3,Vijayapura,538400,355732,894132,192166.0,161970,354136,730566,517702,...,241,464,0,0,0,0,5,2879,1857,4736
3,4,Kalburgi,506799,333277,840076,323065.0,264227,587292,829864,597504,...,107,645,0,0,0,0,6,4747,3258,8005
4,5,Bidar,430681,309030,739711,166517.0,136445,302962,597198,445475,...,19,239,0,0,0,0,4,586,369,955
5,6,Raichur,399587,259853,659440,177626.0,142703,320329,577213,402556,...,26,287,1,135,97,232,2,154,118,272
6,7,Koppal,359087,250597,609684,109698.0,89703,199401,468785,340300,...,21,111,0,0,0,0,0,0,0,0
7,8,Gadag,250701,178972,429673,146477.0,124027,270504,397178,302999,...,328,1363,0,0,0,0,3,1851,1348,3199
8,9,Dharwad,289171,212783,501954,422605.0,377105,799710,711776,589888,...,346,1609,0,0,0,0,5,932,559,1491
9,10,Uttara Kannada,403419,337710,741129,178680.0,162097,340777,582099,499807,...,287,1684,1,387,212,599,3,1482,786,2268
10,11,Haveri,465603,359498,825101,138190.0,122152,260342,603793,481650,...,189,982,1,488,399,887,1,338,246,584
11,12,Ballari,564990,393647,958637,351303.0,290484,641787,916293,684131,...,623,4535,1,48,27,75,3,707,527,1234
12,13,Chitradurga,474285,360134,834419,132903.0,120070,252973,607188,480204,...,92,562,0,0,0,0,1,101,85,186
13,14,Davanagere,384798,304700,689498,232986.0,207253,440239,617784,511953,...,180,844,1,267,335,602,3,847,647,1494
14,15,Shivamogga,419590,351227,770817,255348.0,236851,492199,674938,588078,...,140,887,0,0,0,0,2,503,475,978
15,16,Udupi,324309,320937,645246,141395.0,139788,281183,465704,460725,...,290,1810,0,0,0,0,4,11990,4964,16954
16,17,Chikkamagaluru,335601,283920,619521,102656.0,96168,198824,438257,380088,...,120,492,0,0,0,0,1,1402,974,2376
17,18,Tumakuru,760322,584116,1344438,245702.0,223251,468953,1006024,807367,...,1030,4260,0,0,0,0,8,7347,5555,12902
18,19,Kolara,371785,277636,649421,192325.0,174473,366798,564110,452109,...,150,683,0,0,0,0,4,383,267,650
19,20,Bengaluru(U),348826,254033,602859,3729215,3180202,6909417,4078041,3434235,...,1225,5934,3,406,237,643,84,18419,9488,27907
20,21,Bengaluru(R),275457,209175,484632,109854.0,94263,204117,385311,303438,...,40,208,0,0,0,0,5,594,318,912
21,22,Mandya,517904,401385,919289,120764.0,109596,230360,638668,510981,...,72,403,1,70,81,151,4,820,630,1450
22,23,Hassan,513580,411991,925571,155256.0,144429,299685,668836,556420,...,191,732,1,103,116,219,4,1837,1455,3292
23,24,Dakshina Kannada,437028,394198,831226,426991.0,408106,835097,864019,802304,...,284,4293,1,4520,1262,5782,18,10368,5904,16272
24,25,Kodagu,180920,165141,346061,34382.0,32434,66816,215302,197575,...,28,210,1,472,426,898,1,356,236,592
25,26,Mysuru,560734,433936,994670,503032.0,464478,967510,1063766,898414,...,542,1708,0,0,0,0,12,2098,1703,3801
26,27,Chamarajanagara,247909,194351,442260,65048.0,57971,123019,312957,252322,...,6,52,1,466,300,766,1,55,52,107
27,28,Chikkaballapura,334340,245891,580231,107818.0,95173,202991,442158,341064,...,94,561,0,0,0,0,2,489,298,787
28,29,Ramanagara,275870,205441,481311,102591.0,90856,193447,378461,296297,...,42,208,1,72,74,146,4,211,161,372
29,30,Yadgir,230998,143246,374244,75753.0,60006,135759,306751,203252,...,8,228,0,0,0,0,1,70,40,110

In [63]:
final_df.columns = final_df.columns.astype(int)

In [64]:
final_df[2]

0             Belagavi
1             Bagalkot
2           Vijayapura
3             Kalburgi
4                Bidar
5              Raichur
6               Koppal
7                Gadag
8              Dharwad
9       Uttara Kannada
10              Haveri
11             Ballari
12         Chitradurga
13          Davanagere
14          Shivamogga
15               Udupi
16      Chikkamagaluru
17            Tumakuru
18              Kolara
19        Bengaluru(U)
20        Bengaluru(R)
21              Mandya
22              Hassan
23    Dakshina Kannada
24              Kodagu
25              Mysuru
26     Chamarajanagara
27     Chikkaballapura
28          Ramanagara
29              Yadgir
Name: 2, dtype: object

In [65]:
final_df = final_df.reindex(sorted(final_df.columns, key=int), axis=1)

In [66]:
final_df

,1,2,1023,1024,1025,1026,1027,1028,1029,1030,...,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150
0,1,Belagavi,1233802,900990,2134792,491746.0,425494,917240,1725548,1326484,...,586,2684,0,0,0,0,12,11189,6256,17445
1,2,Bagalkot,416846,288066,704912,224542.0,183958,408500,641388,472024,...,182,800,0,0,0,0,3,447,286,733
2,3,Vijayapura,538400,355732,894132,192166.0,161970,354136,730566,517702,...,241,464,0,0,0,0,5,2879,1857,4736
3,4,Kalburgi,506799,333277,840076,323065.0,264227,587292,829864,597504,...,107,645,0,0,0,0,6,4747,3258,8005
4,5,Bidar,430681,309030,739711,166517.0,136445,302962,597198,445475,...,19,239,0,0,0,0,4,586,369,955
5,6,Raichur,399587,259853,659440,177626.0,142703,320329,577213,402556,...,26,287,1,135,97,232,2,154,118,272
6,7,Koppal,359087,250597,609684,109698.0,89703,199401,468785,340300,...,21,111,0,0,0,0,0,0,0,0
7,8,Gadag,250701,178972,429673,146477.0,124027,270504,397178,302999,...,328,1363,0,0,0,0,3,1851,1348,3199
8,9,Dharwad,289171,212783,501954,422605.0,377105,799710,711776,589888,...,346,1609,0,0,0,0,5,932,559,1491
9,10,Uttara Kannada,403419,337710,741129,178680.0,162097,340777,582099,499807,...,287,1684,1,387,212,599,3,1482,786,2268
10,11,Haveri,465603,359498,825101,138190.0,122152,260342,603793,481650,...,189,982,1,488,399,887,1,338,246,584
11,12,Ballari,564990,393647,958637,351303.0,290484,641787,916293,684131,...,623,4535,1,48,27,75,3,707,527,1234
12,13,Chitradurga,474285,360134,834419,132903.0,120070,252973,607188,480204,...,92,562,0,0,0,0,1,101,85,186
13,14,Davanagere,384798,304700,689498,232986.0,207253,440239,617784,511953,...,180,844,1,267,335,602,3,847,647,1494
14,15,Shivamogga,419590,351227,770817,255348.0,236851,492199,674938,588078,...,140,887,0,0,0,0,2,503,475,978
15,16,Udupi,324309,320937,645246,141395.0,139788,281183,465704,460725,...,290,1810,0,0,0,0,4,11990,4964,16954
16,17,Chikkamagaluru,335601,283920,619521,102656.0,96168,198824,438257,380088,...,120,492,0,0,0,0,1,1402,974,2376
17,18,Tumakuru,760322,584116,1344438,245702.0,223251,468953,1006024,807367,...,1030,4260,0,0,0,0,8,7347,5555,12902
18,19,Kolara,371785,277636,649421,192325.0,174473,366798,564110,452109,...,150,683,0,0,0,0,4,383,267,650
19,20,Bengaluru(U),348826,254033,602859,3729215,3180202,6909417,4078041,3434235,...,1225,5934,3,406,237,643,84,18419,9488,27907
20,21,Bengaluru(R),275457,209175,484632,109854.0,94263,204117,385311,303438,...,40,208,0,0,0,0,5,594,318,912
21,22,Mandya,517904,401385,919289,120764.0,109596,230360,638668,510981,...,72,403,1,70,81,151,4,820,630,1450
22,23,Hassan,513580,411991,925571,155256.0,144429,299685,668836,556420,...,191,732,1,103,116,219,4,1837,1455,3292
23,24,Dakshina Kannada,437028,394198,831226,426991.0,408106,835097,864019,802304,...,284,4293,1,4520,1262,5782,18,10368,5904,16272
24,25,Kodagu,180920,165141,346061,34382.0,32434,66816,215302,197575,...,28,210,1,472,426,898,1,356,236,592
25,26,Mysuru,560734,433936,994670,503032.0,464478,967510,1063766,898414,...,542,1708,0,0,0,0,12,2098,1703,3801
26,27,Chamarajanagara,247909,194351,442260,65048.0,57971,123019,312957,252322,...,6,52,1,466,300,766,1,55,52,107
27,28,Chikkaballapura,334340,245891,580231,107818.0,95173,202991,442158,341064,...,94,561,0,0,0,0,2,489,298,787
28,29,Ramanagara,275870,205441,481311,102591.0,90856,193447,378461,296297,...,42,208,1,72,74,146,4,211,161,372
29,30,Yadgir,230998,143246,374244,75753.0,60006,135759,306751,203252,...,8,228,0,0,0,0,1,70,40,110

In [67]:
final_df = final_df.drop(final_df.index[30:])

In [68]:
final_df

,1,2,1023,1024,1025,1026,1027,1028,1029,1030,...,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150
0,1,Belagavi,1233802,900990,2134792,491746.0,425494,917240,1725548,1326484,...,586,2684,0,0,0,0,12,11189,6256,17445
1,2,Bagalkot,416846,288066,704912,224542.0,183958,408500,641388,472024,...,182,800,0,0,0,0,3,447,286,733
2,3,Vijayapura,538400,355732,894132,192166.0,161970,354136,730566,517702,...,241,464,0,0,0,0,5,2879,1857,4736
3,4,Kalburgi,506799,333277,840076,323065.0,264227,587292,829864,597504,...,107,645,0,0,0,0,6,4747,3258,8005
4,5,Bidar,430681,309030,739711,166517.0,136445,302962,597198,445475,...,19,239,0,0,0,0,4,586,369,955
5,6,Raichur,399587,259853,659440,177626.0,142703,320329,577213,402556,...,26,287,1,135,97,232,2,154,118,272
6,7,Koppal,359087,250597,609684,109698.0,89703,199401,468785,340300,...,21,111,0,0,0,0,0,0,0,0
7,8,Gadag,250701,178972,429673,146477.0,124027,270504,397178,302999,...,328,1363,0,0,0,0,3,1851,1348,3199
8,9,Dharwad,289171,212783,501954,422605.0,377105,799710,711776,589888,...,346,1609,0,0,0,0,5,932,559,1491
9,10,Uttara Kannada,403419,337710,741129,178680.0,162097,340777,582099,499807,...,287,1684,1,387,212,599,3,1482,786,2268
10,11,Haveri,465603,359498,825101,138190.0,122152,260342,603793,481650,...,189,982,1,488,399,887,1,338,246,584
11,12,Ballari,564990,393647,958637,351303.0,290484,641787,916293,684131,...,623,4535,1,48,27,75,3,707,527,1234
12,13,Chitradurga,474285,360134,834419,132903.0,120070,252973,607188,480204,...,92,562,0,0,0,0,1,101,85,186
13,14,Davanagere,384798,304700,689498,232986.0,207253,440239,617784,511953,...,180,844,1,267,335,602,3,847,647,1494
14,15,Shivamogga,419590,351227,770817,255348.0,236851,492199,674938,588078,...,140,887,0,0,0,0,2,503,475,978
15,16,Udupi,324309,320937,645246,141395.0,139788,281183,465704,460725,...,290,1810,0,0,0,0,4,11990,4964,16954
16,17,Chikkamagaluru,335601,283920,619521,102656.0,96168,198824,438257,380088,...,120,492,0,0,0,0,1,1402,974,2376
17,18,Tumakuru,760322,584116,1344438,245702.0,223251,468953,1006024,807367,...,1030,4260,0,0,0,0,8,7347,5555,12902
18,19,Kolara,371785,277636,649421,192325.0,174473,366798,564110,452109,...,150,683,0,0,0,0,4,383,267,650
19,20,Bengaluru(U),348826,254033,602859,3729215,3180202,6909417,4078041,3434235,...,1225,5934,3,406,237,643,84,18419,9488,27907
20,21,Bengaluru(R),275457,209175,484632,109854.0,94263,204117,385311,303438,...,40,208,0,0,0,0,5,594,318,912
21,22,Mandya,517904,401385,919289,120764.0,109596,230360,638668,510981,...,72,403,1,70,81,151,4,820,630,1450
22,23,Hassan,513580,411991,925571,155256.0,144429,299685,668836,556420,...,191,732,1,103,116,219,4,1837,1455,3292
23,24,Dakshina Kannada,437028,394198,831226,426991.0,408106,835097,864019,802304,...,284,4293,1,4520,1262,5782,18,10368,5904,16272
24,25,Kodagu,180920,165141,346061,34382.0,32434,66816,215302,197575,...,28,210,1,472,426,898,1,356,236,592
25,26,Mysuru,560734,433936,994670,503032.0,464478,967510,1063766,898414,...,542,1708,0,0,0,0,12,2098,1703,3801
26,27,Chamarajanagara,247909,194351,442260,65048.0,57971,123019,312957,252322,...,6,52,1,466,300,766,1,55,52,107
27,28,Chikkaballapura,334340,245891,580231,107818.0,95173,202991,442158,341064,...,94,561,0,0,0,0,2,489,298,787
28,29,Ramanagara,275870,205441,481311,102591.0,90856,193447,378461,296297,...,42,208,1,72,74,146,4,211,161,372
29,30,Yadgir,230998,143246,374244,75753.0,60006,135759,306751,203252,...,8,228,0,0,0,0,1,70,40,110

In [69]:
new_order = [18, 20, 19, 27, 26, 29, 30, 22, 21, 24, 23, 25, 4, 5, 8, 12, 10, 9, 6, 1, 2, 15, 13, 11, 14, 16, 17, 7, 3, 28]
final_df[1] = new_order
final_df

,1,2,1023,1024,1025,1026,1027,1028,1029,1030,...,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150
0,18,Belagavi,1233802,900990,2134792,491746.0,425494,917240,1725548,1326484,...,586,2684,0,0,0,0,12,11189,6256,17445
1,20,Bagalkot,416846,288066,704912,224542.0,183958,408500,641388,472024,...,182,800,0,0,0,0,3,447,286,733
2,19,Vijayapura,538400,355732,894132,192166.0,161970,354136,730566,517702,...,241,464,0,0,0,0,5,2879,1857,4736
3,27,Kalburgi,506799,333277,840076,323065.0,264227,587292,829864,597504,...,107,645,0,0,0,0,6,4747,3258,8005
4,26,Bidar,430681,309030,739711,166517.0,136445,302962,597198,445475,...,19,239,0,0,0,0,4,586,369,955
5,29,Raichur,399587,259853,659440,177626.0,142703,320329,577213,402556,...,26,287,1,135,97,232,2,154,118,272
6,30,Koppal,359087,250597,609684,109698.0,89703,199401,468785,340300,...,21,111,0,0,0,0,0,0,0,0
7,22,Gadag,250701,178972,429673,146477.0,124027,270504,397178,302999,...,328,1363,0,0,0,0,3,1851,1348,3199
8,21,Dharwad,289171,212783,501954,422605.0,377105,799710,711776,589888,...,346,1609,0,0,0,0,5,932,559,1491
9,24,Uttara Kannada,403419,337710,741129,178680.0,162097,340777,582099,499807,...,287,1684,1,387,212,599,3,1482,786,2268
10,23,Haveri,465603,359498,825101,138190.0,122152,260342,603793,481650,...,189,982,1,488,399,887,1,338,246,584
11,25,Ballari,564990,393647,958637,351303.0,290484,641787,916293,684131,...,623,4535,1,48,27,75,3,707,527,1234
12,4,Chitradurga,474285,360134,834419,132903.0,120070,252973,607188,480204,...,92,562,0,0,0,0,1,101,85,186
13,5,Davanagere,384798,304700,689498,232986.0,207253,440239,617784,511953,...,180,844,1,267,335,602,3,847,647,1494
14,8,Shivamogga,419590,351227,770817,255348.0,236851,492199,674938,588078,...,140,887,0,0,0,0,2,503,475,978
15,12,Udupi,324309,320937,645246,141395.0,139788,281183,465704,460725,...,290,1810,0,0,0,0,4,11990,4964,16954
16,10,Chikkamagaluru,335601,283920,619521,102656.0,96168,198824,438257,380088,...,120,492,0,0,0,0,1,1402,974,2376
17,9,Tumakuru,760322,584116,1344438,245702.0,223251,468953,1006024,807367,...,1030,4260,0,0,0,0,8,7347,5555,12902
18,6,Kolara,371785,277636,649421,192325.0,174473,366798,564110,452109,...,150,683,0,0,0,0,4,383,267,650
19,1,Bengaluru(U),348826,254033,602859,3729215,3180202,6909417,4078041,3434235,...,1225,5934,3,406,237,643,84,18419,9488,27907
20,2,Bengaluru(R),275457,209175,484632,109854.0,94263,204117,385311,303438,...,40,208,0,0,0,0,5,594,318,912
21,15,Mandya,517904,401385,919289,120764.0,109596,230360,638668,510981,...,72,403,1,70,81,151,4,820,630,1450
22,13,Hassan,513580,411991,925571,155256.0,144429,299685,668836,556420,...,191,732,1,103,116,219,4,1837,1455,3292
23,11,Dakshina Kannada,437028,394198,831226,426991.0,408106,835097,864019,802304,...,284,4293,1,4520,1262,5782,18,10368,5904,16272
24,14,Kodagu,180920,165141,346061,34382.0,32434,66816,215302,197575,...,28,210,1,472,426,898,1,356,236,592
25,16,Mysuru,560734,433936,994670,503032.0,464478,967510,1063766,898414,...,542,1708,0,0,0,0,12,2098,1703,3801
26,17,Chamarajanagara,247909,194351,442260,65048.0,57971,123019,312957,252322,...,6,52,1,466,300,766,1,55,52,107
27,7,Chikkaballapura,334340,245891,580231,107818.0,95173,202991,442158,341064,...,94,561,0,0,0,0,2,489,298,787
28,3,Ramanagara,275870,205441,481311,102591.0,90856,193447,378461,296297,...,42,208,1,72,74,146,4,211,161,372
29,28,Yadgir,230998,143246,374244,75753.0,60006,135759,306751,203252,...,8,228,0,0,0,0,1,70,40,110

In [70]:
final_data = final_df.sort_values(1)
final_data.reset_index(drop=True, inplace=True)
final_data

,1,2,1023,1024,1025,1026,1027,1028,1029,1030,...,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150
0,1,Bengaluru(U),348826,254033,602859,3729215,3180202,6909417,4078041,3434235,...,1225,5934,3,406,237,643,84,18419,9488,27907
1,2,Bengaluru(R),275457,209175,484632,109854.0,94263,204117,385311,303438,...,40,208,0,0,0,0,5,594,318,912
2,3,Ramanagara,275870,205441,481311,102591.0,90856,193447,378461,296297,...,42,208,1,72,74,146,4,211,161,372
3,4,Chitradurga,474285,360134,834419,132903.0,120070,252973,607188,480204,...,92,562,0,0,0,0,1,101,85,186
4,5,Davanagere,384798,304700,689498,232986.0,207253,440239,617784,511953,...,180,844,1,267,335,602,3,847,647,1494
5,6,Kolara,371785,277636,649421,192325.0,174473,366798,564110,452109,...,150,683,0,0,0,0,4,383,267,650
6,7,Chikkaballapura,334340,245891,580231,107818.0,95173,202991,442158,341064,...,94,561,0,0,0,0,2,489,298,787
7,8,Shivamogga,419590,351227,770817,255348.0,236851,492199,674938,588078,...,140,887,0,0,0,0,2,503,475,978
8,9,Tumakuru,760322,584116,1344438,245702.0,223251,468953,1006024,807367,...,1030,4260,0,0,0,0,8,7347,5555,12902
9,10,Chikkamagaluru,335601,283920,619521,102656.0,96168,198824,438257,380088,...,120,492,0,0,0,0,1,1402,974,2376
10,11,Dakshina Kannada,437028,394198,831226,426991.0,408106,835097,864019,802304,...,284,4293,1,4520,1262,5782,18,10368,5904,16272
11,12,Udupi,324309,320937,645246,141395.0,139788,281183,465704,460725,...,290,1810,0,0,0,0,4,11990,4964,16954
12,13,Hassan,513580,411991,925571,155256.0,144429,299685,668836,556420,...,191,732,1,103,116,219,4,1837,1455,3292
13,14,Kodagu,180920,165141,346061,34382.0,32434,66816,215302,197575,...,28,210,1,472,426,898,1,356,236,592
14,15,Mandya,517904,401385,919289,120764.0,109596,230360,638668,510981,...,72,403,1,70,81,151,4,820,630,1450
15,16,Mysuru,560734,433936,994670,503032.0,464478,967510,1063766,898414,...,542,1708,0,0,0,0,12,2098,1703,3801
16,17,Chamarajanagara,247909,194351,442260,65048.0,57971,123019,312957,252322,...,6,52,1,466,300,766,1,55,52,107
17,18,Belagavi,1233802,900990,2134792,491746.0,425494,917240,1725548,1326484,...,586,2684,0,0,0,0,12,11189,6256,17445
18,19,Vijayapura,538400,355732,894132,192166.0,161970,354136,730566,517702,...,241,464,0,0,0,0,5,2879,1857,4736
19,20,Bagalkot,416846,288066,704912,224542.0,183958,408500,641388,472024,...,182,800,0,0,0,0,3,447,286,733
20,21,Dharwad,289171,212783,501954,422605.0,377105,799710,711776,589888,...,346,1609,0,0,0,0,5,932,559,1491
21,22,Gadag,250701,178972,429673,146477.0,124027,270504,397178,302999,...,328,1363,0,0,0,0,3,1851,1348,3199
22,23,Haveri,465603,359498,825101,138190.0,122152,260342,603793,481650,...,189,982,1,488,399,887,1,338,246,584
23,24,Uttara Kannada,403419,337710,741129,178680.0,162097,340777,582099,499807,...,287,1684,1,387,212,599,3,1482,786,2268
24,25,Ballari,564990,393647,958637,351303.0,290484,641787,916293,684131,...,623,4535,1,48,27,75,3,707,527,1234
25,26,Bidar,430681,309030,739711,166517.0,136445,302962,597198,445475,...,19,239,0,0,0,0,4,586,369,955
26,27,Kalburgi,506799,333277,840076,323065.0,264227,587292,829864,597504,...,107,645,0,0,0,0,6,4747,3258,8005
27,28,Yadgir,230998,143246,374244,75753.0,60006,135759,306751,203252,...,8,228,0,0,0,0,1,70,40,110
28,29,Raichur,399587,259853,659440,177626.0,142703,320329,577213,402556,...,26,287,1,135,97,232,2,154,118,272
29,30,Koppal,359087,250597,609684,109698.0,89703,199401,468785,340300,...,21,111,0,0,0,0,0,0,0,0

In [71]:
name_list = ['Bengaluru(U)','Bengaluru(R)', 'Ramanagara', 'Chitradurga', 'Davanagere', 'Kolara', 'Chikkaballapura', 'Shivamogga',
'Tumakuru', 'Chikkamagaluru', 'Dakshina Kannada', 'Udupi', 'Hassan', 'Kodagu', 'Mandya', 'Mysuru', 'Chamarajanagara',
 'Belagavi', 'Vijayapura', 'Bagalkot', 'Dharwad', 'Gadag', 'Haveri', 'Uttara Kannada', 'Ballari', 'Bidar', 'Kalburgi',
 'Yadgir', 'Raichur', 'Koppal']

In [72]:
final_data[2] = name_list
final_data

,1,2,1023,1024,1025,1026,1027,1028,1029,1030,...,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150
0,1,Bengaluru(U),348826,254033,602859,3729215,3180202,6909417,4078041,3434235,...,1225,5934,3,406,237,643,84,18419,9488,27907
1,2,Bengaluru(R),275457,209175,484632,109854.0,94263,204117,385311,303438,...,40,208,0,0,0,0,5,594,318,912
2,3,Ramanagara,275870,205441,481311,102591.0,90856,193447,378461,296297,...,42,208,1,72,74,146,4,211,161,372
3,4,Chitradurga,474285,360134,834419,132903.0,120070,252973,607188,480204,...,92,562,0,0,0,0,1,101,85,186
4,5,Davanagere,384798,304700,689498,232986.0,207253,440239,617784,511953,...,180,844,1,267,335,602,3,847,647,1494
5,6,Kolara,371785,277636,649421,192325.0,174473,366798,564110,452109,...,150,683,0,0,0,0,4,383,267,650
6,7,Chikkaballapura,334340,245891,580231,107818.0,95173,202991,442158,341064,...,94,561,0,0,0,0,2,489,298,787
7,8,Shivamogga,419590,351227,770817,255348.0,236851,492199,674938,588078,...,140,887,0,0,0,0,2,503,475,978
8,9,Tumakuru,760322,584116,1344438,245702.0,223251,468953,1006024,807367,...,1030,4260,0,0,0,0,8,7347,5555,12902
9,10,Chikkamagaluru,335601,283920,619521,102656.0,96168,198824,438257,380088,...,120,492,0,0,0,0,1,1402,974,2376
10,11,Dakshina Kannada,437028,394198,831226,426991.0,408106,835097,864019,802304,...,284,4293,1,4520,1262,5782,18,10368,5904,16272
11,12,Udupi,324309,320937,645246,141395.0,139788,281183,465704,460725,...,290,1810,0,0,0,0,4,11990,4964,16954
12,13,Hassan,513580,411991,925571,155256.0,144429,299685,668836,556420,...,191,732,1,103,116,219,4,1837,1455,3292
13,14,Kodagu,180920,165141,346061,34382.0,32434,66816,215302,197575,...,28,210,1,472,426,898,1,356,236,592
14,15,Mandya,517904,401385,919289,120764.0,109596,230360,638668,510981,...,72,403,1,70,81,151,4,820,630,1450
15,16,Mysuru,560734,433936,994670,503032.0,464478,967510,1063766,898414,...,542,1708,0,0,0,0,12,2098,1703,3801
16,17,Chamarajanagara,247909,194351,442260,65048.0,57971,123019,312957,252322,...,6,52,1,466,300,766,1,55,52,107
17,18,Belagavi,1233802,900990,2134792,491746.0,425494,917240,1725548,1326484,...,586,2684,0,0,0,0,12,11189,6256,17445
18,19,Vijayapura,538400,355732,894132,192166.0,161970,354136,730566,517702,...,241,464,0,0,0,0,5,2879,1857,4736
19,20,Bagalkot,416846,288066,704912,224542.0,183958,408500,641388,472024,...,182,800,0,0,0,0,3,447,286,733
20,21,Dharwad,289171,212783,501954,422605.0,377105,799710,711776,589888,...,346,1609,0,0,0,0,5,932,559,1491
21,22,Gadag,250701,178972,429673,146477.0,124027,270504,397178,302999,...,328,1363,0,0,0,0,3,1851,1348,3199
22,23,Haveri,465603,359498,825101,138190.0,122152,260342,603793,481650,...,189,982,1,488,399,887,1,338,246,584
23,24,Uttara Kannada,403419,337710,741129,178680.0,162097,340777,582099,499807,...,287,1684,1,387,212,599,3,1482,786,2268
24,25,Ballari,564990,393647,958637,351303.0,290484,641787,916293,684131,...,623,4535,1,48,27,75,3,707,527,1234
25,26,Bidar,430681,309030,739711,166517.0,136445,302962,597198,445475,...,19,239,0,0,0,0,4,586,369,955
26,27,Kalburgi,506799,333277,840076,323065.0,264227,587292,829864,597504,...,107,645,0,0,0,0,6,4747,3258,8005
27,28,Yadgir,230998,143246,374244,75753.0,60006,135759,306751,203252,...,8,228,0,0,0,0,1,70,40,110
28,29,Raichur,399587,259853,659440,177626.0,142703,320329,577213,402556,...,26,287,1,135,97,232,2,154,118,272
29,30,Koppal,359087,250597,609684,109698.0,89703,199401,468785,340300,...,21,111,0,0,0,0,0,0,0,0

In [73]:
final_data.to_csv(absolute_result_path, sep=';', index=False)
final_data.to_csv(absolute_dictionary_path, sep=';', index=False)

In [74]:
start = final_data.columns[2]
end = final_data.columns[-1]
for i in range(start,end):
    if i not in final_df.columns.tolist():
        print(i)