In [204]:
import tabula
import pandas as pd
import os
import re

In [205]:
relative_path_pdf = "/home/riya/Downloads/ADT_Test/HTML/"
# Get the absolute path by joining the current directory with the relative path
absolute_path_pdf = relative_path_pdf

In [206]:
os.listdir(absolute_path_pdf)

['ch14_page_1.pdf',
 'ch12_page_11.pdf',
 'ch9_page_7.pdf',
 'output_page_ch12_3.html',
 'ch12_page_3.pdf',
 'output_page_ch12_11.html',
 'output_page_ch9_7.html',
 'ch9_page_3.pdf',
 'ch8_page_1.pdf',
 'output_page_ch9_3.html']

In [207]:
output_list = []

In [208]:
# iterate through all file 
for file in os.listdir(absolute_path_pdf): 
    # Check whether file is in text format or not 
    if file.endswith(".pdf"): 
        file_path = os.path.join(absolute_path_pdf, file)
        dfs = tabula.read_pdf(file_path, pages='all', stream=True)
        output_list.append(dfs[0])

In [209]:
len(output_list)

6

In [210]:
output_list[0]

,Unnamed: 0,Unnamed: 1,CgÀtå E ̄ÁSÉ / Forest,Employment through Skill,Unnamed: 2,gÁ.UÁ.fÃ.C AiÆÉ Ãd£ÉAiÀÄr
0,NaN,NaN,Department,Training &Placement*,NaN,¥ÀAiÉÆÃd£É ¥ÀqzÉ À UÀÄA¥ÀÄ
1,NaN,NaN,CgÀtå ¥ÀzÃÉ ±À £ÉlÖ ̧À1UÀ1⁄4ÀÄ,̧Àé GzÉÆåÃUÀ ( ̧ÀtÚ,GzÆÉ åÃUÀ aÉÃvÀ£À,Number of Groups under
2,Sl.No,District,NaN,NaN,NaN,NRLM 2016-17
3,NaN,NaN,(ZÀ.Q.«Ä) Forest (®PUÀë À1⁄4À°è),G¢ÝaÄÉ UÀ1⁄4ÀÄ aÀÄvÀÄÛ,(aÀiÁ£ÀaÀ ¢£ÀUÀ1⁄4ÀÄ),NaN
4,NaN,NaN,Area (Area in Saplings,vÀgÀ ̈ÃÉ w) /,Self Wage,MlÄÖ aÀÄ»1⁄4À UÀÄA¥ÀÄUÀ1⁄4ÀÄ
5,NaN,NaN,Square Planted (In,employment (Small,employment,NaN
6,NaN,NaN,NaN,NaN,NaN,Total Women Groups
7,NaN,NaN,Kilometres) # Lakhs),enterprises + training),(Mandays),NaN
8,1,2,866 867,868,869,870 871
9,1,BENGALURU,122.25 0.65,111,1166,3448 3448
10,2,BENGALURU(R),2.428,70,735,3294 3294
11,NaN,NaN,1164.85,NaN,NaN,NaN
12,3,RAMANAGARA,10.14,440,4726,4234 4234
13,4,CHITRADURGA,1287.18 16.2,503,5282,10490 10490
14,5,DAVANAGERE,544.34 16.64,29,305,4573 4573
15,6,KOLAR,19.38,346,3633,3292 3292
16,NaN,NaN,1066.22,NaN,NaN,NaN
17,7,CHIKKABALLAPURA,20.16,244,2562,2370 2370
18,8,SHIVAMOGGA,6631.44 34.44,672,7175,11627 11627
19,9,TUMAKURU,1291.67 15.23,302,3171,27977 27977
20,10,CHIKKAMAGALURU,2756.61 25.1,158,1659,7009 7009
21,11,DAKSHINA KANNADA,2012.18 9.02,713,7826,7753 7753
22,12,UDUPI,1720.57 5.31,37,399,7164 7164
23,13,HASSAN,879.25 8.82,337,3539,14885 14885
24,14,KODAGU,2870.99 1.49,62,609,2583 2583
25,15,MANDYA,664.61 17.34,404,4242,9839 9839
26,16,MYSURU,1449.87 4.715,-,-,19379 19379
27,17,CHAMARAJANAGAR,2791.46 0.336,-,525,5440 5440
28,18,BELAGAVI,2063.2 47.86,-,781,16407 16407
29,19,VIJAYAPURA,81.11 2.32,-,1317,5209 5209
30,20,BAGALKOT,838.93 15.72,-,272,5725 5725
31,21,DHARAWAD,468.54 7.38,-,118,7521 7521
32,22,GADAG,333.37 9.7,-,346,9264 9264
33,23,HAVERI,432.8 6.31,10,383,12378 12378
34,24,UTTARA KANNADA,8296.46 137.594,-,81,11817 11817
35,25,BALLARI,1378.52 18.28,-,299,4216 4216
36,26,BIDAR,456.16 18.94,-,855,5694 5694
37,27,KALABURAGI,12.583,-,150,4624 4624
38,NaN,NaN,997.76,NaN,NaN,NaN
39,28,YADGIRI,12.86,-,503,1563 1563
40,29,RAICHUR,325.57 8.91,10,528,2661 2661
41,30,KOPPAL,430.66 2.24,4,315,12644 12644
42,NaN,STATE,43356.57 508.10,4452,53499,245080 245080
43,"Source: Forest Department, Directorate of Munc...",NaN,NaN,NaN,NaN,NaN

In [211]:
def find_header(df_list):
    # Initialize variables to track the start and end indices
    index_list = []
    drop_index =  []
    i=0
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        numbers_1 = []
        numbers_2 = []
        # Regex pattern to match numeric values
        pattern = r'\b\d+\b'
        flag = 0
        for idx in range(len(df_col) - 1):
            if isinstance(df_col.iloc[idx], str):
                if re.findall(pattern, df_col.iloc[idx]):
                    numbers_1 = [int(x) for x in re.findall(pattern, df_col.iloc[idx])]
            if isinstance(df_col.iloc[idx+1], str):
                if re.findall(pattern, df_col.iloc[idx+1]):
                    numbers_2 = [int(x) for x in re.findall(pattern, df_col.iloc[idx+1])]

            if 1 in numbers_1 and 1 in numbers_2:
                start_index = idx
                end_index = idx+31
                index_list.append([start_index, end_index])
                flag=1
                i += 1
                break
        if flag == 0:
            drop_index.append(i)
            i +=1
            
    return index_list, drop_index

In [212]:
index_list, drop_list = find_header(output_list)

In [213]:
drop_list

[]

In [214]:
index_list

[[8, 39], [4, 35], [8, 39], [4, 35], [9, 40], [7, 38]]

In [215]:
len(index_list)

6

In [216]:
index_list[0][1] = 42
index_list[2][1] = 46
index_list[4][1] = 41
index_list[5][1] = 43

In [217]:
index_list

[[8, 42], [4, 35], [8, 46], [4, 35], [9, 41], [7, 43]]

In [218]:
def remove_first_col(df_list, drop_index):
    new_df_list = []
    if len(drop_list) > 0:
        for idx in range(len(df_list)):
            if idx in drop_list:
                df = df_list[idx]
                df = df.drop(df.columns[0],axis=1)
                new_df_list.append(df)
            else:
                new_df_list.append(df_list[idx])
        print(df)
        return new_df_list
    return df_list

In [219]:
def get_final_index(df_list, index_ll, drop_index):
    df = df_list
    while len(drop_index) > 0:
        df = remove_first_col(df, drop_index)
        index_ll, drop_list = find_header(df)
        drop_index = drop_list
    return df, index_ll, drop_index

In [220]:
new_output_list, new_index_list, new_drop_list = get_final_index(output_list, index_list, drop_list)

In [221]:
len(new_index_list)

6

In [222]:
new_output_list[1]

,Unnamed: 0,Unnamed: 1,C£ÀÄzÁ¤vÀ aÉÄnPï ¥ÀÆaÀð/Aided Pre-Matric
0,NaN,NaN,̈Á®PÀgÀ / Boys ̈Á®QAiÀÄgÀ / Girls MlÄÖ / Total
1,‘Ðõ.ÊÐ.,f ̄ÉUÀ1⁄4ÀÄ,NaN
2,NaN,NaN,À̧ASÉå «zÁåyðUÀ1⁄4ÀÄ À̧ASÉå «zÁåyðUÀ1⁄4ÀÄ À̧AS...
3,NaN,NaN,Nos Students Nos Students Nos Students
4,1,2,782 783 784 785 786 787
5,1,É̈AUÀ1⁄4ÀÆgÀÄ,- - - - - -
6,2,É̈AUÀ1⁄4ÀÆgÀÄ (UÁ),- - - - - -
7,3,gÁaÀÄ£UÀ ÀgÀ,3 150 - - 3 150
8,4,avÀzÀÄUÀð,6 346 1 54 7 400
9,5,zÁaÀtUÉgÉ,10 565 - - 10 565
10,6,PÉÆÃ ̄ÁgÀ,2 175 - - 2 175
11,7,aPÀÌ§1⁄4Áî¥ÀÄgÀ,- - - - - -
12,8,2aÀaÉÆUÀÎ,5 270 5 225 10 495
13,9,vÀÄaÀÄPÀÆgÀÄ,8 382 - - 8 382
14,10,aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ,9 628 2 120 11 748
15,11,zÀQtë PÀ£ßÀ qÀ,- - - - - -
16,12,GqÀÄ¦,2 92 - - 2 92
17,13,oÁ À̧£À,5 160 - - 5 160
18,14,PÉÆqÀUÀÄ,- - - - - -
19,15,aÀÄAqÀå,7 690 2 60 9 750
20,16,aÉÄÊ À̧ÆgÀÄ,4 460 1 100 5 560
21,17,ZÁaÀÄgÁd£UÀ ÀgÀ,4 175 2 100 6 275
22,18,É̈1⁄4ÀUÁ«,4 170 1 36 5 206
23,19,«dAiÀi¥ÀÄgÀÀ,29 1378 - - 29 1378
24,20,̈ÁUÀ®PÉÆÃmÉ,24 987 - - 24 987
25,21,zsÁgÀaÁqÀ,5 840 - - 5 840
26,22,UÀzÀUÀ,16 664 1 25 17 689
27,23,oÁaÉÃj,11 615 2 80 13 695
28,24,GvÀgÛ À PÀ£ÀßqÀ,1 50 1 30 2 80
29,25,§1⁄4Ájî,8 310 - - 8 310
30,26,©ÃzÀgï,5 395 1 50 6 445
31,27,PÀ®§ÄgÀV,21 1265 1 50 22 1315
32,28,AiiÀ ÁzÀVj,4 275 - - 4 275
33,29,gÁAiÄÀ ZÀÆgÀÄ,6 401 1 100 7 501
34,30,PÉÆ¥À1⁄4à À,12 597 - - 12 597
35,NaN,gÁdå,211 12040 21 1030 232 13070

In [223]:
def remove_header(df, ind_list):
    new_output_list=[]
    for idx in range(len(ind_list)):
        df_page = df[idx]
        #print(index_list[idx][0], index_list[idx][1])
        #print(df_page)
        df_new = df_page.drop(index=df_page.index[~df_page.index.isin(range(ind_list[idx][0], ind_list[idx][1]))])
        df_new.reset_index(drop=True, inplace=True)
        new_output_list.append(df_new)
    return new_output_list

In [224]:
corrected_list = remove_header(new_output_list, new_index_list)

In [225]:
corrected_list[0]

,Unnamed: 0,Unnamed: 1,CgÀtå E ̄ÁSÉ / Forest,Employment through Skill,Unnamed: 2,gÁ.UÁ.fÃ.C AiÆÉ Ãd£ÉAiÀÄr
0,1,2,866 867,868,869,870 871
1,1,BENGALURU,122.25 0.65,111,1166,3448 3448
2,2,BENGALURU(R),2.428,70,735,3294 3294
3,NaN,NaN,1164.85,NaN,NaN,NaN
4,3,RAMANAGARA,10.14,440,4726,4234 4234
5,4,CHITRADURGA,1287.18 16.2,503,5282,10490 10490
6,5,DAVANAGERE,544.34 16.64,29,305,4573 4573
7,6,KOLAR,19.38,346,3633,3292 3292
8,NaN,NaN,1066.22,NaN,NaN,NaN
9,7,CHIKKABALLAPURA,20.16,244,2562,2370 2370
10,8,SHIVAMOGGA,6631.44 34.44,672,7175,11627 11627
11,9,TUMAKURU,1291.67 15.23,302,3171,27977 27977
12,10,CHIKKAMAGALURU,2756.61 25.1,158,1659,7009 7009
13,11,DAKSHINA KANNADA,2012.18 9.02,713,7826,7753 7753
14,12,UDUPI,1720.57 5.31,37,399,7164 7164
15,13,HASSAN,879.25 8.82,337,3539,14885 14885
16,14,KODAGU,2870.99 1.49,62,609,2583 2583
17,15,MANDYA,664.61 17.34,404,4242,9839 9839
18,16,MYSURU,1449.87 4.715,-,-,19379 19379
19,17,CHAMARAJANAGAR,2791.46 0.336,-,525,5440 5440
20,18,BELAGAVI,2063.2 47.86,-,781,16407 16407
21,19,VIJAYAPURA,81.11 2.32,-,1317,5209 5209
22,20,BAGALKOT,838.93 15.72,-,272,5725 5725
23,21,DHARAWAD,468.54 7.38,-,118,7521 7521
24,22,GADAG,333.37 9.7,-,346,9264 9264
25,23,HAVERI,432.8 6.31,10,383,12378 12378
26,24,UTTARA KANNADA,8296.46 137.594,-,81,11817 11817
27,25,BALLARI,1378.52 18.28,-,299,4216 4216
28,26,BIDAR,456.16 18.94,-,855,5694 5694
29,27,KALABURAGI,12.583,-,150,4624 4624
30,NaN,NaN,997.76,NaN,NaN,NaN
31,28,YADGIRI,12.86,-,503,1563 1563
32,29,RAICHUR,325.57 8.91,10,528,2661 2661
33,30,KOPPAL,430.66 2.24,4,315,12644 12644

In [226]:
def first_column_split(df_list):
    # Initialize variables to track the start and end indices
    new_df = []
        
    for df in df_list:
        df_col = df.iloc[:,0]
        #print(df_col)
        # Regex pattern to match numeric values
        pattern = r'\b\d+\b'
        
        if isinstance(df_col.iloc[0], str):
            if re.findall(pattern, df_col.iloc[0]):
                numbers = [int(x) for x in re.findall(pattern, df_col.iloc[0])]
                if len(numbers) == 1:
                    new_df.append(df)
                else:
                    pattern = r'(?<=\d)\s'

                    # Split the strings based on the pattern and expand into separate columns
                    split_data = df_col.str.split(pattern, n=1, expand=True)

                    # Rename the columns
                    split_data.columns = ['col1', 'col2']
                    
                    concated_df = pd.concat([split_data, df.iloc[:, 1:]], axis = 1)
                    new_df.append(concated_df)

    return new_df

In [227]:
new_list = first_column_split(corrected_list)

In [228]:
new_list[4]

,Unnamed: 0,Unnamed: 1,aÉÆÃlgÀÄ aÁoÀ£ÀUÀ1⁄4ÀÄ/ Motor vehicles in Numbers
0,1,2,502 503 504 505 506 507 508 509 510
1,1,BENGALURU,91757 35562 13336 173584 32592 4731159
2,2,BENGALURU(R),1050 535 162 1769 206 49346
3,3,RAMANAGARA,8367 3216 650 7844 312 239767
4,4,CHITRADURGA,3722 2679 12 5648 294 196114
5,5,DAVANAGERE,3101 2425 315 11074 256 376319
6,6,KOLAR,3278 993 12 6753 281 214164
7,7,CHIKKABALLAPURA,1730 819 9 3840 416 137784
8,8,SHIVAMOGGA,2584 1408 24 7008 945 400834
9,9,TUMAKURU,1876 947 2154 13924 586 493523
10,10,CHIKKAMAGALURU,2056 1201 561 8393 285 199761
11,11,DAKSHINA KANNADA,12444 7668 34 25758 1722 477515
12,12,UDUPI,4389 2010 10 12947 465 256714
13,NaN,NaN,Bifurcation not available shown in total column
14,13,HASSAN,3870 2169 759 6385 346 279315
15,14,KODAGU,2222 1268 - 6695 448 76759
16,15,MANDYA,2989 1995 61 6172 436 252808
17,16,MYSURU,5734 2471 15 13848 357 768704
18,17,CHAMARAJANAGAR,813 498 16 2457 480 114198
19,18,BELAGAVI,4108 2014 24 13940 420 832141
20,19,VIJAYAPURA,2873 1809 17 3940 310 265799
21,20,BAGALKOT,2254 1980 - 7198 258 261053
22,21,DHARAWAD,2047 1409 10 4007 125 118741
23,22,GADAG,3418 2292 - 14044 355 373480
24,23,HAVERI,3178 1922 - 5605 1229 223778
25,24,UTTARA KANNADA,3250 1430 7 5569 315 311909
26,25,BALLARI,3130 2094 115 7021 222 372669
27,26,BIDAR,1317 1405 53 4578 129 150774
28,27,KALABURAGI,2455 1546 56 9461 260 293783
29,28,YADGIRI,1287 674 9 5864 297 90323
30,29,RAICHUR,2193 1508 - 4947 316 237835
31,30,KOPPAL,1663 781 17 2779 180 158045

In [229]:
def process_cell(cell):
    if isinstance(cell, str):
        if '-' in cell:
            cell = cell.replace('-', ' Null ').strip()
            cell = ' '.join(cell.split())  # Remove excess white spaces
        else:
            cell = ' '.join(cell.split())  # Remove excess white spaces
    return cell

In [230]:
def replace_with_nan(df_list):
    new_df_list = []
    for df in df_list:
        new_df = df.map(process_cell)
        new_df_list.append(new_df)
    return new_df_list

In [231]:
replaced_list = replace_with_nan(new_list)

In [232]:
replaced_list[5]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,̄ËË 3⁄4ÑôA‘ý–ÐÎÐÔ/DCC Banks,Unnamed: 3
0,1,2,464,465 466 467 468,469
1,1,BENGALURU,NaN,1630 923.83 1054.10 1977.93,3396.30
2,2,BENGALURU(R),1,20250 10040.5 194 10234.5,10401.2
3,3,RAMANAGARA,NaN,51937 20868.05 5598.69 26466.74,12799.31
4,4,CHITRADURGA,1,39024 17273.65 4375.34 21648.99,16972.84
5,5,DAVANAGERE,1,75350 24202.58 183.03 24385.61,20357.75
6,6,KOLAR,NaN,13921 5775.47 7.03 5782.50,36.17
7,NaN,NaN,1,NaN,NaN
8,7,CHIKKABALLAPURA,NaN,9732 8939.4 3344.2 12283.6,4145.14
9,8,SHIVAMOGGA,1,64886 31135.21 24691.83 55827.04,70011.56
10,9,TUMAKURU,1,124458 41077.53 52792.10 93869.63,72181.25
11,10,CHIKKAMAGALURU,1,13579 45035.20 16147.44 61182.641,52781.58
12,11,DAKSHINA KANNADA,NaN,163208 72164.18 109683.4 181847.56,223161.11
13,NaN,NaN,1,NaN,NaN
14,12,UDUPI,NaN,67528 20299.33 36057.91 56357.24,97002.96
15,13,HASSAN,1,126804 49658.44 25054.38 74712.82,70151.86
16,14,KODAGU,1,19096 42103.35 25932.25 68035.6,74103.24
17,15,MANDYA,1,135455 52800.92 28587.88 81388.8,90234.44
18,16,MYSURU,NaN,33953 27932.49 5145.62 33078.11,36190.22
19,NaN,NaN,1,NaN,NaN
20,17,CHAMARAJANAGAR,NaN,21385 11663.67 1983.26 13646.93,6337.33
21,18,BELAGAVI,1,404645 132110.75 98982.29 231093.04,238730.63
22,19,VIJAYAPURA,1,215444 95766.72 71267.68 167034.40,144697.60
23,20,BAGALKOT,1,25950 118411.49 73162.19 191573.68,167594.93
24,21,DHARAWAD,NaN,22781 9767.84 4171.23 13939.07,16923.37
25,22,GADAG,1,21199 8813.91 2720.67 11534.58,8783.85
26,23,HAVERI,NaN,31324 10293.11 3492.56 13785.67,14198.62
27,24,UTTARA KANNADA,1,26485 62027.69 71749.58 133777.27,168210.05
28,25,BALLARI,1,72118 45835.90 17765.34 63601.24,70933.51
29,26,BIDAR,1,204407 96797.59 97095.86 193893.45,131656.57
30,27,KALABURAGI,NaN,68951 20900.08 2648.08 23548.16,7587.50
31,NaN,NaN,1,NaN,NaN
32,28,YADGIRI,NaN,51939 11706.94 0.00 11706.94,900.03
33,29,RAICHUR,NaN,74372 25085.09 6415.38 31500.47,27022.51
34,NaN,NaN,1,NaN,NaN
35,30,KOPPAL,NaN,51939 11706.94 0.00 11706.94,900.03

In [233]:
def all_column_split(df_list):
    new_df_list = []
        
    for df in df_list:
        new_df = pd.DataFrame()
        pattern = r'\b\d+\b'  # Updated pattern to match numbers only
        for colName, colData in df.items():
            if isinstance(colData.values[0], str):
                if re.findall(pattern, colData.values[0]):
                    numbers = [int(x) for x in re.findall(pattern, colData.values[0])]
                    if len(numbers) == 1:
                        new_df = pd.concat([new_df, colData], axis=1)
                    elif len(numbers) == 0 and (pd.isnull(colData.values[0]) or pd.isna(colData.values[0])):
                        print("Removed NaN col")
                    elif len(numbers) > 1:
                        split_columns = colData.str.rsplit(' ', n=(len(numbers)-1), expand=True)
                        new_df = pd.concat([new_df, split_columns], axis=1)

        new_df_list.append(new_df)
    return new_df_list

In [234]:
separated_list = all_column_split(replaced_list)

In [235]:
separated_list[3]

   Unnamed: 0          Unnamed: 1     0     1     2     3     0     1
0           1                   2   734   735   736   737   738   739
1           1       É̈AUÀ1⁄4ÀÆgÄÀ     8   495     1   200     9   695
2           2  É̈AUÀ1⁄4ÀÆgÄÀ (UÁ)     2   130  Null  Null     2   130
3           3        gÁaÀÄ£ÀUgÀ À     2    65  Null  Null     2    65
4           4           avÀzÀÄUÀð     8   564     2   157    10   721
5           5          zÁaÀtUgÉ É     8   560  Null  Null     8   560
6           6           PÉÆÃ ̄ÁgÀ     2   200  Null  Null     2   200
7           7     aPÀÌ§1⁄4Áî¥ÀÄgÀ  Null  Null  Null  Null  Null  Null
8           8           2aÀaÉÆUÎÀ     1    65     2   280     3   345
9           9        vÀÄaÀÄPÀÆgÀÄ    13   868     2    50    15   918
10         10   aPÀÌaÀÄUÀ1⁄4ÀÆgÄÀ  Null  Null  Null  Null  Null  Null
11         11       zÀQët PÀ£ÀßqÀ  Null  Null  Null  Null  Null  Null
12         12               GqÀÄ¦  Null  Null  Null  Null  Null  Null
13         13             oÁ À̧£À  Null  Null  Null  Null  Null  Null
14         14            PÉÆqÀUÀÄ  Null  Null  Null  Null  Null  Null
15         15             aÀÄAqÀå     3    98  Null  Null     3    98
16         16         aÉÄÊ À̧ÆgÄÀ     4   200  Null  Null     4   200
17         17     ZÁaÀÄgÁd£ÀUgÀ À     3   304  Null  Null     3   304
18         18           É̈1⁄4ÀUÁ«     4   266     1   100     5   366
19         19        «dAiÀi¥ÀÄgÀÀ    15   626  Null  Null    15   626
20         20        ̈ÁU®À PÉÆÃmÉ     2   100  Null  Null     2   100
21         21          zsÁgaÀ ÁqÀ     4   275     1    50     5   325
22         22             UzÀ ÀUÀ     4   214     1    50     5   264
23         23              oÁaÉÃj     1   130     1    50     2   180
24         24    GvÀgÛ À P À£ÀßqÀ  Null  Null     1   100     1   100
25         25             §1⁄4Áîj     2    95  Null  Null     2    95
26         26              ©ÃzÀgï     6   294  Null  Null     6   294
27         27            PÀ®§ÄgÀV    33  2438     1    50    34  2488
28         28           AiÀiÁzÀVj    12   990  Null  Null    12   990
29         29        gÁAiÀÄZÀÆgÀÄ     1    50  Null  Null     1    50
30         30         PÉÆ¥À1⁄4à À  Null  Null  Null  Null  Null  Null

In [236]:
def reset_header(df_list):
    new_df_list = []

    for df in df_list:
        df.columns = df.iloc[0]
        df = df.drop(0)

        # Reset the index to ensure correct alignment
        df = df.reset_index(drop=True)
        new_df_list.append(df)
    return new_df_list

In [237]:
final_list = reset_header(separated_list)

In [238]:
final_list[3]

0    1                   2   734   735   736   737   738   739
0    1       É̈AUÀ1⁄4ÀÆgÄÀ     8   495     1   200     9   695
1    2  É̈AUÀ1⁄4ÀÆgÄÀ (UÁ)     2   130  Null  Null     2   130
2    3        gÁaÀÄ£ÀUgÀ À     2    65  Null  Null     2    65
3    4           avÀzÀÄUÀð     8   564     2   157    10   721
4    5          zÁaÀtUgÉ É     8   560  Null  Null     8   560
5    6           PÉÆÃ ̄ÁgÀ     2   200  Null  Null     2   200
6    7     aPÀÌ§1⁄4Áî¥ÀÄgÀ  Null  Null  Null  Null  Null  Null
7    8           2aÀaÉÆUÎÀ     1    65     2   280     3   345
8    9        vÀÄaÀÄPÀÆgÀÄ    13   868     2    50    15   918
9   10   aPÀÌaÀÄUÀ1⁄4ÀÆgÄÀ  Null  Null  Null  Null  Null  Null
10  11       zÀQët PÀ£ÀßqÀ  Null  Null  Null  Null  Null  Null
11  12               GqÀÄ¦  Null  Null  Null  Null  Null  Null
12  13             oÁ À̧£À  Null  Null  Null  Null  Null  Null
13  14            PÉÆqÀUÀÄ  Null  Null  Null  Null  Null  Null
14  15             aÀÄAqÀå     3    98  Null  Null     3    98
15  16         aÉÄÊ À̧ÆgÄÀ     4   200  Null  Null     4   200
16  17     ZÁaÀÄgÁd£ÀUgÀ À     3   304  Null  Null     3   304
17  18           É̈1⁄4ÀUÁ«     4   266     1   100     5   366
18  19        «dAiÀi¥ÀÄgÀÀ    15   626  Null  Null    15   626
19  20        ̈ÁU®À PÉÆÃmÉ     2   100  Null  Null     2   100
20  21          zsÁgaÀ ÁqÀ     4   275     1    50     5   325
21  22             UzÀ ÀUÀ     4   214     1    50     5   264
22  23              oÁaÉÃj     1   130     1    50     2   180
23  24    GvÀgÛ À P À£ÀßqÀ  Null  Null     1   100     1   100
24  25             §1⁄4Áîj     2    95  Null  Null     2    95
25  26              ©ÃzÀgï     6   294  Null  Null     6   294
26  27            PÀ®§ÄgÀV    33  2438     1    50    34  2488
27  28           AiÀiÁzÀVj    12   990  Null  Null    12   990
28  29        gÁAiÀÄZÀÆgÀÄ     1    50  Null  Null     1    50
29  30         PÉÆ¥À1⁄4à À  Null  Null  Null  Null  Null  Null

In [239]:
final_list[4]['507'], final_list[4]['510'] = final_list[4]['510'].values, final_list[4]['507'].values

In [240]:
final_list[4]

,1,2,502,503,504,505,506,507,508,509,510
0,1,BENGALURU,91757,35562,13336,173584,32592,None,None,None,4731159
1,2,BENGALURU(R),1050,535,162,1769,206,None,None,None,49346
2,3,RAMANAGARA,8367,3216,650,7844,312,None,None,None,239767
3,4,CHITRADURGA,3722,2679,12,5648,294,None,None,None,196114
4,5,DAVANAGERE,3101,2425,315,11074,256,None,None,None,376319
5,6,KOLAR,3278,993,12,6753,281,None,None,None,214164
6,7,CHIKKABALLAPURA,1730,819,9,3840,416,None,None,None,137784
7,8,SHIVAMOGGA,2584,1408,24,7008,945,None,None,None,400834
8,9,TUMAKURU,1876,947,2154,13924,586,None,None,None,493523
9,10,CHIKKAMAGALURU,2056,1201,561,8393,285,None,None,None,199761
10,11,DAKSHINA KANNADA,12444,7668,34,25758,1722,None,None,None,477515
11,12,UDUPI,4389,2010,10,12947,465,None,None,None,256714
12,NaN,NaN,Bifurcation,not,available,shown,in,None,column,None,total
13,13,HASSAN,3870,2169,759,6385,346,None,None,None,279315
14,14,KODAGU,2222,1268,Null,6695,448,None,None,None,76759
15,15,MANDYA,2989,1995,61,6172,436,None,None,None,252808
16,16,MYSURU,5734,2471,15,13848,357,None,None,None,768704
17,17,CHAMARAJANAGAR,813,498,16,2457,480,None,None,None,114198
18,18,BELAGAVI,4108,2014,24,13940,420,None,None,None,832141
19,19,VIJAYAPURA,2873,1809,17,3940,310,None,None,None,265799
20,20,BAGALKOT,2254,1980,Null,7198,258,None,None,None,261053
21,21,DHARAWAD,2047,1409,10,4007,125,None,None,None,118741
22,22,GADAG,3418,2292,Null,14044,355,None,None,None,373480
23,23,HAVERI,3178,1922,Null,5605,1229,None,None,None,223778
24,24,UTTARA KANNADA,3250,1430,7,5569,315,None,None,None,311909
25,25,BALLARI,3130,2094,115,7021,222,None,None,None,372669
26,26,BIDAR,1317,1405,53,4578,129,None,None,None,150774
27,27,KALABURAGI,2455,1546,56,9461,260,None,None,None,293783
28,28,YADGIRI,1287,674,9,5864,297,None,None,None,90323
29,29,RAICHUR,2193,1508,Null,4947,316,None,None,None,237835
30,30,KOPPAL,1663,781,17,2779,180,None,None,None,158045

In [241]:
final_list[4] = final_list[4].drop(12)
final_list[4].reset_index(drop=True, inplace=True)

In [242]:
final_list[4] = final_list[4].fillna(value='Null')

In [243]:
final_list[4]

,1,2,502,503,504,505,506,507,508,509,510
0,1,BENGALURU,91757,35562,13336,173584,32592,Null,Null,Null,4731159
1,2,BENGALURU(R),1050,535,162,1769,206,Null,Null,Null,49346
2,3,RAMANAGARA,8367,3216,650,7844,312,Null,Null,Null,239767
3,4,CHITRADURGA,3722,2679,12,5648,294,Null,Null,Null,196114
4,5,DAVANAGERE,3101,2425,315,11074,256,Null,Null,Null,376319
5,6,KOLAR,3278,993,12,6753,281,Null,Null,Null,214164
6,7,CHIKKABALLAPURA,1730,819,9,3840,416,Null,Null,Null,137784
7,8,SHIVAMOGGA,2584,1408,24,7008,945,Null,Null,Null,400834
8,9,TUMAKURU,1876,947,2154,13924,586,Null,Null,Null,493523
9,10,CHIKKAMAGALURU,2056,1201,561,8393,285,Null,Null,Null,199761
10,11,DAKSHINA KANNADA,12444,7668,34,25758,1722,Null,Null,Null,477515
11,12,UDUPI,4389,2010,10,12947,465,Null,Null,Null,256714
12,13,HASSAN,3870,2169,759,6385,346,Null,Null,Null,279315
13,14,KODAGU,2222,1268,Null,6695,448,Null,Null,Null,76759
14,15,MANDYA,2989,1995,61,6172,436,Null,Null,Null,252808
15,16,MYSURU,5734,2471,15,13848,357,Null,Null,Null,768704
16,17,CHAMARAJANAGAR,813,498,16,2457,480,Null,Null,Null,114198
17,18,BELAGAVI,4108,2014,24,13940,420,Null,Null,Null,832141
18,19,VIJAYAPURA,2873,1809,17,3940,310,Null,Null,Null,265799
19,20,BAGALKOT,2254,1980,Null,7198,258,Null,Null,Null,261053
20,21,DHARAWAD,2047,1409,10,4007,125,Null,Null,Null,118741
21,22,GADAG,3418,2292,Null,14044,355,Null,Null,Null,373480
22,23,HAVERI,3178,1922,Null,5605,1229,Null,Null,Null,223778
23,24,UTTARA KANNADA,3250,1430,7,5569,315,Null,Null,Null,311909
24,25,BALLARI,3130,2094,115,7021,222,Null,Null,Null,372669
25,26,BIDAR,1317,1405,53,4578,129,Null,Null,Null,150774
26,27,KALABURAGI,2455,1546,56,9461,260,Null,Null,Null,293783
27,28,YADGIRI,1287,674,9,5864,297,Null,Null,Null,90323
28,29,RAICHUR,2193,1508,Null,4947,316,Null,Null,Null,237835
29,30,KOPPAL,1663,781,17,2779,180,Null,Null,Null,158045

In [244]:
df_1 = final_list[2]

In [245]:
df_1

0     1                    2  529  530     531      532     533
0     1       ̈AÉ UÀ1⁄4ÀÆgÀÄ  271  NaN     NaN      NaN     NaN
1     2  ̈AÉ UÀ1⁄4ÀÆgÀÄ (UÁ)  142  325  595476  1363223  212889
2     3         gÁaÄÀ £ÀUÀgÀ  181  NaN     NaN      NaN     NaN
3     4            avÀzÀÄUÀð  317  NaN     NaN      NaN     NaN
4   NaN                  NaN  NaN  129   25214   222865   10045
5     5            zÁaÀtUÉgÉ  324  NaN     NaN      NaN     NaN
6     6            PÉÆÃ ̄ÁgÀ  220  NaN     NaN      NaN     NaN
7   NaN                  NaN  NaN  137   19854   287721    8619
8     7     aPÀÌ§1⁄4Á¥î ÀÄgÀ  198  NaN     NaN      NaN     NaN
9     8           2aaÀ ÉÆUÀÎ  355  139   30089   411342   11568
10    9         vÀÄaÀÄPÀÆgÀÄ  558  109   20640   215362    9097
11   10    aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ  301  146   19742   398175    6601
12   11       zQÀ të PÀ£ÀßqÀ  471  NaN     NaN      NaN     NaN
13  NaN                  NaN  NaN  249  139496   800620   54136
14   12               GqÄÀ ¦  332  NaN     NaN      NaN     NaN
15   13              oÁ À̧£À  415  103   17633   264804    7736
16   14            PÉÆqUÀ ÀÄ  216   76   18967   270432    6462
17   15             aÄÀ AqåÀ  352   63    9825   143071    4220
18   16         aÄÉ Ê À̧ÆgÀÄ  387  NaN     NaN      NaN     NaN
19  NaN                  NaN  NaN  141   62534   325012   26435
20   17       ZÁaÀÄgÁd£ÀUÀgÀ  205  NaN     NaN      NaN     NaN
21   18           ̈1⁄4É ÀUÁ«  733  190   54499   320311   19068
22   19        «dAiÀi¥ÄÀ gÀÀ  405  NaN     NaN      NaN     NaN
23  NaN                  NaN  NaN  183   27143   307157   11972
24   20          ̈ÁUÀ®PÉÆÃmÉ  334  NaN     NaN      NaN     NaN
25   21           zÁs gÀaÁqÀ  211  NaN     NaN      NaN     NaN
26   22              UÀzUÀ À  170  173   70440   364719   28223
27   23               oÁaÉÃj  259  NaN     NaN      NaN     NaN
28   24       GvÀÛgÀ PÀ£ÀßqÀ  489  152   43698   459660   12651
29   25              §1⁄4Ájî  385  113   23982   287938   23919
30   26               ©ÃzÀgï  304   80   10266   121023    3719
31   27             PÀ®§ÄgÀV  NaN  NaN     NaN      NaN     NaN
32  NaN                  NaN  624  156   22151   188323    9147
33   28            AiÀiÁzÀVj  NaN  NaN     NaN      NaN     NaN
34   29        gÁAiÀÄZÆÀ gÀÄ  287  NaN     NaN      NaN     NaN
35  NaN                  NaN  NaN  129   18164   224621    8198
36   30          PÉÆ¥à1⁄4À À  218  NaN     NaN      NaN     NaN

In [246]:
#dont delete
df_1.iloc[0,3:] = df_1.iloc[1,3:].tolist() 
df_1.iloc[2,3:] = df_1.iloc[1,3:].tolist()

In [247]:
df_1.iloc[3,3:] = df_1.iloc[4,3:].tolist()
df_1.iloc[5,3:] = df_1.iloc[4,3:].tolist()

In [248]:
df_1.iloc[6,3:] = df_1.iloc[7,3:].tolist()
df_1.iloc[8,3:] = df_1.iloc[7,3:].tolist()

In [249]:
df_1.iloc[12,3:] = df_1.iloc[13,3:].tolist()
df_1.iloc[14,3:] = df_1.iloc[13,3:].tolist()

In [250]:
df_1.iloc[18,3:] = df_1.iloc[19,3:].tolist()
df_1.iloc[20,3:] = df_1.iloc[19,3:].tolist()

In [251]:
df_1.iloc[22,3:] = df_1.iloc[23,3:].tolist()
df_1.iloc[24,3:] = df_1.iloc[23,3:].tolist()

In [252]:
#dont delete
df_1.iloc[25,3:] = df_1.iloc[26,3:].tolist()
df_1.iloc[27,3:] = df_1.iloc[26,3:].tolist()

In [253]:
df_1.iloc[31,2:] = df_1.iloc[32,2:].tolist()
df_1.iloc[33,2:] = df_1.iloc[32,2:].tolist()

In [254]:
df_1.iloc[34,3:] = df_1.iloc[35,3:].tolist()
df_1.iloc[36,3:] = df_1.iloc[35,3:].tolist()

In [255]:
df_1 = df_1.drop([4,7,13,19,23,32,35])

In [256]:
df_1.reset_index(drop=True, inplace=True)

In [257]:
df_1

0    1                    2  529  530     531      532     533
0    1       ̈AÉ UÀ1⁄4ÀÆgÀÄ  271  325  595476  1363223  212889
1    2  ̈AÉ UÀ1⁄4ÀÆgÀÄ (UÁ)  142  325  595476  1363223  212889
2    3         gÁaÄÀ £ÀUÀgÀ  181  325  595476  1363223  212889
3    4            avÀzÀÄUÀð  317  129   25214   222865   10045
4    5            zÁaÀtUÉgÉ  324  129   25214   222865   10045
5    6            PÉÆÃ ̄ÁgÀ  220  137   19854   287721    8619
6    7     aPÀÌ§1⁄4Á¥î ÀÄgÀ  198  137   19854   287721    8619
7    8           2aaÀ ÉÆUÀÎ  355  139   30089   411342   11568
8    9         vÀÄaÀÄPÀÆgÀÄ  558  109   20640   215362    9097
9   10    aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ  301  146   19742   398175    6601
10  11       zQÀ të PÀ£ÀßqÀ  471  249  139496   800620   54136
11  12               GqÄÀ ¦  332  249  139496   800620   54136
12  13              oÁ À̧£À  415  103   17633   264804    7736
13  14            PÉÆqUÀ ÀÄ  216   76   18967   270432    6462
14  15             aÄÀ AqåÀ  352   63    9825   143071    4220
15  16         aÄÉ Ê À̧ÆgÀÄ  387  141   62534   325012   26435
16  17       ZÁaÀÄgÁd£ÀUÀgÀ  205  141   62534   325012   26435
17  18           ̈1⁄4É ÀUÁ«  733  190   54499   320311   19068
18  19        «dAiÀi¥ÄÀ gÀÀ  405  183   27143   307157   11972
19  20          ̈ÁUÀ®PÉÆÃmÉ  334  183   27143   307157   11972
20  21           zÁs gÀaÁqÀ  211  173   70440   364719   28223
21  22              UÀzUÀ À  170  173   70440   364719   28223
22  23               oÁaÉÃj  259  173   70440   364719   28223
23  24       GvÀÛgÀ PÀ£ÀßqÀ  489  152   43698   459660   12651
24  25              §1⁄4Ájî  385  113   23982   287938   23919
25  26               ©ÃzÀgï  304   80   10266   121023    3719
26  27             PÀ®§ÄgÀV  624  156   22151   188323    9147
27  28            AiÀiÁzÀVj  624  156   22151   188323    9147
28  29        gÁAiÀÄZÆÀ gÀÄ  287  129   18164   224621    8198
29  30          PÉÆ¥à1⁄4À À  218  129   18164   224621    8198

In [258]:
final_list.pop(2)

0     1                    2  529  530     531      532     533
0     1       ̈AÉ UÀ1⁄4ÀÆgÀÄ  271  325  595476  1363223  212889
1     2  ̈AÉ UÀ1⁄4ÀÆgÀÄ (UÁ)  142  325  595476  1363223  212889
2     3         gÁaÄÀ £ÀUÀgÀ  181  325  595476  1363223  212889
3     4            avÀzÀÄUÀð  317  129   25214   222865   10045
4   NaN                  NaN  NaN  129   25214   222865   10045
5     5            zÁaÀtUÉgÉ  324  129   25214   222865   10045
6     6            PÉÆÃ ̄ÁgÀ  220  137   19854   287721    8619
7   NaN                  NaN  NaN  137   19854   287721    8619
8     7     aPÀÌ§1⁄4Á¥î ÀÄgÀ  198  137   19854   287721    8619
9     8           2aaÀ ÉÆUÀÎ  355  139   30089   411342   11568
10    9         vÀÄaÀÄPÀÆgÀÄ  558  109   20640   215362    9097
11   10    aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ  301  146   19742   398175    6601
12   11       zQÀ të PÀ£ÀßqÀ  471  249  139496   800620   54136
13  NaN                  NaN  NaN  249  139496   800620   54136
14   12               GqÄÀ ¦  332  249  139496   800620   54136
15   13              oÁ À̧£À  415  103   17633   264804    7736
16   14            PÉÆqUÀ ÀÄ  216   76   18967   270432    6462
17   15             aÄÀ AqåÀ  352   63    9825   143071    4220
18   16         aÄÉ Ê À̧ÆgÀÄ  387  141   62534   325012   26435
19  NaN                  NaN  NaN  141   62534   325012   26435
20   17       ZÁaÀÄgÁd£ÀUÀgÀ  205  141   62534   325012   26435
21   18           ̈1⁄4É ÀUÁ«  733  190   54499   320311   19068
22   19        «dAiÀi¥ÄÀ gÀÀ  405  183   27143   307157   11972
23  NaN                  NaN  NaN  183   27143   307157   11972
24   20          ̈ÁUÀ®PÉÆÃmÉ  334  183   27143   307157   11972
25   21           zÁs gÀaÁqÀ  211  173   70440   364719   28223
26   22              UÀzUÀ À  170  173   70440   364719   28223
27   23               oÁaÉÃj  259  173   70440   364719   28223
28   24       GvÀÛgÀ PÀ£ÀßqÀ  489  152   43698   459660   12651
29   25              §1⁄4Ájî  385  113   23982   287938   23919
30   26               ©ÃzÀgï  304   80   10266   121023    3719
31   27             PÀ®§ÄgÀV  624  156   22151   188323    9147
32  NaN                  NaN  624  156   22151   188323    9147
33   28            AiÀiÁzÀVj  624  156   22151   188323    9147
34   29        gÁAiÀÄZÆÀ gÀÄ  287  129   18164   224621    8198
35  NaN                  NaN  NaN  129   18164   224621    8198
36   30          PÉÆ¥à1⁄4À À  218  129   18164   224621    8198

In [259]:
final_list.append(df_1)

In [260]:
final_list[4]

,1,2,464,465,466,467,468,469
0,1,BENGALURU,NaN,1630,923.83,1054.10,1977.93,3396.30
1,2,BENGALURU(R),1,20250,10040.5,194,10234.5,10401.2
2,3,RAMANAGARA,NaN,51937,20868.05,5598.69,26466.74,12799.31
3,4,CHITRADURGA,1,39024,17273.65,4375.34,21648.99,16972.84
4,5,DAVANAGERE,1,75350,24202.58,183.03,24385.61,20357.75
5,6,KOLAR,NaN,13921,5775.47,7.03,5782.50,36.17
6,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
7,7,CHIKKABALLAPURA,NaN,9732,8939.4,3344.2,12283.6,4145.14
8,8,SHIVAMOGGA,1,64886,31135.21,24691.83,55827.04,70011.56
9,9,TUMAKURU,1,124458,41077.53,52792.10,93869.63,72181.25
10,10,CHIKKAMAGALURU,1,13579,45035.20,16147.44,61182.641,52781.58
11,11,DAKSHINA KANNADA,NaN,163208,72164.18,109683.4,181847.56,223161.11
12,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
13,12,UDUPI,NaN,67528,20299.33,36057.91,56357.24,97002.96
14,13,HASSAN,1,126804,49658.44,25054.38,74712.82,70151.86
15,14,KODAGU,1,19096,42103.35,25932.25,68035.6,74103.24
16,15,MANDYA,1,135455,52800.92,28587.88,81388.8,90234.44
17,16,MYSURU,NaN,33953,27932.49,5145.62,33078.11,36190.22
18,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
19,17,CHAMARAJANAGAR,NaN,21385,11663.67,1983.26,13646.93,6337.33
20,18,BELAGAVI,1,404645,132110.75,98982.29,231093.04,238730.63
21,19,VIJAYAPURA,1,215444,95766.72,71267.68,167034.40,144697.60
22,20,BAGALKOT,1,25950,118411.49,73162.19,191573.68,167594.93
23,21,DHARAWAD,NaN,22781,9767.84,4171.23,13939.07,16923.37
24,22,GADAG,1,21199,8813.91,2720.67,11534.58,8783.85
25,23,HAVERI,NaN,31324,10293.11,3492.56,13785.67,14198.62
26,24,UTTARA KANNADA,1,26485,62027.69,71749.58,133777.27,168210.05
27,25,BALLARI,1,72118,45835.90,17765.34,63601.24,70933.51
28,26,BIDAR,1,204407,96797.59,97095.86,193893.45,131656.57
29,27,KALABURAGI,NaN,68951,20900.08,2648.08,23548.16,7587.50
30,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
31,28,YADGIRI,NaN,51939,11706.94,0.00,11706.94,900.03
32,29,RAICHUR,NaN,74372,25085.09,6415.38,31500.47,27022.51
33,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
34,30,KOPPAL,NaN,51939,11706.94,0.00,11706.94,900.03

In [261]:
df_2 = final_list[4]
df_2

,1,2,464,465,466,467,468,469
0,1,BENGALURU,NaN,1630,923.83,1054.10,1977.93,3396.30
1,2,BENGALURU(R),1,20250,10040.5,194,10234.5,10401.2
2,3,RAMANAGARA,NaN,51937,20868.05,5598.69,26466.74,12799.31
3,4,CHITRADURGA,1,39024,17273.65,4375.34,21648.99,16972.84
4,5,DAVANAGERE,1,75350,24202.58,183.03,24385.61,20357.75
5,6,KOLAR,NaN,13921,5775.47,7.03,5782.50,36.17
6,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
7,7,CHIKKABALLAPURA,NaN,9732,8939.4,3344.2,12283.6,4145.14
8,8,SHIVAMOGGA,1,64886,31135.21,24691.83,55827.04,70011.56
9,9,TUMAKURU,1,124458,41077.53,52792.10,93869.63,72181.25
10,10,CHIKKAMAGALURU,1,13579,45035.20,16147.44,61182.641,52781.58
11,11,DAKSHINA KANNADA,NaN,163208,72164.18,109683.4,181847.56,223161.11
12,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
13,12,UDUPI,NaN,67528,20299.33,36057.91,56357.24,97002.96
14,13,HASSAN,1,126804,49658.44,25054.38,74712.82,70151.86
15,14,KODAGU,1,19096,42103.35,25932.25,68035.6,74103.24
16,15,MANDYA,1,135455,52800.92,28587.88,81388.8,90234.44
17,16,MYSURU,NaN,33953,27932.49,5145.62,33078.11,36190.22
18,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
19,17,CHAMARAJANAGAR,NaN,21385,11663.67,1983.26,13646.93,6337.33
20,18,BELAGAVI,1,404645,132110.75,98982.29,231093.04,238730.63
21,19,VIJAYAPURA,1,215444,95766.72,71267.68,167034.40,144697.60
22,20,BAGALKOT,1,25950,118411.49,73162.19,191573.68,167594.93
23,21,DHARAWAD,NaN,22781,9767.84,4171.23,13939.07,16923.37
24,22,GADAG,1,21199,8813.91,2720.67,11534.58,8783.85
25,23,HAVERI,NaN,31324,10293.11,3492.56,13785.67,14198.62
26,24,UTTARA KANNADA,1,26485,62027.69,71749.58,133777.27,168210.05
27,25,BALLARI,1,72118,45835.90,17765.34,63601.24,70933.51
28,26,BIDAR,1,204407,96797.59,97095.86,193893.45,131656.57
29,27,KALABURAGI,NaN,68951,20900.08,2648.08,23548.16,7587.50
30,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
31,28,YADGIRI,NaN,51939,11706.94,0.00,11706.94,900.03
32,29,RAICHUR,NaN,74372,25085.09,6415.38,31500.47,27022.51
33,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
34,30,KOPPAL,NaN,51939,11706.94,0.00,11706.94,900.03

In [262]:
# Don't drop
df_2.iloc[0,2] = df_2.iloc[1,2]
df_2.iloc[2,2] = df_2.iloc[1,2]

In [263]:
df_2.iloc[5,2] = df_2.iloc[6,2]
df_2.iloc[7,2] = df_2.iloc[6,2]

In [264]:
df_2.iloc[11,2] = df_2.iloc[12,2]
df_2.iloc[13,2] = df_2.iloc[12,2]

In [265]:
df_2.iloc[17,2] = df_2.iloc[18,2]
df_2.iloc[19,2] = df_2.iloc[18,2]

In [266]:
# Don't drop
df_2.iloc[23,2] = df_2.iloc[22,2]
df_2.iloc[25,2] = df_2.iloc[22,2]

In [267]:
df_2.iloc[29,2] = df_2.iloc[30,2]
df_2.iloc[31,2] = df_2.iloc[30,2]

In [268]:
df_2.iloc[32,2] = df_2.iloc[33,2]
df_2.iloc[34,2] = df_2.iloc[33,2]

In [269]:
df_2 = df_2.drop([6,12,18,30,33])
df_2.reset_index(drop=True, inplace=True)

In [270]:
df_2

,1,2,464,465,466,467,468,469
0,1,BENGALURU,1,1630,923.83,1054.10,1977.93,3396.30
1,2,BENGALURU(R),1,20250,10040.5,194,10234.5,10401.2
2,3,RAMANAGARA,1,51937,20868.05,5598.69,26466.74,12799.31
3,4,CHITRADURGA,1,39024,17273.65,4375.34,21648.99,16972.84
4,5,DAVANAGERE,1,75350,24202.58,183.03,24385.61,20357.75
5,6,KOLAR,1,13921,5775.47,7.03,5782.50,36.17
6,7,CHIKKABALLAPURA,1,9732,8939.4,3344.2,12283.6,4145.14
7,8,SHIVAMOGGA,1,64886,31135.21,24691.83,55827.04,70011.56
8,9,TUMAKURU,1,124458,41077.53,52792.10,93869.63,72181.25
9,10,CHIKKAMAGALURU,1,13579,45035.20,16147.44,61182.641,52781.58
10,11,DAKSHINA KANNADA,1,163208,72164.18,109683.4,181847.56,223161.11
11,12,UDUPI,1,67528,20299.33,36057.91,56357.24,97002.96
12,13,HASSAN,1,126804,49658.44,25054.38,74712.82,70151.86
13,14,KODAGU,1,19096,42103.35,25932.25,68035.6,74103.24
14,15,MANDYA,1,135455,52800.92,28587.88,81388.8,90234.44
15,16,MYSURU,1,33953,27932.49,5145.62,33078.11,36190.22
16,17,CHAMARAJANAGAR,1,21385,11663.67,1983.26,13646.93,6337.33
17,18,BELAGAVI,1,404645,132110.75,98982.29,231093.04,238730.63
18,19,VIJAYAPURA,1,215444,95766.72,71267.68,167034.40,144697.60
19,20,BAGALKOT,1,25950,118411.49,73162.19,191573.68,167594.93
20,21,DHARAWAD,1,22781,9767.84,4171.23,13939.07,16923.37
21,22,GADAG,1,21199,8813.91,2720.67,11534.58,8783.85
22,23,HAVERI,1,31324,10293.11,3492.56,13785.67,14198.62
23,24,UTTARA KANNADA,1,26485,62027.69,71749.58,133777.27,168210.05
24,25,BALLARI,1,72118,45835.90,17765.34,63601.24,70933.51
25,26,BIDAR,1,204407,96797.59,97095.86,193893.45,131656.57
26,27,KALABURAGI,1,68951,20900.08,2648.08,23548.16,7587.50
27,28,YADGIRI,1,51939,11706.94,0.00,11706.94,900.03
28,29,RAICHUR,1,74372,25085.09,6415.38,31500.47,27022.51
29,30,KOPPAL,1,51939,11706.94,0.00,11706.94,900.03

In [271]:
final_list.pop(4)
final_list.append(df_2)

In [272]:
final_list[4]

0    1                    2  529  530     531      532     533
0    1       ̈AÉ UÀ1⁄4ÀÆgÀÄ  271  325  595476  1363223  212889
1    2  ̈AÉ UÀ1⁄4ÀÆgÀÄ (UÁ)  142  325  595476  1363223  212889
2    3         gÁaÄÀ £ÀUÀgÀ  181  325  595476  1363223  212889
3    4            avÀzÀÄUÀð  317  129   25214   222865   10045
4    5            zÁaÀtUÉgÉ  324  129   25214   222865   10045
5    6            PÉÆÃ ̄ÁgÀ  220  137   19854   287721    8619
6    7     aPÀÌ§1⁄4Á¥î ÀÄgÀ  198  137   19854   287721    8619
7    8           2aaÀ ÉÆUÀÎ  355  139   30089   411342   11568
8    9         vÀÄaÀÄPÀÆgÀÄ  558  109   20640   215362    9097
9   10    aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ  301  146   19742   398175    6601
10  11       zQÀ të PÀ£ÀßqÀ  471  249  139496   800620   54136
11  12               GqÄÀ ¦  332  249  139496   800620   54136
12  13              oÁ À̧£À  415  103   17633   264804    7736
13  14            PÉÆqUÀ ÀÄ  216   76   18967   270432    6462
14  15             aÄÀ AqåÀ  352   63    9825   143071    4220
15  16         aÄÉ Ê À̧ÆgÀÄ  387  141   62534   325012   26435
16  17       ZÁaÀÄgÁd£ÀUÀgÀ  205  141   62534   325012   26435
17  18           ̈1⁄4É ÀUÁ«  733  190   54499   320311   19068
18  19        «dAiÀi¥ÄÀ gÀÀ  405  183   27143   307157   11972
19  20          ̈ÁUÀ®PÉÆÃmÉ  334  183   27143   307157   11972
20  21           zÁs gÀaÁqÀ  211  173   70440   364719   28223
21  22              UÀzUÀ À  170  173   70440   364719   28223
22  23               oÁaÉÃj  259  173   70440   364719   28223
23  24       GvÀÛgÀ PÀ£ÀßqÀ  489  152   43698   459660   12651
24  25              §1⁄4Ájî  385  113   23982   287938   23919
25  26               ©ÃzÀgï  304   80   10266   121023    3719
26  27             PÀ®§ÄgÀV  624  156   22151   188323    9147
27  28            AiÀiÁzÀVj  624  156   22151   188323    9147
28  29        gÁAiÀÄZÆÀ gÀÄ  287  129   18164   224621    8198
29  30          PÉÆ¥à1⁄4À À  218  129   18164   224621    8198

In [273]:
final_list[0]

0     1                 2      866      867   868   869    870    871
0     1         BENGALURU   122.25     0.65   111  1166   3448   3448
1     2      BENGALURU(R)    2.428     None    70   735   3294   3294
2   NaN               NaN  1164.85     None   NaN   NaN    NaN    NaN
3     3        RAMANAGARA    10.14     None   440  4726   4234   4234
4     4       CHITRADURGA  1287.18     16.2   503  5282  10490  10490
5     5        DAVANAGERE   544.34    16.64    29   305   4573   4573
6     6             KOLAR    19.38     None   346  3633   3292   3292
7   NaN               NaN  1066.22     None   NaN   NaN    NaN    NaN
8     7   CHIKKABALLAPURA    20.16     None   244  2562   2370   2370
9     8        SHIVAMOGGA  6631.44    34.44   672  7175  11627  11627
10    9          TUMAKURU  1291.67    15.23   302  3171  27977  27977
11   10    CHIKKAMAGALURU  2756.61     25.1   158  1659   7009   7009
12   11  DAKSHINA KANNADA  2012.18     9.02   713  7826   7753   7753
13   12             UDUPI  1720.57     5.31    37   399   7164   7164
14   13            HASSAN   879.25     8.82   337  3539  14885  14885
15   14            KODAGU  2870.99     1.49    62   609   2583   2583
16   15            MANDYA   664.61    17.34   404  4242   9839   9839
17   16            MYSURU  1449.87    4.715  Null  Null  19379  19379
18   17    CHAMARAJANAGAR  2791.46    0.336  Null   525   5440   5440
19   18          BELAGAVI   2063.2    47.86  Null   781  16407  16407
20   19        VIJAYAPURA    81.11     2.32  Null  1317   5209   5209
21   20          BAGALKOT   838.93    15.72  Null   272   5725   5725
22   21          DHARAWAD   468.54     7.38  Null   118   7521   7521
23   22             GADAG   333.37      9.7  Null   346   9264   9264
24   23            HAVERI    432.8     6.31    10   383  12378  12378
25   24    UTTARA KANNADA  8296.46  137.594  Null    81  11817  11817
26   25           BALLARI  1378.52    18.28  Null   299   4216   4216
27   26             BIDAR   456.16    18.94  Null   855   5694   5694
28   27        KALABURAGI   12.583     None  Null   150   4624   4624
29  NaN               NaN   997.76     None   NaN   NaN    NaN    NaN
30   28           YADGIRI    12.86     None  Null   503   1563   1563
31   29           RAICHUR   325.57     8.91    10   528   2661   2661
32   30            KOPPAL   430.66     2.24     4   315  12644  12644

In [274]:
df_3 = final_list[0]

In [275]:
ll = [1,3,6,8,28,30]
for i in ll:
    df_3.loc[i]['867'] = df_3.loc[i]['866']

In [276]:
df_3

0     1                 2      866      867   868   869    870    871
0     1         BENGALURU   122.25     0.65   111  1166   3448   3448
1     2      BENGALURU(R)    2.428    2.428    70   735   3294   3294
2   NaN               NaN  1164.85     None   NaN   NaN    NaN    NaN
3     3        RAMANAGARA    10.14    10.14   440  4726   4234   4234
4     4       CHITRADURGA  1287.18     16.2   503  5282  10490  10490
5     5        DAVANAGERE   544.34    16.64    29   305   4573   4573
6     6             KOLAR    19.38    19.38   346  3633   3292   3292
7   NaN               NaN  1066.22     None   NaN   NaN    NaN    NaN
8     7   CHIKKABALLAPURA    20.16    20.16   244  2562   2370   2370
9     8        SHIVAMOGGA  6631.44    34.44   672  7175  11627  11627
10    9          TUMAKURU  1291.67    15.23   302  3171  27977  27977
11   10    CHIKKAMAGALURU  2756.61     25.1   158  1659   7009   7009
12   11  DAKSHINA KANNADA  2012.18     9.02   713  7826   7753   7753
13   12             UDUPI  1720.57     5.31    37   399   7164   7164
14   13            HASSAN   879.25     8.82   337  3539  14885  14885
15   14            KODAGU  2870.99     1.49    62   609   2583   2583
16   15            MANDYA   664.61    17.34   404  4242   9839   9839
17   16            MYSURU  1449.87    4.715  Null  Null  19379  19379
18   17    CHAMARAJANAGAR  2791.46    0.336  Null   525   5440   5440
19   18          BELAGAVI   2063.2    47.86  Null   781  16407  16407
20   19        VIJAYAPURA    81.11     2.32  Null  1317   5209   5209
21   20          BAGALKOT   838.93    15.72  Null   272   5725   5725
22   21          DHARAWAD   468.54     7.38  Null   118   7521   7521
23   22             GADAG   333.37      9.7  Null   346   9264   9264
24   23            HAVERI    432.8     6.31    10   383  12378  12378
25   24    UTTARA KANNADA  8296.46  137.594  Null    81  11817  11817
26   25           BALLARI  1378.52    18.28  Null   299   4216   4216
27   26             BIDAR   456.16    18.94  Null   855   5694   5694
28   27        KALABURAGI   12.583   12.583  Null   150   4624   4624
29  NaN               NaN   997.76     None   NaN   NaN    NaN    NaN
30   28           YADGIRI    12.86    12.86  Null   503   1563   1563
31   29           RAICHUR   325.57     8.91    10   528   2661   2661
32   30            KOPPAL   430.66     2.24     4   315  12644  12644

In [277]:
df_3.iloc[1,2] = df_3.iloc[2,2]
df_3.iloc[3,2] = df_3.iloc[2,2]

In [278]:
df_3.iloc[6,2] = df_3.iloc[7,2]
df_3.iloc[8,2] = df_3.iloc[7,2]

In [279]:
df_3.iloc[28,2] = df_3.iloc[29,2]
df_3.iloc[30,2] = df_3.iloc[29,2]

In [280]:
df_3 = df_3.drop([2,7,29])
df_3.reset_index(drop=True, inplace=True)

In [281]:
df_3

0    1                 2      866      867   868   869    870    871
0    1         BENGALURU   122.25     0.65   111  1166   3448   3448
1    2      BENGALURU(R)  1164.85    2.428    70   735   3294   3294
2    3        RAMANAGARA  1164.85    10.14   440  4726   4234   4234
3    4       CHITRADURGA  1287.18     16.2   503  5282  10490  10490
4    5        DAVANAGERE   544.34    16.64    29   305   4573   4573
5    6             KOLAR  1066.22    19.38   346  3633   3292   3292
6    7   CHIKKABALLAPURA  1066.22    20.16   244  2562   2370   2370
7    8        SHIVAMOGGA  6631.44    34.44   672  7175  11627  11627
8    9          TUMAKURU  1291.67    15.23   302  3171  27977  27977
9   10    CHIKKAMAGALURU  2756.61     25.1   158  1659   7009   7009
10  11  DAKSHINA KANNADA  2012.18     9.02   713  7826   7753   7753
11  12             UDUPI  1720.57     5.31    37   399   7164   7164
12  13            HASSAN   879.25     8.82   337  3539  14885  14885
13  14            KODAGU  2870.99     1.49    62   609   2583   2583
14  15            MANDYA   664.61    17.34   404  4242   9839   9839
15  16            MYSURU  1449.87    4.715  Null  Null  19379  19379
16  17    CHAMARAJANAGAR  2791.46    0.336  Null   525   5440   5440
17  18          BELAGAVI   2063.2    47.86  Null   781  16407  16407
18  19        VIJAYAPURA    81.11     2.32  Null  1317   5209   5209
19  20          BAGALKOT   838.93    15.72  Null   272   5725   5725
20  21          DHARAWAD   468.54     7.38  Null   118   7521   7521
21  22             GADAG   333.37      9.7  Null   346   9264   9264
22  23            HAVERI    432.8     6.31    10   383  12378  12378
23  24    UTTARA KANNADA  8296.46  137.594  Null    81  11817  11817
24  25           BALLARI  1378.52    18.28  Null   299   4216   4216
25  26             BIDAR   456.16    18.94  Null   855   5694   5694
26  27        KALABURAGI   997.76   12.583  Null   150   4624   4624
27  28           YADGIRI   997.76    12.86  Null   503   1563   1563
28  29           RAICHUR   325.57     8.91    10   528   2661   2661
29  30            KOPPAL   430.66     2.24     4   315  12644  12644

In [282]:
final_list.pop(0)
final_list.append(df_3)

In [283]:
final_list[5]

0    1                 2      866      867   868   869    870    871
0    1         BENGALURU   122.25     0.65   111  1166   3448   3448
1    2      BENGALURU(R)  1164.85    2.428    70   735   3294   3294
2    3        RAMANAGARA  1164.85    10.14   440  4726   4234   4234
3    4       CHITRADURGA  1287.18     16.2   503  5282  10490  10490
4    5        DAVANAGERE   544.34    16.64    29   305   4573   4573
5    6             KOLAR  1066.22    19.38   346  3633   3292   3292
6    7   CHIKKABALLAPURA  1066.22    20.16   244  2562   2370   2370
7    8        SHIVAMOGGA  6631.44    34.44   672  7175  11627  11627
8    9          TUMAKURU  1291.67    15.23   302  3171  27977  27977
9   10    CHIKKAMAGALURU  2756.61     25.1   158  1659   7009   7009
10  11  DAKSHINA KANNADA  2012.18     9.02   713  7826   7753   7753
11  12             UDUPI  1720.57     5.31    37   399   7164   7164
12  13            HASSAN   879.25     8.82   337  3539  14885  14885
13  14            KODAGU  2870.99     1.49    62   609   2583   2583
14  15            MANDYA   664.61    17.34   404  4242   9839   9839
15  16            MYSURU  1449.87    4.715  Null  Null  19379  19379
16  17    CHAMARAJANAGAR  2791.46    0.336  Null   525   5440   5440
17  18          BELAGAVI   2063.2    47.86  Null   781  16407  16407
18  19        VIJAYAPURA    81.11     2.32  Null  1317   5209   5209
19  20          BAGALKOT   838.93    15.72  Null   272   5725   5725
20  21          DHARAWAD   468.54     7.38  Null   118   7521   7521
21  22             GADAG   333.37      9.7  Null   346   9264   9264
22  23            HAVERI    432.8     6.31    10   383  12378  12378
23  24    UTTARA KANNADA  8296.46  137.594  Null    81  11817  11817
24  25           BALLARI  1378.52    18.28  Null   299   4216   4216
25  26             BIDAR   456.16    18.94  Null   855   5694   5694
26  27        KALABURAGI   997.76   12.583  Null   150   4624   4624
27  28           YADGIRI   997.76    12.86  Null   503   1563   1563
28  29           RAICHUR   325.57     8.91    10   528   2661   2661
29  30            KOPPAL   430.66     2.24     4   315  12644  12644

In [284]:
def concat_dataframe(df_list):
    df = pd.DataFrame()
    if len(df_list)>0:
        df = pd.concat([df, df_list[0].iloc[:,:2]], axis = 1)
        for item in df_list:
            df = pd.concat([df, item.iloc[:,2:]], axis = 1)
    return df

In [285]:
final_df = concat_dataframe(final_list)

In [286]:
final_df

,1,2,782,783,784,785,786,787,734,735,...,466,467,468,469,866,867,868,869,870,871
0,1,É̈AUÀ1⁄4ÀÆgÀÄ,Null,Null,Null,Null,Null,Null,8,495,...,923.83,1054.10,1977.93,3396.30,122.25,0.65,111,1166,3448,3448
1,2,É̈AUÀ1⁄4ÀÆgÀÄ (UÁ),Null,Null,Null,Null,Null,Null,2,130,...,10040.5,194,10234.5,10401.2,1164.85,2.428,70,735,3294,3294
2,3,gÁaÀÄ£UÀ ÀgÀ,3,150,Null,Null,3,150,2,65,...,20868.05,5598.69,26466.74,12799.31,1164.85,10.14,440,4726,4234,4234
3,4,avÀzÀÄUÀð,6,346,1,54,7,400,8,564,...,17273.65,4375.34,21648.99,16972.84,1287.18,16.2,503,5282,10490,10490
4,5,zÁaÀtUÉgÉ,10,565,Null,Null,10,565,8,560,...,24202.58,183.03,24385.61,20357.75,544.34,16.64,29,305,4573,4573
5,6,PÉÆÃ ̄ÁgÀ,2,175,Null,Null,2,175,2,200,...,5775.47,7.03,5782.50,36.17,1066.22,19.38,346,3633,3292,3292
6,7,aPÀÌ§1⁄4Áî¥ÀÄgÀ,Null,Null,Null,Null,Null,Null,Null,Null,...,8939.4,3344.2,12283.6,4145.14,1066.22,20.16,244,2562,2370,2370
7,8,2aÀaÉÆUÀÎ,5,270,5,225,10,495,1,65,...,31135.21,24691.83,55827.04,70011.56,6631.44,34.44,672,7175,11627,11627
8,9,vÀÄaÀÄPÀÆgÀÄ,8,382,Null,Null,8,382,13,868,...,41077.53,52792.10,93869.63,72181.25,1291.67,15.23,302,3171,27977,27977
9,10,aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ,9,628,2,120,11,748,Null,Null,...,45035.20,16147.44,61182.641,52781.58,2756.61,25.1,158,1659,7009,7009
10,11,zÀQtë PÀ£ßÀ qÀ,Null,Null,Null,Null,Null,Null,Null,Null,...,72164.18,109683.4,181847.56,223161.11,2012.18,9.02,713,7826,7753,7753
11,12,GqÀÄ¦,2,92,Null,Null,2,92,Null,Null,...,20299.33,36057.91,56357.24,97002.96,1720.57,5.31,37,399,7164,7164
12,13,oÁ À̧£À,5,160,Null,Null,5,160,Null,Null,...,49658.44,25054.38,74712.82,70151.86,879.25,8.82,337,3539,14885,14885
13,14,PÉÆqÀUÀÄ,Null,Null,Null,Null,Null,Null,Null,Null,...,42103.35,25932.25,68035.6,74103.24,2870.99,1.49,62,609,2583,2583
14,15,aÀÄAqÀå,7,690,2,60,9,750,3,98,...,52800.92,28587.88,81388.8,90234.44,664.61,17.34,404,4242,9839,9839
15,16,aÉÄÊ À̧ÆgÀÄ,4,460,1,100,5,560,4,200,...,27932.49,5145.62,33078.11,36190.22,1449.87,4.715,Null,Null,19379,19379
16,17,ZÁaÀÄgÁd£UÀ ÀgÀ,4,175,2,100,6,275,3,304,...,11663.67,1983.26,13646.93,6337.33,2791.46,0.336,Null,525,5440,5440
17,18,É̈1⁄4ÀUÁ«,4,170,1,36,5,206,4,266,...,132110.75,98982.29,231093.04,238730.63,2063.2,47.86,Null,781,16407,16407
18,19,«dAiÀi¥ÀÄgÀÀ,29,1378,Null,Null,29,1378,15,626,...,95766.72,71267.68,167034.40,144697.60,81.11,2.32,Null,1317,5209,5209
19,20,̈ÁUÀ®PÉÆÃmÉ,24,987,Null,Null,24,987,2,100,...,118411.49,73162.19,191573.68,167594.93,838.93,15.72,Null,272,5725,5725
20,21,zsÁgÀaÁqÀ,5,840,Null,Null,5,840,4,275,...,9767.84,4171.23,13939.07,16923.37,468.54,7.38,Null,118,7521,7521
21,22,UÀzÀUÀ,16,664,1,25,17,689,4,214,...,8813.91,2720.67,11534.58,8783.85,333.37,9.7,Null,346,9264,9264
22,23,oÁaÉÃj,11,615,2,80,13,695,1,130,...,10293.11,3492.56,13785.67,14198.62,432.8,6.31,10,383,12378,12378
23,24,GvÀgÛ À PÀ£ÀßqÀ,1,50,1,30,2,80,Null,Null,...,62027.69,71749.58,133777.27,168210.05,8296.46,137.594,Null,81,11817,11817
24,25,§1⁄4Ájî,8,310,Null,Null,8,310,2,95,...,45835.90,17765.34,63601.24,70933.51,1378.52,18.28,Null,299,4216,4216
25,26,©ÃzÀgï,5,395,1,50,6,445,6,294,...,96797.59,97095.86,193893.45,131656.57,456.16,18.94,Null,855,5694,5694
26,27,PÀ®§ÄgÀV,21,1265,1,50,22,1315,33,2438,...,20900.08,2648.08,23548.16,7587.50,997.76,12.583,Null,150,4624,4624
27,28,AiiÀ ÁzÀVj,4,275,Null,Null,4,275,12,990,...,11706.94,0.00,11706.94,900.03,997.76,12.86,Null,503,1563,1563
28,29,gÁAiÄÀ ZÀÆgÀÄ,6,401,1,100,7,501,1,50,...,25085.09,6415.38,31500.47,27022.51,325.57,8.91,10,528,2661,2661
29,30,PÉÆ¥À1⁄4à À,12,597,Null,Null,12,597,Null,Null,...,11706.94,0.00,11706.94,900.03,430.66,2.24,4,315,12644,12644

In [287]:
final_df.columns = final_df.columns.astype(float)

In [288]:
final_df[2]

0          É̈AUÀ1⁄4ÀÆgÀÄ
1     É̈AUÀ1⁄4ÀÆgÀÄ (UÁ)
2           gÁaÀÄ£UÀ ÀgÀ
3              avÀzÀÄUÀð
4              zÁaÀtUÉgÉ
5              PÉÆÃ ̄ÁgÀ
6        aPÀÌ§1⁄4Áî¥ÀÄgÀ
7              2aÀaÉÆUÀÎ
8           vÀÄaÀÄPÀÆgÀÄ
9      aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ
10        zÀQtë PÀ£ßÀ qÀ
11                 GqÀÄ¦
12               oÁ À̧£À
13              PÉÆqÀUÀÄ
14               aÀÄAqÀå
15           aÉÄÊ À̧ÆgÀÄ
16       ZÁaÀÄgÁd£UÀ ÀgÀ
17             É̈1⁄4ÀUÁ«
18          «dAiÀi¥ÀÄgÀÀ
19           ̈ÁUÀ®PÉÆÃmÉ
20             zsÁgÀaÁqÀ
21                UÀzÀUÀ
22                oÁaÉÃj
23       GvÀgÛ À PÀ£ÀßqÀ
24               §1⁄4Ájî
25                ©ÃzÀgï
26              PÀ®§ÄgÀV
27            AiiÀ ÁzÀVj
28         gÁAiÄÀ ZÀÆgÀÄ
29           PÉÆ¥À1⁄4à À
Name: 2.0, dtype: object

In [289]:
final_df = final_df.reindex(sorted(final_df.columns, key=float), axis=1)

In [290]:
final_df

,1.0,2.0,464.0,465.0,466.0,467.0,468.0,469.0,502.0,503.0,...,784.0,785.0,786.0,787.0,866.0,867.0,868.0,869.0,870.0,871.0
0,1,É̈AUÀ1⁄4ÀÆgÀÄ,1,1630,923.83,1054.10,1977.93,3396.30,91757,35562,...,Null,Null,Null,Null,122.25,0.65,111,1166,3448,3448
1,2,É̈AUÀ1⁄4ÀÆgÀÄ (UÁ),1,20250,10040.5,194,10234.5,10401.2,1050,535,...,Null,Null,Null,Null,1164.85,2.428,70,735,3294,3294
2,3,gÁaÀÄ£UÀ ÀgÀ,1,51937,20868.05,5598.69,26466.74,12799.31,8367,3216,...,Null,Null,3,150,1164.85,10.14,440,4726,4234,4234
3,4,avÀzÀÄUÀð,1,39024,17273.65,4375.34,21648.99,16972.84,3722,2679,...,1,54,7,400,1287.18,16.2,503,5282,10490,10490
4,5,zÁaÀtUÉgÉ,1,75350,24202.58,183.03,24385.61,20357.75,3101,2425,...,Null,Null,10,565,544.34,16.64,29,305,4573,4573
5,6,PÉÆÃ ̄ÁgÀ,1,13921,5775.47,7.03,5782.50,36.17,3278,993,...,Null,Null,2,175,1066.22,19.38,346,3633,3292,3292
6,7,aPÀÌ§1⁄4Áî¥ÀÄgÀ,1,9732,8939.4,3344.2,12283.6,4145.14,1730,819,...,Null,Null,Null,Null,1066.22,20.16,244,2562,2370,2370
7,8,2aÀaÉÆUÀÎ,1,64886,31135.21,24691.83,55827.04,70011.56,2584,1408,...,5,225,10,495,6631.44,34.44,672,7175,11627,11627
8,9,vÀÄaÀÄPÀÆgÀÄ,1,124458,41077.53,52792.10,93869.63,72181.25,1876,947,...,Null,Null,8,382,1291.67,15.23,302,3171,27977,27977
9,10,aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ,1,13579,45035.20,16147.44,61182.641,52781.58,2056,1201,...,2,120,11,748,2756.61,25.1,158,1659,7009,7009
10,11,zÀQtë PÀ£ßÀ qÀ,1,163208,72164.18,109683.4,181847.56,223161.11,12444,7668,...,Null,Null,Null,Null,2012.18,9.02,713,7826,7753,7753
11,12,GqÀÄ¦,1,67528,20299.33,36057.91,56357.24,97002.96,4389,2010,...,Null,Null,2,92,1720.57,5.31,37,399,7164,7164
12,13,oÁ À̧£À,1,126804,49658.44,25054.38,74712.82,70151.86,3870,2169,...,Null,Null,5,160,879.25,8.82,337,3539,14885,14885
13,14,PÉÆqÀUÀÄ,1,19096,42103.35,25932.25,68035.6,74103.24,2222,1268,...,Null,Null,Null,Null,2870.99,1.49,62,609,2583,2583
14,15,aÀÄAqÀå,1,135455,52800.92,28587.88,81388.8,90234.44,2989,1995,...,2,60,9,750,664.61,17.34,404,4242,9839,9839
15,16,aÉÄÊ À̧ÆgÀÄ,1,33953,27932.49,5145.62,33078.11,36190.22,5734,2471,...,1,100,5,560,1449.87,4.715,Null,Null,19379,19379
16,17,ZÁaÀÄgÁd£UÀ ÀgÀ,1,21385,11663.67,1983.26,13646.93,6337.33,813,498,...,2,100,6,275,2791.46,0.336,Null,525,5440,5440
17,18,É̈1⁄4ÀUÁ«,1,404645,132110.75,98982.29,231093.04,238730.63,4108,2014,...,1,36,5,206,2063.2,47.86,Null,781,16407,16407
18,19,«dAiÀi¥ÀÄgÀÀ,1,215444,95766.72,71267.68,167034.40,144697.60,2873,1809,...,Null,Null,29,1378,81.11,2.32,Null,1317,5209,5209
19,20,̈ÁUÀ®PÉÆÃmÉ,1,25950,118411.49,73162.19,191573.68,167594.93,2254,1980,...,Null,Null,24,987,838.93,15.72,Null,272,5725,5725
20,21,zsÁgÀaÁqÀ,1,22781,9767.84,4171.23,13939.07,16923.37,2047,1409,...,Null,Null,5,840,468.54,7.38,Null,118,7521,7521
21,22,UÀzÀUÀ,1,21199,8813.91,2720.67,11534.58,8783.85,3418,2292,...,1,25,17,689,333.37,9.7,Null,346,9264,9264
22,23,oÁaÉÃj,1,31324,10293.11,3492.56,13785.67,14198.62,3178,1922,...,2,80,13,695,432.8,6.31,10,383,12378,12378
23,24,GvÀgÛ À PÀ£ÀßqÀ,1,26485,62027.69,71749.58,133777.27,168210.05,3250,1430,...,1,30,2,80,8296.46,137.594,Null,81,11817,11817
24,25,§1⁄4Ájî,1,72118,45835.90,17765.34,63601.24,70933.51,3130,2094,...,Null,Null,8,310,1378.52,18.28,Null,299,4216,4216
25,26,©ÃzÀgï,1,204407,96797.59,97095.86,193893.45,131656.57,1317,1405,...,1,50,6,445,456.16,18.94,Null,855,5694,5694
26,27,PÀ®§ÄgÀV,1,68951,20900.08,2648.08,23548.16,7587.50,2455,1546,...,1,50,22,1315,997.76,12.583,Null,150,4624,4624
27,28,AiiÀ ÁzÀVj,1,51939,11706.94,0.00,11706.94,900.03,1287,674,...,Null,Null,4,275,997.76,12.86,Null,503,1563,1563
28,29,gÁAiÄÀ ZÀÆgÀÄ,1,74372,25085.09,6415.38,31500.47,27022.51,2193,1508,...,1,100,7,501,325.57,8.91,10,528,2661,2661
29,30,PÉÆ¥À1⁄4à À,1,51939,11706.94,0.00,11706.94,900.03,1663,781,...,Null,Null,12,597,430.66,2.24,4,315,12644,12644

In [291]:
final_df = final_df.replace('Null', '')

In [292]:
final_df

,1.0,2.0,464.0,465.0,466.0,467.0,468.0,469.0,502.0,503.0,...,784.0,785.0,786.0,787.0,866.0,867.0,868.0,869.0,870.0,871.0
0,1,É̈AUÀ1⁄4ÀÆgÀÄ,1,1630,923.83,1054.10,1977.93,3396.30,91757,35562,...,,,,,122.25,0.65,111,1166,3448,3448
1,2,É̈AUÀ1⁄4ÀÆgÀÄ (UÁ),1,20250,10040.5,194,10234.5,10401.2,1050,535,...,,,,,1164.85,2.428,70,735,3294,3294
2,3,gÁaÀÄ£UÀ ÀgÀ,1,51937,20868.05,5598.69,26466.74,12799.31,8367,3216,...,,,3,150,1164.85,10.14,440,4726,4234,4234
3,4,avÀzÀÄUÀð,1,39024,17273.65,4375.34,21648.99,16972.84,3722,2679,...,1,54,7,400,1287.18,16.2,503,5282,10490,10490
4,5,zÁaÀtUÉgÉ,1,75350,24202.58,183.03,24385.61,20357.75,3101,2425,...,,,10,565,544.34,16.64,29,305,4573,4573
5,6,PÉÆÃ ̄ÁgÀ,1,13921,5775.47,7.03,5782.50,36.17,3278,993,...,,,2,175,1066.22,19.38,346,3633,3292,3292
6,7,aPÀÌ§1⁄4Áî¥ÀÄgÀ,1,9732,8939.4,3344.2,12283.6,4145.14,1730,819,...,,,,,1066.22,20.16,244,2562,2370,2370
7,8,2aÀaÉÆUÀÎ,1,64886,31135.21,24691.83,55827.04,70011.56,2584,1408,...,5,225,10,495,6631.44,34.44,672,7175,11627,11627
8,9,vÀÄaÀÄPÀÆgÀÄ,1,124458,41077.53,52792.10,93869.63,72181.25,1876,947,...,,,8,382,1291.67,15.23,302,3171,27977,27977
9,10,aPÀÌaÀÄUÀ1⁄4ÀÆgÀÄ,1,13579,45035.20,16147.44,61182.641,52781.58,2056,1201,...,2,120,11,748,2756.61,25.1,158,1659,7009,7009
10,11,zÀQtë PÀ£ßÀ qÀ,1,163208,72164.18,109683.4,181847.56,223161.11,12444,7668,...,,,,,2012.18,9.02,713,7826,7753,7753
11,12,GqÀÄ¦,1,67528,20299.33,36057.91,56357.24,97002.96,4389,2010,...,,,2,92,1720.57,5.31,37,399,7164,7164
12,13,oÁ À̧£À,1,126804,49658.44,25054.38,74712.82,70151.86,3870,2169,...,,,5,160,879.25,8.82,337,3539,14885,14885
13,14,PÉÆqÀUÀÄ,1,19096,42103.35,25932.25,68035.6,74103.24,2222,1268,...,,,,,2870.99,1.49,62,609,2583,2583
14,15,aÀÄAqÀå,1,135455,52800.92,28587.88,81388.8,90234.44,2989,1995,...,2,60,9,750,664.61,17.34,404,4242,9839,9839
15,16,aÉÄÊ À̧ÆgÀÄ,1,33953,27932.49,5145.62,33078.11,36190.22,5734,2471,...,1,100,5,560,1449.87,4.715,,,19379,19379
16,17,ZÁaÀÄgÁd£UÀ ÀgÀ,1,21385,11663.67,1983.26,13646.93,6337.33,813,498,...,2,100,6,275,2791.46,0.336,,525,5440,5440
17,18,É̈1⁄4ÀUÁ«,1,404645,132110.75,98982.29,231093.04,238730.63,4108,2014,...,1,36,5,206,2063.2,47.86,,781,16407,16407
18,19,«dAiÀi¥ÀÄgÀÀ,1,215444,95766.72,71267.68,167034.40,144697.60,2873,1809,...,,,29,1378,81.11,2.32,,1317,5209,5209
19,20,̈ÁUÀ®PÉÆÃmÉ,1,25950,118411.49,73162.19,191573.68,167594.93,2254,1980,...,,,24,987,838.93,15.72,,272,5725,5725
20,21,zsÁgÀaÁqÀ,1,22781,9767.84,4171.23,13939.07,16923.37,2047,1409,...,,,5,840,468.54,7.38,,118,7521,7521
21,22,UÀzÀUÀ,1,21199,8813.91,2720.67,11534.58,8783.85,3418,2292,...,1,25,17,689,333.37,9.7,,346,9264,9264
22,23,oÁaÉÃj,1,31324,10293.11,3492.56,13785.67,14198.62,3178,1922,...,2,80,13,695,432.8,6.31,10,383,12378,12378
23,24,GvÀgÛ À PÀ£ÀßqÀ,1,26485,62027.69,71749.58,133777.27,168210.05,3250,1430,...,1,30,2,80,8296.46,137.594,,81,11817,11817
24,25,§1⁄4Ájî,1,72118,45835.90,17765.34,63601.24,70933.51,3130,2094,...,,,8,310,1378.52,18.28,,299,4216,4216
25,26,©ÃzÀgï,1,204407,96797.59,97095.86,193893.45,131656.57,1317,1405,...,1,50,6,445,456.16,18.94,,855,5694,5694
26,27,PÀ®§ÄgÀV,1,68951,20900.08,2648.08,23548.16,7587.50,2455,1546,...,1,50,22,1315,997.76,12.583,,150,4624,4624
27,28,AiiÀ ÁzÀVj,1,51939,11706.94,0.00,11706.94,900.03,1287,674,...,,,4,275,997.76,12.86,,503,1563,1563
28,29,gÁAiÄÀ ZÀÆgÀÄ,1,74372,25085.09,6415.38,31500.47,27022.51,2193,1508,...,1,100,7,501,325.57,8.91,10,528,2661,2661
29,30,PÉÆ¥À1⁄4à À,1,51939,11706.94,0.00,11706.94,900.03,1663,781,...,,,12,597,430.66,2.24,4,315,12644,12644

In [294]:
final_df.to_csv('/home/riya/Downloads/ADT_Test/Data_Riya/Missing_Data_Updated.csv',index=False)